.CloseButtonDiv {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

    .CloseButtonDiv img {
        width: 25px;
    }

.HeadContents {
    padding-top: 20px;
    padding-left: 30px;
}
.HeadContents_agreement {
    padding-top: 10px;
    padding-left: 15px;
}
.btnCancel {
    color: black;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.btnCancel:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 19px;
    padding-right: 19px;
    border: 2px solid #6b6c72;
}

.btnPrint, .btnemail_send {
    color: white;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2ca01c;
    /*float: right;*/
    margin-right: 30px;
}

.btnPrint:hover, .btnemail_send:hover {
    background-color: #2ca01c !important;
}

.btnIAgree {
    color: white;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2ca01c;
    float: right;
    margin-right: 30px;
}

/*.btnIAgree:hover {
    background-color: #108000 !important;
}*/

.error-IAgree-warning{
    position: absolute;
    left: 425px;
    top: 150px;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
    display: none;
}

.footerContents {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding-left: 30px;
}

.bodyConentsDiv {
    width: 93%;
    -webkit-overflow-scrolling: touch;
    height: 430px;
    margin-top: 15px;
    margin-left: 30px;
    overflow:hidden;
}
.bodyConentsDiv1 {
    width: 93%;
    overflow-y:scroll;
    height: 430px !important;
    margin-top: 15px;
    margin-left: 30px;
}
.pdf-styles {
    width: 100%;
    height: 430px;
}
.cus-padding-top10p {
    padding-top: 10px;
} 
@media (max-width:768px) {
    .bodyConentsDiv {
        margin: auto !important;
        /*height: auto;*/
    }

  
}


