@model HS.Entities.ResturantSystemSetting
@{ 
    Layout = null;
}
    <link href="~/Content/Css/Menu/MenuListPartial.css" rel="stylesheet" />
<style>
    .system_setting_anchor{
        cursor:pointer;
        color:#2ca01c;
    }
</style>

<div class="">
    <table class="display all_menu menu_list_partial_info" id="tblMenu">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Restaurant</th>
                <th>Tax Rate</th>
                <th>Primary Contact</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                if(Model != null)
                {
                    <tr>
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(Model.Logo))
                                        {
                                            <img src="@Model.Logo" width="50" height="50" />
                                        }
                                    </td>
                        <td><a class="system_setting_anchor" onclick="OpenTopToBottomModal('/Website/AddSystemSetting?id=@Model.Id')">@Model.Restaurant</a></td>
                        <td>@Model.TaxRate</td>
                        <td>@Model.PrimaryContact</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
