@{
    Layout = null;
    var CurrentUser = (HS.Web.UI.Helper.CustomPrincipal)User;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>

<script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;
    var startTab = '@ViewBag.StartTab'



    var LoadContentTab = function (pageno, order) {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Content").html(TabsLoaderText);
        $(".Load_Content").load(domainurl + "/Website/LoadContentPartial?PageNo=" + pageno + "&PageSize=50");
    }

    var LoadSystemSetting = function () {
        $(".Load_SystemSettings").html(TabsLoaderText);
        $(".Load_SystemSettings").load(domainurl + "/Website/LoadSystemSettings");
    }



    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();

        LoadContentTab();

        $(".ContentTab").click(function () {
            LoadContentTab();
        });


        $("#sales_txt_search").keyup(function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                FilterSalesReport1(1)
            }
        })

    });

</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Title Settings")
    @*<div class="dateviewed">
            @{Html.RenderAction("DateViewPartial", "Customer");}
        </div>*@
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">
            <li class="ContentTab">
                <a idval="" data-target="#ContentTab" data-toggle="tab">@Localize.T("Content")</a>
            </li>
        </ul>
        <div class="tab-content reports_tab_content">

            <div id="ContentTab">
                <div class="Load_Content">

                </div>
            </div>


        </div>
    </div>
</div>


