
    .AddPtoHeader{
        width:100%;
        background-color: #f4f5f8;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        padding: 12px 10px;
    }
    .AddPtoBody  {
        overflow-y:auto;
    }
    .add_pto_info_header {
           margin-bottom: 0px;
    margin-top: 15px;
    width: 100%;
    float: left;
    }
    .AddPtoFooter{
        width: 100%;
        height: 50px;
        text-align: right;
        padding-right: 10px;
        padding-top: 10px;
        background-color: #f4f5f8;
    }
    .addpto_row{
        padding-bottom:15px;
    }
    .PTO_Notes{
        width:100%;
    }
    .btnSavePto{
        background-color:#2ca01c;
        color:white;
    }
    .payable_tooltip_div {
        display:none;
        position: absolute;
        background-color: #2ca01c;
        text-align: center;
        font-size: 12px;
        color: #fff;
        width: 210px;
        right: -172px;
        top: 20px;
        padding: 6px;
        border: 1px solid #000;
        border-radius: 4px;
    }
    .payable_tooltip_div:before {
        left: 25px;
        border-width: 6px;
        transform: rotate(180deg);
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #000 transparent;
        border-bottom: 0;
        top: -6px;
    }
    .payable_info_hover{
        position:relative;
    }
    .payable_info_hover:hover .payable_tooltip_div {
        display:block;
    }
