#btnsaveRoute {
    float:right;
}
.CityState_insert_div {
    position: relative;
}

.CityState_insert_div .tt-menu {
    background: white;
    /*min-width: 320px;*/
    font-size: 12px;
    max-height: 230px;
   -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    position: absolute;
    /*left: 211px;*/
    z-index: 100;
    display: none;
    width: 92%;
    overflow-y:scroll;
    z-index:99999;
}

    .CityState_insert_div .input-group .tt-menu{
        margin-top:40px;
    }

    .CityState_insert_div .tt-suggestion {
        min-height: 40px;
        display: block;
        padding: 3px 3px 0px 10px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        border-bottom: 1px solid #ccc;
    }

.CityState_insert_div .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

.CityState_insert_div .tt-sug-text {
    width: 100%;
    font-size: 12px;
    text-overflow: ellipsis;
}

.CityState_insert_div .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

.CityState_insert_div .tt-suggestion.active {
    background-color: #f2f2f2;
}

.CityState_insert_div .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.CityState_insert_div .tt-sug-zip {
    position: absolute;
    float: left; 
    font-style: italic;
}

.CityState_insert_div .tt-eq-city {
    float:left;
    text-transform:capitalize;
}
.CityState_insert_div .tt-eq-state{
    float:right;
}

/*Previous*/
.CityState_insert_div_previous{
    position:relative;
}

.CityState_insert_div_previous .tt-menu {
    background: white;
    /*min-width: 320px;*/
    font-size: 12px;
    max-height: 230px;
   -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    position: absolute;
    /*left: 211px;*/
    z-index: 100;
    display: none;
    width: 100%;
    overflow-y:scroll;
} 

.CityState_insert_div_previous .tt-suggestion {
    min-height: 40px;
    display: block;
    padding: 3px 3px 0px 10px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}

.CityState_insert_div_previous .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

.CityState_insert_div_previous .tt-sug-text {
    width: 100%;
    font-size: 12px;
    text-overflow: ellipsis;
}

.CityState_insert_div_previous .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

.CityState_insert_div_previous .tt-suggestion.active {
    background-color: #f2f2f2;
}

.CityState_insert_div_previous .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.CityState_insert_div_previous .tt-sug-zip {
    position: absolute;
    float: left; 
    font-style: italic;
}

.CityState_insert_div_previous .tt-eq-city {
    float:left;
    text-transform:capitalize;
}
.CityState_insert_div_previous .tt-eq-state{
    float:right;
}



.CoCityState_insert_div {
    position: relative;
}

.CoCityState_insert_div .tt-menu {
    background: white;
    /*min-width: 320px;*/
    font-size: 12px;
    max-height: 230px;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    position: absolute;
    /*left: 211px;*/
    z-index: 100;
    display: none;
    width: 100%;
    overflow-y: scroll;
}

.CoCityState_insert_div .tt-suggestion {
    min-height: 40px;
    display: block;
    padding: 3px 3px 0px 10px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}

.CityState_insert_div_previous .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

.CoCityState_insert_div .tt-sug-text {
    width: 100%;
    font-size: 12px;
    text-overflow: ellipsis;
}

.CoCityState_insert_div .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

.CoCityState_insert_div .tt-suggestion.active {
    background-color: #f2f2f2;
}

.CoCityState_insert_div .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.CoCityState_insert_div .tt-sug-zip {
    position: absolute;
    float: left;
    font-style: italic;
}

.CoCityState_insert_div .tt-eq-city {
    float: left;
    text-transform: capitalize;
}

.CoCityState_insert_div .tt-eq-state {
    float: right;
}