.sche_event_header {
    width:100%;
    float:left;
    text-align:left;
    padding:10px 0px;
}
.sche_event_header h2 {
    width:auto;
    float:left;
    margin-top:0px;
}
.sche_event_header button {
    float:right;
    margin-left:10px;
}
.sche_event_header button,
.sche_event_header button:hover,
.sche_event_header button:focus {
    background-color:#2ca01c;
    color:#fff;
}
#detailsdata1, #detailsdata2 {
    border: unset !important;
}
.ticket_color_btn {
    position: absolute;
    bottom: 11px;
    right: 53px;
    z-index: 98;
    bottom: 35px;
}
#ticket_color_div {
    position: fixed;
    width: 465px;
    right: 57px;
    bottom: 77px;
    background-color: #fff;
    z-index: 100;
    padding: 10px 10px 0px;
    border: 1px solid #2ca01c;
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    display:none;
}
    #ticket_color_div:before {
          right: 9px;
    border-width: 7px;
    transform: rotate(0deg);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #2ca01c transparent;
    border-bottom: 0;
    bottom: -7px;
    }
.top_mergin {
        margin-top: 17px !important;
    }
    /*.load_calender{
        width: 100%;
    height: 589px;
    overflow-y: hidden;
    }*/

    .ticket_status_div_container {
          width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    }
        .ticket_status_div_container .ticket_type_container {
            width:100%;
            float:left;
        }
        .ticket_status_div_container label {
            float: left;
            margin-right: 10px;
            /*width: 95px;*/
        }
.ticket_status_div {
    background-color: #222;
    float: left;
    font-weight: 600;
    width: 15px;
    margin-right: 3px;
    margin-bottom: 7px;
    height: 15px;
    margin-top: 3px;
}
.ticket_status_div_img {
     background-color: #ccc;
    float: left;
    font-weight: 600;
    width: 20px;
    margin-right: 8px;
    margin-bottom: 10px;
    height:20px;
    }
.ticket_type_div {
    float: left;
    width: auto;
    margin-right: 15px;
}
    @media (max-width:768px) {
        .sche_event_header h2 {
   font-size:25px;
}
        #ticket_color_div {
            z-index:99;
        }
    }
  @media (max-width:414px) {
      .ticket_color_btn {
          bottom: 63px;
    right: 13px;
      }
    #ticket_color_div {
        width: 93%;
        right: 4%;
        z-index: 99;
        bottom: 107px;
        right: 25px;
    }
      .ticket_type_div {
    width: 50%;
}
         
  }