.CloseButtonDiv {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    .CloseButtonDiv img {
        width: 25px;
    }
        .schedule_map_custom .gm-fullscreen-control {
            top:30px !important;
        }
        span{
            font-weight:700;
        }