.CloseButtonDiv {
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;
    }

    .CloseButtonDiv img {
        width: 25px;
    }
        .notify_container{
            overflow-y:auto;
            height:89vh;
        }
.notify_data_div{
    width:100%;
    float:left;
}
.notify_left_data{
    width:20%;
    float:left;
    padding:5px;
    height: 400px;
    border:1px solid #ccc;
}
.tik_status{
    padding:10px;
}
.tik_type{
    padding:10px;
    width:90%;
    float:left;
}
.tik_status:hover{
    background-color:#ccc;
    cursor:pointer;
}
.tik_type:hover{
    background-color:#ccc;
    cursor:pointer;
}
.notify_right_data, .notify_right_data_model{
    width:60%;
    float:left;
    padding:5px;
    border:1px solid #ccc;
    height: 400px;
}
.notify_middle_data{
    width:20%;
    float:left;
    padding:5px;
    height: 400px;
    border:1px solid #ccc;
}
.resch_ticket_footer {
       position: fixed;
    width: 100%;
    float: left;
    background-color: #393a3d;
    padding: 10px 0px;
    bottom: 0px;
    left: 0px;
}

.resch_ticket_footer button {
        float: right;
    color: white;
    background-color:#2ca01c;
    border-color:#2ca01c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
            margin-right: 20px;
    cursor: pointer;
}
.smsText_div{
    margin-bottom:20px;
    margin-top:10px;
}
.emailText_header, .smsText_header{
    font-weight:600;
    font-size:18px;
}
.notify_text{
    font-weight:600;
}
.type_input_noti{
    width:10%;
    float:left;
}
.type_input_noti input{
        margin-top: 15px;
}
#email_text_notify_ifr{
    height:180px !important;
}