.form-group {
    margin: 0;
    padding: 8px 0px;
}

    .form-group h3 {
        /*margin-left: 30px;*/
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
    }
.aut_dropdown .dropdown-menu {
    z-index:999999 !important;
}
.add_user_team_container {
    width:100%;
    float:left;
}
.add_acc_fee_head_container {
    width: 110%;
    background-color: #eceef1;
    margin-left: -15px;
    padding: 10px 13px;
    margin-top: -6px;
}

.add_acc_fee_head_text {
    font-size: 2rem;
    font-family: 'Play', sans-serif;
}

.content-type {
    /*margin-left: 30px;*/
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}

.content-text {
    height: 32px;
    width: 80%;
    font-size: 13px;
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
    text-align:right;
}

.custom-col {
    width: 18%;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

/*.txt-form {
            margin-left: 30px;
        }*/

.item-check {
    height: 40px;
    width: 20px;
}

.txt-check {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 14px;
    padding-left: 4px;
}

/*.col-cus {
            margin-left: 30px;
        }*/

#ParentId {
    height: 32px;
    width: 80%;
    margin-left: 30px;
    width: 76%;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    box-sizing: border-box;
}

#SaveAccHolder {
    background-color: #2ca01c;
    color: white;
    float: right;
}

.add_act_fee_container {
    overflow: hidden;
}
.user_tag_list_check {
    padding-bottom:10px;
}
.user_tag_list_check input {
    margin-left:0px;
    cursor:pointer;
}
#SaveAccHolder :hover {
}
#SavePermissionGroup {
    background-color:#2ca01c;
    color:#fff;
}