.form-group {
    margin: 0;
    padding: 8px 0px;
}

    .form-group h3 {
        /*margin-left: 30px;*/
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
    }

.add_acc_fee_head_container {
    width: 100%;
    float:left;
    background-color: #eceef1;
    padding: 15px 10px;
    margin-top: -6px;
}

.add_acc_fee_head_text {
    font-size: 16px;
    font-family: 'Play', sans-serif;
}

.content-type {
    /*margin-left: 30px;*/
    font-size: 12px;
    font-weight: 600;
    color: #ccc;
    display: block;
    margin-bottom: 4px;
}

.content-text {
    height: 32px;
    width: 80%;
    font-size: 13px;
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.custom-col {
    width: 18%;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

/*.txt-form {
            margin-left: 30px;
        }*/

.item-check {
    height: 40px;
    width: 20px;
}

.txt-check {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 14px;
    padding-left: 4px;
}

/*.col-cus {
            margin-left: 30px;
        }*/

#ParentId {
    height: 32px;
    width: 80%;
    margin-left: 30px;
    width: 76%;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    box-sizing: border-box;
}

#SaveAccHolder {
    background-color: #2ca01c;
    color: white;
    float: right;
}

.add_act_fee_container {
    overflow: hidden;
}

#SaveAccHolder :hover {
}

/* The container */
.containercheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .containercheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containercheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containercheck input:checked ~ .checkmark {
    background-color: #f4f5f8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containercheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containercheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #4d4a4a;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.containercheck .tesst{
    font-weight:normal;
}
.add_usergroup_container {
    padding:0px;
}
.add_usergroup_container_smL {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding:10px;
}