.mac_container {
    width: 100% !important;
    float: left;
}
#hr_settngs {
    position: absolute;
    top: -43px;
    right: 0px;
}
    .mac_container .btn {
        background-color: #2ca01c;
        border-color: #2ca01c;
        color: white;
    }

        .mac_container .btn:hover {
            background-color: #2ca01c;
            color: white;
        }

.Hr_Home_Container .ci_header input[type=checkbox] {
    float: right;
}

#EmpAvailibility .ci_title,
#monthName {
}

.tot_ava_hr {
    width: 100%;
    float: left;
    font-weight: bold;
    background-color: #f4f5f8;
    padding: 5px 10px;
}

.skillclass button.btn {
    background-color: unset !important;
    border-color: unset !important;
    color: unset !important;
}

    .skillclass button.btn:hover {
        background-color: unset !important;
        color: unset !important;
    }

#EmpAvailibility .ci_header .btn-group {
    width: auto;
    float: right;
}

    #EmpAvailibility .ci_header .btn-group .btn {
        padding: 3px 8px;
    }

        #EmpAvailibility .ci_header .btn-group .btn:first-child {
            border-right: 1px solid #fff;
            margin-right: 2px;
        }

.udi_img {
    width: 55%;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100px;
}

.wrapper {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 9px 9px 9px 0px;
    position: relative;
    width: 300px;
    height: 100px;
    margin-right: 35px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#usersignature {
    float: left;
}

#sig_clear {
    float: left;
    margin-left: 10px;
    background-color: #777;
    border-color: #777;
    color: white;
}

.custom-file {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.margin-top-15 {
    margin-top: 15px;
}

.deleteDoc {
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: 162px;
    margin-top: -134px;
    /*background-color: black;
    border-radius: 50%;*/
    text-align: center;
    cursor: pointer;
}

.otherfileposition {
    margin-left: 55px;
    margin-top: 30px;
}

.fileborder {
    height: 123px;
    width: 175px;
    position: relative;
    margin-top: 15px;
}

.red-border {
    border: 1px solid red !important;
}

.border_none {
    border: none;
}

.deleteDoc img {
    width: 25px;
}

.change-picture-logo {
    border: 1px solid #ccc;
    background-color: #58595B;
    padding: 5px;
    margin-bottom: 10px;
    width: 175px;
    height: 35px;
    color: white;
}

.GoUser {
    color: #777;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    float: left;
    margin-top: 23px;
}

.user_info_header_container {
    width: 100%;
    display: table;
}

.user_info_head_text {
    float: left;
    padding-left: 10px;
}

.GoUser:hover {
    color: #2ca01c;
}

.cursor_link {
    cursor: pointer;
    text-decoration: none;
}

.style-btn {
    background-color: #2ca01c;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 34px;
    border-style: none;
    padding: 0px 10px;
}

.ui_delete_btn {
    background-color: #c9302c !important;
    border-color: #c9302c !important;
    margin-left: 10px;
    margin-right: 10px;
}

.style-btn-custom {
    background-color: #2ca01c;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 34px;
    border-style: none;
    padding: 0px 10px;
}

.custome-col-style {
    float: right;
    padding-right: 10px;
}

.style-row {
    margin-bottom: 10px;
}

.nav-tabs > li > a {
    background-color: transparent !important;
}

.nav-tabs > li > a {
    background-color: transparent !important;
    color: #454545;
    border: none !important;
}

.nav-tabs > li {
    border: 1px solid #ccc !important;
}

    .nav-tabs > li.active {
        background-color: #2ca01c !important;
    }

.nav-tabs > li {
    border: 1px solid #ccc !important;
}

    .nav-tabs > li.active > a {
        color: white !important;
    }

.hr-tab-container {
    width: 100%;
    float: left;
    padding-top: 15px;
    position: relative;
}

.Hr_Home_Container,
.Management_Home_container {
    width: 100%;
    float: left;
    padding-top: 15px;
    position: relative;
}

.Hr_Home_inner_content,
.Management_Home_inner {
    width: 33.33%;
    float: left;
    padding-right: 10px;
    margin-bottom: 10px;
}

#computer_panel,
#EmpVehicle {
}

#EmpAvailibility {
    width: 66.666%;
}


.ap_week_table {
    width: 100%;
    float: left;
    table-layout: fixed;
}

    .ap_week_table tr th {
        text-align: center;
    }

        .ap_week_table tr th label {
            margin-bottom: 0px;
        }

    .ap_week_table tr th,
    .ap_week_table tr td:first-child {
        background-color: #f8f8f8;
    }

    .ap_week_table tr th,
    .ap_week_table tr td {
        padding: 5px;
        border: 1px solid #ccc;
    }

        .ap_week_table tr th:first-child {
            width: 55px;
        }

        .ap_week_table tr td:first-child {
            font-weight: bold;
            text-align: center;
        }

.left-space {
    float: left !important;
    margin-left: 10px;
}

.active-btn {
    color: #000 !important;
    background-color: #ccc !important;
    border-color: #ccc !important;
}

.ap_table {
    width: 100%;
    float: left;
    table-layout: fixed;
}

    .ap_table tr th {
        text-align: center;
    }

        .ap_table tr th label {
            margin-bottom: 0px;
        }

    .ap_table tr th {
        background-color: #f8f8f8;
    }

    .ap_table tr th,
    .ap_table tr td {
        padding: 5px;
        border: 1px solid #ccc;
        vertical-align: top;
        position: relative;
    }

    .ap_table tr td {
        padding: 0px !important;
        height: 94px;
    }

.monthlydate {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
}

#EmpAvailibility .ci_header {
    text-align: center;
}

.ci_title {
    float: left;
}

.mac_container .monthlyinfo {
    width: 100%;
    float: left;
    padding: 5px;
    text-align: center;
}

.hrea_container .monthlyinfo {
    width: 100%;
    float: left;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.monthly-holiday-info {
    width: 100%;
    float: left;
    padding: 5px;
    text-align: center;
}

.ea_edit {
    position: absolute;
    bottom: 8px;
    right: 6px;
}

.ap_table tr td select,
.ap_table tr td select:focus,
.ap_table tr td select:active {
    border: 0px;
    box-shadow: unset;
    outline: 0px;
    background-position: right 0px center !important;
    text-align: center;
    cursor: pointer;
}

.ap_table tr td:first-child {
}

.Hr_Home_inner_content .udi_info {
    padding: 0px;
}

.Management_Home_container .udi_Detail_block {
    padding-left: 0px;
}

.Management_Home_inner_2 {
    width: 66.67%;
    float: left;
    margin-bottom: 10px;
}

.Hr_Evaluation_container {
    width: 100%;
    float: left;
}

    .Hr_Evaluation_container .Hr_Evaluation_content {
        width: 50%;
        float: left;
        padding-right: 10px;
        padding-top: 10px;
    }

        .Hr_Evaluation_container .Hr_Evaluation_content:last-child {
            width: 100%;
            padding-right: 0px;
        }

        .Hr_Evaluation_container .Hr_Evaluation_content label {
            width: 100%;
            float: left;
            margin-bottom: 0px;
            text-align: left;
        }

        .Hr_Evaluation_container .Hr_Evaluation_content:nth-child(even) {
            padding-right: 0px;
        }

#btnSaveHrEvaluation {
    float: right;
}

.hr-tab-container .width-33p .ci_block {
    min-height: 275px;
}

.hr-tab-container .width-33p .ci_computer_block {
    min-height: 156px;
    border: 2px solid #ddd !important;
    /*margin: 0 0 1.5em 0 !important;*/
}

.hr-tab-container .width-33p input,
.hr-tab-container .width-33p select {
    box-shadow: none;
}

.hr-tab-container .width-33p:nth-child(2) {
    margin-left: 8px;
}

.hr-tab-container .width-33p:nth-child(3) {
    float: right;
    padding-right: 0px;
}

.hr-tab-container .width-33p .udi_info {
    padding: 10px;
}

#DetailInfoTab {
    width: 100%;
    float: left;
    padding-top: 15px;
}

    #DetailInfoTab .user_info_header {
        margin-bottom: 0px;
    }

fieldset.custom-fieldset {
    border: 2px solid #ddd !important;
    /*margin: 0 0 1.5em 0 !important;*/
    box-shadow: 0px 0px 0px 0px #000;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

legend.custom-legend-border {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.user_information_container {
    margin-top: -15px;
    overflow-x: hidden;
}

.user_information_container_custom {
    margin-top: -15px;
}

.udi_row {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.udi_row_left {
    width: 49%;
    float: left;
}

.udi_row_right {
    width: 49%;
    float: right;
}

.employee_review_userid_table {
    width: 100%;
    float: left;
    margin-top: 10px;
}

    .employee_review_userid_table thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

        .employee_review_userid_table thead tr th,
        .employee_review_userid_table tbody tr td {
            padding: 10px;
        }

    .employee_review_userid_table tbody tr {
        border-bottom: 1px solid #d4d7dc;
    }

        .employee_review_userid_table tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        .employee_review_userid_table tbody tr:hover {
            background-color: #f4f5f8;
        }



.employee-occurance-container table {
    width: 100%;
    float: left;
}

    .employee-occurance-container table thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

        .employee-occurance-container table thead tr td {
            padding: 10px;
            border-right: 1px solid #ddd;
            font-weight: bold;
            cursor: pointer;
        }

            .employee-occurance-container table thead tr td:hover {
                background-color: #f4f5f8;
            }

    .employee-occurance-container table tbody tr td {
        padding: 10px;
        cursor: pointer;
    }

    .employee-occurance-container table tbody tr {
        border-bottom: 1px solid #d4d7dc;
    }

        /*.employee-occurance-container table tbody tr:nth-child(even) {
            background-color: #f8f8f8;
        }*/

        .employee-occurance-container table tbody tr:hover {
            background-color: #f4f5f8 !important;
        }

.sub-header-custom {
    font-size: 15px;
    font-weight: 600;
    background: #cfcfcf;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
    width: 100%;
    display: inline-block;
}

.customer_info_container_custom {
    background-color: #f4f5f8;
    display: table;
    padding: 10px 20px;
    width: 100%;
}

#EvaluationLoad .hr_evaluation_custom {
    height: 62px;
}

#WriteupsLoad {
    width: 100%;
    float: left;
}

.HrWriteUps_list {
    width: 100%;
    float: left;
    table-layout: fixed;
    margin-top: 10px;
}

    .HrWriteUps_list thead tr th,
    .HrWriteUps_list tbody tr td {
        padding: 10px;
    }

    .HrWriteUps_list thead tr {
        border-bottom: 2px solid #ccc;
    }

    .HrWriteUps_list tbody tr {
        border-bottom: 1px solid #ccc;
    }

        .HrWriteUps_list tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }

        .HrWriteUps_list tbody tr:hover {
            background-color: #f4f5f8;
        }

    .HrWriteUps_list thead tr th:nth-child(5) {
        width: 135px;
        text-align: center;
    }

    .HrWriteUps_list tbody tr td:nth-child(5) {
        text-align: center;
    }

        .HrWriteUps_list tbody tr td:nth-child(5) .btn {
            float: none;
        }

    .HrWriteUps_list .lacf_info .size-img {
        max-width: 35px;
        max-height: 35px;
    }

#IsSalesMatrixUserX {
    margin-left: 10px;
}

#WriteupsLoad .HrWriteUps_list tbody tr td .hwu_head {
    display: none;
}

#WriteupsLoad .HrWriteUps_list tbody tr td .hwu_head {
    display: none;
}

#WriteupsLoad .HrWriteUps_list tbody tr td .hwu_info button {
    margin-left: 5px;
    margin-right: 5px;
}

#WriteupsLoad .HrWriteUps_list thead .hwp_act {
    width: 135px;
}

.employee_review_userid_table tbody tr td div:nth-child(1) {
    display: none;
}

@media (max-width:1315px) {
    .Hr_Evaluation_container .Hr_Evaluation_content {
        width: 100%;
        padding-right: 0px;
    }
}

@media (max-width:768px) {
    .user_info_head_text {
        font-size: 25px;
    }

    #DetailInfoTab .width-33p {
        width: 100%;
    }

    .Hr_Home_inner_content, .Management_Home_inner {
        width: 100%;
        padding-right: 0px;
    }

    .Management_Home_inner_2 {
        width: 100%;
    }

    .Hr_Evaluation_container .Hr_Evaluation_content {
        width: 50%;
        padding-right: 10px;
    }

    #WriteupsLoad .HrWriteUps_list thead {
        display: none;
    }

    #WriteupsLoad .HrWriteUps_list tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
    }

        #WriteupsLoad .HrWriteUps_list tbody tr td .hwu_head {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #WriteupsLoad .HrWriteUps_list tbody tr td .hwu_head span {
                float: right;
                margin-right: 10px;
            }

        #WriteupsLoad .HrWriteUps_list tbody tr td .hwu_info {
            width: 55%;
            float: left;
            text-align: left;
            word-break: break-word;
        }
}

@media (max-width: 500px) {
    .employee_review_userid_table thead {
        display: none;
    }

    .employee_review_userid_table tbody tr td {
        width: 100%;
        float: left;
        padding: 5px 0px;
    }

        .employee_review_userid_table tbody tr td div:nth-child(1) {
            display: block;
            width: 40%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            .employee_review_userid_table tbody tr td div:nth-child(1) span {
                float: right;
                margin-right: 10px;
            }

        .employee_review_userid_table tbody tr td div:nth-child(2) {
            width: 60%;
            float: left;
            text-align: left;
        }

    .GoUser {
        margin-top: 20px;
    }

    #DetailInfoTab .width-33p .user_content_info_half {
        width: 100%;
    }

    .user_info_device_head {
        width: 100%;
        float: left;
    }

    .user_info_device_btn {
        width: 100%;
        float: left;
    }

    .style-btn {
        margin-top: 0px;
    }

    #HumanresLoad .udi_title,
    #HumanresLoad .udi_data,
    #InsuranceLoad .udi_title,
    #InsuranceLoad .udi_data,
    #ComputerPanel .udi_title,
    #ComputerPanel .udi_data {
        width: 100%;
        float: left;
    }

    .Hr_Evaluation_container .Hr_Evaluation_content {
        width: 100%;
        padding-right: 0px;
    }
}
