 .user_group_table {
        width: 100%;
        float:left;
    }
     .user_group_table  thead tr {
        border-bottom: 2px solid #ccc;
    }
     .user_group_table tbody tr td {
         border-bottom: 1px solid #ccc;
     }
         .user_group_table thead tr th,
         .user_group_table tbody tr td {
            padding: 8px;
        }
         .user_group_table thead tr th:nth-child(1) {
            width:55%;
        }
         .user_group_table thead tr th:nth-child(2) {
            width:25%;
        }
         .user_group_table thead tr th:nth-child(3) {
            width:150px;
        }
         .user_group_table_container {
             width:100%;
             float:left;
             margin-top:10px;
         }
         .user_group_table tbody tr:nth-child(odd) {
             background-color:#f8f8f8;
         }
          .user_group_table tbody tr:hover {
             background-color:#f4f5f8;
         }
    .dataTables_length, .dataTables_filter {
        display: none;
    }
   
    .user_group_header {
        width:100%;
        float:left;
        padding:0px 0px 5px;
        font-size:30px;
    }
   

    .hourexceedUser {
        color: red;
    }
.group_list_count {
    position:relative;
    cursor:pointer;
}
.group_list_count a:hover {
    color:#2ca01c;
}
.popup_cl {
    position: absolute;
    top: -9px;
    left: 15px;
    border: 1px solid #4ba01e;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}
    .popup_cl a {
        display: inline-block;
        word-break: keep-all;
        white-space: nowrap;
    }
.calerrorpopupclose {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    width: 13px;
    height: 13px;
    line-height: 13px;
}
.normaluser {
    color: black;
}
        .user_group_container .AddActvation {
        float: right;
        background-color: #2ca01c;
        border: none;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        height: 32px;
        color: white;
        padding: 0px 15px;
    }
        .user_group_container .left_div {
        width:40%;
        float:left;
        padding-left:0px !important;
    }
    .user_group_container .right_div {
        width:50%;
       float:right;
    }
     .user_group_table tbody tr td div:nth-child(1) {
         display:none;
     }
     .user_group_table tbody tr td:nth-child(2) div:nth-child(2) a {
         color:#2ca01c;
     }
    @media (max-width: 768px) {
        .user_group_table thead tr th:nth-child(1) {
        width: 45%;
        }
    }
    @media (max-width:414px) {
        .user_group_table thead {
            display:none;
        }
       
        .user_group_container .left_div{
            width:100%;
            margin-bottom:10px;
        }
       
        .user_group_table tbody tr td {
            width:100%;
            float:left;
            box-sizing:border-box;
            padding:5px 8px;
        }
        .user_group_table tbody tr td div:nth-child(1) {
            display:block;
            width:45%;
            float:left;
            text-align:left;
            font-weight:bold;
        }
        .user_group_table tbody tr td div:nth-child(2) {
            width:55%;
            float:left;
            text-align:left;
        }
    }
   

    
