
    .customer-new {
        background-color: #2ca01c;
        color: #ffffff;
         -webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
        box-shadow: none;
        border-right: none;
        border: 1px solid #8d9096;
        outline: none;
        padding: 0 15px;
        position: relative;
        min-width: 80px;
        cursor: pointer;
        font-size: 1.4rem;
        height: 34px;
        line-height: 34px;
        overflow: visible;
        text-align: center;
    }
.contactname{
    color:green;
}
.customer-btn-dropdown {
    background-color: #2ca01c;
    color: #ffffff;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    border-left: 1px solid #108000;
}

    .customer-btn-dropdown:hover {
        background-color: #2ca01c;
        color: #ffffff;
    }

    .customer-dropdown-ul-style {
        border: 1px solid #666 !important;
        font-size: 13px;
         -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
        margin-top: 4px !important;
        width: inherit;
        padding: 4px 0px 4px 0px !important;
    }

    .AddNewBtnDiv {
        margin-top: 23px;
        float: right;
        color: white;
        position:relative;
    }

    .custom-head {
        font-family: 'Play', sans-serif;
        margin-top: -17px;
    }

    .ListContents {
        display: none;
    }
    .down_arrow_style {
    float: left;
    padding-top: 13px;
    padding-right: 4px;
    margin-left: 10px;
}
    .heading_left {
        padding-left:23px;
    }
    .user_management_header {
        width:100%;
        float:left;
    }
    .user_management_header h2  {
        width:auto;
        float:left;
    }

    @media (max-width: 414px) {
        .user_management_header {
      padding-bottom:10px;
    }
        .user_management_header h2  {
        font-size:22px;
    }
         .heading_text {
             font-size:22px;
         }
    }