@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerSnapshot
@*<link href="~/Content/Css/CustomerDetails/CustomerCreatedHistoryPartial.css" rel="stylesheet" />*@
<style>
    .header_font{
        /*float: left;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding-left: 5px;*/
        background-color: #e6e3e3;
        padding:5px;
        /*margin-right: 5px;
        margin-top: 5px;*/
    }
</style>
<div class="customer-history-content">
    @{
        if (Model != null)
        {

            <div class="customer_created_histories_row">
                <div class="header_font">@Html.Raw(Model.Description)</div>
            </div>

        }
    }
</div>