@{
    ViewBag.Title = "AddCustomerDetails";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.CustomerFile

<div class="">
    @*@Html.DropDownListFor(model => model.CustomerFileName, (List<SelectListItem>)ViewBag.CustomerFileName, new { @class = "form control" })*@
</div>
