<!DOCTYPE html>
<html>
<head>
    <title>Customer Address</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
         #map {
             height: 100%;
         }

         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
       var marker;
      function initMap() {
        var myLatlng = { lat: 41.053430, lng: -73.538734 };

        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 16, center: myLatlng});
        var infoWindow = new google.maps.InfoWindow(
            {content: 'Click The Map To Get Lat-Lng!', position: myLatlng});
        infoWindow.open(map);

        map.addListener('click', function(mapsMouseEvent) {

          infoWindow.close();
          infoWindow = new google.maps.InfoWindow({position: mapsMouseEvent.latLng});
          infoWindow.setContent(mapsMouseEvent.latLng.toString());
          infoWindow.open(map);
          var LatLng = mapsMouseEvent.latLng.toString().replace('(', '');
          var LngVal = LatLng.replace(')', '');
          $("#LatLng").val(LngVal);
          });
        
        function MarkLocation(Val) {
            var TrimVal = $("#LatLng").val().replace(' ','');
            var Lat = TrimVal.split(',')[0];
            var Lng = TrimVal.split(',')[1];
            var myLatlng = { lat: parseFloat(Lat), lng: parseFloat(Lng) };
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 16, center: myLatlng });
            marker = new google.maps.Marker({ position: myLatlng, draggable: true, map: map });
            //changeMarkerPosition(marker, Lat, Lng);
            google.maps.event.addListener(marker, 'dragend', function () {
                console.log("lat: " + marker.position.lat());
                console.log("lng: " + marker.position.lng());
                var NewLatLng = marker.position.lat() + ',' + marker.position.lng();
                console.log(NewLatLng);
                $("#LatLng").val(NewLatLng);
            })
        }
        //function changeMarkerPosition(marker, Lat, Lng) {
        //    var latlng = new google.maps.LatLng(parseFloat(Lat), parseFloat(Lng));
        //    marker.setPosition(latlng);
        //}
        $(document).ready(function () {
            var Val = $("#LatLng").val();
            if (Val != null && Val != "") {
                MarkLocation(Val);
            }

        });
      }
      
    </script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapAPIKey&callback=initMap">
    </script>
</body>
</html>