@{
    Layout = null;

}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var Currency = "@HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null)";
    var pageno = '@ViewBag.PageNumber';
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var GetAllRoute = function (pageNo, order) {
        if (typeof (pageNo) != "undefined" && pageNo > 0) {
            var LoadUrl = domainurl + "/Customer/CustomerRoutePartialList/?&pageno=" + pageNo + "&pagesize=50";
            $(".AllRouteTable").html(TabsLoaderText);
            $(".AllRouteTable").load(LoadUrl);
        }
    }
    $(document).ready(function () {
        GetAllRoute(1, null);
        $(".LoaderWorkingDiv").hide();
        $("#AddRoute").click(function () {
            OpenRightToLeftModal("/Customer/AddRoute");
        });
        $(".icon_sort_timeclock").click(function () {
            var orderval = $(this).attr('data-val');
            console.log(orderval)
            AllRecordsReportLoad(pageno, orderval);
        });
    });
</script>
<div class="route_container">
    <div class="route_header">
        @Localize.T("Route")
    </div>
    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.AddRouteButton))
    {
        <button class="btn btn-primary btn-add-estimator text-right" id="AddRoute" type="button" data-toggle="modal" title="@Localize.T("Add Route")">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;@Localize.T("Route")
        </button>
    }
    

    <div class="AllRouteTable">

    </div>
</div>

