@model HS.Entities.CustomerMigration
@{
    Layout = null;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<link href="~/Content/Css/CustomerDetails/CustomerAccountActivityDetails.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        //$('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="ci_block ci_margin_top">
    <div class="ci_header">
        @Localize.T("Customer Previous Data")
    </div>
    <div class="ci_info note_box_container"> 
        <div class="customer_prev_data_cont">
            @Html.Raw(Model.Note)
        </div>
    </div>
</div>


