@{
    ViewBag.Title = "Customer System No Prefix";
    Layout = null;
}

@using Localize = HS.Web.UI.Helper.LanguageHelper

<script src="~/Content/Js/CustomerNoPrefix/CustomerNoPrefixPartial.js"></script>
<link href="~/Content/Css/CustomerNo/CustomerNoPrefixPartial.css" rel="stylesheet" />
<style>
    .back-to-cus-no-partial{
        cursor: pointer;
            font-size: 20px;
    font-weight: 600;
    color: #2ca01c;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    }
    .prefix{
            color: #fff;
    background: rgb(44, 160, 28);
    }
    .csnpr_header {
        width:100%;
        float:left;
    }
    .csnpr_header h3 {
        width:auto;
        float:left;
        margin-top:15px;
    }
</style>


<div class="content-wrap">
    <div class="container-fluid">
        <div class="csnpr_header">
            <span class="back-to-cus-no-partial" title="@Localize.T("Back to previous page")"><i class="fa fa-chevron-left" aria-hidden="true"> </i></span>
            <h3>@Localize.T("Customer System No Prefix")</h3>
            <button class="btn prefix" id="AddCustomerSystemNoPrefix" type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
            </button>
        </div>
       
        <div class="ListContents">

        </div>
    </div>
</div>

<div class="ListViewLoader">
    <div>
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>
    @*<div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>*@
</div>


