@{
    Layout = null;
}
@using PermissionHelper = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/VehicleManagement/ShowVehicleList.css" rel="stylesheet" />

<script src="~/Content/Js/Customer/CustomerAnnouncement.js"></script>
<div class="show_vehicle_list_container">
    <div class="show_vehicle_list_header">
        <div class="col-md-6">
            <span class="vehicleListHeader">@Localize.T("Announcements")</span>
        </div>
        <div class="col-md-6">
            <button class="add_customer_file" onclick="OpenRightToLeftModal(domainurl + '/Customer/AddAnnouncement')" @*id="AddNewProduct"*@ type="button" title="@Localize.T("Add Announcement")">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" Announcement")
            </button>
           
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div id="Announcement_List">

    </div>

</div>

