@{ 
    Layout = null;
}
@using HS.Framework
@model List<HS.Entities.CustomerCancel>
@if(Model != null && Model.Count > 0)
{
    foreach(var item in Model)
    {
        <div class="header_font_invoice">
            @if (!item.IsActivated.HasValue || !item.IsActivated.Value)
            {
                <span style="font-weight:600;color:red;">Cancelled</span>
            }
            else
            {
                <span style="font-weight:600;color:green;">Activated</span>
            }
            <span>by <span style="font-weight:600;">@item.EmpName</span> on @item.CancelDatet.Value.UTCToClientTime().ToString("MM/dd/yyyy hh:mm tt")</span>
            @if (!item.IsActivated.HasValue || !item.IsActivated.Value)
            {
                <br />
                <span style="font-weight:600;"> Reason:</span>
                <span>@item.CancelReason</span>
            }
        </div>
    }
}