@{
    ViewBag.Title = "Analytics";
    Layout = null;
}
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>

<h1>Analytics</h1><br />
<h1>Analytics</h1><br />
<h1>Analytics</h1><br />
<h1>Analytics</h1><br />
