@model List<HS.Entities.DashboardSalesAreaChart>
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    var keyvalue = '@ViewBag.keyvalue';
    var labelvalue = '@ViewBag.labelvalue';
    @if(ViewBag.DBLeadGraph != null){
        @:var processedData = JSON.parse('@Html.Raw(ViewBag.DBLeadGraph)');
            @:console.log(processedData);
        }
    var morisarea;
    var LoadMorrisAreaChartForInvest = function () {
        morisarea = Morris.Line({
            element: 'morris-area-chart',
            data: processedData,
            xkey: 'Sale Date',
            ykeys: ['Total Sale Amount'],
            labels: ['Total Sale Amount'],
            hideHover: 'auto',
            resize: true,
            parseTime: false,
            preUnits: '$',
            fillOpacity: 0.4,
        });
    }

    var LoadMorrisAreaChartForOthers = function () {
        morisarea = Morris.Line({
            element: 'morris-area-chart',
            data: processedData,
            xkey: 'Join Date',
            ykeys: ['Count'],
            labels: ['Count'],
            hideHover: 'auto',
            resize: true,
            parseTime: false,
            //preUnits: '$',
            fillOpacity: 0.4,
        });
    }

    $(document).ready(function () {
        parent.$(".Customer_Lead_Graph_loader").addClass('hidden');
        parent.$(".Customer_Lead_Graph").removeClass('hidden');
        if (keyvalue == "today") {
            parent.$(".sales_report_value").text("Today");
        }
        else if (keyvalue == "weekly") {
            parent.$(".sales_report_value").text("Weekly");
        }
        else if (keyvalue == "monthly") {
            parent.$(".sales_report_value").text("Monthly");
        }
        else if (keyvalue == "yearly") {
            parent.$(".sales_report_value").text("Yearly");
        }
        if (labelvalue == "lead") {
            parent.$(".filterstatus").text("Lead");
            parent.$(".spngraphlabel").text("Lead Report");
            @if(ViewBag.DBLeadGraph != null)
            {
                @:LoadMorrisAreaChartForOthers();
            }
        }
        else if (labelvalue == "customer") {
            parent.$(".filterstatus").text("Customer");
            parent.$(".spngraphlabel").text("Customer Report");
            @if(ViewBag.DBLeadGraph != null)
            {
                @:LoadMorrisAreaChartForOthers();
            }
        }
        else if (labelvalue == "invest") {
            parent.$(".filterstatus").text("Estimate/Invoice");
            parent.$(".spngraphlabel").text("Sales Report");
            @if(ViewBag.DBLeadGraph != null)
            {
                @:LoadMorrisAreaChartForInvest();
            }
        }
        else if (labelvalue == "mmr") {
            parent.$(".filterstatus").text("RMR Accounts");
            parent.$(".spngraphlabel").text("RMR Accounts Report");
            @if(ViewBag.DBLeadGraph != null)
            {
                @:LoadMorrisAreaChartForOthers();
            }
        }
    });
</script>


    @if (Model.Count > 0 && Model != null)
    {
        <div class="panel panel-default">
            <div id="morris-area-chart"></div>
        </div>
    }
    else
    {

    }
