@model List<HS.Entities.GridSetting>
<script>
    var UpdateCustomerGrid = function () {
        var url = "/App/UpdateGridSettings";

        var GridSettings = [];
        $("tbody tr").each(function () {
            GridSettings.push({
                Id: $(this).attr('data-id'),
                ListKeyName: "CustomerGrid",
                SelectedColumn: $(this).find('.KeyName').text(),
                OrderBy: $(this).find(".orderby").text(),
                IsActive: $(this).find(".IsActive").is(':checked')
            });
        });
        console.log(GridSettings)

        $.ajax({
            type: "POST",
            ajaxStart: function () { },
            url: url,
            data: JSON.stringify(GridSettings),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();

        $(".IsActive").click(function () {
            UpdateCustomerGrid();
        });

        $(".customerGridSettings tbody").sortable({
            update: function () {
                var i = 1;
                $(".customerGridSettings tbody tr td.orderby").each(function () {
                    $(this).text(i);
                    i += 1;
                });
                UpdateCustomerGrid();
            }
        }).disableSelection();
    });
</script>
<h3>Customer Grid</h3>
<table class="customerGridSettings">
    <thead>
        <tr>
            <td>Selected Column</td>
            <td>Order</td>
            <td>IsActive</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td class="KeyName">@item.SelectedColumn</td>
                <td class="orderby">@item.OrderBy</td>
                <td><input class="IsActive" type="checkbox" @(item.IsActive?"checked":"") /></td>
            </tr> 
        }
    </tbody>
</table>