@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<link href="~/Content/Css/App/DashboardReport.css" rel="stylesheet" />
<script>


    var FirstDayOfWeek = '@ViewBag.FirstDayOfWeek';
    $(document).ready(function () {
        //$(".LoaderWorkingDiv").hide();

        var Today = new Date();
        var Week = Today.getWeek();
        var StartDateToday = Today;
        
        StartDateToday = Today.getMonth()+1 + "/" + Today.getDate() + "/" + Today.getFullYear();
        var EndDateToday = Today;
        EndDateToday = Today.getMonth()+1 + "/" + Today.getDate() + "/" + Today.getFullYear();
        var StartDateThisWeek = getDateOfISOWeek(Week, Today.getFullYear());
        StartDateThisWeek = StartDateThisWeek.getMonth() + 1 + "/" + StartDateThisWeek.getDate() + "/" + StartDateThisWeek.getFullYear();
        var EndDateThisWeek = getDateOfISOWeek(Week, Today.getFullYear()).addDays(6);
        EndDateThisWeek = EndDateThisWeek.getMonth() + 1 + "/" + EndDateThisWeek.getDate() + "/" + EndDateThisWeek.getFullYear();

        var Week = new Date().addDays(-7).getWeek();
        var StartDateLastWeek = getDateOfISOWeek(Week, Today.getFullYear());
        StartDateLastWeek = StartDateLastWeek.getMonth() + 1 + "/" + StartDateLastWeek.getDate() + "/" + StartDateLastWeek.getFullYear();
        var EndDateLastWeek = getDateOfISOWeek(Week, Today.getFullYear()).addDays(6);
        EndDateLastWeek = EndDateLastWeek.getMonth() + 1 + "/" + EndDateLastWeek.getDate() + "/" + EndDateLastWeek.getFullYear();

        var StartDateThisMonth = new Date(Today.getFullYear(), Today.getMonth(), 1);
        StartDateThisMonth = StartDateThisMonth.getMonth() + 1 + "/" + StartDateThisMonth.getDate() + "/" + StartDateThisMonth.getFullYear();
        var EndDateThisMonth = new Date(Today.getFullYear(), Today.getMonth() + 1, 0);
        EndDateThisMonth = EndDateThisMonth.getMonth() + 1 + "/" + EndDateThisMonth.getDate() + "/" + EndDateThisMonth.getFullYear();

        var StartDateLastMonth = new Date(Today.getFullYear(), Today.getMonth() - 1, 1);
        StartDateLastMonth = StartDateLastMonth.getMonth() + 1 + "/" + StartDateLastMonth.getDate() + "/" + StartDateLastMonth.getFullYear();
        var EndDateLastMonth = new Date(Today.getFullYear(), Today.getMonth(), 0);
        EndDateLastMonth = EndDateLastMonth.getMonth() + 1 + "/" + EndDateLastMonth.getDate() + "/" + EndDateLastMonth.getFullYear();

        var StartDateThisYear = new Date(Today.getFullYear(), 0, 1);
        StartDateThisYear = StartDateThisYear.getMonth()+1 + "/" + StartDateThisYear.getDate() + "/" + StartDateThisYear.getFullYear();
        var EndDateThisYear = new Date(Today.getFullYear(), 11, 31);
        EndDateThisYear = EndDateThisYear.getMonth() + 1 + "/" + EndDateThisYear.getDate() + "/" + EndDateThisYear.getFullYear();

        var StartDateLastYear = new Date(Today.getFullYear() - 1, 0, 1);
        StartDateLastYear = StartDateLastYear.getMonth() + 1 + "/" + StartDateLastYear.getDate() + "/" + StartDateLastYear.getFullYear();
        var EndDateLastYear = new Date(Today.getFullYear() - 1, Today.getMonth(), Today.getDate());
        EndDateLastYear = EndDateLastYear.getMonth() + 1 + "/" + EndDateLastYear.getDate() + "/" + EndDateLastYear.getFullYear();

        console.log("Today: " + StartDateToday + " - " + EndDateToday + " Week: " + StartDateThisWeek + " - " + EndDateThisWeek + " Month: " + StartDateThisMonth + " - " + EndDateThisMonth + " StartLastweek: " + StartDateLastWeek + " StartDateLastMonth: " + StartDateLastMonth);
        console.log(" Year: " + StartDateThisYear + " - " + EndDateThisYear + " LastYear: " + StartDateLastYear + " - " + EndDateLastYear);

        var pagenumber = 1;
        $("#LoadDashboardReport").load(domainurl + "/app/ShowInsideSalesDashboardReport", {
            StartdateToday: StartDateToday, EndDateToday: EndDateToday, StartDateThisWeek: StartDateThisWeek, EndDateThisWeek: EndDateThisWeek, StartDateLastWeek: StartDateLastWeek, EndDateLastWeek: EndDateLastWeek,
            StartDateThisMonth: StartDateThisMonth, EndDateThisMonth: EndDateThisMonth, StartDateLastMonth: StartDateLastMonth, EndDateLastMonth: EndDateLastMonth,
            StartDateThisYear: StartDateThisYear, EndDateThisYear: EndDateThisYear, StartDateLastYear: StartDateLastYear, EndDateLastYear: EndDateLastYear
        });
        $("#SalesPersonFilter").change(function () {
            $(".LoaderWorkingDiv").show();
            var EmpId = $("#SalesPersonFilter").val();
              $("#LoadDashboardReport").load(domainurl + "/app/ShowInsideSalesDashboardReport", {
            StartdateToday: StartDateToday, EndDateToday: EndDateToday, StartDateThisWeek: StartDateThisWeek, EndDateThisWeek: EndDateThisWeek, StartDateLastWeek: StartDateLastWeek, EndDateLastWeek: EndDateLastWeek,
            StartDateThisMonth: StartDateThisMonth, EndDateThisMonth: EndDateThisMonth, StartDateLastMonth: StartDateLastMonth, EndDateLastMonth: EndDateLastMonth,
            StartDateThisYear: StartDateThisYear, EndDateThisYear: EndDateThisYear, StartDateLastYear: StartDateLastYear, EndDateLastYear: EndDateLastYear,EmpId:EmpId
            });
            $("#LoadFundedDashboardReport").load(domainurl + "/app/SoldToFunded?EmpId=" + EmpId);
            //$("#LoadPackageDashboardReport").load(domainurl + "/app/ShowPackageDashboardReport", {
            //StartdateToday: StartDateToday, EndDateToday: EndDateToday, StartDateThisWeek: StartDateThisWeek, EndDateThisWeek: EndDateThisWeek, StartDateLastWeek: StartDateLastWeek, EndDateLastWeek: EndDateLastWeek,
            //StartDateThisMonth: StartDateThisMonth, EndDateThisMonth: EndDateThisMonth, StartDateLastMonth: StartDateLastMonth, EndDateLastMonth: EndDateLastMonth,
            //StartDateThisYear: StartDateThisYear, EndDateThisYear: EndDateThisYear, StartDateLastYear: StartDateLastYear, EndDateLastYear: EndDateLastYear,EmpId:EmpId
            //});
        })
        //$("#LoadPaymentDashboardReport").load(domainurl + "/app/ShowPaymentDashboardReport", {
        //    StartdateToday: StartDateToday, EndDateToday: EndDateToday, StartDateThisWeek: StartDateThisWeek, EndDateThisWeek: EndDateThisWeek, StartDateLastWeek: StartDateLastWeek, EndDateLastWeek: EndDateLastWeek,
        //    StartDateThisMonth: StartDateThisMonth, EndDateThisMonth: EndDateThisMonth, StartDateLastMonth: StartDateLastMonth, EndDateLastMonth: EndDateLastMonth,
        //    StartDateThisYear: StartDateThisYear, EndDateThisYear: EndDateThisYear, StartDateLastYear: StartDateLastYear, EndDateLastYear: EndDateLastYear
        //});
        var EmpId = "00000000-0000-0000-0000-000000000000";
        $("#LoadFundedDashboardReport").load(domainurl + "/app/SoldToFunded?EmpId=" + EmpId);

        //$("#LoadPackageDashboardReport").load(domainurl + "/app/ShowPackageDashboardReport", {
        //    StartdateToday: StartDateToday, EndDateToday: EndDateToday, StartDateThisWeek: StartDateThisWeek, EndDateThisWeek: EndDateThisWeek, StartDateLastWeek: StartDateLastWeek, EndDateLastWeek: EndDateLastWeek,
        //    StartDateThisMonth: StartDateThisMonth, EndDateThisMonth: EndDateThisMonth, StartDateLastMonth: StartDateLastMonth, EndDateLastMonth: EndDateLastMonth,
        //    StartDateThisYear: StartDateThisYear, EndDateThisYear: EndDateThisYear, StartDateLastYear: StartDateLastYear, EndDateLastYear: EndDateLastYear
        //});
     
        $('#srch-term').keyup(function () {

            NavigatePageListing(pagenumber);
        })


    })

</script>

<div class="DashboardReport_container">
  

    <div class="AllAssignSurveyUser_container">

        <div class="AllAssignSurveyUser_table">
          
            <div class="dash_report_block">
                <div class="dash_report_block_header">
                    @if (PermissionChecker.IsPermitted(PermissionList.Dashboard.DashboardSalesReport))
                    {
                        @Localize.T("Inside Sales Report")


                        @Html.DropDownList("SalesPersonFilter", (List<SelectListItem>)ViewBag.SalesPersonList, new { @class = "form-control", @title = "Sales Person" })

                    }

                </div>

                <div id="LoadDashboardReport">
                    <div class="LoaderWorkingDiv">

                        <div>
                            <div class="lds-css ng-scope">
                                <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="LoadFundedDashboardReport">
                    <div class="LoaderWorkingDiv">

                        <div>
                            <div class="lds-css ng-scope">
                                <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
          
         
            </div>
        </div>
    </div>


</div>



