@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/App/DashboardReport.css" rel="stylesheet" />
<script>
       
    var NavigatePageListing = function (pagenumber) {
        var searchText = $("#srch-term").val();
        $("#LoadSurveyUser").load(domainurl + "/Survey/ShowAllAssignSurveyUser", { StartdateToday: StartdateToday, EndDateToday: EndDateToday, StartDateThisWeek: StartDateThisWeek, EndDateThisWeek: EndDateThisWeek, StartDateThisMonth: StartDateThisMonth, EndDateThisMonth: EndDateThisMonth, StartDateThisYear: StartDateThisYear, EndDateThisYear: EndDateThisYear });
    }
    var FirstDayOfWeek = '@ViewBag.FirstDayOfWeek';
    $(document).ready(function () {
        //$(".LoaderWorkingDiv").hide();

        var Today = new Date();
        var Week = Today.getWeek();
        var StartDateToday = Today;
        StartDateToday = Today.getMonth()+1 + "/" + Today.getDate() + "/" + Today.getFullYear();
        var EndDateToday = Today;
        EndDateToday = Today.getMonth()+1 + "/" + Today.getDate() + "/" + Today.getFullYear();
        var StartDateThisWeek = getDateOfISOWeek(Week, Today.getFullYear());
       StartDateThisWeek = StartDateThisWeek.getMonth()+1 + "/" + StartDateThisWeek.getDate() + "/" + StartDateThisWeek.getFullYear();
        var EndDateThisWeek = getDateOfISOWeek(Week, Today.getFullYear()).addDays(6);
        EndDateThisWeek = EndDateThisWeek.getMonth()+1 + "/" + EndDateThisWeek.getDate() + "/" + EndDateThisWeek.getFullYear();
        var StartDateThisMonth = new Date(Today.getFullYear(), Today.getMonth(), 1);
        StartDateThisMonth = StartDateThisMonth.getMonth()+1 + "/" + StartDateThisMonth.getDate() + "/" + StartDateThisMonth.getFullYear();
        var EndDateThisMonth = new Date(Today.getFullYear(), Today.getMonth() + 1, 0);
        EndDateThisMonth =  EndDateThisMonth.getMonth()+1 + "/" + EndDateThisMonth.getDate() + "/" + EndDateThisMonth.getFullYear();
        var StartDateThisYear = new Date(Today.getFullYear(), 0, 1);
        StartDateThisYear = StartDateThisYear.getMonth()+1 + "/" + StartDateThisYear.getDate() + "/" + StartDateThisYear.getFullYear();
        var EndDateThisYear = new Date(Today.getFullYear(), 11, 31);
        EndDateThisYear = EndDateThisYear.getMonth()+1 + "/" + EndDateThisYear.getDate() + "/" + EndDateThisYear.getFullYear();
        console.log("Today: "+ StartDateToday+" "+EndDateToday+"Week: " + StartDateThisWeek+" "+EndDateThisWeek+" Month: " + StartDateThisMonth+" "+EndDateThisMonth +" Year: "+ StartDateThisYear+" "+EndDateThisYear);
     
        var pagenumber = 1;
        $("#LoadDashboardReport").load(domainurl + "/app/ShowAllDashboardCustomerReport", { StartdateToday: StartDateToday, EndDateToday: EndDateToday, StartDateThisWeek: StartDateThisWeek, EndDateThisWeek: EndDateThisWeek, StartDateThisMonth: StartDateThisMonth, EndDateThisMonth: EndDateThisMonth, StartDateThisYear: StartDateThisYear, EndDateThisYear: EndDateThisYear });
         $("#LoadFinancedReport").load(domainurl + "/app/ShowAllFinancedCustomerReport",   { StartdateToday: StartDateToday, EndDateToday: EndDateToday, StartDateThisWeek: StartDateThisWeek, EndDateThisWeek: EndDateThisWeek, StartDateThisMonth: StartDateThisMonth, EndDateThisMonth: EndDateThisMonth, StartDateThisYear: StartDateThisYear, EndDateThisYear: EndDateThisYear });
        
        $('#srch-term').keyup(function () {

            NavigatePageListing(pagenumber);
        })
        $(".DashboardReport_inner").height(window.innerHeight - 43);

    })
    $(window).resize(function () {
        $(".DashboardReport_inner").height(window.innerHeight - 43);
    })
</script>

<div class="DashboardReport_container">
    <div class="DashboardReport_header">
       @Localize.T("Team Performance")
    </div>
    <div class="DashboardReport_inner">
        @*<div class="AllAssignSurveyUser_searchbar">

            <input class="form-control User_search_text" placeholder="Find Survey User" name="srch-term" id="srch-term" type="text">

        </div>*@
        <div id="LoadDashboardReport">

        </div>
        <div id="LoadFinancedReport">

        </div>
        
    </div>
</div>


