@model IEnumerable<HS.Entities.Employee>
@{
    Layout = null;
}
@if (Model.ToList().Count > 0)
{
    <table class="table">
        <tr>

            <th>
                <span>Name</span>
            </th>

            <th>
                <span>Date</span>
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>@(item.FirstName + " " + item.LastName)</span>
                </td>
                <td>
                    <span>@item.DOB.Value.ToString("dd MMMM")</span>
                </td>
            </tr>
        }
    </table>
}

