
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404| Not found</title>
</head>
<body>
    <div>
        <h3>The page your were looking for was not found</h3>
    </div>
</body>
</html>
