
@{ 
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>

        <span>Height</span>
        <input id="height" />
        <span>width</span>
        <input id="width" />
    </div>


    <script>
    var Height = document.getElementById("height");
    Height.value = window.innerHeight;
    var width = document.getElementById("width");
    width.value = window.innerWidth;
    </script>
</body>
</html>
