<!DOCTYPE html>
<html>
<body>
    <style>
        .okbutton{
            height: 34px;
            padding-left: 10px;
            padding-right: 10px;
            float: right;
            margin-right: 25px;
            margin-top: 15px;
            background-color: #2ca01c;
            border-color: #4d8645;
            border: 1px solid #4d8645;
            border-radius: 7px;
            color: white;
        }
        .okbutton:hover{
            box-shadow: 0px 0px 1px 1px #4d8645;
        }
    </style>
    <div id="googleMap" style="width:400px;height:400px; margin:auto;margin-top:30px;"></div>
    <button class="okbutton" onclick="ClosePopUp()">
        OK
    </button>
    <script>
        var lat = '@ViewBag.lat';
        var lng = '@ViewBag.lng'; 
        var InitGoogleMap = function () {
            var myLatlng = new google.maps.LatLng(lat, lng);
            var mapOptions = {
                zoom: 14,
                center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng, 
            });
            marker.setMap(map);
        }
        var ClosePopUp = function () {
            parent.ClosePopup();
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.MapAPIKey&callback=InitGoogleMap"></script>
</body>
</html>