@{
    Layout = null;

}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var DataTablePageSize = 50;
    var StartDateDatepickerSoldToFunded;
    var EndDateDatepickerSoldToFunded;
    var FirstDayOfWeek = '@ViewBag.FirstDayOfWeek';

    var LoadSoldToFundedNav = function () {
          var EmpId = $("#SalesPersonFilter").val();
        $("#SoldToFundedData").load(domainurl + "/app/ShowCustomerFundedDashboardReport", { StartDate: PreviousWeek, EndDate: StartDateThisWeek,EmployeeId:EmpId });
    }
        var Today = new Date();
        var Week = Today.getWeek();
       
      
        var StartDateThisWeek = getDateOfISOWeek(Week, Today.getFullYear()).addDays(-1);
        StartDateThisWeek = StartDateThisWeek.getMonth() + 1 + "/" + StartDateThisWeek.getDate() + "/" + StartDateThisWeek.getFullYear();
        
        var PreviousWeek = getDateOfISOWeek(Week, Today.getFullYear()).addDays(-91);
        PreviousWeek = PreviousWeek.getMonth() + 1 + "/" + PreviousWeek.getDate() + "/" + PreviousWeek.getFullYear();

    $(document).ready(function () {
        StartDateDatepickerSoldToFunded = new Pikaday({
            field: $('#WeeklyStartDateSoldToFunded')[0],
            format: 'MM/DD/YYYY'
        });
 
        //$("#WeeklyStartDateSoldToFunded").val(StartDateThisWeek)
        $("#WeeklyEndDateSoldToFunded").val(StartDateThisWeek);
        $("#dateRange").html(PreviousWeek + " - " + StartDateThisWeek);
        $("#WeeklyStartDateSoldToFunded").change(function () {
            var Today = StartDateDatepickerSoldToFunded._d;
            Week = Today.getWeek();
            StartDateThisWeek = getDateOfISOWeek(Week, Today.getFullYear()).addDays(-1);;
            StartDateThisWeek = StartDateThisWeek.getMonth() + 1 + "/" + StartDateThisWeek.getDate() + "/" + StartDateThisWeek.getFullYear();
    
            PreviousWeek = getDateOfISOWeek(Week, Today.getFullYear()).addDays(-91);
            PreviousWeek = PreviousWeek.getMonth() + 1 + "/" + PreviousWeek.getDate() + "/" + PreviousWeek.getFullYear();
            $("#dateRange").html("");
            $("#dateRange").html(PreviousWeek + " - " + StartDateThisWeek);
            LoadSoldToFundedNav();
        })
        LoadSoldToFundedNav(1);
        $("#FilterWeeksSoldToFunded").change(function () {
            if ($(this).val().split('/').length == 2) {
                var StartingDay = getDateOfISOWeek($(this).val().split('/')[1], $(this).val().split('/')[0]);
                StartDateDatepickerSoldToFunded.setDate(StartingDay);
                var EndingDay = StartingDay.addDays(6);
                EndDateDatepickerSoldToFunded.setDate(EndingDay);
            }
        });
        parent.$("#SalesMatrixFilterBtn").click(function () {
            LoadSoldToFundedNav(1);
        });
        console.log(StartDateThisWeek);
 
    });
</script>
<div class="salesreportcart_container blue_report_bg">
    <span class="salesreportcart_Head">@Localize.T("Sold To Funded")</span>
    <div class="filter-data">
        
            <input type="text" placeholder="Start Date" value="@ViewBag.Today" autocomplete="off" id="WeeklyStartDateSoldToFunded" class="form-control border-radius-0" />
      
        <label id="dateRange"></label>
    </div>
    <div id="SoldToFundedData">

    </div>
</div>

