
@{
    ViewBag.Title = "Deploy";

    string val1 = Request.QueryString["env"];
    switch (val1)
    {
        case "dev":
            System.Diagnostics.Process.Start("C:\\hosting\\www\\control\\dp_dd_nb");
            break;
        case "uat":
            System.Diagnostics.Process.Start("C:\\hosting\\www\\control\\dp_uu_nb");
            break;
        default:
            break;
    }
}

<h2>Deployed @val1</h2>

