.Announcement_header {
    width:100%;
    background-color:#f4f5f8;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
    padding: 12px 10px;
}
.Announcement_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }
#CustomerNoteNewNote {
    resize:none;
}
.item_margin {
    margin-top:10px !important;
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

#btn-AddFollowUpReminder {
    float: right;
    background-color: green;
    color: white;
}
.select2-container{
        width:100% !important;
}
.reminder-form{
       font-size: 14px;
    font-weight: 600;
    color: black;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
.reminder-text{
    margin-top:5px;
}

    .form-group {
        margin: 0;
        padding: 0;
    }

        .form-group h3 {
            /*margin-left: 30px;*/
            font-size: 2rem;
            font-weight: 400;
            color: #393a3d;
        }

    .content-type {
        /*margin-left: 30px;*/
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
        margin-bottom: 4px;
    }

    .content-text {
        height: 32px;
        width: 80%;
        font-size: 13px;
    }

    .followUp_SaveCancelDiv {
    width: 100%;
    padding-top: 8px;
    padding-right: 15px;
    }

    .custom-col {
        width: 18%;
    }

   .Announcement_container .pika-time-container {
  clear: both;
  padding: 7px 0 10px;
  margin-top: 10px;
  text-align: center; }
  .Announcement_container .pika-time-container table {
    margin: 0 auto; }
    .Announcement_container .pika-time-container table td {
      padding: 0 4px; }
  .Announcement_container .pika-time-container label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 7px; }
  .Announcement_container .pika-time-container select {
    background-color: white;
    height: 30px;
    margin: 0 4px; }