
.nav-tabs > li > a {
    background-color: transparent !important;
}

.nav-tabs > li > a {
    background-color: transparent !important;
    color: #454545;
    border: none !important;
}

.nav-tabs > li {
    border: 1px solid #ccc !important;
}

    .nav-tabs > li.active {
        background-color: #2ca01c !important;
    }

.nav-tabs > li {
    border: 1px solid #ccc !important;
}

    .nav-tabs > li.active > a {
        color: white !important;
    }

.sync-credit-score-btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.sync-credit-score-div {
    width: 20%;
    padding-right: 5px;
}


