
.qa_container {
    width: 100%;
    float: left;
    box-sizing: border-box;
    font-size: 15px;
}

.qa_header {
    width: 100%;
    float: left;
    text-align: left;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    padding: 5px 15px;
}
.qa_inner_height {
    width: 100%;
    float: left;
    overflow-x:hidden;
    overflow-y:scroll;
}

.qa_inner {
    width: 100%;
    float: left;
    padding: 20px 15px;
}

.qa_inner_content {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    text-align: justify;
}
    .qa_inner_content .qa_red_color {
        color:#d71920;
    }
    .predefine_check::after {
        content: '\2713';
        position: absolute;
        left: -45px;
        top: -6px;
        font-size: 22px;
    }
.qa_content_space {
    width: auto;
    min-width: 30px;
    border-bottom: 1px solid #000;
    margin: 0px 5px;
    display: inline-block;
    font-weight: normal;
    padding: 0px 5px;
}

.qa_inner_content ol li {
    width:100%;
    float:left;
    margin-bottom: 20px;
    font-weight: bold;
    position:relative;
}

    .qa_inner_content ol li button,
    .qa_inner_content ol li textarea {
        margin: 5px;
        font-weight: normal;
        margin-bottom: 0px;
    }

    .qa_inner_content ol li textarea,
    .qa_block_width {
        width: 500px !important;
        resize: none;
    }

    .qa_inner_content ol li .input-group,
    .qa_inner_content ol li .input_group_for_date {
        width: 500px;
        margin: 5px;
        font-weight: normal;
    }
        .qa_inner_content ol li .input_group_for_date button {
            margin:0px !important;
        }
        .qa_inner_content ol li .input-group.add_address input {
            width: 25%;
            float: left;
        }

        .qa_inner_content ol li .input-group.three_part input {
            width: 33.333%;
            float: left;
        }

        .qa_inner_content ol li .input-group.two_part input,
        .qa_inner_content ol li .input-group.two_part select {
            width: 50%;
            float: left;
        }

        .qa_inner_content ol li .input-group button {
            margin: 0px;
        }
    .qa_inner_content ol li .qa_inner_dropdown {
        width: 200px;
        display: inline-block;
    }
    .qa_block {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        margin-bottom: 10px;
    }

.qa_block_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
    .qa_block_header button {
        float: right;
        border: 1px solid #8d9096;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        color: #393a3d;
        font-weight: 600;
        box-shadow: none;
        cursor: pointer;
        font-size: 1.4rem;
        height: 23px;
        border: 0;
        margin: 0px !important;
        padding: 0px 10px !important;
    
    }
    .qa_block_info {
        width: 100%;
        font-size: 13px !important;
        float: left;
        padding: 10px;
    }

.payment_container {
    overflow-y: auto;
    max-height: 245px;
}

.width_100p {
    float: left;
    width: 100%;
}


#btn_addachpaymentcustomer {
    background-color: #2ca01c;
    color: white;
    float: right;
    border-color: #2ca01c;
    font-weight: 600;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 23px;
    border: 0;
    margin: 0px;
    padding: 0px 10px !important;
}

.payment_info_overview_container {
    width: 100%;
    float: left;
    padding: 10px;
    margin-right: 0px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 4px;
    position: relative;
}

.payment_info_overview_header, .payment_info_overview_info {
    padding: 3px 0px;
}

.payment_info_overview_header {
    width: 175px;
    float: left;
    font-weight: bold;
    text-align: left;
}

}

.payment_info_overview_info {
    width: auto;
    float: left;
    text-align: left;
    word-break: break-all;
}

.payment_info_overview_container .p_info_delete_btn, .payment_info_overview_container .p_info_delete_btn_CC {
    background-color: #d71920;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
}

.qa_check_box {
    width: auto;
    float: left;
    margin-right: 20px;
}

/*new style*/

/*.qa_container [type="radio"]:checked,
.qa_container [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}*/

    .qa_container [type="radio"]:checked + label,
    .qa_container [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 22px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
        font-weight: normal;
    }

.qa_container .qa_black_check {
    color: #000;
    cursor: pointer;
    font-weight: normal;
    margin-bottom:0px;
    margin-right:10px;
}

.qa_container .qa_green_check {
    color: #2ca01c;
    cursor: pointer;
    font-weight: normal;
}

.qa_container .qa_red_check {
    color: #d71920;
    cursor: pointer;
    margin-left: 10px;
    font-weight: normal;
    margin-right: 10px;
}
    .qa_container .qa_black_check input,
    .qa_container .qa_green_check input,
    .qa_container .qa_red_check input {
        margin-right: 3px;
    }

    /*.qa_container [type="radio"]:checked + label:before,
.qa_container [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.qa_container [type="radio"]:checked + label:after,
.qa_container [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.qa_container .qa_green_check [type="radio"]:checked + label:after,
.qa_container .qa_green_check [type="radio"]:not(:checked) + label:after {
    background: #2ca01c;
}

.qa_container .qa_red_check [type="radio"]:checked + label:after,
.qa_container .qa_red_check [type="radio"]:not(:checked) + label:after {
    background: #d71920;
}*/
    .qa_container [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

.qa_container [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.alphabet_list {
    list-style: lower-alpha;
}

.roman_list {
    list-style: lower-roman;
}

/*style form emergency contact*/
.qa_emerg_cont_header {
    font-size: 15px;
    font-weight: 600;
    background: #cfcfcf;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-top: 5px;
}

.qa_emerg_cont_container {
    background-color: #f4f5f8;
    padding: 10px 20px;
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

.qa_add_emerg_cont_container {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 15px 10px;
    margin-top: 10px;
    border-radius: 4px;
}

    .qa_add_emerg_cont_container .span_style {
        font-weight: 600;
        color: #615b5b;
        display: block;
        font-size: 14px;
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }

    .qa_add_emerg_cont_container .col-sm-4 {
        height: 65px;
    }

.qa_emerg_cont_container button {
    float: right;
    margin-left: 10px;
}

.qa_emerg_cont_container #TblEmergencyContactList {
    border: 1px solid #ccc;
}

    .qa_emerg_cont_container #TblEmergencyContactList thead tr {
        border-bottom: 2px solid #ccc;
    }

    .qa_emerg_cont_container #TblEmergencyContactList tbody tr {
        border-bottom: 1px solid #ccc;
    }

        .qa_emerg_cont_container #TblEmergencyContactList tbody tr:nth-child(odd) {
            background-color: #e7eaf1;
        }

        .qa_emerg_cont_container #TblEmergencyContactList tbody tr:hover {
            background-color: #dcdfe5;
        }

.qa_emerg_cont_container .customer-emergency-list-container {
    min-height: unset !important;
}

.qa_textarea_block {
    width: 500px;
    float: left;
}

    .qa_textarea_block textarea {
        resize: none;
    }

    .qa_textarea_block button {
        float: right;
        margin-top: 10px;
    }
.qa_footer {
    width: 100%;
    float: left;
    padding: 5px 15px;
    text-align: right;
    border-top: 1px solid #ccc;
}
