.col_width_big .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
/*.cl_for_mobile_data > div:nth-child(1) {
    width:30px;
    float:left;
}*/
/*.cl_for_mobile_data > div:nth-child(2) {
    width:84%;
    float:left;
}*/
#tblVideo {
    min-width: 99%;
}
.info_style_div_lead {
    width: 18px;
    float: right;
    text-align: center;
    border-radius: 4px;
    color: #2ca01c;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}
.user_list_mgmt #tblVideo {
    table-layout:fixed;
}
.user_list_mgmt #tblVideo thead tr .act_user {
    width:135px !important;
}
.user_list_mgmt #tblVideo thead tr .status_user {
    width:155px !important;
}
.customer-table {
    background-color: ivory;
    width: 100%;
    font-size: 17px;
}

.customer_list_checkbox {
    width: 3%;
    text-align: right !important;
    padding: 10px !important;
}

    .customer_list_checkbox .checkbox {
        margin-right: 0px;
    }

.head1 {
    border: 1px solid #dddddd;
    text-align: center;
    width: 40px;
    border-top: hidden;
    padding-top: 6px;
}

    .head1:hover {
    }

.head2 {
    border: 1px solid #dddddd;
    text-align: left;
    text-transform: uppercase;
    width: 300px;
    border-top: hidden;
    padding-top: 6px;
    background-color: lightgrey;
    word-spacing: 15px;
}

.head3 {
    border: 1px solid #dddddd;
    text-align: left;
    text-transform: uppercase;
    width: 320px;
    border-top: hidden;
    padding-top: 6px;
}

.head4 {
    border: 1px solid #dddddd;
    text-align: right;
    text-transform: uppercase;
    width: 80px;
    border-top: hidden;
    padding-top: 6px;
}

.head5 {
    border: 1px solid #dddddd;
    text-align: right;
    text-transform: uppercase;
    border-top: hidden;
    padding-top: 6px;
}

.custom-icon {
    float: right;
    padding-top: 10px;
    text-align: right;
}

.search-btn {
    padding-left: 80px;
    width: 400px;
}

.custom-btn {
    height: 34px;
}

.drop-col {
    margin-top: 9px;
    height: 34px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0px 5px 0px 5px;
}

.header-content {
    background-color: #ffffff;
    /* padding-left: 15px; */
    padding: 0;
}

.custom_scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.batchActions {
    padding-left: 10px;
    /*padding-top:17px;*/
}

.custom-row {
    border-bottom: 1px solid #dddddd;
}

    .custom-row:hover {
        background-color: #f4f5f8;
    }

.custom-pager {
    float: right;
}

.cus-print {
    font-size: 22px;
    color: #babec5;
}

    .cus-print:hover {
        color: #3b3c40;
    }

.cus-cecel {
    font-size: 22px;
    color: #babec5;
}

    .cus-cecel:hover {
        color: #3b3c40;
    }

.cus-setting {
    font-size: 22px;
    color: #babec5;
}

    .cus-setting:hover {
        color: #3b3c40;
    }

.menu-opt {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-transform: uppercase;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    /*display: none;*/
}

.table-head-border {
    border-bottom: 2px solid #d4d7dc;
}

/*table.dataTable thead > tr > th {
    padding: 10px;
    background-color: #f1f1f2;
    width: 120px !important;
}*/

/*table.dataTable thead > tr > th:first-child {
        width: 4px !important;
    }*/

.dataTables_info {
    display: none !important;
}

.padding-0 {
    padding: 0px;
}

.ActionsDiv {
    float: left;
}

.ActionsDivLeads {
    float: right;
    width: 67px;
}
.ActionsDivLeads .dropdown-toggle {
    margin-left:0px !important;
    border-left:1px solid #fff !important;
}

.ActionsDivLeads li a {
    padding:0px 5px;
}
.lead_action_btn:hover {
    background-color: #f4f5f8;
    color: #000 !important;
}

.searchbardiv {
    margin-top: 8px;
    width: 350px;
    float: left;
    padding: 0px 05px 0px 8px;
}
.info_style_div {
    width: auto;
    float: left;
    background-color: #e6e6e6;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #2ca01c;
    color: #2ca01c;
    cursor:pointer;
}
.custom-icon a {
    padding-right: 10px;
}

.custom-hr {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-right: 15px;
}

table tbody tr td {
    padding: 10px;
}

.checkbox-custom {
    width: 20px;
    /*font-weight: 400;*/
    height: 20px;
    /*background-color: transparent;*/
    border: 1px solid #8d9096;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-top: 11px !important;
}

.width-5p {
    float: left;
    width: 5%;
    padding-right: 5px;
}

.width-15p {
    float: left;
    width: 15%;
    padding-right: 5px;
}

.width-20p {
    float: left;
    width: 20%;
    padding-right: 5px;
}

.width-30p {
    float: left;
    width: 30%;
    padding-right: 5px;
}

.thead-th-style {
    /*border-right: 1px solid #ddd;*/
    padding: 10px;
}

/*.thead-th-style:hover {
        background-color: #ddd !important;
    }*/

.focus:focus {
    background-color: #ddd;
}

.custom-top-padding {
    padding-top: 10px;
}



.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 10px;
}

.tr-style {
    border-bottom: 1px solid #ddd;
}

    .tr-style:hover {
        background-color: #f4f5f8;
    }

.width-33p {
    float: left;
    width: 33%;
}

.customer-information-left-div .width-33p {
    padding-right: 5px;
}

.status {
    padding-bottom: 2px;
    color: #68779b;
    outline: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 1.2rem;
}

.money-bar-contents {
    width: 100%;
    height: 85px;
    text-transform: uppercase;
    display: table;
    box-sizing: border-box;
    padding-top: 8px;
}

.money-bar-left-content {
    width: 25%;
    float: left;
    cursor: pointer;
    height:70px;
}

.money-bar-paid-content {
    width: 100%;
    float: left;
}

.money-bar-right-content {
    width: 25%;
    float: left;
    cursor: pointer;
    height:70px;
}

.estimate {
    background-color: #21abf6;
    color: #ffffff;
    height: 60px;
    padding: 12px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .estimate:hover {
        height: 67px;
        border-top: 6px solid #337192;
    }

.cl_amount {
    margin-bottom: 1px;
    text-transform: none;
    font-weight: 500;
    line-height: 1.21;
    font-size: 15px;
    outline: 0 none;
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    width: 100%;
}



.sub-content {
    outline: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    font-size: 15px;
    text-transform: none !important;
}

.activity {
    background-color: #0077c5;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

.booking {
    background-color: #1920bd;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

.activity:hover {
    height: 67px;
    border-top: 6px solid #2b4e61;
}

.booking:hover {
    height: 67px;
    border-top: 6px solid #040984;
}

.overdue {
    background-color: #ff8000;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    /*cursor: pointer;*/
    width: 100%;
}

    .overdue:hover {
        height: 67px;
        border-top: 6px solid #b97835;
    }


.invoice {
    background-color: #b1b4bb;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .invoice:hover {
        height: 67px;
        border-top: 6px solid #76777b;
    }

.paid {
    background-color: #7fd000;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .paid:hover {
        height: 67px;
        border-top: 6px solid #6d962d;
    }

.dataTables_scrollHeadInner {
    min-width: 100% !important;
}

.display {
    min-width: 100% !important;
}

.dataTable {
    min-width: 100% !important;
}

.no-footer {
    min-width: 100% !important;
}

.dataTables_scrollHeadInner {
    min-width: 100%;
}
/*.input-group{
    width : 100% !important;
}*/

.name-anchor-style {
    color: #2ca01c !important;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

    .name-anchor-style:hover {
        color: #2ca01c !important;
        cursor: pointer;
        text-decoration: none;
    }

#srch-term {
    margin-top: 0px;
}

.invoice-button {
    border: none !important;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

    .invoice-button:hover {
        background-color: transparent !important;
    }

    .invoice-button:active {
        background-color: #b1b4bb !important;
    }

.invoice-item {
    color: black !important;
    background: none !important;
}

.background-color-ffffff {
    background-color: white;
}

.padding-top-8px {
    padding-top: 8px;
}

.black-border {
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.background-color-ffffff:focus {
    background-color: #ffffff !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: 0;
}

.custom_column_dropdown {
    width: auto !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-color: #b1b4bb !important;
    border: 1px solid #666 !important;
    font-size: 13px;
    margin-top: 4px !important;
    padding: 4px 0px 4px 0px !important;
}

.customer-dropdown-ul-style {
    /*top: 29px;*/
    border: 1px solid #666 !important;
    font-size: 13px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
    min-width: 100% !important;
}

.dropallign {
    padding: 7px 6px;
}

a {
    color: #555;
}

    a:hover {
        color: #2ca01c;
    }

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    background-color: #2ca01c !important;
    border-color: #2ca01c !important;
}

.statement-style {
    display: block !important;
    font-weight: 400 !important;
    line-height: 1.42857143;
    color: #333 !important;
    white-space: nowrap;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 19px !important;
}

.select2-container {
    width: 100% !important;
}

.custom-iconleads {
    float: right;
    padding-top: 8px;
    text-align: right;
}

.displayNone {
    display: none;
}

.addressMapPopup:hover {
    cursor: pointer;
}

.even-row-style {
    background-color: #f8f8f8;
}

.filter-customer-container p {
    margin: 0;
    line-height: 20px;
}

.filter-customer-container .table-head .thead-th-style {
    cursor: pointer;
}


.AgencyListPagination {
    position: relative;
    right: 10px;
    padding-top: 10px;
}

.paginationContainer {
    height: 50px;
    float: right;
    position: relative;
    min-width: 265px;
    padding-top: 10px;
}

.paginationtextdv {
    width: 30%;
    float: left;
    text-align: center;
    padding: 7px 0px;
}

.paginationMiddleButtondv {
    width: auto;
    float: left;
}

    .paginationMiddleButtondv .PaginationButtons {
        border-radius: 4px 0px 0px 4px;
    }

.paginationRightButtondv .PaginationButtons {
    border-radius: 0px 4px 4px 0px;
}

.PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
}

.NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
}

.activeBtn {
    background-color: #2ca01c !important;
    color: #fff;
    border: none;
    width: 35px;
    padding: 6px 12px;
}

.paginationRightButtondv {
    width: auto;
    float: left;
}

.filter-customer-container {
    width: 100%;
    float: left;
    border: 2px solid #eee;
    margin-top: 10px;
    border-radius: 5px;
}

    .filter-customer-container .tbody-container:nth-child(even) {
        background-color: #f8f8f8;
    }


.table-head {
    border-bottom: 2px solid #ddd;
    /*border-top: 2px solid #ddd;*/
    margin-bottom: 0;
    /*background: #f4f5f8;*/
    font-size: 14px;
    font-weight: bold;
}

.checkbox-custom-width {
    width: 40px !important;
    padding: 0px;
}

.email-format {
    text-transform: lowercase;
    word-wrap: break-word;
}

.heding_custom {
    font-size: 15px;
}

.custom_center {
    text-align: left;
    /*border-right: 1px solid #cccccc;*/
}

.down_arrow_style {
    float: left;
    padding-top: 13px;
    padding-right: 4px;
    margin-left: 10px;
}

.padd_left {
    /*padding-left: 35px;*/
}

.custom_checkbox {
    padding-top: 0px !important;
}

.check_custom {
    padding-top: 17px !important;
}

.batchActions input[type="checkbox"]:checked + label:before {
}

.manual_left {
    margin-left: 0px !important;
    margin-top: 12px !important;
}

.settings_style {
    min-width: 25px;
    width: 53% !important;
    margin-top: 0px !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-color: #b1b4bb !important;
}

.manual_aasign {
    left: 12% !important;
}

.heading_for_mobile {
    display: none;
}

.import_leads_dropdown {
    top: 29px !important;
    position: absolute;
    right: 0px;
    left: unset;
}

.custom_setting_lead {
    min-width: unset !important;
}

.lead_list_view > tbody > tr:nth-child(even) {
    background-color: #f8f8f8;
}

    .lead_list_view > tbody > tr:nth-child(even):hover {
        background-color: #f4f5f8;
    }

#tblCustomerList thead tr th:nth-child(2) {
    width: 22%;
}

.customer-log {
    float: left;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding-left: 5px;
    background-color: #f4f8f5;
    margin-right: 5px;
    position: relative;
}

    .customer-log .viewlist-anchor {
        padding: 5px;
        color:#2ca01c;
    }

    .customer-log .viewlist-snap {
        font-size: 12px;
        font-style: italic;
        padding: 5px;
    }

.InActiveCustomerNameStyle {
    color: #d71920;
}

.customer-header {
    /*border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 5px 5px 0px 5px;*/
    height: 40px;
}

.customer-header-text {
    width: 94%;
    float: left;
}

.customer-header-icon {
    width: 6%;
    float: left;
}

.icon_sort_customer {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
.customer_lite_container .filter-customer-container .clfn_table_width {
    width: 16%;
    float: left;
}

.customer_lite_container {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}


@media(max-width:1024px) {
    .customer-dropdown-ul-style {
        top: 34px;
    }

    .import_leads_dropdown {
        top: 29px !important;
    }

    .lead_list_view > thead > tr > th {
        padding: 0px;
    }

    .custom_setting_lead {
        min-width: unset !important;
    }

    .ActionsDivLeads_custom {
        width: 155px;
    }
}

@media (max-width:991px) {
    .filter-customer-container .clfn_table_width {
        width: 100% !important;
    }

    .customer_list_checkbox {
        width: 4%;
        border-bottom: 0px;
    }
}

@media(max-width:768px) {
    
.searchbardiv {
    padding: 0px;
}
     .money-bar-left-content,
    .money-bar-right-content {
        width:50%;
    }

    .lead_list_device_row {
        width: 100% !important;
        float: left !important;
        padding: 5px 10px !important;
        border-bottom: 1px solid #e7e7e7;
    }

    .lead_list_view .lead_list_device_row:nth-child(1) {
        width: 8% !important;
        border-bottom: 0px;
    }

        .lead_list_view .lead_list_device_row:nth-child(1) .checkbox {
            margin-top: 0px;
            margin-bottom: 0px;
        }

    .ActionsDivLeads_custom {
        float: left !important;
        padding: 5px 0px;
    }

    .customer-fliter-list {
    }

    .fliter-list {
        right: 0px;
    }

    .manual_aasign {
        left: 57.5% !important;
        width: 39% !important;
    }

    .customer-dropdown-ul-style {
        min-width: unset !important;
    }

    .settings_style {
        margin-top: 35px !important;
    }

    .header_hide {
        display: none;
    }
    /*.table-body-td-style {
        width: 100%;
        float: left;
        text-align: left;
        line-height:none;
         padding:3px !important;
    }*/
    .heading_for_mobile {
        display: block;
        width: 40%;
        float: left;
        font-weight: bold;
    }

    .content_for_mobile {
        float: right;
        width: 60%;
        word-break: break-word;
    }

    .lead_list_colorfull_bar .width-50p {
        width: 100%;
    }

    .money-bar-contents {
        height: auto;
    }
}

@media(max-width:414px) {
   
    .Export_excel_customer {
        padding-top: 10px;
    }

    .filter-customer-container .table-body-td-style,
    .filter-customer-container .customer_list_checkbox {
        padding: 0px 10px !important;
    }

    .customer_list_checkbox {
        width: 8%;
    }

    .Estimate-table {
        padding-bottom: 45px;
    }

  

    .searchbardiv {
        width: 100%;
    }

    .customer-fliter-list {
        left: auto;
        right: 0px;
        margin: 5px 0px;
        width: 100%;
    }

    .settings_style {
        margin-top: 75px !important;
    }

    .fliter-list {
        right: 0px;
    }

    .custom-icon {
        float: right !important;
        width: 24%;
        padding: 0px;
        margin: -28px 40px 0px 0px;
    }
}

@media(max-width:375px) {
    .dropdown_list_table {
        width: 100%;
    }

    .header-content {
        margin-top: 0px;
    }
    /*.customer-list-filter {
        top:39px;
    }*/
    .dropbtn {
        padding: 6px 19px;
        font-size: 16px;
        letter-spacing: 1.6px;
    }

    .custom-icon {
        width: 35%;
        margin: 6px 40px 0px 0px;
    }

    .customer-dropdown-ul-style {
        min-width: unset !important;
    }

    .settings_style {
        margin-top: 75px !important;
    }
}

@media(max-width:360px) {
}

@media(max-width:320px) {
    .sub-content {
        font-size: 13px;
    }

    .dropbtn {
        letter-spacing: unset;
    }

    .equipment-list-filter {
        margin-left: 117px;
    }

    .pad_right_none {
        padding-right: 0px;
    }

    .manual_aasign {
        left: 53% !important;
        width: 47% !important;
    }

    .settings_style {
        margin-top: 74px !important;
    }
}


.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #2ca01c;
}

.unpaidamount_click {
    cursor: pointer;
}
#activity.cl_for_mobile_data {
    top: 300px;
    left: 700px;
}


/*customer list custom css start*/


 .sublist_datefilter {
    width: 17%;
    float: left;
}

.customerlist_button {
    width: 12%;
    float: right;
}

.width-100p {
    width: 100%;
    float: left;
}

.customer-list-filter {
    float: left;
    margin-right: 5px;
}

.dropdown_list_table {
    width: 100%;
}

.customer-fliter-list_Toggle {
    display: none;
    width: 100%;
    float: left;
    position: relative;
    background: #fff;
    border: 2px solid #eee;
    z-index: 2;
    padding: 5px 0px;
    margin-top: 10px;
    border-radius:5px;
    /*width: 290px;*/
}

.btn_customerlist_filter,
.btn_customerlist_filter:hover,
.btn_customerlist_filter:focus {
    background-color: #2ca01c;
    color: #fff;
}

    .btn_customerlist_filter .glyphicon {
        color: #fff !important;
    }

.left-items {
    left: 0;
}

.right-items {
    right: 0;
}

.btn-filter {
    border: none;
    background: transparent;
    height: 27px;
    font-size: 27px;
    color: #999999;
}

.down_style {
    font-size: 34px;
    padding-left: 10px;
    color: #999999;
    margin-top: -8px;
}

.sub-list {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.customer-fliter-list .sub-list {
    padding-left: 0px;
    padding-right: 5px;
    width: 9%;
    float: left;
}

.sub-list span {
    font-weight: 600;
    display: block;
    padding-bottom: 2px;
}

.sub-list-btn {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.customer-fliter-list .sub-list-btn {
    padding-top: 0px;
    width: 13%;
    float: right;
}

/*.btn-reset-filter {
    border: none;
    background: #ddd !important;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}*/

/*.btn-apply-filter {
    border: none;
    background: #ddd !important;
    height: 35px;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}*/
.btn-apply-filter {
    float: right;
}

.btn-reset-filter {
    float: left;
}

.dropbtn {
    background-color: #ddd;
    color: black;
    padding: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.list-style {
    position: relative;
    display: inline-block;
}

/*.dropdown-content {
        display: none;
        position: absolute;

        min-width: 100%;

        z-index: 1;
    }*/
.dropdown:hover .dropdown-content {
    display: block;
}


.customer-dropdown-ul-style-cogwheel {
    /*width: 20px !important;*/
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-color: #b1b4bb;
    right: 20px;
    border: 2px solid #ddd !important;
    left: inherit;
}

#OthersCustomerFilter {
    margin-left: 5px;
}

.customer_list_search {
    width: 100%;
    float: left;
    padding-top: 15px;
}

.customer_list_custom_icon {
    width: 5%;
    float: left;
    text-align: right;
    padding-right: 15px;
    font-size: 20px;
}

/*customer list  top filter css start*/

.customer_filter_ul {
    list-style: none;
    /*display: flex;*/
    position: relative;
}

.customer_filter_li {
    flex: 1;
    margin: 0.4rem;
    position:relative;
}

.box {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0rem;
}

.customer_filter_li .box button {
    width: 100%;
}
/* 4 or more items display to the left and with more margin,
        except the first item*/
.customer_filter_li:first-child:nth-last-child(n + 13) ~ .customer_filter_li {
    margin-left: 1rem;
}

.customer_filter_li {
    width: 18%;
    float: left;
    margin: 5px 1%;
    height: 55px;
}
    .customer_filter_li .dropdown-menu {
        z-index: 9999999;
    }
.customer_filter_li .filter-option {
    font-weight:normal !important;
}
/*customer list  top filter css end*/
@media (max-width:1430px) {
    .customer_filter_ul {
        display: unset;
    }

    .customer_filter_li {
        width: 18%;
        float: left;
        margin: 5px 1%;
        height: 55px;
    }

    .customer_filter_ul .device_float {
        float: right;
    }
}

@media(max-width:768px) {
    .customer_filter_ul .device_float {
        float: right;
    }

    .customer_filter_ul {
        display: unset;
    }

    .customer_filter_li {
        width: 31%;
        float: left;
        margin: 5px 1%;
    }

    .customer-fliter-list .sub-list {
        width: 20%;
    }

    .sublist_datefilter {
        width: 40%;
        padding-right: 5px;
    }

    .customerlist_button {
        width: 25%;
        padding-right: 5px;
    }

    #OthersCustomerFilter {
        margin-left: 0px;
    }

    .customer_view_list_container {
        display: none;
    }

    .arrow_hide {
        display: none;
    }

    .customer_list_search {
        padding-left: 0px !important;
    }

    .cl_search_bar {
        width: 80% !important;
    }

    .customer-content-list {
        margin-top: 20px;
        padding-left: 15px;
    }

    .customer-log {
        margin-top: 10px;
    }
}

@media(max-width:414px) {
    .customer_filter_li {
        width: 98%;
    }

    .customer_list_search {
        width: 100%;
    }

    .customer_list_custom_icon {
        width: 10%;
        padding-top: 10px;
    }

    .customerlist_button {
        width: 50%;
        padding-right: 5px;
    }

    #OthersCustomerFilter {
        margin-left: 0px;
    }

    .customer-fliter-list .sub-list {
        width: 50%;
    }

    .sublist_datefilter {
        width: 50%;
        padding-bottom: 5px;
        padding-right: 5px;
    }

    .cl_search_bar {
        width: 73% !important;
        padding-left: 5px !important;
        padding-right: 5px;
    }

    .dropbtn {
        padding: 6px 11px;
    }

    .customer-dropdown-ul-style-cogwheel {
        right: 0px;
    }
}
/*customer list custom css end*/