.sublist_datefilter {
    width: 17%;
    float: left;
}

.customerlist_button {
    width: 12%;
    float: right;
}
   .width-100p {
        width:100%;
        float:left;
    }

.customer-list-filter {
    float: left;
    margin-right: 5px;
}

.dropdown_list_table {
    width: 100%;
}

.customer-fliter-list_Toggle {
    display: none;
    width: 100%;
    float: left;
    position: relative;
    background: #fff;
    border: 2px solid #ddd;
    z-index: 2;
    padding: 5px 0px;
    margin-top:10px;
    /*width: 290px;*/
}
.btn_customerlist_filter,
.btn_customerlist_filter:hover,
.btn_customerlist_filter:focus {
    background-color:#2ca01c;
    color:#fff;
}
.btn_customerlist_filter .glyphicon {
    color: #fff !important;
}

.left-items {
    left: 0;
}

.right-items {
    right: 0;
}

.btn-filter {
    border: none;
    background: transparent;
    height: 27px;
    font-size: 27px;
    color: #999999;
}

.down_style {
    font-size: 34px;
    padding-left: 10px;
    color: #999999;
    margin-top: -8px;
}

.sub-list {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.customer-fliter-list .sub-list {
    padding-left: 0px;
    padding-right: 5px;
    width: 9%;
    float: left;
}

.sub-list span {
    font-weight: 600;
    display: block;
    padding-bottom: 2px;
}

.sub-list-btn {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.customer-fliter-list .sub-list-btn {
    padding-top: 0px;
    width: 13%;
    float: right;
}

/*.btn-reset-filter {
    border: none;
    background: #ddd !important;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}*/

/*.btn-apply-filter {
    border: none;
    background: #ddd !important;
    height: 35px;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}*/
.btn-apply-filter{
    float:right;
}
.btn-reset-filter{
    float:left;
}
.dropbtn {
    background-color: #ddd;
    color: black;
    padding: 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.list-style {
    position: relative;
    display: inline-block;
}

/*.dropdown-content {
        display: none;
        position: absolute;

        min-width: 100%;

        z-index: 1;
    }*/
.dropdown:hover .dropdown-content {
    display: block;
}


.customer-dropdown-ul-style-cogwheel {
    /*width: 20px !important;*/
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-color: #b1b4bb;
    right: 20px;
    border: 2px solid #ddd !important;
    left: inherit;
}

#OthersCustomerFilter {
    margin-left: 5px;
}

.customer_list_search {
    width: 100%;
    float: left;
    padding-top: 15px;
}

.customer_list_custom_icon {
    width: 5%;
    float: left;
    text-align: right;
    padding-right: 15px;
    font-size: 20px;
}

/*customer list  top filter css start*/

.customer_filter_ul {
    list-style: none;
    /*display: flex;*/
    position: relative;
}

.customer_filter_li {
    flex: 1;
    margin: 0.4rem;
}

.box {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0rem;
}

.customer_filter_li .box button {
    width: 100%;
}
/* 4 or more items display to the left and with more margin,
        except the first item*/
.customer_filter_li:first-child:nth-last-child(n + 13) ~ .customer_filter_li {
    margin-left: 1rem;
}
.customer_filter_li {
        width: 18%;
        float: left;
        margin: 5px 1%;
        height: 55px;
    }
/*customer list  top filter css end*/

@media (max-width:1430px) {
    .customer_filter_ul {
        display: unset;
    }

    .customer_filter_li {
        width: 18%;
        float: left;
        margin: 5px 1%;
        height: 55px;
    }

    .customer_filter_ul .device_float {
        float: right;
    }
}

@media(max-width:768px) {
    .customer_filter_ul .device_float {
        float: right;
    }

    .customer_filter_ul {
        display: unset;
    }

    .customer_filter_li {
        width: 31%;
        float: left;
        margin: 5px 1%;
    }

    .customer-fliter-list .sub-list {
        width: 20%;
    }

    .sublist_datefilter {
        width: 40%;
        padding-right: 5px;
    }

    .customerlist_button {
        width: 25%;
        padding-right: 5px;
    }

    #OthersCustomerFilter {
        margin-left: 0px;
    }

    .customer_view_list_container {
        display: none;
    }

    .arrow_hide {
        display: none;
    }

    .customer_list_search {
        padding-left: 0px !important;
    }

    .cl_search_bar {
        width: 80% !important;
    }

    .customer-content-list {
        margin-top: 20px;
        padding-left: 15px;
    }

    .customer-log {
        margin-top: 10px;
    }
}

@media(max-width:414px) {
    .customer_filter_li {
        width: 98%;
    }

    .customer_list_search {
        width: 100%;
    }

    .customer_list_custom_icon {
        width: 10%;
        padding-top: 10px;
    }

    .customerlist_button {
        width: 50%;
        padding-right: 5px;
    }

    #OthersCustomerFilter {
        margin-left: 0px;
    }

    .customer-fliter-list .sub-list {
        width: 50%;
    }

    .sublist_datefilter {
        width: 50%;
        padding-bottom: 5px;
        padding-right: 5px;
    }

    .cl_search_bar {
        width: 80% !important;
        padding-left: 0px !important;
    }

    .dropbtn {
        padding: 6px 11px;
    }

    .customer-dropdown-ul-style-cogwheel {
        right: 0px;
    }
}
