
        .CustomerCreditBalanceTransactions_container {
            width: 100%;
            float: left;
        }
.CustomerCreditBalanceTransactions_header {
    width: 100%;
    background-color: #f4f5f8;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
    padding: 12px 10px;
}
.ccbt_table {
    width:100%;
    float:left;
    padding:10px;
    overflow:auto;
    height:83vh;
}
.ccbt_table table {
     width:100%;
    float:left;
    table-layout:fixed;
}
.ccbt_table table thead tr td,
.ccbt_table table tbody tr td {
    padding:5px;
}
.ccbt_table table thead tr td {
    font-weight:bold;
}
.ccbt_table table thead tr td:nth-child(2),
.ccbt_table table thead tr td:nth-child(3){
    /*text-align:center;*/
}
.ccbt_table table thead {
    border-bottom:2px solid #ccc;
}
.ccbt_table table tbody tr {
    border-bottom:1px solid #ccc;
}
.ccbt_table table tbody tr td:nth-child(2),
.ccbt_table table tbody tr td:nth-child(3) {
    /*text-align:center;*/
}
.ccbt_table table tbody tr td:nth-child(4) {
    word-break:break-all;
}
.refund_credit{
    margin: 10px;
    float: right;
}
@media (max-width:414px) {
    .CustomerCreditBalanceTransactions_header {
        font-size:16px;
    }
}
