.cmnd_container {
    width: 100%;
    float: left;
    color: #393a3d;
}
.cmnd_header {
    width: 100%;
    float: left;
    text-align: left;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
    font-size: 2.4rem;
    padding:5px 15px;
}
.cmnd_header a {
    margin-left: 5px;
    color: #2ca01c;
}
.cmnd_inner_height {
    width:100%;
    float:left;
    overflow-x:hidden;
    overflow-y:auto;
}
.cmnd_inner {
    width: 100%;
    float: left;
    padding: 15px;
}
.cmnd_inner_left {
    width: 50%;
    float: left;
}
.cmnd_inner_right {
    width: 50%;
    float: left;
    padding-left:15px;
}
    .cmnd_block {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        margin-bottom: 10px;
    }
.cmnd_block_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
.cmnd_block_info {
    width: 100%;
    float: left;
    padding:10px;
}
    .cmnd_block_info table tr th {
        border-top:1px solid #ccc !important;
    }
    .cmnd_block_info table tr th,
    .cmnd_block_info table tr td {
        border: 1px solid #ccc;
    }
    .cmnd_block_info table tbody tr:hover {
        background-color: #f4f5f8;
    }
    .cmnd_block_info table tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
.cmnd_small_header {
    width: 65px;
    float: left;
    font-weight: bold;
}
.cmnd_pic {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    border: 2px solid #fff;
    box-shadow: 0 0 4px #888;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
    .cmnd_pic img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        margin: auto;
    }
.cmnd_full {
    width: 110px;
    float:left;
    padding-bottom:5px;
}