.inspection_container {
    width: 100%;
    float: left;
}


.inspection_container_inner {
    width: 100%;
    float: left;
    margin: auto;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
.inspection_container_inner textarea {
    resize:none;
}
    .inspection_container_inner label {
        margin-bottom: 0px;
    }

.inpection_header {
    width: 100%;
    float: left;
    font-size: 2.4rem;
    padding: 5px 20px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.inpection_footer {
    width: 100%;
    float: left;
    background-color: #393a3d;
    padding: 8px 15px;
    text-align: right;
}

    .inpection_footer button,
    .inpection_footer button:hover,
    .inpection_footer button:focus {
        background-color: #2ca01c;
        color: #fff;
    }

.inspection_top_info {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.inspection_top_info_left {
    width: 50%;
    float: left;
    text-align: left;
}

.inspection_top_info_right {
    width: 50%;
    float: left;
}

    .inspection_top_info_right .insp_date {
        width: 200px;
        float: right;
    }
    
     .inspection_top_info_right .insp_cust_info_block {
        width: 400px;
        float: right;
    }
    .inspection_top_info_right .insp_full {
        width: 100%;
        float: left;
    }

.inspection_top_info_logo {
    width: 200px;
    height: 100px;
    position: relative;
    border: 1px solid #ccc;
}

    .inspection_top_info_logo img {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        max-width: 100%;
    }

.ins_company_info {
    width: auto;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
}

.inspection_block {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


.inspection_sub_header {
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: bold;
    background: #cfcfcf;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
}

.inspection_block_inner {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    padding: 10px;
}

.inspection_temp_left {
    width: 100%;
    float: left;
    padding-left: 10px;
}

    .inspection_temp_left .form-group {
        width: 25%;
        float: left;
        padding-right: 15px;
    }

.inspection_temp_right {
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 15px;
}

.inspection_temp_right_inner {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.inspection_temp_right .form-group {
    width: 25%;
    float: left;
    padding-right: 15px;
}

.inspection_inner_sub_header {
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: bold;
    background: #e0e1e4;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 5px;
    border: 1px solid #ccc;
}

.inspection_block .ins_other {
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-left: 10px;
}

.visual_inspection_block_inner {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    padding: 10px;
    padding-left: 20px;
}

    .visual_inspection_block_inner .form-group {
        width: 25%;
        float: left;
        padding-right: 15px;
    }

    .visual_inspection_block_inner .visual_other {
        width: 100%;
        float: left;
    }

.base_eval_block_inner {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    padding: 10px;
    padding-right: 25px;
    padding-left: 20px;
}

.base_eval_info {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

    .base_eval_info label {
        width: 100%;
        float: left;
    }

    .base_eval_info select {
        width: 20%;
        float: left;
    }

    .base_eval_info input {
        width: 79%;
        float: left;
        margin-left: 1%;
    }

.base_eval_full select,
.base_eval_full input {
    width: 100%;
    margin-left: 0px;
}

.base_eval_half select {
    width: 50%;
    float: left;
}

    .base_eval_half select:nth-child(even) {
        width: 48% !important;
        float: left;
        margin-right: 2% !important;
    }

.base_eval_others {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.base_eval_block_inner .base_eval_info:nth-child(odd) {
    padding-right: 25px;
}

.base_eval_text_block {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 16px;
    padding-top: 10px;
}

.base_draw_block_inner {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    padding: 10px;
    padding-right: 25px;
    padding-left: 20px;
    padding-bottom:195px;
}

    /*.base_draw_block_inner div {
        width: 100%;
        float: left;
        background-color: #fff;
        height: 195px;
    }*/
    .base_draw_block_inner .ins_draw_block_half_center {
        width: 300px;
        margin-left:400px;
        text-align:left;
        height:195px;
    }

.ins_footer_block_inner {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    padding: 10px;
    padding-right: 25px;
    padding-left: 20px;
}

    .ins_footer_block_inner label {
        width: 100%;
    }

    .ins_footer_block_inner .ins_footer_block_half_left {
        width: 300px;
        float: left;
        text-align:left;
    }
     .ins_footer_block_inner .ins_footer_block_half_right {
        width: 300px;
        float: right;
        text-align:left;
    }
     
        .insp_customer_info {
                border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
    padding: 5px;
    min-height: 105px;
        }
        .insp_customer_info div {
            width:100%;
            float:left;
        } 
        .ins_footer_block_inner canvas {
            height:195px;
        }
        .sign-document {
            position:relative;
        }
        .sign-document button {
            position:absolute;
            top:0px;
            right:0px;
            background-color:#d71920;
            color:#fff;
            border:0px;
        }
        .sign-document button:hover,
        .sign-document button:focus {
             background-color:#d71920;
            color:#fff;
             border:0px;
        }
       

@media (max-width:768px) {
    .inspection_temp_left .form-group,
    .inspection_temp_right .form-group,
    .visual_inspection_block_inner .form-group {
    width: 33.33%;
}
    .base_eval_info {
        width:100%;
    }
    .base_eval_block_inner .base_eval_info:nth-child(odd) {
        padding-right:0px;
    }
}
@media (max-width:414px) {
    .inpection_header {
        font-size:20px;
        text-align:left;
    }
    .inspection_top_info_left,
    .inspection_top_info_right {
        width:100%;
    }
    .ins_company_info {
        padding-left:0px;
    }
    .inspection_top_info_right {
        border-top: 1px solid #ccc;
        margin-top: 15px;
        padding-top: 15px;
    }
    .inspection_top_info_right .insp_date {
        float:left;
    }
    .inspection_top_info_right .insp_cust_info_block {
        width:100%;
    }
    .inspection_sub_header {
        font-size:12px;
        word-spacing:unset;
    }
    .inspection_temp_left {
        padding-left:0px;
    }
    .inspection_temp_left .form-group, .inspection_temp_right .form-group, .visual_inspection_block_inner .form-group,
    .inspection_block .ins_other {
       width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
    .inspection_temp_right {
        padding:0px;
    }
    .visual_inspection_block_inner {
        padding-left:10px;
    }
    .base_eval_block_inner,
    .base_draw_block_inner,
    .ins_footer_block_inner {
        padding-right: 10px;
        padding-left: 10px;
    }
    .base_eval_info select {
    width: 30%;
}
    .base_eval_info input {
    width: 69%;
}
    .base_eval_full select, .base_eval_full input {
        width:100%;
    }
    .base_eval_half select {
        width:50% !important;
    }
   .ins_footer_block_inner .ins_footer_block_half_left,
   .ins_footer_block_inner .ins_footer_block_half_right{
       width:100%;
   }
}