.lmcseb_container {
    width: 100%;
    float: left;
}

.lmcseb_header {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
    padding: 12px 10px;
    border-bottom: 2px solid #ccc;
}

.lmcseb_inner_height {
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.lmcseb_inner {
    width: 100%;
    float: left;
    padding: 15px;
}

    .lmcseb_inner label {
        cursor: pointer;
    }

.lmcseb_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}

.lmcseb_block_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}

.lmcseb_info {
    width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 10px 0px 10px 10px;
}

    .lmcseb_info table {
        width: 100%;
        float: left;
    }

        .lmcseb_info table thead tr {
            border-bottom: 2px solid #ccc;
        }

            .lmcseb_info table thead tr th,
            .lmcseb_info table tbody tr td {
                padding: 10px;
            }

        .lmcseb_info table tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }

        .lmcseb_info table tbody tr:hover {
            background-color: #f4f5f8;
        }

.lmcseb_footer {
    width: 100%;
    float: left;
    text-align: right;
    background-color: #f4f5f8;
    color: #393a3d;
    padding: 12px 10px;
    border-top: 2px solid #ccc;
}

    .lmcseb_footer button,
    .lmcseb_footer button:hover,
    .lmcseb_footer button:focus {
        background-color: #2ca01c;
        color: #fff;
    }
