.shoh_container {
    width:100%;
    float:left;
}
.shoh_header {
    width: 100%;
    float: left;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #eceef1;
    border-bottom:1px solid #ccc;
}
.shoh_inner {
    width: 100%;
    float: left;
    padding: 10px 15px;
    overflow-x:hidden;
    overflow-y:auto;
}
.shoh_table tr th,
.shoh_table tr td {
    border:1px solid #ccc;
    border-top:1px solid #ccc !important;
}
.shoh_table tbody tr:nth-child(odd) {
    background-color:#f8f8f8;
}
.shoh_table tbody tr:hover {
    background-color: #f4f5f8;
}