@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    var NavigatePageListing = function (pagenumber) {
        var searchText = $("#srch-term").val();
        $("#LoadSurveyUser").load(domainurl + "/Survey/ShowAllAssignSurveyUser", { PageNumber: pagenumber, SearchText: searchText });
    }
    $(document).ready(function () {
        //$(".LoaderWorkingDiv").hide();
        var pagenumber = 1;
        $("#LoadSurveyUser").load(domainurl + "/Survey/ShowAllAssignSurveyUser", { PageNumber: pagenumber });

        $('#srch-term').keyup(function () {

            NavigatePageListing(pagenumber);
        })
        $(".AllAssignSurveyUser_inner").height((window.innerHeight - $(".AllAssignSurveyUser_header").height() - 20));
       
    })
    $(window).resize(function () {
        $(".AllAssignSurveyUser_inner").height((window.innerHeight - $(".AllAssignSurveyUser_header").height() - 20));
    })
</script>

<div class="AllAssignSurveyUser_container">
    <div class="AllAssignSurveyUser_header">
        @Localize.T("Manage Survey")
    </div>
    <div class="AllAssignSurveyUser_inner">
        <div class="AllAssignSurveyUser_searchbar">

            <input class="form-control User_search_text" placeholder="Find Survey User" name="srch-term" id="srch-term" type="text">

        </div>
        <div id="LoadSurveyUser">

        </div>
    </div>
</div>

