
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script src="~/Content/Js/SurveySettings/SurveySettings.js"></script>
<link href="~/Content/Css/Survey/SurveySettingsPartial.css" rel="stylesheet" />
<div class="survey_settings_partial_container">
    <div class="survey_settings_header_container">
        <div class="survey_settings_partial_header">@Localize.T("Survey Setup")</div>
        <div class="survey_settings_partial_btn">
            <button class="btn add-package" id="add-Package" type="button" onclick="OpenTopToBottomModal(domainurl + '/Survey/ManageSurveyUser')">
                <i class="glyphicon glyphicon-cog"></i> @Localize.T("Manage Survey")
            </button>
            <button class="btn add-package" id="add-Package" type="button" onclick="AddNewSurvey()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
            </button>
        </div>
    </div>
      
            
            <div id="ShowSurveyList">
              
               
            </div>
</div>