    .activity_list_container {
        width:100%;
        float:left;
        padding:5px 15px 0px 15px;
    }
    .activity_list_header {
        width:30%;
        float:left;
        font-size:30px;
        text-align:left;
    }
    .activities_fixed_header #btnAddActivity,
    .activities_fixed_header #btnAddActivity:focus,
    .activities_fixed_header #btnAddActivity:hover {
        float:right;
        background-color:#2ca01c;
        color:#fff;
    }
    .inputdiv {
        float: left;
        width: 255px;
    }
    .activities_fixed_header {
            position: fixed;
    background-color: #fff;
    z-index: 3;
    margin-top: -5px;
    padding-top: 5px;
    }
     .activities_fixed_header .activities_export {
    float:right;
}
    .activities_export .ImportPanel {
      padding: 5px;
    border: 1px solid #ccc !important;
    width: 150px;
    position: absolute;
    right: -81px;
    left: unset;
    top: 40px;
}
    .activities_export .ImportPanel::before {
            content: '';
    position: absolute;
    top: -14px;
    left: 52px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #CBCBCB;
    }
    #btnAddActivity {
        margin-left:10px;
    }
    #activity_search_container{
        width:100%;
        float:left;
        padding:5px 0px 10px;
        margin-top:50px;
    }
    #activity_search_container #searchbardiv {
        float:left;
        width:300px;
    }

    #LoadActivityList {
        width:100%;
        float:left;
    }

   .Activity_container {
       width:100%;
       float:left;
   }
   .Acticity_container  .paginationtextdv {
       font-weight:bold;
       padding: 5px 10px;
   }
   .Activity_table {
       width:100%;
       float:left;
       margin-bottom: 10px;
       table-layout:fixed;
   }
    .Activity_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

   .Activity_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .Activity_table thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .Activity_table thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }
    .Activity_table thead tr {
       border-bottom: 2px solid #d4d7dc;
    }
     .Activity_table tbody tr td {
      border-bottom:1px solid #ddd;
   }
    .Activity_table thead tr th,
    .Activity_table tbody tr td {
        padding: 10px;
        border: 1px solid #ccc;
    }
   .Activity_table thead tr th:nth-child(1),
   .Activity_table thead tr th:nth-child(5),
   .Activity_table thead tr th:nth-child(4) {
       min-width:100px;
   }
    .Activity_table thead tr th:nth-child(2) {
       min-width:125px;
   }
     .Activity_table thead tr th:nth-child(7) {
      width:340px;
   }
    .Activity_table thead tr .dept {
        width: unset !important;
    }
   .Activity_table tbody tr td a {
     cursor:pointer;
   }
  
   .Activity_table tbody tr:nth-child(odd) {
     background-color:#f8f8f8;
   }
    .Activity_table tbody tr:hover {
     background-color:#f4f5f8;
   }
    .Activity_table tbody tr td div:nth-child(1) {
        display:none;
    }

       .load_activity_list_table {
       width:100%;
       float:left;
       margin-bottom: 10px;
       table-layout:fixed;
   }
        .load_activity_list_table thead tr th div:nth-child(1) {
            width: 94%;
            float: left;
            padding-top: 2px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

   .load_activity_list_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .load_activity_list_table thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .load_activity_list_table thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }
    .load_activity_list_table thead tr {
       border-bottom: 2px solid #d4d7dc;
    }
     .load_activity_list_table tbody tr td {
      border-bottom:1px solid #ddd;
   }
   .load_activity_list_table thead tr th,
   .load_activity_list_table tbody tr td {
       padding:10px;
       border:1px solid #ccc;
   }
   .load_activity_list_table thead tr .act_id,
   .load_activity_list_table thead tr .du_da,
   .load_activity_list_table thead tr .stat {
       min-width:100px;
   }
    .load_activity_list_table thead tr .ac_ty {
       width:130px;
   }
     .load_activity_list_table thead tr .note {
      width:15%;
   }
   .load_activity_list_table tbody tr td a {
     cursor:pointer;
   }
  
   .load_activity_list_table tbody tr:nth-child(odd) {
     background-color:#f8f8f8;
   }
    .load_activity_list_table tbody tr:hover {
     background-color:#f4f5f8;
   }
    .load_activity_list_table tbody tr td div:nth-child(1) {
        display:none;
    }

   .Activity_pagination_container {
       width:100%;
       float:left;
       text-align:right;
   }
   .Activity_pagination_inner {
       float:right;
   }
   .paginationtextdv {
       width:100%;
       float:left;
   }
    .add_ZipCode_btn_div {
        float: right;
        text-align: right;
    }

    #srch-term {
        width: 232px;
    }

    #pagination {
        display: inline-block;
    }
    .paginationMiddleButtondv {
    width: 38px;
    float: left;
    margin-right:2px;
}
    .PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}
    .NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
}
    .activity_list_container_customer{
        width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom:10px;
    }
.left_activity_customer_list {
    width: 50%;
    float: left;
    padding: 10px 0px;
}
    .left_activity_customer_list .input-group {
        width:300px;
    }
.right_activity_customer_list {
    width: 50%;
    float: left;
    padding: 10px 0px;
}
    .right_activity_customer_list button,
    .right_activity_customer_list button:hover,
    .right_activity_customer_list button:focus {
        float:right;
        background-color:#2ca01c;
        color:#fff;
    }
    .right_activity_customer_list .activities_export {
         float:right;
    }
    .right_activity_customer_list .ImportPanel li:nth-child(2) button {
         margin-right: 5px;
    }
    .activeBtn {
    background-color: #ddd !important;
    color: black;
    border: none;
    height: 26px;
    width: 35px;
}
    .paginationRightButtondv {
    width: 38px;
    float: left;
    margin-left:2px;
}

.Activity_filter_list {
       width: 100%;
    float: left;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
.Activity_filter_list .box_category {
    width: 20%;
    float: left;
    margin-bottom: 10px;
    padding-right: 10px;
}

.Activity_filter_list .group_category {
    width: 40%;
    float: left;
    margin-bottom: 10px;
}
.btn-filter {
   float: left !important;
    margin-left: 10px;
}
.Activity_filter_list .box_category:nth-child(8),
.opportunity_manual_padding {
    padding-right:0px !important;
}
.Activity_filter_list .group_category input {
    width:45%;
    float:left;
}
.Activity_filter_list .middle_box_category {
      width: 10%;
    float: left;
    padding-top: 7px;
    text-align: center;
    height: 34px;
    background-color: #ccc;
    color: #000;
}
.Activity_filter_list .btn_category {
    width:100%;
    float:left;
    text-align:right;
}
.Activity_filter_list .btn_category button {
    margin-left:5px;
}
button.btn.btn-apply-filter {
    margin-left: 5px;
}
 .ImportPanel{
    padding: 5px;
    border: 1px solid #ccc !important;
    width: 150px;
    position:absolute;
    left:950px;
    top:60px;
}
 #ExcelImport{
     float:left;
 }
 .activity_filter_btn,
  .activity_filter_btn:hover,
  .activity_filter_btn:focus {
     background-color:#2ca01c;
 }
 .activity_filter_btn .glyphicon-filter {
     color:#fff !important;
 }
  .Activity_table tbody tr td div:nth-child(2) {
       display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
.load_activity_list_table tbody tr td div:nth-child(2) {   
    word-break: break-all;
}
 @media (max-width:1024px) {
     .Activity_table thead {
        display:none;
    }
     .Activity_table tbody tr td  {
        width:100%;
        float:left;
        box-sizing:border-box;
    }
      .Activity_table tbody tr td div:nth-child(1) {
        display:block;
        width:35%;
        float:left;
        text-align:left;
        font-weight:bold;
    }
      .Activity_table tbody tr td div:nth-child(1) span {
          float:right;
          margin-right:5px;
      }
       .Activity_table tbody tr td div:nth-child(2) {
        width:65%;
        float:left;
        text-align:left;
        word-break:break-all;
    }
       .load_activity_list_table thead {
        display:none;
    }
     .load_activity_list_table tbody tr td  {
        width:100%;
        float:left;
        box-sizing:border-box;
    }
      .load_activity_list_table tbody tr td div:nth-child(1) {
        display:block;
        width:35%;
        float:left;
        text-align:left;
        font-weight:bold;
    }
      .load_activity_list_table tbody tr td div:nth-child(1) span {
          float:right;
          margin-right:5px;
      }
       .load_activity_list_table tbody tr td div:nth-child(2) {
        width:65%;
        float:left;
        text-align:left;
        word-break:break-all;
    }
 }
 @media (max-width:768px) {
     .Activity_filter_list .btn_category {
    padding-bottom: 10px;
}
     .Activity_filter_list .box_category {
         width:33.33%;
     }
     .Activity_filter_list .box_category:nth-child(3) {
         padding-right:0px;
     }
     .Activity_filter_list .group_category {
         width:100%;
     }
 }
@media (max-width:414px) {
    .activity_list_header {
        width:50%;
    }
    .activity_list_container .dateviewed {
        margin-right:0px;
        margin-top:10px;
    }
    #activity_search_container {
        margin-top:85px;
    }
    .Activity_filter_list .box_category {
        width:100%;
        padding-right:0px;
    }
    #activity_search_container .btn-filter {
        float:right !important;
    }
    #activity_search_container #searchbardiv {
        width:100%;
        margin-bottom:10px;
    }
   .Activity_table tbody tr td div:nth-child(1) {
       width:45%;
   }
   .Activity_table tbody tr td div:nth-child(2) {
       width:55%;
   }
   .load_activity_list_table tbody tr td div:nth-child(1) {
       width:45%;
   }
   .load_activity_list_table tbody tr td div:nth-child(2) {
       width:55%;
   }
}
