.AddActivityContainer {
    width:100%;
    float:left;
}
.add_activity_header {
      font-size: 2.4rem !important;
    padding: 5px 20px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
    
.add_activity_inner {
    width:100%;
    float:left;
    padding:10px;
    overflow-y:auto;
}
.add_activity_inner .form-group {
     width: 33.33%;
    float: left;
    padding: 0px 10px;
    margin-bottom:10px;
}
.add_activity_inner .other_field {
        width: 50%;
}

.add_activity_inner .span_style {
    font-weight:bold;
}
.add_activity_footer {
       background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
}
.add_activity_footer input {
        float: right;
    color: white;
    border: 1px solid #2ca01c;
    background-color: #2ca01c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.add_activity_footer input:hover {
     background-color: #545558;
}
   
.delete_footer
{
    float:left;
}
.save_footer {
    float: right;
}
 
#btnDeleteActivity,
#btnDeleteActivity:hover,
#btnDeleteActivity:focus {
            background-color: #d9534f !important;
            border-color:#d9534f !important;
     }
@media (max-width:414px) {
    .add_activity_inner .form-group {
        width:100%;
    }
}