.size-img{
    width:30px;
}

.page-title {
    font-size: 24px;
    font-family: 'Play', sans-serif;
    color: #000000;
}

.btn_cf {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
    margin-top: 10px;
}

    .btn_cf:hover {
        background-color: #2ca01c;
        color: white;
    }

.slide .inventory-popup {
    position: absolute;
}

.slide {
    position: relative;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 550px;
    height: 100%;
}

.modal.right .modal-content {
    height: 100%;
}

.modal.right .modal-body {
    padding: 0px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal-content {
    border-radius: 0px;
     -webkit-border-radius: 0px;
-moz-border-radius: 0px;
}

.container-fluid {
    padding-top: 5px;
}

.modal-header {
    border-bottom: none;
    position: absolute;
    right: 0px;
    z-index: 999;
}

    .modal-header h3 {
        padding-top: 6px;
        padding-left: 12px;
        font-family: 'Open Sans', sans-serif;
    }

.header-category {
    font-family: "Avenir Next forINTUIT", "Arial", -apple-system, "Helvetica Neue", sans-serif;
    padding-left: 12px;
    font-weight: 400;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}

/*.checkbox {
    margin: 0;
    margin-left: -336px;
    padding-top: 5px;
}*/

.label-heading {
    padding-left: 50px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

.btn-drop {
    height: 32px;
    margin-right: 40px;
    width: 40px;
}

.page-header1 {
    border-bottom: none;
}

.page-content {
    background-color: azure;
    margin-left: 10px;
    margin-right: 10px;
}

.row-space {
    padding-left: 10px;
}

.thread1 {
    width: 900px;
}

.item-parent {
    margin-left: 10px;
}

.table-body-td {
    float: right;
    margin-right: 2%;
    margin-top: 10px;
}

.txt-input {
    margin-bottom: 10px;
}
.equipment_list_partial_searchbar {
    width:100%;
    float:left;
}
.equipment_list_partial_searchbar .searchbardiv {
    width:45% !important;
    margin-top:10px;
}
.searchbardiv {
    margin-top: 10px;
    width: 300px !important;
    float: left;
    padding: 0;
}
#tblFileCustomer {
    width:100%;
    float:left;
    table-layout:fixed;
}
.customer_file_container .tblFileCustomer thead tr th:nth-child(4) {
    width:200px;
}
.customer_file_container .tblFileCustomer thead tr th:nth-child(5) {
    width:100px;
}
#tblFileCustomer > thead > tr > th:first-child {
    width: 45% !important;
}
#tblFileCustomer > tbody > tr:hover {
   background-color:#f4f5f8;
}
  #tblFileCustomer > tbody > tr:nth-child(even) {background-color:#ededed;}

.cus-anchor {
    color: #2ca01c !important;
}
 .customer_file_device_header {
        display:none;
    }
 #tblFileCompany {
     width:100%;
 }
 #tblFileCompany thead tr th,
  #tblFileCompany tbody tr td {
     padding:10px;
 }
 #tblFileCompany thead tr th:nth-child(2),
  #tblFileCompany thead tr th:nth-child(3),
  #tblFileCompany thead tr th:nth-child(4) {
     width:12% !important;
 }
  #tblFileCompany thead tr {
      border-bottom:2px solid #ddd;
      cursor:pointer;
  }
   #tblFileCompany tbody tr {
      border-bottom:1px solid #ddd;
      cursor:pointer;
  }
   
   #tblFileCompany thead tr th:hover {
       background-color:#f4f5f8;
   }
   #tblFileCompany tbody tr:hover {
       background-color:#f4f5f8;
   }
 #tblFileCompany tbody tr td:nth-child(4) {
     float:left;
 }
 .tblFileCustomer tbody tr:nth-child(odd) {
     background-color:#f8f8f8;
 }
 .tblFileCustomer tbody tr:hover {
     background-color:#f4f5f8;
 }
.equipment_file_list_partial_table tbody tr td div:nth-child(1) {
    display:none;
}
.customer_file_device_info {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.ld_act_customer_file_table {
    width: 100%;
    float: left;
    table-layout: fixed;
    margin-top:10px;
}

/*.ld_act_customer_file_table thead tr th:nth-child(1),
.ld_act_customer_file_table thead tr th:nth-child(2),
.ld_act_customer_file_table thead tr th:nth-child(3) {
    width:250px;
}*/
    .ld_act_customer_file_table tbody tr td .lacf_device {
        display:none;
    }
    .ld_act_customer_file_table tbody tr:nth-child(odd) {
    background-color:#f8f8f8;
}
     .ld_act_customer_file_table tbody tr td:nth-child(5) .lacf_info {
        text-align:right;
    }
     
      .com_docu_partial #tblFileCompany_wrapper .row:nth-child(1) {
         display:none;
     }

.lacf_table_size .desc {
    width:38%;
}
.lacf_table_size .desc_body {
    word-break:break-all;
}
@media(width:1024px) {
    #tblFileCustomer > thead > tr > th {
        text-align:center;
    }
      #tblFileCustomer > tbody > tr > td:nth-child(2),
       #tblFileCustomer > tbody > tr > td:nth-child(3) {
        text-align:center;
    }
      /*#tblFileCustomer > thead > tr > th:nth-child(1) {
        width:300px !important;
    }*/
       .customer_file_device_info {
        
        word-break:break-all;
      
    }
}
@media (max-width:768px) {
    .ld_act_customer_file_table tbody tr td:nth-child(5) .lacf_info {
        text-align:left;
        margin-bottom:10px;
    }
    .ld_act_customer_file_table thead {
        display:none;
    }
    .ld_act_customer_file_table tbody tr td {
        width:100%;
        float:left;
        display:table;
    }
    .ld_act_customer_file_table tbody tr td .lacf_device {
        display:block;
        width:40%;
        float:left;
        font-weight:bold;
        text-align:left;
    }
    .ld_act_customer_file_table tbody tr td .lacf_device span {
        float:right;
        margin-right:10px;
    }
    .ld_act_customer_file_table tbody tr td .lacf_info {
        width:60%;
        float:left;
        word-break: break-all
    }
   
    .equipment_file_list_partial_table thead {
        display:none;
    }
    .equipment_file_list_partial_table tbody tr td {
        width:100%;
        float:left;
        box-sizing:border-box;
        padding:3px 5px;
    }
   
     .equipment_file_list_partial_table tbody tr td div:nth-child(1) {
        display:block;
        width:45%;
        float:left;
        text-align:left;
        font-weight:bold;
    }
     
     .equipment_file_list_partial_table tbody tr td div:nth-child(1) span {
          float:right;
          margin-right:10px;
      }
     
     .equipment_file_list_partial_table tbody tr td div:nth-child(2) {
        width:55%;
        float:left;
        text-align:left;
    }
     .tblFileCustomer tbody tr  td {
         width:100%;
         float:left;
         padding: 3px;
         box-sizing:border-box;
          border-bottom:1px solid #e7e7e7;
     }
      .customer_file_device_header {
        display:block;
        width:45%;
        float:left;
        font-weight:600;
        text-align:left;
    }
     .customer_file_device_header span {
         float:right;
         margin-right:10px;
     }
    .customer_file_device_info {
        width:55%;
        float:left;
        word-break:break-all;
        text-align:left;
    }
     .customer_file_hide_for_device {
        display:none;
    }
}
 @media(max-width:414px) {
    .ld_act_customer_file_table tbody tr td .lacf_device {
        width:45%;
    }
     .ld_act_customer_file_table tbody tr td .lacf_info {
        width:55%;
    }
    
     
     .customer_file_search .col-md-6 {
         width:100%;
         display:table;
         padding:0px;
     }
     .customer_file_search .col-md-6 .searchbardiv {
         width:100% !important;
     }
     .customer_file_search .col-md-6 .searchbardiv .txt-input {
         width:100% !important;
     }
     .customer_file_search .col-md-6 .btn_cf {
         margin-top:0px;
     }
     
     .tblFileCustomer .table-body-td {
         margin-top:0px;
     }
    
    .equipment_list_partial_searchbar .searchbardiv {
    width:100% !important;
}
    .equipment_list_partial_searchbar .btn_cf {
        margin-bottom:10px;
    }

 }