.bill_accounts_payable_container {
    padding-top:35px;
}
    .bill_accounts_payable_container table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }


    .bill_accounts_payable_container table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .bill_accounts_payable_container table thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .bill_accounts_payable_container table thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }

    .bill_accounts_payable_container thead tr th,
    .bill_accounts_payable_container tbody tr td {
        padding: 10px;
        border: 1px solid #ccc;
        vertical-align:middle;
    }
    .bill_accounts_payable_container tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
    .bill_accounts_payable_container tbody tr:hover {
        background-color: #f4f5f8;
    }
    .bap_checkbox_col {
        width: 1px !important;
    }
@media (max-width: 768px) {
    .bap_header_hide {
        display:none;
    }
    .device_row_bap {
    width: 100%;
    display: table;
    margin-bottom: 25px;
    }
}