  .expenses_title {
    font-size: 25px;
  }
    .expenses_menu > li {
         -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius:0px;
        /*border: 1px solid #ccc !important;*/
    }
   
    .expenses_menu > li.active > a {
            font-weight:normal !important;
        }
    .expenses_menu > li > a:hover {
       background-color:#fff !important;
       border-color:#fff;
       border-bottom:none;
    }
    .expenses_menu > li > a {
       color:#000 !important;
         -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius:0px;
    }
    .expenses_menu_content {
    width: 100%;
    float: left;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 5px 10px;
    }
        .expenses_container {
      /* overflow-x:hidden;*/
    }
        .vbp_top_margin {
        margin-top:22px;
    }
.vbp_header_container {
    width: 100%;
    margin-bottom: 55px;
}
 .vbp_table_container {
            width:100%;
        }
 .exp_menu_style {
    width:12%;
    text-align:center;
 }
 .vbl_top {
     margin-top:35px;
 }
  /*new added css start*/

 .vendor_info_container {
        width:100%;
        min-height:93px;
        float:left;
    }
    .per_vendor_info {
        width: 50%;
        float: left;
    }

    .vendor_overdue {
        width: 50%;
        float: left;
        background-color: #f87d00;
    }
    .vendor_overdue:hover {
       border-top:6px solid #ab5804;
    }

    .vendor_openbill {
        width: 50%;
        float: left;
        background-color: #babec5;
    }
    .vendor_openbill:hover {
       border-top:6px solid #737373;
    }

    .vendor_paidlast {
        width: 100%;
        float: left;
        background-color: #7dcc00;
    }
     .vendor_paidlast:hover {
        border-top:6px solid #2ca01c;
    }

    .vendor_info_amount {
        width: 100%;
        float: left;
        padding: 5px 0px 0px 15px;
        text-align: left;
        font-weight: bold;
        font-size: 2.4rem;
        color: #fff;
    }

    .vendor_info_text {
        width: 100%;
        float: left;
        padding: 0px 0px 5px 15px;
        text-align: left;
        color: #fff;
    }

    .vi_left_zero {
        margin-left: 0px;
    }

    .vi_right_zero {
        margin-right: 0px;
    }

    .vendor_info_heading {
        color: #000;
        font-family:sans-serif;
    }
     /*new added css end*/


 @media (max-width: 1024px) {
    .exp_menu_style {
    width:18%;
 }
}
 @media (max-width: 768px) {
    .exp_menu_style {
    width:20%;
 }
    .expense_menu {
        padding:10px 0px !important;
    }
    .menu_custom_exp {
        width:40%;
    }
      .vbp_top_margin {
        margin-top:0px;
    }
}
@media (max-width: 414px) {
   
    .vbp_header_container {
        margin-bottom:0px;
    }
}
@media (max-width: 375px) {
     .exp_menu_style {
    width:50%;
 }
     .menu_custom_exp {
        width:50%;
    }
}
@media (max-width: 320px) {
     .exp_device_menu {
         padding:10px !important;
     }
}