
    .padding-right-5 {
        padding-right: 10px;
    }

    .div-header {
        border-bottom: 1px solid #ccc;
        padding: 5px 15px;
        background-color:#f4f5f8;
    }
    .make_payment_header {
        font-size:2.4rem;
    }
    .make_payment_info_container {
        width: 100%;
        overflow-y: scroll; 
    }
    .make_payment_method_div {
        position: relative;
        background: white;
        z-index: 9;
        /*width: 560px;*/
    }
    .mp_amount_info_allign {
        text-align:right;
    }
    .table-head-border tr th .mp_checkbox_width {
        width:1px !important;
    }
   .mp_info_container {
    width: 100%;
    padding: 15px 0px 43px 0px;
    background-color: #f4f5f8;
    display: table;
}
    .div-body-contents {
        padding-top: 40px !important;
    }
    .OutStandingTransectionsTitle {
        padding-bottom: 10px;
    }

        .OutStandingTransectionsTitle span {
            font-size: 15px;
            font-weight: bold;
        }

    .TransactionFilterDiv {
        text-align: center;
        width: 100%;
        height: 34px;
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        padding-top: 1px;
        background-color: white;
    }

    .Transactionlist {
        width:100%;
        float:left;
        padding-top: 30px;
      
    }
      #tblTransactions_wrapper .row:nth-child(2) {
        width:100%;
        float:left;
        margin:0px;
    }
       #tblTransactions_wrapper .row:nth-child(2) .col-sm-12 {
      padding:0px;
    }
    .mp_amount_left {
        float:left;
        width:100%;
        padding: 14px 0px;
    }
    .mp_amount_right {
        float:left;
        width:100%;
        margin-top: -11px;
    }
    .mp_top_mergin {
        margin-top:20px;
    }
   .mp_sub_header {
    font-size: 18px;
    margin-top: 10px;
    padding: 0px 15px;
    font-weight: bold;
    margin-bottom: 5px;
   }
   .mp_sub_header_info {
    margin-bottom: 5px;
     padding: 0px 50px;
   }
   .mp_search_box {
       width:25%;
       float:left;
   }
   #PaymentMethod {
       -moz-appearance:menulist; /* Firefox */
    -webkit-appearance:menulist; /* Safari and Chrome */
    appearance:menulist;
   }
.make_payment_header_tilte {    
    width: 100%;
    float: left;
    text-align: left;
    }

.mp_header_text_pdd_left {
    padding-left:13px !important;
}
.buuton_mp_show {
    display: block !important;
     -webkit-border-radius: 4px !important;
-moz-border-radius: 4px !important;
border-radius: 4px !important;
}

    /*Table Design Starts*/
    table.dataTable thead > tr > th:first-child {
        width: 30px;
    }

    .cus-padding-top10p {
        padding-top: 10px;
    }

    .black-border {
        border: 1px solid #ccc;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .background-color-ffffff {
        background-color: white;
    }

    .background-color-ffffff:focus {
        background-color: #ffffff !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .customer-dropdown-ul-style {
        border: 1px solid #666 !important;
        font-size: 13px;
         -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
        margin-top: 4px !important;
        width: inherit;
        padding: 4px 0px 4px 0px !important;
    }

    .dropallign {
        padding: 7px 13px;
    }

    .btn-recive-payment {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
        font-weight: 600;
        margin-left: 27px;
    }

    #tblTransactions {
        width: 100% !important;
        table-layout:fixed;

    }
    .table_layout_style {
        table-layout:unset !important;
    }
    #tblTransactions thead tr th {
        padding-top:5px;
        padding-left:5px;
        padding-bottom:5px;
    }
    #tblTransactions_paginate {
        float: right;
    }

    .cus-anchor {
        color: #2ca01c !important;
    }
    /*Table Design Ends*/
    .table-calculation-footer {
        padding-top: 30px;
        float: right;
        width: 300px;
    }

    .btn-clear-payment-div {
        float: right;
        padding-top: 20px;
    }

    .text-right {
        text-align: right;
    }
    .mp_sup_drp_width {
        width:100%;
    }
    .btn-clear-payment {
        background-color: white;
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
   .OutStandingTransections {
    float: left;
    width: 100%;
    padding: 0px 21px;
    margin-top: -25px;
}

    .payment_edit_mode_actions{
        display:none;
        float:right;
    }
    .payment_info_field {
        border: 2px solid #ddd !important;
        box-shadow: 0px 0px 0px 0px #000;
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-bottom: 25px !important;
    }
    .payment_info_header {
    display: block;
    width: 100%;
    padding: 0;
     margin-bottom: 0px; 
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    padding-left: 10px;
   
    }
    .payment_text {
        padding-right:0px;
        text-align:left;
        padding-top:2px;
    }
    .text-custom {
        font-size:13px;
        font-weight: unset;
    }

    .PaymentMethodForms{
        display:none;
    }
    .Edit_Payment_Method{
        margin-top: 10px;
        background-color: #2ca01c; 
        border: 1px solid #ccc;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
     }
    .payment-icon-image {
        width: 100px;
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        padding: 4px;
    }
     .payment-icon-image:hover {
        border: 1px solid #00c31f;
    }
     .mp_res_device_header {
         display:none;
     }
     .custom_mp_left_pad {
         padding-left:0px;
     }
     .custom_mp_right_pad {
         padding-right:0px;
     }
     .mp_payment_div {
         position: absolute;
         z-index: 9;
         background-color:#f4f5f8;
     }
     #tblTransactions thead tr th:nth-child(1) {
    min-width:1px !important;
}
     #tblTransactions > tbody > tr:hover {
         background-color:#f4f5f8;
     }
     #tblTransactions input[type=text] {
         padding:0px 10px;
     }
     .mp_info_container_lt {
         width:75%;
         float:left;
     }
      .mp_info_container_rt {
         width:25%;
         float:left;
             padding-right: 20px;
     }
      .mp_info_cont_lt_info {
          width:33.33%;
          float:left;
          padding: 0px 20px;
           padding-top: 15px;
      }
      .mp_device {
          display:none;
      }
    .make_payment_info_container #tblTransactions tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
    
@media (max-width: 991px) {
    .make_payment_info_container {
        padding:0px;
    } 
    .mp_device_width_left, .mp_device_width_right  {
        width:50% !important;
        float:left;
    }
   
}
@media (max-width: 768px) {
   #tblTransactions {
       width:170% !important;
   }
    .mp_info_container {
        padding-top:0px;
    }
    .mp_768_margin_top {
        margin-top:17px;
    }
    .mp_row_split {
        width:33%;
        float:left;
        margin-top:0px !important;
    }
    .cancelbtnDiv {
        width:24% !important;
    }
    .InnerOptionsDiv {
        width: 46% !important;
    }
    .settings-invoice {
        font-size:27px !important;
        padding-top:6px !important;
    }
    .mp_info_cont_lt_info {
          width:50%;
      }
     .SaveaButtonsDiv {
    width: 30%;
}
}
@media (max-width: 414px) {
    #tblTransactions {
    width: 100% !important;
}
     .mp_desktop {
        display:none;
    }
     .mp_device {
          display:block;
          padding-left: 5px;
      }
    .mp_info_container_lt {
        width:100%;
    }
    .mp_info_container_rt {
        width:100%;
    }
    .mp_info_cont_lt_info {
    width: 100%;
}
   .margin_mp {
       margin-top:-30px;
   }
    .mp_row_device {
            width: 100%;
    float: left;
    text-align: left;
    padding: 0px;
    box-sizing: border-box !important;
    border: 1px solid #ccc;
    }
    .mp_res_device_header {
        padding-left:12px;
        display:block;
        width:37%;
        float:left;
        text-align:left;
    }
    .mp_res_device_info {
           float: left;
    text-align: left;
    word-break: break-all;
    width: 63%;
    }
    .mp_device_header_hide {
        display:none;
    }
    .mp_second_row {
        width:100% !important;
        margin-top:0px;
    }
    .mp_row_split {
        width:100% !important;
        margin-top:10px !important;
        padding-right: 0px;
        padding-left:0px;
    }
    .make_payment_header {
    font-size: 27px;
}
    .mp_device_width_left {
           width: 100% !important;
    padding-right: 0px;
    }
    .mp_device_width_right {
        width:100% !important;
        padding: 0px 32px;
    }
    .btnInv {
        padding:3px !important;
    }
    .cancelbtnDiv {
    width: 26% !important;
}
    .InnerOptionsDiv {
    width: 39% !important;
}
    .SaveAndSendBtn {
        padding:5px !important;
    }
    .SaveaButtonsDiv {
        width:35% !important;
    }
   }
@media (max-width: 375px) {
    .make_payment_header {
    font-size: 24px;
}
    .cancelbtnDiv {
    width: 29% !important;
    padding-top: 5px;
}
    .InnerOptionsDiv {
    width: 31% !important;
    letter-spacing: 0.5px;
}
    .SaveaButtonsDiv{
        width:40% !important;
    }
    .invoice-footer {
        padding:8px !important;
    }
}
@media (max-width: 320px) {
    .header-title {
        width:60% !important;
    }
    .cancelbtnDiv {
        width: 32% !important;
    }
    .InnerOptionsDiv {
    width: 24% !important;
    line-height: 12px;
}
    .SaveaButtonsDiv {
    width: 44% !important;
}

}