.show_expense_partial_container {
        width:100%;
        float:left;
        padding: 10px 0px;
    }
     .show_expense_partial_searchbar_container {
        width:100%;
        float:left;
    }
  
    .show_expense_partial_searchbar_container .SearchExp,
    .show_expense_partial_searchbar_container #ExpenseType,
    .show_expense_partial_searchbar_container .input-group{
        width:25% !important;
        float:left;
        margin-left: -3px;
    }
    .AddExpenseButton {
        float:right;
         background-color: #2ca01c;
        color: #fff;
    }
        .expense_list_add_btn {
        width: 100%;
        float: left;
        text-align: right;
        padding-bottom: 10px;
    }
    .expense_list_table thead tr th {
        padding:10px;
    }
    .expense_list_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }
    .expense_list_table thead tr th div:nth-child(1) .checkbox {
        margin-top:0px;
        margin-bottom:0px;
    }
    .expense_list_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .expense_list_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .expense_list_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
        .expense_list_table tbody tr td div:nth-child(1) {
            display:none;
        }
        .expense_list_table tbody tr td div:nth-child(2) label {
            float:left;
        }
        .expense_list_table tbody tr td div:nth-child(2) .cus-anchor {
            float:left;
            margin-top:10px;
        }


.expense_list_partial_table thead tr th,
.expense_list_partial_table tbody tr td {
    padding: 10px;
    border:1px solid #ccc;
    vertical-align:middle;
}
    .expense_list_partial_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }
    .expense_list_partial_table thead tr th div:nth-child(1) .checkbox {
        margin-top:0px;
        margin-bottom:0px;
    }
    .expense_list_partial_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .expense_list_partial_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .expense_list_partial_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
        .expense_list_partial_table tbody tr td div:nth-child(1) {
            display:none;
        }
        .expense_list_partial_table tbody tr td div:nth-child(2) label {
            float:left;
        }
        .expense_list_partial_table tbody tr td div:nth-child(2) .cus-anchor {
            float:left;
            margin-top:10px;
        }
        .expense_list_partial_table tbody tr:nth-child(odd) {
            background-color:#f8f8f8;
        }
    
     @media (max-width: 768px) {
     .show_expense_partial_searchbar_container .SearchExp,
    .show_expense_partial_searchbar_container #ExpenseType,
    .show_expense_partial_searchbar_container .input-group{
        width:33.333% !important;
    }
    .AddExpenseButton {
       margin-top:10px;
    }
    .expense_list_partial_table thead {
        display:none;
    }
    .expense_list_partial_table tbody tr td {
        width:100%;
        float:left;
        padding:0px;
    }
     .expense_list_partial_table tbody tr td div:nth-child(1) {
    display: block;
    width: 45%;
    float: left;
    text-align: left;
    font-weight:bold;
    }
     .expense_list_partial_table tbody tr td div:nth-child(1) .checkbox {
         margin:0px;
     }
     .expense_list_partial_table tbody tr td div:nth-child(1) span {
           float:right;
           margin-right:10px;
    }
     .expense_list_partial_table tbody tr td div:nth-child(2) {
              width: 55%;
    float: left;
    text-align: left;
    word-break: break-all;
    }
      .expense_list_partial_table  .label-cbx .checkbox {
           margin-top:0px;
           margin-bottom:0px;
       }
             .expense_list_partial_table tbody tr td div:nth-child(2) .cus-anchor {
                 margin-top:0px;
             }
    }
     @media (max-width:414px) {
          .show_expense_partial_searchbar_container .SearchExp,
    .show_expense_partial_searchbar_container #ExpenseType,
    .show_expense_partial_searchbar_container .input-group{
        width:100% !important;
    }
            
   
     }