@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    string errorcode = Request.QueryString["code"] != null ? Request.QueryString["code"].ToString() : "500";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/favicon.ico">
    <title>Error Page</title>
    <link href="~/Content/Css/Home/ERRORPage.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".error_page_container").height(window.innerHeight);
        });
        $(window).resize(function () {
            $(".error_page_container").height(window.innerHeight);
        })
    </script>
</head>
<body>

    <div class="error_page_container">
        <div class="error_page_inner">
            <div class="error_page_icon">
                <i class="fa fa-frown-o"></i>
            </div>

            <div class="error_page_number">
                @errorcode
            </div>
            <div class="error_page_text_middle">
                @if(errorcode == "404")
                {
                    <span>Page not found</span>
                }else if(errorcode == "400")
                {
                <span>Bad Request</span>
                }
                else if (errorcode == "500")
                { 
                    <span>Internal Server Error</span>
                }
                else
                {
                    <span>Other Application Error</span>
                }
            </div>
            <div class="error_page_text_bottom">
                Sorry, the page you are looking for is currently unavailable.  <br />
                <a href="@ViewBag.CompanyUrl" class="error_green_text">Go back</a>, or head over to <a href="@ViewBag.CompanyUrl" class="error_green_text">@ViewBag.CompanyUrl</a> to choose a new direction.
            </div>
        </div>
    </div>
</body>
</html>

