<html lang="en-US">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width">
    @* <link rel="shortcut icon" type="image/x-icon" href="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/favicon.ico">*@
    <link rel="shortcut icon" type="image/png" href="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/favicon.ico">
    <title>@ViewBag.Title</title>
    <link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/HomePage/home_page.css" rel="stylesheet" />

    <script src="~/Content/Jquery-ui/jquery.js"></script>
    <script src="~/Content/Js/bootbox.min.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script>
        function FormatCellNumber(cvalue) {
            var ValueCleanCell = "";
            if (cvalue != undefined && cvalue != "" && cvalue != null) {
                cvalue = cvalue.replace(/[-  ]/g, '');
                if (cvalue.length >= 10 && cvalue.length <= 14) {
                    ValueCleanCell = cvalue.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
                    $("#RequestPhone").removeClass("required");
                }
                else {
                    $("#RequestPhone").addClass("required");
                    ValueCleanCell = cvalue;
                }
            }
            return ValueCleanCell;
        }
        var RequestAdmin = function () {
            var url = "/Home/RequestAdmin";
            var param = {
                Name: $("#RequestName").val(),
                Company: $("#RequestCompany").val(),
                Phone: $("#RequestPhone").val(),
                Email: $("#RequestEmail").val()
            };
            $.ajax({
                url: url,
                data: param,
                type: "Post",
                dataType: "Json",
                success: function (data) {
                    if (data == true) {
                        $("#RequestName").val("");
                        $("#RequestCompany").val("");
                        $("#RequestPhone").val("");
                        $("#RequestEmail").val("");
                        bootbox.alert("Successfully sent an email to RMR admin");
                    } else {
                        bootbox.alert("Something is wrong. Please try again later");
                    }
                }
            });
        }
        var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
        var IsVaildEmail = function (value) {
            if (pattern.test(value)) {
                $("#RequestEmail").css({ "border": "1px solid #babec5" });
            }
            else {
                $("#RequestEmail").css({ "border": "1px solid red" });
            }
        }
        $(document).ready(function () {
            $("#RequestPhone").keyup(function () {
                var PhoneNumber = $(this).val();
                if (PhoneNumber != undefined && PhoneNumber != null && PhoneNumber != "") {
                    var cleanPhoneNumber = FormatCellNumber(PhoneNumber);
                    $(this).val(cleanPhoneNumber);
                }
            })
            $("#RequestEmail").keyup(function () {
                IsVaildEmail($(this).val())
            })
            $("#RequestSubmit").click(function () {
                if ($("#RequestName").val() != "" && $("#RequestCompany").val() != "" && $("#RequestPhone").val() != "" && $("#RequestEmail").val() != "") {
                    RequestAdmin();
                }
                else {
                    bootbox.alert("All fields are required");
                }
            })
        })
    </script>
</head>
<body>
    <div class="home_page_container">
        <div class="home_page_header">
            <div class="home_page_inner_container">
                <div class="home_page_100p">
                    <div class="home_page_logo_div">
                        <img src="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/dfw-logo.png" />
                    </div>
                    <div class="home_page_top_menu_div">
                        @if (HS.Framework.Utils.AppConfig.SiteDomain.IndexOf("app.ieatery.com") < 0)
                        {
                        <a title="DFW Security home page" class="site_link" target="_blank" href="https://www.dfwsecurity.com/"> DFW Security</a>
                        }

                        <a href="@(HS.Framework.Utils.AppConfig.DomainSitePath)/#"> Under Maintenance</a>
                    </div>
                </div>
                <div class="home_page_100p home_page_padding_top">
                    <div class="home_page_header_content_left">
                        Cloud Based Business <br />
                        Management Software for Security <br />
                        & Automation Dealers
                    </div>
                    <div class="home_page_header_content_right">
                        <img src="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/Dfw_ipad-mockup-sm.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="home_page_main_info">
            <div class="home_page_inner_container">
                <div class="home_page_main_info_container_header">
                    RMRCloud Features &nbsp; <i class="fa fa-gift"></i>
                </div>
                <div class="home_page_main_info_container_subheader">
                    Our robust platform gives your team an edge with
                    permission based login for various tools and reports.
                </div>
                <div class="home_page_100p">
                    <div class="home_page_feature_div">
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <div class="home_page_feature_text">Lead Management</div>
                    </div>
                    <div class="home_page_feature_div">
                        <i class="fa fa-handshake-o"></i>
                        <div class="home_page_feature_text">E-CONTRACT</div>
                    </div>

                    <div class="home_page_feature_div">
                        <i class="fa fa-envelope-square"></i>
                        <div class="home_page_feature_text">SMS/EMAIL NOTIFICATIONS</div>
                    </div>

                    <div class="home_page_feature_div">
                        <i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>
                        <div class="home_page_feature_text">SALES PORTAL</div>
                    </div>
                    <div class="home_page_feature_div">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="home_page_feature_text">CUSTOMER PORTAL</div>
                    </div>
                    <div class="home_page_feature_div">
                        <i class="fa fa-refresh"></i>
                        <div class="home_page_feature_text">AUTOMATIC RECURRING BILLING</div>
                    </div>
                    <div class="home_page_feature_div">
                        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                        <div class="home_page_feature_text">THIRD PARTY INTEGRATION</div>
                    </div>
                    <div class="home_page_feature_div">
                        <i class="fa fa-usd"></i>
                        <div class="home_page_feature_text">ONLINE CUSTOMER PAYMENTS</div>
                    </div>
                    <div class="home_page_feature_div">
                        <i class="fa fa-cubes fa-fw"></i>
                        <div class="home_page_feature_text">INVENTORY/PO MANAGEMENT</div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="demo_contact_form_container">
                <div class="home_page_inner_container">
                    <div class="demo_contact_form_left">
                        <img src="~/Content/Icons/@(HS.Framework.Utils.AppConfig.HomePageImage)/ipad-mockup-2.png" />
                    </div>
                    <div class="demo_contact_form_right">
                        <div class="home_page_main_info_container_header">
                            Live Demo & 30-Day Free Trial
                        </div>
                        <div class="home_page_main_info_container_subheader">
                            Fill out the form below to have a RMRCloud specialist give you a demo of our platform and sign up for 30-day FREE trial.
                        </div>
                        <div class="home_page_100p">
                            <input type="text" class="form-control" name="name" placeholder="Name" id="RequestName" />
                        </div>
                        <div class="home_page_100p">
                            <input type="text" class="form-control" name="company_name" placeholder="Company name" id="RequestCompany" />
                        </div>
                        <div class="home_page_100p">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" id="RequestPhone" />
                        </div>
                        <div class="home_page_100p">
                            <input type="text" class="form-control" name="email" placeholder="Email" id="RequestEmail" />
                        </div>
                        <div class="home_page_100p">
                            <input type="button" value="Submit" class="form-control home_page_submit_btn" name="submit" id="RequestSubmit" />
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="home_page_footer">
            <div class="footer_content">
                Copyright © @DateTime.Now.Year <b>DFW Security</b> | All rights reserved.
            </div>
        </div>
    </div>
</body>
</html>