<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HS.Web.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--//dev running-->
    <!--<add name="hsCoonectionString" connectionString="Data Source=3.136.44.2;Initial Catalog=DFWSec_UAT_GlobalDB;User Id=DBODFW;Password=dfw_DFW$ecurity333;Max Pool Size=600" providerName="System.Data.SqlClient" />-->
    <!--old-->
    <!--<add name="hsCoonectionString" connectionString="Data Source=3.136.44.2;Initial Catalog=DFWSec_UAT_GlobalDB;User Id=DBOUAT;Password=dfw_DFW$ecurity556;Max Pool Size=600" providerName="System.Data.SqlClient"/>-->
    <!--//local-->
    <add name="hsCoonectionString" connectionString="Data Source=DESKTOP-02EM7J3\SQLEXPRESS;Initial Catalog=DFW_Master;Integrated Security=True; Max Pool Size=600" providerName="System.Data.SqlClient" />
    <!--//lv-->
    <!--<add name="hsCoonectionString" connectionString="Data Source=3.136.44.2;Initial Catalog=DFW_Master;User Id=DBODFW;Password=dfw_DFW$ecurity333;Max Pool Size=600" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="File.KnowledgeFiles" value="Files/{0}/Knowledge" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="20000" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah/log" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="Production" value="true" />
    <add key="EligibleToRunScheduler" value="true" />
    <add key="UccUrl" value="https://dealer.teamucc.com/SiteGroupGateway/OpenAPI/" />
    <!--1.For RMR-->
    <add key="EligibleToRunSubscriptionStatusScheduler" value="false" />
    <!--2.For RMR,DFW-->
    <add key="EligibleToRunInvoicePaymentsScheduler" value="false" />
    <!--3.For DFW,RMR-->
    <add key="EligibleToRunReminderNotificationScheduler" value="false" />
    <!--4.For RMR,DFW-->
    <add key="EligibleToRunGeneratingInvoiceScheduler" value="false" />
    <!--5.ForAlifSecurity-->
    <add key="EligibleToRunEmailForNotSetCustomerBillingScheduler" value="false" />
    <!--7.For None-->
    <add key="EligibleToRunEstimateReminderScheduler" value="false" />
    <!--8.ForAllSite-->
    <add key="EligibleToRunEmailReminderScheduler" value="false" />
    <!--9.ForHudson-->
    <add key="EligibleToRunActivityNotificationScheduler" value="false" />
    <!--10.For RMR,Grate-->
    <add key="EligibleToRunLeadImportScheduler" value="false" />
    <!--11.For RUG-->
    <add key="EligibleToRunLateNotificationForTicketScheduler" value="false" />
    <!--12.For DFW-->
    <add key="EligibleToRunEvaluationRemainderEmailScheduler" value="false" />
    <!--13.For DFW-->
    <add key="EligibleToRunCustomerCancellationScheduler" value="false" />
    <!--13.For DFW-->
    <add key="EligibleToRunCustomerCancellationScheduler" value="false" />
    <!--14.For Unknown-->
    <add key="EligibleToRunActivityNotificationEmailText" value="false" />
    <!--15.For Unknown-->
    <add key="EligibleToRunUserXCalculation" value="false" />
    <!--16.New billing-->
    <add key="EligibleToRunARBInvoiceForACHAndCC" value="false" />
    <!--19.Employee PTO Hours Calculation-->
    <add key="EligibleToRunEmployeePTOHoursCalculationScheduler" value="true" />
    <add key="EmployeePTOHoursCalculationTime" value="4:10 PM" />
    <add key="EmployeePTOHoursCalculationDay" value="Thursday" />
    <add key="InvoiceGenerateTime" value="07:55 PM" />
    <add key="EstimateReminderTime" value="12:30 AM" />
    <add key="SubscriptionStatusCheckingTime" value="12:40 AM" />
    <add key="EvaluationRemainderTime" value="11:20 AM" />
    <add key="ReminderNotificationClockOutTime" value="11:07 AM" />
    <add key="CustomerCancellationTime" value="04:55 PM" />
    <add key="EmailReminder" value="11:45 AM" />
    <add key="ActivityNotificationStatusCheckingTime" value="02:32 PM" />
    <add key="InvoiceTransactionCheckingTime" value="05:6 PM" />
    <add key="CustomerUserXTime" value="03:49 PM" />
    <add key="ARBInvoiceForACHAndCC-CreatingTime" value="8:55PM" />
    <add key="CheckPaymentForACHAndCC-Invoices" value="8:55PM" />
    <add key="CustomerUserXDay" value="Thursday" />
    <add key="TransactionPullDayCount" value="3" />
    <add key="IsGrateCrm" value="false" />
    <add key="IsDFW" value="true" />
    <!--<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />-->
    <add key="HomePageImage" value="dfw" />
    <add key="SiteDomain" value="http://localhost:21198" />
    <add key="SiteURL" value="https://localhost:21198" />
    <add key="ImageDomain" value="http://localhost:21198" />
    <add key="Logo.DefaultEmailLogo" value="http://localhost:21198/Content/Icons/RMRLogos/EmailLogo.png" />
    <add key="Logo.DefaultWhiteLogo" value="http://localhost:21198/Content/Icons/RMRLogos/RMR_logo_final_white_web.png" />
    <add key="File.EstimatorCoverLetterImportFile" value="Files/{0}/EstimatorCoverLetterImportFile" />
    <add key="File.CustomerFiles" value="Files/{0}/Customer" />
    <add key="File.ExpenseVendorImportFile" value="Files/{0}/ExpenseVendorImportFile" />
    <add key="File.CustomerLeadImportFile" value="Files/{0}/CustomerLeadImportFile" />
    <add key="File.ExpenseVendorImportFile" value="Files/{0}/ExpenseVendorImportFile" />
    <add key="File.EquipmentFiles" value="Files/{0}/Equipment" />
    <add key="File.SupplierFiles" value="Files/{0}/Supplier" />
    <add key="File.CompanyFiles" value="Files/{0}/Company" />
    <add key="File.InvoiceFiles" value="Files/{0}/Invoice/" />
    <add key="File.EstimatorFiles" value="Files/{0}/Estimator/" />
    <add key="File.RequisitionFiles" value="Files/{0}/Requisition/" />
    <add key="File.CreditReports" value="Files/{0}/CreditReport/" />
    <add key="File.SupervisorSignatureFile" value="Files/{0}/SupervisorSignatureFile/" />
    <add key="File.CustomerBasementDrawingFile" value="Files/{0}/CustomerBasementDrawingFile/" />
    <add key="File.Payments" value="Files/{0}/Payments/" />
    <add key="File.Bills" value="Files/{0}/Bills/" />
    <add key="File.BillFiles" value="Files/{0}/BillFiles/" />
    <add key="File.BookingFiles" value="Files/{0}/BookingFiles/" />
    <add key="File.EstimateFiles" value="Files/{0}/Estimate/" />
    <add key="File.ServiceOrderFiles" value="Files/{0}/ServiceOrder/" />
    <add key="File.WorkOrderFiles" value="Files/{0}/WorkOrder/" />
    <add key="File.InventoryFiles" value="Files/{0}/Inventory/" />
    <add key="File.CustomerListFiles" value="Files/{0}/CustomerList/" />
    <add key="File.PaymentFiles" value="Files/{0}/Payments/" />
    <add key="SecurityKey" value="Parves000" />
    <add key="File.CompanyBranchFile" value="Files/{0}/CompanyBranchFile/" />
    <add key="File.MenuPhoto" value="Files/{0}/MenuPhoto/" />
    <add key="File.MenuItemPhoto" value="Files/{0}/MenuItemPhoto/" />
    <add key="File.CategoryPhoto" value="Files/{0}/CategoryPhoto/" />
    <add key="File.UserFile" value="Files/{0}/UserFile/" />
    <add key="File.CompanyLogo" value="/Content/Icons/{0}/Logos/" />
    <add key="File.TicketFile" value="Files/{0}/TicketFile/" />
    <add key="File.Ticket" value="Files/{0}/Ticket/" />
    <add key="File.SupervisorSignatureFile" value="Files/{0}/SupervisorSignatureFile/" />
    <add key="File.CustomerSignatureFile" value="Files/{0}/CustomerSignatureFile/" />
    <add key="File.FileManagementCustomerSignature" value="Files/{0}/FileManagementCustomerSignature/" />
    <add key="File.LeadToCustomerAgreement" value="Files/{0}/LeadToCustomerAgreement/" />
    <add key="File.SupplierFiles" value="Files/{0}/Supplier" />
    <add key="File.DeclinedReports" value="Files/{0}/DeclinedReports" />
    <add key="File.SurveyResults" value="Files/{0}/SurveyResults" />
    <add key="File.WriteUpsFiles" value="Files/{0}/WriteUps" />
    <add key="File.CompanySignature" value="Files/{0}/CompanySignature" />
    <add key="RequestBodyFile" value="~/App_Data/Email_Templates/RequestToAdmin/RequestToAdmin.html" />
    <add key="RequestFromEmail" value="noreply@rmrcloud.com" />
    <add key="RequestToEmail" value="kaizar.tariq@gmail.com" />
    <add key="RequestCCEmail" value="" />
    <add key="RequestBCCEmail" value="" />
    <add key="RequestSubject" value="Live Demo and 30-Day Free Trial" />
    <add key="DefaultEmailHost" value="smtp.mailgun.org" />
    <add key="DefaultEmailUsername" value="postmaster@mail.rmrcloud.com" />
    <add key="DefaultEmailPassowrd" value="5b1964ecbf158270c00d4d521c0dfca3-833f99c3-bc86a021" />
    <add key="EmailPort" value="587" />
    <add key="UrlFixer" value="" />
    <add key="File.CustomerTemplate" value="~/Content/Template/customerlist-{0}.txt" />
    <add key="File.LeadTemplate" value="~/Content/Template/leadlist-{0}.txt" />
    <add key="AWS.S3Url" value="https://{0}.s3.us-east-2.amazonaws.com/" />
    <add key="AWS.S3BucketName" value="dfwsec01" />
    <add key="SentryDsn" value="https://2b83dd9593724a318834acfcd0097b24@o4505204786659328.ingest.sentry.io/4505215913689088" />
  </appSettings>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="hsCoonectionString" />
  </elmah>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime maxRequestLength="994857600" maxUrlLength="32779" maxQueryStringLength="2097151" />
    <sessionState timeout="300" />
    <authentication mode="Forms">
      <forms loginUrl="/Login" name=".ASPXFORMSAUTH" timeout="300" />
    </authentication>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <customErrors mode="RemoteOnly" defaultRedirect="~/error404" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/fonts-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/fonts-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
  </system.webServer>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
    <mailSettings>
      <smtp from="">
        <network host="webmail.piiscenter.com" port="25" userName="noreply@piiscenter.com" password="piiscenter.com" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <HS.Web.UI.Properties.Settings>
      <setting name="HS_Web_UI_com_alarm_alarmadmin_CustomerManagement" serializeAs="String">
        <value>https://alarmadmin.alarm.com/WebServices/CustomerManagement.asmx</value>
      </setting>
      <setting name="HS_Web_UI_com_alarm_alarmadmin1_OrderManagement" serializeAs="String">
        <value>https://alarmadmin.alarm.com/webservices/OrderManagement.asmx</value>
      </setting>
    </HS.Web.UI.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>