.technical_call_header {
    width: 100%;
    background-color: #eceef1;
    padding: 10px 0px 10px 15px;
    font-size: 2rem;
}


.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.btn-save-techcall {
    background-color: rgba(0, 128, 0, 0.85);
    color: white;
    float: right;
}

    .btn-save-techcall:hover {
        color: white;
        background-color: rgba(0, 128, 0, 0.85);
    }
