.header-title {
    width: 100%;
    float: left;
    text-align:left;
    background-color:#f4f5f8;
}
.div-header {
    border-bottom: 1px solid #ccc;
}
.custom-title-span {
    line-height: 50px;
    font-size: 2rem;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}
.online-title-span {
    line-height: 50px;
    font-size: 2rem;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    text-align:left;
    margin-left:0px;
    padding-left:0px;
    vertical-align: middle;
    white-space: nowrap;
}

.div-body-contents {
    width: 100%;
    padding: 10px 15px;
    background-color:#f4f5f8;
}
.add_booking_table_info {
    width:100%;
    float:left;
    padding:10px 15px;
}

.balance-info {
    width: 30%;
    float: right;
    text-align: right;
    padding-right: 15px;
}

.booking-info-left-70p {
    float: left;
    width: 70%;
}
.booking-info-left-100p {
    float: left;
    width: 100%;
}
.width_100p {
    width:100%;
    float:left;
}

.width-30p {
    float: left;
    width: 30%;
    /*padding-right: 30px;*/
    padding-right: 0px;
}

.width-25p {
    float: left;
    width: 25%;
    padding-right: 10px;
}
.width-25p {
    float: left;
    width: 25%;
}

.span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.amount-span-style {
    font-size: 4.8rem;
    height: 4.8rem;
    color:#000 !important;
}

.table-info {
    padding-left: 50px;
    padding-right: 50px;
}

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 15px;
}

    .table-body-td-style:hover {
        background-color: #ddd;
        cursor: pointer;
    }

.border-right-2pxddd {
    border-right: 2px solid #ddd;
}

.tr-style:hover {
    background-color: #ffffff;
}

.display-none {
    display: none;
}

.CustomerBkTab {
    width: 100%;
}

.CustomerBkTab tbody tr input {
    display: none;
}

.CustomerBkTab tbody tr span {
    display: block;
}


.CustomerBkTab tbody tr.focusedItem span {
    display: none;
}

.CustomerBkTab tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}

.tableActions {
    text-align: center;
}

.CustomerBkTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position:relative;
}

.CustomerBkTab thead tr th {
    text-align: left;
    line-height: 36px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.CustomerBkTab tbody tr.focusedItem input {
    display: block;
    border: 1px solid #2ca01c;
}

.CustomerBkTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ccc;
}

.CustomerBkTab tbody tr td:hover {
    cursor: pointer;
}
.CustomerBkTab tbody tr td:nth-child(2) {
    position:relative;
}
.CustomerBkTab tbody tr td:nth-child(4)
,.CustomerBkTab tbody tr td:nth-child(5)
,.CustomerBkTab tbody tr td:nth-child(6) {
    text-align:left;
}

 
.add-booking-container .tt-menu {
    background: white;
    /*min-width: 320px;*/
    min-width: 250px;
    font-size: 12px;
    max-height: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    /*overflow: hidden;*/
    position: absolute;
    /*left: 5px;*/
    z-index: 100;
    display: none;
    /*width: 450px;*/
    width:280px;
    text-align:left;
}

/*.add-booking-container .tt-menu .tt-package{
    background: white;
    min-width: 320px;
    font-size: 12px;
    max-height: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    position: absolute;
    z-index: 100;
    display: none;
    width:280px;
}*/

.add-booking-container .tt-dataset-autocomplete {
    margin-top: -5px;
}

.add-booking-container .tt-suggestion {
    min-height: 36px;
    display: block;
    padding: 10px 10px 9px 15px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}

.add-booking-container .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

.add-booking-container .tt-sug-text {
    /*width: 90%;*/
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-booking-container .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

.add-booking-container .tt-suggestion.active {
    background-color: #f2f2f2;
}

.add-booking-container .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-booking-container .tt-sug-type {
    position: absolute;
    right: 17px;
    top: 11px;
    color: #999;
    font-style: italic;
}

.add-booking-container .tt-eq-price {
    float: right;
}

.select2-container.select2-container--default.select2-container--open {
    z-index: 9999 !important;
}

.booking-footer {
    background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
}

.BookingCancelButton, .BookingSaveButton, .btnCloneBooking {
    background-color: transparent;
}

.btnInv {
    color: white;
    border: 1px solid #6b6c72;
    border-radius: 3px;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.btnDecline {
    color: white;
    border: 1px solid #6b6c72;
    border-radius: 3px;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#d71920;
}
.btnInv:hover,.BookingDeleteButton:hover {
    background-color: #545558;
}
.BookingDeleteButton,
.BookingDeleteButton:hover,
.BookingDeleteButton:focus {
    background-color:#d71920;
    color:#fff;
}

.SaveAndSendBtn, .SaveOptionsBtn, .btnResend, .ApproveBookingBtn {
    background-color: #2ca01c;
    color: white !important;
    border: 1px solid #6b6c72 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-top:-1px;
}

    .SaveAndSendBtn:hover, .SaveOptionsBtn:hover {
        background-color: #108000 !important;
        color: white !important;
    }

.book_cancelbtnDiv {
    width: 33%;
    float: left;
}

.SaveaButtonsDiv {
    width: 45%;
    float: left;
    text-align: right;
}

.book_InnerOptionsDiv {
    width: 22%;
    float: left;
    text-align: center;
    padding-top: 8px;
    color: white;
}
.book_InnerOptionsDiv a {
    color:#fff;
    cursor:pointer;
}
.InnerOptionsDiv a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btnAddLines, .btnAddSubtotal, .btnClearLines {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    min-width: initial;
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0 !important;
    border-radius: 3px;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    border: 1px solid #8d9096;
    background: 0 0;
    color: #393a3d;
    font-weight: 200;
}

.btnAddLines:hover, .btnAddSubtotal:hover, .btnClearLines:hover {
    background: #fff;
    color: #393a3d;
    box-shadow: 0 0 0 1px #8d9096;
}

.BookingMessage {
    resize: none;
    width: 345px;
}

.txtProductQuantity {
    height: 32px;
}

/*.InvoiceCalculationsDiv {
    padding-left: 15%;
}*/

.CustomerBkTab tbody td input {
    width: 100%;
}

.CustomerBkTab .tab-index, .CustomerBkTab .tab-Action {
   width: 2%;
}

.CustomerBkTab .tab-Product{
    width: 18%;
} 

.CustomerBkTab .tab-Desc {
    width: 30%;
}

.CustomerBkTab .tab-Quantity {
    width: 3%;
}
.CustomerBkTab .tab-Rate {
      width: 3%;
}
.CustomerBkTab .tab-Amount {
     width: 4%;
}

.SaveaButtonsDiv ul.dropdown-menu li {
    cursor: pointer;
}

.invoice-make-payment-div {
    float: left;
    width: 30%;
    text-align: center;
    padding-top: 19px;
    cursor: pointer;
}

.settings-invoice {
    background: none;
    border: none;
    font-size: 27px;
    position: absolute;
    right: 40px;
    color: #6b6c72;
}

.shippingAddress {
    height: 80px !important;
}

.BillingAddress {
    height: 80px !important;
}

.shipping-amount-div {
    display: none;
}

.width-70p {
    width: 70%;
    float: left;
}

.float-right {
    float: right;
}

#shippingCost {
    width: 80px !important;
}

#discountType {
    float: right;
    width: 160px !important;
}

#discountAmount {
    width: 60px !important;
}

.deposit-amount-div {
    display: none;
}

.discount-amount-div {
    display: none;
}

.invoice-informations {
    overflow-x: hidden;
}

.margin-TB-5p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#Invoice_ShippingCost {
    float: right !important;
    text-align: right !important;
    width: 80px !important;
}

#Invoice_Deposit {
    float: right !important;
    text-align: right !important;
    width: 80px !important;
}

#taxType {
    float: right;
    width: 160px !important;
}

.InvoiceToEstimate-btn-container {
    position: absolute;
    right: 80px;
    top: 5px;
}

#Invoice_ShippingCost {
    float: right !important;
    text-align: right !important;
    width: 80px !important;
}

.Settingin {
    background: none;
    border: none;
    font-size: 27px;
    position: absolute;
    right: 40px;
    color: #a5a1a1;
}

.width-70p {
    width: 70%;
    float: left;
}

/*new added css*/
/*new added css*/

.BkPreview {
    display: none;
}

    .BookingPrintAndSend {
        border: 1px solid #2ca01c;
        color: white;
        background-color: #2ca01c;
    }

    #Invoice_ShippingCost {
        float: right !important;
        text-align: right !important;
        width: 80px !important;
    }

   .width-70p {
        width: 70%;
        float: left;
    }

    .booking-informations {
        overflow-x: hidden;
    }

    #taxType {
        float: right;
        width: 100% !important;
    }
    .add_booking_margin_top {
        margin-top:7px;
    }
    .subtotal-amount-div,
    .Discount-total,
    .tax-amount-div,
    .total-amount-div,
    .total-discount-div,
    .balance-due-amount-div {
        width:100%;
        float:left;
    }
     .subtotal-amount-div .col-md-8,
    .Discount-total .col-md-8,
    .tax-amount-div .col-md-8,
    .total-amount-div .col-md-8,
    .total-discount-div .col-md-8,
    .balance-due-amount-div .col-md-8 {
       
    }
    .subtotal-amount-div .col-md-4,
    .Discount-total .col-md-4,
    .tax-amount-div .col-md-4,
    .total-amount-div .col-md-4,
    .total-discount-div .col-md-4,
    .balance-due-amount-div .col-md-4 {
          padding-right: 35px;
    padding-left: 0px;
    }
     .subtotal_text {
        font-size:17px;
        font-weight:600;
        padding-right:0px !important;
    }
     
    .tax_amount {
    font-size: 17px;
    border: 1px solid #ddd;
    border-radius: 4px;
     -webkit-border-radius: 4px;
-moz-border-radius: 4px;
    padding: 4px 5px;
    }
   .custom_pad_add_booking {
       padding-right:0px;
    
   }
    .booking_contents_scroll{
        overflow-y:scroll;
        height: 90vh; 
    }
    .customer_name_insert_div{
        position:relative;
    }
    .Memo {
        resize: none;
        width: 345px;
    }
    .invoice_memo_counter{
        width: 345px;
        font-size: 11px;
        text-align: right;
        font-style: italic;
    }
    .invoice_message_div{
        width: 345px;
        font-size: 11px;
        text-align: right;
        font-style: italic;
    }
    .InvoiceNotTxt{
        width:100%;
        resize:none;
    }
    .AddNewInvNotBtn {
        float:right;
    }
.AddNewInvNotBtn img{
    max-width:20px;
    max-height:20px;
}
.BKNotesContainer{
    width:345px;
    float:left;
}
.billing_text_align {
        margin-top:7px;
    }
.InvoiceNote{
    padding-top: 10px;
    width: 100%;
    border: 1px solid #ccc; 
    white-space: pre-wrap;
    margin-top: 20px; 
    padding:10px;
}
.InvoiceNoteOptions clearfix{
    padding-top:10px;
}
.NoteAddedByDiv{
    width: 70%;
    float: right;
    text-align: right;
    font-size: 11px;
    font-style: italic;
}
.reason_div{
    width: 345px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid rgb(169, 169, 169);
}
    .BkPreview {
        display: none;
    }

    .BookingPrintAndSend {
        border: 1px solid #2ca01c;
        color: white;
        background-color: #2ca01c;
    }

    #mceu_15-body, #mceu_22-body, #mceu_86-body, #mceu_29-body,#mceu_93-body, .mce-menubar, #mceu_54-body, #mceu_61-body {
        display: none;
    }
    .CustomerBkTab .tab-Area {
      width: 6%;
    }
    .tab-Product-rug{
        width: 8%;
    }
    .tab-Desc-box{
        width:12%;
    }
    .tab-Package{
        width:10%;
    }
    .tab-Include{
        width:12%;
    }
    .C_S.I_G {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.C_S .input-group-prepend { 
    width:30%;
    float:left;
}
    
.C_S .input-group-text { 
    padding-top:5px;
    height: 32px;
    color: #495057;
    text-align: center; 
    background-color: #e9ecef;
    border: 1px solid #ced4da; 
}
.C_S.I_G > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.C_S.I_G > .txtProductAmount,.C_S.I_G > .txtProductRate,.C_S.I_G > .txtProductDiscount {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 70%;
    float:left;
    margin-bottom: 0;
}
.bkQuarter{
    width:22%!important;
    float:left;
}
.bkQuarterX {
    width: 12% !important;
    float: left;
    margin-bottom:0px;
    margin-top:2px;
    text-align:center;
}
.bkHalf {
    width: 50% !important;
    float: left;
}
.spnRugLength, .spnRugLengthInch, .spnRugWidth, .spnRugWidthInch, .spnRugRadius, .spnRugRadiusInch {
    float: left;
}
.mobile_book_info {
    display: none;
}
 .addPaymentMethod{
      width: auto;
    float: left;
    }
    .addpeymentDromdown{
                 padding: 5px;
    border: 1px solid #ccc !important;
    width: 180px;
    }
    .addpeymentDromdown li {
            float: left;
    margin-right: 7px;
    }
    .addpeymentDromdown li:nth-child(2) {
        margin-right:0px;
    }
    .paymentButton{
        margin-top: 18px;
    }
@media (max-width:768px) {
    .book_cancelbtnDiv {
    width: 30%;
}
.SaveaButtonsDiv {
    width: 51%;
}
.book_InnerOptionsDiv {
    width: 19%;
}
     .add_booking_table_info {
            overflow-x: visible;
    overflow-y: hidden;
    }
    .add_booking_table_info table,
    .add_booking_table_info .OtherInfos {
        width:1200px;
        margin-bottom:50px;
    }
    .subtotal-amount-div .col-md-8,
    .Discount-total .col-md-8,
    .tax-amount-div .col-md-8,
    .total-amount-div .col-md-8,
    .total-discount-div .col-md-8,
    .balance-due-amount-div .col-md-8 {
        width: 66.66666667%;
        float:left;
    }
    .subtotal-amount-div .col-md-4,
    .Discount-total .col-md-4,
    .tax-amount-div .col-md-4,
    .total-amount-div .col-md-4,
    .total-discount-div .col-md-4,
    .balance-due-amount-div .col-md-4 {
            width: 33.33333333%;
            float:left;
    }
}
@media (max-width:414px) {
    .add_booking_table_info table tbody tr td {
        width:unset !important;
        float:unset !important;
    }
    .mobile_book_info {
        display:block;
    }
    .dtp_book_info {
        display:none;
    }
    .booking-info-left-70p {
        width:100%;
    }
    .balance-info {
        width:100%;
        float:left;
    }
    .booking-info-left-70p .width-25p {
        width:100%;
    }
   
    .booking_device_margin {
        margin-bottom:38px;
    }
}