.btn-note {
    margin-top: 15px;
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    font-weight: 600;
    margin-left: 27px;
}

    .btn-note:hover {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
    }

.add-estimate-div {
    display: none;
}
.lead_booking_batch_btn .dropdown-toggle {
    margin-left: 0px !important;
    border-left: 1px solid #fff !important;
}
.black-border {
    border: 1px solid #ccc;
    border-radius: 3px;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 5px;
}

.background-color-ffffff {
    background-color: white;
}

    .background-color-ffffff:focus {
        background-color: #ffffff !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

.customer-dropdown-ul-style {
    border: 1px solid #666 !important;
    font-size: 13px;
    border-radius: 0px !important;
     -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
}

.dropallign {
    padding: 7px 13px;
}

.add-estimate-div {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: #ffffff;
}

.btn-add-booking {
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    margin-left: 27px;
}

#tblBooking {
    width: 100%;
}

#tblEstimate_paginate {
    float: right;
}

.cus-anchor {
    color: #2ca01c !important;
}

.eqipment-btn-dropdown {
    background-color: #2ca01c;
    color: #ffffff;
    box-shadow: none;
    border-bottom: none;
    border-left: 1px solid #108000;
}

.item-delete-btn {
    background-color: #d71920;
    color: #ffffff !important;
    box-shadow: none;
    font-weight: 600;
    border-bottom: none;
    border-left: 1px solid #108000;
}

.equipment-dropdown-ul-style {
    border: 1px solid #666 !important;
    font-size: 13px;
    border-radius: 0px !important;
     -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
}

.cus-padding-top10p {
    padding-top: 10px;
}
#tblBooking > tbody > tr:hover {
    background-color:#f4f5f8 !important;
}
#tblBooking > thead > tr > th {
   padding-left:15px;
}
.ep_device_header {
    display:none;
}
.ep_float_right {
    float:right;
}
.viewed_time_stamp{
    font-size:10px;
    font-style:italic;
    text-align:left;
    line-height:10px;
}
 #tblBooking > tbody > tr:nth-child(even) {background-color:#ededed;}
 .ep_action_dropdown {
     padding:0px;
     right:0px !important;
     left:unset;
 }
@media(max-width:1024px) {

    #tblBooking > thead > tr > th:nth-child(6) {
        width:21% !important;
    }
     #tblBooking > thead > tr > th:nth-child(2) {
        width:10% !important;
    }
       #tblBooking > thead > tr > th:nth-child(4) {
        width:18% !important;
    }

}
@media(max-width:768px) {
   
    .ep_hide_for_device {
        display:none;
    }
    .ep_device_header {
        display:block;
        width:50%;
        float:left;
        font-weight:600;
        padding-left:10px;
        text-align:left;
    }
    .ep_device_header span {
        float:right;
        margin-right:10px;
    }
    .ep_device_info {
          width: 50%;
    float: left;
    text-align: left;
    }

    .ep_device_row {
         width: 100%;
    float: left;
    padding: 0px;
    }

   

}