@{
    ViewBag.Title = "New Expense";
    Layout = null;
}

@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>

</style>

<script>

</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                @Localize.T("Expense");
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>