.add_opportunity_container {
    width:100%;
    float:left;
}
.add_opportunity_header {
    font-size: 2.4rem !important;
    padding: 5px 20px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
.add_opportunity_inner {
    width:100%;
    float:left;
     padding: 10px;
     overflow-x:hidden;
     overflow-y:scroll;
}
.add_opportunity_inner .form-group {
    width:25%;
    float:left;
    padding:0px 10px;
    max-height: 50px;
}
.add_opportunity_inner .span_style {
    font-weight:bold;
}
.add_opportunity_footer {
    background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
}
.add_opportunity_footer input {
    float:right;
    color: white;
    border: 1px solid #6b6c72;
     background-color: #393a3d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.add_opportunity_footer input:hover {
     background-color: #545558;
}
.delete_footer{
    float:left;
}
@media (max-width:414px) {
    .add_opportunity_inner .form-group {
        width:100%;
        margin-bottom:10px;
    }
}