.opportunities_container {
    width:100%;
    float:left;
    padding-bottom:20px;
}
.opportunities_container_iiner {
     width:100%;
    float:left;
    margin-top:50px;
}
.opportunities_fixed_header_right {
    width:auto;
    float:right;
}
.opportunities_fixed_header {
    position: fixed;
    width: 88.7%;
    background-color: #fff;
    z-index: 3;
    margin-top: -5px;
    padding-top: 5px;
}
.opportunities_container_iiner #searchbardiv .opportunities_export {
    float:right;
}
 .opportunities_right_allign {
        width:auto;
        float:right;
    }
 .opportunities_right_allign .dropdown-toggle {
    margin-left:0px !important;
    border-left:1px solid #fff !important;
}
    .opportunities_import_drop {
            top: 29px !important;
    position: absolute;
    right: 0px;
    left: unset;
        border: 1px solid #666 !important;
    font-size: 13px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
    min-width: 100% !important;
    }
#AddNewOpportunity {
    margin-left:10px;
}
    .left_opportunity{
        width:50%;
        float:left;
    }
    .left_opportunity .input-group {
        width:300px;
    }
    .right_opportunity{
        width:50%;
        float:left;
    }
#Range{
    width: 5%;
    height: 35px;
}
.opportunity_filter_list {
      width: 100%;
    float: left;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    margin-top:10px;
}
.opportunity_filter_list .box_category {
    width: 12.5%;
    float: left;
    margin-bottom: 10px;
    padding-right: 10px;
}

.opportunity_filter_list .group_category {
    width: 33.33%;
    float: left;
    margin-bottom: 10px;
    padding-right: 10px;
}
.opportunity_filter_list .box_category:nth-child(8),
.opportunity_manual_padding {
    padding-right:0px !important;
}
.opportunity_filter_list .group_category input {
    width:45%;
    float:left;
}
.opportunity_filter_list .middle_box_category {
      width: 10%;
    float: left;
    padding-top: 7px;
    text-align: center;
    height: 34px;
    background-color: #ccc;
    color: #000;
}
.opportunity_filter_list .btn_category {
    width:100%;
    float:left;
    text-align:right;
}
.opportunity_filter_list .btn_category button {
    margin-left:5px;
}

.main_header {
    width: 15%;
    float: left;
}
.main_header h2 {
    margin-top:0px;
}
.opportunities_container #searchbardiv {
    width:100%;
    float:left;
    padding-top: 7px;
}
.opportunities_container #searchbardiv .input-group {
    width:350px;
    float:left;
}
.opportunities_float_right {
    float:right !important;
}
.opportunities_container #searchbardiv .input-group button {
    margin-left:0px !important;
}
.opportunities_container #searchbardiv button {
  float:left;
  margin-left:10px;
}
.opportunities_container .ListContents {
    width:100%;
    float:left;
}
 .opportunity_list_container {
       width:100%;
       float:left;
       position:relative;
       margin-bottom: 10px;
   }
 .opportunities_table_container {
        width:100%;
       float:left;
       margin-bottom:10px;
       overflow-x:hidden;
        overflow-y:hidden;
 }
.opportunities_table {
       width:100%;
       float:left;
       table-layout:fixed;
       margin-bottom: 10px;
   }
    .opportunities_table thead tr {
       border-bottom: 2px solid #d4d7dc;
    }
     .opportunities_table tbody tr td {
      border-bottom:1px solid #ddd;
   }
     .opportunities_table thead tr .st {
         width:170px;
     }
     .opportunities_table thead tr .cr_dt {
         width:130px;
     }
   .opportunities_table thead tr th,
   .opportunities_table tbody tr td {
       padding:10px;
   }
   .opportunities_table tbody tr td a {
     cursor:pointer;
   }
  
   .opportunities_table tbody tr:nth-child(odd) {
     background-color:#f8f8f8;
   }
    .opportunities_table tbody tr:hover {
     background-color:#f4f5f8;
   }
   
   .opportunity_list_container  .paginationtextdv {
       font-weight:bold;
       padding: 5px 10px;
   }
   .opportunities_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .opportunities_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .opportunities_table thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .opportunities_table thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }
            .opportunities_pagination_container {
       width:100%;
       float:left;
       text-align:right;
   }
   .opportunities_pagination_inner {
       float:right;
   }
   .opportunities_export .ImportPanel {
    border: 1px solid #ccc !important;
    width: auto;
    position: absolute;
    right: 0px;
    left: unset;
    top: 40px;
}
    .opportunities_export .ImportPanel button {
       margin:5px !important;
    }
    .opportunities_export .ImportPanel::before {
            content: '';
    position: absolute;
    top: -14px;
    right: 11px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #CBCBCB;
    }
 #ExcelImport{
     float:left;
     margin-left: 5px;
 }
#pagination {
        display: inline-block;
    }
    .paginationMiddleButtondv {
    width: 38px;
    float: left;
    margin-right:2px;
}
    .PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}
    .NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
}
    .activeBtn {
    background-color: #ddd !important;
    color: black;
    border: none;
    height: 26px;
    width: 35px;
}
    .paginationRightButtondv {
    width: 38px;
    float: left;
    margin-left:2px;
}
.opportunities_container .btn {
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}
.opportunities_container .btn .glyphicon-filter {
    color:#fff !important;
}
.OpportunityTab_Load .opportunities_container .btn {
    float:right !important;
}

.opportunities_table tbody tr td .opp_header {
    display:none;
}

@media (max-width:768px) {
    .opportunities_container #searchbardiv {
    padding-top: 0px;
    padding-bottom:10px;
}
    .opportunity_filter_list .box_category {
        width:25%;
    }
     .opportunity_filter_list .box_category:nth-child(4) {
         padding-right:0px;
     }
     .opportunities_table thead {
         display:none;
     }
     .opportunities_table tbody tr td {
         width:100%;
         float:left;
         box-sizing:border-box;
     }
     .opportunities_table tbody tr td .opp_header {
        display:block;
        width:40%;
        float:left;
        text-align:left;
        font-weight:bold;
}
      .opportunities_table tbody tr td .opp_header span {
         float:right;
         margin-right:10px;
     }
      .opportunities_table tbody tr td .opp_info {
        width:60%;
        float:left;
        text-align:left;
        word-break:break-all;
}
}
@media (max-width:414px) {
    .opportunities_container_iiner {
        margin-top:85px;
    }
.opportunities_fixed_header .main_header {
    width: 50%;
    float: left;
} 

.opportunities_fixed_header .dateviewed {
    margin-right:0px;
    margin-top:10px;
}
.opportunities_container #searchbardiv .input-group {
    width:100%;
    margin-bottom:10px;
}
    .opportunities_container #searchbardiv {
        width:100%;
    }
    .opportunities_container .ListContents {
        margin-top:10px;
    }
    .opportunities_container #searchbardiv input {
    width:100%;
}

   
    .opportunity_filter_list .box_category,
    .opportunity_filter_list .group_category {
    width: 100%;
    padding-right: 0px;
}
}
