@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>

<script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    
    var LoadOrdersTab = function (pageno) {
        if (typeof (pageno) == "undefined" && pageno == null && pageno == "") {
            pageno = 1;
        }
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Orders").html(TabsLoaderText);
        $(".Load_Orders").load(domainurl + "/Order/ReviewListPartial");
    }

    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        if (typeof (firstdate) != "undefined" && firstdate != null && firstdate != "" && typeof (lastdate) != "undefined" && lastdate != null && lastdate != "") {
            $(".min-date").val(firstdate);
            $(".max-date").val(lastdate);
        }
        $(".LoaderWorkingDiv").hide();
        //LoadSalesReportTab();

        LoadOrdersTab(1);
        


        $(".OrdersTab").click(function () {
            LoadOrdersTab(1);
        });
        
    });

</script>
@*<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />*@
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reviews")
    
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">

            @if (PermissionChekcer.IsPermitted(Permissions.OrderPermissions.OrdersTab))
            {
                <li class="OrdersTab active">
                    <a idval="" data-target="#OrdersTab" data-toggle="tab">@Localize.T("Reviews")</a>
                </li>
            }

        </ul>
        <div class="tab-content reports_tab_content">
            @if (PermissionChekcer.IsPermitted(Permissions.OrderPermissions.OrdersTab))
            {
                <div class="tab-pane active" id="OrdersTab">

                    <div class="Load_Orders">

                    </div>

                </div>
            }

        </div>
    </div>
</div>


