@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>

<script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";


    var LoadRewardsTab = function (pageno) {
        if (typeof (pageno) == "undefined" && pageno == null && pageno == "") {
            pageno = 1;
        }
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_rewards").html(TabsLoaderText);
        $(".Load_rewards").load(domainurl + "/Order/LoadRewardPartial");
    }

    var LoadCouponsTab = function (pageno) {
        if (typeof (pageno) == "undefined" && pageno == null && pageno == "") {
            pageno = 1;
        }
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_coupons").html(TabsLoaderText);
        $(".Load_coupons").load(domainurl + "/Order/LoadCouponPartial");
    }

    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        if (typeof (firstdate) != "undefined" && firstdate != null && firstdate != "" && typeof (lastdate) != "undefined" && lastdate != null && lastdate != "") {
            $(".min-date").val(firstdate);
            $(".max-date").val(lastdate);
        }
        $(".LoaderWorkingDiv").hide();
        //LoadSalesReportTab();

        LoadRewardsTab(1);



        $(".RewardsTab").click(function () {
            LoadRewardsTab(1);
        });
        $(".CouponsTab").click(function () {
            LoadCouponsTab(1);
        });
    });

</script>
@*<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />*@
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Rewards & Coupons")

</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">

            <li class="RewardsTab active">
                <a idval="" data-target="#RewardsTab" data-toggle="tab">@Localize.T("Rewards")</a>
            </li>
            <li class="CouponsTab">
                <a idval="" data-target="#CouponsTab" data-toggle="tab">@Localize.T("Coupons")</a>
            </li>
        </ul>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="RewardsTab">

                <div class="Load_rewards">

                </div>

            </div>
            <div class="tab-pane active" id="CouponsTab">

                <div class="Load_coupons">

                </div>

            </div>
        </div>
    </div>
</div>


