
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 350px;
    height: 100%;
}

.modal.right .modal-content {
    height: 100%;
}

.modal.right .modal-body {
    padding: 0px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal-content {
     -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.modal-header {
    border-bottom: none;
    position: absolute;
    right: 0px;
    z-index: 999;
}

    .modal-header h3 {
        padding-top: 6px;
        padding-left: 12px;
        font-family: 'Open Sans', sans-serif;
    }

.btn-note {
    margin-top: 10px;
    margin-bottom:10px;
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    float: right;
    font-weight:normal;
}

    .btn-note:hover {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
    }

#tblNotes {
    width: 100%;
    float:left;
}
    #tblNotes .item-edit {
        border: 0px !important;
        padding: 0px !important;
        margin-left: 0px !important;
    }
    .note_table_fixed {
        table-layout: fixed;
    }

    .notes_device_info {
        text-align: justify;
        word-break: break-word;
    }
    .nt_text_st {
            width: 100%;
    float: left;
           overflow: hidden;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;*/
    }
    .nt_text_btn {
             float: left;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    }
    .lessContent {
        color:#d71920;
    }
    .ellipsis_style {
            overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .PinnedNote {
        background-color: #86dc7a !important;
    }

#tblNotes > thead > tr > th:nth-child(1) {
    width: 45% !important;
}
#tblNotes > tbody > tr:hover {
    background-color:#f4f5f8;
}

.form-group h3 {
    /* margin-left: 30px; */
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
}
  #tblNotes > tbody > tr:nth-child(odd) {background-color:#f8f8f8;}
.notes_device_header {
    display: none;
}
.notes_header_custom {
        float: left;
    margin-right: 5px;
}
.note_top_search_bar {
    width:100%;
    float:left;
}
.note_top_search_bar_inner {
    width:auto;
    float:left;
    padding: 10px 0px;
}
.note_top_search_bar_inner #Searchtxt {
    width:200px;
    float:left;
    margin-right:-3px;
}
    .note_top_search_bar_inner #StartDate {
        width: 130px;
        float: left;
        margin-right: -3px;
    }
.note_top_search_bar_inner .input-group {
    width:160px;
    float:left;
}
@media(width:1024px) {
     #tblNotes > thead > tr > th {
        text-align:center !important;
    }
}
 @media(max-width:768px) {
    .notes_header_custom {
        display:none;
}
    .notes_header_hide_for_device {
        display:none;
    }
    .notes_device_header {
        display:block;
        width:48%;
        float:left;
        font-weight:600;
         text-align:left;
    }
    .notes_device_header span {
        float:right;
        margin-right:10px;
    }
    .notes_device_info {
        width:52%;
        float:left;
        text-align:left;
    }

    .notes_device_row {
        width:100%;
        float:left;
        padding:3px 10px;
        box-sizing: border-box !important;
        border-bottom: 1px solid #e7e7e7;
    }
    
}
@media(max-width:414px) {
    #tblNotes {
        margin-left: 0px;
    }
    .note_top_search_bar_inner #Searchtxt {
    width:100%;
}
}
