.add_contact_inner .row{
    margin:0;
}
.add_contact_contaoner {
    width:100%;
    float:left;
}
.add_contact_header {
    font-size: 2.4rem !important;
    padding: 5px 20px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
.add_contact_inner {
    width:100%;
    float:left;
     padding: 10px;
     overflow-y:auto;
     height:580px;
}
.add_contact_inner .select2-container .select2-selection--multiple {
    min-height:34px;
}
.add_contact_inner .form-group {
    width:33.33%;
    float:left;
    padding:0px 10px;
    position:relative;
}
.add_contact_inner .form-group .select2-search__field {
    width:100% !important;
}
.add_contact_inner .add_contact_notes {
    width:100% !important;
}
.add_contact_inner .add_contact_notes textarea {
    height:200px;
}
.add_contact_inner .span_style {
    font-weight:bold;
}
.add_contact_footer {
    background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
}
.add_contact_footer input {
    float:right;
    color: white;
    border: 1px solid #6b6c72;
     background-color: #393a3d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.add_contact_footer input:hover {
     background-color: #545558;
}
.add_contact_footer #btnSaveContact,
.add_contact_footer #btnSaveContact:hover,
.add_contact_footer #btnSaveContact:focus {
    background-color:#d71920;
    color:#fff;
}
.add_contact_save,
.add_contact_save:hover  {
    background-color:#2ca01c !important;
    border: 1px solid #2ca01c !important;
}

.delete_footer {
    float: left;
}

.associate_header
{
        width: 100%;
        padding: 5px 10px;
        background-color: #f4f5f8;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        -moz-border-radius: 4px 4px 0px 0px;
        border-bottom: 2px solid #ccc;
}
.assocuate_block{
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.Custom_associate_content
{
        overflow-y: scroll;
    height: 23vh;
    padding:10px;
}
@media (max-width:414px) {
   
    .add_contact_inner .form-group {
        width:100%;
        margin-bottom:10px;
    }
}