    .contact_list_container {
        width:100%;
        float:left;
        padding:15px;
    }
    .contact_main_header_left {
        width:25%;
        float:left;
        font-size:30px;
    }
    .contact_main_header_right {
        width:75%;
        float:right;
    }
  
    .contact_container_main {
       padding:5px 15px 0px 15px;
    }
    .contact_fixed_header {
           position: fixed;
    background-color: #fff;
    z-index: 3;
    margin-top: -5px;
    padding-top: 5px;
    }
    .contact_main_header {
        width:15%;
        float:left;
        font-size:30px;
    }
    .contact_fixed_header .contact_export {
    float:right;
    margin-left:5px;
    margin-bottom:5px;
}
    .contact_right_allign {
        width:auto;
        float:right;
    }
    .contact_right_allign .dropdown-toggle {
    margin-left: 0px !important;
    border-left: 1px solid #fff !important;
}
    .contact_import_drop {
            top: 29px !important;
    position: absolute;
    right: 0px;
    left: unset;
        border: 1px solid #666 !important;
    font-size: 13px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
    min-width: 100% !important;
    }
    .contact_export .ImportPanel {
      padding: 5px;
    border: 1px solid #ccc !important;
    width: auto;
    position: absolute;
    right: -101px;
    left: unset;
    top: 40px;
}
    .contact_export .ImportPanel::before {
    content: '';
    position: absolute;
    top: -14px;
    left: 52px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #CBCBCB;
    }
    .contact_export #DatabaseImport {
        margin-bottom:5px;
    }
    #btnAddContacts {
        margin-left:5px;
        margin-bottom:5px;
    }
    #contact_search_container{
        width:100%;
        float:left;
        padding:5px 0px 10px;
        margin-top:50px;
    }
    #tag_search_container{
        width:100%;
        float:left;
        padding:5px 0px 10px;
        margin-top:20px;
    }
    .dfw_add_contact {
        width:auto;
        float:right;
    }
    #ContactTab #contact_search_container {
        margin-top:0px;
    }
    #ContactTab .contact_list_container {
        padding:5px 0px;
    }
    #contact_search_container #searchbardiv {
        width:300px;
        float:left;
    }
 
   .Contacts_container {
       width:100%;
       float:left;
   }
   /*.Contacts_container  .paginationtextdv {
       font-weight:bold;
       padding: 5px 10px;
   }*/
   .Contacts_table {
       width:100%;
       float:left;
       table-layout:fixed;
       margin-bottom: 10px;
   }
.Contact_filter_list {
    width:100%;
    float:left;
    padding-top:10px;
}
#Range{
    width: 5%;
    height: 35px;
}
.Contact_filter_list .box_category {
    width: 12.5%;
    float: left;
    margin-bottom: 10px;
    padding-right: 10px;
}

.Contact_filter_list .group_category {
    width: 33.33%;
    float: left;
    margin-bottom: 10px;
    padding-right: 10px;
}
.contact_container_main .Contact_filter_list .box_category {
    width: 20%;
}
.contact_container_main .Contact_filter_list .group_category {
    width: 40%;
    padding-right:0px;
}
#contact_search_container .btn-filter {
        float:left !important;
        margin-left:10px;
        padding:0px;
        background-color:#fff !important;
        font-size:25px;
        border:0px;

}
#contact_search_container .btn-filter:focus {
      outline: 0;
    box-shadow: none!important;
}
.Contact_filter_list .box_category:nth-child(8),
.opportunity_manual_padding {
    padding-right:0px !important;
}
.Contact_filter_list .group_category input {
    width:45%;
    float:left;
}
.Contact_filter_list .middle_box_category {
      width: 10%;
    float: left;
    padding-top: 7px;
    text-align: center;
    height: 34px;
    background-color: #ccc;
    color: #000;
}
.Contact_filter_list .btn_category {
    width:auto;
    float:left;
}
.Contact_filter_list .btn_category button {
    margin-left:5px;
}
button.btn.btn-apply-filter {
    margin-left: 5px;
}

   .Contacts_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

   .Contacts_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .Contacts_table thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .Contacts_table thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }
    .Contacts_table thead tr {
       border-bottom: 2px solid #d4d7dc;
    }
     .Contacts_table tbody tr td {
      border-bottom:1px solid #ddd;
   }
   .Contacts_table thead tr th,
   .Contacts_table tbody tr td {
       padding:10px;
   }
   .Contacts_table tbody tr td a {
     cursor:pointer;
   }
  
   .Contacts_table tbody tr:nth-child(odd) {
     background-color:#f8f8f8;
   }
    .Contacts_table tbody tr:hover {
     background-color:#f4f5f8;
   }
    .Contacts_table thead tr th:nth-child(4) {
        width:180px;
    }
    .created_by div:nth-child(2) {
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        word-break:normal !important;
    }
   .Contacts_pagination_container {
       width:100%;
       float:left;
       text-align:right;
   }
   .Contacts_pagination_inner {
       float:right;
   }
   .paginationtextdv {
       width:100%;
       float:left;
   }
    .add_ZipCode_btn_div {
        float: right;
        text-align: right;
    }

    #srch-term {
        width: 232px;
    }

    #pagination {
        display: inline-block;
    }
    .paginationMiddleButtondv {
    width: 38px;
    float: left;
    margin-right:2px;
}


    .PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}
    .NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
}
    .activeBtn {
    background-color: #ddd !important;
    color: black;
    border: none;
    height: 26px;
    width: 35px;
}
    .paginationRightButtondv {
    width: 38px;
    float: left;
    margin-left:2px;
}
.contact_list_container #btnAddtags {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}
.contact_list_container .btn {
   
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}
.contact_list_container #rmr_tag_search {
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}
.Contacts_table tbody tr td div:nth-child(1) {
    display:none;
}
 .ImportPanel {
    padding: 5px;
    border: 1px solid #ccc !important;
    width: 150px;
    position:absolute;
    left:950px;
    top:30px;
}
 #ExcelImport{
     float:right;
     margin-right:5px;
 }
 #PdfImport {
     float:right;
 }
.inputdiv {
    float: left;
    width: 255px;
}
.Contacts_table tbody tr td div:nth-child(2) {
    word-break:break-all;
}
.Contacts_table tbody tr td:nth-child(1) div:nth-child(2) {
    word-break:break-word;
}
.taglist_filter{
    float: left;
    margin-left: 10px;
}
 @media (max-width:768px) {
     .contact_container_main .Contact_filter_list .box_category {
         width:33.33%;
     }
    .contact_container_main .Contact_filter_list .group_category {
        width: 100%;
    }
     .contact_container_main .Contact_filter_list .box_category:nth-child(3) {
         padding-right:0px;
     }
      .Contact_filter_list .btn_category {
        padding-bottom:10px;
    }
      .Contacts_table thead {
    display:none;
}
     .Contacts_table tbody tr td {
         width:100%;
         float:left;
         box-sizing:border-box;
     }
     .Contacts_table tbody tr td div:nth-child(1) {
        display:block;
        width:40%;
        float:left;
        text-align:left;
        font-weight:bold;
}
     .Contacts_table tbody tr td div:nth-child(1) span {
         float:right;
         margin-right:10px;
     }
      .Contacts_table tbody tr td div:nth-child(2) {
        width:60%;
        float:left;
        text-align:left;
        word-break:break-all;
}
 }
@media (max-width:414px) {
     .contact_main_header_left {
        width:40%;
    }
    .contact_main_header_right {
        width:60%;
    }
  
   .contact_main_header_right .dateviewed {
    margin-bottom: 5px;
    margin-right: 0px;
}
   #contact_search_container {
       margin-top:75px;
   }
   .Contact_filter_list {
       padding-top:0px !important;
   }
    .contact_container_main .Contact_filter_list .box_category,
    .contact_container_main .Contact_filter_list .group_category {
        width:100%;
        padding-right:0px;
    }
    #contact_search_container .btn-filter {
        margin-left:0px;
        margin-top:10px;
        float:right !important;
    }
     #contact_search_container #searchbardiv {
        width:100%;
    }
     .add_Contact {
        width:100%;
        float:left;
        padding-top:10px;
     }
    
}
@media (max-width:320px) {
     .contact_main_header_left {
        width:25%;
    }
    .contact_main_header_right {
        width:75%;
    }
}