@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    
</script>
<style>
    
</style>

<div class="container-fluid fluid-style">
    <h3>@Localize.T("dweudbwou")</h3>
    
</div>
