@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<string>
<link href="~/Content/Css/Setup/LookupSetup.css" rel="stylesheet" />

<script>
    var SelectedDataKey = "";
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $(".DataKeyItem").click(function (e) {
            $(".DataKeyItem").removeClass("active_data");
            $(e.target).addClass("active_data");
            var key = $(e.target).attr('data-key');
            SelectedDataKey = key;
            if (key == "LeadSource") {
                $(".EditModule").load(domainurl + "/Setup/LookupItemsWithParent/?Key=" + key);
            }
            else {
                $(".EditModule").load(domainurl + "/Setup/LookupItems/?Key=" + key);
            }
        });

    });
</script>

<div class="lookup_setup_container">
    <div class="lookup_setup_header">
        @Localize.T("Value Settings")
    </div>
    <div class="LookupEditContainer">
        <div class="DataKeyList width-30p">
            @foreach (var item in Model)
            {
                <div class="DataKeyItem" data-key="@item">@Localize.T(item)</div>
            }
        </div>
        <div class="EditModule width-70p">

        </div>
    </div>
</div>
