@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.CustomerAppointment>

<script>
    $(document).ready(function () {
        var appointment = '@ViewBag.CustomerAppoinmentInstallTypeAppointMentId';
        $(".load-addinstalltype").load("/CustomerAppoinmentInstallationDetail/AddDetailInstallType?AppoinmentId=" + appointment);
    })
</script>
<style>
    /*.type-style{
       border-bottom: 2px solid #ddd;
    color: #393a3d;
    display: table;
    width: 98%;
    margin: 0px 15px;
    float: left;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    }*/
    
</style>


    <div class="Product-install-type">
        <div class="type-style">@Localize.T("Installation Work Order Type")</div>
    </div>
    <div class="load-addinstalltype"></div>


