    .EmployeesTimeClockDiv {
        width: 100%;
        float: left;
        padding-top: 10px;
    }
    .EmployeesTimeClockDiv .employee_list_div {
        width:100%;
        float:left;
        padding:0px;
    }
    .EmployeesTimeClockDiv .employee_list_div .left_one_header {
        width:auto;
        float:left;
        font-weight:bold;
        text-align:left;
        padding-right:6px;
        padding-top: 6px;
    }
    .EmployeesTimeClockDiv .employee_list_div .input-group {
        width:300px;
        float:left;
        display:inline !important;
    }
    .EmployeesTimeClockDiv .employee_list_div .input-group .input-group-btn {
     
        display:inherit !important;
    }
     .EmployeesTimeClockDiv .employee_list_div .input-group #btn_EmployeeDrpDown,
     .EmployeesTimeClockDiv .employee_list_div .input-group #btn_EmployeeDrpDown:hover {
     
       background-color:#2ca01c;
       color:#fff;
    }
    .EmployeesTimeClockDiv .nav-tabs {
        border-bottom:none;
    }
    .EmployeesTimeClockDiv .customer_details_main_nav > li {
           border: 1px solid #ccc !important;
    }
    .EmployeesTimeClockDiv .customer_details_main_nav > li.active > a {
        background-color:#2ca01c !important;
        color:#fff !important;
    }
    .no_data_message {
        width: 100%;
        float: left;
        margin-top: 15px;
        font-size: 18px;
    }
    @media (max-width:768px) {
         .EmployeesTimeClockDiv .customer_details_main_nav > li {
            width:33%;
        }
    }
    @media (max-width:414px) {
        .EmployeesTimeClockDiv .customer_details_main_nav > li {
            width:50%;
        }
        .EmployeesTimeClockDiv .customer_details_main_nav > li > a {
            padding:10px 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
   