    .employee_time_clock_container {
        width:100%;
        float:left;
        overflow-x:auto;
    }
    .employee_time_clock_container .employee_time_clock thead tr th {
        min-width:160px;
        border-bottom:2px solid #ccc;
    }
     .th_timeclock_pre {
        padding:5px !important;
        border-right:1px solid #ccc;
    }
     .employee_time_clock_container .employee_time_clock tbody tr td {
            padding: 10px;
    border: 1px solid #ccc;
     }

    .th_timeclock {
       font-weight: bold !important;
        padding:5px !important;
        border-right:1px solid #ccc;
    }

    .employee_time_clock {
        border: 1px solid #ccc;
    }
    .employee_time_clock tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
     .employee_time_clock tbody tr:hover {
        background-color:#f4f5f8;
    }
     .payable_tooltip_div {
        display: none;
        position: absolute;
        background-color: red;
        text-align: center;
        font-size: 12px;
        color: #fff;
        width: 210px;
        left:0px;
        top:40px;
        padding: 6px;
        border: 1px solid #000;
        border-radius: 4px;
        z-index: 1;
    }
      .payable_tooltip_div:before {
        left: 25px;
        border-width: 6px;
        transform: rotate(180deg);
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #000 transparent;
        border-bottom: 0;
        top: -6px;
    }
        .payable_info_hover {
        position: relative;
    }

        .payable_info_hover:hover .payable_tooltip_div {
            display: block;
        }
        .tooltipareaUser {
            position:relative;
        }
        .employee_time_clock thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .employee_time_clock thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .employee_time_clock thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
     .del_emp_time_clock{
         cursor:pointer;
         color:#2ca01c;
         float:right;
     }
     .del_emp_time_clock:hover{
         color:#2ca01c;
     }
       
     .employee_time_clock thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
     .employee_time_clock > tbody > tr > td > div:nth-child(1) {
         display:none;
     }
     .emp_time_clock_total_info {
         width:100%;
         float:left;
         text-align:right;
         padding: 10px 0px 0px;
     }
      .emp_time_clock_total_info_left {
         width:auto;
         float:none;

     }
       .emp_time_clock_total_info_right {
        width:auto;
         float:none;
         margin-left:20px;
     }
     @media (max-width:768px) {
         .employee_time_clock thead {
             display:none;
         }
           .employee_time_clock tbody tr td {
             width:100%;
             float:left;
             padding:3px 5px !important;
             box-sizing:border-box;
         }
         .employee_time_clock > tbody > tr > td > div:nth-child(1) {
             display:block;
             width:45%;
             float:left;
             text-align:left;
             font-weight:bold;
         }
          .employee_time_clock > tbody > tr > td > div:nth-child(1) > span {
              float:right;
              margin-right:10px;
          }
          .employee_time_clock > tbody > tr > td > div:nth-child(2) {
             width:55%;
             float:left;
             text-align:left;
         }
     }
