.add_mass_restock_container {
        width: 100%;
        float: left;
    }

        .accordion_header {
            padding-left: 0px;
        }

        .add_mass_restock_container #accordion {
            padding: 15px;
        }

        .add_mass_restock_container .panel-default {
            margin-bottom: 10px;
        }

        .add_mass_restock_container .panel-body {
            padding: 0px;
        }

        .add_mass_restock_container #CustomerMassRestockTab thead tr th:nth-child(5),
        .add_mass_restock_container #CustomerMassRestockTab thead tr th:nth-child(6),
        .add_mass_restock_container #CustomerMassRestockTab thead tr th:nth-child(7),
        .add_mass_restock_container #CustomerMassRestockTab thead tr th:nth-child(8) {
            width: 125px;
        }

        .add_mass_restock_container #CustomerMassRestockTab tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }

        .add_mass_restock_container #CustomerMassRestockTab tbody tr:hover {
            background-color: #f4f5f8;
        }

        .add_mass_restock_container #CustomerMassRestockTab tbody tr td {
            padding: 5px 10px;
        }

    .add-invoice-container #mceu_15-body,
    .add-invoice-container #mceu_22-body,
    .add-invoice-container #mceu_29-body,
    .add-invoice-container .mce-menubar,
    .add-invoice-container #mceu_54-body,
    .add-invoice-container #mceu_61-body {
        display: none;
    }

    .PoContentScroll {
        overflow-y: scroll;
        height: auto;
    }

    .text-center-important {
        text-align: center !important;
    }

    .SaveaButtonsDivMass {
        width: 100%;
        float: left;
        text-align: right;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        .SaveaButtonsDivMass .btn {
            background-color: #2ca01c;
            color: #fff;
        }

    #accordion .closed {
        background: url('../../Content/img/primary-collapse-icon.png') no-repeat 0 13px;
        background-position: 1% 50%;
        background-size: 18px 17px;
    }

    #accordion .open {
        background: url('../../Content/img/primary-expand-icon.png') no-repeat 0 13px;
        background-position: 1% 50%;
        background-size: 18px 17px;
    }

    .RestockDataLoadPanelHeading .panel-title input {
        float: right;
    }

    .RestockDataLoadPanelHeading .panel-title span {
        float: right;
        font-size: 13px;
        font-weight: bold;
        margin-left:15px;
    }
    .RestockDataLoadPanelHeading .panel-title span .pr_norm {
        font-weight:normal;
        margin-left: 5px;
    }
     .RestockDataLoadPanelHeading  .accordion_header {
        color:#2ca01c;
    }
.th_timeclock_pre{
        font-weight:500 !important;
        padding:5px !important;
        border-right:1px solid #ccc;
    }

    .th_timeclock1 {
        font-weight: bold !important;
        padding:5px !important;
        border-right:1px solid #ccc;
    }

    .employee_payroll_report {
        border: 1px solid #ccc;
    }
     .employee_payroll_report thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .employee_payroll_report thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .employee_payroll_report thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
     .employee_payroll_report thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
     .employee_payroll_report > tbody > tr > td > div:nth-child(1) {
         display:none;
     }
     @media (max-width:414px) {
         .employee_payroll_report thead {
             display:none;
         }
           .employee_payroll_report tbody tr td {
             width:100%;
             float:left;
             padding:3px 5px;
             box-sizing:border-box;
         }
         .employee_payroll_report > tbody > tr > td > div:nth-child(1) {
             display:block;
             width:45%;
             float:left;
             text-align:left;
             font-weight:bold;
         }
          .employee_payroll_report > tbody > tr > td > div:nth-child(1) > span {
              float:right;
              margin-right:10px;
          }
          .employee_payroll_report > tbody > tr > td > div:nth-child(2) {
             width:55%;
             float:left;
             text-align:left;
         }
     }