    .pto-filter-div{
          width:100%;
          float:left;
          margin-top:10px;
          text-align:right;
      }
      .pto-filter-div .input-group {
          width:70%;
          float:left;
      }
      .pto-filter-div .input-group .form-control {
          width:20%;
          margin-left:-1px;
      }
      .pto-filter-div .input-group-btn {
          float:left;
      }
      .pto-filter-div .PayrollFilterBtn {
          margin-right:10px;
      }
      #PayrollFilterStartDate,
      #PayrollFilterEndDate {
          width:90px !important;
      }
      #PTOFilter,
      .PTOStutas {
          width:140px !important;
          float:left !important;
      }
      @media (max-width:768px) {
          .TimeClockTablLoad .pto-filter-div .input-group,
          .PTOTab_Load .pto-filter-div .input-group {
              width:100%;
              margin-bottom:10px;
          }
          .TimeClockTablLoad .pto-filter-div .input-group .form-control {
              width:30%;
          }
          .PTOTab_Load .pto-filter-div .input-group .form-control {
              width:23%;
          }
          .EmployeesTimeClockTablLoad .pto-filter-div .input-group {
                width: 100%;
                padding-bottom: 10px;
          }
          .pto-filter-div .input-group {
               width: 100%;
                padding-bottom: 10px;
          }
          .EmployeesTimeClockTablLoad .pto-filter-div .input-group .form-control {
              width:30%;
          }
          .EmployeesPTOTab_Load .pto-filter-div .input-group .form-control {
              width:23%;
          }
          .EmployeesPayrollReportTab_Load .pto-filter-div .input-group .form-control {
              width:30%;
          }
      }
      @media (max-width:414px) {
          .TimeClockTablLoad .pto-filter-div .input-group,
          .PTOTab_Load .pto-filter-div .input-group,
          .EmployeesTimeClockTablLoad .pto-filter-div .input-group,
          .EmployeesPTOTab_Load .pto-filter-div .input-group,
          .EmployeesPayrollReportTab_Load .pto-filter-div .input-group {
              width:100%;
              margin-bottom:10px;
          }
           
           .TimeClockTablLoad .pto-filter-div .input-group .form-control,
           .EmployeesTimeClockTablLoad  .pto-filter-div .input-group .form-control {
              width:50%;
          }
           .TimeClockTablLoad .pto-filter-div .input-group #PTO .form-control,
           .EmployeesTimeClockTablLoad  .pto-filter-div .input-group #PTO .form-control {
              width:90%;
          }
          .pto-filter-div .input-group .time_clock_filter_btn {
              width:10%;
          }
           .pto-filter-div .input-group .time_clock_filter_btn button {
            width: 100%;
            padding: 0px;
            height: 34px;
          }
          .PTOTab_Load .pto-filter-div .input-group .form-control {
            width:50%;
          }
         
          .PTOTab_Load .pto-filter-div .input-group #Employee_Pto .form-control,
          .PTOTab_Load .pto-filter-div .input-group #PTO .form-control {
              width:45%;
          }
         
          .EmployeesPayrollReportTab_Load .pto-filter-div {
              padding-right:0px;
          }
          .EmployeesPayrollReportTab_Load .pto-filter-div .input-group .form-control {
                width: 50%;
            }
          .EmployeesPayrollReportTab_Load .pto-filter-div .input-group #Weeks .form-control {
              width:90%;
          }
            .EmployeesPTOTab_Load .pto-filter-div .input-group .form-control {
            width:50%;
          }
         
          .EmployeesPTOTab_Load .pto-filter-div .input-group #Employee_Pto .form-control,
          .EmployeesPTOTab_Load .pto-filter-div .input-group #PTO .form-control {
              width:45%;
          }
      }