.th_timeclock_pre{
        font-weight:500 !important;
        padding:5px !important;
        border-right:1px solid #ccc;
    }
    .th_timeclock{
       font-weight: bold !important;
        padding:5px !important;
        border-right:1px solid #ccc;
    }
    .time_clock_partial_list_table{
        border: 1px solid #ccc;
    }
     .payable_tooltip_div {
        display: none;
        position: absolute;
        background-color: red;
        text-align: center;
        font-size: 12px;
        color: #fff;
        width: 210px;
        right: 0px;
        top: 40px;
        padding: 6px;
        border: 1px solid #000;
        border-radius: 4px;
        z-index: 1;
    }
      .payable_tooltip_div:before {
        left: 25px;
        border-width: 6px;
        transform: rotate(180deg);
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #000 transparent;
        border-bottom: 0;
        top: -6px;
    }
        .payable_info_hover {
        position: relative;
    }

        .payable_info_hover:hover .payable_tooltip_div {
            display: block;
        }
    .time_clock_partial_list_table thead tr th div:nth-child(1) {
        width: 85%;
        float: left;
        padding-top: 2px;
        font-weight:bold;
    }

    .time_clock_partial_list_table thead tr th div:nth-child(2) {
        width: 15%;
        float: left;
    }
     .time_clock_partial_list_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
     .time_clock_partial_list_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
     .time_clock_partial_list_table tbody tr td div:nth-child(1) {
         display:none;
     }
     @media (max-width:768px) {
         .time_clock_partial_list_table thead {
             display:none;
         }
         .time_clock_partial_list_table tbody tr td {
             width:100%;
             float:left;
             box-sizing:border-box;
             padding:3px 5px !important;
         }
         .time_clock_partial_list_table tbody tr td div:nth-child(1) {
             display:block;
             width:45%;
             float:left;
             text-align:left;
             font-weight:bold;
         }
         .time_clock_partial_list_table tbody tr td div:nth-child(2) {
              width:55%;
             float:left;
             text-align:left;
         }
         .time_clock_partial_list_table tbody tr td div:nth-child(1) span {
             float:right;
             margin-right: 10px;
         }
     }
     @media (max-width:414px) {
         .payable_tooltip_div {
             top:25px;
         }
     }