    .timeclock-pto-tabs > li > a {
        background-color: transparent !important;
    }

    .timeclock-pto-tabs > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    .timeclock-pto-tabs > li {
        border: 1px solid #ccc !important;
    }

    .timeclock-pto-tabs > li.active {
        background-color: #2ca01c !important;
    }

    .timeclock-pto-tabs > li {
        border: 1px solid #ccc !important;
    }

    .timeclock-pto-tabs > li.active > a {
        color: white !important;
    }

    .timeclock_tabs_header {
        width: 100%;
        float: left;
        padding: 15px;
    }

@media (max-width:414px) {
    .timeclock-pto-tabs > li {
        width: 50%;
        text-align: center;
    }
    .timeclock-pto-tabs > li > a {
        padding:10px 5px;
    }
}
@media (max-width:320px) {
    .timeclock-pto-tabs > li:nth-child(3) {
        width:55%;
    }
    .timeclock-pto-tabs > li:nth-child(3) a {
         padding: 10px 8px;
    }
     .timeclock-pto-tabs > li:nth-child(4) {
        width:45%;
    }
     .timeclock-pto-tabs > li:nth-child(4) a {
           padding: 10px;
    }
}
