[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.csproj.user
*.txt
*.cache
*.bak
*.log
*.xlsx
*.pdf
*.bat
*.csproj.user
*.pubxml
*.pubxml.user
.vs/
.contextkeeper/
.vscode/
/OS.*
/PublishProfiles/
/HS.Web.UI/Files/
!ExtDLL/*.dll
!ExtDLL/*.pdb

*.nlog
!/HS.Web.UI/Content/EstimatorCommEndPage/DefaultCoverpage.pdf
!/HS.Web.UI/Content/EstimatorCommEndPage/ProposalEndPage.pdf
!/HS.Web.UI/Content/EstimatorCommEndPage/ProposalEndPage_1.pdf
/HS.API/Properties/PublishProfiles/FolderProfile.pubxml
/HS.API/Properties/PublishProfiles/FolderProfile.pubxml.user
/HS.Web.UI/Content/template/customerlist-c7e72006-6edf-4b5a-8589-bfd1b2dae7ba.txt
HS.Web.UI/Web.config
