
.header_back {
    background-color: #eceef1;
}

.header-image {
    line-height: 20px;
    margin-right: 11px;
    cursor: pointer;
    z-index: 901;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    float: right;
    font-size: 18px;
    background: 0 0;
    border: none;
    color: #C7C7C7;
    padding: 8px 5px 8px 12px;
    margin-top: 0;
}
.add_category_container_main {
    width: 100%;
    float: left;
}
.add_category_header {
    width:100%;
    float:left;
    font-size: 2.4rem !important;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
.add_category_container {
    width: 100%;
    float: left;
    padding: 10px 0px;
    overflow-x:hidden;
    overflow-y: auto;
}
.add_topping_container {
    padding: 15px !important;
}
.add_category_container .form-group {
    width:33.333%;
    float:left;
    padding:0px 15px;
}
.add_topping_container .form-group {
    padding:0px;
    margin-bottom:20px !important;
    padding-right:10px;
}
.add_category_container_inline {
    width: 100%;
    float: left;
}
.add_category_container_inline .checkbox {
    margin-top:0px;
}
.add_category_container_inline .add_menu_day_inner {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.add_category_container_inline .add_menu_day_inner .label-cbx {
   margin-right:10px;
}
.add_category_footer {
    width:100%;
    float:left;
    text-align:right;
    background-color: #393a3d;
    padding: 8px 15px;
}
.add_category_footer button:nth-child(1),
.add_category_footer #DeleteThisCategory,
.add_category_footer #DeleteThisTopping {
    float:left;
    margin-right:10px;
}
.add_category_footer button:nth-child(1) {
       color: white;
    border: 1px solid #6b6c72;
        background-color: transparent;
}

.add_category_footer #DeleteThisCategory,
.add_category_footer #DeleteThisTopping {
    color: white;   
    background-color: #d71920;
}
.add_category_footer #saveCategory,
.add_category_footer #saveCategory:focus,
.add_category_footer #saveCategory:hover {
    background-color:#2ca01c;
    color:#fff;
}
.height-14p {
    height: 14px;
}

.header-title {
    width: 563px;
    top: 27px;
    overflow-y: auto;
    word-wrap: break-word;
}

.custom-h3 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.17em !important;
    margin-top: 25px;
}

.drawer-content-title {
    margin-bottom: 10px;
}

.content-details {
    padding: 0 45px 0 30px;
    padding-bottom: 34px;
}

.custom-border-bottom {
    border-bottom: 1px solid #dcdcdc;
    padding-top: 10px;
}

.custom-border-top {
    border-top: 1px solid #dcdcdc;
    padding-top: 5px;
}

.span-style {
    font-weight: 600;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.custom-padding {
    padding: 0 45px 0 30px;
}

.width-50p {
    width: 50% !important;
    float: left;
}

.width-40p {
    width: 40% !important;
    float: right;
}

.width-40p-left {
    width: 40% !important;
    float: left;
}

.padding-top-10p {
    padding-top: 10px;
}

.padding-top-7p {
    padding-top: 7px;
}

.save-Inventory-product {
    width: 95%;
    /*padding-top:8px;*/
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 104%;
    bottom: 0;
}

.btn-save-Inventory-product {
    background-color: #2ca01c;
    color: #ffffff;
}

.custom-span {
    position: relative;
    /*right: 55px;
            top: 80px;*/
    font-size: 13px;
    color: #2ca01c;
    /*line-height: 23px;*/
    cursor: pointer;
    float: right;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 10px !important;
}

.span-valid {
    color: red;
    font-weight: 600;
    font-size: 15px;
    padding-left: 5px;
    display: none;
}

#modal-dialog-lg .modal-header .close {
    margin-right: 10px;
}


#submissionTable thead tr {
    background-color:#f4f5f8;
}
#submissionTable .act_head {
    width:65px;
    text-align:center;
}
#submissionTable .toppr {
    width:300px;
}
#submissionTable .act_head button,
#submissionTable .act_head button:hover,
#submissionTable .act_head button:focus {
   background-color:#d71920;
   color:#fff;
   border:0px;
}
.add_category_footer #saveTopping,
.add_category_footer #saveTopping:hover,
.add_category_footer #saveTopping:focus {
    background-color:#2ca01c;
    color:#fff;
}
.add_eqipm_container {
      width: 100%;
    float: left;
}
.add_eqipm_header {
    width: 100%;
    float:left;
    background-color: #f4f5f8;
    padding: 10px 15px;
}
.add_eqipm_header div {
    font-size: 2rem;
}
.add_eqipm_inner {
     width: 100%;
    float: left;
    padding:15px;
    overflow-y: auto;
    overflow-x:hidden;
}
.add_eqipm_footer {
     width: 100%;
    float: left;
     background-color: #f4f5f8;
    text-align:right;
    padding: 10px 15px;
}
.add_equip_info_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.add_equip_info_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
.add_equip_info_inner {
    width: 100%;
    float: left;
    padding: 10px;
}
.add_eqipm_inner_half {
        width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.add_eqipm_inner_half .form-group {
     width: 50%;
    float: left;
    padding:10px;
}