    .form-group {
        margin: 0;
        padding: 0;
    }

        .form-group h3 {
            /*margin-left: 30px;*/
            font-size: 2rem;
            font-weight: 400;
            color: #393a3d;
        }

    .content-type {
        /*margin-left: 30px;*/
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
        margin-bottom: 4px;
    }

    .content-text {
        height: 32px;
        width: 100%;
        font-size: 13px;
    }

    .SaveCancelDiv {
        width: 100%;
        padding-top: 8px;
    }

    .custom-col {
        width: 18%;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    /*.txt-form {
            margin-left: 30px;
        }*/

    .item-check {
        height: 40px;
        width: 20px;
    }

    .txt-check {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 14px;
        padding-left: 4px;
    }

   #SaveCredetial {
    background-color: #2ca01c;
    color: white;
    float: right;
    margin-right: 15px;
}

        #txtPassword{
            width : 100%;
        }
        #txtUsername{
             width : 100%;
        }
        #AccountHolderNameList
        {
             width : 100%;
             border-radius: 0px;
             -webkit-border-radius: 0px;
-moz-border-radius: 0px;
        }

        #txtDescription{
         margin: 0px;
        width: 100%;
        height: 105px;
        resize:none;
        }
         .add_cred_set_header {
            width:100%;
            font-size:2rem;
            background-color:#f4f5f8;
            padding:10px 15px;
        }
         .add_cred_set_margin_top {
             margin-top:12px;
         }
          .add_cred_set_margin_top_row {
             margin-top:-4px;
         }
