 .AddCredentialSetting {
        float: right;
        background-color: #2ca01c;
        border: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
-moz-border-radius: 3px;
        height: 32px;
        color: white;
        padding:0px 10px;
    }

    .txt-style {
        padding-top: 20px;
    }

    .panel-table {
        padding-top: 20px;
    }

    .csp_searchbardiv {
        width:40%;
        margin-top: 8px;
        float:left;
    }
    .csp_header {
        font-size:2.4rem;
        font-weight:500;
    }
    .csp_container {
        overflow-x:hidden;
            margin-top: -18px;
    }
    .dataTables_filter {
        display:none;
    }
    .csp_device_header {
        display:none;
    }
    .credential_setting_partial_table thead tr th:nth-child(1) {
        width:40% !important;
    }
    .credential_setting_partial_table thead tr th:nth-child(5) {
        width:10% !important;
    }
    @media (max-width: 768px) {
        table.dataTable thead > tr > th:first-child {
    width: 71px !important;
}
     .csp_container {
        margin-top:-16px;
    }
     .table-body-td-style {
         width:auto;
         float:none;
     }
}
     @media (max-width: 414px) {
         .device_top_mergin {
             margin-top:-10px;
         }
         .csp_header_row {
             width:100%;
             float:left;
         }
         .csp_device_header {
             display:block;
             width:40%;
             float:left;
             text-align:left;
             padding-left:15px;
         }
         .csp_device_info {
             width:40%;
             float:left;
             text-align:left;
         }
         .csp_header_hide {
             display:none;
         }
       .csp_searchbardiv {
    width: 59%;
    margin-top: 6px;
    float: left;
}
     .csp_container {
        margin-top:30px;
    }
     .AddCredentialSetting {
         margin-top:6px;
         height:34px;
     }
}
@media (max-width: 375px) {
    .csp_searchbardiv {
        width: 55%;
    }
}
@media (max-width: 320px) {
    .AddCredentialSetting {
        font-size:13px;
    }
       .csp_header {
           font-size:21px;
       }
        .csp_searchbardiv {
        width: 50%;
    }
    .manual_pad {
        padding:11px !important;
    }
    

}