    .ScheduleCalender table tr td span {
        cursor: pointer;
    }
    .ScheduleCalender table tr td .fc-content {
       white-space:normal !important;
           word-break: break-all;
    /*padding-right: 21px;*/
    }
    .ScheduleCalender table tr td .fc-content img {
        position:absolute;
        right:0px;
        top:0px;
    }
    .ScheduleCalender {
        margin-bottom: 15px;
    }
    /*.fc-scroller{
        overflow-y:hidden !important;
        height:100% !important;
    }*/
    .fc-event {
        border-left: 4px solid #ccc !important;
    }
    .fc-title{
        padding:5px !important;
    }
    .fc-icon {
        font-family: FontAwesome !important;
    }
    .fc-button-group{
        margin-right:10px;
    }
   
    .cal_search_btn{
        float: right !important;
    margin-top: 8px !important;
    }
    .LoadSchedule {
     width: 380px;
    float: right;
    }
    .LoadSchedule .show-tick:nth-child(1) {
        padding-right:10px;
    }
     .LoadSchedule .bootstrap-select.btn-group:not(.input-group-btn){
           width: 50% !important;
    float: left !important;
    }
    .LoadSchedule .input-group {
         width: 50% !important;
    float: left !important;
    }
    .LoadSchedule .input-group .btn-group button {
        position:absolute;
    }

    #ListTicketType{
        width: 20%;
    float: right;
    margin-top: 8px;
    margin-left: 10px;
    }
    @media (max-width:1024px) {
        .LoadSchedule {
            width: 100%;
            float: left;
            padding-bottom: 10px;
            padding-top: 8px;
        }
    }
    @media (max-width:768px) {
        .LoadSchedule {
            width:100%;
            float:left;
            padding-bottom:10px;
            padding-top:8px;
        }
       .LoadSchedule #ListTicketType,
       .LoadSchedule #ListEmployee {
           width:27%;
           float:left;
       }
        .LoadSchedule #ListEmployee {
            margin-left:0px;
        }
    }
    @media (max-width:414px) {
        .ScheduleCalender .fc-toolbar .fc-left {
            float: left;
            width: 100%;
            padding-bottom: 10px;
        }
        .ScheduleCalender .fc-toolbar .fc-right {
            float: right;
            width: 100%;
            padding-bottom: 10px;
            }
        .ScheduleCalender .fc-toolbar .fc-left .fc-today-button {
            float:right;
        }
        .ScheduleCalender .fc-toolbar .fc-right .fc-button-group:nth-child(2) {
                float: right;
    margin-right: 0px;
        }
         .LoadSchedule #ListTicketType,
       .LoadSchedule #ListEmployee {
           width:48%;
       }
         .ScheduleCalender .fc-view-container {
                 width: 100%;
    float: left;
    overflow-x: scroll;
    overflow-y: scroll;
         }
    }


    /*.fc-view-container {
  width: auto;
}

.fc-view-container .fc-view {
  overflow-x: scroll;
}

.fc-view-container .fc-view > table {
  width: 1800px;
}*/
    .popover .popover-content {
    height:25vh;
    overflow-y:auto;
    white-space: pre-wrap;
}
    .fc-content{
        cursor:pointer;
    }

/*.fc-time-grid > .fc-slats table td:first-child{
    position:fixed;
}*/


.fc-widget-header table thead tr th.fc-fri span,
.fc-widget-header table thead tr th.fc-sat span,
.fc-widget-header table thead tr th.fc-sun span,
.fc-widget-header table thead tr th.fc-mon span,
.fc-widget-header table thead tr th.fc-tue span,
.fc-widget-header table thead tr th.fc-wed span,
.fc-widget-header table thead tr th.fc-thu span {
    display: block;
    border: 1px solid #303030;
    border-bottom: 0px;
}