.txt-header{

}
#tblFunding{
    width:100%;
}
/*.status-style{
    color:red;
}*/
.color-red{
    color:rgba(255, 0, 0, 0.74);
    
}
.hide-item{
    display:none;
}
.income-sign{
    display:none;
}
.amount-sign{
    font-weight:200 !important;
    font-size: 8px;
    color:rgba(255, 0, 0, 0.74);
    top:0 !important;
}
.gross-td{
    color:#333;
    font-size:16px;
    font-weight:600
}