@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/Aging/AgingReport.js"></script>
<link href="~/Content/Css/Report/SalesMatrixReports.css" rel="stylesheet" />
<div class="aging_report_header">
    @Localize.T("Reports")
</div>
<div class="sales_matrix_report_container">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            <li class="active AgingReportNav">
                <a data-target="#AgingReportTab" data-toggle="tab">@Localize.T("Reports")</a>
            </li>
        </ul>

        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="AgingReportTab">

            </div>
        </div>
    </div>
</div>



