@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;

    var LoadCompletedInventoryReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_CompletedInventory_Report").html(TabsLoaderText);
        $(".Load_CompletedInventory_Report").load(domainurl + "/Reports/CompletedInventoryReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        LoadCompletedInventoryReportTab();


        $(".CompletedInventoryReportTab").click(function () {
            LoadCompletedInventoryReportTab();
        });  
       
    });
</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">
                    <li class="CompletedInventoryReportTab active">
                        <a idval="" data-target="#CompletedInventoryReport" data-toggle="tab">@Localize.T("Completed Inventory Report")</a>
                    </li>
        </ul>
        <div class="tab-content reports_tab_content">
                    <div class="tab-pane active" id="CompletedInventoryReport">
                        <div class="row leads_report_top_bar">

                            <div class="Load_CompletedInventory_Report">

                            </div>
                        </div>

                    </div>
        </div>
    </div>
</div>

