@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#BillGeneratedReportTab").html(TabsLoaderText);
        $("#BillGeneratedReportTab").load(domainurl + "/Reports/BillsReportPartial");
        $(".BillGeneratedReportTab").click(function () {
            $("#BillGeneratedReportTab").html(TabsLoaderText);
            $("#BillGeneratedReportTab").load(domainurl + "/Reports/BillsReportPartial");
        });

    });
</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
<div class="dateviewed">
    @{Html.RenderAction("DateViewPartial", "Customer");}
</div>
</div>


<div class="col-xs-12 Report-Tabs expense_reports">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
    
            <li class="BillGeneratedReportTab active">
                <a idval="" data-target="#BillGeneratedReportTab" data-toggle="tab">@Localize.T("Bills")</a>
            </li>
       

        </ul>
        <div class="tab-content reports_tab_content">
          
            <div class="tab-pane active" id="BillGeneratedReportTab">

            </div>
          
            
        </div>
    </div>

</div>
