@{
    Layout = null;
    DateTime EndDate = (DateTime)ViewBag.EndDate;
    DateTime StartDate = (DateTime)ViewBag.StartDate;
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var DataTablePageSize = 50;
    var StartDateDatepicker;
    var EndDateDatepicker;
    var FirstDayOfWeek = '@ViewBag.FirstDayOfWeek';
    var LoadFirstCallCloseNav = function (pageNumber,order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var FirstDayStr = parent.$(".min-date").val();
        var EndDayStr = parent.$(".max-date").val();
        $("#FirstCallCloseData").html(TabsLoaderText);
        $("#FirstCallCloseData").load(domainurl + "/Reports/FirstCallClosePartial?Start=" + FirstDayStr + "&End=" + EndDayStr + "&pageno=" + pageNumber + "&pagesize=50"+"&order="+order);
    }

    var LoadFirstCallCloseNav_Old = function (pageNumber, order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var FirstDayStr = parent.$(".min-date").val();
        var EndDayStr = parent.$(".max-date").val();
        $("#FirstCallCloseData").html(TabsLoaderText);
        $("#FirstCallCloseData").load(domainurl + "/Reports/FirstCallClosePartial_Old?Start=" + FirstDayStr + "&End=" + EndDayStr + "&pageno=" + pageNumber + "&pagesize=50" + "&order=" + order);
    }

    var LoadFirstCallCloseNav_T1 = function (pageNumber, order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var FirstDayStr = parent.$(".min-date").val();
        var EndDayStr = parent.$(".max-date").val();
        $("#FirstCallCloseData").html(TabsLoaderText);
        $("#FirstCallCloseData").load(domainurl + "/Reports/FirstCallClosePartialT1?Start=" + FirstDayStr + "&End=" + EndDayStr + "&pageno=" + pageNumber + "&pagesize=50" + "&order=" + order);
    }
    $(document).ready(function () {
        //StartDateDatepicker = new Pikaday({
        //    field: $('#WeeklyStartDate')[0],
        //    format: 'MM/DD/YYYY'
        //});
        //EndDateDatepicker = new Pikaday({
        //    field: $('#WeeklyEndDate')[0],
        //    format: 'MM/DD/YYYY'
        //});
        LoadFirstCallCloseNav(1);
        //$("#FilterWeeks").change(function () {
        //    if ($(this).val().split('/').length == 2) {
        //        var StartingDay = getDateOfISOWeek($(this).val().split('/')[1], $(this).val().split('/')[0]);
        //        StartDateDatepicker.setDate(StartingDay);
        //        var EndingDay = StartingDay.addDays(6);
        //        EndDateDatepicker.setDate(EndingDay);
        //    }
        //});
        parent.$("#SalesMatrixFilterBtn").click(function () {
            LoadFirstCallCloseNav(1);
        });
    });
</script>
<div>
   

    @*<div>
        <button title="@Localize.T(" Old")" class="report_btn lrp_float_right btn green_button" onclick="LoadFirstCallCloseNav_Old(1)" id="btnDownloadfirstcallclose1"><i class="fa fa-download" aria-hidden="true"> Old</i></button>
        <button title="@Localize.T(" T1")" class="report_btn lrp_float_right btn green_button" onclick="LoadFirstCallCloseNav_T1(1)" id="btnDownloadfirstcallclose2"><i class="fa fa-download" aria-hidden="true"> T1</i></button>

    </div>*@

    <div id="FirstCallCloseData">

    </div>
</div>
