@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/Funding/FundingReport.js"></script>

<div class="sales_matrix_report_container">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            <li class="SalesPayNav active">
                <a data-target="#SalesPayTab" data-toggle="tab">@Localize.T("Sales Pay")</a>
            </li>
            <li class="PayrollTermSheetNav">
                <a data-target="#PayrollTermSheetTab" data-toggle="tab">@Localize.T("Term Sheet")</a>
            </li>
        </ul>

        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="SalesPayTab">

            </div>
            <div class="tab-pane" id="PayrollTermSheetTab">

            </div>
        </div>
    </div>
</div>



