@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<script>
    var NavigateSalesComListing = function (pagenumber, order) {
        var searchText = $(".SalesSearchText").val();
        var salesperson = encodeURI($("#sales_person").val());
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $("#LoadSalesCommReport").html(LoaderDom);
        $("#LoadSalesCommReport").load(domainurl + "/Reports/LoadSalesReportList", {
            PageNo: pagenumber,
            SearchText: searchText,
            StartDate: StartDate,
            EndDate: EndDate,
            SalesPerson:salesperson,
            IsPaid: $(".AllpaidCommission").hasClass('active'),
            GetReport: false
        });
    }
  
    var DownLoadNavigateSalesComListing = function (pagenumber, order) {
        var searchText = $(".SalesSearchText").val();
        var salesperson = encodeURI($("#sales_person").val());
        var IsPaid = $(".AllpaidCommission").hasClass('active');
        console.log("sdcascascasc");
        
        location.href = domainurl + "/Reports/LoadSalesReportList/?GetReport=true" + "&PageNo=1&SearchText=" + searchText + "&order=" + order + "&StartDate=" + StartDate + "&EndDate=" + EndDate + "&SalesPerson=" + salesperson + "&IsPaid=" + IsPaid;
        
    }
    $(document).ready(function () {
        NavigateSalesComListing(1);
        $(".AllUnpaidCommission, .AllpaidCommission").click(function () {
            $(".SalesSearchText").val("");
            setTimeout(function () {
                NavigateSalesComListing(1);
            },50);
        });
        $("#Salesbtnsearchtext").click(function () {
            setTimeout(function () {
                NavigateSalesComListing(1);
            }, 50);
        })

        $("#sales_person").selectpicker('val', '');
      
        $("#btnDownloadPayrollsalesCommission_sales").click(function () {
            var orderval = order;
            DownLoadNavigateSalesComListing(1, orderval);


        });
           $(".SalesSearchText").keydown(function (e) {

                if (e.which == 13) {
                    NavigateSalesComListing(1);
                }
            });
    });
</script>

<style>
    #btnDownloadPayrollsalesCommission_sales {
        float: right;
        background-color: #2ca01c;
        color: white;
    }
</style>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="payroll_list_container payroll_container_main">
    @*<button title="@Localize.T(" Download")" class="btn" id="btnDownloadPayrollsalesCommission"><i class="fa fa-download"></i></button>*@
    <div class="payroll_sales_report_container">
        <div class="invoices_tabs_header">
            <ul class="nav nav-tabs invoices-tabs" id="myInvoicesTab">
                <li class="active AllUnpaidCommission">
                    <a data-target="#LoadUnpaidSalesCommReport" data-toggle="tab">@Localize.T("Not Funded")</a>
                </li>
                <li class="AllpaidCommission">
                    <a data-target="#LoadSalesCommReport" data-toggle="tab">@Localize.T("Funded")</a>
                </li>
            </ul>
        </div>
        <div class="srp_tab_container">
            <div class="PayrollSales_partial_search_div">
                <input class="form-control SalesSearchText" type="text" placeholder="Search By Ticket Id or Customer Name " />
                <div class="input-group add-on">
                    <div class="Payroll_SalesPerson_div"> @Html.DropDownList("sales_person", ViewBag.SalesPersonList as List<SelectListItem>, new { @class = "form-control border_radius_0 TicketFor_search Payroll_SalesPerson", @multiple = "multiple", @title = "Select Sales Person" })</div>
                    <div class="input-group-btn">
                        <button class="btn search_Sales_btn green_button" id="Salesbtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                <button title="Download" class="btn btnBI" id="btnDownloadPayrollsalesCommission_sales"><i class="fa fa-download" aria-hidden="true"></i></button>
                @*<button class="btn btnBI" id="TechAddNewBI"><i class="fa fa-plus"></i> New</button>*@
            </div>
            <div class="invoices-tabs">
                <div class="nav-detail-contents">
                    <div class="tab-content">
                        <div id="LoadSalesCommReport" class="tab-pane active">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>