@{
    ViewBag.Title = "Technician Inventory";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    $(document).ready(function () {
        $(".technician-inventory-list").load(domainurl + "/Reports/TechnicianListInventoryPartialForReport");

    })
</script>

<div class="technician-inventory-list">

</div>
