@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Css/Booking/Booking.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var loadaccountability = function (page, order) {
        if (page == 'undefined' || page == null || page == '') {
            page = 1;
        }
        if (order == 'undefined' || order == null || order == '') {
            order = $("#orderid").val();
        }
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        var searchtext = encodeURI($("#KnowledgebaseAccountabilitySearchText").val());
        $(".accountability-report-table").html(TabsLoaderText);
        $(".accountability-report-table").load(domainurl + "/Reports/AccountabilityList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=" + page + "&pagesize=20" + "&order=" + order + "&searchtext=" + searchtext);
    }
    $(document).ready(function () {

        $("#btn_accountability_Knowledge_report").click(function () {
            var search = encodeURI($("#KnowledgebaseAccountabilitySearchText").val());
            loadaccountability(1, '', search, true);
        });
        $("#KnowledgebaseAccountabilitySearchText").keyup(function (event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                var search = encodeURI($("#KnowledgebaseAccountabilitySearchText").val());
                loadaccountability(1, '', search, true);
            }
        });

        loadaccountability(1);

        $("#btnAccountabilityReportDownload").click(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            var searchtext = $("#KnowledgebaseAccountabilitySearchText").val();
            searchtext = searchtext.replace('#', '').replace('&', '');
            window.location.href = domainurl + "/Reports/AccountabilityList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&searchtext=" + searchtext + "&pageno=1" + "&pagesize=50" + "&GetReport=true";
        })
    });

</script>
<style>
    .prod_header {
        width: 100%;
        float: left;
        font-size: 30px;
        text-align: left;
    }

        .prod_header button {
            float: right;
        }

    .prod_top_bar {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

        .prod_top_bar .input-group {
            width: 400px;
            float: left;
        }

        .prod_top_bar button {
            float: right;
        }

    .btn-add-booking {
        margin-left: 5px;
    }

    .prod_top_bar {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

        .prod_top_bar #KnowledgebaseAccountabilitySearchText {
        }

    .favourite_tags button {
        border-radius: 0px !important;
    }

    .knowledge-list-table table tr th {
        z-index: unset;
    }

    .flag_filter_block {
        float: left;
        position: relative;
        padding: 5px 10px;
        width: 32px;
        height: 32px;
    }

        .flag_filter_block input:before {
            content: "\f024";
            position: absolute;
            color: #ccc;
            font-size: 30px;
            font-family: 'FontAwesome';
            top: 3px;
            right: 0px;
            cursor: pointer;
        }

        .flag_filter_block input:checked:before {
            color: #d71920;
        }
</style>


<div class="container-fluid">

    <div class="prod_top_bar">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Search by name" id="KnowledgebaseAccountabilitySearchText" />

            <div class="input-group-btn"> <button class="btn green_button" id="btn_accountability_Knowledge_report" title="Search by name"><i class="fa fa-search"></i></button></div>

        </div>

        <button title="@Localize.T(" Download")" class="btn btn-primary" id="btnAccountabilityReportDownload"><i class="fa fa-download"></i></button>
    </div>


    <div class="accountability-report-table" id="accountability-report-table">

    </div>


</div>
