@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var LoadVendorReportTab = function () {
        $(".Vendor_Account_Report_Tab").html(TabsLoaderText);
        $(".Vendor_Account_Report_Tab").load(domainurl + "/Reports/VendorAccount");
    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#CustomerReportTab").html(TabsLoaderText);
        $("#CustomerReportTab").load(domainurl + "/Reports/LoadAccountsReportPartial?pageno=1&pagesize=50&Status=Active");

        $(".CustomerReportTab").click(function () {
            $("#CustomerReportTab").html(TabsLoaderText);
            $("#CustomerReportTab").load(domainurl + "/Reports/LoadAccountsReportPartial?pageno=1&pagesize=50&Status=Active");
        });

        $(".VendorAccountReportTab").click(function () {
            LoadVendorReportTab();
        });

    });

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            <li class="active CustomerReportTab">
                <a data-target="#CustomerReportTab" data-toggle="tab">@Localize.T("Customer")</a>
            </li>
            @if (PermissionChekcer.IsPermitted(Permissions.MenuPermissions.HudsonVendorAccountReport))
            {
                <li class="VendorAccountReportTab">
                    <a tabname="#VendorAccountReportTab" idval="" data-target="#VendorAccountReportTab" data-toggle="tab">@Localize.T("Vendor Account")</a>
                </li>
            }
        </ul>

        <div class="tab-content reports_tab_content">

            <div class="tab-pane active" id="CustomerReportTab">

            </div>
            @if (PermissionChekcer.IsPermitted(Permissions.MenuPermissions.HudsonVendorAccountReport))
            {
                <div class="tab-pane" id="VendorAccountReportTab">
                    <div class="row leads_report_top_bar">


                    </div>
                    <div class="Vendor_Account_Report_Tab">

                    </div>

                </div>
            }

        </div>
    </div>

</div>

