@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#LeadReportTab").html(TabsLoaderText);
        $("#LeadReportTab").load(domainurl + "/Reports/LoadActivitiesReportPartial?pageno=1&pagesize=50");

        $(".LeadReportTab").click(function () {
            $("#LeadReportTab").html(TabsLoaderText);
            $("#LeadReportTab").load(domainurl + "/Reports/LoadActivitiesReportPartial?pageno=1&pagesize=50");
        });

    });

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="reports_partial_container">
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>

    <div class="col-xs-12 Report-Tabs">
        <div class="nav-detail-contents">
            <ul class="nav nav-tabs reports-tabs" id="myTab">
                <li class="active LeadReportTab">
                    <a data-target="#LeadReportTab" data-toggle="tab">@Localize.T("Activities Report")</a>
                </li>


            </ul>
            <div class="tab-content reports_tab_content">
                <div class="tab-pane active" id="LeadReportTab">

                </div>

            </div>
        </div>

    </div>
</div>


