@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>

<link href="~/Content/Select2/select2.css" rel="stylesheet" />

<script src="~/Content/Select2/Select2.min.js"></script>

<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;
    var startTab = '@ViewBag.StartTab'
    var LoadBrinksReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Brinks_Report").html(TabsLoaderText);
        $(".Load_Brinks_Report").load(domainurl + "/Reports/LoadBrinksReportPartial?pageno=1" +"&pagesize=50"+"&Start="+StartDate+"&End="+EndDate);
    }
    var FilterBrinksReport = function (pageno, order) {
        var datemin = $(".min-date").val();
        var datemax = $(".max-date").val();
        //pagesize = parseInt(CurrentNumber) + 50;
        pagesize = 50;

        $(".Load_Brinks_Report").load(domainurl + "/Reports/LoadBrinksReportPartial?pageno=1" +"&pagesize=50");

    }
      var FilterBrinksSoldReport = function (pageno, order) {
        var datemin = $(".min-date").val();
        var datemax = $(".max-date").val();
        //pagesize = parseInt(CurrentNumber) + 50;
        pagesize = 50;

        $(".Load_Brinks_Report").load(domainurl + "/Reports/BrinkSoldReportPartial?pageno=1" +"&pagesize=50"+"&order="+order);

    }
    //var LoadInvoiceListReportTab = function () {
    //    var StartDate = $(".min-date").val();
    //    var EndDate = $(".max-date").val();
    //    $(".Invoice_List_Report").html(TabsLoaderText);
    //    $(".Invoice_List_Report").load(domainurl + "/Reports/LoadInvoiceListReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    //}

    //var LoadCollectionReportTab = function () {
    //    var StartDate = $(".min-date").val();
    //    var EndDate = $(".max-date").val();
    //    $(".Collection_List_Report").html(TabsLoaderText);
    //    $(".Collection_List_Report").load(domainurl + "/Reports/LoadCollectionReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    //}

    var LoadBrinkSoldTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $("#LoadBrinkSoldTab").html(TabsLoaderText);
        $("#LoadBrinkSoldTab").load(domainurl + "/Reports/BrinkSoldReportPartial?pageno=1" +"&pagesize=50"+"&Start="+StartDate+"&End="+EndDate);
    }

    //var LoadSalesSummaryTab = function () {
    //    var StartDate = $(".min-date").val();
    //    var EndDate = $(".max-date").val();
    //    $("#LoadSalesSummaryTab").html(TabsLoaderText);
    //    $("#LoadSalesSummaryTab").load(domainurl + "/Reports/SalesSummaryReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    //}

    //var my_date_format = function (input) {
    //    var d = new Date(Date.parse(input.replace(/-/g, "/")));
    //    var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    //    var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

    //    return (date);
    //};
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        //LoadSalesReportTab();

        if (startTab == "BrinksReportBrinksTab") {
            FilterBrinksReport();
         //   LoadBrinksReportTab();
        }
        else if (startTab == "BrinksReportSoldTab") {
            $("#LoadBrinkSoldTab").addClass('active');
            $(".LoadBrinkSoldTab").addClass('active');
          //  LoadBrinkSoldTab();
            FilterBrinksSoldReport();
        }
        //else if (startTab == "SalesReportSummaryTab") {
        //    $("#LoadSalesSummaryTab").addClass('active');
        //    $(".LoadSalesSummaryTab").addClass('active');
        //    LoadSalesSummaryTab();
        //}
        //else if (startTab == "SalesReportInvoiceListTab") {
        //    $("#InvoiceListReportTab").addClass('active');
        //    $(".InvoiceListReportTab").addClass('active');
        //    LoadInvoiceListReportTab();
        //}
        //else if (startTab == "SalesReportCollectionTab") {
        //    $("#CollectionReportTab").addClass('active');
        //    $(".CollectionReportTab").addClass('active');
        //    LoadCollectionReportTab();
        //}

        $(".BrinksReportTab").click(function () {
            LoadBrinksReportTab();
        });
        $(".LoadBrinkSoldTab").click(function () {
            LoadBrinkSoldTab();
        });

        $('ul.payroll_report_top_nav li a').click(function (e) {
        if (!TabPopStateCheck) {
            window.history.pushState({ urlPath: window.location.pathname }, "", $(e.target).attr('tabname'));
        }
        TabPopStateCheck = false;
           });
          if (top.location.hash != '') {
        if ($("[tabname='" + top.location.hash + "']").length > 0) {
            TabPopStateCheck = true;
            $("[tabname='" + top.location.hash + "']").click();
        }
    }
        //$(".LoadSalesSummaryTab").click(function () {
        //    LoadSalesSummaryTab();
        //});
        //$(".InvoiceListReportTab").click(function () {
        //    LoadInvoiceListReportTab();
        //});
        //$(".CollectionReportTab").click(function () {
        //    LoadCollectionReportTab();
        //});


        //$("#sales_txt_search").keyup(function (event) {
        //    event.preventDefault();
        //    if (event.keyCode == 13) {
        //        FilterSalesReport1(1)
        //    }
        //})


        //$(".page-wrapper-contents").scroll(function (e) {
        //    e.preventDefault();
            
        //    if ($(e.target).scrollTop() + $(e.target).innerHeight() >= $(e.target)[0].scrollHeight) {
        //        $("#myTab li").each(function () {
        //            if ($(this).hasClass('BrinksReportTab active')) {
        //                FilterBrinksReport(1);
        //            }

        //        })
        //    }
        //})
    });

</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">

            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.BrinksReportBrinksTab))
            {
                <li class="BrinksReportTab active">
                    <a tabname="#BrinksTab" idval="" data-target="#BrinksReportTab" data-toggle="tab">@Localize.T("Brinks")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.BrinksReportSoldTab))
            {
                <li class="LoadBrinkSoldTab">
                    <a tabname="#SoldTab" idval="" data-target="#LoadBrinkSoldTab" data-toggle="tab">@Localize.T("Sold")</a>
                </li>
            }
        </ul>
        <div class="tab-content reports_tab_content">
           @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.BrinksReportBrinksTab))
            {
            <div class="tab-pane active" id="BrinksReportTab">

                <div class="Load_Brinks_Report">

                </div>

            </div>
           }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.BrinksReportSoldTab))
            {
                <div class="tab-pane" id="LoadBrinkSoldTab">

                </div>
            }
            
           
        </div>
    </div>
</div>


