@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Bootstrap/MultipleSelect/bootstrap-select.css" rel="stylesheet" />
<script src="~/Content/Bootstrap/MultipleSelect/bootstrap-select.js"></script>
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>
<script>
    var pagenumber = '@ViewBag.PageNumber';
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;

    var NavigateConversionReports = function (pagenumber, order) {
        console.log("NavigateConversionReports working");
        //var searchText = $("#srch-term").val();
        //$(".Load_Conversion_Report").html(LoaderDom);
       var StartDate = $(".min-date").val();
       var EndDate = $(".max-date").val();
        $(".Load_Conversion_Report").load(domainurl + "/Reports/LoadConversionReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=" + pagenumber + "&pagesize=50" + "&order=" + order);
    }

    var LoadConversionReportTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        $(".Load_Conversion_Report").html(TabsLoaderText);
        $(".Load_Conversion_Report").load(domainurl + "/Reports/LoadConversionReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    }

    var FilterConversionReport = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        //$(".Load_Jobs_Report").html(TabsLoaderText);
        $(".Load_Conversion_Report").load(domainurl + "/Reports/LoadConversionReportPartial?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&pageno=1&pagesize=50");
    }


    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        LoadConversionReportTab();


        $(".ConversionReportTab").click(function () {
            LoadConversionReportTab();
        });
       
        $(".DateFilterContents .btn-apply-Datefilter").click(function () {
            console.log("date filter aise");
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
            UpdatePtoCookie();
            FilterConversionReport();
        });
    });

</script>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />
<div class="ConversionReportsTitle">
    <h2>@Localize.T("Report")</h2>
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs convertion_report_top_nav" id="myTab">
            <li class="SalesReportTab active">
                <a idval="" data-target="#SalesReportTab" data-toggle="tab">@Localize.T("Conversion")</a>
            </li>
          
        </ul>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="ConversionReportTab">

                <div class="Load_Conversion_Report">

                </div>

            </div>
           
        </div>
    </div>
</div>



