@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var FinishedJobPaging = function (PageNo, order) {
        var StartDate = $("#PayrollFilterStartDate").val();
        var EndDate = $("#PayrollFilterEndDate").val();

        $(".FinishedJobResult").html(TabsLoaderText);
        $('.FinishedJobResult').load("/Reports/FinishedJobResult/?StrStartDate=" + StartDate + "&StrEndDate=" + EndDate + "&order=" + order + "&PageNO=" + PageNo + "&PageSize=50" + "&SearchText=" + encodeURI($("#SearchFilterForFinishdjob").val()));
    }
    $(document).ready(function () {
        FinishedJobPaging(1);

        $("#btnDownloadFinishedJobReport").click(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            var SearchText = encodeURI($("#SearchFilterForFinishdjob").val());
            window.location.href = domainurl + "/Reports/FinishedJobResult/?StrStartDate=" + StartDate + "&StrEndDate=" + EndDate + "&SearchText=" + SearchText + "&IsDownload=true";
        })

        $(".btn-apply-Datefilter").click(function () {
            FinishedJobPaging(1);
        });
            $("#SearchFilterForFinishdjob").keydown(function (e) {

        if (e.which == 13) {
            FinishedJobPaging(1);
        }
    });
    });
</script>


<link href="~/Content/Css/Pagination.css" rel="stylesheet" />

<div class="FinishedJobContainer">

    <div class="FinishedJobHead">

        <div class="input-group add-on">
            <input type="text" class="SearchText" placeholder="Search" id="SearchFilterForFinishdjob" />
            <div class="input-group-btn"> <button class="btn green_button" onclick="FinishedJobPaging(1)"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right btn green_button" id="btnDownloadFinishedJobReport"><i class="fa fa-download" aria-hidden="true"></i></button>
    </div>
    <div class="FinishedJobResult">

    </div>

</div>
