@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";


    var LoadCreditHistoryReportLoad = function () {
        $("#CreditHistoryReportLoad").html(TabsLoaderText);
        $("#CreditHistoryReportLoad").load(domainurl + "/Reports/CreditHistoryPartial");
    }

    var LoadSMSHistoryReportLoad = function () {
        $("#SMSHistoryReportLoad").html(TabsLoaderText);
        $("#SMSHistoryReportLoad").load(domainurl + "/Reports/SMSHistoryPartial");
    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#CreditHistoryReportLoad").html(TabsLoaderText);
        $("#CreditHistoryReportLoad").load(domainurl + "/Reports/CreditHistoryPartial");

        $(".CreditHistoryReportLoad").click(function () {
            LoadCreditHistoryReportLoad();
        });

        $(".SMSHistoryReportLoad").click(function () {
            LoadSMSHistoryReportLoad();
        });

    })

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    @Localize.T("Reports")
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CreditHistoryReport))
            {
                <li class="active CreditHistoryReportLoad">
                    <a data-target="#CreditHistoryReportLoad" data-toggle="tab">@Localize.T("Credit History")</a>
                </li>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SMSHistoryReport))
            {
                <li class="SMSHistoryReportLoad">
                    <a tabname="#SMSHistoryReportLoad" data-target="#SMSHistoryReportLoad" data-toggle="tab">@Localize.T("SMS History")</a>
                </li>
            }
        </ul>

        <div class="tab-content reports_tab_content">
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.CreditHistoryReport))
            {
                <div class="tab-pane active" id="CreditHistoryReportLoad">

                </div>
            }
            @if (PermissionChekcer.IsPermitted(Permissions.ReportsPermissions.SMSHistoryReport))
            {
                <div class="tab-pane" id="SMSHistoryReportLoad">

                </div>
            }
        </div>
    </div>

</div>
