@{
    Layout = null;

}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var DataTablePageSize = 50;
    var StartDateDatepicker;
    var EndDateDatepicker;
    var FirstDayOfWeek = '@ViewBag.FirstDayOfWeek';
    var LoadInsuranceNav = function (pageNumber,order) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var FirstDayStr = parent.$(".min-date").val();
        var EndDayStr = parent.$(".max-date").val();
        var Search = encodeURI($("#empSearch").val());
        var DeptFilter = $("#DepartmentFilter").val();
        var StatusFilter = encodeURI($("#EmpStatusFilter").val());
        var InsuranceFilter = encodeURI($("#InsuranceFilter").val());

        $("#InsuranceData").html(TabsLoaderText);
        $("#InsuranceData").load(domainurl + "/Reports/InsurancePartial?Start=" + FirstDayStr + "&End=" + EndDayStr+ "&Search=" + Search + "&DeptFilter="+DeptFilter+"&StatusFilter="+StatusFilter+ "&InsuranceFilter=" + InsuranceFilter  + "&pageno=" + pageNumber + "&pagesize=50"+"&order="+order);
    }
    $(document).ready(function () {
        //parent.$("#SalesMatrixFilterBtn").click(function () {
        //    LoadEmployeeNav(1);
        //});
        LoadInsuranceNav(1)
        $("#empSearchBtn").click(function () {
            LoadInsuranceNav(1)
        })
    });
</script>
<div>
    <div id="InsuranceData">

    </div>
</div>


