@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />
<script>
    var my_date_format = function (input) {
        console.log(input + " r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };

    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var InventoryTechTruckReportLoad = function (pageNo, order) {
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();

        if (typeof (pageNo) != "undefined" && pageNo > 0) {
            var LoadUrl = domainurl + "/Reports/InventoryTechTruckReportPartial/?SearchText=" + encodeURI($(".InventoryTechTruckReportText").val()) + "&Start=" + StartDateVal + "&End=" + EndDateVal
                + "&PageNo=" + pageNo + "&order=" + order + "&pagesize=20";
            $(".InventoryTechTruckReportTable").html(TabsLoaderText);
            $(".InventoryTechTruckReportTable").load(LoadUrl);
        }
    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();

        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $("#btnInventoryTechTruckReportSearch").click(function () {
            InventoryTechTruckReportLoad(1, null);
        });
        $(".InventoryTechTruckReportText").keydown(function (e) {
            if (e.which == 13) {
                InventoryTechTruckReportLoad(1, null);
            }
        });

      
        InventoryTechTruckReportLoad(1, null);

        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
              UpdatePtoCookie();
            InventoryTechTruckReportLoad(1, null);
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
          


        });
        

        $("#btnInventoryTechTruckReportDownload").click(function () {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            location.href = domainurl + "/Reports/DownloadInventoryTechTruckReport/?Start=" + StartDateVal + "&End=" + EndDateVal + "&searchtext=" + encodeURI($(".InventoryTechTruckReportText").val());

        })
    });
</script>

<div class="purchase_order_partial_container">
    <div class="purchase_order_partial_search_add">
        <div class="input-group add-on">
            <input class="form-control InventoryTechTruckReportText" @*id="InventoryCountReportText"*@ type="text" placeholder="Search" />

            <div class="input-group-btn"><button class="btn search_Count_btn green_button" id="btnInventoryTechTruckReportSearch" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
        <button class="report_btn lrp_float_right" title="Download" id="btnInventoryTechTruckReportDownload"><i class="fa fa-download"></i></button>

    </div>

    <div class="InventoryTechTruckReportTable active" id="InventoryTechTruckReportTable">

    </div>
</div>