@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />


<script>
            var my_date_format = function (input) {
                console.log(input + " r");
                var d = new Date(Date.parse(input.replace(/-/g, "/")));
                var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

                return (date);
            };

            var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
            var JobCostingReportLoad = function (pageNo, order) {
                var StartDateVal = $(".min-date").val();
                var EndDateVal = $(".max-date").val();

                if (typeof (pageNo) != "undefined" && pageNo > 0) {
                    var LoadUrl = domainurl + "/Reports/JobCostingPartialList/?SearchText=" + encodeURI($(".JobCostingText").val()) + "&Start=" + StartDateVal + "&End=" + EndDateVal
                        + "&PageNo=" + pageNo + "&order=" + order + "&pagesize=20";
                    $(".JobCostingReportTable").html(TabsLoaderText);
                    $(".JobCostingReportTable").load(LoadUrl);
                }
            }

            $(document).ready(function () {
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();

                if (StartDate != "" && EndDate != "") {
                    StartDate = my_date_format(StartDate);
                    EndDate = my_date_format(EndDate);
                    console.log(StartDate + " " + EndDate);
                    if (StartDate == "NaN undefined, NaN") {
                        StartDate = "All Time";
                        EndDate = "";
                    }

                    $(".DateFilterContents .date-start").html("");
                    $(".DateFilterContents .date-end").html("");
                    $(".DateFilterContents .date-start").html(StartDate);
                    $(".DateFilterContents .date-end").html(EndDate);
                    $(".DateFilterContents .dropdown-filter").hide();
                }
                else {
                    $(".DateFilterContents .date-start").html("All Time");
                    $(".DateFilterContents .date-end").html("");
                    $(".DateFilterContents .dropdown-filter").hide();
                }


                $("#btnJobCosting").click(function () {
                    //JobCostingReportLoad(1, null);
                });
                $(".JobCostingText").keydown(function (e) {
                    if (e.which == 13) {
                        //JobCostingReportLoad(1, null);
                    }
                });

                JobCostingReportLoad(1, null);

                $(".btn-apply-Datefilter").click(function () {
                    //JobCostingReportLoad(1, null);

                })
                $("#btnJobCostingDownload").click(function () {
                    //var StartDateVal = $(".min-date").val();
                    //var EndDateVal = $(".max-date").val();
                    //location.href = domainurl + "/Reports//?Start=" + StartDateVal + "&End=" + EndDateVal + "&Searchtext=" + encodeURI($(".VendorAccountReportText").val());

                })

            });
    </script>


<div class="purchase_order_partial_container">
    <div class="purchase_order_partial_search_add job_costing_top_bar">
        <input class="form-control JobCostingText" type="text" placeholder="Search" />
        <input class="form-control StartDate" type="text" placeholder="From" />
        <input class="form-control EndDate" type="text" placeholder="To" />
        <input class="form-control TicketType" type="text" placeholder="Ticket Type" />
        <div class="input-group add-on">
            <input class="form-control Installer" type="text" placeholder="Installer" />
            <div class="input-group-btn"><button class="btn search_PO_btn green_button" id="btnJobCosting" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
        <button class="report_btn lrp_float_right" id="btnJobCostingDownload" title="@Localize.T("Download")"><i class="fa fa-download"></i></button>

    </div>

    <div class="JobCostingReportTable">

    </div>
</div>