@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />


<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var order = '@ViewBag.Order';
    var pageno = '@ViewBag.PageNumber';
    if (pageno == 'undefined' || pageno == null) {
        pageno = 1;
    }
    var LoadEstimateList = function (pageno, orderval) {
        if (pageno == 'undefined' || pageno == null) {
            pageno = 1;
        }
        var mindate = $(".min-date").val();
        var maxdate = $(".max-date").val();
        order = orderval;
        var searchtxt = encodeURI($("#search_txt_estimate").val()); 
        $(".LoadEstimateList").html(TabsLoaderText); 
        $(".LoadEstimateList").load(domainurl + "/Reports/EstimateReportList?mindate=" + mindate + "&maxdate=" + maxdate + "&searchtxt=" + searchtxt + "&order=" + orderval + "&PageNo=" + pageno + "&PageSize=50");

    }
    $(document).ready(function () { 
        setTimeout(function () {
            LoadEstimateList(1, order);
        }, 1000);
        $("#search_txt_estimate").keyup(function (e) {
            if (e.keyCode == 13) {
                LoadEstimateList(pageno, order);
            }
        });
        $(".btn-apply-Datefilter").click(function () {
            //if (typeof (pagenumber) == "undefined") {
            //    return;
            //}
            LoadEstimateList(1, order);

            var StartDate = my_date_format($(".DateFilterContents .min-date").val()); 
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            console.log("StartDate", StartDate);
            console.log("EndDate", EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
            UpdatePtoCookie();
        })

        $("#btn_download_estimates").click(function () { 
            var mindate = $(".min-date").val();
            var maxdate = $(".max-date").val();
            var searchtxt = encodeURI($("#search_txt_estimate").val());
            window.location.href = domainurl + "/Reports/EstimateReportList?mindate=" + mindate + "&maxdate=" + maxdate + "&searchtxt=" + searchtxt + "&getreport=true" + "&order=" + order + "&PageNo=1"  + "&PageSize=50";
        })
    })
</script>


<div class="payroll_list_container payroll_container_main">
    <div class="left_content_div">
        <input class="form-control" placeholder="Search By Customer Name and Estimate Id" id="search_txt_estimate" style="float: left; width: 35%"/>
        <input class="form-control hidden" placeholder="Min Date" id="min_date_estimate" />
        <input class="form-control hidden" placeholder="Max Date" id="max_date_estimate" />
        <div class="input-group add-on"> 
            <div class="input-group-btn"> <button class="btn green_button" id="btn_search" onclick="LoadEstimateList()" title="Search"><i class="fa fa-search"></i></button></div>
        </div>
    </div>
    <div class="right_content_div">
        <button class="btn green_button" id="btn_download_estimates" title="Download"><i class="fa fa-download"></i></button>
    </div>
    <div class="LoadEstimateList">

    </div>
</div>
