@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var PackageSummaryPaging = function (PageNo) {

        var SearchText = $(".PackageSummarySearchText").val();
        var StartDate = $("#PayrollFilterStartDate").val();
        var EndDate = $("#PayrollFilterEndDate").val();

        $(".PackageSummaryResult").html(TabsLoaderText);
        $('.PackageSummaryResult').load("/Reports/PackageSummaryResult?StartDate=" + encodeURI(StartDate) + "&EndDate=" + encodeURI(EndDate) + "&SearchText=" + encodeURI(SearchText) + "&pageno=1&pagesize=50");
    }
    $(document).ready(function () {
        PackageSummaryPaging(1);
        $(".btn-apply-Datefilter").click(function () {
            PackageSummaryPaging(1);
        });
    });
</script>

<div class="PackageSummaryContainer">

    <div class="PackageSummaryHead">
      
        <div class="input-group add-on">
            <input type="text" class="SearchText" placeholder="Search" />

            <div class="input-group-btn"> <button class="btn green_button" onclick="FinishedJobPaging(1)"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
       
    </div>
    <div class="PackageSummaryResult">

    </div>

</div>
