@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />


<script>
        var my_date_format = function (input) {
            console.log(input + " r");
            var d = new Date(Date.parse(input.replace(/-/g, "/")));
            var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

            return (date);
        };

        var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
        var PaidCommissionReportLoad = function (pageNo, order) {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();

            if (typeof (pageNo) != "undefined" && pageNo > 0) {
                var LoadUrl = domainurl + "/Reports/PaidCommissionPartial/?SearchText=" + encodeURI($(".PaidCommissionReportText").val()) + "&Start=" + StartDateVal + "&End=" + EndDateVal
                    + "&PageNo=" + pageNo + "&order=" + order + "&pagesize=20";
                $(".PaidCommissionReportTable").html(TabsLoaderText);
                $(".PaidCommissionReportTable").load(LoadUrl);
            }
        }
        var ImportPaidCommission = function () {
            OpenRightToLeftModal("/Reports/PaidCommissionImportFile");
        }



        $(document).ready(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();

            if (StartDate != "" && EndDate != "") {
                StartDate = my_date_format(StartDate);
                EndDate = my_date_format(EndDate);
                console.log(StartDate + " " + EndDate);
                if (StartDate == "NaN undefined, NaN") {
                    StartDate = "All Time";
                    EndDate = "";
                }

                $(".DateFilterContents .date-start").html("");
                $(".DateFilterContents .date-end").html("");
                $(".DateFilterContents .date-start").html(StartDate);
                $(".DateFilterContents .date-end").html(EndDate);
                $(".DateFilterContents .dropdown-filter").hide();
            }
            else {
                $(".DateFilterContents .date-start").html("All Time");
                $(".DateFilterContents .date-end").html("");
                $(".DateFilterContents .dropdown-filter").hide();
            }


            $("#btnPaidCommissionReportSearch").click(function () {
                PaidCommissionReportLoad(1, null);
            });
            $(".PaidCommissionReportText").keydown(function (e) {
                if (e.which == 13) {
                    PaidCommissionReportLoad(1, null);
                }
            });

            PaidCommissionReportLoad(1, null);

            $(".btn-apply-Datefilter").click(function () {
                PaidCommissionReportLoad(1, null);
            })
            $("#btnPaidCommissionReportDownload").click(function () {
                var StartDateVal = $(".min-date").val();
                var EndDateVal = $(".max-date").val();
                location.href = domainurl + "/Reports/GetPaidCommissionReportListForDownload/?Start=" + StartDateVal + "&End=" + EndDateVal + "&Searchtext=" + encodeURI($(".PaidCommissionReportText").val());

            })

        });
</script>


<div class="purchase_order_partial_container">
    <div class="purchase_order_partial_search_add paid_commission_top_bar">

        <div class="input-group add-on">
            <input class="form-control PaidCommissionReportText" @*id="PaidCommissionReportText"*@ type="text" placeholder="Search" />

            <div class="input-group-btn"><button class="btn search_PO_btn green_button" id="btnPaidCommissionReportSearch" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>

        <button class="report_btn lrp_float_right" id="btnPaidCommissionReportDownload" title="@Localize.T("Download")"><i class="fa fa-download"></i></button>
        <button class="report_btn lrp_float_right" id="btnPaidCommissionReportImport" onclick="ImportPaidCommission()" title="@Localize.T("Upload")"><i class="fa fa-upload"></i></button>


    </div>

    <div class="PaidCommissionReportTable">

    </div>
</div>


