@{
    Layout = null;
}
@model HS.Entities.POListModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#Created").html(TabsLoaderText);
        $("#Created").load(domainurl + "/Reports/CreatedPOReport?PageNo=1&PageSize=50");

        $(".Created").click(function () {
            $("#Created").html(TabsLoaderText);
            $("#Created").load(domainurl + "/Reports/CreatedPOReport?PageNo=1&PageSize=50");
        });
        $(".Received").click(function () {
            $("#Received").html(TabsLoaderText);
            $("#Received").load(domainurl + "/Reports/ReceivedPOReport?PageNo=1&PageSize=50");
        });
        
    });
</script>

<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            <li class="Created active">
                <a data-target="#Created" data-toggle="tab">@Localize.T("Created")</a>
            </li>

            <li class="Received">
                <a data-target="#Received" data-toggle="tab">@Localize.T("Received")</a>
            </li>
        </ul>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="Created">

            </div>
            <div class="tab-pane" id="Received">

            </div>
        </div>
    </div>
</div>
