@{
    Layout = null;
}
@model HS.Entities.POListModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />


<script>
    var my_date_format = function (input) {
        console.log(input + " r");
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };

    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var ReceivedPOReportLoad = function (pageNo, order) {
        var StartDateVal = $(".min-date").val();
        var EndDateVal = $(".max-date").val();

        if (typeof (pageNo) != "undefined") {
            var LoadUrl = domainurl + "/Reports/ReceivedPOReportPartial/?SearchText=" + encodeURI($(".ReceivedPOReportText").val()) + "&Start=" + StartDateVal + "&End=" + EndDateVal
                + "&PageNo=" + pageNo + "&order=" + order;
            $(".ReceivedPurchaseOrderReportTable").html(TabsLoaderText);
            $(".ReceivedPurchaseOrderReportTable").load(LoadUrl);
        }
    }
    $(document).ready(function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        if (StartDate != "" && EndDate != "") {
            StartDate = my_date_format(StartDate);
            EndDate = my_date_format(EndDate);
            console.log(StartDate + " " + EndDate);
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        }
        else {
            $(".DateFilterContents .date-start").html("All Time");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .dropdown-filter").hide();
        }


        $("#btnReceivedPOReportSearch").click(function () {
            ReceivedPOReportLoad(1, null);
        });
        $(".ReceivedPOReportText").keydown(function (e) {
            if (e.which == 13) {
                ReceivedPOReportLoad(1, null);
            }
        });

        ReceivedPOReportLoad(1, null);

        $(".btn-apply-Datefilter").click(function () {

            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            var pageNo = 1;
            var order = "";
            var LoadUrl = domainurl + "/Reports/ReceivedPOReportPartial/?SearchText=" + encodeURI($(".ReceivedPOReportText").val()) + "&Start=" + StartDateVal + "&End=" + EndDateVal
              + "&PageNo=" + pageNo + "&order=" + order;
            $(".ReceivedPurchaseOrderReportTable").html(TabsLoaderText);
            $(".ReceivedPurchaseOrderReportTable").load(LoadUrl);
        })
        $("#btnReceivedPOReportDownload").click(function () {
            var StartDateVal = $(".min-date").val();
            var EndDateVal = $(".max-date").val();
            location.href = domainurl + "/Reports/DownloadReceivedPOReport/?Start=" + StartDateVal + "&End=" + EndDateVal + "&Searchtext=" + encodeURI($(".ReceivedPOReportText").val());

        })

    });
</script>

<div class="purchase_order_partial_container">
    <div class="purchase_order_partial_search_add">

        <div class="input-group add-on">
            <input class="form-control ReceivedPOReportText" @*id="ReceivedPOReportText"*@ type="text" placeholder="Search" />

            <div class="input-group-btn green_button"><button class="btn search_PO_btn" id="btnReceivedPOReportSearch" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>

        <button class="report_btn lrp_float_right" id="btnReceivedPOReportDownload"><i class="fa fa-download"></i></button>

    </div>

    <div class="ReceivedPurchaseOrderReportTable">

    </div>
</div>