@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionList = HS.Framework.UserPermissions;
@using PermissionChecker = HS.Web.UI.Helper.PermissionHelper;
<script>
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var DataTablePageSize = 50;
    var PayrollStartDatepicker;
    var PayrollEndDatepicker;

  
  

    var LoadCancelQueueTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_report_upload").html(TabsLoaderText);
        $(".Load_report_upload").load(domainurl + "/Reports/CancelQueue?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

     var LoadCustomerListTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_report_upload").html(TabsLoaderText);
        $(".Load_report_upload").load(domainurl + "/Reports/BrinksCustomerList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }

        var LoadFundingVerificationTab = function () {
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();

        $(".Load_report_upload").html(TabsLoaderText);
        $(".Load_report_upload").load(domainurl + "/Reports/FundingVerificationList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate));
    }
    var my_date_format = function (input) {
        var d = new Date(Date.parse(input.replace(/-/g, "/")));
        var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();

        return (date);
    };
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        
        LoadCancelQueueTab();
        $(".CancelQueueTab").click(function () {

            LoadCancelQueueTab();
        });
        $(".CustomerListTab").click(function () {

            LoadCustomerListTab();
        });
          $(".FundingVerificationTab").click(function () {

            LoadFundingVerificationTab();
        });
        $(".DateFilterContents .btn-apply-Datefilter").click(function () {
              UpdatePtoCookie();
            if ($(".CancelQueueTab").hasClass("active"))
            {
                var pagenumber = 1;
                var searchText = $(".CancelQueueReportText").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();
                $(".CancelQueueReportTable").html(LoaderDom);
                $(".CancelQueueReportTable").load(domainurl + "/Reports/CancelQueuePartial", {
                    PageNo: pagenumber,
                    pagesize:50,
                    SearchText: searchText,
                    Start: StartDate,
                    End: EndDate,
                    
                });
                 var StartDate = my_date_format($(".DateFilterContents .min-date").val());
                var EndDate = my_date_format($(".DateFilterContents .max-date").val())
                if (StartDate == "NaN undefined, NaN") {
                    StartDate = "All Time";
                    EndDate = "";
                }
                $(".DateFilterContents .date-start").html("");
                $(".DateFilterContents .date-end").html("");
                $(".DateFilterContents .date-start").html(StartDate);
                $(".DateFilterContents .date-end").html(EndDate);
                $(".DateFilterContents .dropdown-filter").hide();
                       
            }
            if ($(".CustomerListTab").hasClass("active"))
            {
                console.log("eikhane");
                var pagenumber = 1;
                var searchText = $(".CustomerListReportText").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();
                $(".CustomerListReportTable").html(LoaderDom);
                $(".CustomerListReportTable").load(domainurl + "/Reports/CustomerListPartial", {
                    PageNo: pagenumber,
                    pagesize:50,
                    SearchText: searchText,
                    Start: StartDate,
                    End: EndDate,
                    
                });
                 var StartDate = my_date_format($(".DateFilterContents .min-date").val());
                var EndDate = my_date_format($(".DateFilterContents .max-date").val())
                if (StartDate == "NaN undefined, NaN") {
                    StartDate = "All Time";
                    EndDate = "";
                }
                $(".DateFilterContents .date-start").html("");
                $(".DateFilterContents .date-end").html("");
                $(".DateFilterContents .date-start").html(StartDate);
                $(".DateFilterContents .date-end").html(EndDate);
                $(".DateFilterContents .dropdown-filter").hide();
                      
            }
            if ($(".FundingVerificationTab").hasClass("active"))
            {
                console.log("eikhane");
                var pagenumber = 1;
                var searchText = $(".FundingVerificationText").val();
                var StartDate = $(".min-date").val();
                var EndDate = $(".max-date").val();
                $(".FundingVerificationTable").html(LoaderDom);
                $(".FundingVerificationTable").load(domainurl + "/Reports/FundingVerificationPartial", {
                    PageNo: pagenumber,
                    pagesize:50,
                    SearchText: searchText,
                    Start: StartDate,
                    End: EndDate,
                    
                });
                 var StartDate = my_date_format($(".DateFilterContents .min-date").val());
                var EndDate = my_date_format($(".DateFilterContents .max-date").val())
                if (StartDate == "NaN undefined, NaN") {
                    StartDate = "All Time";
                    EndDate = "";
                }
                $(".DateFilterContents .date-start").html("");
                $(".DateFilterContents .date-end").html("");
                $(".DateFilterContents .date-start").html(StartDate);
                $(".DateFilterContents .date-end").html(EndDate);
                $(".DateFilterContents .dropdown-filter").hide();
                      
            }
        });

    });
</script>
<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="payroll_reports_container">
    <div class="payroll_reports_header">
        @Localize.T("Reports")
    </div>
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>


    <div class="col-xs-12 Report-Tabs">
        <div class="nav-detail-contents">
            <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">


                <li class="CancelQueueTab active">
                    <a idval="" data-target="#CancelQueueReport" data-toggle="tab">Cancel Queue</a>
                </li>
                <li class="CustomerListTab">
                    <a idval="" data-target="#CustomerListReport" data-toggle="tab">Brinks Customer List</a>
                </li>
                <li class="FundingVerificationTab">
                    <a idval="" data-target="#FundingVerificationReport" data-toggle="tab">Funding Verification</a>
                </li>
            </ul>
            <div class="tab-content reports_tab_content">
                <div class="tab-pane active" id="ReportUpload">
                    @*<div class="row leads_report_top_bar">

                        <button title="@Localize.T(" Download")" class="report_btn lrp_float_right hidden" id="btnDownloadLeadsReport"><i class="fa fa-download" aria-hidden="true"></i></button>
                    </div>*@
                    <div class="Load_report_upload">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

