@{
    Layout = null;
    DateTime EndDate = (DateTime)ViewBag.EndDate;
}
@using HS.Framework
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var DataTablePageSize = 50;
    var EndDateDatepicker;
    var LoadRMRAuditNav = function (pageNumber) {
        if (typeof (pageNumber) == "undefined") {
            return;
        }
        var AsOfDate = $("#WeeklyEndDate").val();
        var SearchText = $("#txtSearchBox").val();
        var Url = String.format(domainurl + "/Reports/RMRAuditPartialList?End=" + EndDateDatepicker + "&SearchText=" + encodeURI(SearchText) + "&pageno=" + pageNumber + "&AsOfDate=" + AsOfDate + "&pagesize=50&GetReport=false");
        $("#RMRAuditData").html(TabsLoaderText);
        $("#RMRAuditData").load(Url);
    }
    $(document).ready(function () {
        $(".dateviewed").hide();
        EndDateDatepicker = new Pikaday({
            field: $('#WeeklyEndDate')[0],
            format: 'MM/DD/YYYY'
        });
        LoadRMRAuditNav(1);
        $("#RMRAuditFilterBtn").click(function () {
            LoadRMRAuditNav(1);
        });
        $("#btnRMRAuditDownload").click(function () {
            var AsOfDate = $("#WeeklyEndDate").val();
            var SearchText = $("#txtSearchBox").val();
            window.location.href = domainurl + "/Reports/RMRAuditPartialList?End=" + EndDateDatepicker + "&SearchText=" + encodeURI(SearchText) + "&AsOfDate=" + AsOfDate + "&pageno=1&pagesize=50&GetReport=true";
        })
    });
</script>
<style>
    .RMRAudit_top_bar {
        width: 100%;
        float: left;
    }
        .RMRAudit_top_bar #txtSearchBox {
            width: 300px;
            float: left;
            margin-right: -1px;
            border-radius: 4px 0px 0px 4px; 
        }
    .RMRAudit_top_bar .input-group {
        width: 165px !important;
        float: left;
    }
        .RMRAudit_top_bar #btnRMRAuditDownload {
            float:right;
        }
</style>
<div class="RMRAudit_container">
    <div class="RMRAudit_top_bar">
        <input type="text" value="@ViewBag.SearchText" id="txtSearchBox" class="form-control" placeholder="Search by customer" />

        <div class="input-group add-on">
            <input type="text" value="@EndDate.ToString("M/d/yy")" placeholder="Search By Date" autocomplete="off" id="WeeklyEndDate" class="form-control border-radius-0" />
            <div class="input-group-btn">
                <button id="RMRAuditFilterBtn" class="btn PayrollFilterBtn green_button" title="@Localize.T("Search")">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        @*<button class="btn green_button" id="btnRMRAuditDownload" title="@Localize.T("Download")"><i class="fa fa-download"></i></button>*@
    </div>
    <div id="RMRAuditData">

    </div>
</div>

