@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
@model HS.Entities.SalesCustomerModel

<div>Sales Customer List</div>
<div>Sales Person: @ViewBag.SalesPerson</div>
<table class="display tblRBilling">
    <thead class="table-head-border ep_hide_for_device">
        <tr>
            <th class="th_timeclock_pre">
                <div>@Localize.T("Customer Name")</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SalesCustomerList)
        {
            <tr>
                <td class="table-body-td-style">
                    <div><a class="cus-anchor" href="/Customer/Customerdetail/?id=@item.Id" target="_blank">@item.Name</a></div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="paginationtextdv"><span>Total Number of Customer @HS.Web.UI.Helper.LabelHelper.NumberFormat(ViewBag.OutOfNumber)</span></div>
  