@{
    Layout = null;
}
<script>
    var EmployeeId = '@ViewBag.EmployeeId';
    var from = '@ViewBag.from';
    var DateToday = '@DateTime.Now.ToString("MM/dd/yyyy")';
    $(document).ready(function () {
        if (from == 'CustomerFunded' || from == "SoldFunded") {
            if (parent.$(".WeeklyEndDate").val() == '' ||parent.$(".WeeklyStartDate").val() == 'undefined' ) {
                $().val(DateToday);
            }
            var FirstDayStr = parent.$(".WeeklyStartDate").val();
            var EndDayStr = parent.$(".WeeklyEndDate").val();
       
        }
        else {
            var FirstDayStr = parent.$(".min-date").val();
            var EndDayStr = parent.$(".max-date").val();
        }
  

   
        $(".CustomerList").load("/Reports/SalesMatrixCustomerList?Start="+FirstDayStr+"&End="+EndDayStr+"&EmpId=" + EmployeeId + "&pageno=1&pagesize=50&from=" + from);
        $(".smcl_container").height(window.innerHeight - 44);

        $("#btnSalesMatrixCustomerDownload").click(function () {
            window.location.href = domainurl + "/Reports/DownloadSalesMatrixCustomerListReport?Start="+FirstDayStr+"&End="+EndDayStr+"&EmpId=" + EmployeeId + "&from=" + from;
        })
    })
     $(window).resize(function () {
        $(".smcl_container").height(window.innerHeight - 44);
    })
</script>
<div class="smcl_header">Customer Data
    <div style="float:right; margin-right:40px;"><button class="btn download_btn" id="btnSalesMatrixCustomerDownload" title="Download"><i class="glyphicon glyphicon-download-alt"></i></button>
        </div></div>

<div class="smcl_container">
    <div class="CustomerList">

    </div>
</div>