
@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper



<script>
    var pagenumber = '@ViewBag.PageNumber';
    var DateFrom = $(".min-date").val();
    var DateTo = $(".max-date").val();
    var NavigatePageListing = function (pagenumber, order) {

        var searchText = $("#srch-term").val();
        $("#LoadServiceTrackerReport").load(domainurl + "/Reports/LoadServiceTrackerReportList", { PageNo: pagenumber, SearchText: searchText, order: order, StartDate: DateFrom, EndDate: DateTo });
    }
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    $(document).ready(function () {
        var SearchText = $(".srch-term").val();
        $("#LoadServiceTrackerReport").load("/Reports/LoadServiceTrackerReportList", { PageNo: pagenumber, SearchText: SearchText, StartDate: DateFrom, EndDate: DateTo });
      
        //$(".DateFilterContents .btn-apply-Datefilter").click(function () {
        //    var DateFrom = $(".min-date").val();
        //    var DateTo = $(".max-date").val();
        //    $("#LoadServiceTrackerReport").html(TabsLoaderText);
        //    $("#LoadServiceTrackerReport").load("/Reports/LoadServiceTrackerReportList", { PageNo: pagenumber, SearchText: SearchText, StartDate: DateFrom, EndDate: DateTo });
        //    var StartDate = my_date_format($(".DateFilterContents .min-date").val());
        //    var EndDate = my_date_format($(".DateFilterContents .max-date").val())
        //    if (StartDate == "NaN undefined, NaN") {
        //        StartDate = "All Time";
        //        EndDate = "";
        //    }

        //    $(".DateFilterContents .date-start").html("");
        //    $(".DateFilterContents .date-end").html("");
        //    $(".DateFilterContents .date-start").html(StartDate);
        //    $(".DateFilterContents .date-end").html(EndDate);
        //    $(".DateFilterContents .dropdown-filter").hide();
        //    UpdatePtoCookie();
        //});



    });
</script>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />

<div class="payroll_list_container payroll_container_main">

    <div id="LoadServiceTrackerReport">

    </div>
</div>







