@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    var LoaderAnimation = "<div class='ListViewLoader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var UserId = '@ViewBag.UserId';
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";

    var LoadTechnicianInventoryDetailsOwn = function () {
        $(".ListContentsTechOwn").html(LoaderAnimation);
        $(".ListContentsTechOwn").load(domainurl + "/Reports/TechEquipmentsListPartialForReport");
    }
    $(document).ready(function () {

        LoadTechnicianInventoryDetailsOwn();


        //$(".LoaderWorkingDiv").hide();
        //$("#TechInventoryReportTab").html(TabsLoaderText);
        //$("#TechInventoryReportTab").load(domainurl + "/Reports/TechnicianInventoryPartialForReport");
    });

</script>

<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />
<div class="ReportsTitle">
    <div class="dateviewed">
        @{Html.RenderAction("DateViewPartial", "Customer");}
    </div>
</div>


<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            <li class="active TechInventoryReportTab">
                <a data-target="#TechInventoryReportTab" data-toggle="tab">@Localize.T("Tech Inventory")</a>
            </li>
        </ul>
        <div class="tab-content reports_tab_content">
            <div class="ListContentsTechOwn"></div>
            @*<div class="tab-pane active" id="TechInventoryReportTab">

            </div>*@
        </div>
    </div>

</div>


