@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions


<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var SummaryReportLoad = function (pageNo, order) {
        if (typeof (pageNo) != "undefined") {
            var LoadUrl = domainurl + "/Reports/TicketSummaryReportPartial?SearchText=" + encodeURI($(".SummaryReportText").val())
                + "&PageNo=" + pageNo + "&order=" + order;
            $(".SummaryReportTable").html(TabsLoaderText);
            $(".SummaryReportTable").load(LoadUrl);
        }
    }
    $(document).ready(function () {
        $("#btnSummaryReportSearch").click(function () {
            SummaryReportLoad(1, null);
        });

        $(".DateFilterContents .btn-apply-Datefilter").click(function () {
            if (top.location.hash != "" && top.location.hash == "#TicketSummaryReportTab") {
                UpdatePtoCookie();
                SummaryReportLoad(1);
                var StartDate = my_date_format($(".DateFilterContents .min-date").val());
        var EndDate = my_date_format($(".DateFilterContents .max-date").val())
        if (StartDate == "NaN undefined, NaN") {
            StartDate = "All Time";
            EndDate = "";
        }

        $(".DateFilterContents .date-start").html("");
        $(".DateFilterContents .date-end").html("");
        $(".DateFilterContents .date-start").html(StartDate);
        $(".DateFilterContents .date-end").html(EndDate);
        $(".DateFilterContents .dropdown-filter").hide();
            }

    });
        $(".SummaryReportText").keydown(function (e) {
            if (e.which == 13) {
                SummaryReportLoad(1, null);
            }
        });
        
        SummaryReportLoad(1, null);

        $("#btnSummaryReportDownload").click(function () {
            window.location.href = domainurl + "/Reports/DownloadTicketSummaryReport/?SearchText=" + encodeURI($(".SummaryReportText").val());
        })
    });
</script>

<div class="page-content-wrap cus-padding-top10p invoicelist">
    <div class="FilterFunding">
        <div class="go_back_srch_filter">
            <div class="input-group add-on summary_cus_div">
                <input class="form-control SummaryReportText" @*id="SummaryReportText"*@ type="text" placeholder="Search" />
                <div class="input-group-btn"><button class="btn search_ticket_btn green_button" id="btnSummaryReportSearch" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
            
        </div>
        <button title="@Localize.T("Download")" class="report_btn lrp_float_right" id="btnSummaryReportDownload"><i class="fa fa-download" aria-hidden="true"></i></button>

    </div>
    <div class="SummaryReportTable">

    </div>
</div>