@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper



<script>
    var pagenumber = '@ViewBag.PageNumber';
    var DateFrom = $(".min-date").val();
    var DateTo = $(".max-date").val();
    var NavigatePageListing = function (pagenumber, order) {

        var searchText = $("#srch-term").val();
        $("#LoadTicketReport_goback").load(domainurl + "/Reports/LoadTicketReportListGoBack", { PageNo: pagenumber, SearchText: searchText, order: order, StartDate: DateFrom, EndDate: DateTo, ReportTabType: 'GoBack' });
    }
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    $(document).ready(function () {
        var SearchText = $(".srch-term").val();
        $("#LoadTicketReport_goback").load("/Reports/LoadTicketReportListGoBack", { PageNo: pagenumber, SearchText: SearchText, StartDate: DateFrom, EndDate: DateTo, ReportTabType: 'GoBack' });
        //$(".DateFilterContents .btn-apply-Datefilter").click(function () {
        //    console.log("goback");
        //    var DateFrom = $(".min-date").val();
        //    var DateTo = $(".max-date").val();
        //    $("#LoadTicketReport_goback").html(TabsLoaderText);
        //    $("#LoadTicketReport_goback").load("/Reports/LoadTicketReportListGoBack", { PageNo: pagenumber, SearchText: SearchText, StartDate: DateFrom, EndDate: DateTo, ReportTabType: 'GoBack' });
        //    var StartDate = my_date_format($(".DateFilterContents .min-date").val());
        //    var EndDate = my_date_format($(".DateFilterContents .max-date").val())
        //    if (StartDate == "NaN undefined, NaN") {
        //        StartDate = "All Time";
        //        EndDate = "";
        //    }
                    

        //    $(".DateFilterContents .date-start").html("");
        //    $(".DateFilterContents .date-end").html("");
        //    $(".DateFilterContents .date-start").html(StartDate);
        //    $(".DateFilterContents .date-end").html(EndDate);
        //    $(".DateFilterContents .dropdown-filter").hide();
        //    UpdatePtoCookie();
        //});
        $(".icon_sort_timeclock").click(function () {

            var orderval = $(this).attr('data-val');
            $("#LoadTicketReport_goback").html(TabsLoaderText);
            $("#LoadTicketReport_goback").load("/Reports/TicketReportListGoBack", { PageNo: pagenumber, SearchText: SearchText,order: orderval, StartDate: DateFrom, EndDate: DateTo, ReportTabType: 'GoBack' });
        })
        //$("#btnDownloadticketReport2").click(function () {
        //      var DateFrom = $(".min-date").val();
        //    var DateTo = $(".max-date").val();
        //    var TicketId = $("ticket_id_goback").val();
        //    location.href = domainurl + "/Reports/TicketReportPartial/?GetReport=true" + "&SearchText=" + $(".ticket_search_text").val() + "&TicketType=" + $("#TicketType_Search_goback").val() + "&TicketStatus=" + $("#Ticket_Status_Search_goback").val() + "&Assigned=" + $("#Assigned_search").val() + "&RepType=GoBack" + "&StartDate=" +DateFrom + "&EndDate=" +DateTo;
        //});
    })
</script>
<link href="~/Content/Css/Report/PayrollReport.css" rel="stylesheet" />


<div class="payroll_list_container payroll_container_main">

    @*<div id="payroll_search_container">
            <div class="input-group add-on">
                <input class="form-control srch-term" placeholder="Search" type="text" id="contact_search">
                <div class="input-group-btn">
                    <button class="btn btn-default custom-btn SearchContact" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>*@

    <div id="LoadTicketReport_goback">

    </div>
</div>

