@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<html>
<head>
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/Popups/SmallPopups.css" rel="stylesheet" />
    <script src="~/Content/JQuery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Js/Site/Validation.js"></script>
    <style>
        body{
            overflow:hidden;
            margin:0px;
        }
        .Navigation{
            position: absolute;
            width: 100%;
            height: 80px;
            bottom: 0px;
        }
        .CandelBtnDiv{
            float:left;
        }
        .BackBtnDiv{
            float:right;
        }
        .NextBtnDiv{
            float:right;
        }
        .padding-left-10{
            padding-left:10px;
        }
        .padding-right-10{
            padding-right:10px;
        }
        .padding-left-5{
            padding-left:5px;
        }
        .padding-right-5{
            padding-right:5px;
        }
        .NameDiv{
            padding-left:5px;
        }
    </style>

</head>
<body>
    <div class="choosePermissionGroup">
        <h3>@Localize.T("Choose User Type")</h3>
        <div>
            <table>
                <tr>
                    <td><input type="radio" name="PermissionGroup" /></td>
                    <td>
                        <h4>Regular or custom user</h4>
                        <span>You specify which areas of QuickBooks Online Plus this user can access.</span>
                    </td>
                </tr>
                <tr>
                    <td><input type="radio" name="PermissionGroup" /></td>
                    <td>
                        <h4>Company administrator</h4>
                        <span>Company administrators have all access rights within QuickBooks Online Plus. They also have all access rights for every other service your company subscribes to.</span>
                    </td>
                </tr>
                <tr>
                    <td><input type="radio" name="PermissionGroup" /></td>
                    <td>
                        <h4>Reports only</h4>
                        <span>This type of user signs in to a special version of QuickBooks Online Plus that shows reports only. A Reports only user can access virtually all reports, except payroll reports and those listing contact information of customers, vendors, or employees. This user does not count toward your current user limit.</span>
                    </td>
                </tr>
                <tr>
                    <td><input type="radio" name="PermissionGroup" /></td>
                    <td>
                        <h4>Time Tracking only</h4>
                        <span>This type of user signs in to a special version of QuickBooks Online Plus that only has time sheets. A Time Tracking only user can fill out and change his or her own time sheets (but not other users' time sheets). This user does not count toward your current user limit.</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="Navigation">
            <div class="CandelBtnDiv">
                <button>Cancel</button>
            </div>
            <div class="NextBtnDiv">
                <button>Next</button>
            </div>
            <div class="BackBtnDiv">
                <button>Back</button>
            </div>

        </div>
    </div>
    <div class="UserInputForm">
        <div class="NameDiv form-group">
            <div class="width-33p padding-right-5">
                <label>Title</label>
                <input type="text" class="form-control" />
            </div>
            <div class="width-33p padding-right-5">
                <label>First Name</label>
                <input type="text" class="form-control" />
            </div>
            <div class="width-33p padding-right-5">
                <label>Last Name</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="EmailAddressDiv form-group">
            <div class="width-33p padding-right-5">
                <label>Email Address</label> 
            </div>
            <div class="width-67p">
                <input type="text" class="form-control" />
            </div>
            <div class="width-33p padding-right-5">
                <label>Confirm Email Address</label>
            </div>
            <div class="width-67p">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</body>
</html>
