
@model List<HS.Entities.Permission>
@{
    Layout = null;
    int id = int.Parse(Request.QueryString["id"].ToString());
}

@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/UserManagement/ChangeUserGroupPermission.css" rel="stylesheet" />
<script>

    var SavePermissionGroup = function (gid, pid) {

        var alllabel = $(".add_usergroup_container_smL label");
        var isChecked = $(".Is_" + pid).prop("checked");
        for (var it = 0; it < $(alllabel).length ; it++) {
            if ($(alllabel[it]).attr('value') == pid) {
                if (isChecked)
                    $($(alllabel[it]).find('input')).prop('checked', true);
                else
                    $($(alllabel[it]).find('input')).prop('checked', false);
            }
        }
        $.ajax(
            {
                type: "POST",
                url: "UserMgmt/SavePermission/",
                data: {
                    gid: gid,
                    pid: pid,
                    isChecked: isChecked

                },
                success: function () {
                    //$('.inventory-popup').dialog('close');
                }
            });
    }
    var MarkAsPermission = function (gid, pid) {
        SavePermissionGroup(gid, pid);
    }
    $(document).ready(function () {
        $('.add_usergroup_container_smL').height(window.innerHeight - 106);
    });
    $(window).resize(function () {
        $('.add_usergroup_container_smL').height(window.innerHeight - 106);
    });
</script>

<div class="add_usergroup_container_smL">
    <div class="form-group clearfix">
        @foreach (var per in Model)
        {
            <label class="containercheck" value="@per.ParentId">
                <span class="tesst">@per.DisplayText</span>
                <input onclick="MarkAsPermission(@id,@per.Id)" class="Is_@per.Id" type="checkbox" @(per.IsActive.Value ? "checked=\"checked\"" : "") value="@per.Id">
                <span class="checkmark"></span>
            </label>
        }

    </div>
</div>


 

