.AddAlarm{
    float: right;
        background-color: #2ca01c;
        border: none;
        border-radius: 3px;
        height: 32px;
        color: white;
        margin-top:10px;
        padding: 0px 15px;
}

.txt-content{
    font-size:2rem;
    font-weight:500;
    margin-top:5px;
}
.AddAuthorize{
    float: right;
        background-color: #2ca01c;
        border: none;
        border-radius: 3px;
        height: 32px;
        margin-top:10px;
        color: white;
        padding:0px 15px;
}
.AddTech{
    float: right;
        background-color: #2ca01c;
        border: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
-moz-border-radius: 3px;
        height: 32px;
        color: white;
}
.dataTables_filter {
    display:none;
}
.authorize_header_for_mobile {
    display:none;
}
.left_container {
    width:70%;
    float:left;
}
.right_container {
    width:30%;
     float:right;
}
@media (max-width: 768px){
     .bor {
        border-top: 1px solid #d4d7dc;
    }
.hidden_class_for_mobile{
    display:none;
}
.custom_style_mobile {
        width:100%;
        float:left;
    }
    .authorize_header_for_mobile {
      display: block;
    width: 24%;
    float: left;
    text-align: left;
    }
   .authorize_info_style {
       width:44%;
       float:left;
       display:block;
       word-wrap:break-word;
       padding-left:10px;
       text-align:left;
   }

}
@media (max-width: 585px) {
    .left_container {
    width:100%;
    float:left;
}
.right_container {
    width:100%;
     float:left;
}
.AddAlarm {
    margin-top:-4px;
}
}
@media (max-width: 414px) {
    .header_margin {
        margin-top:-32px;
    }
}