.reports-tabs > li > a {
    /*background-color: transparent !important;*/
}

.payroll_reports_container {
    width: 100%;
    float: left;
}

.rug_repair_report_top {
    width: 100%;
    float: left;
}

.booking_report_table {
    table-layout: unset !important;
}

.rug_repair_report_top .input-group {
    width: 300px;
    float: left;
}

.add_ticket_main .addticketbottomtable {
    margin-top: 0px !important;
}

.rug_repair_report_top #btnDownloadSalesPersonReport {
    float: right;
}

.payroll_reports_header {
    width: auto;
    float: left;
    font-size: 24px;
    padding: 5px 15px;
    font-weight: 500;
}

.finished_job_mail {
    word-break: break-all;
}

.reports-tabs {
    background-color: #f4f5f8;
}

    .reports-tabs > li.active > a, .reports-tabs > li.active > a:hover {
        background-color: #2ca01c !important;
        color: #fff !important;
        border-color: #2ca01c;
    }

    .reports-tabs > li > a {
        color: #000 !important;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        /*background-color: transparent !important;
        color: #454545;
        border: none !important;*/
    }

        .reports-tabs > li > a,
        .reports-tabs > li > a:hover {
            border: 1px solid #ccc !important;
            margin-right: 0px;
        }

    .reports-tabs > li {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        /*border: 1px solid #ccc !important;*/
    }

        .reports-tabs > li.active {
            /*background-color: #2ca01c !important;*/
        }

    .reports-tabs > li {
        /*border: 1px solid #ccc !important;*/
    }

        .reports-tabs > li.active > a {
            font-weight: normal !important;
            /*color: white !important;*/
        }

.reports_tab_content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.payroll_report_top_nav {
    background-color: #f4f5f8;
}

    .payroll_report_top_nav li {
        border: 1px solid #ccc !important;
    }

        .payroll_report_top_nav li a {
            margin-right: 0px;
            border-radius: 0px;
        }

    .payroll_report_top_nav > li.active > a {
        background-color: #2ca01c;
        color: #fff;
        border-color: #2ca01c;
    }

        .payroll_report_top_nav > li.active > a:hover {
            background-color: #2ca01c;
            color: #fff !important;
            border-color: #2ca01c;
        }

.ReportsTitle {
    font-weight: 500;
    font-size: 24px;
    padding: 6px 15px;
}

.Report-Tabs table {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;
}

    .Report-Tabs table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .Report-Tabs table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .Report-Tabs table thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .Report-Tabs table thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }

    .Report-Tabs table tr td,
    .Report-Tabs table tr th {
        /*border: 1px solid #ccc !important;*/
        padding: 5px;
    }

.load_sales_report_partial_table .lsrp_rs {
    width: 15%;
}

.sales_report_srch_bar {
    width: 350px;
    float: left;
}

    .sales_report_srch_bar #sales_txt_search {
        width: 100% !important;
    }

.ReportTableDiv {
    margin-top: 10px;
}

.report-bottom-border {
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.report-top-border {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.filter_btn_report {
    width: 77px;
}

.report_btn {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2ca01c !important;
    border: none;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.report_pagination_container {
    width: 100%;
    float: right;
    padding-bottom: 10px;
}

.report_pagination_inner {
    width: auto;
    float: right;
}

.Can_Cue_btn,
.Can_Cue_btn:focus,
.Can_Cue_btn:hover {
    float: right;
    margin-left: 10px;
}

.can_cue_table thead tr th:nth-child(1) {
    width: 260px;
}
/*.expense_reports .reports-tabs {
    background-color:#2ca01c;
}*/
.marketting_top_info_bar {
    padding: 15px 0px;
}

    .marketting_top_info_bar .header_txt_style {
        font-size: 18px;
        font-weight: 600;
    }

.paid_advertisement_filter_list_bg {
    background-color: #b7165b !important;
}

.FinishedJobHead,
.PackageSummaryHead {
    width: 100%;
    float: left;
}

    .FinishedJobHead .input-group,
    .ld_book_sales_rpt_top_bar .input-group,
    .PackageSummaryHead .input-group {
        width: 300px;
        float: left;
    }


.ld_book_sales_rpt_top_bar .convert_cus_filterbtn_div {
    width: auto;
    float: left;
    margin-left: 10px;
    position: relative;
}

.ld_book_sales_rpt_top_bar .convert_cus_report_filter {
    position: absolute;
    left: 0px;
    top: 28px;
    width: 400px;
    background-color: #fff;
    z-index: 99;
}

    .ld_book_sales_rpt_top_bar .convert_cus_report_filter .convert_cus_report_filte_innerr div {
        width: 80% !important;
    }

.upsellsreportlist_table .usrl_h {
    width: 120px;
}

#RWSTable {
    table-layout: fixed;
}



    #InventoryCountReportTable thead tr th div:nth-child(1),
    #InventoryTechUsedReportTable thead tr th div:nth-child(1),
    #RWSTable thead tr th div:nth-child(1),
    #tblCancelQueueReport thead tr th div:nth-child(1),
    .loadHudsonleadsReportTable thead tr th div:nth-child(1),
    .PurchaseOrderTable #InventoryCountReportTable thead tr th div:nth-child(1),
    .RMATable #InventoryCountReportTable thead tr th div:nth-child(1),
    .UsagebyAccountTable #InventoryCountReportTable thead tr th div:nth-child(1),
    .InventoryCountReportTable #InventoryCountReportTable thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }


    #InventoryCountReportTable thead tr th div:nth-child(2),
    #InventoryTechUsedReportTable thead tr th div:nth-child(2),
    #RWSTable thead tr th div:nth-child(2),
    #tblCancelQueueReport thead tr th div:nth-child(2),
    .loadHudsonleadsReportTable thead tr th div:nth-child(2),
    .PurchaseOrderTable #InventoryCountReportTable thead tr th div:nth-child(2),
    .RMATable #InventoryCountReportTable thead tr th div:nth-child(2),
    .UsagebyAccountTable #InventoryCountReportTable thead tr th div:nth-child(2),
    .InventoryCountReportTable #InventoryCountReportTable thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }


        #InventoryCountReportTable thead tr th div:nth-child(2) i,
        #InventoryTechUsedReportTable thead tr th div:nth-child(2) i,
        #RWSTable thead tr th div:nth-child(2) i,
        #tblCancelQueueReport thead tr th div:nth-child(2) i,
        .loadHudsonleadsReportTable thead tr th div:nth-child(2) i,
        .PurchaseOrderTable #InventoryCountReportTable thead tr th div:nth-child(2) i,
        .RMATable #InventoryCountReportTable thead tr th div:nth-child(2) i,
        .UsagebyAccountTable #InventoryCountReportTable thead tr th div:nth-child(2) i,
        .InventoryCountReportTable #InventoryCountReportTable thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }


            #InventoryCountReportTable thead tr th div:nth-child(2) i:nth-child(2),
            #InventoryTechUsedReportTable thead tr th div:nth-child(2) i:nth-child(2),
            #RWSTable thead tr th div:nth-child(2) i:nth-child(2),
            #tblCancelQueueReport thead tr th div:nth-child(2) i:nth-child(2),
            .loadHudsonleadsReportTable thead tr th div:nth-child(2) i:nth-child(2),
            .PurchaseOrderTable #InventoryCountReportTable thead tr th div:nth-child(2) i:nth-child(2),
            .RMATable #InventoryCountReportTable thead tr th div:nth-child(2) i:nth-child(2),
            .UsagebyAccountTable #InventoryCountReportTable thead tr th div:nth-child(2) i:nth-child(2),
            .InventoryCountReportTable #InventoryCountReportTable thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }

    #InventoryCountReportTable tbody tr td,
    #InventoryCountReportTable thead tr th,
    #RWSTable tbody tr td,
    #RWSTable thead tr th {
        border: 1px solid #ccc;
    }

    #RWSTable thead tr th {
        text-align: center;
        vertical-align: middle;
    }

    #RWSTable tbody tr td {
        word-break: break-word;
    }

    #InventoryCountReportTable thead tr,
    #RWSTable thead tr {
        border-bottom: 2px solid #ccc;
    }

    #InventoryCountReportTable > tbody > tr:nth-child(odd),
    #RWSTable > tbody > tr:nth-child(odd) {
        background-color: #f8f8f8;
    }

    #InventoryCountReportTable > tbody > tr:hover,
    #RWSTable > tbody > tr:hover {
        background-color: #f4f5f8;
    }

    #RWSTable .rwst_list {
        width: 110px;
    }

.rwst_row {
    width: 100%;
    float: left;
}

.rwst_header {
    width: 25px;
    float: left;
    font-weight: bold;
}

.rwst_info {
    width: auto;
    float: left;
}

.completed_inv_report_table {
    table-layout: fixed !important;
}

.completed_inv_report_sp_head {
    width: auto;
    float: left;
}

    .completed_inv_report_sp_head span {
        margin-right: 5px;
    }

.completed_inv_report_row {
    width: 100%;
    float: left;
}

.cir_prod {
    width: 200px;
}

#InventoryCountReportTable tbody tr td div:nth-child(1),
#RWSTable tbody tr td .rws_mb_header {
    display: none;
}

.cencellation_queue_header_div {
    width: 100%;
    float: left;
    font-weight: 500;
    font-size: 24px;
    padding: 6px 15px;
}

.cencellation_queue_header {
    width: auto;
    float: left;
}

.payroll_settings_nav {
    padding-right: 40px;
}

.report_data_ref_table thead tr th {
    padding: 5px 10px 5px 10px;
}

.report_data_ref_table thead tr th,
.app_date_table .loadticketreportlist_table thead tr th,
.go_back_table .loadticketreportlist_table thead tr th,
.install_equip_table .loadticketreportlist_table thead tr th {
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    background-color: #fff;
    box-shadow: 0 1px 1px -1px #ccc;
}

#AllRecordTable tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

#AllRecordTable tbody tr:hover {
    background-color: #f4f5f8;
}

#AllRecordTable .small_header {
    font-weight: bold;
}

    #AllRecordTable .small_header span {
        margin-right: 5px;
    }

@media(max-width:1550px) {
    .payroll_settings_nav li a {
        padding: 10px 4px;
    }
}

@media (max-width:1285px) {
    .Load_Ticket_Report_install .report_btn {
        margin-top: 10px !important;
    }
}

@media (max-width:768px) {
    #InventoryCountReportTable thead,
    #RWSTable thead {
        display: none;
    }

    #InventoryCountReportTable tbody tr td,
    #RWSTable tbody tr td {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }

        #InventoryCountReportTable tbody tr td div:nth-child(1),
        #RWSTable tbody tr td .rws_mb_header {
            display: block;
            width: 35%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #InventoryCountReportTable tbody tr td div:nth-child(1) span,
            #RWSTable tbody tr td .rws_mb_header span {
                float: right;
                margin-right: 10px;
            }

        #InventoryCountReportTable tbody tr td div:nth-child(2),
        #RWSTable tbody tr td .rws_mb_info {
            width: 65%;
            float: left;
            text-align: left;
            word-break: break-all;
        }

    #AllRecordTable thead {
        display: none;
    }

    #AllRecordTable tr td {
        width: 100%;
        float: left;
    }

    #AllRecordTable .small_header {
        display: none;
    }
}

@media (max-width:414px) {
    .payroll_settings_nav {
        padding-right: 0px;
        padding-top: 35px;
    }

    .cencellation_queue_header {
        width: 100%;
        float: left;
    }

    .FinishedJobHead .input-group,
    .ld_book_sales_rpt_top_bar .input-group,
    .PackageSummaryHead .input-group {
        width: 100%;
    }

    .payroll_reports_header {
        font-size: 24px;
    }

    .reports-tabs > li {
        width: 50%;
        text-align: center;
        border: 1px solid #ccc;
    }

        .reports-tabs > li.active > a {
            border: 0px;
            color: #fff !important;
            background-color: #2ca01c !important;
            margin-right: 0px;
        }

    .Report-Tabs .nav > li > a {
        padding: 10px 5px;
    }

    .report_app_date_table thead,
    .report_data_ref_table thead {
        display: none !important;
    }

    .report_app_date_table tbody tr td,
    .report_data_ref_table tbody tr td {
        width: 100%;
        float: left;
    }

        .report_app_date_table tbody tr td .ticket_list_partial_device_header,
        .report_data_ref_table tbody tr td .ticket_list_partial_device_header {
            width: 48%;
        }

        .report_app_date_table tbody tr td .ticket_list_partial_device_info,
        .report_data_ref_table tbody tr td .ticket_list_partial_device_info {
            width: 52%;
        }
}
