 #btnEmergencySavandNex {
        float: right;
        /*background-color:#2ca01c;
        color:white;*/
    }

    .NewLeadbtn {
        padding: 15px 0 15px 0;
        max-width: 480px;
    }

    .btn-top {
        margin-top: 10px;
    }

    #btnSaveEmgContact {
        float: right;
        margin-top: 10px;
    }
#btnSaveEmgContactAndClose {
    float: right;
    margin-right:10px;
}
#btnSaveEmgContact_edititem {
    margin-right: 10px;
}
#btnSaveEmgContactAndNew {
    float: right;
    margin-right: 10px;
}
#btnSaveEmgContact_edititem {
    float: right;
    font-size: 13px;
    background-color: #2CA01C;
    color: white;
}
#btnSaveEmgContact, #btnSaveEmgContactAndClose, #btnSaveEmgContactAndNew {
    float: right;
    font-size: 13px;
    background-color: #2CA01C;
    color: white;
}
    .text-custom{
            font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    }
.add_menu_item_header {
    width: 100%;
    float: left;
    font-size: 2.4rem !important;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
.add_menu_item_height {
    width: 100%;
    float: left;
    overflow-x:hidden;
    overflow-y:auto;
}
.add_menu_item_header_container {
    width: 100%;
    float: left;
    padding: 5px 15px;
}
.add_menu_item_footer {
    width: 100%;
    float: left;
    padding: 5px 15px;
    border-top:1px solid #ccc;
    padding-top:10px;
}
    .add_menu_item_footer #btnCancelEmgContact_edititem {
        float: left !important;
        color: #fff !important;
        background-color: #867e7e !important;
        border-color: #867e7e !important;
        margin-bottom: 0px !important;
    }
.add_emergency_contact_container {
    width: 100%;
    float: left;
}
    .add_emergency_contact_check label {
        float:left;
        margin-top: 5px;
    }
    .add_emergency_contact_check_margin {
        margin-left:10px;
    }
    #btnCancelEmgContact {
        margin-right:10px;
        float:right;
        margin-top:10px;
        color: #fff;
        background-color: #d71920;
        border-color: #d71920;
    }
#btnCancelEmgContact_edititem {
    margin-right: 10px;
    float: right;
    color: #fff;
    background-color: #d71920;
    border-color: #d71920;
    margin-bottom: 10px;
}
    #btnCancelEmgContact:focus {
        outline:none;
    }
    .smart_add_emerg_contact {
           width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    }
    .smart_add_emerg_contact .smart_add_emerg_content {
        width:33.33%;
        float:left;
        padding:0px 15px;
        min-height:65px;
        position:relative;
    }
    .smart_add_emerg_footer {
        width:100%;
        float:left;
    }
    .acec_padding_bot {
        padding-bottom:7px;
    }
    .add_emergency_contact_container .margin_top_row .col-sm-4 {
        margin-bottom:10px;
    }
     @media (max-width:768px) {
        .manual_width {
   width:33%;
   float:left;
}
        .manual_width_for_checkbox {
   width:15%;
   float:left;
        }
        .add_emergency_contact_container  .manual_width {
   width:50%;
   float:left;
}
    }
     @media (max-width:414px) {
        .manual_width {
   width:100%;
}
        .add_emergency_contact_container .emergencycontactmargin {
            margin-bottom:15px;
        }
       

        #AddNewEmgContactPartial .add_emergency_contact_container .manual_width {
        width: 100%;
        float: left;
        padding:0px;
    }
         .smart_add_emerg_contact .smart_add_emerg_content {
        width:100%;      
    }
         .smart_add_emerg_contact {
             padding:10px 0px;
         }
         .smart_add_emerg_footer {
    padding: 0px 15px;
}
   }
    