    .add_lead_note_header {
    width: 100%;
    background-color: #f4f5f8;
    padding: 15px 15px 10px 15px;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
}
    .add_lead_note_height {
        overflow-x:hidden;
        overflow-y:auto;
    }
    .note_send_for {
        padding-top:10px;
    }
    .note_send_for .bootstrap-select.btn-group .dropdown-menu {
        z-index:999999;
    }
    .reminder-text{
        margin-left:15px;
        position:relative;
    }
    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .custom-col {
        width: 18%;
    }
    .NoteTypeError{
        font-size:14px;
        color:red;
    }
    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    .btn-leadnote {
        float: right;
        background-color: green;
        color: white;
    }

.btn-leadnoteLeadform {
    float: right;
    background-color: green;
    color: white;
}
    .btn-leadnoteLeadform:hover {
        color: white;
    }

.btn-leadnote:hover {
    color: white;
}

    .txtnote-style {
        font-size: 20px;
        font-weight: 400;
    }

    .lnote-style {
        margin-top: 10px;
    }

    .Ltxt-style {
        padding-top: 10px;
        font-size: 14px;
        font-weight: 600;
    }

    .cus-padding-top15 {
        padding-top: 20px;
    }
.colorBox {
    display: inline-block;
    height: 14px;
    width: 14px;
}