#btnContractSavandNex {
    float: right;
    /*background-color:#2ca01c;
        color:white;*/
}

.NewLeadbtn {
    padding: 15px 0 15px 0;
    max-width: 480px;
}

.btn-top {
    margin-top: 10px;
}
/*.contact_term_partial_window {
        width:77.5%;
    }*/
.bottom_space {
    width: 96.5% !important;
}
 .required {
        border-color: red;
    }

    .mmr_payment_method_detils {
        display: none;
        /*padding-right: 20px;
        width: 310px;*/
    }

    .activationFee_payment_method_detils {
        display: none;
        width: 310px;
    }

    .dropdown_width {
        width: 100px !important;
    }

    .payment_info_field {
        border: 2px solid #ddd !important;
        box-shadow: 0px 0px 0px 0px #000;
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-bottom: 25px !important;
    }

    .payment_info_legend {
        width: inherit;
        padding: 3px 10px;
        border-bottom: none;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0px !important;
    }

    .payment_text {
        margin-top: 5px;
    }


    /*Style start for radio button*/

    .payment_info_legend {
        width: inherit;
        padding: 3px 10px;
        border-bottom: none;
        font-size: 18px;
        font-weight: 600;
    }
    /*Style start for radio button*/

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 16px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 30px;
                top: 22px;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                 -webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #00c31f;
                position: absolute;
                top: 25px;
                left: 33px;
                 -webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    /*Style end for radio button*/
    .payment-icon-image {
        width: 50px;
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        padding: 4px;
    }

        .payment-icon-image:hover {
            border: 1px solid #00c31f;
        }

    .pading_none {
        padding-left: 0px;
        padding-right: 0px;
    }

    #BtnSkip {
        /*background-color:#fff;
        border:none;
        color:#2ca01c;*/
    }

        #BtnSkip:hover {
            /*color:#2ca01c !important;*/
        }

    .li_info_block {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    }

    .li_header {
        width: 100%;
        padding: 5px 10px;
        background-color: #f4f5f8;
        font-size: 15px;
        font-weight: 600;
         -webkit-border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px;
        border-bottom: 2px solid #ccc;
    }

    .li_info_details_block {
        width: 100%;
        font-size: 13px !important;
        float: left;
        padding: 10px 10px;
    }

    .payment-area {
        width:100%;
        float:left;
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 0px;
        margin-top: 10px;
        padding: 6px 0 6px 0;
    }
    #TblPaymetList{
        width:100%;
        float:left;
        margin-top:10px;
    }
    .style_btn_delete {
        color: white;
        margin-top: 15px;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        height: 34px;
        border-style: none;
        padding: 0px 10px;
    }
    .margin-top-20{
        margin-top:20px;
    }
    .ctp_payment_div_chk input {
        margin-left:15px;
    }
    .ctp_payment_div_chk input:nth-child(1) {
        margin-left:0px;
    }
    .add_emergency_contact_check [type="radio"]:checked, 
    .add_emergency_contact_check [type="radio"]:not(:checked) {
        position:unset;
    }
@media (max-width:768px) {
    .ctp_payment_div_left {
        width:49%;
        float:left;
    }
    .ctp_payment_div_right {
           width:51%;
        float:left;
    }
    .new_margin {
        margin-top: 15px !important;
    }

    .new_margin1 {
        margin-top: 15px !important;
    }
}

@media (max-width:414px) {
    .new_margin1 {
        margin-top: 15px !important;
    }
}
