.correspondence_list_container {
padding-top:5px;
}    
.correspondence_list_btn_div {
    float:right;
}
#tblCorrespondence{
        width:100%;
        float:left;
        table-layout:fixed;
    }
#tblCorrespondence thead tr th {
    width:25% !important;
}
#tblCorrespondence tbody tr:nth-child(odd) {
    background-color:#f8f8f8;
}
#tblCorrespondence tbody tr:hover {
    background-color:#f4f5f8;
}
    .btnAddCorrespondence{
        background-color:#2ca01c;
        margin-bottom:10px;
        color:white;
    }
    .row-custom{
        margin-right:0;
        margin-left:0;
    }
    .col-custom-12{
        padding-left:0;
        padding-right:0;
    }
    #tblCorrespondence tbody tr td div:nth-child(1) {
        display:none;
    }
    @media (max-width:768px) {
        #tblCorrespondence thead {
            display:none;
        }
        #tblCorrespondence tbody tr td {
            width:100%;
            float:left;
            box-sizing:border-box;
            padding:3px 5px;
            border-bottom:1px solid #e7e7e7;
        }
        .correspondence_list_btn_div {
            width:100%;
            float:left;
        }
        #tblCorrespondence tbody tr td div:nth-child(1) {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight:bold;
        }
        #tblCorrespondence tbody tr td div:nth-child(1) span {
            float:right;
            margin-right:10px;
        }
        #tblCorrespondence tbody tr td div:nth-child(2) {
            width:55%;
            float:left;
            text-align:left;
        }
    }