.document_center_container {
    padding:5px 0px 0px 0px;
    margin: auto;
}
.document_center_name {
    font-size: 2.4rem;
    font-weight: 500;
}
.document_center_address {
    font-size:15px;
    font-style:italic;
}
.document_center_header {
    font-size:22px;
    font-weight:500;
}
#AddNewLeadDocumentFileUpload {
    float: right;
    background: #2ca01c;
    color: #fff;
    font-weight: 600;
}

    .anchor-back-lead-varify {
    float: left;
    color: #2ca01c;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 12px;
    }
    .anchor-back-lead-varify:hover {
        color: #2ca01c;
        cursor : pointer ;
    }
    .anchor-back-lead-varify > i {
        color:#2ca01c;
        font-size: 20px;
        font-weight:600
    }
    #tblinfo_length, #tblinfo_filter {
        display: none;
    }
    #tblinfo {
        width: 100%;
    }
    #tblinfo thead tr th {
        padding:10px;
    }
    #tblinfo tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
    #tblinfo tbody tr:hover {
        background-color:#f4f5f8;
    }
    .custom-table {
        margin-top: 10px;
    }

    .dcp_table_container {
        width:100%;
        float:left;
        margin-top: 10px;
    }
    .table-head-border {
        border-bottom: 2px solid #d4d7dc;
    }

    .tr-style {
        border-bottom: 1px solid #d4d7dc;
    }

    .custom-th-lead-note {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .custom-td-lead-note {
        padding-top: 5px;
        padding-bottom: 5px;
    }
        .row-custom{
        margin-right:0;
        margin-left:0;
    }
    .col-custom-12{
        padding-left:0;
        padding-right:0;
    }
    .size-img{
    width:30px;
}
    .document_center_partial_table tbody tr td div:nth-child(1) {
        display:none;
    }

    @media (max-width:414px) {
        .document_center_partial_table thead {
            display:none;
        }
         .document_center_partial_table tbody tr td {
            width:100%;
            float:left;
            padding: 0px 5px;
        }
        .document_center_partial_table tbody tr td div:nth-child(1) {
            display:block;
            width:40%;
            float:left;
            text-align:left;
            font-weight:bold;
            }
      .document_center_partial_table tbody tr td div:nth-child(1) span {
          float:right;
          margin-right:5px;
      }
       .document_center_partial_table tbody tr td div:nth-child(2) {
        width:60%;
        float:left;
        text-align:left;
        word-break:break-all;
    }
    }
