#btnEmergencySavandNex {
        float: right;
        /*background-color:#2ca01c;
        color:white;*/
    }

    .NewLeadbtn {
        padding: 15px 0 15px 0;
        max-width: 480px;
    }

    .btn-top {
        margin-top: 10px;
    }

    #btnAddNewEmgContact {
        float: right;
        background-color:#2ca01c;
        color:#fff;
        border-color:#2ca01c;
    }
    .right_side_pad {
        padding-right:0px;
    }
    #EmergencyContactList {
        width:100%;
        float:left;
        padding-left:0px;
        padding-right:0px;
        margin-top:10px;
    }
    .smart_agreementDetails_container {
        width: 100%;
        float: left;
        margin-top: 15px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
        border-top: 2px solid #ccc;
        }
    .em_con_list_header_container {
        width:100%;
        float:left;
    }
     .em_con_list_header {
             width: 100%;
            float: left;
            font-size: 17px;
            font-weight: bold;
        }
     .em_con_list_header div {
         width:auto;
         float:left;
         padding-top:3px;
     }
     #btnSaveContactVerbal {
         margin-top:20px;
         float:right;
     }
     .smart_lead_summery_container {
         width:100%;
         float:left;
     }
     .smart_payment_list_container {
         width: 75%;
        float: left;
        margin-top: 15px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
        border-top: 2px solid #ccc;
     }
     .smart_payment_overview {
        width:24%;
        float: left;
        margin-left:1%;
        margin-top: 15px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
        border-top: 2px solid #ccc;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
        background-color: #f9f9f9;
     }
     .smart_payment_overview table {
         width:100%;
         float:left;
     }
     .smart_payment_overview table tr {
         border-bottom:1px solid #ccc;
     }
     .smart_payment_overview table .spo_bottom {
         border-bottom:none;
     }
     .smart_payment_overview table tr td {
         padding:5px;
         text-align:right;
     }
     .smart_payment_overview table tr td:nth-child(1) span {
            float: right;
    margin-left: 10px;
    font-weight: bold;
     }
     .smart_payment_overview table tr:nth-child(1) td {
        text-align: left;
        font-weight: bold;
        font-size: 17px;
     }
      .smart_payment_overview table .spo_bottom td:nth-child(1) {
          width:65%;
         text-align:right;
         font-weight:bold;
     }
      .smart_payment_overview table .spo_bottom td:nth-child(2) {
         font-weight:bold;
     }
     .smart_payment_list_header {
             width: 100%;
            float: left;
            font-size: 17px;
            font-weight: bold;
     }
     .smart_payment_list_header div {
         width:auto;
         float:left;
         padding-top: 3px;
     }
     #btnaddNewPayment {
         float:right;
     }
     .divaddnewpayment {
        width: 100%;
        float: left;
        position: relative;
        border: 1px solid #ccc;
        margin-top: 10px;
        padding: 10px;
     }
     .divaddnewpayment #btnPaymentClose {
           font-size: 14px;
    font-weight: normal;
    color: #fff !important;
    padding: 10px;
    background-color: #867e7e;
    opacity: unset;
    float:right;
        margin-right: 10px;
        box-shadow:unset;
        text-shadow:unset;
     }
     .divaddnewpayment #btnPaymentClose:focus {
         outline:none;
     }
        .smart_lead_summery_payment,
        .smart_lead_summery_payment_for {
            width:100%;
            float:left;
            padding-top:10px;
        }
       
        .smart_lead_summery_payment_for .ci_info,
        .smart_lead_summery_payment .ci_info {
            padding:10px;
        }
        .smart_lead_summery_payment_for .loadPaymentFor {
            width:68%;
            float:left;
        }
        .smart_lead_summery_payment_for .txt_form_add_file {
             width:21%;
            float:left;
            text-align:right;
        }
        .smart_lead_summery_payment_for .txt_form_add_file .col-md-12:nth-child(1) {
            padding:0px;
        }
        .smart_lead_summery_payment_for .loadPaymentFor .form-group:nth-child(1) {
            width:49%;
            float:left;
        }
        .smart_lead_summery_payment_for .loadPaymentFor .form-group:nth-child(2) {
            width:49%;
            float:right;
        }
        .smart_lead_summery_payment .li_info_details_block {
            padding:0px;
        }
        .smart_lead_summery_payment .tab-content {
            width: 100%;
            float: left;
            border: 1px solid #ccc;
            border-top: none;
            padding: 15px 0px;
        }
        .PaymentMethodType {
            cursor:pointer;
        }
        .PaymentMethodType:hover,
        .PaymentMethodType:focus {
            color:#2ca01c;
            text-decoration:underline;
        }
     .divaddnewpayment .smart_payment_div_left {
         width:40%;
         float:left;
     }
      .divaddnewpayment .smart_payment_div_right {
         width:60%;
         float:left;
         padding-left:20px;
     }
      .smart_payment_list_table {
            border-collapse:collapse;
        }
        .smart_payment_list_table thead tr {
            background-color:#f8f8f8;
        }
       .smart_payment_list_table thead tr th,
        .smart_payment_list_table tbody tr td {
           border:1px solid #ccc;
           padding:5px;
       }
       .smart_payment_list_table thead tr th:nth-child(1) {
           width:30% !important;
       }
        .smart_payment_list_table thead tr th:nth-child(2) {
           width:20%;
       }
         .smart_payment_list_table thead tr th:nth-child(3) {
           width:30% !important;
       }
        .smart_payment_list_table thead tr th:nth-child(4) {
           width:10%;
           text-align:center;
       }
        .smart_payment_list_table tbody tr td:nth-child(4) {
            text-align:center;
        }
        .smart_payment_list_table .style_btn_delete {
            margin-top:0px;
        }
        .smart_payment_div_right .text-custom {
            display:unset;
        }
        #CreditForm .li_info_details_row {
            margin-bottom:5px;
        }
       
        .smart_lead_summery_payment #CreditForm .li_info_details_row:nth-child(1) {
            width:100%;
        }
       
        .smart_lead_summery_payment #ACHForm .li_info_details_row,
        .smart_lead_summery_payment #CreditForm .li_info_details_row {
            width:33%;
            float:left;
        }
        .smart_lead_summery_payment #ACHForm .li_info_details_row .row,
        .smart_lead_summery_payment #CreditForm .li_info_details_row .row {
            margin:0px;
        }
    @media (max-width:320px) {
        .thead-th-style {
    padding: 6px !important;
    font-size: 13px;
}
    }