.CustomerDetailLayout {
    padding: 20px;
    max-width: 480px;
}
.lead_email_address {
    font-size:15px;
    font-style:italic;
}
.lsp_header_title {
      font-size: 27px;
    margin-top: 0px;
    margin-bottom: 3px;
}
#btnSavandNex {
    float: right;
    /*margin-right: 20px;*/
    margin-top: 10px;
}
#leadToCustomerConvert {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#btnSavandClose {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
#btnPayNow,
#btnsendEcontract, #btnsendIsPccontract {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #2ca01c;
    color: white;
}
.NewLeadbtn {
    padding: 15px 0 15px 0;
    max-width: 480px;
}

.custom_container {
    margin: 0px;
}
.cus_name_style{
        font-size:18px;
    }
.btn-top {
    margin-top: 10px;
}

.bottom_space {
    margin-bottom: 20px;
}

.PackagedisableClick {
    width: 20% !important;
}

.EquipmentdisableClick {
    width: 20% !important;
}

.ServicedisableClick {
    width: 20% !important;
}

.PaymentdisableClick {
    width: 20% !important;
}

.EmergencydisableClick {
    width: 20% !important;
}
.FinalizedisableClick {
    width: 20% !important;
}
.lead_setup_bottom_btn_container {
    width:100%;
    float:left;
    padding:0px 15px;
    margin-bottom:20px;
}
.lead_setup_partial_outer {
    width:100% !important;
}
.lead_setup_partial_outer .breadcrumbs {
    width:100%;
    float:left;
    margin-bottom:10px;
}
.lead_setup_partial_outer .bk-btn {
    padding: 6px 0px 0px 0px;
    margin-left:5px;
}
.hidden2{
    display:none;
}
.total_captured_amount{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    font-weight: bold;
}
@media (max-width:1024px) {
    .custom_container {
        width: 100%;
    }
    
}

@media (max-width:1024px) {
    .number_hide {
        display: none !important;
    }

    .breadcrumbs a {
        font-size: 14px !important;
        padding: 8px 0px 6px 10px !important;
        height:45px;
    }

        .breadcrumbs a:before, .breadcrumbs a:after {
           display:none !important;
        }

    .breadcrumbs {
        height: 46px !important;
    }
}
@media (max-width:768px) {
    .total_captured_amount {
        float: left;
        margin-top: 5px;
        margin-right: 10px;
        font-weight: bold;
        width: 100%;
        text-align: right;
    }
    #btnSavandClose {
        float: right;
        margin-top: 5px;
    }
    .breadcrumbs a {
        font-size: 12px !important;       
    }
}
@media (max-width:414px) {
    #leadToCustomerConvert {
    margin-right: 0px;
}
   .total_captured_amount {
          float: left;
    margin-right: 0px;
    width: 100%;
   }
    .number_hide {
        display: block !important;
    }

    .breadcrumbs a {
          font-size: 13px !important;
    padding: 3px 0px !important;
    color: #fff !important;
    background: #2ca01c;
    }

    .PackagedisableClick, .EquipmentdisableClick, .ServicedisableClick, .PaymentdisableClick, .EmergencydisableClick,.FinalizedisableClick {
        width: 20% !important;
    }

    .breadcrumbs {
        height: 33px !important;
    }

    .breadcrumbs a:before, .breadcrumbs a:after {
        top: 0px !important;
    }
}
