    #tblLeadsList_info {
        display: inline-block !important;
    }
    .equipment-search {
        float: left;
        padding-right: 10px;
        width: 80%;
    }
 
    .equipment-list-filter {
        float: left;
    }
    .filter_for_lead_list {
            width: auto;
    float: left;
    margin-left: 5px;
    margin-right:5px;
    }
    .filter_for_lead_list .btn-filter,
    .filter_for_lead_list .btn-filter:hover,
    .filter_for_lead_list .btn-filter:focus {
        background-color:#2ca01c;
        color:#fff !important;
    }
    .filter_for_lead_list .btn-filter .glyphicon-filter {
         color:#fff !important;
    }
    .custom_action_allign {
        text-align:center;
    }
    .fliter-list {
        display: none;
        background: #fff;
        border: 2px solid #eee;
        padding: 5px;
        width: 100%;
        float:left;
        margin-top:10px;
        border-radius:5px;
    }

    .left-items {
        left: 0;
    }

    .right-items {
        right: 0;
    }

    .equipment-list-filter button {
        border: none;
        background: transparent;
        height: 35px;
        font-size: 24px;
    }
   
    .sub-list {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

        .sub-list span {
            font-weight: 600;
            display: block;
            padding-bottom: 2px;
        }

    .sub-list-btn {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .btn-reset-filter {
        border: none;
        background: #ddd !important;
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        font-size: 14px !important;
        font-weight: 600 !important;
         -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    }
.customer_filter_li {
    width: 18%;
    float: left;
    margin: 5px 1%;
    height: 55px;
    position: relative;
}

        .customer_filter_li .dropdown-menu {
           z-index:9999999;
        }
        .customer_filter_li .filter-option {
            font-weight: normal !important;
        }
        .customer_filter_li .text {
            font-weight: normal !important;
        }
    .btn-apply-filter {
        border: none;
        background: #ddd !important;
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        float: right;
        font-size: 14px !important;
        font-weight: 600 !important;
         -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    }
.info_style_div_lead {
    width: 18px;
    float: right;
    text-align: center;
    border-radius: 4px;
    color: #2ca01c;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}
    .lead_list_searchbar {
        width:35%;
        margin-top:0px;
    }
     .lead_list_colorfull_bar {
        width:100%;
        float:left;
    }

     .lead_device_header {
         display:none;
     }
@media(max-width:768px) {
    .customer_filter_li {
        width:31%;
    }
    .lead_list_colorfull_bar {
       margin-bottom:10px;
    }
     .lead_list_searchbar {
        width:36%;
        margin-top:0px;
    }
     .lead_list_filter {
         right:101px !important;
     }
     .custom_setting_lead {
         margin-top:0px !important;
     }

}
@media(max-width:414px) {
     .customer_filter_li {
        width:98%;
    }
       .lead_device_header {
         display:unset;
     }
    .lead_list_searchbar {
        width: 69%;
        padding: 0px 0px 0px 15px;
    }
    .lead_list_search_filter {
        width: 100%;
        float: left;
        padding: 0px 0px 0px 15px;
        margin-top: 10px;
    }
   
    .lead_list_print_div {
        width:10%;
        float:left;
    }
    .print_icon_lead_list {
        padding-top:0px;
        margin-top:-8px;
    }
    .lead_list_filter {
    right: 15px !important;
}
}
@media(max-width:320px) {

}