 /*.edit-additional-contact {
        color: #2ca01c;
        font-weight: 600;
    }

        .edit-additional-contact:hover {
            color: #2ca01c !important;
            cursor: pointer !important;
        }
        .delete-smart-package-include {
    color: #2ca01c;
    text-decoration: none;
}

    .delete-smart-package-include:hover {
        color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }*/
    .lead_CustomerContactTrack_info_table {
        width:100%;
        float:left;
        padding:0px 10px 0px 0px;
    }
    .lead_CustomerContactTrack_info_table table tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
    .lead_CustomerContactTrack_info_table table tbody tr:hover {
        background-color:#f4f5f8;
    }
     .lead_CustomerContactTrack_info_table table tbody tr td div:nth-child(1) {
         display:none;
         }
     /*.contact_track_list {
         width:100%;
         float:left;
         table-layout:fixed;
     }
     .contact_track_list tbody tr td:nth-child(2) {
         word-break:break-all;
     }*/
    @media (max-width:414px) {
        .lead_CustomerContactTrack_info_table {
        padding:10px 10px 0px 0px;
    }
        .lead_CustomerContactTrack_info_table table thead {
            display:none;
        }
        .lead_CustomerContactTrack_info_table table tbody tr td {
            width:100%;
            float:left;
        }
         .lead_CustomerContactTrack_info_table table tbody tr td div:nth-child(1) {
             display:block;
             width:35%;
             float:left;
             font-weight:bold;
             text-align:left;
         }
         .lead_CustomerContactTrack_info_table table tbody tr td div:nth-child(2) {
              width:65%;
             float:left;
             text-align:left;
         }
    }
