.leads_container {
    width:100%;
    float:left;
}
.leads_header_left {
    width:20%;
    float:left;
}
.leads_header_left h2 {
    margin-top:0px;
}
.leads_header_right {
    width:80%;
    float:left;
}
    .customer-new {
        background-color: #2ca01c;
        color: #ffffff;
         -webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
        box-shadow: none;
        border-right: none;
        border: 1px solid #8d9096;
        outline: none;
        padding: 0 15px;
        position: relative;
        cursor: pointer;
        font-size: 1.4rem;
        height: 34px;
        overflow: visible;
        text-align: center;
    } 
    .AddNewBtnDiv {
        float: right;
    }
    .AddNewBtnDiv .dropdown-toggle {
    margin-left:0px !important;
    border-left:1px solid #fff !important;
}

    .AddNewBtnDiv .lead_report_btn {
        background-color:#2ca01c;
        color:#fff;
        border-color:#2ca01c;
    }
    .custom-head {
        font-family: 'Play', sans-serif;
    }
    .ListContents {
        display: none;
    }

    .displayNone {
        display: none;
    }

    .customer-btn-dropdown {
        background-color: #2ca01c;
        color: #ffffff;
         -webkit-border-radius: 0 3px 3px 0;
-moz-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
        box-shadow: none;
            border: 1px solid #2ca01c;
    }
    .fixed_header {
    position: fixed;
    width: 88.7%;
    background-color: #fff;
    z-index: 3;
    margin-top: -5px;
    padding-top: 5px;
   
}

    .custom-top {
        margin-top:50px;
    }

    #tblCustomerList_paginate{
        padding-bottom : 5px;
    }
     
     .down_arrow_custom {
         float: left;
         padding-top: 10px;
         padding-left:10px;
     }
     .dataTables_filter {
    display:none;
}
     .leads_padd_left {
            padding-left:0px !important;
        }
.leads_padd_right {
            padding-right:0px !important;
        }
    @media(max-width:1024px){
        .fixed_header{
            width:83.7%;
        }
    }
     @media(max-width:768px){
      
     .leads_header_left h2 {
         margin-bottom:5px;
     }
    
        .leads_padd_right {
            padding-right:15px !important;
        }
        
    }
      @media(max-width:414px){
           .leads_header_right .dateviewed {
         margin-top:5px;
         margin-bottom:5px;
         margin-right:0px;
     }
          .customer-new {
              border-radius:4px 0px 0px 4px !important;
              -webkit-border-radius:4px 0px 0px 4px !important;
              -moz-border-radius:4px 0px 0px 4px !important;
          }
            .custom-top {
       margin-top: 70px;
}
        .leads_header_left {
            padding:0px;
            }
        .leads_header_right {
            padding: 0px;
        }
        .AddNewBtnDiv {
              margin-top: 0px;
    float: right;
    width: 100%;
    text-align: right;
        }
        .fixed_header{
           
        }
      
        .custom-iconleads {
          width: auto;
            padding-bottom: 5px;
           
        }
        .down_arrow_custom {
            display:none;
        }
        .thead-th-style {
            padding-left:2px !important;
        }
    }
       @media(max-width:320px){
           .thead-th-style {
            padding-left:0px !important;
            font-size:12px !important;
        }
        
       }