.UndefinedCredit{
        color:yellow;
    }
    .PassCredit{
        color:green;
    }
    .FailCredit{
        color:red;
    }
    #CreditReport{
        margin-top:10px;
    }
#EFXCheckCreditSoft,
#TUCheckCreditHard {
    float: left;
    margin-right:10px;
}
 
@media (max-width:768px) {
    #EFXCheckCreditSoft,
    #TUCheckCreditHard {
        float: right;
        margin-right: 0px;
        margin-left:10px;
    }
    .package_option .col-sm-3 {
             width:50%;
             margin-bottom: 10px;
         }
         .LeadEquipmentTab {
             width:100% !important;
             /*font-size:9px;*/
         }
         .LeadEquipmentTab tbody tr td {
             padding:0px !important;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}
    .lead_setup_info_container {
        width:100%;
    }
   .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
       display:none;
   }
   .cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
       display:none;
   }
   .breadcumb_text {
    padding: 7px 10px !important;
}
}
 @media (max-width: 414px){
    #EFXCheckCreditSoft, #TUCheckCreditHard {
        float: right;
        margin-right: 0px;
        margin-left: 0px;
    }
        #EFXCheckCreditSoft {
            margin-bottom:10px;
        }
        .package_option .col-sm-3 {
            width: 100%;
        }
     .lead_setup_info_container .spp_top_space {
         padding-bottom:10px;
     }
     .custom_container {

}

.breadcumb_text {
    padding: 0px 22px !important;
}
 .lead_setup_info_container {
        width:100%;
    }
 .lead_setup_info_container .package_option .col-sm-4 {
     margin-top:10px;
 }
}
 .required{
     border-color:red;
 }
 .btnCheck{
     margin-top:10px;
 }