.dropdown_width {
    width:100px !important;
} 

.payment_info_field {
        border: 2px solid #ddd !important;
        box-shadow: 0px 0px 0px 0px #000;
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-bottom: 25px !important;
    }

    .payment_info_legend {
        width: inherit;
        padding: 3px 10px;
        border-bottom: none;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0px !important;
    }

    .payment_text {
        margin-top: 5px;
        padding: 0px;
        text-align: right;
    }


    /*Style start for radio button*/

    .payment_info_legend {
        width: inherit;
        padding: 3px 10px;
        border-bottom: none;
        font-size: 18px;
        font-weight: 600;
    }
    /*Style start for radio button*/

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 3px;
                top: 22px;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                 -webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: #00c31f;
                position: absolute;
                top: 25px;
                left: 6px;
                 -webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    /*Style end for radio button*/
    .payment-icon-image {
        width: 100px;
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        padding: 4px;
    }
     .payment-icon-image:hover {
        border: 1px solid #00c31f;
    }
    .pading_none {
        padding-left: 0px;
        padding-right: 0px;
    }