    .ServiceInfo,.serviceOptionsDiv{
        width:50%;
        float:left;
        position:relative;
    }
    .ServiceAddDiv{
        width:100%;
        float:left;
        padding:20px 0px;
    }
    .ServiceInfo .tt-menu {
        background: white;
        min-width: 320px;
        font-size: 12px;
        max-height: 230px;
        overflow-x: hidden;
        -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
        box-shadow: 0 5px 20px rgba(0,0,0,0.3);
        margin-top: 0px;
         overflow: hidden; 
        position: absolute;
        left: 0px;
        z-index: 100;
        display: none;
        width: 100%;
    }
    .ServiceInfo .tt-dataset-autocomplete {
        margin-top: -5px;
    }
    .ServiceInfo .tt-menu .tt-suggestion {
        padding:5px;
        cursor:pointer;
        position:relative;
    }
    .ServiceInfo .tt-sug-text {
        width: 90%;
        font-size: 14px;
        text-overflow: ellipsis;
    }

    .ServiceInfo .tt-suggestion u {
        text-decoration: none;
        color: #aa2121;
    }

    .ServiceInfo .tt-suggestion.active {
        background-color: #f2f2f2;
    }

    .ServiceInfo .tt-sug-desc {
        width: 100%;
        color: #999;
        padding-top: 2px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .ServiceInfo .tt-sug-type {
        position: absolute;
        right: 17px;
        top: 11px;
        color: #999;
        font-style: italic;
    }


    .service_info_list {
        width:100%;
        float:left;
        margin-bottom:15px;
    }
    .service_info_list .service_info_list_label {
        width:20%;
        float:left;
        text-align:left;
        font-weight:bold;
        font-size:13px;
        color: #615b5b;
        padding:8px;
        padding-left: 0px;
    }
    .service_info_list .service_info_list_field {
       width:80%;
       float:left;
       position:relative;

    }
    #AddServiceWithOptions {
        float:right;
        background-color:#2ca01c;
        color:#fff;
        margin-bottom:10px;
    }
        .show_service_option_container {
        width:100%;
        float:left;
        padding-left: 30px;
    }
    .show_service_option_container .ServiceOption {
        width:100%;
        float:left;
        margin-bottom:15px;
    }
    .ServiceOption div:nth-child(1) {
        width:20%;
        float:left;
        text-align:left;
        font-weight:bold;
        font-size:13px;
        color: #615b5b;
        padding:8px;
    }
    .ServiceOption div:nth-child(2) {
       width:80%;
       float:left;
       position:relative;
    }
    .SSPN_table_container {
        width:100%;
        float:left;
    }

    .errorMsg{
        color: red;
        font-size: 11px;
        float: right;
    }

    @media (max-width:768px) {
        .service_info_list .service_info_list_label,
        .ServiceOption div:nth-child(1) {
        width:45%;
    }
    .service_info_list .service_info_list_field,
    .ServiceOption div:nth-child(2) {
       width:55%;
    }
    }
    @media (max-width:414px) {
        .ServiceInfo, .serviceOptionsDiv {
            width:100%;
        }
        .service_info_list .service_info_list_label,
        .ServiceOption div:nth-child(1) {
        width:38%;
    }
    .service_info_list .service_info_list_field,
    .ServiceOption div:nth-child(2) {
       width:62%;
    }
    .show_service_option_container {
        padding-left:0px;
    }
     .SSPN_table_container {
        overflow-x:scroll;
    }
     .SSPN_table_container .Setup-Equipments-Table {
         width:768px;
         float:left;
     }
        /* width */

.SSPN_table_container::-webkit-scrollbar  {
  width: 10px;
  height:5px;
}

/* Track */

.SSPN_table_container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */

.SSPN_table_container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */

.SSPN_table_container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
    }