@{
    Layout = null;
}

@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/PackageSettings/LoadPacakageOptionalSettingsPartial.css" rel="stylesheet" />
<script>

    $(document).ready(function(){
                        $(".LoaderWorkingDiv").hide();

        $(".RestrictedZipCodeLoad").load("/CityTax/LoadRestrictedZipCode?pageno=1&pagesize=20");

    })

</script>

<div class="agreement_qstn_container container-fluid">
    <div class="agreement_qstn_top">
        <div class="credit_score_grade_header">
            @Localize.T("Restricted Zip Code")
        </div>
        @*<button class="btn add-package-optional" id="addCreditScoreGrade" type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
            </button>*@
    </div>



    <div class="RestrictedZipCodeLoad">

    </div>
</div>

