.different_contact_block {
    vertical-align: middle;
    margin-top: 15px;
}

#checkSitePhone {
    float: left;
}

#checkSecondaryPhone {
    float: left;
}

.cus_name_style {
    font-size: 18px;
}

 .massage-dob-lead {
        display: none;
        color: red;
        position: absolute;
        font-weight: 700;
        font-size: 75%;
    }
 .Customerdetail_addresss
 {
     font-size:14px;
 }
 .displayNone{
     display:none;
 }
.home_owner_req_his {
    font-size: 17px;
    color: #2ca01c;
    margin-left: 3px;
    cursor: pointer;
}
.lead_acc_info_container {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
     -webkit-border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px;
}
.lead_acc_info_container .span-style {
    font-weight:bold;
}
.lead_acc_info_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
     -webkit-border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}

.lead_acc_info_details_block {
    width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 10px 15px;
    }
#EmailAddress {
    border-radius:4px 0px 0px 4px;
}
.lead_acc_info_details_block .select2-container {
    z-index:unset !important;
}
.lead_acc_info_details_block_map {
     width: 100%;
    padding: 0px 5px 5px 5px;
}
#btnVerifyOnly {
      float: right;
    margin-top: 13px;
    background-color:#2ca01c;
    color:#fff;
    margin-left:10px;
}

#btnVerifyOnly2 {
    float: right;
    margin-top: 13px;
    background-color: #2ca01c;
    color: #fff;
}
.lead_acc_info_margin_top {
    margin-top: 10px;
}
.lead_detail_bottom_btn {
    width:100%;
    float:left;
    padding-bottom:20px;
}
.btn-verify {
    color: white;
    background-color: #2ca01c;
    float: initial;
}

.btn-grey {
    background-color: gray;
    color: white;
    float: initial;
    border-color: gray;
}

.SaveCancelDiv {
    padding-left: 228px;
}

fieldset.custom-fieldset {
    border: 2px solid #ddd !important;
    /*margin: 0 0 1.5em 0 !important;*/
    box-shadow: 0px 0px 0px 0px #000;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

legend.custom-legend-border {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.lead-detail {
    font-size: 2.4rem;
    font-weight: 500;
}

.custom-fieldset {
   width:100%;
   float:left;
}

.LeadVerification-table {
    width: 100%;
    font-size: 13px;
}
.button_for_map {
      width: 100%;
    text-align: right;
    display: table;
    padding-top: 10px;
    height:60px;
}
.tr-title {
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: 600;
    width:10%;
}
.button_map_position {
    width: auto;
    float: right;
    padding-left: 9px;
}
.lead_general_info {
    width:45%;
    float:left;
}
.lead_address_info {
    width:45%;
    float:left;
}
.lead_edit_button {
    width:10%;
    float:left;
}
.lead_info_row {
    width:100%;
    float:left;
    margin-top:5px;
}
.lead_info_title {
    width:40%;
    float:left;
}
.lead_info_data {
    width:60%;
    float:left;
}
.lead_varify_address {
    font-size:15px;
    font-style:italic;
}
#btnEditAccInfo {
    float:right;
}
.lvp_custom_style div {
    width:58%;
    float:left;
}
.lvp_custom_style #ExistingPanel {
    width:42% !important;
    float:left;
    padding-left:10px;
}
 #btnDeleteLead,
 #btnDeleteLead:hover,
 #btnDeleteLead:focus {
    margin-top: 13px;
    margin-right: 10px;
    background-color:#d9534f !important;
 }
 #EsistingPanel{
      
  }
 .width-36p{
        width: 36%;
    float: left;
  }
 #btnDeleteLead:hover,
  #btnDeleteLead:focus {
        color: #fff;
    background-color: #d9534f !important;
    border-color: #d9534f !important;
  }
 .lvp_style_custom .text-custom {
     margin-left:10px;
 }
 .lvp_style_custom input {
     width:100%;
     margin-left:10px;
 }
#AddNotes {
    margin-top: 15px;
    background-color: green;
    color: white;
}
#CreditScore table {
    width: 100%;
    float: left;
    table-layout: fixed;
} 
       #CreditScore table thead tr {
           border-bottom: 2px solid #d4d7dc;
       }
        #CreditScore table tbody tr {
           border-bottom: 1px solid #d4d7dc;
       }
       
       #CreditScore table thead tr th,
       #CreditScore table tbody tr td {
           padding:10px;
       }
       #CreditRecordpdf {
           word-break:break-all;
       }
@media(max-width:1300px) {
    .tr-title {
        /*width:17%;*/
    }
}
@media(max-width:1300px) {
    .tr-title {
        /*width:32%;*/
    }
}
@media(max-width:768px) {
    .margin_position {
       /*margin-top: 50px;*/
    }
}
@media(max-width:414px) {
    .custom-fieldset {
        padding-top:10px;
    }
    .lead_verification_partial_container .container-fluid {
        padding: 5px 10px;
    }
    .lvp_custom_style #ExistingPanel,
    .lvp_custom_style div {
        width:100% !important;
        padding-left:0px;
    }
    .lvp_style_custom {
        width:100%;
    }
     .lvp_style_custom input {
     margin-left:0px;
 }
     .lvp_style_custom .text-custom {
     margin-left:0px;
 }
    .lvp_custom_style {
        display:table;
        width:100%;
        float:left;
    }
    .margin_position {
       margin-top: 50px;
    }
    .button_for_map {
    margin-top: -30px;
}
}
@media(max-width:375px) {
    .margin_position {
       margin-top: 50px;
    }
}
@media(max-width:536px) {
    .button_map_position {
        width:50%;
        float:left;
        padding: 5px;
    }
    .btn-verify {
        width:100%;
    }
    .btn-grey {
       width:100%;
    }
}