 .padding-right-5{
        padding-right:10px;
    }
    .div-header{
        border-bottom:1px solid #ccc;
        /*padding-bottom:10px;*/
    }
  
   .OutStandingTransections {
    padding-top: 15px;
}
    .OutStandingTransectionsTitle {
    /*padding-bottom: 10px;*/
    padding-top: 10px;
}
    .OutStandingTransectionsTitle span{
        font-size:15px;
        font-weight:bold;
    }
    .width-100p {
    float: left;
    width: 100%;
}
    .TransactionFilterDiv{
       text-align: center;
        width: 100%;
        height: 34px;
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        padding-top: 1px;
        background-color: white;
    }

    .Transactionlist{
        /*padding-top:30px;*/
    }
     .Transactionlist #tblTransactions thead tr th {
         padding-top:10px;
         padding-bottom:10px;
         padding-left:10px;
     }
    /*Table Design Starts*/
    table.dataTable thead > tr > th:first-child{
        width:30px !important;
    }
    .cus-padding-top10p {
        padding-top: 10px;
    }

    .black-border {
        border: 1px solid #ccc;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .background-color-ffffff {
        background-color: white;
    }

    .background-color-ffffff:focus {
        background-color: #ffffff !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .customer-dropdown-ul-style {
        border: 1px solid #666 !important;
        font-size: 13px;
         -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
        margin-top: 4px !important;
        width: inherit;
        padding: 4px 0px 4px 0px !important;
    }

    .dropallign {
        padding: 7px 13px;
    }

    .btn-recive-payment {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
        font-weight: 600;
        margin-left: 27px;
    }

    #tblTransactions {
        width: 100%;
    }

    #tblTransactions_paginate {
        float: right;
    }

    .cus-anchor {
        color: #2ca01c !important;
    }
    /*Table Design Ends*/
    .table-calculation-footer{
        padding-top:30px;
        float:right;
        width:300px;
    }
    .btn-clear-payment-div{
        float:right;
        padding-top:20px;
    }
    .text-right{
        text-align:right;
    }
    .btn-clear-payment{
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .payment_info_field {
        width:100%;
        float:left;
        border: 2px solid #ddd !important;
        box-shadow: 0px 0px 0px 0px #000;
      padding:10px 0px;
    }
   .payment_info_field .width-50p,
   .payment_info_field .width-100p {
       padding:0px 10px;
   }
    .PaymentMethodForms{
        display:none;
    }
    .Edit_Payment_Method{
        margin-top: 10px;
        background-color: #2ca01c; 
        border: 1px solid #ccc;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
     }
    .payment-icon-image {
        width: 100px;
        border: 1px solid #ccc;
         -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
        padding: 4px;
    }
     .payment-icon-image:hover {
        border: 1px solid #00c31f;
    }

      .receive_payment_container {
            width:100%;
           overflow-y:scroll;
           height:702px;
           overflow-x:hidden;
       }
      .receive_payment_method_div {
          position: relative;
          background: white;
          z-index: 9;
          width: 480px;
         float:left;
      }
     .receive_payment_top {
    padding: 10px 15px;
    background-color: #f4f5f8;
    display: table;
    width: 100%;
     }
      .receive_payment_bottom {
    padding: 0px 15px;
    display: table;
    width: 100%;
  
     }
       .text-custom {
        font-size:13px;
        font-weight: unset;
    }
       .payment_text {
        padding-left:0px;
        padding-right:0px;
        text-align:left;
        padding-top:5px;
    }
       .right_padding_zero {
           padding-right:0px;
       }
      .OutStandingTransectionsOptionsDiv {
    margin: -5px 0px 10px 0px;
}
      #tblTransactions > thead > tr > th {
          background-color:#fff;
      }
      .thead-th-style:hover {
         background-color:#f4f5f8 !important;
    }
      .table-body-td-style:hover {
         background-color:#f4f5f8 !important;
    }
    @media (max-width:768px) {
        .receive_payment_top .width-100p:nth-child(1) {
            display:flex;
            flex-direction:row-reverse;
        }
        .receive_payment_top .width-100p:nth-child(1) .balance-info-40p {
            display:flex;
            flex-direction:column-reverse;
            text-align: left;
        }
        .receive_payment_top .width-100p:nth-child(1) .balance-info-40p .width-50p {
            width:100%;
            float:left;
        }
        .receive_payment_top .width-100p:nth-child(1) .invoice-info-left-60p .width-40p {
            width:50%;
        }
        .receive_payment_top .width-100p:nth-child(2) .width-60p {
            width:100%;
        }
        .receive_payment_top .width-100p:nth-child(2) .width-60p .width-25p {
            width:33%;
        }
        .receive_payment_top .width-100p:nth-child(2) .width-60p .width-25p:nth-child(3) {
            padding-right:0px;
        }
        .receive_payment_top .width-100p:nth-child(2) .width-20p {
            width:33%;
            padding-right: 10px;
            padding-top: 0px;
        }
         .receive_payment_top .width-100p:nth-child(2) {
            display:flex;
        }
    }
    @media (max-width:414px) {
        .receive_payment_top .width-100p:nth-child(1) {
            flex-direction:column-reverse;
        }
        .receive_payment_top .width-100p:nth-child(1) .balance-info-40p,
        .receive_payment_top .width-100p:nth-child(1) .invoice-info-left-60p {
            width:100%;
        }
        .receive_payment_top .width-100p:nth-child(1) .invoice-info-left-60p .width-40p,
        .receive_payment_top .width-100p:nth-child(2) .width-60p .width-25p {
            width: 100%;
            padding-right: 0px;
            margin-bottom: 10px;
        }
        .receive_payment_top .width-100p:nth-child(2) .width-20p {
            width: 100%;
            padding-right: 0px;
            padding-top: 0px;
            padding-bottom: 10px;
        }
        .receive_payment_top .width-100p:nth-child(2),
        .receive_payment_top .width-100p:nth-child(2) .width-60p {
            display:flex;
            flex-direction:column-reverse;
        }
        .payment_info_field {
            padding-left:0px !important;
            padding-right:0px !important;
        }
        .payment_info_field .right_padding_zero {
            padding-right:15px;
        }
        .Transactionlist {
            overflow-x:scroll !important;
        }
        .receive_payment_bottom {
            padding-bottom:10px;
        }
        .table-calculation-footer {
            padding-top:0px;
        }
        #tblTransactions {
            table-layout:fixed;
        }
        .payment_method_details .width-50p,
        .payment_method_details .width-50p .width-50p   {
            width:100%;
        }
        .payment_info_field .row {
            margin:0px;
        }
    }