    .cus-padding-top10p {
        padding-top: 10px;
    }

    .black-border {
        border: 1px solid #ccc;
         -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .background-color-ffffff {
        background-color: white;
    }

    .background-color-ffffff:focus {
        background-color: #ffffff !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .customer-dropdown-ul-style {
        border: 1px solid #666 !important;
        font-size: 13px;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
        margin-top: 4px !important;
        width: inherit;
        padding: 4px 0px 4px 0px !important;
    }

    .dropallign {
        padding: 7px 13px;
    }

    .btn-recive-payment {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
        font-weight: 600;
        margin-left: 27px;
    }

    #tblTransactions {
        width: 100%;
        float: left;
        table-layout: fixed;
    }
        #tblTransactions .label-cbx {
            margin-bottom:-5px;
        }
        #tblTransactions thead tr th:nth-child(1) {
            width: 175px;
        }
      #tblTransactions thead tr th:nth-child(3) {
        width:130px;
    }
    #tblTransactions_paginate {
        float: right;
    }

    .cus-anchor {
        color: #2ca01c !important;
    }
    .funding_table {
        width:100%;
        float:left;
        margin-bottom:20px;
        margin-top:10px;
    }
    .funding_table > table > thead > tr > th {
        padding:10px;
        font-weight:normal;
    }
     .funding_table > table > thead > tr > th:nth-child(1) {
       width:1px;
    }
      .funding_table > table > thead > tr > th:nth-child(5) {
       width:13%;
    }
    .funding_table > table > thead > tr > th:hover, .funding_table > table > tbody > tr:hover {
       background-color: #f4f5f8 !important;
       cursor:pointer;
    }
    .funding_table > table > tbody > tr > .table-body-td-style {
       padding: 10px;
      
    }
    .funding_table table tbody tr td:nth-child(2) {
         position: relative;
    }
     .funding_table > table > tbody > tr > td > div > .label-cbx .checkbox {
        top:-6px;
    }
    .funding_list_table tbody > tr > td > div > .label-cbx .checkbox {
        top:0px !important;
    }
    .expense_list_table tbody > tr > td > div > .label-cbx .checkbox {
        top:0px !important;
        left:10px;
    }
     .funding_device_header {
        display:none;
    }
      #tblTransactions > tbody > tr:nth-child(even) {background-color:#f8f8f8;}
      
      .show_all_trans_filter {
        width:45%;
        float:left;
        padding: 10px 0px;
    }

.more_info {
    position: relative;
}

    .more_info .title_funding {
        position: absolute;
        top: 20px;
        padding: 4px;
        right: 0;
        white-space: nowrap;
        border: 1px solid #ccc;
        background-color: #fff;
    }

 #myFundingTab > li > a {
        background-color: transparent !important;
    }

    #myFundingTab > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    #myFundingTab > li {
        border: 1px solid #ccc !important;
    }

    #myFundingTab > li.active {
        background-color: #2ca01c !important;
    }

    #myFundingTab > li {
        border: 1px solid #ccc !important;
    }

    #myFundingTab > li.active > a {
        color: white !important;
    }
    .all_invoices_partial_container {
        margin-top: 10px;
    }
    .show_all_transaction_searchbar {
           width: 70%;
    float: left;
    position: relative;
    display: table;
    border-collapse: separate;
    padding: 10px 0px;
    }
    .show_all_transaction_searchbar .form-control {
        width:25%;
        float:left;
        border-radius:unset;
        border-right:0px;
    }
    .show_all_transaction_other_option {
    width: auto;
    float: right;
    padding: 15px 0px;
    font-size: 17px;
}
    .show_all_transaction_other_option span:nth-child(1) {
        margin-right:5px;
    }

 .funding_list_table thead tr th div:nth-child(1),
 .expense_list_table thead tr th div:nth-child(1) {
        width: 94%;
float: left;
padding-top: 2px;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
    }


    .funding_list_table thead tr th div:nth-child(2),
    .expense_list_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

     .funding_list_table thead tr th div:nth-child(2) i,
     .expense_list_table thead tr th div:nth-child(2) i  {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       

        .funding_list_table thead tr th div:nth-child(2) i:nth-child(2),
        .expense_list_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
        .funding_list_table .checkbox,
         .expense_list_table .checkbox{
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.funding_list_table .date_head {
    width: 114px !important;
}

.funding_list_table .note_head {
    width: 15% !important;
}

.funding_list_table .act_head {
    width: 70px !important;
}

.funding_list_table .desc_head {
    width: 23% !important;
}

.funding_list_table .inv_no_head,
.funding_list_table .recv_by_head {
    width: 10% !important;
}

.funding_list_table .funding_device_info {
    height: unset !important;
    overflow: unset !important;
    text-overflow: unset !important;
    white-space: unset !important;
}
.show_all_transaction_searchbar .filterinput {
    width: 100% !important;
}
        .show_all_transaction_searchbar .shaTrans_srch_text {
            width:25%;
            float:left;
        }
          .AddExpenseButton {
        background-color:#2ca01c;
        color:#fff;
    }
              .expense_list_add_btn {
       width: 100%;
    float: left;
    text-align: right;
    padding-bottom: 10px;
    }
@media(width:1024px) {
     #tblTransactions > thead > tr > th {
        text-align:center;
    }
}
@media(max-width:768px) {
    .expense_list_add_btn {
        padding-top:10px;
    }
    .show_all_transaction_other_option {
        padding:0px;
    }
    .show_all_transaction_searchbar .form-control {
        width:50%;
    }
     .show_all_transaction_searchbar .shaTrans_srch_text {
            width:50%;
            float:left;
        }
     .show_all_transaction_searchbar {
         width:100%;
     }
    .funding_table > table > tbody > tr > .table-body-td-style {
        padding:3px 10px;
    }
   
    .funding_hide_for_device {
        display:none;
    }
    .funding_device_header {
        display:block;
        width:40%;
        float:left;
        font-weight:600;
    }
    .funding_device_header span {
        float:right;
        margin-right:5px;
    }
    .funding_device_info {
        width:60%;
        float:left;
    }

    .funding_device_row {
         width:100%;
        float:left;
    }
}



    @media (max-width:414px) {
        .show_all_trans_filter {
        width:100%;
    }
        #myInvoicesTab > li {
            width:33.33%;
            text-align:center;
        }
        #myInvoicesTab > li:nth-child(4) {
            text-align:right;
        }
        .show_all_transaction_searchbar {
            display:block;
        }
        .show_all_transaction_searchbar .form-control {
            border-right:1px solid #ccc;
        }
        .show_all_transaction_searchbar #PayrollStartDate .form-control,
        .show_all_transaction_searchbar #PayrollEndDate .form-control,
        .show_all_transaction_searchbar #PTO .form-control {
            width:100%;
            float:left;
        }
        .show_all_transaction_searchbar span .form-control {
            width:38%;
        }
        .show_all_transaction_searchbar .filterinput {
            width:100% !important;
        }
        .show_all_transaction_searchbar .shaTrans_srch_text {
            width:100%;
            float:left;
        }
        .show_all_transaction_searchbar .time_clock_filter_btn {
            width:12%;
        }
        .show_all_transaction_searchbar .time_clock_filter_btn button {
            width:100%;
        }
        
    }
    .description_tooltip_div {
       display:none;
        position: absolute;
        background-color: red;
        text-align: center;
        font-size: 12px;
        color: #fff;
        width: 210px;
        left: 0px;
     
        padding: 6px;
        border: 1px solid #000;
        border-radius: 4px;
        z-index: 1;
    }

        .description_tooltip_div:before {
            left: 25px;
            border-width: 6px;
            transform: rotate(180deg);
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: #000 transparent;
            border-bottom: 0;
            top: -6px;
        }
        .funding_device_info{
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    .description_tooltip_div {
        position: absolute;
    }

        .description_info_hover:hover .description_tooltip_div {
            display: block;
        }


