@{
    ViewBag.Title = "FundRevenue";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model List<HS.Entities.Fund>

<link href="~/Content/Css/RevenuePartial/RevenuePartial.css" rel="stylesheet" />
<div class="">
    <table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><span class="revenue-style @(item.Revenue < 0 ?"color-red":"")">@Localize.T("$")@item.Revenue</span></td>
                </tr>
            }
            
        </tbody>
    </table>
</div>