 .add-invoice-container #mceu_15-body,
    .add-invoice-container #mceu_22-body,
    .add-invoice-container #mceu_29-body,
    .add-invoice-container .mce-menubar,
    .add-invoice-container #mceu_54-body,
    .add-invoice-container #mceu_61-body {
        display: none;
    }
.disabled_tinymce {
    position: relative;
    cursor: not-allowed;
}
.disabled_tinymce_bg {
    width: 100%;
    float: left;
    height: 102px;
    background-color: #efefef;
    z-index: 999999;
    position: absolute;
    opacity: 0.5;
}
    .disabled_tinymce body {
        background-color: gray !important;
    }

   
.PoContentScroll {
    overflow-y: scroll;
}
    #SaveBillFile {
        /*margin-left: 18px;*/
        margin-top: 12px;
        margin-bottom: 10px;
    }
    
    .add_vendor_bill_container {
        width:100%;
        float:left;
        overflow-y:auto;
    }
    .deleteDoc.cursor-pointer img {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
}
.txtProductQuantityReceived {
    background-color: #f0f0ef;
}
#Bill_file_description {
    width: 100%;
    height: 200px;
}
    .chooseFilebtn {
            margin-top: 0px;
    background-color: #58595B !important;
    width: 170px;
    border-radius: 0px;
    color: white;
    }
    .chooseFilebtn:hover {
        background-color: #58595B !important;
    }
    .apo_image_add {
        width:170px;
        height:auto;
        position:relative;
        margin-bottom: 10px;
    }
    .apo_image_add .fileborder {
        width:170px;
        height:170px;
        position:relative;
    }
    .apo_image_add .fileborder img {
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        max-width:100%;
        max-height:100%;
        margin:auto;
    }
    .apo_inventory .tt-suggestion {
        height:70px;
    }
    .apo_inventory .tt-sug-type {
    position: absolute;
    left: 15px;
    top: 50px;
    color: #999;
    font-style: italic;
}
.apo_inventory .tt-eq-price {
    position: absolute;
    right: 10px;
}
.apo_inventory .tt_sug_manufac {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

    
.pAmount {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.pAmount .input-group-prepend { 
    width:30%;
    float:left;
}
    
.pAmount .input-group-text { 
    padding-top:5px;
    height: 32px;
    color: #495057;
    text-align: center; 
    background-color: #e9ecef;
    border: 1px solid #ced4da; 
}
.pAmount > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pAmount input {
        position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 70%;
    float: left;
    margin-bottom: 0;
}
.CustomerInvoiceTab tbody tr input, .CustomerInvoiceTab tbody tr .pAmount {
    display: none;
}
.CustomerInvoiceTab tbody tr.focusedItem input{
    border: 1px solid #2ca01c;
}
.apo_table_style tbody tr.focusedItem input {
    border: 1px solid #dadada;
}
.CustomerInvoiceTab tbody tr.focusedItem .hover_green_style input {
    border: 1px solid #2ca01c !important;
}
.CustomerInvoiceTab tbody tr.focusedItem input, .CustomerInvoiceTab tbody tr.focusedItem .pAmount{
    display: block; 
}

.CustomerInvoiceTab tbody tr span {
    display: block;
}


.CustomerInvoiceTab tbody tr.focusedItem span {
    display: none;
}

.CustomerInvoiceTab tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}

.tableActions {
    text-align: center;
}

.CustomerInvoiceTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position:relative;
}

.CustomerInvoiceTab thead tr th {
   text-align: left;
    line-height: 17px;
    vertical-align: middle;
    /* background-color: #ddd; */
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding:5px;
}

.CustomerInvoiceTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}
.CustomerInvoiceTab thead tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}

.CustomerInvoiceTab tbody tr td:hover {
    cursor: pointer;
}
.RequestOrderFilterBtn_container {
     width:100%;
    float:left;
}
.RequestOrderFilterBtn {
   float:right;
}
.request_order_inner {
    width:100%;
    float:left;
    overflow-x:hidden;
    overflow-y:auto;
}
.request_order_footer {
    width: 100%;
    float: left;
    text-align: right;
    padding: 8px 15px;
    border-top: 1px solid #ccc;
}
   .request_order_footer .req_order_vendor {
       width:200px;
       float:right;
       margin-right:-2px;
       text-align: left;
   }
    .request_order_footer .input-group {
       width:250px;
       float:right;
   }
   
    @media (max-width:414px) {
        .request_order_footer {
       display: flex;
        flex-direction: column-reverse;
        }
         .request_order_footer .req_order_vendor,
         .request_order_footer .input-group  {
       width:100%;
       margin-right:0px;
       float:left;
   }
        
    
    }

       