@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .all_returns_container {
        width:100%;
        float:left;
    }
    .all_returns_search_div {
        width:100%;
        float:left;
        padding: 10px 0px;
    }
   .all_returns_search_div .input-group {
       width:40% !important;
       float:left;
   }
   .all_returns_search_div .mailandprintandupload {
       float:right;
   }
   .all_returns_container .AllReturnsLoadDiv {
       width:100%;
       float:left;
   }
    .ReturnedPaymentFilters{
        width:150px;
    }
    #ReturnedPaymentFilter{
        width:150px;
    }
    @@media(max-width:414px) {
        .all_returns_search_div .input-group {
           width:100% !important;
           margin-bottom:10px;
       }
   }

</style>

<script>
    var StartDate = '@ViewBag.StartDate';
    var EndDate = '@ViewBag.EndDate';
    

    var LoadAllReturns = function (PageNo, OrderBy) {
        if (typeof (PageNo) == "undefined") {
            PageNo = 1;
        }
        if (typeof (OrderBy) == "undefined") {
            OrderBy = "";
        }
      
        var SearchText = $(".AllReturnsSearch").val();
        var PaymentTypeFilter = $("#ReturnedPaymentFilter").val();
        var Url = String.format(domainurl + "/Sales/AllReturnsByFilter/?PageNo={0}&Order={1}&SearchText={2}&StartDate={3}&EndDate={4}&PaymentType={5}", PageNo, OrderBy, SearchText, StartDate, EndDate, PaymentTypeFilter);
        var redirectUrl = Url.replace(" ", "");
        console.log(redirectUrl);
        $(".AllReturnsLoadDiv").html(TabsLoaderText);
        $(".AllReturnsLoadDiv").load(redirectUrl);
    }

 
    $(document).ready(function () {
        LoadAllReturns(1);
        $("#btnDeclinedSearch").click(function () {
            LoadAllReturns(1);
        });
     
        $(".AllReturnsSearch").keydown(function (e) {
            if (e.which == 13) {
                LoadAllReturns(1);
            }
        });



     
    });
</script>
<div class="all_returns_container">
    <div class="all_returns_search_div">
        <div class="input-group add-on">
            <input type="text" @*id="AllReturnsSearch"*@ placeholder="Search" class="form-control AllReturnsSearchTxt AllReturnsSearch" />
            <div class="input-group-btn">
                @Html.DropDownList("ReturnedPaymentFilter", (List<SelectListItem>)ViewBag.ReturnedPaymentFilters, new { @class = "form-control ReturnedPaymentFilters" })
                <button class="btn green_button" id="btnDeclinedSearch" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <div class="mailandprintandupload">
            <span class="InvSendMail">
                <a title="SendMail" class="btn green_button SendMailSelectedInvoice" href="javascript:void(0);"><i class="fa fa-mail-forward" aria-hidden="true"></i></a>
            </span>
            <span class="InvPrintforallreturns">
                <a title="Print" class="btn green_button InvPrintforallachcc" href="javascript:void(0);"><i class="fa fa-print" aria-hidden="true"></i></a>
            </span>
            <button onclick="OpenRightToLeftModal(domainurl + '/sales/uploaddeclinereport')" class="btn all_returns_upload green_button"><i class="glyphicon glyphicon-upload"></i> Upload</button>

        </div>

    </div>
    <div class="AllReturnsLoadDiv">

    </div>
</div>