@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@Styles.Render("~/styles/CalendarSetupDetails")
<script src="~/Content/Js/KnowledgeBase/KnowledgebaseSetting.js"></script>
<div class="container-fluid fluid-style setup_details_container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="KnowledgebaseSettingsTab active"><a data-target="#KnowledgebaseSettingsTab" data-toggle="tab">@Localize.T("Knowledgebase Settings")</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="KnowledgebaseSettingsTab">
                    <div class="KnowledgebaseSettings"></div>
                </div>
            </div>
        </div>
    </div>
</div>