@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig;
@using DateTimeExt = HS.Framework.DateTimeExtension
@model List<HS.Entities.KnowledgebaseAccountability>
<style>
    .notification_item a {
        padding: unset !important;
    }

    .no_notification_div {
        width: 100%;
        float: left;
        text-align: center;
        padding: 18px;
        line-height: 14px;
    }

        .no_notification_div i {
            font-size: 35px !important;
        }

        .no_notification_div label {
            margin-bottom: 0px;
            font-size: 12px;
        }
</style>
<script>
    @*var NotificationCount = "@Model.Count";
    if (NotificationCount == "0") {
        $(".notification_counter").text('0');
        $(".notification_counter").addClass("hidden");
    }else{
        $(".notification_counter").text(NotificationCount);
        $(".notification_counter").removeClass("hidden");
    }*@
</script>
<div class="arrow_top_settings"> </div>
<div class="col-md-12 not_setting_dv">
    <div><b>Assigned Articles</b></div>
</div>
<div class="LoadNotification_div">

    @foreach (var item in Model)
    {
        string fullurl = string.Concat(AppConfig.SiteDomain, "/knowledgebase/Id=" + item.KnowledgebaseId);
        <div class="notification_item">
            <div><i class="fa fa-circle-o" style="font-size: 17px;" aria-hidden="true" title="Not Completed"></i><a class="cus-anchor" onclick="ShowKnArticle('@fullurl')">@Html.Raw(item.Title)</a></div>
            <div>@item.AssignedDate.ToString("M/d/yyyy")</div>
        </div>
    }

</div>
