@{
    Layout = null;
}
@Styles.Render("~/styles/GetInvoice")
<script src="~/Content/Jquery-ui/jquery.js"></script>
<script>
    function printFrame(id) {
        var frm = document.getElementById(id).contentWindow;
        frm.focus();// focus on contentWindow is needed on some ie versions
        frm.print();
        return false;
    }
    var InvioceID = '@ViewBag.invoiceid';
    var GetInvInfoById = function() {
        var url = "/Sales/AllInvoiceData";
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: JSON.stringify({ InvId: InvioceID }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                console.log(data.filePath);
                $("#iframePdf").attr('src', "/" + data.filePath);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        GetInvInfoById();
    });
</script>
<div class="CloseButtonDiv" onclick="parent.ClosePopup()">
    <img title="Close" src="~/Content/Icons/cross_update.png">
</div>
<div class="HeadContents">
    <h4>Print preview</h4>
    <span>To print, right-click the preview and select Print. Or, click the Print icon if you see one below.</span>

</div>
<div class="bodyConentsDiv">
    <iframe class="pdf-styles" id="iframePdf" src=""></iframe>
</div>
<div class="footerContents">
    <button onclick="parent.ClosePopup()" class="btnCancel">Cancel</button>
    <button onclick="printFrame('iframePdf')" class="btnPrint">Print</button>
</div>

