@{
    Layout = null;
}
@model HS.Entities.POListModel
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#UnResolved").html(TabsLoaderText);
        $("#UnResolved").load(domainurl + "/Sales/UnResolvedRecurringBillingMismatch");

        $(".UnResolved").click(function () {
            $("#UnResolved").html(TabsLoaderText);
            $("#UnResolved").load(domainurl + "/Sales/UnResolvedRecurringBillingMismatch");
        });
        $(".Resolved").click(function () {
            $("#Resolved").html(TabsLoaderText);
            $("#Resolved").load(domainurl + "/Sales/ResolvedRecurringBillingMismatch");
        });

    });
</script>

<div class="Report-Tabs recur_billing_mismatch_container">
    <div class="nav-detail-contents">
        <ul class="nav nav-tabs reports-tabs" id="myTab">
            <li class="UnResolved active">
                <a data-target="#UnResolved" data-toggle="tab">@Localize.T("Un Resolved")</a>
            </li>

            <li class="Resolved">
                <a data-target="#Resolved" data-toggle="tab">@Localize.T("Resolved")</a>
            </li>
        </ul>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="UnResolved">

            </div>
            <div class="tab-pane" id="Resolved">

            </div>
        </div>
    </div>
</div>

