.header-title {
    width: 50%;
    float: left;
}
.Setup-Equipments-Table tbody tr.BottomTotalTr td {
    border-bottom: unset;
    border-left: unset;
    border-right: unset;
}
.retail-total {
    background-color: #f4f5f8;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.sub-total {
    background-color: #f4f5f8;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
/*.retail_price, .retail-total {
    text-decoration: line-through;
}*/
.custom-title-span {
    line-height: 50px;
    font-size: 2rem;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.div-body-contents {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.balance-info {
    width: 30%;
    float: right;
    text-align: center;
}

.invoice-info-left-70p {
    float: left;
    width: 70%;
}

.width-30p {
    float: left;
    width: 30%;
    padding-right: 30px;
}

.width-25p {
    float: left;
    width: 25%;
    padding-right: 10px;
}

.span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.amount-span-style {
   font-size: 3.8rem;
    height: 3.8rem;
}

.table-info {
    padding-left: 50px;
    padding-right: 50px;
}

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 15px;
}

.table-body-td-style:hover {
    background-color: #ddd;
    cursor: pointer;
}

.border-right-2pxddd {
    border-right: 2px solid #ddd;
}

.tr-style:hover {
    background-color: #ffffff;
}

.display-none {
    display: none;
}

.LeadEquipmentTab {
    width: 100%;
    margin-top: 15px;
}
 
    .LeadEquipmentTab tbody tr span
    ,.LeadEquipmentTab tbody tr input[type="checkbox"] {
        display: block;
    }


    .LeadEquipmentTab tbody tr.focusedItem span {
        display: none;
    }

    .LeadEquipmentTab tbody tr td i.fa {
        cursor: pointer;
        font-size: 18px;
        /*padding-top: 10px;*/
    }

.tableActions {
    text-align: center;
}

.LeadEquipmentTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position:relative;
}
    .SEP_table_container .tt-menu {
        width:100%;
    }
    .LeadEquipmentTab tbody tr td:nth-child(3),
    .LeadEquipmentTab tbody tr td:nth-child(4),
    .LeadEquipmentTab tbody tr td:nth-child(5),
    .LeadEquipmentTab tbody tr td:nth-child(6) {
        text-align: right;
    }

.LeadEquipmentTab thead tr th {
    text-align: center;
    vertical-align: middle;
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding:5px 0px 5px 5px;
    /*text-transform: uppercase;*/
    font-weight: 600;
}
/*Next 3 blocks need to change*/
.LeadEquipmentTab tbody tr input, .LeadEquipmentTab tbody tr .C_S {
    display: none;
}
.LeadEquipmentTab tbody tr.focusedItem input{
    border: 1px solid #2ca01c;
}
.LeadEquipmentTab tbody tr.focusedItem input, .LeadEquipmentTab tbody tr.focusedItem .C_S {
    display: block; 
}

.LeadEquipmentTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}

.LeadEquipmentTab tbody tr td:hover {
    cursor: pointer;
}



tbody td .tt-menu {
    background: white;
    /*min-width: 200px;*/
    font-size: 12px;
    /*max-height: 400px;*/
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    /*left: 0px;*/
    z-index: 100;
    display: none;
    width: 29.8%;
}

tbody td .tt-dataset-autocomplete {
    margin-top: -5px;
}

tbody td .tt-suggestion {
    min-height: 36px;
    display: block;
    padding: 10px 10px 9px 15px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

tbody td .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

tbody td .tt-sug-text {
    width: 100%;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align:left;
}
.tt-suggestion div {
        width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
} 
tbody td .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

tbody td .tt-suggestion.active {
    background-color: #f2f2f2;
}

tbody td .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

tbody td .tt-sug-type {
    position: absolute;
    right: 17px;
    top: 11px;
    color: #999;
    font-style: italic;
}

tbody td .tt-eq-price {
    float: right;
    padding-right: 5px;
}

.select2-container.select2-container--default.select2-container--open {
    z-index: 9999 !important;
}

.invoice-footer {
    background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
}

.InvoiceCancelButton, .InvoiceSaveButton {
    background-color: transparent;
}

.btnInv {
    color: white;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

    .btnInv:hover {
        background-color: #545558;
    }

.SaveAndSendBtn, .SaveOptionsBtn {
    background-color: #2ca01c;
    color: white !important;
    border: 1px solid #6b6c72 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

    .SaveAndSendBtn:hover, .SaveOptionsBtn:hover {
        background-color: #108000 !important;
        color: white !important;
    }

.cancelbtnDiv {
    width: 20%;
    float: left;
}

.SaveaButtonsDiv {
    width: 30%;
    float: left;
    text-align: right;
}

.InnerOptionsDiv {
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 8px;
    color: white;
}

    .InnerOptionsDiv a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

.btnAddLines, .btnAddSubtotal, .btnClearLines {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    min-width: initial;
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0 !important;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    border: 1px solid #8d9096;
    background: 0 0;
    color: #393a3d;
    font-weight: 200;
}

    .btnAddLines:hover, .btnAddSubtotal:hover, .btnClearLines:hover {
        background: #fff;
        color: #393a3d;
        box-shadow: 0 0 0 1px #8d9096;
    }

.InvoiceMessage {
    resize: none;
    width: 345px;
}

.txtProductQuantity {
    height: 32px;
    /*margin-top: 3px;*/
}

.InvoiceCalculationsDiv {
    padding-left: 15%;
}

.LeadEquipmentTab tbody td input {
    width: 100%;
}

.LeadEquipmentTab .tab-index, .LeadEquipmentTab .tab-Action {
    width: 5%;
}

.LeadEquipmentTab .tab-Product, .LeadEquipmentTab .tab-Desc {
    width: 30%;
}

.LeadEquipmentTab .tab-Quantity, .LeadEquipmentTab .tab-Rate, .LeadEquipmentTab .tab-Amount {
    width: 10%;
}

.SaveaButtonsDiv ul.dropdown-menu li {
    cursor: pointer;
}
/*@media (max-width:1024px) {
.LeadEquipmentTab {
    width: 90%;
}
}*/
/*@media (max-width:800px) {
.LeadEquipmentTab {
    width: 90%;
}
}*/

@media (max-width:768px) {
    .txtProductQuantity {
        height: 24px;
        margin-top: 0px;
    }
}

@media (max-width:414px) {
    .header_text_style {
        font-size: 11px;
    }
}


/*
    Setup Equipment Table Style
*/

.Setup-Equipments-Table{
    width : 100%;
}
.Setup-Equipments-Table tbody tr td {
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    padding:3px;
}
.Setup-Equipments-Table tbody tr:hover {
    background-color:#f4f5f8;
}
    .Setup-Equipments-Table tbody tr td:nth-child(2),
    .Setup-Equipments-Table tbody tr td:nth-child(3),
    .Setup-Equipments-Table tbody tr td:nth-child(4),
    .Setup-Equipments-Table tbody tr td:nth-child(5),
    .Setup-Equipments-Table tbody tr td:nth-child(6),
    .Setup-Equipments-Table tbody tr td:nth-child(7),
    .Setup-Equipments-Table tbody tr td:nth-child(8) {
        text-align: center;
    }
.Setup-Equipments-Table thead tr th  
 {
    text-align:center;
    border-right:1px solid #fff;
    background-color:#f4f5f8;
    padding:5px 0px;
}

