 #btnEquipmentSavandNex {
        float: right;
    }

    .NewLeadbtn {
        padding: 15px 0 15px 0;
        max-width: 480px;
    }

    .btn-top {
        margin-top: 10px;
    }

    .head_space {
        padding-top: 10px;
        padding-left: 0px !important;
    }
    .leadsetup_equip_header {
         font-size: 2rem;
         color: #000;
    }
    .text-custom {
        font-size: 13px;
        font-weight: 600;
        color: #615b5b;
    }

    .custom_td {
        font-size: 14px;
        padding-top: 8px;
        width: 40%;
        padding-left: 18px;
    }

    .device-equipment-price {
        font-weight: bold;
        margin-left: 20px;
    }
    .SaveEquipmentButtonDiv{
        padding-top:10px;
        text-align:right;
    }
     .C_S.I_G {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
            display: flex; 
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

    .C_S .input-group-prepend { 
        width:30%;
        float:left;
    }
    
.C_S .input-group-text { 
    padding-top:5px;
    height: 32px;
    color: #495057;
    text-align: center; 
    background-color: #e9ecef;
    border: 1px solid #ced4da; 
}
.C_S.I_G > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.C_S.I_G > .txtProductDiscountRate,.C_S.I_G > .txtProductRate,.C_S.I_G > .txtProductPackageDiscount,.C_S.I_G > .txtTotalAmount {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 70%;
    float:left;
    margin-bottom: 0;
}
.SEP_table_container {
    width:100%;
    float:left;
    padding-bottom:10px;
}
@media (max-width:768px) {
    .smrt_eqpt_partial_table {
        width: 100%;
        float: left;
        overflow-x: scroll;
    }

        .smrt_eqpt_partial_table .Setup-Equipments-Table {
            width: 1000px;
        }
}
@media (max-width:414px) {
    .SEP_table_container #LeadEquipmentTab {
        width:768px !important;
        float:left;
    }
    .SEP_table_container {
   overflow-x:scroll;
}
    .SEP_table_container .LeadEquipmentTab tbody tr td {
    padding: 5px !important;
}
    .SEP_table_container #LeadEquipmentTab input {
       height:32px;
    }
    .smrt_eqpt_partial_table {
        width:100%;
        float:left;
        overflow-x:scroll;
    }
    .smrt_eqpt_partial_table .Setup-Equipments-Table {
        width:1000px;
    }
            /* width */

.smrt_eqpt_partial_table::-webkit-scrollbar  {
  width: 10px;
  height:5px;
}

/* Track */

.smrt_eqpt_partial_table::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */

.smrt_eqpt_partial_table::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */

.smrt_eqpt_partial_table::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

    #LeadEquipmentTab .tt-menu {
        width: 90% !important;
        left: 0px;
        height: 208px !important;
        margin: 0px 5% !important;
    }

}
