@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InstallationAgreement</title>
</head>
<body style="overflow-y:scroll;">
    @Html.Raw(ViewBag.Body)
</body>
</html>

