.add_ticket_main {
    overflow-y: scroll;
    overflow-x: hidden;
}
.attach_misc td .holder_left {
    width: 48%;
    float: left;
}
.attach_misc td .holder_right {
    width: 48%;
    float: right;
}
.attach_misc td div label {
   margin-bottom:0px;
}
.map_icon_style {
    height: 20px;
    cursor: pointer;
    margin-left: 2px;
}
.UserSuggestionDiv {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.SendNotification {
    margin-right: 10px;
}
#getDirection {
    float: left;
    width: auto;
    margin-right: 3px;
    margin-top: 0px;
}

    #getDirection svg {
        transform: rotate(180deg);
    }

.ticket_inner_table {
    overflow-x: auto;
}

.add_ticket_top_btn_div {
    width: 100%;
    float: left;
}

    .add_ticket_top_btn_div .btn {
        margin: 5px 0px;
    }

.UserSuggestionDiv.active {
    background-color: #989797;
    color: white;
}

.UserSuggestionDiv:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    color: black;
}
.total-eqpservice {
    float: right;
    margin-bottom: 10px;
}
.total-eqpservice tr td{
    padding:5px !important;
    font-weight:bold;
}
.UserSuggestion.tt-menu {
    max-height: 250px;
    /*overflow-y: scroll;*/
}

.UserSuggestion .tt-dataset.tt-dataset-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
}

.UserSuggestion .tt-dataset.tt-dataset-autocomplete {
    margin-top: unset !important;
}

.UserSuggestion .tt-menu-header {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.add_ticket_contetns {
    display: flex;
}

.ticket_button_timer_container {
    width: 100%;
    float: left;
}

.ticket_balance_text {
    width: 100%;
    float: left;
    padding: 10px 0px 0px;
}

    .ticket_balance_text a {
        font-weight: bold;
        color: #d71920;
    }

.ticket_button_con {
    width: auto;
    float: left;
    padding: 10px 0px;
}

.ticket_dispatch_container {
    width: auto;
    float: left;
    padding: 10px 0px;
    margin-left: 10px;
}

.ticket_timer_container {
    width: auto;
    float: left;
    padding: 10px 0px;
    margin-left: 10px;
}

.ticket_timer_inner {
    width: auto;
    float: left;
    background-color: #2ca01c;
    border-radius: 4px;
    padding: 5px;
    height: 34px;
}

.ticket_timer_container .timer {
    width: 63px;
    float: left;
    padding-left: 5px;
    color: #fff;
    padding-top: 2px;
}

.ticket_timer_container i {
    float: left;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.recreate_btn,
.smart-set-up {
    width: auto;
    float: left;
    padding-right: 8px;
}

.clone_ticket_btn {
    width: auto;
    float: left;
}

.contract_sign_stat {
    width: 100%;
    float: left;
    padding-top: 10px;
    font-weight: bold;
}

    .contract_sign_stat .green_status {
        color: #2ca01c;
    }

    .contract_sign_stat .red_status {
        color: #d71920;
    }

.recreate_btn button,
.smart-set-up button,
.clone_ticket_btn button {
    margin-top: 8px;
    padding: 6px;
}

.ticket_reply_box {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px 10px 0px 10px;
    height: 235px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ticket_reply_box_add {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px 10px 0px 10px;
    max-height: 682px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ticketTable {
    width: 100%;
    float: left;
    table-layout: fixed;
}

.ticket_log_table {
    table-layout: unset;
}

    .ticket_log_table .ticket_created_info_left {
        width: 180px;
    }

.ticketInfoTable {
    width: 100%;
    float: left;
}

    .ticketInfoTable .ticketInfoTable_row {
        width: 100%;
        float: left;
        margin-top: 15px;
    }

        .ticketInfoTable .ticketInfoTable_row:nth-child(1) {
            margin-top: 5px;
        }

.w100p {
    width: 100%;
}

.w90p {
    width: 90%;
}

.w80p {
    width: 80%;
}

.w70p {
    width: 70%;
}

.w60p {
    width: 60%;
}

.w40p {
    width: 40%;
}

.w30p {
    width: 30%;
}

.w15p {
    width: 15%;
}

.w27p {
    width: 27%;
}

.ticketTable .w27p {
    width: 150px;
}

.addticketbottomtable tr td {
    padding: 0px;
}

.addticketbottomtable .text-right b {
    margin-right: 10px;
}

.padding-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.text_Center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.custom-title-span {
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.custom-title-span-dynamic {
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.header-title {
    width: 100%;
    float: left;
    text-align: left;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}

.FileDescription {
    height: unset !important;
}

.InvoiceTableBorderTop {
    border-top: 1px solid #e3e3e3;
}

.Ticket_replies {
    /*border-top:1px solid #ccc;*/
}

.CustomerInvoiceTab tr {
    border-left: 1px solid #e3e3e3;
}

.border_radius_0 {
    border-radius: 0px;
}

.PrintTicket {
    margin-right: 10px;
}

.float-right {
    float: right;
}

#ticket_table_note tbody tr td:nth-child(1) {
    width: 30%;
}

#ticket_table_note tbody tr td:nth-child(2) .ticket_add_custom_style p {
    word-break: break-word !important;
}

table.ticketTable tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}

table.ticketTable .blank_row td {
    padding: 0px;
    font-size: 10px;
}

.add_ticket_contetns .ticket_body {
    display: table;
    padding: 0px;
    margin-top: 10px;
}

.add_ticket_contetns .col-md-4 {
    display: table;
}

.ticket-loader-div {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    display: none;
}

.ticketLoaderFade {
    width: 100%;
    background: white;
    opacity: 0.6;
    height: 100%;
    position: absolute;
}

.ticket_created_info_left,
.ticket_created_info_right {
    background: #fffbe9;
    border: 1px solid #dcc76a;
    padding: 10px;
}

.ticket_created_info_left {
    border-right: 0px;
    border-top: 0px;
}

.ticket_created_info_right {
    border-left: 0px;
    border-top: 0px;
}

.ticket_type_info_header_left {
    float: left;
    padding: 5px 10px;
}

.ticket_type_info_bg {
    background-color: #fff1b5;
    border: 1px solid #dcc76a;
    padding: 0px 10px;
}

.ticket_type_info_header_right {
    float: right;
    padding: 5px 10px;
}

.ticket_type_info_header_left {
    border-right: 0px;
    border-bottom: 0px;
}

.ticket_profile_time {
    font-style: italic;
    color: #9a9a9a;
    font-size: 11px;
    font-weight: normal;
    margin-left: 10px;
}

.ticket_profile_credit {
    width: auto;
    float: left;
    color: #9a9a9a;
    margin-left: 5px;
    font-weight: normal;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ticket_created_header {
    background: #fffbe9;
    border: 1px solid #dcc76a;
    border-bottom: 0px;
}

    .ticket_created_header td b {
        float: left;
    }

    .ticket_created_header td {
        padding-left: 10px;
    }

.ticket_created_profile_pic_div {
    width: 100%;
    float: left;
    padding: 5px 0px;
}

.ticket_created_profile_pic {
    width: 35px;
    float: left;
    height: 35px;
    position: relative;
    border: 2px solid #fff;
    box-shadow: 0 0 4px #888;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.ticket_sign_style {
    margin-left: 10px;
}

.ticket_created_profile_pic img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
}


.ticket_add_custom_style .ticket_created_profile_pic_div {
    padding-left: 10px;
}

.ticket_reply_style .ticket_created_profile_pic_div {
    padding-left: 10px;
    padding-bottom: 10px;
}

.ticket_add_custom_style p {
    padding-left: 15px;
    word-break: break-all;
}

    .ticket_add_custom_style p .size-img {
        width: 30px;
        margin-right: 10px;
    }

.ticke_info_header {
    padding: 5px 10px;
    content: "";
    height: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.Ticket_replies .ticket_profile_time {
    margin-bottom: 5px;
}

.ticket_itemsadded_style {
    border: 1px solid #e1e2e2;
}
    /*.ticket_itemsadded_style td:nth-child(1) .ticket_add_custom_style {
    width:160px;
}*/
    .ticket_itemsadded_style td .ticke_info_header {
        background-color: #efefef;
    }

    .ticket_itemsadded_style td {
        padding: 0px !important;
    }

.ticket_reply_style {
    border: 1px solid #b2f99a;
}

    .ticket_reply_style td .ticke_info_header {
        background-color: #efefef;
    }

    .ticket_reply_style td {
        padding: 0px !important;
    }

.ticket_file_style {
    border: 1px solid #75cef9;
}

    .ticket_file_style td .ticke_info_header {
        background-color: #75cef9;
    }

    .ticket_file_style td {
        padding: 0px !important;
    }

.ticket_attached_style {
    border: 1px solid #b3cde2;
}

    .ticket_attached_style td .ticke_info_header {
        background-color: #b3cde2;
    }

    .ticket_attached_style td {
        padding: 0px !important;
    }

.ticket_itemremoved_style {
    border: 1px solid #fbcccc;
}

    .ticket_itemremoved_style td .ticke_info_header {
        background-color: #fbcccc;
    }

    .ticket_itemremoved_style td {
        padding: 0px !important;
    }

.add_ticket_info_table tbody tr td .at_header_device {
    display: none;
}

.add_ticktet_btn_footer {
    width: 100%;
    float: left;
    position: sticky;
    bottom: 0px;
    background-color: #fff;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    z-index: 9;
}

.top_to_bottom_modal_container .close-div {
    display: none;
}

.ticketCloseDiv {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.message_header_title {
    color: #f0ad4e;
}

.message_header_border {
    border-bottom: 1px solid #f0ad4e;
}

.inv_desc_amount_content {
    width: 100%;
    float: left;
    text-align: left;
    padding: 0px 15px 15px 15px;
}

    .inv_desc_amount_content div {
        width: 100%;
        float: left;
    }

    .inv_desc_amount_content label {
        margin-bottom: 0px;
    }

    .inv_desc_amount_content div:nth-child(2) {
        margin-top: 15px;
    }

    .inv_desc_amount_content div label {
        float: left;
        width: 100px;
        padding-right: 10px;
    }

    .inv_desc_amount_content div:nth-child(1) label {
        margin-top: 5px;
    }

    .inv_desc_amount_content div:nth-child(1) input {
        width: 30%;
    }

    .inv_desc_amount_content div:nth-child(2) textarea {
        width: 82%;
        resize: none;
        padding: 10px;
    }

#__ConfirmationMessageModal_ {
    background-color: #2ca01c;
    color: #fff;
}

.sales_commission_table,
.tech_commission_table {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.ticket_table_header {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #ddd;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

    .ticket_table_header button {
        float: right;
        padding: 0px 10px;
        background-color: #2ca01c;
        color: #fff;
    }

        .ticket_table_header button:hover,
        .ticket_table_header button:focus {
            background-color: #2ca01c;
            color: #fff;
        }

.sales_commission_table thead tr th,
.sales_commission_table tbody tr td,
.tech_commission_table thead tr th,
.tech_commission_table tbody tr td {
    padding: 10px;
    border: 1px solid #ccc;
}

.ticket_reply_box .nav-tabs > li.active > a,
.ticket_reply_box .nav-tabs > li.active > a:focus,
.ticket_reply_box .nav-tabs > li.active > a:hover {
    color: #fff !important;
}

.ticket_generate_docu {
    float: left;
    margin-right: 10px;
    padding-top: 8px;
}

    .ticket_generate_docu .dropdown-menu {
        width: 190px;
        border: 1px solid #ccc !important;
        top: 47px;
        border-radius: 4px;
    }

        .ticket_generate_docu .dropdown-menu::after {
            content: '';
            position: absolute;
            left: 42%;
            top: -8px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 8px solid #ccc;
            clear: both;
        }

        .ticket_generate_docu .dropdown-menu li {
            padding: 4px;
        }

    .ticket_generate_docu button {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .ticket_generate_docu li:nth-child(2) button {
        margin-bottom: 0px !important;
    }

.load_additional_members div button,
.notifyingmembers div button {
    position: absolute !important;
}


.qtyhandwarning {
    background-color: #d71920;
    color: white;
}

.block-important {
    display: block !important;
}

.ticket-details {
    width: 50%;
    float: left;
}

.salesperson-details {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 40px;
}

.bad_inventory_equipment {
    border: 1px solid #ccc;
    position: absolute;
    background-color: #fff;
    padding: 0px 5px 5px 5px;
    max-width: 50px;
    box-shadow: 2px 2px 14px;
}

.bad_inventory_equipment {
    border: 1px solid #ccc;
    position: absolute;
    background-color: #fff;
    padding: 0px 5px 5px 5px;
    width: 50px;
}

.nav-tabs > li > a {
    background-color: transparent !important;
}

.nav-tabs > li > a {
    background-color: transparent !important;
    color: #454545;
    border: none !important;
}

.nav-tabs > li.active {
    background-color: #2ca01c !important;
}

.nav-tabs > li {
    border-right: 1px solid #ccc !important;
}

.ticket_reply_box .nav-tabs > li:nth-child(3) {
    border-right: 0px solid #ccc !important;
    float: right;
}

.soldBySelectDiv {
    padding-bottom: 10px;
}

    .soldBySelectDiv span {
        padding-top: 5px;
        padding-right: 5px;
        float: right;
    }

    .soldBySelectDiv select {
        width: 25%;
        float: right;
    }

.LoadReferenceTicketList {
    border: 1px solid #ccc;
}

    .LoadReferenceTicketList td:nth-child(1) {
        border-right: 1px solid #ccc;
    }

#btn_del_ticket:hover,
#btn_del_ticket:focus {
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d9534f !important;
}

#RescheduleTicketPopup {
    float: right;
}

.Customerdetail_addresss_for_ticket {
    width: 100%;
    float: left;
    background-color: #ececec;
    border: 1px solid #ccc;
    padding: 5px;
}

    .Customerdetail_addresss_for_ticket .OpenEditPickUpLocationModel,
    .Customerdetail_addresss_for_ticket .OpenEditDropOffLocationModel,
    .Customerdetail_addresss_for_ticket .OpenEditBillingAddressModel {
        float: right;
        cursor: pointer;
        font-size: 16px;
        margin-top: 3px;
    }

.ticket_attach_btn_style button {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.ld_add_member {
    height: 40px;
    position: relative;
}

.ld_add_member_table {
    display: none;
    position: absolute;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    color: #000;
    width: 300px;
    left: 0px;
    bottom: 44px;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 4px;
    z-index: 1;
}

    .ld_add_member_table:before {
        left: 25px;
        border-width: 6px;
        transform: rotate(0deg);
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #000 transparent;
        border-bottom: 0;
        bottom: -6px;
    }

    .ld_add_member_table table {
        width: 100%;
        float: left;
        border-collapse: collapse;
    }

        .ld_add_member_table table tbody tr th,
        .ld_add_member_table table tbody tr td {
            padding: 5px;
            text-align: center;
            border: 1px solid #000;
        }

            .ld_add_member_table table tbody tr th:nth-child(1) {
                width: 135px;
            }

            .ld_add_member_table table tbody tr td:nth-child(1) {
                text-align: left;
            }

.ld_add_member:hover .ld_add_member_table {
    display: block;
}

.pd_left_custom {
    padding-left: 10px;
}

.point_table_container {
    width: 100%;
    float: left;
    padding-top: 10px;
    margin-top: 625px;
}

    .point_table_container table {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

        .point_table_container table thead tr th,
        .point_table_container table tbody tr td {
            padding: 10px;
            border: 1px solid #ccc;
        }

@media (max-width: 1024px) {
    .custom-title-span {
        font-size: 17px;
    }

    .ticket_inner_table table tbody tr td {
        width: unset !important;
        float: none !important;
    }

    .ticket_inner_table table tbody tr {
        width: unset !important;
        float: unset !important;
    }

    .add_ticket_contetns {
        flex-direction: column-reverse;
    }

        .add_ticket_contetns .ticket_body {
            display: block;
            padding: 0px 15px;
            width: 100%;
        }

        .add_ticket_contetns .ticket_info {
            width: 100%;
        }

    .add_ticket_start_end_time .col-md-6 {
        width: 50%;
        float: left;
    }

    .add_ticket_btn {
        width: 50% !important;
    }

    .add_ticket_status {
        width: 50% !important;
        padding-left: 5px;
    }

    .add_ticket_padd_left {
        padding-left: 5px;
    }

    .add_ticket_padd_right {
        padding-right: 5px;
    }

    .add_ticket_schedule div:nth-child(1) {
        width: 100%;
        float: left;
        padding-top: 5px;
    }

    .add_ticket_schedule div:nth-child(2) {
        width: 50%;
        float: left;
    }
}


@media (max-width: 414px) {
    .tech_commission_table tbody tr td {
        width: unset !important;
        float: unset !important;
    }

    .ticket_reply_box .nav-tabs > li:nth-child(3) {
        float: left;
        padding-bottom: 10px;
    }

    .sales_commission_table tbody tr td {
        width: unset !important;
        float: none !important;
    }

    .ticket-details,
    .salesperson-details {
        width: 100% !important;
        text-align: left !important;
    }

    .ticket_commission_table_container {
        width: 100%;
        float: left;
        overflow-x: scroll;
    }

        .ticket_commission_table_container table {
            width: 700px;
        }

    .ticket_inner_table table tbody tr td {
        width: unset !important;
        float: none !important;
    }

    .ticket_inner_table table tbody tr {
        width: unset !important;
        float: unset !important;
    }

    .ticket_add_custom_style p {
        padding-left: 0px;
    }

    .ticket_manual_top {
        padding-top: 10px;
        width: 100%;
        float: left;
    }

    .ticket_type_info_header_left,
    .ticket_type_info_header_right {
        width: 100%;
        float: left;
    }

    .ticket_add_info_mobile {
        padding: 0px 10px !important;
    }

    .ticket_created_info_left {
        border-right: 1px solid #dcc76a;
        border-bottom: 0px;
    }

    .ticket_created_info_right {
        border-left: 1px solid #dcc76a;
        border-top: 0px;
    }

    .add_ticket_schedule div:nth-child(1) {
        width: 100%;
        padding-top: 0px;
    }

    .add_ticket_schedule div:nth-child(2) {
        width: 100%;
    }

    .add_ticket_padd_left,
    .add_ticket_padd_right {
        padding: 0px;
    }

    .add_ticket_status {
        width: 100% !important;
        padding-left: 0px;
    }

    .add_ticket_btn {
        width: 100% !important;
    }


    table.ticketTable tbody tr td {
        width: 100%;
        float: left;
    }

    .table_style_for_new tbody tr td {
        padding: 0px !important;
    }

    .ticket_type_info_bg {
        width: 50% !important;
        float: left;
    }

    table.ticketTable tbody tr td .col-md-5 {
        padding-right: 0px;
    }

    .add_ticket_main {
        padding: 0px 10px;
    }

    .add_ticket_title_device {
        font-size: 15px;
        font-weight: bold;
        padding-left: 5px;
    }

    .add_ticket_contetns .ticket_body {
        padding: 0px;
    }

    .add_ticket_contetns .col-md-4 {
        display: table;
        padding: 0px;
    }

    .ticketInfoTable .ticketInfoTable_row {
        margin-top: 5px;
    }

    .add_ticket_start_end_time .col-md-6 {
        width: 100%;
    }

    .add_ticket_start_end_time .padding-right-5 {
        padding-right: 0px;
    }

    .add_ticket_start_end_time .col-md-6:nth-child(2) {
        margin-top: 5px;
        padding-left: 0px;
    }

    .add_ticket_btn .btn {
        background-color: #fff;
    }

    .add_ticket_info_table thead {
        display: none;
    }

    .add_ticket_info_table tbody tr td:nth-child(1) {
        display: none;
    }

    .add_ticket_info_table tbody tr {
        margin-top: 0px;
    }

        .add_ticket_info_table tbody tr td {
            padding: 5px 10px !important;
        }

        .add_ticket_info_table tbody tr:nth-child(odd) {
            background-color: #f4f5f8;
        }

        .add_ticket_info_table tbody tr td .at_header_device {
            display: block;
            width: 45%;
            float: left;
            font-weight: bold;
            text-align: left;
        }

        .add_ticket_info_table tbody tr td div:nth-child(2) {
            width: 55%;
            float: left;
            text-align: left;
        }

    .ticket_itemremoved_style td:nth-child(2) .ticket_add_custom_style .ticke_info_header,
    .ticket_attached_style td:nth-child(2) .ticket_add_custom_style .ticke_info_header,
    .ticket_itemsadded_style td:nth-child(2) .ticket_add_custom_style .ticke_info_header,
    .ticket_reply_style td:nth-child(2) .ticket_add_custom_style .ticke_info_header,
    .ticket_file_style td:nth-child(2) .ticket_add_custom_style .ticke_info_header {
        height: auto;
        padding: 0px;
    }

    .tick_info_header_mobile {
        background-color: unset !important;
    }

    .ticket_category_row button {
        margin-top: 5px;
    }

    .ticket_button_style {
        padding: 0px;
    }

        .ticket_button_style button {
            /*width: 48%;*/
            float: left;
            margin-top: 5px;
            margin-left: 5px;
        }

    .add_ticket_product_table {
        overflow-y: scroll !important;
        height: 400px;
    }

        .add_ticket_product_table table {
            width: 100%;
            table-layout: unset;
        }

            .add_ticket_product_table table thead tr,
            .add_ticket_product_table table thead tr th,
            .add_ticket_product_table table tbody tr,
            .add_ticket_product_table table tbody tr td {
                width: unset !important;
                float: none !important;
            }

                .add_ticket_product_table table thead tr th {
                    padding: 0px 10px;
                }
}


.name-anchor-style-for-ticker {
    color: #2ca01c !important;
}

.trash-hidden {
    display: none;
}

.HasItem .trash-hidden {
    display: block;
}

#CustomerInvoiceTab tr {
    height: 30px;
}

#CustomerServiceTable tr {
    height: 30px;
}
/*.ticketInfoTable_row .add_ticket_btn .add_ticket_padd_left .additionalmembers{
    display:block !important;
}
.ticketInfoTable_row .add_ticket_btn .add_ticket_padd_right .notifyingmembers {
    display: block !important;
}*/

.ticket_bottom_block {
    width: 100%;
    float: left;
    padding: 20px 0px;
}

.ticket_bottom_block_inner {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
