body {
    margin:0px;
}
        .dv-preview-pic{
               width: 33.33%;
    float: left;
    position: relative;
    padding: 10px;
        }
        .dv-preview-pic img{
            max-height:100%;
            max-width:100%;
            position:absolute;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            margin:auto;
        }
        .hidden{
            display:none;
        } 
        .red{
            color:red;
        }
        .rug_SaveBtnDiv{
            width:100%;
            float:left;
            padding:10px;
            border:1px solid #ccc;
        }
        .rug_SaveBtnDiv #SaveButton {
            float:right;
            display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
        }
         #btnProjectUpload {
            float:right;
            display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
        }
         #btnProjectUpload,
         #btnProjectUpload:hover,
         #btnProjectUpload:focus {
             background-color:#2ca01c;
             color:#fff;
         }
          .rug_SaveBtnDiv button,
         .rug_SaveBtnDiv button:hover,
         .rug_SaveBtnDiv button:focus {
             background-color:#2ca01c;
             color:#fff;
         }
      

        .rug_condition_pop_container {
            width:100%;
            float:left;
            overflow:hidden;
        }
        .rug_condition_pop_inner {
              width:100%;
            float:left;
            padding:10px;
                overflow-x: hidden;
    overflow-y: scroll;
        }
        .rug_condition_pop_main_header {
                width: 100%;
    float: left;
    text-align: left;
    background-color: #2ca01c;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 5px 10px;
    font-size: 22px;
        }
        .rug_condition_pop_container div {
            box-sizing:border-box;
        }

        .rug_pop_close {
            width: 20px;
            border-radius: 10px;
            position:absolute;
            right:10px;
            cursor:pointer;
        }
        .rug_condition_pop_block {
                 width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
        overflow-x: hidden;
}
      .rug_condition_pop_header {
              width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
      }
      .RugCondtionsCBox,
      .RugImages {
           width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 10px;
      }
      .RugCondtionsCBox_content {
          width:33.333%;
          float:left;
      }
      .image_header_style {
            padding: 4px;
    height: 42px;
      }
      .image_header_text {
          width:auto;
          float:left;
          padding:7px;
      }
      .RugImages .AddImageDiv,
      .RugImages .upload-gallary {
          width:100%;
          float:left;
      }
       .dv-preview-pic .image-delete{
                width: 20px;
    height: 20px;
    position: absolute;
    right: 11px;
    z-index: 99;
    top: 11px;
    background-color: #fff;
       }  
          
           .image-caption {
                  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
           }
           
 .dv-preview-pic-inner {
        width: 100%;
    float: left;
    position: relative;
    height: 100px;
    border: 1px solid #ccc;
 }
    @media (max-width:414px) {
        .RugCondtionsCBox_content,
        .dv-preview-pic {
          width:100%;
      }
        .dv-preview-pic-inner {
            height:200px;
        }
    }
