.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #2ca01c;
}
.rect_block {
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #f4f5f8;
    word-break: break-all;
    margin-bottom: 3px;
    margin-right: 2px;
    float: left;
}

.estimatestatus {
    cursor: pointer;
}
.strl_table .ticket_list_partial_device_info {
    word-break:break-all;
}
.service_tracker_top_bar {
    width: 100%;
    float: left;
}
#btnInsideCommission {
    float:right;
}
.new_salesReport_partial thead tr th:nth-child(1) {
    width: 8%;
}
.service_tracker_search_bar {
    width: 300px;
    float: left;
}
    .service_tracker_search_bar #btnDownloadServiceTracker {
        float: right;
    }
    .create_ticket_btn {
        cursor: pointer;
        background-color: #2ca01c;
        border-color: #2ca01c;
        color: white;
        float: right;
    }
.convert_cus_report_left {
    float: left;
    width: auto;
}

.convert_cus_report_filte_innerr {
    width: 100%;
    float: left;
}

.convert_cus_report_left .input-group {
    width: 300px;
    float: left;
}

.convert_cus_report_left #convert_cus_filterbtn {
    float: left;
    margin-left: 10px;
}

.convert_cus_filter_list .convert_cus_filter_button button {
    margin: 5px;
    border-color: #2ca01c;
    background-color: #2ca01c;
    color: white;
}

.convert_cus_report_filter {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

    .convert_cus_report_filter .convert_cus_report_filte_innerr div {
        float: left;
        width: 20%;
        padding-left: 5px;
        padding-right: 5px;
    }

.convert_cus_report_footer {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 5px;
    text-align: right;
}

@@media (max-width:768px) {
    .convert_cus_report_filter .convert_cus_report_filte_innerr div {
        width: 33.33%;
    }
}

@@media (max-width:414px) {
    .convert_cus_report_filter .convert_cus_report_filte_innerr div {
        width: 100%;
    }
}
#btnDownloadticketReport3{
    margin-left: 10px;
}
.search_ticket_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}

.no-Padding {
    padding-left: 0px;
    padding-right: 0px;
}

.border_radius_0 {
    border-radius: 0px;
}
.go_back_filter_bar {
    width:70%;
    float:left;
}
.go_back_filter_bar .input-group input {
    width:200px;
    float:left;
}
.go_back_filter_bar .input-group bootstrap-select,
.go_back_filter_bar .input-group select {
    float:left;
}
.ticket_search_filter .search_btn_ticket_filter {
    padding-left: 0px;
}

.ticket_list_partial_device_header {
    display: none;
}

.ticket_list_partial_device_info {
        overflow: hidden;
    white-space: nowrap;
}
#AllRecordTable .ticket_list_partial_device_info {
    overflow: unset !important;
    white-space: unset !important;
}
.app_date_report_list_table .ticket_list_partial_device_info,
.report_data_ref_table .ticket_list_partial_device_info {
    white-space: unset !important;
    overflow: unset !important;
}
.ticket_list_partial_device_info_overflow {
        white-space: unset !important;
}
.ticket_list_partial_device_info_upsell {
        overflow: hidden;
}
.tkt_list_partial_device_info {
    word-break: unset;
    text-overflow: unset;
    white-space: normal;
    overflow: unset;
}
.ticket_list_partial_device_info p {
    display:contents;
} 
.exceed-warning {
    color: red;
}
.ticket_list_partial_info thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.ticket_list_partial_info tbody {
    border:1px solid #ccc;
}
.ticket_list_partial_info {
    width:100%;
    float:left;
    table-layout:fixed;
}
.ticket_list_partial_info thead tr th {
    padding: 5px 10px 5px 10px;
    font-weight:normal;
}
 .ticket_list_partial_info thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .ticket_list_partial_info thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .ticket_list_partial_info thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .ticket_list_partial_info thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
.loadticketreportlist_table thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.loadticketreportlist_table tbody tr {
    border:1px solid #ccc;
}
.loadticketreportlist_table {
    width:100%;
    float:left;
    table-layout:fixed;
}
.loadticketreportlist_table tbody tr:nth-child(odd) {
    background-color:#f4f5f8;
}
.loadticketreportlist_table tbody tr:hover {
    background-color:#f8f8f8;
}
.loadticketreportlist_table thead tr th {
    padding: 5px 10px 5px 10px;
}
.loadticketreportlist_table tbody tr td {
    padding:10px;
}
 .loadticketreportlist_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .loadticketreportlist_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .loadticketreportlist_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .loadticketreportlist_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
        .go_back_srch_filter,
        .app_date_search_filter,
        .date_ref_srch_filter,
        .ins_equip_srch_filter {
            width:100%;
            float:left;
        }
         .ins_equip_srch_filter_report {
            width:100%;
            float:left;
            padding-bottom:10px;
        }
     
       .go_back_srch_filter .input-group,
       .app_date_search_filter  #searchtext,
       .app_date_search_filter .TicketType_Search,
       .app_date_search_filter .Ticket_Status_Search,
       .app_date_search_filter .input-group,
       .date_ref_srch_filter .TicketType_Search,
       .date_ref_srch_filter .Ticket_Status_Search,
       .date_ref_srch_filter .input-group,
        .ins_equip_srch_filter .ticket_search_text,
       .ins_equip_srch_filter .TicketType_Search,
       .ins_equip_srch_filter .Ticket_Status_Search,
       .ins_equip_srch_filter .input-group {
           width:300px !important;
           float:left !important;
       }
        .ins_equip_srch_filter_report .ticket_search_text,
       .ins_equip_srch_filter_report .TicketType_Search,
       .ins_equip_srch_filter_report .Ticket_Status_Search,
       .ins_equip_srch_filter_report .input-group {
           width:16.5% !important;
           float:left !important;
       }
       .load_sales_report_partial_container {
           width:100%;
           float:left;
       }
       .load_invoice_list_report_partial_container {
           width:100%;
           float:left;
       }
        .load_sales_report_partial_info_bar{
           width:100%;
           float:left;
           padding-bottom:10px;
       }
       .lsrp_info_block {
           width:33.333%;
           float:left;
    border-left: 10px solid #0077c5;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    background-color: #035890;
    font-family: sans-serif;
}
       .load_sales_report_partial_info_bar .lsrp_info_block:nth-child(2) {
           background-color:#216fa2;
       }
       .load_sales_report_partial_top_bar {
           width:100%;
           float:left;
       }
       .load_sales_report_partial_top_bar #btnDownloadSalesReport,
       .load_sales_report_partial_top_bar #btnDownloadInvoiceReport {
           float:right;
       }
       .load_sales_report_partial_top_bar_inner {
           width:auto;
           float:left;
       }
       /*.load_sales_report_partial_top_bar_inner #sales_txt_search {
           width:200px;
           float:left;
       }*/
       .load_sales_report_partial_top_bar_inner .input-group {
           width:300px;
           float:left;
           margin-left:-3px;
       }
       .load_sales_report_partial_top_bar_inner .input-group .btn {
    background-color: #2ca01c;
    color: #fff;
}
       .install_equip_table,
       .app_date_table,
       .go_back_table,
       .Sales_summ_report_table {
           width:100%;
           float:left;
       }
        .date_ref_table .ticket_list_partial_device_info,
        .app_date_table .ticket_list_partial_device_info {
            word-break: break-word;
        }
        .ins_tracker_table {
            table-layout:unset !important;
        }
            .ins_tracker_table .ticket_list_partial_device_info {
               word-break:normal !important;;
            }
        .install_equip_table .ticket_list_partial_device_info,
        .app_date_table .ticket_list_partial_device_info,
        .date_ref_table .ticket_list_partial_device_info,
        .go_back_table .ticket_list_partial_device_info,
        .Sales_summ_report_table .ticket_list_partial_device_info {
            overflow: unset;
            white-space: unset;
        }
       .install_equip_table .text_elipsis_inner {
            display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: unset;
       }
       .app_date_table table thead tr .tb_appt,
       .date_ref_table table thead tr .tb_appt {
           width:150px;
       }
       .app_date_table table thead tr .tb_date,
       .date_ref_table table thead tr .tb_date,
       .go_back_table table thead tr .tb_date {
           width:170px;
       }
       .go_back_table table thead tr .tb_prev_tick {
           width:300px;
       }
        .Sales_summ_report_table table thead tr .ssr_name {
           width:220px;
       }
        .single_filter_div_style {
            width:auto;
            float:left;
        }
        .single_filter_div_style button {
    height: 35px;
    margin-left:10px;
}
        .single_filter_div_style .btn-filter {
    color: #2ca01c;
    outline:none;
}
       .single_filter_div_container {
           width:auto;
           float:left;
       }
       .single_filter_div_container .input-group {
           width:300px;
           float:left;
       }
       .single_filte_info_container {
               background: #fff;
    border: 2px solid #ddd;
    padding: 5px;
    width: 100%;
    float: left;
       }
       .single_filter_info_inner {
               width: 100%;
    float: left;
       }
       .single_filter_info_inner_content {
    width: 23%;
    float: left;
    margin: 5px 1%;
    height: 50px;
}
      .single_filter_info_inner_content  label{
    margin-bottom: 0px;

}
       .single_filter_info_footer {
                 width: 100%;
    float: left;
    background-color: #fff;
    padding: 5px 10px;
    text-align: right;
       }
       .single_filter_info_footer button,
       .single_filter_info_footer button:hover,
       .single_filter_info_footer button:focus {
    background-color: #2ca01c;
    color: #fff;
}


       .truck_single_filter_div_style {
            width:auto;
            float:left;
        }
        .truck_single_filter_div_style button {
  
    height: 35px;
    margin-left:10px;
}
        .truck_single_filter_div_style .btn-filter {
    color: #2ca01c;
    outline:none;
}
       .truck_single_filter_div_container {
           width:auto;
           float:left;
       }
       .truck_single_filter_div_container .input-group {
           width:300px !important;
           float:left;
       }
       .truck_single_filte_info_container {
               background: #fff;
    border: 2px solid #ddd;
    padding: 5px;
    width: 100%;
    float: left;
       }
       .truck_single_filter_info_inner {
               width: 100%;
    float: left;
       }
       .truck_single_filter_info_inner_content {
    width: 23%;
    float: left;
    margin: 5px 1%;
    height: 40px;
}
       .truck_single_filter_info_footer {
                 width: 100%;
    float: left;
    background-color: #fff;
    padding: 5px 10px;
    text-align: right;
       }
       .truck_single_filter_info_footer button,
       .truck_single_filter_info_footer button:hover,
       .truck_single_filter_info_footer button:focus {
    background-color: #2ca01c;
    color: #fff;
}
       .lilrp_filter_btn {
    margin-left:10px;
}
.lilrp_filter_btn,
.lilrp_filter_btn:hover,
.lilrp_filter_btn:focus,
.lilrp_filter_btn:active {
    background-color: #2ca01c;
    color:#fff;
}
.lilrp_filter_btn .glyphicon-filter {
    color:#fff !important;
}
.goback_cus_report_left {
        float: left;
        width: auto;
    }

    .goback_cus_report_filte_innerr {
        width: 100%;
        float: left;
    }

    .goback_cus_report_left .input-group {
        width: 300px;
        float: left;
    }

    .goback_cus_report_left #goback_cus_filterbtn {
        float: left;
        margin-left: 10px;
    }

    .goback_cus_filter_list .goback_cus_filter_button button {
        margin: 5px;
        border-color: #2ca01c;
        background-color: #2ca01c;
        color: white;
    }

    .goback_cus_report_filter {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top:10px;
    }

        .goback_cus_report_filter .goback_cus_report_filte_innerr div {
            float: left;
            width: 20%;
            padding-left: 5px;
            padding-right: 5px;
        }

    .goback_cus_report_footer {
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 5px;
        text-align: right;
    }
    .tick_list_head .tic_id_width {
        width:215px;
    }
   .ticket_search_filter_custom {
       width:100%;
       float:left;
       padding-bottom:10px;
   }
   .ticket_search_filter_box {
        width:auto;
       float:left;
       padding-top:10px;
   }
   .ticket_search_filter_box .ticket_filter_box_search {
       width:190px;
       float:left;
   }
    .ticket_search_filter_box .ticket_filter_box_drop {
       width:145px;
       float:left;
   }
     .ticket_search_filter_box .input-group {
       width:170px;
       float:left;
   }
   .create_tkt_div_custom {
        width:auto;
       float:right;
         padding-top:10px;
   }
.left_content_div {
    width: 80%;
    float: left;
}

.right_content_div {
    float: right;
}

.left_content_div button {
    float: left;
}

.left_content_div input, .left_content_div .input-group {
    float: left;
    width: 20%;
}
.ins_track_report_sp_head {
   width:auto;
   float:left;
}
    .ins_track_report_sp_head span {
        margin-right:3px;
    }
    .task_note {
        width:50%;
    }
.itrl_customer {
    width:12%;
}
.itrl_install {
    width: 130px;
}
.itrl_install_q {
    width: 10%;
}
.itrl_date {
    width: 85px;
}
.itrl_qa {
    width: 82px;
}
.itrl_money {
    width: 134px;
}
    .itrl_row {
        width:100%;
        float:left;
    }
.reference_cus_report_left {
    float: left;
    width: auto;
}

.reference_cus_report_filte_innerr {
    width: 100%;
    float: left;
}

.reference_cus_report_left .input-group {
    width: 300px;
    float: left;
}

.reference_cus_report_left #reference_cus_filterbtn {
    float: left;
    margin-left: 10px;
}

.reference_cus_filter_list .reference_cus_filter_button button {
    margin: 5px;
    border-color: #2ca01c;
    background-color: #2ca01c;
    color: white;
}

.reference_cus_report_filter {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

    .reference_cus_report_filter .reference_cus_report_filte_innerr div {
        float: left;
        width: 20%;
        padding-left: 5px;
        padding-right: 5px;
    }

.reference_cus_report_footer {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 5px;
    text-align: right;
}
    @media (max-width:1150px) {
        .single_filter_info_inner_content {
    width: 48%;
    margin: 5px 1%;
}
             .truck_single_filter_info_inner_content {
    width: 48%;
    margin: 5px 1%;
}
       }
       @media (max-width:1080px) {
        .ins_track_report_sp_head {
            display:none;
        }
        .left_content_div {
            width: 100%;
            float: left;
            padding-bottom: 10px;
        }
            .left_content_div input, .left_content_div .input-group {
                float: left;
                width: 25%;
            }

           .ticket_search_filter_box .ticket_filter_box_search {
    width: 20%;
}
.ticket_search_filter_box .ticket_filter_box_drop {
    width: 19%;
}

.ticket_search_filter_box .input-group {
    width: 23%;
}
        .ticket_list_partial_info thead {
            display: none;
        }
        .ticket_list_partial_info tbody tr td {
            width: 100%;
            float: left;
            padding: 3px 0px;
        }
        .ticket_list_partial_device_header {
            display: block !important;
            width: 40%;
            float: left;
            font-size: 13px;
            font-weight: bold;
            padding-left: 5px;
        }

            .ticket_list_partial_device_header span {
                float: right;
                margin-right: 10px;
            }

        .ticket_list_partial_device_info {
            width: 60%;
            float: left;
        }

        .loadticketreportlist_table thead {
            display: none;
        }

        .loadticketreportlist_table tbody tr td {
            width: 100%;
            float: left;
            border: 1px solid #ccc;
        }
       }
@media (max-width: 768px) {
     .lsrp_info_block {
           width:100%;
        
}
        .go_back_srch_filter,
        .app_date_search_filter,
        .date_ref_srch_filter,
        .ins_equip_srch_filter {
            width:100%;
            float:left;
            padding-bottom:10px;
        }
        
     

       .go_back_srch_filter .input-group,
       .app_date_search_filter .TicketType_Search,
       .app_date_search_filter .Ticket_Status_Search,
       .app_date_search_filter .input-group,
       .date_ref_srch_filter .TicketType_Search,
       .date_ref_srch_filter .Ticket_Status_Search,
       .date_ref_srch_filter .input-group,
        .ins_equip_srch_filter .ticket_search_text,
       .ins_equip_srch_filter .TicketType_Search,
       .ins_equip_srch_filter .Ticket_Status_Search,
       .ins_equip_srch_filter .input-group {
           width:50% !important;
           float:left !important;
       }
        .ins_equip_srch_filter_report .ticket_search_text,
       .ins_equip_srch_filter_report .TicketType_Search,
       .ins_equip_srch_filter_report .Ticket_Status_Search,
       .ins_equip_srch_filter_report .input-group {
           width:50% !important;
           float:left !important;
       }
    .ticket_search_filter .col-md-8 {
        display: table;
    }

        .ticket_search_filter .col-md-8 .col-md-4 {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .ticket_search_filter .col-md-8 .col-md-2 {
            width: 50%;
            float: left;
        }

    .ticket_search_filter .search_btn_ticket_filter {
        width: 50%;
        padding: 5px 15px;
        text-align: left;
        float: left;
    }

    .ticket_search_filter .create_tkt_button {
        width: 100%;
        float: left;
        padding: 5px 15px;
    }

    .ticket_list_partial_info thead {
        display: none;
    }

    .ticket_list_partial_info tbody tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

        .ticket_list_partial_info tbody tr:nth-child(even) {
            background-color: #f9f6f6;
        }

        .ticket_list_partial_info tbody tr td {
            width: 100%;
            float: left;
            padding: 3px 0px;
        }
    .loadticketreportlist_table .table_total_bg td {
        width: 100%;
        float: left;
        padding: 15px 0px;
    }

    .loadticketreportlist_table .table_total_bg .total_bg_none_device {
        display: none;
    }
    .ticket_list_partial_device_header {
        display: block;
        width: 40%;
        float: left;
        font-size: 13px;
        font-weight: bold;
        padding-left: 5px;
    }
    .ticket_list_partial_device_header span {
        float:right;
        margin-right:10px;
    }
    .ticket_list_partial_device_info {
        width: 60%;
        float: left;
    }
    .loadticketreportlist_table thead {
        display:none;
    }
    .loadticketreportlist_table tbody tr td {
        width:100%;
        float:left;
        border:1px solid #ccc;
    }
     .ticket_search_filter_box .ticket_filter_box_search {
    width: 100%;
}
.ticket_search_filter_box .ticket_filter_box_drop {
    width: 50%;
}
    .goback_cus_report_filter .goback_cus_report_filte_innerr div,
    .ticket_search_filter_box .input-group {
        width: 50%;
    }
    
    .reference_cus_report_filter .reference_cus_report_filte_innerr div {
        width: 33.33%;
    }
}

@media (max-width: 414px) {
    .lilrp_filter_btn {
        float:right;
    }
    .left_content_div input, .left_content_div .input-group {
        float: left;
        width: 100%;
    }
    .ld_ticket_report_top_bar .page_filter_btn {
        float:right;
    }
    .single_filter_div_container .input-group {
    width: 185px;
    float: left;
}
      .single_filter_info_inner_content {
    width: 98%;
    margin: 5px 1%;
}
       .truck_single_filter_div_container .input-group {
    width: 185px !important;
    float: left;
}
      .truck_single_filter_info_inner_content {
    width: 98%;
    margin: 5px 1%;
}
    

       .go_back_srch_filter .input-group,
       .app_date_search_filter  #searchtext,
       .app_date_search_filter .TicketType_Search,
       .app_date_search_filter .Ticket_Status_Search,
       .app_date_search_filter .input-group,
       .date_ref_srch_filter .TicketType_Search,
       .date_ref_srch_filter .Ticket_Status_Search,
       .date_ref_srch_filter .input-group,
        .ins_equip_srch_filter .ticket_search_text,
       .ins_equip_srch_filter .TicketType_Search,
       .ins_equip_srch_filter .Ticket_Status_Search,
       .ins_equip_srch_filter .input-group {
           width:100% !important;
           float:left !important;
       }
    .go_back_srch_filter .input-group,
    .date_ref_srch_filter .input-group,
    .app_date_search_filter .input-group {
        margin-bottom: 10px;
    }
    .go_back_srch_filter .page_filter_btn,
    .date_ref_srch_filter .page_filter_btn {
        float: right;
    }
    .ins_equip_srch_filter_report .ticket_search_text,
    .ins_equip_srch_filter_report .TicketType_Search,
    .ins_equip_srch_filter_report .Ticket_Status_Search,
    .ins_equip_srch_filter_report .input-group {
        width: 100% !important;
        float: left !important;
    }
     .ticket_list_partial_device_header {
        width: 55%;
    }
    
    .ticket_list_partial_device_info {
        width: 45%;
    }
    .ticket_search_filter .col-md-8 .col-md-2 {
        width: 50%;
    }
     .ticket_search_filter .col-md-8 .col-md-2 {
            width: 100%;
        }
     .load_sales_report_partial_top_bar_inner {
         width:100%;
         float:left;
         padding-bottom:10px;
     }
       .load_sales_report_partial_top_bar_inner #sales_txt_search {
           width:100%;
       }
       .load_sales_report_partial_top_bar_inner .input-group {
            width:100%;
            margin-left:0px;
       }
    .goback_cus_report_filter .goback_cus_report_filte_innerr div,
    .reference_cus_report_filter .reference_cus_report_filte_innerr div {
        width: 100%;
    }
}
