.customer_container {
    width: 100%;
    float: left;
    padding-top: 0px !important;
}

.customer_report_btn {
    background-color: #2ca01c;
    color: #ffffff;
}

.customer-new {
    background-color: #2ca01c;
    color: #ffffff;
    box-shadow: none;
    border-right: none;
    border: 1px solid #8d9096;
    outline: none;
    padding: 0 15px;
    position: relative;
    min-width: 80px;
    cursor: pointer;
    font-size: 1.4rem;
    height: 34px;
    line-height: 34px;
    overflow: visible;
    text-align: center;
}

.AddNewBtnDiv {
    margin-top: 10px;
    float: right;
    color: white;
}

    .AddNewBtnDiv .dropdown-toggle {
        margin-left: 0px !important;
        border-left: 1px solid #fff !important;
    }

.custom-head {
    font-family: 'Play', sans-serif;
    margin-top: 0px;
}

.displayNone {
    display: none;
}

.customer-btn-dropdown {
    background-color: #2ca01c;
    border: 1px solid #2ca01c;
    color: #ffffff;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    box-shadow: none;
    border-left: 1px solid #108000;
}

.customer-dropdown-ul-style {
    border: 1px solid #666 !important;
    font-size: 13px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
}

.less_padding {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.fixed_header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    /*margin-top: -7px;*/
}

.customer_header_left_custom {
    width: 32%;
    float: left;
}

.customer_header_right_custom {
    width: 68%;
    float: left;
}

.manual_top {
    padding-top: 15px;
}

.header_text_position {
    margin-top: 0px;
}

.ListTicketContents {
    width: 100%;
    float: left;
    margin-top: 50px;
}


.ticket_card_view {
}

.ticket_list_view {
    display: none !important;
}

.tick_display_block {
    display: block !important;
}

.tick_display_none {
    display: none !important;
}






.fresh-table {
    table-layout: fixed;
    padding-bottom: 10px;
    transition: opacity .2s;
    overflow-x: auto;
}

.sidebar-present .sidebar {
    width: 310px;
}

.page-sidebar .sidebar {
    border-left: 1px solid #cfd7df;
    overflow-y: auto;
    padding: 10px 8px 30px 16px;
    position: absolute;
    top: 0;
    min-width: 50px;
    margin-top: 112px;
    z-index: 9;
}

.page-sidebar {
    display: none;
}

    .page-sidebar .sidebar {
        background-color: #f5f7f9;
        right: 31px;
        bottom: 0px;
    }

.btn--text-transparent.btn--info,
.initialism,
.text--uppercase,
.text-uppercase {
    text-transform: uppercase
}

dl,
ol,
ul {
    margin-top: 0
}

    blockquote ol:last-child,
    blockquote p:last-child,
    blockquote ul:last-child,
    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-bottom: 0
    }

ol,
ul {
    margin-bottom: 10px
}

.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto
}

    .container-fluid:after,
    .container-fluid:before,
    .container:after,
    .container:before,
    .row:after,
    .row:before {
        display: table;
        content: " "
    }

.container,
.container-fluid {
    padding-left: 15px;
    padding-right: 15px
}

caption,
th {
    text-align: left
}

.container-fluid:after {
    clear: both
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

    .row:after {
        clear: both
    }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent
}

.btn-group > .btn-group,
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.dropdown-menu {
    float: left
}

.form-control,
output {
    font-size: 14px;
    color: #183247
}

label {
    display: inline-block;
    margin-bottom: 5px
}

.form-control,
input[type=file],
input[type=range],
output {
    display: block
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal
}

.dropdown-header,
.dropdown-menu > li > a,
.form-control,
output {
    line-height: 1.428571429
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

    .form-control::-webkit-input-placeholder {
        color: #acb6be
    }

.collapsing,
.dropdown,
.dropup {
    position: relative
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.collapse {
    display: none
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

    .btn-group-vertical > .btn,
    .btn-group > .btn {
        position: relative;
        float: left
    }

        .btn .caret,
        .btn-group > .btn:first-child {
            margin-left: 0
        }

.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before {
    content: " ";
    display: table
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

.modal,
.modal-backdrop {
    position: fixed;
    right: 0;
    left: 0
}

.navbar:after {
    clear: both
}

.navbar-header:after {
    clear: both
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    -webkit-overflow-scrolling: touch
}

    .navbar-collapse:after {
        clear: both
    }

.modal,
.modal-open,
.progress {
    overflow: hidden
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    height: 50px
}

    .navbar-brand > img {
        display: block
    }



.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px
    }

        .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px
        }




.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e7e7e7
    }

.modal {
    display: none;
    top: 0;
    bottom: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.attachment:after,
.attachment:before,
.clearfix:after,
.clearfix:before,
.ember-power-calendar .ember-power-calendar-row:after,
.ember-power-calendar .ember-power-calendar-row:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.ticket-details__item .emails-wrapper:after,
.ticket-details__item .emails-wrapper:before,
.ticket-note-typography .freshdesk_quote blockquote div:after,
.ticket-note-typography .freshdesk_quote blockquote div:before {
    content: " ";
    display: table
}

#moduleloading,
.app-icon-btn,
.btn,
.fr-quoted-marker,
.init-center,
.loader,
.menu-item,
.partloading {
    text-align: center
}

.attachment:after,
.clearfix:after,
.ember-power-calendar .ember-power-calendar-row:after,
.ticket-details__item .emails-wrapper:after,
.ticket-note-typography .freshdesk_quote blockquote div:after {
    clear: both
}

.pull-right {
    float: right !important
}

.pull-left,
.ticket-details__item .emails-wrapper {
    float: left !important
}

.hidden {
    display: none !important
}

.app-icon-btn:focus,
.btn--danger:focus,
.btn--primary:focus {
    transform: scale(.98)
}

.btn.btn--danger,
.btn.btn--primary,
.btn.btn--secondary,
.btn.btn--tertiary {
    letter-spacing: .3px;
    font-weight: 500
}

.btn--primary {
    background-color: #264966;
    border: 1px solid #12344d;
    background-image: linear-gradient(to bottom, #264966, #12344d)
}

    .btn--primary.disabled,
    .btn--primary[disabled] {
        cursor: not-allowed;
        transition: .1s linear;
        color: #f3f5f7;
        border: 1px solid #8899a6;
        background-image: linear-gradient(to bottom, #92a4b2, #8899a6)
    }

.btn--facebook:hover:not([disabled]),
.btn--transparent,
.btn--twitter:hover:not([disabled]) {
    background-image: none
}

.btn--transparent {
    background-color: transparent;
    border: none;
    color: #183247;
    padding: 8px 5px;
    box-shadow: none
}

.app-icon-btn,
.app-icon-btn--text .app-icon,
.app-icon-btn--text a,
.btn--tag,
.btn--text-transparent .app-icon,
.tag-inline,
.tag-more-btn {
    display: inline-block
}

.tag {
    border-radius: 4px;
    padding: 2px 10px;
    color: #848b99;
    font-size: 12px;
    background-color: #fff;
    font-weight: 500
}

.tag--customer-responded {
    background-color: #e5f2fd;
    color: #2c5cc5;
    border: 1px solid #bbdcfe
}

.tag--elapsed,
.tag--nextresponsedue,
.tag--overdue {
    background-color: #ffecf0;
    color: #c82124;
    border: 1px solid #ffd0d6
}

.app-icon-btn {
    height: 32px;
    min-width: 32px;
    border-radius: 4px;
    border: 1px solid #cfd7df;
    color: #12344d;
    cursor: pointer;
    padding-top: 5px;
    margin-right: 2px;
    font-size: 14px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    transition: .1s ease-in;
    background-image: linear-gradient(to bottom, #fff, #f3f5f7)
}

    .app-icon-btn:focus,
    .app-icon-btn:focus-within {
        border: 1px solid #2e6ed8;
        box-shadow: 0 0 0 1px #2e6ed8
    }

    .app-icon-btn:active {
        border: 1px solid #b1bdc8;
        box-shadow: inset 0 0 4px 0 rgba(39, 49, 58, .26)
    }

    .app-icon-btn .app-icon {
        width: 14px;
        height: 14px;
        fill: #183247
    }

    .app-icon-btn:hover {
        background-color: #f3f5f7;
        background-image: none
    }

        .app-icon-btn:hover:not([disabled]) {
            outline: 0;
            background-color: #ebedf0
        }

            .app-icon-btn:hover:not([disabled]) .app-icon {
                fill: #183247
            }

.app-icon-btn--active {
    border: 1px solid #b1bdc8;
    box-shadow: inset 0 0 4px 0 rgba(39, 49, 58, .26)
}

.app-icon-btn--oval-left,
.app-icon-btn--oval-left.app-icon-btn--active {
    border-radius: 2px 0 0 2px
}

.app-icon-btn--text {
    color: #183247;
    padding: 2px 10px 3px 8px
}

    .app-icon-btn--text .app-icon {
        width: 13px;
        vertical-align: middle;
        position: relative;
        top: -1px;
        fill: #183247;
        margin-right: 3px
    }

.app-icon-btn--oval-left,
.app-icon-btn--oval-right {
    position: relative;
    margin-right: 0
}

    .app-icon-btn--oval-left .app-icon,
    .app-icon-btn--oval-right .app-icon {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 8px
    }

.app-icon-btn--oval-left {
    right: -4.08px;
    z-index: 2
}

    .app-icon-btn--oval-left .app-icon {
        left: 6px
    }

.app-icon-btn--oval-right .app-icon {
    left: 7px
}

.app-icon-btn--disabled .app-icon,
.app-icon-btn--disabled:hover:not([disabled]) .app-icon,
.app-icon-btn[disabled] .app-icon,
.app-icon-btn[disabled]:hover:not([disabled]) .app-icon {
    fill: #cdcdcd
}

.app-icon-btn--disabled,
.app-icon-btn[disabled] {
    cursor: not-allowed;
    color: #dadfe3;
    background-image: none;
    background-color: #f3f5f7
}

.app-pagination-left {
    border-radius: 4px 0 0 4px
}

.app-pagination-right {
    border-radius: 0 4px 4px 0
}

.app-dropdown-group {
    vertical-align: inherit;
    display: inline-block
}

.drop-small {
    position: relative
}

.dropdown-recent-ticket__item,
.text__content {
    color: #183247;
    margin: 0;
    padding: 0
}

.__ui-form__editor__social-editor .socialeditor__count,
.__ui-form__editor__ticket-editor .ticket-editor__footer .ticket-editor__action.link-to-forum .label-field,
.text__infotext {
    font-size: 13px;
    color: #6f7c87
}

.text--default,
.text--xxsmall {
    font-size: 14px
}

.modal-diff-checker__title__link-tab__event,
.text--extra-bold {
    font-weight: 600
}

.avatar-icon,
.profilepic {
    color: #fff;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 10%
}

.avatar-icon--small,
.profilepic--small {
    width: 24px;
    height: 24px
}

.avatar-icon--large,
.profilepic--large {
    width: 44px;
    height: 44px
}

.list td,
.list th {
    border-bottom: 1px solid #ebeff3
}

.list {
    width: 100%;
    border-collapse: separate;
    border-radius: 4px
}

    .list thead {
        background-color: #f5f7f9;
        padding: 10px 0
    }

    .list th {
        font-weight: 400;
        font-size: 13px;
        color: #041a15;
        padding: 10px 0
    }

    .list tbody {
        background: #fff;
        transition: .3s opacity ease-in-out
    }

    .list td {
        padding: 7px 0
    }

.avatar-icon {
    display: inline-block;
    position: relative;
    text-align: center
}

    .avatar-icon.avatar-icon--small {
        width: 24px;
        height: 24px
    }

    .avatar-icon.avatar-icon--large {
        width: 44px;
        height: 44px
    }

    .avatar-icon.avatar-icon--circle {
        border-radius: 100%
    }

        .avatar-icon.avatar-icon--circle .avatar-block {
            border-radius: 6px
        }

.avatar__initial--1,
.avatar__initial--2,
.avatar__initial--3,
.avatar__initial--4,
.avatar__initial--5,
.avatar__initial--6,
.avatar__initial--7,
.avatar__initial--8 {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .04);
    color: rgba(0, 0, 0, .3)
}

.avatar__initial {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-radius: 2px
}

.avatar__initial--icon-wrapper {
    text-transform: uppercase;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    fill: #fff;
    font-weight: 500
}

.avatar-icon--small .avatar__initial--icon-wrapper {
    font-size: 11px
}

.avatar-icon--large .avatar__initial--icon-wrapper,
.avatar-icon--medium .avatar__initial--icon-wrapper {
    font-size: 14px
}

.avatar__initial--1 {
    background-color: #cdebc4
}

.avatar__initial--2 {
    background-color: #ffdee0
}

.avatar__initial--4 {
    background-color: #ffd8c2
}

.avatar__initial--6 {
    background-color: #f3f1f1
}

.avatar__initial--7 {
    background-color: #fff4a8
}

.filter-items-container .app-icon-btn--filter-search {
    margin-right: -5px
}

    .filter-items-container .app-icon-btn--filter-search .app-icon {
        stroke-width: 1px;
        stroke: #6f7c87
    }

.__ui-components__gravity-loader {
    display: inline-block;
    width: 25px;
    height: 20px;
    position: relative
}

.__ui-components__list-with-show-more {
    float: left
}

.__ui-components__refresh-notification {
    position: fixed;
    margin-top: -5px;
    right: 50%;
    width: auto;
    height: 32px;
    z-index: 999;
    text-align: center
}

.custom-checkbox input[type=checkbox] {
    position: absolute;
    opacity: 0
}

    .custom-checkbox input[type=checkbox] + label {
        user-select: none;
        cursor: pointer;
        padding-left: 27px;
        margin-bottom: 0;
        vertical-align: middle
    }

        .custom-checkbox input[type=checkbox] + label::before {
            position: absolute;
            left: 0;
            top: 3px;
            display: block;
            content: "";
            border: 1px solid #cfd7df;
            height: 14px;
            width: 14px;
            background-color: #fff;
            transition: all .2s ease;
            box-sizing: border-box;
            border-radius: 2px
        }

        .custom-checkbox input[type=checkbox] + label::after {
            position: absolute;
            display: block;
            content: "";
            left: 4px;
            top: 5px;
            width: 5px;
            height: 7px;
            transform: rotate(45deg);
            opacity: 0;
            transition: opacity .2s ease-in-out;
            box-sizing: border-box
        }

.cursor-pointer,
.header-primary .search-toggle:hover {
    cursor: pointer
}

.app-content-area,
body {
    min-width: 1022px
}

.header-secondary {
    position: sticky;
    top: 55px;
    z-index: 9;
    background-color: #f5f7f9;
    height: 56px;
    border-bottom: 1px #cfd7df solid;
    padding: 0 15px;
    box-shadow: 0 2px 4px 0 rgba(24, 50, 71, .08)
}

.muted {
    color: #6f7c87
}

.link-on-hover {
    color: inherit
}

.border-left--none {
    border-left: none
}

.__app-components__fsm-scheduler-tasks-list__ticket-card.card .card__body .responder__data--group,
.__app-components__fsm-scheduler-tasks-list__ticket-card.card .card__data--content,
.__app-components__fsm-scheduler__agent-card .agent-contact-no,
.__app-components__fsm-scheduler__agent-card .agent-name,
.__app-components__fsm-scheduler__ticket-card .card__header,
.__ui-components__event-scheduler .calendar__row--name .resource-name,
.ellipsis,
.es__external-events .external-event-wrapper .event {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.p0 {
    padding: 0
}

.ml-10 {
    margin-left: 10px
}

.mr-5 {
    margin-right: 5px
}

.pl-0 {
    padding-left: 0
}

.pl-5 {
    padding-left: 5px
}

.pl-10 {
    padding-left: 10px
}

.pr-5 {
    padding-right: 5px
}

.pr-10 {
    padding-right: 10px
}

.pr-12 {
    padding-right: 12px
}

.mt-0 {
    margin-top: 0
}

.mb-0,
.ticket-details__item.activities-conversation__deleted .created-time,
.ticket-details__item.ticket-details__item__activity .created-time {
    margin-bottom: 0
}

svg {
    max-height: 100%
}

.app-icon {
    fill: #12344d
}

.app-icon--topalign {
    position: relative;
    top: 2px
}

.app-icon--micro {
    width: 4px;
    height: 4px;
    fill: #6f7c87;
    margin: 1px 2px
}

.app-icon--verysmall {
    width: 9px;
    height: 9px
}

.app-icon--small {
    width: 13px;
    fill: #12344d;
    height: 13px
}

.wordbreak-fix {
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

.app-container,
.ember-application > .ember-view,
.iframe-content,
.page-iframe .responsive,
body,
html {
    height: 100%
}

.list-filter-wrap .list-filter__item,
.tickets__list {
    margin-bottom: 8px
}

.ticket-info {
    padding-top: 4px;
    color: #6f7c87
}

.ticket-notactive td {
    filter: grayscale(100%);
    opacity: .5
}

.current__item--active td:first-child {
    position: relative
}

    .current__item--active td:first-child::before {
        content: "";
        position: absolute;
        width: 2px;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #95a3af;
        transition: 10ms linear;
        border-radius: 2px 0 0 2px
    }

.card-view .current__item--active td:first-child::before {
    bottom: 8px
}

.tickets__list {
    min-height: 92px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #cfd7df;
    display: table;
    width: 100%;
    box-sizing: border-box
}

    .tickets__list .list-content {
        padding-top: 16px;
        padding-bottom: 16px
    }

    .tickets__list .list-content--main {
        padding-right: 16px
    }

    .tickets__list .list-content--info {
        padding-left: 26px
    }

.tickets__list--high,
.tickets__list--low,
.tickets__list--medium,
.tickets__list--urgent {
    border-radius: 2px;
    display: inline-block;
    width: 8px;
    height: 8px
}

.tickets__list--low {
    background-color: #a0d76a
}

.tickets__list--medium {
    background-color: #4da1ff
}

.tickets__list--high {
    background-color: #ffd012
}

.tickets__list--urgent {
    background-color: #ff5959
}

.tickets__list .avatar-overlay {
    position: absolute;
    background-color: #fff;
    width: 44px;
    height: 44px;
    z-index: 2;
    opacity: 0;
    transition: .2s ease-in-out
}

.list-filter__priority {
    width: 173px
}

    .list-filter__priority .list-filter__item--icon-overlay {
        top: 0;
        left: 0
    }

    .list-filter__priority .list-filter__label {
        padding-left: 13px
    }

    .list-filter__priority .ember-power-select-placeholder.label-field,
    .list-filter__priority__label .tickets__list--dropdown {
        display: none
    }

.list-check-wrap,
.list-content-wrap {
    display: table-cell;
    vertical-align: middle
}

.list-check-wrap {
    width: 70px
}

    .list-check-wrap .app-user-photo {
        position: relative;
        top: 0;
        margin-left: 28px
    }

    .list-check-wrap .custom-checkbox {
        top: 3px;
        position: absolute;
        left: 10px
    }

.list-content-wrap {
    padding-left: 16px
}

    .list-content-wrap .user-link {
        float: none;
        padding: 0
    }

.page-actions__left,
.ticket-tag-wrap .status-tag-wrap {
    float: left
}

.list-content-wrap .user-link a {
    color: #183247;
    margin-left: 3px
}

.list-filter-wrap .list-filter {
    padding-left: 0;
    font-size: 13px
}

.list-filter-wrap .list-filter__item--last,
.list-filter-wrap .list-filter__item:last-child {
    margin-bottom: 0
}

.list-filter-wrap .list-filter__item:hover .app-icon {
    fill: #183247
}

.list-filter-wrap .list-filter__item--icon-overlay {
    position: absolute;
    background: #fff;
    z-index: 2;
    height: 13px
}

    .list-filter-wrap .list-filter__item--icon-overlay .tickets__list--dropdown {
        top: 4px;
        position: absolute;
        left: 2px
    }

.list-filter-wrap .list-filter__label {
    padding-left: 5px;
    position: relative;
    padding-right: 15px
}

.list-filter-wrap .list-filter__icon {
    position: relative;
    width: 15px;
    height: 13px
}

    .list-filter-wrap .list-filter__icon .app-icon {
        position: absolute;
        left: 0;
        top: 2px;
        fill: #183247
    }

.list-filter-wrap .list-filter__icon-assignto,
.list-filter-wrap .list-filter__icon-status {
    top: 2px
}

.list-filter-wrap .list-filter__status {
    width: 213px
}

.list-filter-wrap .list-filter__priority {
    width: 173px
}

    .list-filter-wrap .list-filter__priority .list-filter__item--icon-overlay {
        top: 0;
        left: 0
    }

    .list-filter-wrap .list-filter__priority .list-filter__label {
        padding-left: 10px
    }

.list-filter-wrap .list-filter__priority__label .tickets__list--dropdown {
    display: none
}

.ember-power-select-status-icon.list-filter__label__pointer,
.list-filter__label__pointer.select-dropdown-trigger__status-icon {
    top: 5px;
    right: 3px
}

.list-priority--before-hover .list-filter__label {
    padding-right: 15px;
    position: relative;
    display: inline-block;
    line-height: normal;
    float: left
}

    .list-priority--before-hover .list-filter__label .list-filter__label__pointer {
        top: 4px
    }

.ticket-tag-wrap {
    width: 100%;
    padding-bottom: 6px
}

    .ticket-tag-wrap .tag {
        display: inline;
        padding: 0 4px 1px;
        margin-right: 4px
    }

.page-actions__left,
.page-actions__right {
    margin-top: 15px;
    padding-right: 0;
    padding-left: 0
}

.page-actions__right {
    float: right
}

.fresh-pagination {
    display: inline-block;
    margin-right: 4px
}

.top-navigation-checkbox {
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-left: 10px
}

.top-navigation--checkbox-wrapper {
    float: left;
    margin-right: 15px
}

.list-content {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding-right: 5px
}

.form-control,
.form-control:focus {
    box-shadow: none
}

.filter-list {
    padding: 5px 10px 30px 0
}

.filter-list--fixed-footer {
    position: relative;
    height: 100%;
    padding-right: 0
}

    .filter-list--fixed-footer .filter-items-container {
        height: 85%;
        padding-right: 20px;
        padding-left: 2px
    }

    .filter-list--fixed-footer .filter-list-footer {
        background-color: #f8f9fa;
        position: fixed;
        width: 277px;
        height: 60px;
        border-top: 1px #ebeff3 solid;
        padding: 18px 3px;
        bottom: 0
    }

        .filter-list--fixed-footer .filter-list-footer .filter-list-btn {
            width: 270px
        }

.form-control {
    border: none;
    background: 0 0;
    border-bottom: 1px #cfd7df solid;
    border-radius: 0;
    position: relative;
    z-index: 1
}

.sidebar-present .sidebar {
    width: 310px
}

.ember-basic-dropdown,
.ember-basic-dropdown-content,
.ember-basic-dropdown-content * {
    box-sizing: border-box
}

.ember-power-select-trigger,
.select-dropdown-trigger {
    position: relative;
    background-color: #fff;
    line-height: 2;
    overflow-x: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    color: inherit
}

    .ember-power-select-trigger:after,
    .select-dropdown-trigger:after {
        content: "";
        display: table;
        clear: both
    }

.ember-power-select-status-icon,
.select-dropdown-trigger__status-icon {
    position: absolute;
    margin: auto;
    border-width: 7px 4px 0;
    border-color: #999 transparent transparent
}

.ember-power-select-trigger-multiple-input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    display: inline-block;
    line-height: inherit;
    -webkit-appearance: none;
    outline: 0;
    padding: 0;
    float: left;
    background-color: transparent;
    text-indent: 0
}

    .ember-power-select-trigger-multiple-input::placeholder {
        opacity: 1;
        color: #999
    }

    .ember-power-select-trigger-multiple-input::-webkit-input-placeholder {
        opacity: 1;
        color: #999
    }

.ember-power-select-multiple-options {
    padding: 0;
    margin: 0
}

.ember-basic-dropdown-trigger {
    outline: 0
}

.ember-power-select-trigger,
.select-dropdown-trigger {
    background: #fff;
    border: none;
    border: 1px solid #cfd7df;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 1px 24px 1px 12px;
    overflow-y: hidden;
    min-height: 32px
}

    .ember-power-select-trigger:hover,
    .select-dropdown-trigger:hover {
        border: 1px solid #475867;
        transition: .2s linear
    }

.ember-power-select-multiple-trigger {
    padding: 2px 24px 2px 8px
}

.ember-power-select-status-icon,
.select-dropdown-trigger__status-icon {
    right: 12px;
    content: "";
    display: inline-block;
    top: 2px;
    bottom: 5px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-style: inherit;
    border-top: 1px solid #12344d;
    border-right: 1px solid #12344d;
    border-left: transparent;
    transform: rotate(135deg)
}

.list-filter .assignto-filter-wrap .ember-power-select-status-icon,
.list-filter .assignto-filter-wrap .select-dropdown-trigger__status-icon {
    right: -12px;
    top: 3px
}

.assignto-filter-wrap {
    position: relative
}

.input .help-block,
.input label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

.ember-power-select-multiple-options .ember-power-select-trigger-multiple-input {
    line-height: 1.8;
    margin-left: 3px;
    max-width: 100%
}

.ember-power-select-multiple-options ::-webkit-input-placeholder {
    color: #acb6be
}

.dropdown-select .ember-power-select-trigger,
.dropdown-select .select-dropdown-trigger,
.ticket-list-dropselect .ember-power-select-trigger,
.ticket-list-dropselect .select-dropdown-trigger {
    border: none
}

.dropdown-select[class*=hint--],
.ticket-list-dropselect[class*=hint--] {
    display: inherit
}

.dropdown-select .ember-power-select-status-icon,
.dropdown-select .select-dropdown-trigger__status-icon,
.ticket-list-dropselect .ember-power-select-status-icon,
.ticket-list-dropselect .select-dropdown-trigger__status-icon {
    right: inherit;
    margin-left: 7px;
    top: 4px
}

.ember-power-select-placeholder,
.ember-power-select-selected-item {
    margin-left: 0
}

.fresh-table {
    table-layout: fixed;
    padding-bottom: 10px;
    transition: opacity .2s;
    overflow-x: auto
}

    .fresh-table .list tbody tr:last-child td:first-child {
        border-radius: 0 0 0 3px
    }

    .fresh-table .list tbody tr:last-child td:last-child {
        border-radius: 0 0 3px
    }

    .fresh-table .list tbody tr .custom-checkbox {
        margin-bottom: 0
    }

    .fresh-table .list tbody td {
        vertical-align: middle;
        display: table-cell
    }

        .fresh-table .list tbody td:first-child {
            padding-right: 0;
            padding-left: 17px;
            padding-top: 8px
        }

        .fresh-table .list tbody td:nth-child(2) {
            padding-left: 0
        }

        .fresh-table .list tbody td > div {
            position: relative
        }

    .fresh-table .list thead .lt-column,
    .fresh-table .list thead th {
        background-color: #f5f7f9;
        color: inherit
    }

        .fresh-table .list thead .lt-column > div,
        .fresh-table .list thead th > div {
            padding: 7px 0;
            position: relative
        }

        .fresh-table .list thead .lt-column:first-child,
        .fresh-table .list thead th:first-child {
            padding-right: 0;
            padding-left: 10px;
            border-radius: 3px 0 0
        }

        .fresh-table .list thead .lt-column:nth-child(2),
        .fresh-table .list thead th:nth-child(2) {
            padding-left: 0
        }

        .fresh-table .list thead .lt-column:last-child,
        .fresh-table .list thead th:last-child {
            border-radius: 0 3px 0 0
        }

.lt-head .lt-column {
    background-color: #f7f9fa;
    color: #6f7c87;
    display: table-cell;
    padding: 15px 15px 15px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

    .lt-head .lt-column > div {
        padding: 7px 0;
        position: relative
    }

    .lt-head .lt-column:first-child {
        padding-right: 0;
        padding-left: 20px;
        border-radius: 3px 0 0
    }

    .lt-head .lt-column:nth-child(2) {
        padding-left: 0
    }

    .lt-head .lt-column:last-child {
        border-radius: 0 3px 0 0
    }

.ember-light-table {
    overflow: inherit
}

    .ember-light-table .lt-row.is-selectable {
        cursor: default
    }

.list .tag {
    display: inline-block
}

.avatar-info-cell {
    display: flex;
    align-items: center
}

.avatar-image {
    padding-right: 10px
}

.fresh-table .ember-light-table {
    overflow: visible;
    background-color: #ebeff3;
    padding: 10px;
}

.fresh-table .ember-light-table {
    height: inherit;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ember-light-table table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}

.fresh-table .list tbody .lt-cell-truncate {
    word-wrap: break-word;
    padding-right: 10px
}

.fresh-table .list tbody .lt-cell-autorefresh {
    padding-right: 5px
}

.filter-items-container {
    margin: 10px 0;
    padding-right: 10px
}

    .filter-items-container .app-icon-btn--filter-search {
        float: right;
        margin-top: -38px;
        position: absolute;
        right: 23px;
    }

        .filter-items-container .app-icon-btn--filter-search .app-icon {
            width: 14px;
            height: 14px;
            fill: #12344d
        }

.app-form .filter-item {
    margin: 0 0 20px
}

    .app-form .filter-item .ember-power-select-selected-item {
        font-weight: 500
    }

.app-form .filter-field-title {
    color: #475867;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 4px
}

    .app-form .filter-field-title:not(.shared-ownership-label) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

.fr-tooltip,
.input label {
    font-weight: 400
}

.input {
    position: relative;
    margin-bottom: 16px
}

    .input label {
        color: #475867;
        cursor: text
    }

.app-form {
    margin-top: 15px
}

    .app-form .ember-power-select-trigger,
    .app-form .select-dropdown-trigger {
        overflow: visible;
        min-height: 32px;
        padding: 0 24px 0 12px
    }

    .app-form .ember-power-select-multiple-trigger {
        padding: 2px 24px 2px 8px
    }

    .app-form .ember-power-select-selected-item {
        font-size: 14px;
        color: #183247;
        display: block;
        padding-bottom: 2px
    }

::-webkit-input-placeholder {
    color: #acb6be
}

.__module-tickets__new-ticket__default-requester .ember-power-select-multiple-options .ember-power-select-trigger-multiple-input,
.__module-tickets__tickets-list__top-navigation .sortby-dropdown {
    line-height: 0
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .ember-power-select-status-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .__module-tickets__assign-to .ember-power-select-status-icon,
.__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .group-agent-label .display-label .ember-power-select-status-icon {
    right: 1px;
    margin-left: 2px;
    position: relative
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .__module-tickets__assign-to .group-field {
    width: 400px;
    display: flex
}

    .__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .__module-tickets__assign-to .group-field .assign-to-select {
        width: 200px
    }

    .__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .__module-tickets__assign-to .group-field .ember-power-select-trigger {
        float: left;
        border: 0;
        padding: 0;
        width: 175px
    }

        .__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .__module-tickets__assign-to .group-field .ember-power-select-trigger .ember-power-select-selected-item {
            padding-right: 0;
            position: relative;
            top: 2px
        }

.__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .assign-to-label .assign-to-label-text,
.__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .assignto-filter-wrap > div,
.__module-tickets__tickets-list__tickets-table__cell-renderer .status-select .ember-power-select-trigger {
    padding-right: 10px
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .group-agent .__module-tickets__assign-to .group-field .agent-filter .ember-power-select-trigger {
    margin-top: 0;
    width: 180px
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .list-filter__label .ember-power-select-status-icon {
    position: relative;
    margin-left: 1px;
    margin-bottom: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .status-select > .ticket-list-dropselect {
    padding-left: 0
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .status-select .ember-power-select-status-icon {
    right: 1px
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .priority .list-filter__label {
    padding-bottom: 0
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .priority .ember-power-select-trigger {
    padding-right: 0
}

    .__module-tickets__tickets-list__tickets-table__cell-renderer .priority .ember-power-select-trigger .ember-power-select-selected-item {
        display: inline-block;
        padding-right: 10px
    }

.__module-tickets__tickets-list__tickets-table__cell-renderer .priority .ember-power-select-status-icon {
    position: absolute;
    right: 1px;
    bottom: 0;
    top: 0
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .priority > .list-filter__label {
    padding-right: 10px;
    padding-left: 0;
    padding-top: 3px
}

.__module-tickets__tickets-list__tickets-table__cell-renderer .priority .priority-icon {
    top: 3px
}

.__module-tickets__tickets-list__tickets-table__group-agent-column-renderer {
    display: flex;
    width: 400px
}

    .__module-tickets__tickets-list__tickets-table__group-agent-column-renderer .header-text {
        width: 200px
    }

.__module-tickets__tickets-list__tickets-table__ticket-item .list-checkbox {
    margin-right: 0;
    position: absolute;
    left: 5px;
    margin-top: 10px
}

.__module-tickets__tickets-list__tickets-table__ticket-item .list-content {
    padding-left: 16px
}

.__module-tickets__tickets-list__top-navigation .btn--date-select {
    font-size: 13px
}

.__module-tickets__tickets-list__top-navigation .view-action {
    margin-right: 12px
}

.__module-tickets__tickets-list__tickets-table .ember-light-table .lt-body-wrap {
    display: block
}

.ember-light-table .lt-body-wrap {
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media only screen and (max-width:1100px) {
    .header-secondary .app-icon-btn--text {
        padding: 2px 8px 3px 6px
    }
}

@media only screen and (max-width:1025px) {
    body {
        min-width: 1010px
    }

    .header-secondary .app-icon-btn--text {
        padding: 2px 4px 3px
    }
}
@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-12 {
        width: 100%
    }
}
@media(max-width:768px) {
    .customer_header_left_custom {
        width: 47%;
    }

    .customer_header_right_custom {
        width: 53%;
    }

        .customer_header_right_custom .dateviewed {
            margin-right: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .customer_container .manual_top:first-child {
        /*top: 50px;*/
    }
}
@media (min-width:768px) {
    .navbar {
        border-radius: 4px
    }

    .navbar-header {
        float: left
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important
        }
}

@media (min-width:768px) {
    .navbar-fixed-bottom,
    .navbar-fixed-top,
    .navbar-static-top {
        border-radius: 0
    }
}

@media(max-width:414px) {
    .AddNewBtnDiv {
        float: right;
        color: white;
        width: 100%;
        text-align: right;
    }

    .customer_container .manual_top:first-child {
        padding-top: 0px;
    }

    .customer_header_left_custom {
        width: 23%;
        float: left;
    }

    .customer_header_right_custom {
        width: 77%;
        float: left;
        padding-top: 5px;
    }

    .header_text_position {
        margin-top: 10px;
    }
}

@media(max-width:375px) {
    h2 {
        font-size: 20px;
    }

    .AddNewBtnDiv {
        margin-top: 6px;
        margin-bottom: 5px;
    }
}



