.commission_container {
    width:100%;
    float:left;
}
.commission_header {
    width:100%;
    float:left;
    background-color:#eceef1;
    font-size:20px;
    text-align:left;
    padding:10px 15px;
}
.commission_header_small {
     width:100%;
    float:left;
    background-color:#eceef1;
    font-size:18px;
    text-align:left;
    padding:10px 15px;
}
.commission_inner_height {
     width:100%;
    float:left;
}
.commission_inner {
    width:100%;
    float:left;
    padding:10px 15px;
}

.commission_inner .form-group {
    margin-bottom:10px;
}

.commission_inner .form-group .span_style {
    float:left;
    font-weight:bold;
}
.commission_inner .form-group .label {
    font-weight:normal;
}
.commission_footer {
    width:100%;
    float:left;
    padding:10px 15px;
    background-color:#eceef1;
}
.commission_footer button {
    float:right;
    background-color:#2ca01c;
    color:#fff;
}
.commission_footer button:hover,
commission_footer button:focus {
    background-color:#2ca01c;
    color:#fff;
}