

.header-title {
    width: 50%;
    float: left;
}

.custom-title-span {
    line-height: 50px;
    font-size: 2rem;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.div-body-contents {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.balance-info {
    width: 30%;
    float: right;
    text-align: center;
}

.invoice-info-left-70p {
    float: left;
    width: 70%;
}

.width-30p {
    float: left;
    width: 30%;
    padding-right: 30px;
}

.width-25p {
    float: left;
    width: 25%;
    padding-right: 10px;
}

.span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.amount-span-style {
    font-size: 3.8rem;
    height: 3.8rem;
}

.table-info {
    padding-left: 50px;
    padding-right: 50px;
}

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 15px;
}

    .table-body-td-style:hover {
        background-color: #ddd;
        cursor: pointer;
    }

.border-right-2pxddd {
    border-right: 2px solid #ddd;
}

.tr-style:hover {
    background-color: #ffffff;
}

.display-none {
    display: none;
}

.CustomerInvoiceTab {
    width: 100%;
    margin: 10px auto;
    table-layout:fixed;
}

    .CustomerInvoiceTab tbody tr input {
        display: none;
    }

    .CustomerInvoiceTab tbody tr span {
        display: block;
    }


    .CustomerInvoiceTab tbody tr.focusedItem span {
        display: none;
    }

    .CustomerInvoiceTab tbody tr td i.fa {
        cursor: pointer;
        font-size: 18px;
    }

.tableActions {
    text-align: center;
}

.CustomerInvoiceTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.CustomerInvoiceTab thead tr th {
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    /*background-color: #ddd;*/
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.CustomerInvoiceTab tbody tr.focusedItem input {
    display: block;
    border: 1px solid #2ca01c;
}

.CustomerInvoiceTab tbody tr:hover {
    background-color: #f4f5f8;
    /*border-right: 2px solid #ffffff;*/
}

.CustomerInvoiceTab tbody tr td:hover {
    cursor: pointer;
}
.CustomerInvoiceTab tbody tr td:nth-child(3), .CustomerInvoiceTab tbody tr td:nth-child(4), .CustomerInvoiceTab tbody tr td:nth-child(5) {
    text-align: right;
}


tbody td .tt-menu {
    background: white;
    min-width: 320px;
    font-size: 12px;
    max-height: 226px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    position: absolute;
    z-index: 100;
    display: none;
    width: 40%;
}

tbody td .tt-dataset-autocomplete {
    margin-top: -5px;
}

tbody td .tt-suggestion {
    min-height: 36px;
    display: block;
    padding: 10px 10px 9px 15px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

tbody td .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

tbody td .tt-sug-text {
    width: 55%;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

tbody td .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

tbody td .tt-suggestion.active {
    background-color: #f2f2f2;
}

tbody td .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

tbody td .tt-sug-type {
    position: absolute;
    right: 17px;
    top: 11px;
    color: #999;
    font-style: italic;
}
tbody td .tt-eq-price {
    position: absolute;
    right: 17px;
    top: 30px;
    color: #999;
    font-style: italic;
}


.select2-container.select2-container--default.select2-container--open {
    z-index: 9999 !important;
}

.invoice-footer {
    background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
}

.InvoiceCancelButton, .InvoiceSaveButton {
    background-color: transparent;
}

.btnInv {
    color: white;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

    .btnInv:hover {
        background-color: #545558;
    }


.SaveAndSendBtn, .SaveOptionsBtn {
    background-color: #2ca01c;
    color: white !important;
    border: 1px solid #6b6c72 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

    .SaveAndSendBtn:hover, .SaveOptionsBtn:hover {
        background-color: #108000 !important;
        color: white !important;
    }

.cancelbtnDiv {
    padding-top: 8px;
    float: left;
}

.SaveaButtonsDiv {
    padding-top: 8px;
    float: left;
    text-align: right;
}

.InnerOptionsDiv {
    float: left;
    text-align: right;
    padding-top: 8px;
    color: white;
}

.Savemailbutton {
    padding-right: 10px;
    float: left;
    text-align: center;
    padding-top: 8px;
    color: white;
}

.div-style {
    float: right;
}

.InnerOptionsDiv a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btnAddLines, .btnAddSubtotal, .btnClearLines {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    min-width: initial;
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0 !important;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    border: 1px solid #8d9096;
    background: 0 0;
    color: #393a3d;
    font-weight: 200;
}

    .btnAddLines:hover, .btnAddSubtotal:hover, .btnClearLines:hover {
        background: #fff;
        color: #393a3d;
        box-shadow: 0 0 0 1px #8d9096;
    }

.InvoiceMessage {
    resize: none;
    width: 345px;
}

.txtProductQuantity, .txtProductQuantityLeft {
    height: 32px;
    margin-top: 3px;
}
.txtProductUnitPrice {
    height: 32px;
    margin-top: 3px;
}
.txtProductAmount {
    height: 32px;
}
.InvoiceCalculationsDiv {
    margin: 0px 50px;
    float: right;
}

.CustomerInvoiceTab tbody td input {
    width: 100%;
}

.CustomerInvoiceTab .tab-Action {
    width: 5%;
}
.CustomerInvoiceTab .tab-index{
    width:12%;
}
.CustomerInvoiceTab .tab-title{
    width:7%;
}
.CustomerInvoiceTab .tab-Product, .CustomerInvoiceTab .tab-Desc {
    width: 28% !important;
}
.tble_lay_fixed {
    table-layout:unset !important;
}
.tble_lay_fixed thead tr th {
    padding:5px;
    line-height:unset;
}
.CustomerInvoiceTab .prod_title {
        width: 35px;
}
.CustomerInvoiceTab .prod_release {
        width: 55px;
}
.CustomerInvoiceTab .prod_equip {

}
.CustomerInvoiceTab .prod_desc {

}
.CustomerInvoiceTab .prod_onhand {
            width: 55px !important;
}
.CustomerInvoiceTab .prod_qtyleft {
        width: 6% !important;
}
.CustomerInvoiceTab .prod_qty {
        width: 35px !important;
}
.CustomerInvoiceTab .prod_unit {
            width: 50px;
}
.CustomerInvoiceTab .prod_price {
        width: 50px;
}
.CustomerInvoiceTab .prod_action {
        width: 25px;
}


 /*.CustomerInvoiceTab .tab-Amount {
    width: 16px;
}*/
 .ticket_add_product_table thead tr th:nth-child(4){
     width:72px;
 }
 
  .ticket_add_product_table tbody tr td:nth-child(3){
     text-align:left;
 }
   .ticket_add_product_table tbody tr td:nth-child(4),
   .ticket_add_product_table tbody tr td:nth-child(5),
   .ticket_add_product_table tbody tr td:nth-child(6){
     text-align:center;
 }
  
  
   .ticket_add_product_table tbody tr .tick_product_name {
       text-align:left !important;
   }
   .ticket_create_update_btn {
       width:100%;
       float:left;
       text-align:right;
   }
.SaveaButtonsDiv ul.dropdown-menu li {
    cursor: pointer;
}

.page-installation-title {
    padding-left: 15px;
    border-bottom: 2px solid #ddd;
}

.custom-h1 {
    font-size: 2.4rem;
    /*font-weight: 600;*/
}

.custom-label-static {
   padding-top:5px;
}

.custom-label-data {
    width: 68%;
    font-weight: 500;
    float: right;
    /*border: 1px solid #ddd;*/
     -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    padding: 5px;
}

.label_container_div {
    padding-top: 5px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
    margin:0px;
    height:45px;
}
.sop_right_pad {
    padding-right:0px;
}
.sop_top_pad {
    padding-top:5px;
}
.border_none {
    border:none;
}

.custom-h2 {
       text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #dedede;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.custom-form-control-name {
    display: inline-block !important;
    width: 69% !important;
    float: right;
}

.appointment-date-style {
    display: inline-block !important;
    /*width: 50% !important;*/
}

.appointment-time-style {
    display: inline-block !important;
    /*width: 19% !important;*/
}

.cus-note {
    height: 92px !important;
}



.service-not {
    height: 82px !important;
    resize:none;
}

.select2-container {
    width: 100% !important;
}
.ticket_category_row {
    text-align:right;
}





@media (max-width:414px) {
    .add_ticket_product_table .tt-menu {
        width: 90% !important;
        left: -15px;
        height: 208px !important;
        margin: 0px 5% !important;
    }
}
