 body {
        overflow-y: scroll;
    }

    .red {
        color: red;
    }

    .bodyConentsDiv1 {
        height: 1130px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 54px;
        height: 27px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2ca01c;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2ca01c;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        -webkit-border-radius: 34px;
        -moz-border-radius: 34px;
        border-radius: 34px;
    }

        .slider.round:before {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

    .footerContents-agreement {
        width: 100%;
        position: relative;
        padding-right: 20px;
        text-align: right;
    }

    .custom-body_id {
        margin-top: 50px;
        max-width: 1024px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 51px;
        background-color: #f5f5f5;
        height: 100%;
    }

    .sign-document {
        /*margin-top: 65px;
        margin-left: 30px;*/
    }

    .btnSign {
        background-color: #2ca01c;
        border-style: none;
        height: 35px;
        color: white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .LoadImg {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .Error-warning {
        /*position:relative;*/
        color: red;
        font-style: italic;
        font-size: 12px;
        font-weight: 600;
        display: none;
    }

    .LoadImgDiv {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        background: white;
        z-index: 9999;
    }

    .wrapper {
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 9px 9px 9px 0px;
        position: relative;
        width: 300px;
        height: 100px;
        margin-right: 35px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    button[disabled], html input[disabled] {
        background-color: #ccc;
    }

        button[disabled]:hover, html input[disabled]:hover {
            background-color: #ccc;
        }

    .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        height: 100px;
    }

    .cus-pdf-style {
        height: 390px;
    }
    /*style start for checkbox*/
    /*style start for checkbox*/


    .label-cbx {
        user-select: none;
        cursor: pointer;
        margin-bottom: 0;
    }

        .label-cbx input:checked + .checkbox {
            border-color: #00c31f;
        }

            .label-cbx input:checked + .checkbox svg path {
                fill: none;
            }

            .label-cbx input:checked + .checkbox svg polyline {
                stroke-dashoffset: 0;
            }

        .label-cbx:hover .checkbox svg path {
            stroke-dashoffset: 0;
            stroke-width: 1;
        }

        .label-cbx .checkbox {
            position: relative;
            top: 13px;
            float: left;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            border: 2px solid #C8CCD4;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

            .label-cbx .checkbox svg {
                position: absolute;
                top: -3px;
                left: -2px;
            }

                .label-cbx .checkbox svg path {
                    fill: none;
                    stroke: #00c31f;
                    stroke-width: 2;
                    /*stroke-linecap: round;*/
                    stroke-linejoin: round;
                    stroke-dasharray: 71px;
                    stroke-dashoffset: 71px;
                    transition: all 0.6s ease;
                }

                .label-cbx .checkbox svg polyline {
                    fill: none;
                    stroke: #00c31f;
                    stroke-width: 2;
                    /*stroke-linecap: round;*/
                    stroke-linejoin: round;
                    stroke-dasharray: 18px;
                    stroke-dashoffset: 18px;
                    transition: all 0.3s ease;
                }

        .label-cbx > span {
            pointer-events: none;
            vertical-align: middle;
        }

    .invisible {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }

    /*style end for checkbox*/
    /*style end for checkbox*/
    .all_button {
        /*width: 106px;*/
        padding-left: 10px;
        padding-right: 10px;
        height: 35px;
    }

    .btnQuesSave {
        color: white;
        border: 1px solid #6b6c72;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #2ca01c;
        float: right;
        margin-right: 30px;
    }

    .dark_shade {
        width: 100%;
        height: 400px;
        position: absolute;
        background: gray;
        z-index: -1;
        margin-top: -22px;
    }

    #body_id {
        width: 800px;
        margin: auto;
    }

    .navbar {
        position: relative;
    }

    .white_Starts {
        background-color: white;
        padding: 20px;
    }

    #iframePdf {
        height: 100%;
        width: 100%;
    }

    .invo_det_table tr td:first-child {
        color: #8d9096;
        width: 40%;
        padding-top: 8px;
    }

    .inv_det_table_div {
        padding-bottom: 20px;
    }

    .inv_calc_div {
        padding-right: 20px;
        text-align: right;
    }

    .balance_due_txt {
        font-family: "AvenirNextLTSubset-Medium";
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        text-align: right;
        color: #8d9096;
    }

    .balanc_due_amt {
        font-size: 44px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: right;
        color: #000000;
    }

    .invoice-title {
        font-size: 32px;
        font-family: "Geogrotesque-Md";
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        color: #393a3d;
        display: inline-block;
        padding-bottom: 20px;
    }

    .company-name-row {
        color: white;
        padding-top: 30px;
    }

    .cus_name_div {
        padding-left: 5px;
        font-size: 12px;
        display: inline;
    }

    .business_name_div {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .margin-bottom-10 {
        margin-bottom: 10px;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    .padding-left-0 {
        padding-left: 0px;
    }

    .btnIAgree {
        float: unset;
    }

    .margin-top-15 {
        margin-top: 15px;
    }

    .position-abs {
        position: absolute;
    }

    .declinationreason {
        text-align: left;
    }

    .declinationreasontxt {
        width: 100%;
    }

    @media (max-width: 768px) {
        #body_id {
            width: 100%;
            margin: auto;
        }

        .invo_det_table {
            width: 100%;
        }

        .HtmlContainerEstimate {
            overflow-x: scroll;
        }

            .HtmlContainerEstimate .container {
                width: 800px;
            }

        .footer {
            padding: 10px;
        }

        .company-name-row {
            margin: 0px !important;
        }
        .white_Starts{
                padding: 10px;
        }
    }