@{
    Layout = null;
    //DateTime EndDate = (DateTime)ViewBag.EndDate;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/TimeClockPartial")
@*@Scripts.Render("~/scripts/PayrollReportTimeClock")*@
<script>
    var FilterPayrollPaging = function (pageno, order) {
    var StartDate = $("#PayrollFilterStartDate").val();
    var EndDate = $("#PayrollFilterEndDate").val();
    var FilterWeek = $("#FilterWeeks").val();
    var CurrentEmployee = $("#CurrentEmployee").val();
    var LoadUrl = domainurl + String.format("/TimeClockPto/GetAllEmploployeeAccrualPTOReport/?StrStartDate={0}&StrEndDate={1}&order={2}&pageno={3}&pagesize={4}&CurrentEmployee={5}",
    StartDate, EndDate, order, pageno, 10, CurrentEmployee);
    $(".accrualptoReportContainer").html(LoaderDom);
    $(".accrualptoReportContainer").load(LoadUrl);
    }
    $(document).ready(function () {
        /*FilterAccrualPTOPaging(1,null);*/
    });
</script>

<div>
    <div class="margin-top-15 col-md-12 padding-left-0 pto-filter-div">
        <div style="width:20%;float:left">
            @Html.DropDownList("CurrentEmployee", ViewBag.EmployeeList as List<SelectListItem>, new { @class = "form-control", id = "CurrentEmployee" })
        </div>

        <div style="width:80%;float:left">
            @{
                Html.RenderAction("TimeClockDefaultFilter", "TimeClockPto", new { IsTimeClock = true,from = "AccrualPto" });
            }
        </div>
    </div>
    <div class="TimeClockList time_clock_list_container accrualptoReportContainer">


    </div>
</div>
