
@{
    Layout = null;
}

@using HS.Framework
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/EmployeeTimeClock") 
<script>
    var CurrentEmployeeId = "@ViewBag.UserId";
    var AddClockInOut = function (id) {
        OpenRightToLeftModal(domainurl + "/TimeClockPto/AddClock/?UserId=00000000-0000-0000-0000-000000000000&TimeClockId=" + id);
    }
    var DownloadReport = function (UserId) {
        window.open(domainurl + "/Reports/GetEmployeeTimeClockReport/?UserId=" + UserId + "&StrStartDate=" + $("#EmpTimeclockFilterStartDate").val() + "&StrEndDate=" + $("#EmpTimeclockFilterEndDate").val());
    }
    var idlist = [{ id: ".OpenMapPopup", type: 'iframe', width: 500, height: 500 }
    ];
    jQuery.each(idlist, function (i, val) {
        magnificPopupObj(val);
    });

    var FilterPayrollPaging = function (pageno, order) {
        setTimeout(function () {
            var EmpLoadGuid = $("#EmployeeDrpDown").val();
            var StartDayeVal = $('#PayrollFilterStartDate').val();
            var EndDayval = $('#PayrollFilterEndDate').val();
            var LoadUrl = domainurl + String.format("/TimeClockPto/EmployeeTimeClockList/?UserId={0}&StrStartDate={1}&StrEndDate={2}&order={3}&pageno={4}&pagesize={5}", EmpLoadGuid, StartDayeVal, EndDayval, order, pageno, 10);
            $(".employee_time_clock_info_container").html(LoaderDom);
            $(".employee_time_clock_info_container").load(LoadUrl);
        },100)
        
    }
</script>

<div>
    <div class="emp_clock_head">
        <div class="margin-top-15 col-md-12 padding-left-0 pto-filter-div">
            @{
                Html.RenderAction("TimeClockDefaultFilter", "TimeClockPto", new { IsTimeClock = true,from = "EmployeeTimeClock" });
            }
            <span class="clockin_btn_div">
                <button id="AddClockInOUt" class="btn btn_addPTO green_button" onclick="AddClockInOut()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Clock In/Out</button>
            </span>
        </div>
    </div>
    
    <div class="TimeClockList employee_time_clock_info_container">
        
    </div>
</div>
