@model HS.Entities.EmployeeClockIO
@{
    Layout = null;
}
@using AppConfig = HS.Framework.Utils.AppConfig;
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
<script>
    $(document).ready(function () {
        var idlist = [{ id: ".OpenClockInOutPopup", type: 'iframe', width: 400, height: 200 }];
        jQuery.each(idlist, function (i, val) {
            magnificPopupObj(val);
        });
        $(".clock_in_button").click(function () {
            $(".OpenClockInOutPopup").click();
        });
    });
</script>
<div class="hidden">
    <a class="OpenClockInOutPopup" href="@(AppConfig.DomainSitePath)/TimeClockPto/AddClockInOut/"></a>
</div>

    <div class="TimeClockDashboardHead">
        @if (Model.IsClockedIn && Model.ClockInOutTime.HasValue && Model.ClockInOutTime!=null)
        {
            <div class="clock_in_time"><span>Clock in time:</span> @Model.ClockInOutTime.Value.UTCToClientTime()</div>
        }
       
            <button class="btn clock_in_button @(Model.IsClockedIn? "clocked_in" : "")"><i class="fa fa-clock-o"></i> @Localize.T(Model.IsClockedIn ? "Clock Out" : "Clock In")</button>
       
    </div>


