@{
    Layout = null;
    //DateTime EndDate = (DateTime)ViewBag.EndDate;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/TimeClockPartial")
@Scripts.Render("~/scripts/PayrollReportTimeClock")

<div>
    <div class="margin-top-15 col-md-12 padding-left-0 pto-filter-div">
        <div style="width:20%;float:left">
            @Html.DropDownList("CurrentEmployee", ViewBag.EmployeeStatus as List<SelectListItem>, new { @class = "form-control", id = "CurrentEmployee" })
        </div>
        <div style="width:80%;float:left">
            @{
                Html.RenderAction("TimeClockDefaultFilter", "TimeClockPto", new { IsTimeClock = true });
            }
        </div>
    </div>
    <div class="TimeClockList time_clock_list_container payrollReportContainer">


    </div>
</div>
