.add_mmrs_head_container {
    width: 110%;
    background-color: #eceef1;
    margin-left: -15px;
    padding: 10px 13px;
    margin-top: -6px;
}
.add_mmrs_head_text {
    font-size: 24px;
    font-family: 'Play', sans-serif;
}
.add_mmrs_container {
    overflow:hidden;
}
.form-group {
    margin: 0;
    padding: 0;
}

.form-group h3 {
    /*margin-left: 30px;*/
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
}

.content-type {
    /*margin-left: 30px;*/
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}

.content-text {
    height: 32px;
    width: 80%;
    font-size: 13px;
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.custom-col {
    width: 18%;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

/*.txt-form {
    margin-left: 30px;
}*/

.item-check {
    height: 40px;
    width: 20px;
}

.txt-check {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 14px;
    padding-left: 4px;
}

/*.col-cus {
    margin-left: 30px;
}*/

#ParentId {
    height: 32px;
    width: 80%;
    margin-left: 30px;
    width: 76%;
}
input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    box-sizing: border-box;
}
.middle_pad {
    padding-top:12px;
}