
@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Ticket

<script src="~/Content/JQuery/jquery-3.2.1.min.js"></script>
<link href="~/Content/Css/Ticket/RescheduleTicketPopup.css" rel="stylesheet" />
<script>

    $(document).ready(function () {
        $(".agemni_tick_pop_container").height(window.innerHeight - 68);
      
    })
</script>
<script src="~/Content/Js/TIcket/RescheduleTicket.js"></script>
<div class="agemni_tick_pop_header">
    <div class="agemni_tick_pop_header_text">Ticket Previous Data</div>
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T(" Close")" src="~/Content/Icons/cross_update.png" />
    </div>
</div>
<div class="agemni_tick_pop_container">
      
        @if(Model != null)
        {
            <span>@Html.Raw(Model.Message);</span>

        }
     
  

</div>

