@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<div class="CloseButtonDiv" onclick="parent.ClosePopup()">
    <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png" />
</div>
@Html.Raw(ViewBag.Body)
