
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Addendum</title>
</head>
<body style="overflow-y:scroll;">
    <!--ALARM MONITORING AGREEMENT-->
    @Html.Raw(ViewBag.BodyContent)
    <!--End-->
</body>
</html>


