
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
<script src="~/Content/Js/Login/domainurl.js"></script>
@Styles.Render("~/styles/GetInvoice")
<link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/Jquery-ui/jquery.js"></script>
<link href="~/Content/Css/SmartLeads/GetSmartLeadsForPopUp.css" rel="stylesheet" />
<script>
    var printFrame = function (id) {
        var frm = document.getElementById(id).contentWindow;
        frm.focus();// focus on contentWindow is needed on some ie versions
        frm.print();
        return false;
    }
</script>

<div id="body_id" class="pba_container">
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
    </div>
    <div style="float:left;margin-bottom:10px;margin-left:30px; margin-top:10px;">
        <button class="btnPrint all_button" onclick="printFrame('iframePdf')"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;@Localize.T(" Print")</button>
    </div>
    <div class="bodyConentsDiv" id="AggrementDiv">
        <iframe name="iframe" class="pdf-styles cus-pdf-style" id="iframePdf" src="@(AppConfig.DomainSitePath)/Ticket/CreateCodeDocument/?ticketid=@ViewBag.id"></iframe>
    </div>
</div>

