@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
<link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/FontAwesome/css/font-awesome.css" rel="stylesheet" />
<script src="~/Content/Jquery-ui/jquery.js"></script>
<script src="~/Content/PikDay/js/pikaday.js"></script>
<script src="~/Content/Js/Modals/Modals.js"></script>
<script src="~/Content/Js/Login/domainurl.js"></script>
<script>
    var CustomerId = "@ViewBag.CustoemrId";
    var TicketId = "@ViewBag.TicketId";

    var WorkToBePerformedAddendum = function () {
        var workTobeperformedtxt = $("#WorkToBePerformedDescription").val();
        var URL = domainurl + "/Ticket/AddWorkToBePerformedInTicket/";
        $.ajax({
            url: URL,
            data: JSON.stringify({
                TicketId: TicketId,
                CustomerId:CustomerId,
                WorkToBePerformed:workTobeperformedtxt
            }),
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
        }).done(function (data) {
            if (data.result) {
                parent.OpenSuccessMessageNew("Success!", "Work to be performed added successfully", function () {
                    //parent.ClosePopup();
                    parent.$(".LoadCustomerAddendumPopUp").attr('href', '/Ticket/GetCustomerAddendumPopUp?CustomerId=' + data.customerid + "&TicketId=" + data.ticketid);
                    parent.$(".LoadCustomerAddendumPopUp").click();
                    //setTimeout(function () {
                    //    parent.$(".LoadCustomerAddendumPopUp").click();
                    //},1000)
                    
                });
            }
            else {
                parent.OpenErrorMessageNew("Error!", "Work to be performed added failed", function () { parent.ClosePopup(); });
            }
        });
    }
    $(document).ready(function () {
        $(".gwpapu_inner").height(window.innerHeight - 110);
    });
      $(window).resize(function () {
         $(".gwpapu_inner").height(window.innerHeight - 110);
    })
</script>
<style>
    .gwpapu_container {
        width:100%;
        float:left;
    }
    .gwpapu_header {
         width:100%;
        float:left;
            font-size: 24px;
    color: #393a3d;
    padding:10px 15px;
    position:relative;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
    }
    .gwpapu_header .CloseButtonDiv {
          width: 20px;
    float: right;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor:pointer;
    }
        .gwpapu_header .CloseButtonDiv img {
            width: 25px;
        }
    .gwpapu_inner {
         width:100%;
        float:left;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .gwpapu_inner_content {
         width:100%;
        float:left;
         padding:20px 15px;
    }
    .gwpapu_inner_content textarea {
        resize:none;
    }
    .gwpapu_footer {
         width:100%;
        float:left;
    padding:10px 15px;
    text-align:right;
    background-color: #f4f5f8;
    border-top: 1px solid #ccc;
    }
    .gwpapu_footer button,
    .gwpapu_footer button:hover,
    .gwpapu_footer button:focus {
        background-color:#2ca01c;
        color:#fff;
        outline:none;
    }
</style>
<div id="body_id">
    <div class="hidden LoadImgDiv">
        <div class="lds-css ng-scope">
            <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
        </div>
    </div>
   
    <div class="gwpapu_container">
        <div class="gwpapu_header">
            @Localize.T("Work to be performed")
            <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
                <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
            </div>
        </div>

        <div class="gwpapu_inner">
            <div class="gwpapu_inner_content" id="AggrementDiv">
                <textarea type="text" class="form-control WorkToBePerformedDescription" placeholder="Work to be performed" id="WorkToBePerformedDescription" name="WorkToBePerformedDescription" rows="5"></textarea>
            </div>
        </div>
        <div class="gwpapu_footer">
            <button class="btn" id="btnAddWorkToBePerformed" onclick="WorkToBePerformedAddendum()"><i class="fa" aria-hidden="true"></i>&nbsp;@Localize.T("Save & Preview")</button>

        </div>
    </div>

</div>