@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using HS.Framework
@using AppConfig = HS.Framework.Utils.AppConfig;
<link href="~/Content/Css/App/DashBoardAssignedTicket.css" rel="stylesheet" />
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var MyTicketsLoad = function(pageno){
        $(".dashboard_assign_ticket_container").html(TabsLoaderText);
        $(".dashboard_assign_ticket_container").load("/Ticket/LoadMyTicketsList?pageno=" + pageno + "&pagesize=50");
    }
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        MyTicketsLoad(1);
    })
</script>
<div class="dashboard_assign_ticket_container"></div>
