@{ 
    Layout = null;
}
@model HS.Entities.CreateTicketModel

@{
    if (Model.RefTicketTable != null && Model.RefTicketTable.Count > 0)
    {
        if (Model.RefTicketTable.Count > 1)
        {
            foreach (var item in Model.RefTicketTable)
            {
                <td style="text-align:center;">This ticket is refferenced to installation ticket number #<a class="cus-anchor" onclick="OpenTicketById(@item.Id)">@item.Id</a></td>
            }
        }
        else
        {
            foreach (var item in Model.RefTicketTable)
            {
                <td colspan="2" style="text-align:center;">This ticket is refferenced to installation ticket number #<a class="cus-anchor" onclick="OpenTicketById(@item.Id)">@item.Id</a></td>
            }
        }
    }
}
