
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    var AddNewSurvey = function () {

        OpenRightToLeftModal(domainurl + "/Ticket/AddTicketNotificationEmail");

    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $("#ShowTicketEmailList").load(domainurl + "/Ticket/ShowTicketEmailList");
    })
</script>
<link href="~/Content/Css/Survey/SurveySettingsPartial.css" rel="stylesheet" />
<div class="survey_settings_partial_container">
    <div class="survey_settings_header_container">
        <div class="survey_settings_partial_header">@Localize.T("Ticket Email Settings")</div>
        <div class="survey_settings_partial_btn">
     
            <button class="btn add-package" id="add-Package" type="button" onclick="AddNewSurvey()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
            </button>
        </div>
    </div>


    <div id="ShowTicketEmailList">


    </div>
</div>
