.money-bar-contents {
    width: 100%;
    height: 85px;
    text-transform: uppercase;
    display: table;
    box-sizing: border-box;
    padding-top: 8px;
}
.money-bar-left-content {
    width: 50%;
    float: left;
    cursor: pointer;
}
.cl_amount {
    margin-bottom: 1px;
    text-transform: none;
    font-weight: 500;
    line-height: 1.21;
    font-size: 15px;
    outline: 0 none;
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    width: 100%;
}
.sub-content {
    outline: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    font-size: 15px;
    text-transform: none !important;
}
.overdue {
    background-color: #ff8000;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    /*cursor: pointer;*/
    width: 100%;
}

    .overdue:hover {
        height: 67px;
        border-top: 6px solid #b97835;
    }

    .money-bar-right-content {
    width: 50%;
    float: left;
    cursor: pointer;
}

    .activity {
    background-color: #0077c5;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}
    .activity:hover {
    height: 67px;
    border-top: 6px solid #2b4e61;
}

    .estimate {
    background-color: #21abf6;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .estimate:hover {
        height: 67px;
        border-top: 6px solid #337192;
    }

    .invoice {
    background-color: #b1b4bb;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .invoice:hover {
        height: 67px;
        border-top: 6px solid #76777b;
    }
    .invoice-button {
    border: none !important;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

    .invoice-button:hover {
        background-color: transparent !important;
    }

    .invoice-button:active {
        background-color: #b1b4bb !important;
    }

.invoice-item {
    color: black !important;
    background: none !important;
}
@@media(max-width:768px) {

    .lead_list_device_row {
        width: 100% !important;
        float: left !important;
        padding: 5px 10px !important;
        border-bottom: 1px solid #e7e7e7;
    }

    .lead_list_view .lead_list_device_row:nth-child(1) {
        width: 8% !important;
        border-bottom: 0px;
    }

        .lead_list_view .lead_list_device_row:nth-child(1) .checkbox {
            margin-top: 0px;
            margin-bottom: 0px;
        }

    .ActionsDivLeads_custom {
        float: left !important;
        padding: 5px 0px;
    }

    .customer-fliter-list {
    }

    .fliter-list {
        right: 0px;
    }

    .manual_aasign {
        left: 57.5% !important;
        width: 39% !important;
    }

    .customer-dropdown-ul-style {
        min-width: unset !important;
    }

    .settings_style {
        margin-top: 35px !important;
    }

    .header_hide {
        display: none;
    }

    .heading_for_mobile {
        display: block;
        width: 40%;
        float: left;
        font-weight: bold;
    }

    .content_for_mobile {
        float: right;
        width: 60%;
        word-break: break-word;
    }

    .lead_list_colorfull_bar .width-50p {
        width: 100%;
    }

    .money-bar-contents {
        height: auto;
    }
}


@@media(max-width:320px) {
    .sub-content {
        font-size: 13px;
    }

    .dropbtn {
        letter-spacing: unset;
    }

    .equipment-list-filter {
        margin-left: 117px;
    }

    .pad_right_none {
        padding-right: 0px;
    }

    .manual_aasign {
        left: 53% !important;
        width: 47% !important;
    }

    .settings_style {
        margin-top: 74px !important;
    }
}
@@media(max-width:414px) {
    .Export_excel_customer {
        padding-top: 10px;
    }

    .filter-customer-container .table-body-td-style,
    .filter-customer-container .customer_list_checkbox {
        padding: 0px 10px !important;
    }

    .customer_list_checkbox {
        width: 8%;
    }

    .Estimate-table {
        padding-bottom: 45px;
    }


    .btn-filter {
        font-size: 23px;
    }

    .customer-list-filter {
        padding-top: 2px;
        float: right;
    }

    .searchbardiv {
        width: 100%;
    }

    .customer-fliter-list {
        left: auto;
        right: 0px;
        margin: 5px 0px;
        width: 100%;
    }

    .settings_style {
        margin-top: 75px !important;
    }

    .fliter-list {
        right: 0px;
    }

    .custom-icon {
        float: right !important;
        width: 24%;
        padding: 0px;
        margin: -28px 40px 0px 0px;
    }
}

