.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #2ca01c;
}

.estimatestatus {
    cursor: pointer;
}

.create_ticket_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
    float: right;
}

.search_ticket_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}

.no-Padding {
    padding-left: 0px;
    padding-right: 0px;
}

.border_radius_0 {
    border-radius: 0px;
}
.go_back_filter_bar {
    width:70%;
    float:left;
}
.go_back_filter_bar .input-group input {
    width:200px;
    float:left;
}
.go_back_filter_bar .input-group bootstrap-select,
.go_back_filter_bar .input-group select {
    float:left;
}
.ticket_search_filter .search_btn_ticket_filter {
    padding-left: 0px;
}

.ticket_list_partial_device_header {
    display: none;
}

.ticket_list_partial_device_info {
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tkt_list_partial_device_info {
        word-break: break-word;
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
}
.ticket_list_partial_device_info p {
    display:contents;
} 
.exceed-warning {
    color: red;
}
.ticket_list_partial_info thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.ticket_list_partial_info tbody {
    border:1px solid #ccc;
}
.ticket_list_partial_info {
    width:100%;
    float:left;
    table-layout:fixed;
}
.ticket_list_partial_info thead tr th {
    padding: 5px 10px 5px 10px;
    font-weight:normal;
}
 .ticket_list_partial_info thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .ticket_list_partial_info thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .ticket_list_partial_info thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .ticket_list_partial_info thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
.loadticketreportlist_table thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.loadticketreportlist_table tbody tr {
    border:1px solid #ccc;
}
.loadticketreportlist_table {
    width:100%;
    float:left;
    table-layout:fixed;
}
.loadticketreportlist_table thead tr .lbsrp_rug_size {
    width:135px;
}
    .loadticketreportlist_table thead tr .lbsrp_first_two {
        width: 105px;
    }
.loadticketreportlist_table tbody tr:nth-child(odd) {
    background-color:#f4f5f8;
}
.loadticketreportlist_table tbody tr:hover {
    background-color:#f8f8f8;
}
.loadticketreportlist_table thead tr th {
    padding: 5px 10px 5px 10px;
}
.loadticketreportlist_table tbody tr td {
    padding:10px;
}
 .loadticketreportlist_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .loadticketreportlist_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .loadticketreportlist_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .loadticketreportlist_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
        .booking_report_table .book_tick_id {
            width:138px;
        }
@media (max-width: 768px) {
    .ticket_search_filter .col-md-8 {
        display: table;
    }

        .ticket_search_filter .col-md-8 .col-md-4 {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .ticket_search_filter .col-md-8 .col-md-2 {
            width: 25%;
            float: left;
        }

    .ticket_search_filter .search_btn_ticket_filter {
        width: 50%;
        padding: 5px 15px;
        text-align: left;
        float: left;
    }

    .ticket_search_filter .create_tkt_button {
        width: 100%;
        float: left;
        padding: 5px 15px;
    }

    .ticket_list_partial_info thead {
        display: none;
    }

    .ticket_list_partial_info tbody tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

        .ticket_list_partial_info tbody tr:nth-child(even) {
            background-color: #f9f6f6;
        }

        .ticket_list_partial_info tbody tr td {
            width: 100%;
            float: left;
            padding: 3px 0px;
        }

    .ticket_list_partial_device_header {
        display: block;
        width: 45%;
        float: left;
        font-size: 13px;
        font-weight: bold;
        padding-left: 5px;
    }
    .ticket_list_partial_device_header span {
        float:right;
        margin-right:10px;
    }
    .ticket_list_partial_device_info,
    .booking_list_partial_device_info {
        width: 55%;
        float: left;
        word-break:break-word;
    }
    .loadticketreportlist_table thead {
        display:none;
    }
    .loadticketreportlist_table tbody tr td {
        width:100%;
        float:left;
    }
}

@media (max-width: 414px) {
    .ticket_search_filter .col-md-8 .col-md-2 {
        width: 50%;
    }
}
   

.no_paddingleft_report {
        padding-left: 0;
    }

    .no_paddingright_report {
        padding-right: 0;
    }
   .lrp_bottom_border {
    /*margin-left: 0px;*/
    margin-right: 13px;
    /*border-bottom: 1px solid #ccc;*/
}