.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #2ca01c;
}
.collection_invoice-table table thead tr th:nth-child(2) {
    width:110px;
}
.estimatestatus {
    cursor: pointer;
}
.report_tab_top_container {
    width:100%;
    float:left;
    padding-bottom:10px;
}
.report_tab_top_content {
     width:33.33%;
    float:left;
}
.create_ticket_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
    float: right;
}

.search_ticket_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}

.no-Padding {
    padding-left: 0px;
    padding-right: 0px;
}

.border_radius_0 {
    border-radius: 0px;
}
.go_back_filter_bar {
    width:70%;
    float:left;
}
.go_back_filter_bar .input-group input {
    width:200px;
    float:left;
}
.go_back_filter_bar .input-group bootstrap-select,
.go_back_filter_bar .input-group select {
    float:left;
}
.ticket_search_filter .search_btn_ticket_filter {
    padding-left: 0px;
}

.ticket_list_partial_device_header {
    display: none;
}

.ticket_list_partial_device_info {
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tkt_list_partial_device_info {
        word-break: break-word;
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
}
.ticket_list_partial_device_info p {
    display:contents;
} 
.exceed-warning {
    color: red;
}
.ticket_list_partial_info thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.ticket_list_partial_info tbody {
    border:1px solid #ccc;
}
.ticket_list_partial_info {
    width:100%;
    float:left;
    table-layout:fixed;
}
.ticket_list_partial_info thead tr th {
    padding: 5px 10px 5px 10px;
    font-weight:normal;
}
 .ticket_list_partial_info thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .ticket_list_partial_info thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .ticket_list_partial_info thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .ticket_list_partial_info thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
.loadticketreportlist_table thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.loadticketreportlist_table tbody tr {
    border:1px solid #ccc;
}
.loadticketreportlist_table {
    width:100%;
    float:left;
    table-layout:fixed;
}
.loadticketreportlist_table tbody tr:nth-child(odd) {
    background-color:#f4f5f8;
}
.loadticketreportlist_table tbody tr:hover {
    background-color:#f8f8f8;
}
.loadticketreportlist_table thead tr th {
    padding: 5px 10px 5px 10px;
}
.loadticketreportlist_table tbody tr td {
    padding:10px;
}
 .loadticketreportlist_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .loadticketreportlist_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .loadticketreportlist_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .loadticketreportlist_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
         .load_coll_report_partial_container {
           width:100%;
           float:left;
       }
      
        .load_coll_report_partial_info_bar{
           width:100%;
           float:left;
           padding-bottom:10px;
       }
       .lcrp_info_block {
           width:33.333%;
           float:left;
    border-left: 10px solid #0077c5;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    background-color: #035890;
    font-family: sans-serif;
}
       .load_coll_report_partial_info_bar .lcrp_info_block:nth-child(2) {
           background-color:#216fa2;
       }
       .load_coll_report_partial_top_bar {
           width:100%;
           float:left;
       }
       .load_coll_report_partial_top_bar #btnDownloadCollectionReport {
           float:right;
       }
       .load_coll_report_partial_top_bar_inner {
           width:auto;
           float:left;
       }
       .load_coll_report_partial_top_bar_inner #sales_txt_search {
           width:200px;
           float:left;
       }
       .load_coll_report_partial_top_bar_inner .input-group {
           width:300px;
           float:left;
           margin-left:-3px;
       }
        .load_coll_report_partial_top_bar_inner .input-group .btn {
    background-color: #2ca01c;
    color: #fff;
}
       .lcrp_filter_btn {
   
    margin-left:10px;
       
}
       .lcrp_filter_btn,
.lcrp_filter_btn:hover,
.lcrp_filter_btn:focus,
.lcrp_filter_btn:active {
    background-color: #2ca01c;
}
       .lcrp_filter_btn .glyphicon-filter {
    color:#fff !important;
}
.collection_cus_report_left {
    float: left;
    width: auto;
}

.collection_cus_report_filte_innerr {
    width: 100%;
    float: left;
}

.collection_cus_report_left .input-group {
    width: 300px;
    float: left;
}

.collection_cus_report_left #collection_cus_filterbtn {
    float: left;
    margin-left: 10px;
}

.collection_cus_filter_list .collection_cus_filter_button button {
    margin: 5px;
    border-color: #2ca01c;
    background-color: #2ca01c;
    color: white;
}

.collection_cus_report_filter {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
}

    .collection_cus_report_filter .collection_cus_report_filte_innerr div {
        float: left;
        width: 20%;
        padding-left: 5px;
        padding-right: 5px;
    }

.collection_cus_report_footer {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 5px;
    text-align: right;
}
       @media (max-width:1024px) {
        .ticket_list_partial_device_header {
            display: block;
            width: 40%;
            float: left;
            font-size: 13px;
            font-weight: bold;
            padding-left: 5px;
        }

            .ticket_list_partial_device_header span {
                float: right;
                margin-right: 10px;
            }

        .ticket_list_partial_device_info {
            width: 60%;
            float: left;
        }

        .loadticketreportlist_table thead {
            display: none;
        }
        .lcrp_info_block {
            width: 100%;
        }
       }
@media (max-width: 768px) {
    .lcrp_info_block {
        width:100%;
    }
    .ticket_search_filter .col-md-8 {
        display: table;
    }

        .ticket_search_filter .col-md-8 .col-md-4 {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .ticket_search_filter .col-md-8 .col-md-2 {
            width: 25%;
            float: left;
        }

    .ticket_search_filter .search_btn_ticket_filter {
        width: 50%;
        padding: 5px 15px;
        text-align: left;
        float: left;
    }

    .ticket_search_filter .create_tkt_button {
        width: 100%;
        float: left;
        padding: 5px 15px;
    }

    .ticket_list_partial_info thead {
        display: none;
    }

    .ticket_list_partial_info tbody tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

        .ticket_list_partial_info tbody tr:nth-child(even) {
            background-color: #f9f6f6;
        }

        .ticket_list_partial_info tbody tr td {
            width: 100%;
            float: left;
            padding: 3px 0px;
        }

    .ticket_list_partial_device_header {
        display: block;
        width: 40%;
        float: left;
        font-size: 13px;
        font-weight: bold;
        padding-left: 5px;
    }
    .ticket_list_partial_device_header span {
        float:right;
        margin-right:10px;
    }
    .ticket_list_partial_device_info {
        width: 60%;
        float: left;
    }
    .loadticketreportlist_table thead {
        display:none;
    }
    .loadticketreportlist_table tbody tr td {
        width:100%;
        float:left;
    }
    .collection_cus_report_filter .collection_cus_report_filte_innerr div {
        width: 33.33%;
    }
}

@media (max-width: 414px) {
    .lcrp_filter_btn {
        float:right;
    }
    .load_coll_report_partial_top_bar_inner {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }
       
       .load_coll_report_partial_top_bar_inner .input-group {
            width:100%;
            margin-left:0px;
       }
    .collection_cus_report_filter .collection_cus_report_filte_innerr div {
        width: 100%;
    }
}
   

.no_paddingleft_report {
        padding-left: 0;
    }

    .no_paddingright_report {
        padding-right: 0;
    }
   .lrp_bottom_border {
    /*margin-left: 0px;*/
    margin-right: 13px;
    /*border-bottom: 1px solid #ccc;*/
}