            body{
            overflow:hidden!important;
             }
         .export_confirm_container {
                width: 100%;
                float: left;
                position: relative;
                height: 498px;
         }
         .export_confirm_container div {
             box-sizing:border-box;
         }
         .export_confirm_container select:focus {
             outline:none;
         }
        .MainDiv{
            width:100%;
            float:left;
            overflow:hidden;
            margin:0px;
            padding:0px;
        }
        .container-div{ 
           width:100%;
           float:left;
           padding:0px 5px;
        }
        .item{
            width:100%; 
            padding-top:5px;
            padding-bottom:5px;
        }
        .contents {
               height: 295px;
                float: left;
                width: 100%;
                position: relative;
                border: 1px solid #ccc;
                padding: 5px;
                font-size: 15px;
        }
       
        .contents_right_side{
                float: left;
                width: 100%;
                position: relative;
                font-size: 15px;
        }
        .cross-image{
            position: absolute;
            right: 7px;
            top: 8px;
            width: 20px;
        }
        .footer{
            height: 40px;
            width: 100%;
            padding: 0px 5px;
            background: #fff;
            position: absolute;
            bottom:0px;
            left:0px;

        }
        .button{
            height:34px;
            width:80px;
             -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius:4px;
            background-color:white;
            border:none;
            color:white;
        }
        .cancelbutton,
        .cancelbutton:hover,
        .cancelbutton:focus {
            background-color: #d9534f !important;
            border-color: #d9534f !important;
        }
        .okbutton{
            background-color:#2ca01c;
            
        }
        .buttons{
            float:right;
            padding-top:3px;
        }
        .cursor-pointer{
            cursor:pointer;
        }
        .hidden{
            display:none;
        }
        .width-100p {
        width: 100%;
        padding-right: 5px;
        display: inline-block;
}
        .sub-header {
         width: 103%;
        float: left;
        margin: -10px 0px 5px -10px;
        font-size: 24px;
        background: #ddd;
        padding: 12px 15px;
        }
            /*style start for checkbox*/
/*style start for checkbox*/
.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: #00c31f;
 
}
.label-cbx input:checked + .checkbox svg path {
  fill: none;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
  stroke-width: 1;
  

}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  margin-top: -3px;
  width: 16px;
  height: 15px;
  border: 2px solid #C8CCD4;
   -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    box-sizing: unset;
}
.label-cbx .checkbox svg {
    position: absolute;
    top: -3px;
    left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none ;
  stroke: #00c31f;
  stroke-width: 2;
  /*stroke-linecap: round;*/
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #00c31f;
  stroke-width: 2;
  /*stroke-linecap: round;*/
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}
.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

/*style end for checkbox*/
/*style end for checkbox*/
.export_confirm_content {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.export_confirm_content .number_one {
    width:30%;
    float:left;
}
.export_confirm_content .number_one,
.export_confirm_content .number_two {
    padding-bottom:5px;
}
.export_confirm_content .number_two {
    width:25%;
    float:left;
}
.export_confirm_content .number_three {
    width:auto;
    float:left;
    padding-right:10px;
}
.export_confirm_content .number_three select,
.export_confirm_content .number_four select {
    width:100%;
    float:left;
    border:1px solid #ccc;
    cursor:pointer;
    border-radius:4px;
    padding:5px;
}
.export_confirm_content .number_four {
    width:auto;
    float:left;
}
        .width-50p {
            float: left;
            width: 30%;
        }

        .width-50pp {
            float: left;
            width: 30%;
        }

        .width-25p {
            float: right;
            width: 25%;
        }

        .width-25p-left {
            float: left;
            width: 25%;
        }

        .width-20p {
            float: right;
            width: 20%;
        }

        .number_one {
            width: 100%;
        }
        .export_excel_table {
            width:100%;
            float:left;
            border: none;
            border-collapse: collapse;
        }
        .export_excel_table thead {
            background-color:#ccc;
        }
        .export_excel_table tr th:nth-child(1) {
            width:65%;
        }
         .export_excel_table tr th:nth-child(2) {
            width:35%;
        }
         .export_excel_table tr th,
         .export_excel_table tr td {
             padding:5px;
             vertical-align: top;
         }
         .export_excel_table tr:nth-child(2) td:nth-child(2) {
             vertical-align:top;
         }
         .export_right_side_device,
         .export_excel_device_header {
             display:none;
         }
         .export_excel_radio_div {
             width:auto;
             float:left;
         }
         @media (max-width:414px) {
             .export_excel_table thead {
                 display:none;
             }
             /*.export_excel_table tr:nth-child(1) {
            display:none;
        }*/
           
             .export_excel_table tr td {
                 width:100%;
                 float:left;
                 box-sizing:border-box;
             }
              .export_right_side_device {
             display:block;
         }
             
              .export_excel_device_header {
                  display:block;
                  width:100%;
                  float:left;
                  padding:10px;
                  text-align:center;
                  background-color:#2ca01c;
                  color:#fff;
                  font-weight:bold;
              }
               .export_excel_radio_div {
                 width:100%;
                 padding: 5px 0px;
         }
               .export_confirm_content .number_one {
                   padding-top:5px;
                   padding-bottom:8px;
               }
         }