.lead_report_details_container {
    width:100%;
    float:left;
}
.lead_report_details_inner {
    width:100%;
    float:left;
    padding:10px;
    overflow-y:auto;
}
.lead_report_details_header {
    width: 100%;
    float: left;
    font-size: 26px;
    padding: 5px 15px;
    background-color: #ddd;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lead_report_details_header a {
    color:#2ca01c;
    cursor:pointer;
}
.lead_report_table_header {
    width:100%;
    float:left;
    background-color:#eceef1;
    padding: 5px 10px;
    font-size: 20px;
}
.report_table_custom {
    width:100%;
    float:left;
}
.report_table_custom table thead tr th {
    color:#000;
}
.report_table_custom table tbody tr {
    border-bottom:1px solid #ccc;
}
.report_table_custom table tbody tr:nth-child(even) {
    background-color:#f8f8f8;
}

.report_table_custom table tbody tr:nth-child(odd) {
    background-color:#fff;
}
    .report_table_custom table tbody tr:hover {
        background-color: #f4f5f8;
    }
    .report_table_custom table tbody tr td div:nth-child(1) {
        display:none;
    }

    @media (max-width:414px) {
       
        .report_table_custom table thead {
            display:none;
        }
        .report_table_custom table tbody tr td {
            width:100%;
            float:left;
            padding: 5px 10px;
        }
        .report_table_custom table tbody tr td div:nth-child(1) {
        display:block;
        width:35%;
        float:left;
        text-align:left;
        font-weight:bold;
    }
        .report_table_custom table tbody tr td div:nth-child(1) span {
            float:right;
            margin-right:5px;
        }
         .report_table_custom table tbody tr td div:nth-child(2) {
        width:65%;
        float:left;
    }

    }
