.invoice_report_bottom_border {
    border-bottom:1px solid #ccc;
    margin-left:15px;
    margin-right:15px;
  
}
.invoice_report_top_info {
    width:100%;
    float:left;
}
.invoice_report_margin_top {
    margin-top:5px;
}
.invoice_report_right_pad {
    padding-right:2px;
}
.invoice_report_left_pad {
    padding-left:2px;
}
.invoice_report_float_right {
    float:right;
}
.ir_left_zero {
    padding-left:0px;
}
.ir_right_zero {
    padding-right:0px;
}
.irp_total_invoice {
       border-left: 10px solid #0077c5;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    background-color: #035890;
    font-family: sans-serif;
}
.irp_total_pd {
       border-left: 10px solid #b1b4bb;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    font-family: sans-serif;
    background-color: #6d6e6f;
}
.irp_total_amount {
       border-left: 10px solid #21abf6;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    font-family: sans-serif;
    background-color: #027dbf;
}
.invoice_report_btn {
   padding: 7px 15px;
    background-color: #2ca01c !important;
    border: none;
    color: white;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    margin-top:20px;
}
.ir_total_style {
    text-align:right;
}
.invoice_filter_container {
   /*border-top:1px solid #ccc;*/
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
.invoice_filter_container label {
    margin-bottom:0px;
}
#InvoiceReportTable > thead > tr > th {
    padding:10px;
     border-bottom:1px solid #fff;
     border-right:1px solid #fff;
     background-color:#f4f5f8;
}
#InvoiceReportTable > tbody > tr > td {
    padding:5px 10px;
    border-bottom:1px solid #ccc;
     border-right:1px solid #ccc;
}
#InvoiceReportTable > tbody > tr:hover {
    background-color:#f4f5f8;
}

#InvoiceReportTable_length, #InvoiceReportTable_filter {
    display:none;
}
.invoice_report_filter_btn {
    width:77px;
}
