.reports_partial_container {
    width:100%;
    float:left;
}
.ccp_top_bar {
    width:100%;
    float:left;
}
    .ccp_top_bar button {
        float:right;
        margin-left:10px;
    }
    .ccp_top_bar .input-group {
        width: 300px;
        float: left;
    }
.reports_partial_container .dateviewed,
.payroll_reports_container .dateviewed {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ReportsHeading {
    width:auto;
    float:left;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 15px;
}
.aging_partial_company_info {
    width: 100%;
    float: left;
    text-align: center;
    color: #1c26a0;
    padding-bottom: 10px;
}
    .aging_partial_company_info .c_name {
        width: 100%;
        float: left;
        font-size: 24px;
    }
.aging_style {
    border: 1px solid #ccc;
    padding: 0px 10px;
}
    .aging_partial_company_info .ag_header {
        width: 100%;
        float: left;
        font-size: 30px;
        font-weight:bold;
        margin-top:-5px;
    }
    .aging_partial_company_info .ag_date {
        width: 100%;
        float: left;
        font-size: 20px;
        margin-top: -5px;
    }
    .larp_searchbar {
        width: auto;
        float: left;
    }
.larp_searchbar .customer_report_srch {
    width:140px !important;
    float:left;
}
.larp_searchbar .acc_type_list_div {
    width: 140px !important;
    float: left;
}
        .larp_searchbar .service_type_list_div {
            width: 140px !important;
            float: left;
        }
.larp_searchbar .input-group {
    width:250px;
    float:left;
    margin-left:-3px;
}
    .larp_searchbar .input-group .dropdown-toggle {
         width:250px;
    }
.lead_report_top_border {
    padding-top:10px;
}
.lpp_margin_top {
    margin-top:5px;
}
.lpp_right_pad {
    padding-right:2px;
}
.lpp_left_pad {
    padding-left:2px;
}
.lpp_right_pad_zero {
    padding-right:0px;
}
.lpp_left_pad_zero {
    padding-left:0px;
}
.lrp_float_right {
    float:right;
}
.leads_report_table {
    width:100%;
    float:left;
    margin-top:10px;
}
.lrp_bottom_border {
       margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid #ccc;
}
.leads_report_top_bar {
   padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.followup_report_top_bar {
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.lhlr_top_bar .input-group {
    width:200px;
    float:left;
    margin-left:-3px;
}
.lhlr_top_bar #lead_status {
    width:200px;
    float:left;
}
.lhlr_top_bar #lead_market {
    width:200px;
    float:left;
    margin-left:-3px;
}


.ticket_report_things {
    width:100% !important;
    float:left;
}
.ware_house_inv_filter .srch_category {
    width:195px !important;
    float:left !important;
} 
.ware_house_inv_filter .srch_manufac {
      width:255px !important;
    float:left !important;
} 

.trans_inv_filter .trans_category {
     width:215px !important;
    float:left !important;
}
.truck_inv_srch_filter .truck_category {
     width:215px !important;
    float:left !important;
}
.truck_inv_srch_filter .truck_manufac,
.trans_inv_filter .trans_manufac {
     width:250px !important;
    float:left !important;
}

.trans_inv_filter .input-group {
     width:195px !important;
    float:left !important;
}
.truck_inv_srch_filter .input-group {
     width:190px !important;
    float:left !important;
}
.customer_report_srch {
    width:145px !important;
    float:left !important;
}

.timeclock_report_container {
    width:100%;
    float:left;
}
.ticket_report_things .input-group  {
     width: 220px;
    float: left;
}

.summery_rpt_filter .TicketFor_search {
    width:180px !important;
    float:left !important;
}

.ware_house_inv_filter .srch_category button,
.ware_house_inv_filter .srch_manufac button,
.trans_inv_filter .trans_category button,
.truck_inv_srch_filter .truck_category button,
.truck_inv_srch_filter .truck_manufac button,
.trans_inv_filter .trans_manufac button,
.trans_inv_filter .trans_technician button,
.truck_inv_srch_filter .truck_technician button {
    border-radius:0px;
}

.ware_house_inv_filter .srch_category,
.ware_house_inv_filter .srch_manufac,
.trans_inv_filter .trans_category,
.truck_inv_srch_filter .truck_category,
.truck_inv_srch_filter .truck_manufac,
.trans_inv_filter .trans_manufac,
.trans_inv_filter .trans_technician,
.truck_inv_srch_filter .truck_technician {
    margin-left:-1px !important;
}


.leads_report_top_bar .leads_report_filter_bar {
    width:auto;
    float:left;
}
.leads_report_top_bar .leads_report_filter_bar label {
    width:100px;
    float:left;
}
.leads_report_top_bar .leads_report_filter_bar input {
    width:200px;
    float:left;
    margin-right:10px;
}
.leads_report_top_bar .leads_report_filter_bar button {
    width:auto;
    float:left;
}

.followup_report_top_bar .leads_report_filter_bar {
    width: auto;
    float: left;
}

    .followup_report_top_bar .leads_report_filter_bar label {
        width: 100px;
        float: left;
    }

    .followup_report_top_bar .leads_report_filter_bar input {
        width: 200px;
        float: left;
        margin-right: 10px;
    }

    .followup_report_top_bar .leads_report_filter_bar button {
        width: auto;
        float: left;
    }
.lead_total_color {
    border-left: 10px solid #0077c5;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    background-color: #035890;
    font-family: sans-serif;
}
.reports-tabs {
    background-color:#f4f5f8;
}
.reports-tabs > li.active > a,
.reports-tabs > li.active > a:hover {
    background-color: #2ca01c !important;
    color: #fff !important;
    border-color: #2ca01c;
}
#LeadsReportTable thead tr th div:nth-child(1) {
    width: 94%;
    float: left;
    padding-top: 2px;
}
#LeadsReportTable thead tr th div:nth-child(2) {
    width: 6%;
    float: left;
}
    #LeadsReportTable thead tr th div:nth-child(2) i {
        float: right;
        cursor: pointer;
        width: 100%;
        text-align: right;
        color: #bdbdbd;
    }
        #LeadsReportTable thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
#LeadsReportTable > thead > tr > th {
    padding: 5px 10px 5px 10px;
    border:1px solid #ccc;
}
#LeadsReportTable > thead > tr > .lrp_id {
    width: 70px;
    text-align:center;
}
#LeadsReportTable > thead > tr > .lrp_cr_on {
    width:110px;
}
#LeadsReportTable > thead > tr {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
#LeadsReportTable > tbody > tr {
    border:1px solid #ccc;
}

.ware_house_inv_filter .input-group {
    width:290px;
    float:left;
}


#LeadsReportTable > tbody > tr > td {
    padding:10px;
    border-bottom:1px solid #ccc;
     border-right:1px solid #ccc;
}
#LeadsReportTable > tbody > tr:nth-child(odd) {
    background-color:#f8f8f8;
}
#LeadsReportTable > tbody > tr:hover {
    background-color:#f4f5f8;
}
.move_cus_div .input-group {
    width:300px;
    float:left;
}
.move_cus_div #move_cus_filterbtn {
margin-left:10px;
}
.move_cus_report_filte_innerr .form-group {
    width: 23%;
    float: left;
    margin: 5px 1%;
}
    .move_cus_report_filte_innerr .form-group label {
        margin-bottom:0px;
    }
.report_tooltip_div {
    width: auto;
    float: left;
    position: relative;
    cursor:pointer;
}
.report_tooltip_div input {
   
    cursor: pointer;
}
.report_tooltip {
    display: none;
    position: absolute;
    top: -2px;
    left: 20px;
    background-color: #2ca01c;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
}
    .report_tooltip::after {
        content: '';
        position: absolute;
        left: -7px;
        top: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #2ca01c;
        clear: both;
        transform: rotate(90deg);
    }
.report_tooltip_div {
    width:auto;
    float:left;
    position:relative;
}
.report_tooltip_div:hover .report_tooltip {
    display: block;
}
#LeadsReportTable_length, #LeadsReportTable_filter {
    display: none;
}
 #LeadsReportTable tbody tr td div:nth-child(1) {
     display:none;
     }
.aging_style #LeadsReportTable thead tr th {
    vertical-align:middle;
}
.aging_style #LeadsReportTable tbody tr td div:nth-child(2) {
    white-space:nowrap;
}
.aging_style #LeadsReportTable tbody tr td:nth-child(1) div:nth-child(2),
.aging_style #LeadsReportTable tbody tr td:nth-child(2) div:nth-child(2) {
    white-space: unset !important;
}
.lead_click_item, .lead_click_item:hover {
    cursor: pointer;
    color: #2ca01c;
    text-decoration: none;
}
 .filter-by-status{
         width: 300px;
    float: left;
 }

 .inventory_report_table thead tr th:nth-child(8) {
     width:8%;
 }
 .inventory_report_table thead tr .rb_number {
    width:10%;
 }
  .inventory_report_table thead tr .nop_col {
     width:60px !important;
 }
 
  .inventory_report_table thead tr th:nth-child(7) {
     width:100px !important;
 }
    .truck_inv_table thead tr .amo_col {
     width:90px !important;
 }
  .ticket_search_filter {
      width:auto;
      float:left;
  }
  .ticket_search_filter .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
      left:5px;
  }
  .ticket_search_filter .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
      padding-left:3px;
  }
   /*#LeadsReportTable tbody tr td div:nth-child(2) {
       word-break:break-word;
     }*/
#LeadsReportTable tbody tr td div:nth-child(2) b {
    margin-right:5px;
}
   .loadHudsonleadsReportTable > thead > tr > th {
    padding: 5px 10px 5px 10px;
    border:1px solid #ccc;
}
.loadHudsonleadsReportTable > thead > tr {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.loadHudsonleadsReportTable > tbody > tr {
    border:1px solid #ccc;
}
.job_report_top_bar {
    width: 100%;
    float: left;
    padding-top: 15px;
    position:relative;
}
    .job_report_top_bar .convert_cus_report_filter {
        position: absolute;
        left: 0px;
        top: 42px;
        max-width: 400px;
        background-color: #fff;
        z-index: 99;
    }
        .job_report_top_bar .convert_cus_report_filter .convert_cus_report_filte_innerr div {
            width:80% !important;
        }
        .loadHudsonleadsReportTable > tbody > tr > td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
.loadHudsonleadsReportTable > tbody > tr:nth-child(even) {
    background-color:#f8f8f8;
}
.loadHudsonleadsReportTable > tbody > tr:hover {
    background-color:#f4f5f8;
}

 .loadHudsonleadsReportTable tbody tr td div:nth-child(1) {
     display:none;
     }
 /*.loadHudsonleadsReportTable tbody tr td div:nth-child(2) {
       word-break:break-all;
     }*/
 .loadHudsonleadsReportTable tbody tr td:nth-child(1) div:nth-child(2),
  .loadHudsonleadsReportTable tbody tr td:nth-child(2) div:nth-child(2) {
       word-break:unset;
     }
  .hudson_activity_report tbody tr td div:nth-child(2) {
       word-break:keep-all !important;
     }
 
  .loadHudsonleadsReportTable thead tr .street {
     width:120px;
 }
    .loadHudsonleadsReportTable thead tr .statezip {
     width:70px;
 }
    .loadHudsonleadsReportTable thead tr .arStat {
            width: 100px;
    }
     .loadHudsonleadsReportTable thead tr .arDueDate {
            width: 100px;
    }
      .loadHudsonleadsReportTable thead tr .arCreDate {
            width: 100px;
    }
      .loadHudsonleadsReportTable thead tr .arAssOppr {
            width: 200px;
    }
      .loadHudsonleadsReportTable thead tr .lhlr_add {
            width: 200px;
    }
     .loadHudsonleadsReportTable thead tr .lhlr_stat {
            width: 120px;
    }
       .loadHudsonleadsReportTable thead tr .accRepDBA {
            width: 200px;
    }
       .loadHudsonleadsReportTable thead tr .accRepSmall {
           width:100px;
       }
        .loadHudsonleadsReportTable thead tr .accRepCity,
        .loadHudsonleadsReportTable thead tr .lhlr_name {
           width:120px;
       }
         .loadHudsonleadsReportTable thead tr .oppRepCloseDate,
          .loadHudsonleadsReportTable thead tr .oppRepProbab {
           width:100px;
       }
          .loadHudsonleadsReportTable thead tr .sbr_small {
           width:110px;
       }
           .loadHudsonleadsReportTable thead tr .hbbr_small {
           width:150px;
       }
.loadHudsonleadsReportTable thead tr th {
    z-index:1;
}
.sbr_table_header {
    font-weight: 600;
    font-size: 20px;
    float: left;
    border: 1px solid #ccc;
    width: auto;
    padding: 3px 10px;
    margin-bottom: -16px;
    margin-top: 10px;
    border-radius: 4px 4px 0px 0px;
}
.name_anchor_style,
.name_anchor_style:hover {
    color: #2ca01c !important;
    cursor: pointer;
    text-decoration: none;
}
.unpaid_amount_style,
.unpaid_amount_style:hover {
    color:  #d9534f !important;
    cursor: pointer;
    text-decoration: none;
}
.CustomerCancellationTab table {
    margin-top:0px;
}
.cancel_que_top_bar {
    width:100%;
    float:left;
}
.cancel_cue_search {
    width: 100%;
    float: left;
}
.cancel_cue_search_bar {
    width:auto;
    float:left;
}


.cancel_cue_search #CancellationReason {
    width: 20%;
    float: left;
    margin-right: -3px;
    margin-top: 10px;
}

.cancel_cue_search .input-group {
    width: 20%;
    float: left;
    margin-top: 10px;
}



.cancel_cue_search .SelectAll,
.cancel_cue_search .SelectAll:hover,
.cancel_cue_search .SelectAll:focus {
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: #fff;
    float: right;
    margin-left:10px;
}
.cancel_cue_search button {
    margin-bottom:10px;
}
.inven_summery_nounits_container {
    width: 100%;
    float: left;
    padding: 35px;
}
.inven_summery_nounits_container_inner {
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}
.inven_summery_nounits_container #LeadsReportTable {
    width:100%;
    float:left;
    table-layout:fixed;
}
 .convert_cus_report_left{
        float:left;
        width:auto;
    }
    .convert_cus_report_filte_innerr {
            width: 100%;
    float: left;
    }
    .convert_cus_report_left .input-group {
        width:300px;
        float:left;
    }
    .convert_cus_report_left #convert_cus_filterbtn {
        float:left;
        margin-left:10px;
    }
    .convert_cus_filter_list .convert_cus_filter_button button{
        margin:5px;
        border-color:#2ca01c;
        background-color:#2ca01c;
        color:white;
    }
.convert_cus_report_filter,
.installed_deal_report_filter {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
    .convert_cus_report_filter .convert_cus_report_filte_innerr div,
    .installed_deal_report_filter .convert_cus_report_filte_innerr .form-group {
        float: left;
        width: 20%;
        padding-left: 5px;
        padding-right: 5px;
    }
        .installed_deal_report_filter .convert_cus_report_filte_innerr .form-group label {
            margin-bottom:0px;
        }
        .convert_cus_report_footer {
            width: 100%;
            float: left;
            background-color: #fff;
            padding: 5px;
            text-align: right;
        }
#btnInstalledDeal {
    float:right;
}
/*.ccrp_filter_btn,
    #delinquent_cus_filterbtn,
    #transfer_cus_filterbtn {
    padding:0px;
    background: none;
    height: 35px;
    font-size: 24px;
    outline:none !important;
    border:none;
       
}
.ccrp_filter_btn:hover,
.ccrp_filter_btn:focus,
.ccrp_filter_btn:active,
#delinquent_cus_filterbtn:hover,
#delinquent_cus_filterbtn:focus,
#delinquent_cus_filterbtn:active,
#transfer_cus_filterbtn:hover,
#transfer_cus_filterbtn:focus,
#transfer_cus_filterbtn:active {
    background: none;
    outline:none !important;
    border:none;
}*/
.delinquent_cus_report_left {
    float: left;
    width: auto;
}

    .delinquent_cus_report_filte_innerr {
        width: 100%;
        float: left;
    }

    .delinquent_cus_report_left .input-group {
        width: 300px;
        float: left;
    }

    .delinquent_cus_report_left #delinquent_cus_filterbtn {
        float: left;
        margin-left: 10px;
    }

    .delinquent_cus_filter_list .delinquent_cus_filter_button button {
        margin: 5px;
        border-color: #2ca01c;
        background-color: #2ca01c;
        color: white;
    }

    .delinquent_cus_report_filter {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        padding: 10px;
    }

        .delinquent_cus_report_filter .delinquent_cus_report_filte_innerr div {
            float: left;
            width: 20%;
            padding-left: 5px;
            padding-right: 5px;
        }

    .delinquent_cus_report_footer {
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 5px;
        text-align: right;
    }
     .transfer_cus_report_left {
        float: left;
        width: auto;
    }

    .transfer_cus_report_filte_innerr {
        width: 100%;
        float: left;
    }

    .transfer_cus_report_left .input-group {
        width: 300px;
        float: left;
    }

    .transfer_cus_report_left #transfer_cus_filterbtn {
        float: left;
        margin-left: 10px;
    }

    .transfer_cus_filter_list .transfer_cus_filter_button button {
        margin: 5px;
        border-color: #2ca01c;
        background-color: #2ca01c;
        color: white;
    }

    .transfer_cus_report_filter {
        width: 100%;
        float: left;
        border: 1px solid #ccc;
        padding: 10px;
    }

        .transfer_cus_report_filter .transfer_cus_report_filte_innerr div {
            float: left;
            width: 20%;
            padding-left: 5px;
            padding-right: 5px;
        }
            .transfer_cus_report_filter .transfer_cus_report_filte_innerr div label {
                margin-bottom:0px;
            }
            .transfer_cus_report_footer {
                width: 100%;
                float: left;
                background-color: #fff;
                padding: 5px;
                text-align: right;
            }
    .larp_top_bar {
        width:100%;
        float:left;
        padding-top: 15px;
    } 
    .larp_top_bar .larp_top_bar_inner {
          width:600px;
        float:left;
    }
    .larp_top_bar #type_activity {
          width:25%;
        float:left;
        margin-right:-3px;
    }
     .larp_top_bar #status_activity {
           width:35%;
        float:left;
        margin-right:-3px;
    }
      .larp_top_bar .input-group {
            width:40%;
        float:left;
    }
       .larp_top_bar .input-group #btn_activity  {
          background-color:#2ca01c;
          color:#fff;
    }
       .lsbr_top_bar {
        width: 100%;
        float: left;
        padding: 10px 0px;
    }

        .lsbr_top_bar .input-group {
            width: 300px;
            float: left;
        }
        .lsbrr_top_bar {
        width: 100%;
        float: left;
        padding: 10px 0px;
    }
        .lsbrr_top_bar_inner {
        width: auto;
        float: left;
    }
         .lsbrr_top_bar_inner .day_list_lsbrr {
            width: 175px;
            float: left;
        } 
         .lsbrr_top_bar_inner #btn_softClosedWon {
             margin-left:-3px;
         }
          .lsbrr_top_bar_inner #btn_softClosedLost {
             margin-left:-3px;
         }
           .lsbrr_top_bar_inner #btn_softClosedWon,
          .lsbrr_top_bar_inner #btn_softClosedLost,
            .lsbrr_top_bar_inner #btn_softClosedWon:hover,
          .lsbrr_top_bar_inner #btn_softClosedLost:hover,
            .lsbrr_top_bar_inner #btn_softClosedWon:focus,
          .lsbrr_top_bar_inner #btn_softClosedLost:focus {
            background-color:#2ca01c;
            color:#fff;
         }
         
         .lsbrr_top_bar_inner .account_owner_div {
            width: 210px;
            float: left;
        } 
        .lsbrr_top_bar_inner #btn_soft {
           margin-left:-3px;
        }
        .no_paddingleft_report {
        padding-left: 0;
    }

    .no_paddingright_report {
        padding-right: 0;
    }

    .orange_color {
        font-weight: 600;
        font-size: 20px;
        float: left;
        border: 1px solid #ccc;
        width: auto;
        padding: 3px 10px;
        margin-bottom: -16px;
        margin-top: 10px;
        border-radius: 4px 4px 0px 0px;
    }

    .lhbrp_top_bar {
        width: 100%;
        float: left;
        padding: 10px 0px;
    }
    .lhbrp_top_bar_inner {
          width: auto;
        float: left;
    }
        .lhbrp_top_bar_inner #year_list {
            width: 80px;
            float: left;
        }
         .lhbrp_top_bar_inner .account_owner_div {
            width: 200px;
            float: left;
        }
          .lhbrp_top_bar_inner .input-group {
            width: 180px;
            float: left;
        }
          .leads_report_top_info {
               width: 100%;
        float: left;
        padding-bottom:10px;
          }
          .leads_report_top_info .lrp_bottom_border {
              width:33.33%;
              float:left;
          }
.hudson_line_clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#LeadsReportTable tbody tr td div:nth-child(1) {
    display:none;
}
.restricted_zip_table {
    width:100%;
    float:left;
    table-layout:fixed;
}
    .restricted_zip_table thead tr th {
        width:25%;
    }
#PayrollReportTable {
    width: 100%;
    float: left;
}

.load_jobs_container {
    width: 100%;
    float: left;
}

.load_jobs_top_info {
    width: 100%;
    float: left;
    padding-top: 10px;
}

    .load_jobs_top_info .col-md-3 {
        padding-left: 0px;
        padding-right: 0px;
    }

.load_jobs_top_info_style {
   /* font-size: 19px;*/
    padding: 5px;
    color: #fff;
    position:relative;
}
.load_jobs_top_info_style svg {
    position:absolute;
    left:2px;
    top:7px;
}
.load_jobs_top_info_style span:nth-child(1) {
    display: block;
    text-align: right;
    font-weight: bold;
}
    .load_jobs_top_info_style span:nth-child(2) {
        display: block;
        text-align: right;
        font-size: 25px;
    }
    .jobs_info_total_color {
        border-left: 10px solid #1863a5;
        background-color: #337ab7;
    }

.jobs_info_online_color {
    border-left: 10px solid #10ab10;
    background-color: #5cb85c;
}

.jobs_info_system_color {
    border-left: 10px solid #d68614;
    background-color: #f0ad4e;
}

.jobs_info_amt_color {
    border-left: 10px solid #c30e09;
    background-color: #d9534f;
}

    @media (max-width:1024px) {
        .truck_inv_srch_filter, .ticket_search_filter {
           width:100% !important;
           margin-bottom:10px;
       }
       .truck_inv_srch_filter .truck_category,
       .truck_inv_srch_filter .truck_manufac,
       .truck_inv_srch_filter .input-group,
       .trans_inv_filter .trans_category,
       .trans_inv_filter .trans_manufac,
        .trans_inv_filter .input-group {
     width:33.33% !important;
     float:left;
}
      

   }
@media (max-width:768px) {
    .cancel_cue_search_bar {
        width: 100%;
        margin-bottom:10px;
    }
    .cancel_cue_search #CancellationReason {
        width: 58%;
    }

    .cancel_cue_search .input-group {
        width: 42%;
    }
    .leads_report_top_info .lrp_bottom_border {
        width: 100%;
    }
     .lhbrp_total_row {
        display:none;
    }
    .lhbrp_top_bar_inner {
          width: 100%;
        float: left;
        margin-bottom:10px;
    }
        .lhbrp_top_bar_inner #year_list {
            width: 20%;
        }
        .lhbrp_top_bar_inner .account_owner_div {
            width: 45%;
        }
         
          .lhbrp_top_bar_inner .input-group {
            width: 35%;
        }
    .larp_top_bar .larp_top_bar_inner {
          width:100%;
          margin-bottom:10px;
    }
   
    .leads_report_top_bar .leads_report_filter_bar input {
    width: 130px;
}
    #LeadsReportTable thead {
        display:none;
    }
    #LeadsReportTable tbody tr td {
        width:100%;
        float:left;
        box-sizing:border-box;
    }
    #LeadsReportTable .table_total_bg .total_bg_none_device {
        display: none;
    }
     #LeadsReportTable tbody tr td div:nth-child(1) {
         display:block;
         width:35%;
         float:left;
         text-align:left;
         font-weight:bold;
     }
      #LeadsReportTable tbody tr td div:nth-child(1) span {
          float:right;
          margin-right:10px;
      }
      #LeadsReportTable tbody tr td div:nth-child(2) {
         width:65%;
         float:left;
         text-align:left;
         word-break:break-all;
     }
       .loadHudsonleadsReportTable thead {
        display:none;
    }
    .loadHudsonleadsReportTable tbody tr td {
        width:100%;
        float:left;
        box-sizing:border-box;
    }
     .loadHudsonleadsReportTable tbody tr td div:nth-child(1) {
         display:block;
         width:47%;
         float:left;
         text-align:left;
         font-weight:bold;
     }
      .loadHudsonleadsReportTable tbody tr td div:nth-child(1) span {
          float:right;
          margin-right:10px;
      }
      .loadHudsonleadsReportTable tbody tr td div:nth-child(2) {
         width:53%;
         float:left;
         text-align:left;
         word-break:break-word;
     }
      .ticket_search_filter .input-group-btn {
          text-align:right;
      }
      
    
        .truck_inv_srch_filter .truck_category,
       .truck_inv_srch_filter .truck_manufac,
       .truck_inv_srch_filter .input-group,
       .trans_inv_filter .trans_category,
       .trans_inv_filter .trans_manufac,
        .trans_inv_filter .input-group {
     width:31.33% !important;
     float:left;
}
    .delinquent_cus_report_filter .delinquent_cus_report_filte_innerr div,
    .convert_cus_report_filter .convert_cus_report_filte_innerr div {
        width: 50%;
    }
}
@media (max-width:414px) {
    .cancel_cue_search #CancellationReason {
        width: 100%;
    }

    .cancel_cue_search .input-group {
        width: 100%;
    }
     .leads_report_top_info .lrp_bottom_border {
              width:100%;          }
   
     .lhbrp_top_bar_inner #year_list {
            width: 100%;
        }
         .lhbrp_top_bar_inner .account_owner_div {
            width: 100%;
        }
          .lhbrp_top_bar_inner .input-group {
            width: 100%;
        }
    .lsbrr_top_bar_inner {
        width: 100%;
        float: left;
        margin-bottom:10px;
    }
         .lsbrr_top_bar_inner .day_list_lsbrr {
            width: 100%;
            float: left;
        } 
         
        .lsbrr_top_bar_inner #btn_soft {
            float: right;
        }
         .lsbrr_top_bar_inner .account_owner_div {
            width: 100%;
            float: left;
        } 
    .larp_searchbar {
        width:auto;
        margin-bottom:10px;
    }
        .larp_searchbar .customer_report_srch {
            width: 105px !important;
        }
        .larp_searchbar .input-group {
            width: 160px;
        }
        .larp_searchbar .input-group .dropdown-toggle {
    width: 120px;
}
     .larp_top_bar #type_activity {
          width:50%;
          margin-right:0px;
    }
     .larp_top_bar #status_activity {
           width:50%;
            margin-right:0px;
    }
      .larp_top_bar .input-group {
            width:100%;
    }
 .filter-by-status {
    width: 100%;
    float: left;
        padding-bottom: 10px;
    padding-top: 10px;
}
    .leads_report_top_bar .leads_report_filter_bar input {
    width: 100%;
    margin-bottom:10px;
}
    .leads_report_top_bar .leads_report_filter_bar button {
        float:right;
        margin-bottom:10px;
    }
     #LeadsReportTable tbody tr td div:nth-child(1) {
         width:63%;
     }
     #LeadsReportTable tbody tr td div:nth-child(2) {
          width:37%;
     }
      #loadHudsonleadsReportTable tbody tr td div:nth-child(1) {
         width:50%;
     }
     #loadHudsonleadsReportTable tbody tr td div:nth-child(2) {
          width:50%;
     }
     .ticket_search_filter {
         width:100%;
     }
   
     #btnsearchtext,
     #btnsearchtext_reference {
         float:right;
         border-radius:0px 0px 4px 4px;
     }
     .leads_report_top_bar {
         padding-bottom:5px;
     }
     .ware_house_inv_filter .srch_category {
         width:100% !important;
     }
     .ware_house_inv_filter .input-group {
    width: 100%;
    float: left;
}
     .truck_inv_srch_filter .truck_category,
     .truck_inv_srch_filter .truck_manufac,
     .truck_inv_srch_filter .input-group,
      .trans_inv_filter .trans_category,
       .trans_inv_filter .trans_manufac,
        .trans_inv_filter .input-group {
         width:100% !important;
     }
     .summery_rpt_filter .TicketFor_search {
    width: 100% !important;
    float: left !important;
}
   
       .lsbr_top_bar .input-group {
            width: 100%;
            margin-bottom:10px;
        }
    .transfer_cus_report_left,
    .delinquent_cus_report_left,
    .convert_cus_report_left {
        width: 80%;
    }
        .transfer_cus_report_left .input-group,
        .delinquent_cus_report_left .input-group,
        .convert_cus_report_left .input-group {
            width: 75%;
        }
        .transfer_cus_report_left #transfer_cus_filterbtn,
        .delinquent_cus_report_left #delinquent_cus_filterbtn,
        .convert_cus_report_left #convert_cus_filterbtn {
            float: right;
        }
    .transfer_cus_report_filter .transfer_cus_report_filte_innerr div,
    .delinquent_cus_report_filter .delinquent_cus_report_filte_innerr div,
    .convert_cus_report_filter .convert_cus_report_filte_innerr div {
        width: 100%;
    }
}