.load_recur_bil_list_container {
    width:100%;
    float:left;
}
.load_recur_bil_list_header {
      width:100%;
    float:left;
       font-size:24px;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
.load_recur_bil_list_inner {
      width:100%;
    float:left;
    padding:20px;
    overflow-y:auto;
    overflow-x:hidden;
}
