.pceid_container {
    width: 100%;
    float: left;
}

.pceid_header {
    width: 100%;
    float: left;
    font-size: 20px;
    background-color: #f4f5f8;
    padding: 5px 15px;
    border-bottom: 2px solid #ccc;
}
.pceid_inner_height {
    width: 100%;
    float: left;
    overflow-y:auto;
}
.pceid_inner {
    width: 100%;
    float: left;
    padding: 10px 0px;
}
.pceid_footer {
    width: 100%;
    float: left;
    padding: 10px 15px;
    text-align: right;
    border-top: 2px solid #ccc;
}
.pceid_inner .form-group {
    width: 33.333%;
    float: left;
    padding: 0px 15px;
    height: 55px;
}
.pceid_inner .span_style {
   font-weight:bold;
}

@media (max-width:414px) {
    .pceid_inner .form-group {
        width: 100%;
    }
}
