/*Here We will add some css for style our treeview*/
.treeview {
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
}

    .treeview .collapse {
        width: 15px;
        background-image: url('/Content/img/TreeViewIcons.png');
        background-repeat: no-repeat;
        background-position: -36px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview .expand {
        width: 15px;
        background-image: url('/Content/img/TreeViewIcons.png');
        background-repeat: no-repeat;
        background-position: -50px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview ul {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
    }

    .treeview li {
        margin-top: 2px;
    }

        .treeview li input {
            margin-right: 5px;
        }

        .treeview li a {
            padding: 4px;
            font-size: 12px;
            display: inline-block;
            text-decoration: none;
            width: auto;
        }

.report_tree_container {
    padding: 0px;
    margin-top: 8px;
    border: 1px solid #ccc;
}

.Report-Tabs .nav-detail-contents {
    padding: 0px;
    padding-left: 15px;
}

    .Report-Tabs .nav-detail-contents .reports_tab_content {
        border: 0px;
        padding: 0px;
        min-height: 0px;
        margin-bottom: 0px;
    }

.report_tree_header_container {
    width: 100%;
    float: left;
    background-color: #f5f5f5;
    padding: 17px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.report_tree_header {
    width: auto;
    float: left;
    text-align: left;
    font-size: 17px;
}

    .report_tree_header span {
        margin-right: 5px;
    }

.report_tree_container .btnPartnerFilter,
.report_tree_container .btnPartnerFilter:hover,
.report_tree_container .btnPartnerFilter:focus {
    background-color: #2ca01c;
    color: #fff;
}

.report_tree_footer {
    width: 100%;
    float: left;
    text-align: right;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
}

.partner_report_load_container {
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.report_tree_container .treeview_cont {
    width: 100%;
    float: left;
}

.partner_report_emp_list {
    display: none;
}

@media (max-width:768px) {
   .treeview_cont .treeview {
       padding-bottom:10px;
   }
    .Report-Tabs .report_tree_container {
        width: 100%;
    }

    .Report-Tabs .nav-detail-contents {
        width: 100%;
        padding-left: 0px;
    }

    .report_tree_header_container {
        padding: 5px;
    }

    .report_tree_header {
        padding: 5px;
    }

    .partner_report_emp_list {
        display: block;
        float: right;
    }

    .report_tree_header_container .partner_report_emp_list,
    .report_tree_header_container .partner_report_emp_list:hover,
    .report_tree_header_container .partner_report_emp_list:focus {
        background-color: #2ca01c;
        color: #fff;
        border-color: #2ca01c;
    }

    .report_tree_container .treeview_cont {
        display:none;
        position: absolute;
        z-index: 5;
        background-color: #fff;
        top: 42px;
        left: 0px;
        border: 1px solid #ccc;
    }
}
