.lead_report_top_border {
    padding-top:10px;
}
.prpp_margin_top {
    margin-top:5px;
}
.prpp_right_pad {
    padding-right:2px;
}
.prpp_left_pad {
    padding-left:2px;
}
.prpp_float_right {
    float:right;
}

.prpp_border {
   width:100%;
   float:left;
    border-bottom: 1px solid #ccc;
}
.prrp_top_bar {
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.prrp_top_bar .prpp_FilterDiv {
    width:auto;
    float:left;
}
.prrp_top_bar .prpp_FilterDiv label {
    width:100px;
    float:left;
}
.prrp_top_bar .prpp_FilterDiv input {
    width:200px;
    float:left;
    margin-right:10px;
}
.prrp_top_bar .prpp_FilterDiv button {
    width:auto;
    float:left;
}
.prrp_payment_recv {
    border-left: 10px solid #21abf6;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    font-family: sans-serif;
    background-color: #027dbf;
}
.prrp_payment_info {
    font-size:12px;
    font-style: italic;
}
#PaymentRecReportTable > thead > tr > th {
    padding:10px;
     border-bottom:1px solid #fff;
     border-right:1px solid #fff;
     background-color:#f4f5f8;
}
#PaymentRecReportTable > tbody > tr > td {
    padding:5px 10px;
    border-bottom:1px solid #ccc;
     border-right:1px solid #ccc;
}
#PaymentRecReportTable > tbody > tr:hover {
    background-color:#f4f5f8;
}

#PaymentRecReportTable_length, #PaymentRecReportTable_filter {
    display:none;
}