.payroll_list_container {
    width:100%;
    float:left;
    padding:15px;
}
.report_top_search_bar {
     width:100%;
    float:left;
    padding: 10px 0px;
}
.convertion_report_table .crt_phn {
    width:135px;
}
.for_UserPaymentPartial .input-group {
    width:500px !important;
    float:left !important;
    margin-right:10px !important;

}
.clusterPaymentChackbox .label-cbx .checkbox {
    margin-top:0px;
    margin-bottom:0px;
    top:-2px;
}
.report_top_search_bar .input-group {
    width: 300px;
    float: left;
    margin-right: 10px;
}

.ConversionReportsTitle,
.JobsReportsTitle {
    width:100%;
    float:left;
    padding: 10px;
}
.ConversionReportsTitle h2,
.JobsReportsTitle h2  {
    width:auto;
    float:left;
    margin: 0px;
}
.Load_Ticket_Report .dateviewed {
    position: absolute;
    right: 10px;
    top: -40px;
}
.Load_Ticket_Report_GoBack .dateviewed {
    position: absolute;
    right: 10px;
    top: -40px;
}
.Load_Ticket_Report_reference .dateviewed {
    position: absolute;
    right: 10px;
    top: -40px;
}
.payroll_container_main {
    padding:5px 0px;
    margin-top:-15px;
}
.payroll_container_main .tab-content {
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    margin-top: -1px;
    padding: 10px;
    margin-bottom: 15px;
}
  #payroll_search_container{
        width:35%;
        float:left;
        padding:5px 0px 10px;
    }
    #srch-term {
        width: 232px;
    }
    #PayrollReportTable {
        width:100%;
        float:left;
        margin-top:15px;
        table-layout:fixed
    }
        #PayrollReportTable .label-cbx .checkbox {
            margin-top:0px;
            margin-bottom:0px;
        }
   #PayrollReportTable thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

   #PayrollReportTable thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        #PayrollReportTable thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            #PayrollReportTable thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }
            #PayrollReportTable thead tr th:nth-child(1) {
                width:135px;
            }
             /*#PayrollReportTable thead tr th:nth-child(4),
             #PayrollReportTable thead tr th:nth-child(5) {
                width:160px;
            }
              #PayrollReportTable thead tr th:nth-child(6) {
                width:150px;
            }*/
    #PayrollReportTable thead tr {
       border-bottom: 2px solid #d4d7dc;
    }
     #PayrollReportTable tbody tr td {
      border-bottom:1px solid #ddd;
   }
        #PayrollReportTable thead tr th,
        #PayrollReportTable tbody tr td {
            padding: 10px;
            border: 1px solid #ccc;
        }
   #PayrollReportTable thead tr th {
       border:1px solid #ccc;
   }
   #PayrollReportTable tbody tr td a {
     cursor:pointer;
   }
  
   #PayrollReportTable tbody tr:nth-child(odd) {
     background-color:#f8f8f8;
   }
    #PayrollReportTable tbody tr:hover {
     background-color:#f4f5f8;
   }
    /*#PayrollReportTable thead tr th:nth-child(5) {
        width:180px;
    }*/
    /*#PayrollReportTable thead tr .add_memb {
        width:145px !important;
    }*/
     /*#PayrollReportTable thead tr .serv_call,
     #PayrollReportTable thead tr .fol_up {
         width:125px !important;
     }*/
     #PayrollReportTable thead tr .resch {
         width:110px;
     }
     #PayrollReportTable thead tr .tick_id {
         width:190px !important;
     }
        #PayrollReportTable thead tr .reschedule_head {
            width: 100px !important;
        }
 .tech_report_table_container,
 .sales_report_table_container {
     width:100%;
     float:left;
     overflow-x:auto;
 }
    .sales_report_table_container #PayrollReportTable .comm_points,
    .tech_report_table_container #PayrollReportTable .comm_points {
        width: 130px;
    }
    .sales_report_table_container .make_payment_btn,
    .tech_report_table_container .make_payment_btn {
        float: right;
        background-color: #2ca01c;
        color: #fff;
    }
 .sales_report_table_container .next_batch,
 .tech_report_table_container .next_batch {
     float:right;
     margin-top:8px;
     width: auto;
     padding-right:10px;
 }
 
      .inputdiv {
    float: left;
    width: 81%;
}
       #PayrollReportTable tbody tr td div:nth-child(1) {
         display:none;
     }
       .convertion_report_top_nav > li.active,
      .job_report_top_nav > li.active {
    background-color: #2ca01c !important;
}
       .convertion_report_top_nav > li.active > a,
       .job_report_top_nav > li.active > a {
    color: white !important;
        background-color: transparent !important;
    border: none !important;
}
      
        #PayrollReportTable tbody tr td .rpt_pr_sc_dtp {
        word-break:break-all;
         }
         .payroll_sales_report_container,
         .payroll_techs_report_container,
         .payroll_member_report_container,
         .service_call_report_container {
              width:100%;
            float:left;
       }
         .payroll_sales_report_container .tab-content,
         .payroll_techs_report_container .tab-content,
         .payroll_member_report_container .tab-content,
         .service_call_report_container .tab-content {
            border: 0px;
            padding: 0px;
         }
.srp_tab_container {
    border: 1px solid #ddd;
    width: 100%;
    float: left;
    margin-top: -1px;
    padding: 10px;
    margin-bottom: 15px;
}
.PayrollSales_partial_search_div,
.Payrolltech_partial_search_div,
.Payrollmember_partial_search_div,
.service_call_partial_search_div {
    width: 100%;
    float: left;
    padding-top: 10px;
}
       
        .PayrollSales_partial_search_div .SalesSearchText,
        .PayrollSales_partial_search_div .input-group,
        .Payrolltech_partial_search_div .TechSearchText,
        .Payrolltech_partial_search_div .input-group,
        .Payrollmember_partial_search_div .MemberSearchText,
        .Payrollmember_partial_search_div .input-group,
        .service_call_partial_search_div .ServiceSearchText,
        .service_call_partial_search_div .input-group {
            width:300px;
            float:left;
            z-index:99;
        }
        .PayrollSales_partial_search_div #TechAddNewBI,
        .Payrolltech_partial_search_div #TechAddNewBI,
        .Payrollmember_partial_search_div #TechAddNewBI,
        .service_call_partial_search_div #TechAddNewBI {
            float:right;
        }
        .follow_up_partial_search_div {
            width:100%;
         float:left;
         padding: 15px 0px;
        }
        .follow_up_partial_search_div .FollowUpSearchText,
        .follow_up_partial_search_div .input-group  {
            width:250px;
            float:left;
        }

        .follow_up_partial_search_div .RescheduleSearchText,
        .follow_up_partial_search_div .input-group  {
            width:250px;
            float:left;
        }

        .follow_up_partial_search_div #TechAddNewBI {
            float:right;
            background-color:#2ca01c;
            color:#fff;
        }
.next_batch {
    float:right;
    margin-top:8px;
}
#BtnFund {
    float: right;
    margin-bottom: 10px;
    margin-left:10px;
}
        .frp_tab_block {
              width:100%;
            float:left;
            padding:10px;
            margin-bottom:10px;
            border:1px solid #ccc;
            border-radius:4px;
        }
        .frp_tab_block .report_top_search_bar {
            padding:0px;
            margin-bottom:10px;
        }

            .frp_tab_block .report_top_search_bar .ticket_type_div {
                width: 200px;
                float: left;
            }
.frp_tab_block .report_top_search_bar button {
    float: right;
    margin-left: 10px;
}
          .lfr_cluster_header .panel-title span {
        float: right;
        font-size: 13px;
        font-weight: bold;
        margin-left:15px;
    }
    .lfr_cluster_header .panel-title span .pr_norm {
        font-weight:normal;
        margin-left: 5px;
    }
    .RestockDataLoadPanelHeading  .accordion_header,
    .lfr_cluster_header .accordion_header {
        color:#2ca01c;
    }
        #LoadAdjustmentFundingReport,
        #LoadFundedCommReport {
            width:100%;
            float:left;
        }
       #LoadAdjustmentFundingReport #PayrollReportTable {
           margin-top:0px;
       }
.caep_container {
    width:100%;
    float:left;
    padding:35px;
}
    .caep_container #PayrollReportTable {
        width:100%;
        float:left;
        margin-top:0px;
        border:1px solid #ccc;
    }
    @media (max-width:768px) {
        .frp_tab_block .report_top_search_bar #TicketType, .frp_tab_block .report_top_search_bar .input-group {
        width: 50%;
        margin-right:0px;
    }
    .frp_tab_block .report_top_search_bar #btnDownloadPayment {
        margin-top: 10px;
    }

    .for_UserPaymentPartial .input-group {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .follow_up_partial_search_div .FollowUpSearchText,
    .follow_up_partial_search_div .input-group {
        width: 185px;
    }
}

          @media (max-width:768px) {
       .follow_up_partial_search_div .RescheduleSearchText,
            .follow_up_partial_search_div .input-group {
        width: 185px;
        }
        .PayrollSales_partial_search_div .SalesSearchText,
      .PayrollSales_partial_search_div .input-group,
       .Payrolltech_partial_search_div .TechSearchText,
      .Payrolltech_partial_search_div .input-group,
        .Payrollmember_partial_search_div .MemberSearchText,
        .Payrollmember_partial_search_div .input-group,
         .service_call_partial_search_div .ServiceSearchText,
        .service_call_partial_search_div .input-group {
            width:50%;
        }
         .PayrollSales_partial_search_div .input-group,
       .Payrolltech_partial_search_div .input-group,
         .Payrollmember_partial_search_div .input-group,
        .service_call_partial_search_div .input-group {
           margin-bottom:10px;
        }
     #PayrollReportTable thead {
         display:none;
     }
      #PayrollReportTable tbody tr td {
         width:100%;
         float:left;
     }
       #PayrollReportTable tbody tr td .rpt_mb {
         display:block !important;
         width:38%;
         float:left;
         font-weight: bold;
        text-align: left;
     }
       #PayrollReportTable tbody tr td .rpt_mb span {
           float:right;
           margin-right:5px;
       }
        #PayrollReportTable tbody tr td .rpt_dtp {
         width:62%;
         float:left;
     }
         #PayrollReportTable tbody tr td .rpt_pr_sls_mb {
         display:block !important;
         width:40%;
         float:left;
         font-weight: bold;
        text-align: left;
     }
       #PayrollReportTable tbody tr td .rpt_pr_sls_mb span {
           float:right;
           margin-right:5px;
       }
        #PayrollReportTable tbody tr td .rpt_pr_sls_dtp {
         width:60%;
         float:left;
     }
         #PayrollReportTable tbody tr td .rpt_pr_tch_mb {
         display:block !important;
         width:40%;
         float:left;
         font-weight: bold;
        text-align: left;
     }
       #PayrollReportTable tbody tr td .rpt_pr_tch_mb span {
           float:right;
           margin-right:5px;
       }
        #PayrollReportTable tbody tr td .rpt_pr_tch_dtp {
         width:60%;
         float:left;
     }
         #PayrollReportTable tbody tr td .rpt_pr_am_mb {
         display:block !important;
         width:40%;
         float:left;
         font-weight: bold;
        text-align: left;
     }
       #PayrollReportTable tbody tr td .rpt_pr_am_mb span {
           float:right;
           margin-right:5px;
       }
        #PayrollReportTable tbody tr td .rpt_pr_am_dtp {
         width:60%;
         float:left;
     }
         #PayrollReportTable tbody tr td .rpt_pr_sc_mb {
         display:block !important;
         width:40%;
         float:left;
         font-weight: bold;
        text-align: left;
     }
       #PayrollReportTable tbody tr td .rpt_pr_sc_mb span {
           float:right;
           margin-right:5px;
       }
        #PayrollReportTable tbody tr td .rpt_pr_sc_dtp {
         width:60%;
         float:left;
         }
          #PayrollReportTable tbody tr td .rpt_pr_fnd_mb {
         display:block !important;
         width:40%;
         float:left;
         font-weight: bold;
        text-align: left;
     }
       #PayrollReportTable tbody tr td .rpt_pr_fnd_mb span {
           float:right;
           margin-right:5px;
       }
        #PayrollReportTable tbody tr td .rpt_pr_fnd_dtp {
         width:60%;
         float:left;
     }
}  
@media (max-width:414px) {
    .frp_tab_block .report_top_search_bar #TicketType,
    .frp_tab_block .report_top_search_bar .input-group {
        width: 100%;
    }
   .follow_up_partial_search_div .RescheduleSearchText,
       .follow_up_partial_search_div .input-group {
    width: 100%;
}

      .follow_up_partial_search_div .FollowUpSearchText,
       .follow_up_partial_search_div .input-group {
    width: 100%;
}
   .follow_up_partial_search_div #TechAddNewBI {
       margin-top:10px;
   }
      .PayrollSales_partial_search_div .SalesSearchText,
      .PayrollSales_partial_search_div .input-group,
       .Payrolltech_partial_search_div .TechSearchText,
      .Payrolltech_partial_search_div .input-group,
        .Payrollmember_partial_search_div .MemberSearchText,
        .Payrollmember_partial_search_div .input-group,
        .service_call_partial_search_div .ServiceSearchText,
        .service_call_partial_search_div .input-group {
            width:100%;
        }
      
    .ConversionReportsTitle h2,
    .JobsReportsTitle h2 {
        font-size:20px;
    }
     .payroll_container_main {
    margin-top:0px;
}
     #payroll_search_container {
         width:100%;
         float:left;
     }
      #PayrollReportTable tbody tr td .rpt_pr_sls_mb {
         width:55%;
     }
      
        #PayrollReportTable tbody tr td .rpt_pr_sls_dtp {
         width:45%;
     }
         #PayrollReportTable tbody tr td .rpt_mb {
         width:52%;
     }
      
        #PayrollReportTable tbody tr td .rpt_dtp {
         width:48%;
     }
         #PayrollReportTable tbody tr td .rpt_pr_tch_mb {
         width:55%;
     }
        #PayrollReportTable tbody tr td .rpt_pr_tch_dtp {
         width:45%;
     }
          #PayrollReportTable tbody tr td .rpt_pr_am_mb {
         width:55%;
     }
        #PayrollReportTable tbody tr td .rpt_pr_am_dtp {
         width:45%;
     }
            #PayrollReportTable tbody tr td .rpt_pr_sc_mb {
         width:55%;
     }
        #PayrollReportTable tbody tr td .rpt_pr_sc_dtp {
         width:45%;
     }
         #PayrollReportTable tbody tr td .rpt_pr_fnd_mb {
         width:55%;
     }
        #PayrollReportTable tbody tr td .rpt_pr_fnd_dtp {
         width:45%;
     }
    .for_UserPaymentPartial {
        margin-top:-25px;
    }
        .for_UserPaymentPartial .input-group .input-group-btn {
            width: 100% !important;
            float:left;
        }
}