.recur_bill_report_table {
    margin-top: 0px;
}

.recur_bil_rpt_top_bar {
    width: 100%;
    float: left;
}

    .recur_bil_rpt_top_bar .row {
        margin: 0px;
    }

        .recur_bil_rpt_top_bar .row .col-md-12,
        .recur_bil_rpt_top_bar .row .col-md-4,
        .recur_bil_rpt_top_bar .row .col-md-3 {
            padding: 0px;
        }

.recur_bil_rpt_header {
    padding: 5px;
    color: #fff;
    background-color: #035890;
}

.recur_bil_rpt_top_header {
    padding: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}
#btnVariableCost {
    float:right;
}
.recur_bil_rpt_top_info {
    padding: 5px;
    color: #fff;
    height: 30px;
}

.recur_bil_rpt_ach .recur_bil_rpt_top_header {
    background-color: #168dce;
}

.recur_bil_rpt_ach .recur_bil_rpt_top_info {
    background-color: #21abf6;
}

.recur_bil_rpt_cc .recur_bil_rpt_top_header {
    background-color: #d26900;
}

.recur_bil_rpt_cc .recur_bil_rpt_top_info {
    background-color: #ff8000;
}

.recur_bil_rpt_invoice .recur_bil_rpt_top_header {
    background-color: #2b4e61;
}

.recur_bil_rpt_invoice .recur_bil_rpt_top_info {
    background-color: #0077c5;
}

.recur_bil_rpt_total .recur_bil_rpt_top_header {
    background-color: #96979a;
}

.recur_bil_rpt_total .recur_bil_rpt_top_info {
    background-color: #b1b4bb;
    height: 40px;
    padding-top: 10px;
}

.recur_bil_rpt_top_info_head {
    width: 110px;
    float: left;
    font-weight: bold;
    padding-left: 10px;
}

    .recur_bil_rpt_top_info_head span {
        float: right;
        margin-right: 10px;
    }

.recur_bill_report_table thead tr th {
    border: 1px solid #ccc;
    vertical-align: middle;
}

.recur_bill_header_text {
    text-align: center;
}

#btnRecurringBilling {
    background-color: #2ca01c;
    color: #fff;
    cursor: pointer;
    float: right;
}

.recurr_bill_report_left_menu {
    width: 100%;
    float: left;
    margin-top: 15px;
}

    .recurr_bill_report_left_menu #billing_min_date,
    .recurr_bill_report_left_menu .input-group {
        width: 200px;
        float: left;
        margin-right: -3px;
    }

        .recurr_bill_report_left_menu .input-group .btn {
            background-color: #2ca01c;
            color: #fff;
        }

.no_paddingleft_report {
    padding-left: 0;
}

.no_paddingright_report {
    padding-right: 0;
}

#btnSalesSummary {
    background-color: #2ca01c;
    color: #fff;
    cursor: pointer;
    float: right;
}

#btnnewsales {
    background-color: #2ca01c;
    color: #fff;
    cursor: pointer;
    float: right;
}

#btn_sales_summary {
    float: left;
}

.sales_summery_report_top_bar {
    width: 100%;
    float: left;
}

    .sales_summery_report_top_bar .input-group {
        width: 300px;
        float: left;
    }

        .sales_summery_report_top_bar .input-group .btn {
            background-color: #2ca01c;
            color: #fff;
        }

/*.new_sales_report_table_div {
    width: 100%;
    float: left;
    overflow: auto;
    position: relative;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}*/

/*.new_sales_report_table {
    width: 1800px !important;
    table-layout: unset;
    margin-top: 0px !important;
}*/

.new_sales_report_table .nsrp_one {
    width: 105px;
}
.new_sales_report_table .new_header_customer {
    width: 22%;
}
.new_sales_report_table .new_header_sales {
    width: 12%;
}
.new_sales_report_table .new_header {
    width: 8%;
}
.new_sales_report_table .new_header_s1 {
    width: 5%;
}

@media (max-width:1024px) {
    .new_sales_report_table {
        width: 100% !important;
    }
}

@media (max-width:414px) {
    .recurr_bill_report_left_menu #billing_min_date, .recurr_bill_report_left_menu .input-group {
        width: 100%;
        margin-right: 0px;
    }

    .recurr_bill_report_left_menu .input-group {
        margin-bottom: 10px;
    }

    .sales_summery_report_top_bar .input-group {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
}
