.aging_report_header {
    width: 100%;
    float: left;
    padding: 5px 15px;
    font-size: 24px;
}
.sales_matrix_report_container {
    width: 100%;
    float: left;
    padding: 0px 15px;
}
.aging_container {
    width: 100%;
    float: left;
    padding-top:10px;
}
.aging_top_bar {
    width: 100%;
    float: left;
}
    .aging_top_bar #txtSearchBox {
        width: 300px;
        float: left;
        margin-right:-3px;
    }
.aging_top_bar .input-group {
    width: 150px;
    float: left;
}
    .aging_top_bar #btnAgingDownload {
        float:right;
    }
.smr_header {
    width: 100%;
    float: left;
    font-size: 24px;
    padding: 6px 0px;
}
.smr_top_info
{
    width:100%;
    float:left;
}
    .smr_top_info #WeeklyStartDate,
    .smr_top_info .input-group {
        width: 200px;
        float: left;
    }
.sales_matrix_report_container .reports-tabs > li > a, .reports-tabs > li > a:hover {
    border: 1px solid #ccc !important;
    margin-right: 0px;
}
.sales_matrix_report_container .reports-tabs > li > a {
    border-radius:0px;
}
.sales_matrix_report_container .nav-detail-contents {
     width:100%;
    float:left;
}

#FirstCallCloseTab #WeeklyStartDate,
#FirstCallCloseTab #WeeklyEndDate,
#OverAllCloseTab #WeeklyStartDateOverAllClose,
#OverAllCloseTab #WeeklyEndDateOverAllClose,
#NumberOfSalesTab #WeeklyStartDateNumberOfSales,
#NumberOfSalesTab #WeeklyEndDateNumberOfSales,
#SoldToFundedTab #WeeklyStartDateSoldToFunded,
#SoldToFundedTab #WeeklyEndDateSoldToFunded,
#AppointmentSetTab #WeeklyStartDateAppointmentSet,
#AppointmentSetTab #WeeklyEndDateAppointmentSet {
    width: 150px;
    float: left;
    margin-right: -1px;
}
#FirstCallCloseTab .input-group,
#OverAllCloseTab .input-group,
#NumberOfSalesTab .input-group,
#SoldToFundedTab .input-group,
#AppointmentSetTab .input-group  {
    width:220px;
    float:left;
}
.sales_matrix_report_container .filter-data {
     width:100%;
    float:left;
    padding:10px 0px;
}
#FirstCallCloseTab table,
#OverAllCloseTab table,
#NumberOfSalesTab table,
#SoldToFundedTab table,
#AppointmentSetTab table
 {
    width:100%;
    float:left;
}
@media (max-width:414px) {
    .sales_matrix_report_container .reports-tabs > li  {
        width:50%;
    }
    #FirstCallCloseTab #WeeklyStartDate,
#FirstCallCloseTab #WeeklyEndDate,
#OverAllCloseTab #WeeklyStartDateOverAllClose,
#OverAllCloseTab #WeeklyEndDateOverAllClose,
#NumberOfSalesTab #WeeklyStartDateNumberOfSales,
#NumberOfSalesTab #WeeklyEndDateNumberOfSales,
#SoldToFundedTab #WeeklyStartDateSoldToFunded,
#SoldToFundedTab #WeeklyEndDateSoldToFunded,
#AppointmentSetTab #WeeklyStartDateAppointmentSet,
#AppointmentSetTab #WeeklyEndDateAppointmentSet {
    width:50%;
    margin-right: 0px;
}
#FirstCallCloseTab .input-group,
#OverAllCloseTab .input-group,
#NumberOfSalesTab .input-group,
#SoldToFundedTab .input-group,
#AppointmentSetTab .input-group  {
    width:100%;
}
}