#btndownloadproducer, #btndownloadproducersold,
#btndownloadsource, #btndownloadsourcesold,
#btndownloadpolicytype, #btndownloadpolicytypesold,
#btndownloadbusinessclass, #btndownloadbusinessclasssold,
#btndownloadcarrier, #btndownloadcarriersold {
    margin-right: 30px;
}
.sp_pop_container {
    width: 100%;
    float: left;
}
.sp_pop_header {
    width: 100%;
    float: left;
    text-align: left;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
    font-size:20px;
    padding:5px 15px;
}
.ss_user_thead {
    width:140px;
}.ss_eft_thead {
    width:85px;
}
.sp_pop_inner_height {
    width: 100%;
    float: left;
    overflow-x: auto;
    overflow-y: auto;
}
.sp_pop_inner {
    width: 100%;
    float: left;
    padding: 15px;
}
.spp_header {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #2ca01c;
    font-weight: bold;
    padding-bottom: 4px;
}
    .spp_header span {
        color: #333;
    }
.sp_pop_inner_height table tr th {
    border: 2px solid #ccc;
    vertical-align: middle;
}
.sp_pop_info_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.top_to_bottom_modal_container .sp_pop_info_block {
    border:0px;
}
.sp_pop_info_header {
    width: 100%;
    float: left;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
    .sp_pop_info_header span {
        float: right;
        font-size: 14px;
    }
.sp_pop_info_inner {
    width: 100%;
    float: left;
    padding: 10px 10px;
}
    .sp_pop_info_inner div {
        width: 100%;
        float: left;
        margin-bottom: 3px;
    }
    .sp_pop_info_inner div a {
        color:#2ca01c;
    }
.sp_pop_footer {
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    float: left;
    border: 1px solid #ccc;
}