.th_timeclock_pre {
        font-weight: 500 !important;
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .th_timeclock {
        font-weight: bold !important;
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .techinventory_inventory #tbleq_filter {
        border: 1px solid #ccc;
    }

        .techinventory_inventory #tbleq_filter th:nth-child(6) {
            width: 95px !important;
        }

        .techinventory_inventory #tbleq_filter th:nth-child(8),
        .techinventory_inventory #tbleq_filter th:nth-child(7) {
            width: 40px !important;
        }

        .techinventory_inventory #tbleq_filter th:nth-child(9) {
            width: 80px !important;
        }

        .techinventory_inventory #tbleq_filter th:nth-child(3) {
            width: 70px !important;
        }

        .techinventory_inventory #tbleq_filter th:nth-child(5) {
            width: 60px !important;
        }

        .techinventory_inventory #tbleq_filter th:nth-child(2) {
            width: 110px !important;
        }

        .techinventory_inventory #tbleq_filter th:nth-child(1) {
            width: 90px !important;
        }

        .techinventory_inventory #tbleq_filter th:nth-child(4) {
            width: 20px !important;
        }

        .techinventory_inventory #tbleq_filter thead tr th {
            padding: 5px 10px 5px 10px;
            font-weight: bold !important;
        }
        .techinventory_inventory #tbleq_filter thead tr th,
        .techinventory_inventory #tbleq_filter tbody tr td {
            border:1px solid #ccc;
        }
        .techinventory_inventory #tbleq_filter tbody tr td div:nth-child(1) {
                display:none;
            }
        .techinventory_inventory #tbleq_filter tbody tr td .equip-delete {
                color: #2ca01c;
                cursor: pointer;
                float: right;
                margin-right: 10px;
        }
        @media (max-width:768px) {
            .techinventory_inventory #tbleq_filter thead {
                display:none;
            }
            .techinventory_inventory #tbleq_filter tbody tr td {
                width:100%;
                float:left;
                padding:3px 5px;
                box-sizing:border-box;
                line-height:normal;
            }
            .techinventory_inventory #tbleq_filter tbody tr td div:nth-child(1) {
                display:block;
                width:45%;
                float:left;
                text-align:left;
                font-weight:bold;
            }
            .techinventory_inventory #tbleq_filter tbody tr td div:nth-child(1) span {
               float:right;
               margin-right:10px;
            }
             .techinventory_inventory #tbleq_filter tbody tr td div:nth-child(2) {
                width:55%;
                float:left;
                text-align:left;
            }
              .techinventory_inventory #tbleq_filter tbody tr td .equip-delete {
                  float:left;
              }
        }
