@{
    Layout = null;
}
@using PermissionHelper = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/UserManagement/UserInformation.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#EvaluationLoad").html(LoaderDom);
        $("#OccuranceLoad").html(LoaderDom);
        $("#EmergencyContactLoad").html(LoaderDom);

        $("#EvaluationLoad").load(domainurl + "/Hr/HrEvaluation?userId=" + userId);
        $("#OccuranceLoad").load(domainurl + "/Hr/HrOccurance?userId=" + userId);
        //$("#WriteupsLoad").load("/Hr/HrOccurance?userId=" + userId);
        $("#EmergencyContactLoad").load(domainurl + "/Hr/HrEmergencyContact");
        $("#WriteupsLoad").load(domainurl + "/Hr/HrWriteUps?userId=" + userId);
        $("#AddNewWriteup").click(function () {
            OpenRightToLeftModal("/Hr/AddHrWriteUps");
        })
    });
</script>
<div class="Management_Home_container">
    <div class="Management_Home_inner">
        <div class="udi_Detail_block">
            <div class="ci_block udi_pad_bottom">
                <div class="ci_header clearfix">
                    @Localize.T("Evaluation")
                </div>
                <div class="udi_info">
                    <div id="EvaluationLoad">

                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="Management_Home_inner_2">
        <div class="udi_information_block">
            <div class="ci_block udi_pad_bottom">
                <div class="ci_header clearfix">
                    @Localize.T("Occurences")
                </div>
                <div class="udi_info">
                    <div id="OccuranceLoad">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="width-100pn">
        <div class="udi_information_block margin-top-15">
            <div class="ci_block udi_pad_bottom">
                <div class="ci_header clearfix">
                    @Localize.T("Writeups")
                    <button type="button" class="btn" id="AddNewWriteup">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                    </button>
                </div>
                <div class="udi_info">
                    <div id="WriteupsLoad">

                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
