 @media (max-width: 768px){
        .arrow_top_create {
    right: 241px;
}
        .arrow_top_search {
    right: 167px;
}
        .arrow_top_settings {
    right: 95px;
}
        .dropdown-search {
    width: 764px !important;
    padding-bottom: 35px !important;
    left: -554px !important;
}
        .dropdown-alerts {
    width: 766px !important;
    right: -215px !important;
    left: auto !important;
}
        .dropdown-user {
    left: -625px !important;
}
        .dropdown_help {
    width: 766px !important;
    left: -697px !important;
}
}
    @media (max-width: 414px){

        .arrow_top_create {
    right: 301px;
}
        .arrow_top_search {
    right: 226px;
}
        .arrow_top_settings {
    right: 153px;
}
        .dropdown-alerts {
    width: 410px !important;
    right: -272px !important;
    left: auto !important;
}
        .dropdown-search {
    width: 411px !important;
    padding-bottom: 35px !important;
    left: -142px !important;
}
        .dropdown-user {
    width: 411px !important;
    left: -212px !important;
}
        .dropdown_help {
    width: 412px !important;
    left: -285px !important;
}
}
  
@media (max-width: 375px) {
    
   .dropdown-alerts {
    width: 370px !important;
    right: -272px !important;
    left: auto !important;
}
        .dropdown-search {
    width: 372px !important;
    padding-bottom: 35px !important;
    left: -103px !important;
}
        .dropdown-user {
    width: 373px !important;
    left: -173px !important;
}
        .dropdown_help {
    width: 372px !important;
    left: -245px !important;
}
}
    @media (max-width: 320px){

.manual_pad {
    padding: 11px !important;
}
        .dropdown-alerts {
    width: 333px !important;
    right: -259px !important;
    left: auto !important;
}
        .dropdown-search {
    width: 318px !important;
    padding-bottom: 35px !important;
    left: -78px !important;
}
        .dropdown-user {
    width: 318px !important;
    left: -140px !important;
}
        .dropdown_help {
    width: 318px !important;
    left: -204px !important;
}
        .arrow_top_create {
    right: 283px;
}
        .arrow_top_search {
    right: 200px;
}
        .arrow_top_settings {
    right: 140px;
}
}
