.left {
    float: left;
}

.right {
    float: right;
}
.pre-wrap{
    white-space:pre-wrap;
}
.dropdown-menu{
    right:0;
    left:unset;
}
.required{
    border:1px solid red!important;
}
input[type=text] {
    width: 100%;
    padding: 5px;
    /*margin: 2px 0;*/
    box-sizing: border-box;
}

input:focus {
    outline:none !important;  
}
.btn-green{
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
    margin-right: 10px;
}
button.btn-green:hover{
    color: white;
}
.success-title{
    float: left;
    margin-right: 320px;
}
.cursor-pointer{
    cursor:pointer;
}
.padding-left-0{
    padding-left:0px!important;
}
.padding-right-0{
    padding-right:0px!important;
}
.padding-left-15{
    padding-left:15px;
}
.width-33p{
    width:33.333%;
    float:left;
}
.width-100pn{
    width:100%;
    float:left;
}
.width-40p{
    width:40%;
    float:left;
} 
.width-50p{
    width:50%;
    float:left;
}
.width-60p{
    width:60%;
    float:left;
}
.width-16p{
    width:16.667%;
    float:left;
}
.width-25p{
    width:25%;
    float:left;
}
.modal{
    z-index:999999!important;
}
.item-edit {
    color: #2ca01c !important;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    margin-left: 5px;
}
.item-delete{
        color:#d71920 !important;
}
.item-del {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    margin-left:5px;
}
.fa-trash-o,
.fa-trash-o:hover,
.item-delete-panel,
.item-delete-panel:hover,
 a .fa-trash-o,
 a .fa-trash-o:hover {
        /*color:#d71920 !important;*/
}
   
 button .fa-trash-o,
 button .fa-trash-o:hover {
     color:#fff !important;
 }
.width-25p{
    width:25%;
    float:left;
}
.width-55p{
    width:55%;
    float:left;
}
.width-80p{
    width:80%;
    float:left;
}
.width-20p{
    width:20%;
    float:left;
}
.width-10p{
    width:10%;
    float:left;
}
.border-radius-0{
     -webkit-border-radius: 0px!important;
-moz-border-radius: 0px!important;
border-radius:0px!important;
}
.default-button{
    background-color:#2ca01c!important;
    color:white!important;
    border-color:#2ca01c!important;
}
.default-button:hover{
    box-shadow:0px 0px 2px #2ca01c!important;
    background-color:#34a525!important;
}
.position-relative{
    position:relative;
}
.position-absolute{
    position:absolute;
}
/*th{
    text-align:center !important;
}*/
/*.thead-th-style-check{
    position: absolute;
    top: 8px;
    
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}*/

.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

box {
    height: 70px;
    width: 100%;
}
#boxshiner {
    margin-top: 5px;
}
div.box {
    display: inline-flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 15px;
    vertical-align: top;
}

lines {
    height: 10px;
    margin-top: 10px;
    width: 200px;
}

photo {
    display: block !important;
    width: 325px;
    height: 100px;
    margin-top: 15px;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}
