.btn.dropdown-toggle.bs-placeholder.btn-light:after {
    top: 15px;
    right: 10px;
}
.open > .dropdown-menu {
    display: block !important;
}
.search_layout_header {
    width: 100%;
    float: left;
    background-color: #201e2f;
    padding: 0px 65px 0 65px;
    margin: 0px;
}
    .search_layout_header .navbar-light {
        padding-left:0px;
        padding-right:0px;
    }
    .search_layout_header .navbar-brand img {
        height: 30px;
    }
    .search_layout_footer {
        height: 50px;
    }

.search_layout_container {
    width: 100%;
    float: left;
    padding: 0px 65px 0 65px;
    margin: 0px;
}

.btn.dropdown-toggle.bs-placeholder.btn-light:after {
    top: 15px;
    right: 10px;
}

.ieatery_img {
    max-width: 200px;
    width: auto;
    height: auto;
}
@media (max-width:768px) {
    .search_layout_container,
    .search_layout_header {
        padding: 0px 5px 0 5px;
    }
}
