.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #2ca01c;
}

.estimatestatus {
    cursor: pointer;
}

.create_menu_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
    float: right;
}

.search_menu_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}

.no-Padding {
    padding-left: 0px;
    padding-right: 0px;
}

.border_radius_0 {
    border-radius: 0px;
}
.go_back_filter_bar {
    width:70%;
    float:left;
}
.go_back_filter_bar .input-group input {
    width:200px;
    float:left;
}
.go_back_filter_bar .input-group bootstrap-select,
.go_back_filter_bar .input-group select {
    float:left;
}
.menu_search_filter .search_btn_menu_filter {
    padding-left: 0px;
}

.menu_list_partial_device_header {
    display: none;
}

.menu_list_partial_device_info {
        overflow: hidden;
    white-space: nowrap;
}
#ContactsTab .menu_list_partial_device_info {
      
    white-space: normal !important;
}
.mn_list_partial_device_info {
        word-break: break-word;
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
}
.menu_list_partial_device_info p {
    display:contents;
} 
.exceed-warning {
    color: red;
}
.menu_list_partial_info thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.menu_list_partial_info tbody {
    border:1px solid #ccc;
}
.menu_list_partial_info {
    width:100%;
    float:left;
}
.menu_list_partial_info thead tr th {
      padding: 5px 10px 5px 10px;
    border-right: 1px solid #ccc;
}
.menu_list_partial_info tbody tr td {
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #ccc;
}
.menu_list_partial_info tbody tr:nth-child(odd) {
    background-color:#f4f5f8;
}
.menu_list_partial_info tbody tr:hover {
    background-color:#f8f8f8;
}
 .menu_list_partial_info thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .menu_list_partial_info thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .menu_list_partial_info thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .menu_list_partial_info thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }

       .lsrp_info_block {
           width:33.333%;
           float:left;
    border-left: 10px solid #0077c5;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    background-color: #035890;
    font-family: sans-serif;
}

       .menulist_container {
            width:100%;
            float:left;
       }
       
  
    .menulist_search_filter {
        width:100%;
        float:left;
    }
   
    .menulist_search_filter .input-group {
        width:350px;
        float:left;
    }
     .menulist_search_filter .input-group .btn,
     .menulist_search_filter .input-group .btn:hover,
    .menulist_search_filter .input-group .btn:focus {
      background-color:#2ca01c;
      color:#fff;
    }
     .order_partial_block {
         width:100%;
         float:left;
     }
     .order_partial_block .order_partial_block_left {
          width:100%;
         float:left;
         padding-right:5px;
     }
      .order_partial_block .order_partial_block_right {
         width:50%;
         float:left;
         padding-left:5px;
     }
    .order_partial_block .ci_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
    .order_partial_block .ci_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
    .order_partial_block .ci_info {
    width: 100%;
    font-size: 13px !important;
    float: left;
}
    .order_partial_block .ci_info table {
        width:100%;
        float:left;
        margin-top:0px;
        margin-bottom:0px;
    }
    .order_partial_block .ci_info table thead tr th {
        border-right:1px solid #ddd;
    }
     .order_partial_block .ci_info table thead tr th,
     .order_partial_block .ci_info table tbody tr td {
       padding:10px;
    }
     .order_partial_block .ci_info table thead tr th:hover {
          background-color:#f4f5f8;
     }
     .order_partial_block .ci_info table thead tr {
         border-bottom:2px solid #ccc;
     }
     .order_partial_block .ci_info table tbody tr {
          border-bottom:1px solid #ccc;
     }
     .order_partial_block .ci_info table tbody tr:nth-child(odd) {
         background-color:#f8f8f8;
     }
     .order_partial_block .ci_info table tbody tr:hover {
         background-color:#f4f5f8;
     }
     .all_menu_item_container {
         width:100%;
         float:left;
     }
      .all_menu_item_header {
            width: 100%;
    float: left;
    font-size: 2.4rem !important;
    padding: 5px 15px;
    background-color: #2ca01c;
    color:#fff;
    border-bottom: 1px solid #ccc;
     }
       .all_menu_item_inner_height {
           width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
     }
       .all_menu_item_inner {
           width: 100%;
    float: left;
    padding: 10px 15px;
     }
       .all_menu_info_container {
               width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 30px;
       }
       .all_menu_info_head {
               width: 100%;
               float:left;
    padding: 5px 10px;
    background-color: #dcdde0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
       }
       .all_menu_info_detail {
         width: 100%;
        float: left;
        padding: 15px;
       }

@media (max-width: 768px) {
       .order_partial_block .order_partial_block_left {
          width:100%;
         padding-right:0px;
     }
      .order_partial_block .order_partial_block_right {
         width:100%;
         padding-left:0px;
     }
     .lsrp_info_block {
           width:100%;
        
}
        .go_back_srch_filter,
        .app_date_search_filter,
        .date_ref_srch_filter,
        .ins_equip_srch_filter {
            width:100%;
            float:left;
            padding-bottom:10px;
        }
       .go_back_srch_filter  #searchtext_goback,
       .go_back_srch_filter .TicketType_Search,
       .go_back_srch_filter .Ticket_Status_Search,
       .go_back_srch_filter .input-group,
       .app_date_search_filter  #searchtext,
       .app_date_search_filter .TicketType_Search,
       .app_date_search_filter .Ticket_Status_Search,
       .app_date_search_filter .input-group,
        .date_ref_srch_filter .ticket_search_text,
       .date_ref_srch_filter .TicketType_Search,
       .date_ref_srch_filter .Ticket_Status_Search,
       .date_ref_srch_filter .input-group,
        .ins_equip_srch_filter .ticket_search_text,
       .ins_equip_srch_filter .TicketType_Search,
       .ins_equip_srch_filter .Ticket_Status_Search,
       .ins_equip_srch_filter .input-group {
           width:50% !important;
           float:left !important;
       }
    .menu_search_filter .col-md-8 {
        display: table;
    }

        .menu_search_filter .col-md-8 .col-md-4 {
            width: 100%;
            float: left;
            margin-bottom: 5px;
        }

        .menu_search_filter .col-md-8 .col-md-2 {
            width: 50%;
            float: left;
        }

    .menu_search_filter .search_btn_ticket_filter {
        width: 50%;
        padding: 5px 15px;
        text-align: left;
        float: left;
    }

    .menu_search_filter .create_tkt_button {
        width: 100%;
        float: left;
        padding: 5px 15px;
    }

    .menu_list_partial_info thead {
        display: none;
    }

    .menu_list_partial_info tbody tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

        .menu_list_partial_info tbody tr:nth-child(even) {
            background-color: #f9f6f6;
        }

        .menu_list_partial_info tbody tr td {
            width: 100%;
            float: left;
            padding: 3px 0px;
        }

    .menu_list_partial_device_header {
        display: block;
        width: 40%;
        float: left;
        font-size: 13px;
        font-weight: bold;
        padding-left: 5px;
    }
    .menu_list_partial_device_header span {
        float:right;
        margin-right:10px;
    }
    .menu_list_partial_device_info {
        width: 60%;
        float: left;
    }
    /*.loadticketreportlist_table thead {
        display:none;
    }
    .loadticketreportlist_table tbody tr td {
        width:100%;
        float:left;
        border:1px solid #ccc;
    }*/
    .all_menu_item_inner .menu_list_partial_info .menu_list_partial_device_info {
        white-space: normal;
    }

}

@media (max-width: 414px) {
     .menulist_search_filter .input-group {
        width:100%;
        float:left;
        margin-bottom:10px;
    }
     .go_back_srch_filter  #searchtext_goback,
       .go_back_srch_filter .TicketType_Search,
       .go_back_srch_filter .Ticket_Status_Search,
       .go_back_srch_filter .input-group,
       .app_date_search_filter  #searchtext,
       .app_date_search_filter .TicketType_Search,
       .app_date_search_filter .Ticket_Status_Search,
       .app_date_search_filter .input-group,
        .date_ref_srch_filter .ticket_search_text,
       .date_ref_srch_filter .TicketType_Search,
       .date_ref_srch_filter .Ticket_Status_Search,
       .date_ref_srch_filter .input-group,
        .ins_equip_srch_filter .ticket_search_text,
       .ins_equip_srch_filter .TicketType_Search,
       .ins_equip_srch_filter .Ticket_Status_Search,
       .ins_equip_srch_filter .input-group {
           width:100% !important;
           float:left !important;
       }
     .menu_list_partial_device_header {
        width: 55%;
    }
     
    .menu_list_partial_device_info {
        width: 45%;
    }
    
    .menu_search_filter .col-md-8 .col-md-2 {
        width: 50%;
    }
     .menu_search_filter .col-md-8 .col-md-2 {
            width: 100%;
        }
     .order_partial_block .ci_info table thead {
         display:none;
     }
      .all_menu_item_inner .menu_list_partial_info .menu_list_partial_device_header {
        width: 40% !important;
    }
     .all_menu_item_inner .menu_list_partial_info .menu_list_partial_device_info {
        width: 60% !important;
        white-space: normal;
    }
}
