
    .btn-sale {
        float: right;
        margin-top: 15px;
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
        font-weight: 600;
    }

        .btn-sale:hover {
            background-color: #2ca01c;
            color: #ffffff;
            border: 1px solid #2ca01c;
        }

    .SalesAppoinmentCalender table tr td span {
        cursor: pointer;
    }

    .SalesAppoinmentCalender {
        padding-top: 10px;
    }
