#tblVideo {
    min-width: 100%;
}
.product_and_services_table table thead tr th,
.product_and_services_table table tbody tr td {
    border: 1px solid #ccc;
}
.head1 {
    border: 1px solid #dddddd;
    text-align: center;
    width: 40px;
    border-top: hidden;
    padding-top: 6px;
}

    .head1:hover {
    }
    
.head2 {
    border: 1px solid #dddddd;
    text-align: left;
    text-transform: uppercase;
    width: 300px;
    border-top: hidden;
    padding-top: 6px;
    background-color: lightgrey;
    word-spacing: 15px;
}

.head3 {
    border: 1px solid #dddddd;
    text-align: left;
    text-transform: uppercase;
    width: 320px;
    border-top: hidden;
    padding-top: 6px;
}

.head4 {
    border: 1px solid #dddddd;
    text-align: right;
    text-transform: uppercase;
    width: 80px;
    border-top: hidden;
    padding-top: 6px;
}

.head5 {
    border: 1px solid #dddddd;
    text-align: right;
    text-transform: uppercase;
    border-top: hidden;
    padding-top: 6px;
}

.custom-icon {
    float: right;
    padding-top: 13px;
    text-align: right;
}

.search-btn {
    padding-left: 80px;
    width: 400px;
}
 
.header-content {
    background-color: ghostwhite;
    /*padding-left: 15px;*/
    margin-top: 0px;
}

.batchActions {
    padding-left: 10px;
}

.custom-row {
    border-bottom: 1px solid #dddddd;
}

    .custom-row:hover {
        background-color: lightgray;
    }

.custom-pager {
    float: right;
}

.cus-print {
    font-size: 22px;
    color: #babec5;
}

    .cus-print:hover {
        color: #3b3c40;
    }

.cus-cecel {
    font-size: 22px;
    color: #babec5;
}

    .cus-cecel:hover {
        color: #3b3c40;
    }

.cus-setting {
    font-size: 22px;
    color: #babec5;
}

    .cus-setting:hover {
        color: #3b3c40;
    }

.menu-opt {
    border-radius: 3px;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    text-transform: uppercase;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    display: none;
}

.table-head-border {
    border-bottom: 1px solid #aaaaaa;
}

/*table.dataTable thead > tr > th {
    padding: 10px;
    background-color: #f1f1f2;
    width: 120px !important;
}

    table.dataTable thead > tr > th:first-child {
        width: 30px !important;
    }*/

.dataTables_info {
    display: none;
}

.padding-0 {
    padding: 0px;
}

.ActionsDiv {
    width: 115px;
    float: left;
    margin-left: 20px;
}

/*.searchbardiv {
    margin-top: 9px;
    width: 200px !important;
    float: left;
    padding: 0px 05px 0px 15px;
}*/

.custom-icon a {
    padding-right: 10px;
}

.custom-hr {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-right: 15px;
}

table tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkbox-custom {
    width: 20px;
    font-weight: 400;
    height: 20px;
    background-color: transparent;
    border: 1px solid #8d9096;
    border-radius: 2px;
     -webkit-border-radius: 2px;
-moz-border-radius: 2px;
}

.width-5p {
    float: left;
    width: 5%;
}

.width-15p {
    float: left;
    width: 15%;
}

.width-20p {
    float: left;
    width: 20%;
}

.width-30p {
    float: left;
    width: 30%;
}

.thead-th-style {
    border-right: 1px solid #ddd;
}

    .thead-th-style:hover {
        background-color: #f4f5f8 !important;
    }

.focus:focus {
    background-color: #ddd;
}

.custom-top-padding {
    padding-top: 10px;
}

.header-content {
    background-color: #ffffff;
}

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 15px;
}

.tr-style {
    border-bottom: 1px solid #ddd;
}

    .tr-style:hover {
        background-color: #f4f5f8;
    }

.width-33p {
    float: left;
    width: 33%;
    padding-right: 5px;
}


.dataTables_scrollHeadInner {
    width: 100% !important;
}

.display {
    width: 100% !important;
}

.dataTable {
    width: 100% !important;
}

.no-footer {
    width: 100% !important;
}

.dataTables_scrollHeadInner {
    width: 100%;
}

.stock-show-div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.stock-out-content {
    float: right;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stock-low-content {
    float: left;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.width-50p {
    width: 50%;
}

.image-container {
    width: 50%;
}

.stock-status {
    width: 45%;
    float: right;
    padding-top: 35px;
}

.stock-low-img {
    background: #e77700;
    width: 120px;
    height: 120px;
    border-radius: 50%;
     -webkit-border-radius: 50%;
-moz-border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-size: 85px;
    padding-left: 8px;
    padding-top: 17px;
}

.stock-out-img {
    background: #d93b42;
    width: 120px;
    height: 120px;
    border-radius: 50%;
     -webkit-border-radius: 50%;
-moz-border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-size: 85px;
    padding-left: 8px;
    padding-top: 17px;
}

.border-left {
    border-left: 1px solid #dcdcdc;
    padding-left: 25px;
}

.border-right {
    border-right: 1px solid #dcdcdc;
}

.filter-section {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.stock-count {
    font-family: Geogrotesque,Arial,-apple-system,Helvetica Neue Bold,sans-serif;
    font-size: 50px;
    line-height: .9;
}

.filter-text {
    font-family: Avenir Next forINTUIT,Arial,-apple-system,Helvetica Neue,sans-serif;
    font-size: 14px;
    color: #404040;
    text-transform: uppercase;
}

.stock-low-color {
    color: #e77700;
}

.stock-out-color {
    color: #d93b42;
}

.add-equipment-background {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 9999;
    display: none;
}

.add-equipment-div {
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    width: 564px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

/*.close-btn-add-equipment {
    background: transparent;
    border: none;
    float: right;
}*/

.add-equipment-contents {
    width: 563px;
    height: 82px;
    padding: 0 45px 0 30px;
    top: 27px;
    overflow-y: auto;
    word-wrap: break-word;
}

.custom-h3 {
    margin-bottom: 10px;
    /*margin: 0 45px 21px 0;*/
    font-weight: 400;
    font-size: 1.17em;
}

.equipment-content-container {
    margin: 0;
    padding: 0;
    border-top: 1px solid #dcdcdc;
}

.equipment-contents {
    height: 115px;
    cursor: pointer;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
}

.container-image {
}

.custom-sub-hearder {
    font-family: "Avenir Next forINTUIT", "Arial", -apple-system, "Helvetica Neue", sans-serif;
    font-weight: 600;
    line-height: 25px;
    font-size: 1.4rem;
}

.width-30p {
    width: 30%;
    float: left;
}

.width-70p {
    width: 70%;
    float: left;
}

/*.close-btn-add-equipment {
    line-height: 20px;
    margin-right: 11px;
    cursor: pointer;
    z-index: 901;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    float: right;
    font-size: 20px;
    color: #C7C7C7;
    padding: 8px 5px 8px 12px;
}*/

.close-class {
    display: inline-block;
    font-style: normal;
    line-height: 1;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}

.type-icon {
   background: #6f91ac;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
     -webkit-border-radius: 50%;
-moz-border-radius: 50%;
    position: relative;
    transition: all .08s ease-in;
    margin: 10px 10px 10px 10px;
}

.type-icon img{
    padding : 2px;
}

.padding-15p {
    padding: 15px;
}

.equipment-title {
    line-height: 25px;
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
}

.equipment-subtitle {
    line-height: 21px;
    color: #393a3d;
}

.type-icon:hover {
    background-color: #224b6e;
}

.add-equipment-inventory {
    overflow-x: overlay;
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    width: 564px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.add-bundle {
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    width: 564px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.add-service {
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    width: 564px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.equipment-dropdown-ul-style {
    border: 1px solid #666 !important;
    font-size: 13px;
    border-radius: 0px !important;
     -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
}

.eqipment-btn-dropdown {
    background-color: #2ca01c;
    color: #ffffff;
    box-shadow: none;
    border-bottom: none;
    border-left: 1px solid #108000;
}

.adjust-quantity {
    height: 100%;
    width: 564px;
    position: absolute;
    background: #ffffff;
    right: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

.adjust-starting-value {
    height: 100%;
    width: 564px;
    position: absolute;
    background: #ffffff;
    right: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

.adjust-quantity-background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    right: 0;
    top: 0;
    z-index: 9999;
    opacity: .7;
    display: none;
}

.stock-low-span {
    color: #e77700;
    font-weight: 600;
}

.stock-out-span {
    color: #d93b42;
    font-weight: 600;
}
    .equipment-search {
        float: left;
        padding-right: 10px;
        width: 80%;
        margin-top:10px;
    }

    .equipment-list-filter {
        float: left;
    }

    .fliter-list {
        display: none;
        position: absolute;
        background: #fff;
        border: 2px solid #ddd;
        z-index: 99999;
        padding: 5px;
        width: 290px;
    }

    .left-items {
        left: 0;
    }

    .right-items {
        right: 0;
    }

   

    .sub-list {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

        .sub-list span {
            font-weight: 600;
            display: block;
            padding-bottom: 2px;
        }

    .sub-list-btn {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .btn-reset-filter {
        border: none;
        background: #2ca01c !important;
        color:#fff;
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        font-size: 14px !important;
        font-weight: 600 !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .btn-apply-filter {
        border: none;
        background: #2ca01c !important;
        color:#fff;
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        float: right;
        font-size: 14px !important;
        font-weight: 600 !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
.service_list_searchdiv {
    width:100%;
    float:left;
}
.service_list_searchbar {
    width:auto;
    float:left;
}
.service_list_searchbar .input-group {
    width:300px;
    float:left;
    margin-right:10px;
}
.service_list_filter, .service_list_filter:hover, .service_list_filter:focus {
    background-color: #2ca01c;
    color: #fff;
}
@media (max-width:768px) {
    .equipment_list_search_filter {
        width:100%;
        float:left;
        padding-top:10px;
        margin-top:0px;
    }
     .equipment_list_search_filter .equipment-search {
         margin-left:0px !important;
         width:52% !important;
     }
     .equipment-list-filter {
         float:right;
     }
}


@media (max-width: 414px) {
    .service_list_searchbar {
        width: 100%;
        margin-bottom:10px;
    }

        .service_list_searchbar .input-group {
            width: 80%;
            margin-right:0px;
        }
        .service_list_searchbar .equipment-list-filter {
            margin-left:0px;
        }
        .equipment_list_search_filter .equipment-search {
            margin-left: 0px !important;
            width: 75% !important;
        }
    .equipment_list_container {
        margin-top:0px;
    }
    .stock_margin {
        margin-top: 65px;
    }
    .stock-low-img {
        width:95px;
        height:95px;
    }
    .stock-low-img img, .stock-out-img img {
        width:70px;
    }
    .stock-out-img {
        width:95px;
        height:95px;
    }
    .stock-status {
        padding-top:0px;
        width:100%;
    }
    .equipment-search {
        width:68% !important;
    }

}
@media (max-width: 375px) {
    .equipment-search {
        width: 63% !important;
    }
}

@media (max-width: 320px) {
    .stock_margin {
        margin-top: 70px;
    }
     .equipment-search {
        width: 121% !important;
    }
     
     .custom-icon {
    padding-top: 5px !important;
    width: 41%;
}
}