.even-row-style {
    background-color: #f8f8f8;
}

.AgencyListPagination {
    position: relative;
    right: 10px;
    padding-top: 10px;
}

.paginationContainer {
    height: 50px;
    float: right;
    position: relative;
    min-width: 280px;
    padding-top: 10px;
}

.paginationtextdv {
    width: 30%;
    float: left;
    text-align: center;
}

.paginationMiddleButtondv {
    width: 40px;
    float: left;
}

.PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}

.NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
    margin-right: 2px;
}

.activeBtn {
    background-color: #ddd !important;
    color: black;
    border: none;
    height: 26px;
    width: 35px;
}

.paginationRightButtondv {
    width: 40px;
    float: left;
}

.fql_container {
    margin-top: 10px;
}
.inventory_list_table {
    table-layout:fixed;
}
#tblVideo > thead > tr > th {
    padding: 10px;
}

    #tblVideo > thead > tr > th:hover {
        background-color: #f4f5f8 !important;
    }

.fel_btn_style {
    background-color: #2ca01c !important;
    color: #fff;
    height: 33px;
}



#tbleq_filter thead tr th div:nth-child(1) {
    width: 94%;
    float: left;
    padding-top: 2px;
}

#tbleq_filter thead tr th div:nth-child(2) {
    width: 6%;
    float: left;
}

    #tbleq_filter thead tr th div:nth-child(2) i {
        float: right;
        cursor: pointer;
        width: 100%;
        text-align: right;
        color: #bdbdbd;
    }

        #tbleq_filter thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }

.inventory-edit-name {
    font-weight: 600;
    cursor: pointer;
}

.inventory_list_table .equip-delete {
    color: #2ca01c;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.inventory_list_table .equip-assign {
    color: #2ca01c;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.inventory_list_table tbody tr td div:nth-child(1) {
    display: none;
}
.inventory_list_table_custom tbody tr td .iltc_head {
    display: none;
}
    .fil_equ_list_cont .th_timeclock_pre {
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .fil_equ_list_cont .th_timeclock {
        font-weight: bold !important;
        padding: 5px;
        border-right: 1px solid #ccc;
    }

   .fil_equ_list_cont  #tbleq_filter {
        border: 1px solid #ccc;
    }

       
        .fil_equ_list_cont #tbleq_filter thead tr th {
            padding:5px 10px 5px 10px;
        }
        .fil_equ_list_cont .LoadTechListPopUp {
            text-decoration:underline;
            color:#2ca01c;
            font-weight:bold;
        }
       
.inventory_list_table_custom thead tr .cat {
    width: 100px !important;
}
.fil_equ_list_cont table thead tr .sku {
    width: 100px !important;
}
         .fil_equ_list_cont table thead tr .manufac {
            width:95px !important;
        }
          .fil_equ_list_cont table thead tr .inven {
            width:100px !important;
        }
           /*.fil_equ_list_cont table thead tr .descr {
            width:10% !important;
        }*/
           .inventory_list_table tbody tr td div:nth-child(2) {
          word-break:break-word;
        }
.inventory_list_table_custom {
    table-layout: fixed;
}
    .inventory_list_table_custom .ven_det_head {
        width: 13% !important;
    }
    .inventory_list_table_custom tbody tr td .iltc_info {
        word-break: break-word !important;
        text-align: left;
    }
           .inventory_list_table_custom  {
              text-align:right;
           }
.inventory_list_table_custom .fel_ac {
    width:45px !important;
}
            .inventory_list_table_custom .fel_stat {
                width: 80px !important;
            }
            .inventory_list_table_custom tbody tr td {
                border:1px solid #ccc;
            }
            .inventory_list_table_custom tbody tr td:nth-child(1) div:nth-child(2) {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
    @media (max-width:1024px) {
    .inventory_list_table thead {
        display: none;
    }

    .inventory_list_table tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        .inventory_list_table tbody tr td div:nth-child(1) {
            display: block;
            width: 50%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            .inventory_list_table tbody tr td div:nth-child(1) span {
                float: right;
                margin-right: 10px;
            }

        .inventory_list_table tbody tr td div:nth-child(2) {
            width: 50%;
            float: left;
            text-align: left;
        }



    .inventory_list_table .equip-delete,
    .inventory_list_table .equip-assign {
        float: left;
    }

        .inventory_list_table_custom thead {
            display: none;
        }

        .inventory_list_table_custom tbody tr td {
            width: 100%;
            float: left;
            padding: 3px 5px;
            box-sizing: border-box;
            line-height: normal;
        }

            .inventory_list_table_custom tbody tr td .iltc_head {
                display: block;
                width: 50%;
                float: left;
                text-align: left;
                font-weight: bold;
            }

                .inventory_list_table_custom tbody tr td .iltc_head span {
                    float: right;
                    margin-right: 10px;
                }

            .inventory_list_table_custom tbody tr td .iltc_info {
                width: 50%;
                float: left;
                text-align: left;
            }

}
