.form-group {
        margin: 0;
        padding: 8px 0px;
    }

        .form-group h3 {
            /*margin-left: 30px;*/
            font-size: 2rem;
            font-weight: 400;
            color: #393a3d;
        }
.add_acc_fee_head_container {
    width: 110%;
    background-color: #eceef1;
    margin-left: -15px;
    padding: 10px 13px;
    margin-top: -6px;
}
.add_acc_fee_head_text {
    font-size: 2rem;
    font-family: 'Play', sans-serif;
}
    .content-type {
        /*margin-left: 30px;*/
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
        margin-bottom: 4px;
    }

    .content-text {
        height: 32px;
        width: 80%;
        font-size: 13px;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .custom-col {
        width: 18%;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    /*.txt-form {
            margin-left: 30px;
        }*/

    .item-check {
        height: 40px;
        width: 20px;
    }

    .txt-check {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 14px;
        padding-left: 4px;
    }

    /*.col-cus {
            margin-left: 30px;
        }*/

    #ParentId {
        height: 32px;
        width: 80%;
        margin-left: 30px;
        width: 76%;
    }


    #SaveAccHolder {
        background-color: #2ca01c;
        color: white;
        float: right;
    }
    .add_act_fee_container {
        overflow:hidden;
    }

        #SaveAccHolder :hover {
        }
