 .dashboard_container {
           
        }
.filter_menu_list{
        z-index: 999999;
    }
    text {
        font-weight:bold !important;
        font-size:9px !important;
    }

.btndaily, .btnweekly, .btnmonthly, .btnyearly,
.btnorderdaily, .btnordernweekly, .btnordernmonthly, .btnorderyearly {
    color: #337ab7;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none !important;
}
.btnrevenuedaily, .btnrevenueweekly, .btnrevenuemonthly, .btnrevenueyearly {
    color: #e85c63;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none !important;
}
    .btnInvestdaily, .btnInvestweekly, .btnInvestmonthly, .btnInvestyearly {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none !important;
    }
    .btnrmrdaily, .btnrmrweekly, .btnrmrmonthly, .btnrmryearly {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none !important;
    }
    .btncustomerdaily, .btncustomermonthly, .btncustomerweekly, .btncustomeryearly {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none !important;
    }
    .btnOpportunitydaily, .btnOpportunityweekly, .btnOpportunitymonthly, .btnOpportunityyearly {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none !important;
    }
    .btnActivitiesdaily, .btnActivitiesweekly, .btnActivitiesmonthly, .btnActivitiesyearly {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none !important;
    }
    .header_txt_style {
        font-size: 16px;
        font-weight: 600;
    }
    .header_txt_style_tb {
        font-weight: 600;
    }
    .panel-sub-body-contents {
        font-size: 13px;
    }

    .LoadImg {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .LoadImgDiv {
        width: 100%;
        height: 100%;
        position: absolute;
        background: white;
        z-index: 8888;
    }

    .service-board-loader {
        position: relative;
        min-height: 170px;
    }

    .installer-board-loader {
        position: relative;
        min-height: 170px;
    }

    .Customer_Lead_Graph_loader {
        position: relative;
        min-height: 350px;
    }

    .service-board-panel-body {
        height: 200px;
    }

    .installer-board-panel-body {
        height: 200px;
    }

    /*.Customer_Lead_Graph_panel_body {
        height: 342px;
    }*/
    .Installation-board-partial-view {
        width: 97%;
        position: relative;
        overflow: hidden;
        min-height: 350px;
        margin-left: 10px;
    }
    .log_style{
           float: right;
    color: #908f8f;
    font-size: 15px;
    margin-top: 12px;
    background-color: #f7f7f7;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    }
.dash_top_block .panel-sub-body-contents span {
    cursor: pointer;
}
@media (max-width:580px) {
    .log_style {
            margin-top:0px;
            margin-bottom:10px;
        }
    }
    @media (max-width:414px) {
        .dashboard_container {
            padding-bottom:54px;
        }
    }
