.add_schedule_tech_header {
    width:100%;
    background-color:#f4f5f8;
    padding:10px 0px 5px 20px;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
}
.ats_margin_top {
    margin-top:10px;
}
.ats_margin {
    margin-top:-5px;
}

    .txt-design{
        margin-left:20px;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
    }
    .txt-form{
        margin-left:20px;
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
        
    }
    .border1{
        border-bottom:1px solid rgba(0, 0, 0, 0.1);
    }
    .SaveCancelDiv{
        width:95%;
        padding-top:8px;
    }
    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
    .btn-save{
        background-color: rgba(0, 128, 0, 0.85);
        color: white;
        float: right;
    }
    .btn-save:hover{
        color:white;
        background-color: rgba(0, 128, 0, 0.85);
    }
    .drop-control{
        padding-top:30px;
    }
    .item-check{
           height:40px;
           width:20px; 
       }
    .col-check{
        padding-top:25px;
    }
    .date-control{
        padding-top:25px;
        padding-right:70px;
    }
    .txt-arrival{
        margin-top:30px !important;
        width:90% !important;
    }
    .txt-drop{
        margin-top:16px;
    }
    .txt-form1{
        padding-top:20px;
        margin-left:20px;
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
    }
    .ftxt-drop{
        margin-top:7px;
        
    }
    .txt-form-change{
        margin-left:20px;
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
        padding-top:10px;
    }
    /*.form-control{
        width:90% !important;
    }*/
    .txt-border{
        margin-bottom:3px;
    }
    /*input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    box-sizing: border-box;
    }*/
    .tech-style{
        margin-top:30px;
    }
    /*Select2 Style*/
    /*.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #555 transparent transparent transparent ;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #555 transparent;
    border-width: 0 4px 5px 4px;
    }
    .txt-time{
        width:90% !important;
    }*/
