@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
<html>
<head>
    <style>
        body {
            margin: 0px;
        }

        .CloseButtonDiv {
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
        }

            .CloseButtonDiv img {
                width: 20px;
            }

        .multi_agree_doc_container {
            width: 100%;
            float: left;
        }

        .multi_agree_doc_header {
            width: 100%;
            float: left;
            font-size: 24px !important;
            padding: 5px 15px;
            background-color: #f4f5f8;
            border-bottom: 1px solid #ccc;
        }

        .multi_agree_doc_inner_height {
            width: 100%;
            float: left;
        }

        .multi_agree_doc_inner {
            width: 100%;
            float: left;
            padding: 10px 0px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .multi_agree_doc_content {
            width: 33.333%;
            float: left;
            padding: 0px 15px;
        }

            .multi_agree_doc_content .mad_header {
                font-weight: bold;
                color: #333;
            }

            .multi_agree_doc_content .form-control {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
    </style>
    <script src="~/Content/Jquery-ui/jquery.js"></script>

    <script src="~/Content/Js/Login/domainurl.js"></script>

    <script>
        var estIntId = '@ViewBag.EstimatorIntId';
        $(document).ready(function () {
            $(".multi_agree_doc_inner_height").height(window.innerHeight - 115);
        $("#multiple_agreement_document").change(function () {
            if ($(this).val() != "") {
                //parent.OpenTopToBottomModal(domainurl + "/Estimator/AddEstimatorAgreementtemplateReview/?Id=" + $(this).val() + "&cusId=" + parent.$("#InvoiceCustomerId").val() + "&estId=" + estIntId + "&customerintid=" + parent.CustomerLoadId);
                //parent.ClosePopup();
                console.log("preview");
                var agrid = $(this).val();
                var DetailList = [];
            var ServiceList = [];
            parent.$("#CustomerEstimateTab .HasItem").each(function () {
                var PARTNumberTemp = $(this).find('.selPartNumber option:selected').text();
                var PARTNumber = "";
                var Variation = "";

                if ($(this).find('.selPartNumber').val() == "-1") {
                    PARTNumber = "";
                }
                else {
                    PARTNumber = PARTNumberTemp.split(' - ')[0];
                    if (PARTNumberTemp.split(' - ').length > 1) {
                        Variation = PARTNumberTemp.split(' - ')[1];
                    }
                    console.log("part NO : "+ PARTNumber);
                    console.log("variation : " +Variation);
                }

                DetailList.push({
                    EquipmentId: $(this).attr('data-id'),
                    ManufacturerId: $(this).find('.selManufacturer').val(),
                    ManufacturerVal: $(this).find('.selManufacturer option:selected').text(),
                    Qunatity: $(this).find('.txtQunatity').val(),
                    UnitCost: $(this).find('.txtUnitCost').val().trim().replaceAll(',', ''),
                    Profit: $(this).find('.txtProfit').val().trim().replaceAll(',', ''),
                    Overhead: $(this).find('.txtOverhead').val().trim().replaceAll(',', ''),
                    TotalCost: $(this).find('.txtTotalCost').val().trim().replaceAll(',', ''),
                    TotalPrice: $(this).find('.txtTotalPrice').val().trim().replaceAll(',', ''),
                    CategoryVal: $(this).find('.selCategory option:selected').text(),
                    SupplierVal: $(this).find('.selSupplier option:selected').text(),
                    CategoryId: $(this).find('.selCategory').val(),
                    SupplierId: $(this).find('.selSupplier').val(),
                    Unit: $(this).find('.selUnit').val(),
                    PartDescription: $(this).find('.txtPartDescription').val(),
                    //PartNumber: $(this).find('.txtPartNumber').val(),
                    PartNumber: PARTNumber,
                    Variation: Variation,
                    //InventoryId: '00000000-0000-0000-0000-000000000000',
                    CreatedDate: '1-1-2017',
                    EstimatorId: parent.EstimatorId
                });
            });
            parent.$("#CustomerServiceTable .HasItem").each(function () {
                ServiceList.push({
                    EquipmentId: $(this).attr('data-id'),
                    EquipmentName: $(this).find('.ProductName').val(),
                    Amount: $(this).find('.txtProductAmount').val(),
                    Quantity: $(this).find('.txtProductQuantity').val(),
                    UnitPrice: $(this).find('.txtUnitPrice').val(),
                    IsTaxable: $(this).find('.chkTaxable').is(":checked"),
                    EstimatorId: parent.EstimatorId,
                });
            });
            var url = domainurl + "/Estimator/OpenEstimatorContractReview";
            var param = JSON.stringify({
                "Estimator.EstimatorId": parent.EstimatorId,
                "Estimator.BillingAddress": parent.tinyMCE.get('Estimator_BillingAddress').getContent(),
                "Estimator.ProjectAddress": parent.tinyMCE.get('Estimator_ProjectAddress').getContent(),
                "Estimator.StartDate": $("#Estimator_StartDate").val(),
                "Estimator.CustomerId": parent.$("#InvoiceCustomerId").val(),

                "Estimator.CompletionDate": $("#Estimator_CompletionDate").val(),
                "Estimator.EmailAddress": $("#Estimator_EmailAddress").val(),
                "Estimator.Description": $("#InvoiceMessage").val(),
                "Estimator.TaxPercnetage": parent.TaxPercnetage,
                "Estimator.TaxAmount": parent.TaxAmount,
                "Estimator.TotalPrice": parent.TotalPrice,
                "Estimator.PoriftPercentage": 0, //will be taken from the new field
                "Estimator.TotalProfitAmount": parent.TotalProfit,
                "Estimator.OverheadCostPercentage": 0,//will be taken from the new field
                "Estimator.TotalOverheadCostAmount": parent.TotalOverHead,
                "Estimator.TotalCost": parent.TotalCost,
                "Estimator.DefaultOverheadRate": $(".MaterialMarkup").val(),
                "Estimator.DefaultProfitRate": $(".LaborProfit").val(),
                estimatorDetails: DetailList,
                estimatorServices: ServiceList,
                _EstimatorPDFFilter: parent.CheckValue

            });
            $.ajax({
                type: "POST",
                ajaxStart: $(".loader-div").show(),
                url: url,
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    parent.OpenTopToBottomModal(domainurl + "/Estimator/AddEstimatorAgreementtemplateReview/?Id=" + agrid + "&cusId=" + parent.$("#InvoiceCustomerId").val() + "&estId=" + estIntId + "&customerintid=" + parent.CustomerLoadId);
                parent.ClosePopup();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
            }
        })
        });
/**/</script>

</head>
<body style="overflow:hidden;">

    <div class="multi_agree_doc_container">
        <div class="multi_agree_doc_header">
            @Localize.T("Agreement Document")
            <div class="CloseButtonDiv" onclick="parent.ClosePopup()" style="text-align:right; cursor:pointer">
                <img title="Close" src="/Content/Icons/cross_update.png">
            </div>

        </div>
        <div class="multi_agree_doc_inner_height">
            <div class="multi_agree_doc_inner">
                <div class="multi_agree_doc_content">
                    <span class="mad_header">@Localize.T("Document: ")</span>
                    @Html.DropDownList("multiple_agreement_document", ViewBag.multipledoc as List<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</body>
</html>

