.equipment-search {
    float: left;
    padding-right: 10px;
    width: 80%;
}

.equipment-list-filter {
    float: left;
    margin-left: 0px;
    margin-top: 10px;
}

.fliter-list {
    display: none;
    position: absolute;
    background: #fff;
    border: 2px solid #ddd;
    z-index: 999;
    padding: 5px;
    width: 290px;
}

.left-items {
    left: 0;
}

.right-items {
    right: 0;
}

.equipment-list-filter button {
    background: transparent;
    height: 35px;
}

.sub-list {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

    .sub-list span {
        font-weight: 600;
        display: block;
        padding-bottom: 2px;
    }

.sub-list-btn {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.btn-reset-filter {
    border: none;
    background: #ddd !important;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    font-size: 14px !important;
    font-weight: 600 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-apply-filter {
    border: none;
    background: #2ca01c !important;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    font-size: 14px !important;
    font-weight: 600 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.equipment_list_dropdown {
    width: auto;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-color: #b1b4bb !important;
    border: 1px solid #666 !important;
    font-size: 13px;
    margin-top: 4px !important;
    padding: 4px 0px 4px 0px !important;
    right: 15px;
    left: unset;
}
