.tech_receive_header {
    width: 100%;
    background-color: #f4f5f8;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
    padding: 12px 10px;
}

.SaveCancelDiv {
    width: 100%;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
    padding: 10px 15px;
}

#btn_tech_receive, #btn_tech_approve {
    float: right;
    background-color: green;
    color: white;
}
.tran_from_tech_container label {
    margin-bottom:0px;
}
#SaveTransferFromTechnician {
    float: right;
}