    .add-invoice-container #mceu_15-body,
    .add-invoice-container #mceu_22-body,
    .add-invoice-container #mceu_29-body,
    .add-invoice-container .mce-menubar,
    .add-invoice-container #mceu_54-body,
    .add-invoice-container #mceu_61-body {
        display: none;
    }

    .PoContentScroll {
        overflow-y: scroll;
    }
    .add_demand_order_container {
        min-height:350px;
    }
    .add_demand_order_footer {
            background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
    }
    .add_demand_order_footer .InvoiceCancelButton {
        float:left;
    }
    .add_demand_order_footer .InvoiceSaveButton {
        float:right;
    }
    @media(max-width:414px) {
         .add_demand_order_container .tt-menu {
        width:100%;
    }
         .add_demand_order_container .CustomerInvoiceTab {
             width:700px;
         }
    }
   