.custom-bottom-style {
    border-bottom: 2px solid #dcdcdc;
}

.bottom-padding-15p {
    padding-bottom: 15px;
}

.inventory-type-div {
    width: 100%;
    float: left;
}
.add_equipment_container_height {
    width:100%;
    float:left;
    overflow-x:hidden;
    overflow-y:auto;
}
.add_equipment_container_height .add_equipment_container {
    overflow-y:hidden !important;
}
.inventory-type-img-container {
    width: 90px;
    float: left;
}

    .inventory-type-img-container:hover {
        cursor: pointer;
    }

.inventory-type-title-container {
    padding-top: 10px;
    width: 410px;
}
.EquipmentCost {
    width:100%;
    float:left;
}
.sub-title {
    font-weight: 600;
}
 .add_equipment_contents {
        overflow-y: hidden;
          overflow-x:hidden;
          position:relative;
    }
     
    .footer-section {
        background: #eceef1;
        height: 50px;
  
    }

    .btn-save-Inventory-product {
        float: right;
        margin: 10px 20px 08px 30px;
        background-color: #2ca01c;
        color: #ffffff;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        box-shadow: none;
        border-right: none;
        border: 1px solid #8d9096;
        outline: none;
        padding: 0 15px;
        font-weight: 600;
        min-width: 80px;
        cursor: pointer;
        font-size: 1.4rem;
        height: 34px;
        line-height: 34px;
        overflow: visible;
        text-align: center;
    }

    .padding-right-15 {
        padding-right: 15px;
    }
    .add_equip_header {
        width: 100%;
        float: left;
        font-size: 2rem;
        font-weight: 600;
        color: #ffffff;
        padding: 5px 15px;
        background-color: #2ca01c;
    }
    .add_equipment_container {
        width: 100%;
        float: left;
        padding: 0px 15px 15px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .add_equipment_container .btn {
        background-color:#fff;
    } 
     .add_equipment_container .btn:hover {
        background-color:#2ca01c;
        color:#fff;
    } 
    .add_equip_close_div {
        width: 20px;
        float: right;
        padding: 0px 10px;
        cursor: pointer;
        margin-right: 10px;
        z-index: 12;
        margin-top: -2px;
}
   
    .equipment_info_block {
        width:100%;
        float:left;
        background-color: #f4f5f8;
        margin: 10px 0px;
    }
    .equipment_info_block_for_Addequipment {
         width:100%;
        float:left;
        border:1px solid #cfcfcf;
        margin: 10px 0px;
    }
    .equipment_info_block_header{
         font-size: 15px;
        font-weight: 600;
        background: #cfcfcf;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 5px;
        letter-spacing: 1px;
    }
    .equipment_info_block_information {
        width:100%;
        float:left;
        padding: 10px 15px;
    }
    .equi_info .form-group {
        width: 50%;
        float: left;
        padding-right: 5px;
        max-height:50px;
        position:relative;
    }
    /*.equi_info .form-group:nth-child(6) {
        width:100%;
        float:left;
        margin-right:0px;
    }
    .equi_info .form-group:nth-child(3) {
         margin-right:0px;
    }*/
.purchase_info .form-group {
    width: 50%;
    float: left;
    padding-right: 5px;
}
    .purchase_info .form-group:nth-child(6) {
        width:100%;
        float:left;
        margin-right:0px;
    }
    .purchase_info .form-group:nth-child(3) {
         margin-right:0px;
    }
.add_multi_vendor_info .EquipmentCost .form-group {
    width: 50%;
    float: left;
    padding-right: 5px;
}
.add_multi_vendor_info .EquipmentCost .add_multi_vendor_save_btn {
    margin-right: 0px;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
     .add_multi_vendor_info .EquipmentCost .add_multi_vendor_save_btn button {
        
         background-color:#2ca01c;
         color:#fff;
    }
.add_equip_checkbox {
    padding-top:30px;
}
.add_equip_checkbox .label-cbx {
    float: left;
}
    .add_equip_checkbox .label-cbx .checkbox {
        top:-5px;
    }
     .add_equip_checkbox .add_equip_check_text {
        float:left;
        font-size:14px;
        font-weight:600;
        margin-top:5px;
    }
    .span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}
    .add_equip_footer_section {
        width:100%;
        float:left;
        background-color:#fff;
        border-top:2px solid #ccc;
        padding: 0px 10px;
    }
    .show_vendor_list_container {
        width:100%;
        float:left;
    }
    .show_vendor_list_container .vendor_edit_icon {
        color:#2ca01c;
        cursor:pointer;
    }
     .vendor_list_table {
        width:100%;
    }
    .vendor_list_table thead tr {
        border-bottom: 2px solid #d4d7dc;
    }
    .vendor_list_table thead tr th {
        padding:0px 5px;
    }
   
    .vendor_list_table tbody tr td {
        padding:10px 5px;
    }
     .vendor_list_table tbody tr {
        border-bottom: 1px solid #ddd;
    }
     .vendor_list_table thead tr th {
         /*width:9%;*/
        text-align:center;
    }
     .vendor_list_table thead tr th:nth-child(10) {
         width:110px;
    }
          
     .vendor_list_table thead tr th:nth-child(1) {
        text-align:left;
    }
      .vendor_list_table tbody tr td {
        text-align:center;
    }
      .vendor_list_table tbody tr td:nth-child(1) {
        text-align:left;
    }
      .vendor_list_table tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
      .vendor_list_table tbody tr:hover {
        background-color:#eaeaea;
    }
      .vendor_list_table a {
          cursor:pointer;
      }
      .checkbox_add_equipment_service .label-cbx {
          float:left;
      }
       .checkbox_add_equipment_service .label-cbx .checkbox {
           margin:0px;
       }
       .checkbox_add_equipment_service .span-style{
        float: left;
        width: auto;
        padding: 2px 5px;
      }
.service_info_check_holder {
    max-height: unset !important;
    padding-top:20px;
}
.service_info_check_left,
.service_info_check_right {
    width: auto;
    float: left;
}
      .service_info_check_left .lbl-CheckBoxText,
      .service_info_check_right .lbl-CheckBoxText {
          margin-top:10px;
          color: #615b5b;
      }
      .service_info_check_left {
           margin-right:15px;
      }
       .service_info_check_right {
           
      }
.IsPrimaryPriceDiv {
    width: 16%;
    float: left;
}

.margin-top-20 {
    margin-top: 20px;
}
     @media (max-width:1344px){
          .purchase_info .form-group {
        width: 32%;
    }
     }
     @media (max-width:1024px) {
        .service_info_check_holder {
            width:100% !important;
        }
     }
@media (max-width:414px) {
    .service_info_check_holder {
        width: 100% !important;
    }
    .add_multi_vendor_info .EquipmentCost .form-group,
    .purchase_info .form-group,
    .equi_info .form-group {
        width: 100%;
    }
    .IsPrimaryPriceDiv {
        width:100%;
    }
}