.add_mass_po_container {
    width: 100%;
    float: left;
}

.add_mass_po_header {
    font-size: 2.4rem !important;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}

#CustomerMassPOTab {
    width: 100%;
    float: left;
}

    #CustomerMassPOTab thead tr th {
        text-align: left;
        line-height: 36px;
        vertical-align: middle;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-left: 15px;
        text-transform: uppercase;
        font-weight: 600;
    }

        #CustomerMassPOTab thead tr th:nth-child(4),
        #CustomerMassPOTab thead tr th:nth-child(6) {
            width: 170px;
            position: relative;
        }

    #CustomerMassPOTab tbody tr td:nth-child(4),
    #CustomerMassPOTab tbody tr td:nth-child(5),
    #CustomerMassPOTab tbody tr td:nth-child(6) {
        position: relative;
        text-align: left;
        padding-left: 10px;
        vertical-align: middle;
    }

        #CustomerMassPOTab tbody tr td:nth-child(4) input,
        #CustomerMassPOTab tbody tr td:nth-child(6) input {
            padding: 0px;
            border: none;
            height: 30px;
        }

    #CustomerMassPOTab tbody tr:hover td:nth-child(4) input,
    #CustomerMassPOTab tbody tr:hover td:nth-child(6) input {
        background-color: #f4f5f8;
    }

.SaveaButtonsDivMass {
    width: 100%;
    float: right;
    padding: 15px 0px;
    text-align: right;
}

    .SaveaButtonsDivMass button {
        background-color: #2ca01c;
        color: #fff;
    }

.add_mass_po_container .tt-menu {
    width: 100%;
    min-width: unset;
    left: unset;
    right: 5px;
}
    #CustomerMassPOTab > tbody > tr > td > div:nth-child(1) {
         display:none;
     }
@media (max-width:768px) {
    #CustomerMassPOTab thead {
        display:none;
    }
    #CustomerMassPOTab tbody tr td {
        width:100%;
        float:left;
        padding:3px 5px !important;
        box-sizing:border-box;
        border:none;
    }
     #CustomerMassPOTab tbody tr {
         border-bottom:1px solid #ccc;
     }
     #CustomerMassPOTab > tbody > tr > td > div:nth-child(1) {
         display:block;
         width:45%;
         float:left;
         text-align:left;
         font-weight:bold;
     }
     #CustomerMassPOTab > tbody > tr > td > div:nth-child(2) {
          width:55%;
         float:left;
         text-align:left;
     }
     #CustomerMassPOTab > tbody > tr > td > div:nth-child(1) > span {
         float:right;
         margin-right:10px;
     }
     #CustomerMassPOTab tbody tr td:nth-child(4) input,
     #CustomerMassPOTab tbody tr td:nth-child(6) input {
         height:auto;
     }
}
