.manual_inventory_container {
    width:100%;
    float:left;
}
.manual_inventory_header {
    width:100%;
    float:left;
    background-color:#f4f5f8;
        font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
    padding: 12px 10px;
}
.manual_inventory_inner {
    width:100%;
    float:left;
    padding:10px;
}
.manual_inventory_inner .manual_inventory_content {
    width:100%;
    float:left;
    margin-bottom:10px;
}
.manual_inventory_inner .manual_inventory_content label {
    margin-bottom:0px;
}
.manual_inventory_footer {
    width:100%;
    float:left;
    background: #eceef1;
    text-align:right;
    padding:8px;
    position:fixed;
    bottom:0px;
}
.manual_inventory_footer .btn {
        float: right;
    background-color: green;
    color: white;
}