 .add-invoice-container #mceu_15-body,
    .add-invoice-container #mceu_22-body,
    .add-invoice-container #mceu_29-body,
    .add-invoice-container .mce-menubar,
    .add-invoice-container #mceu_54-body,
    .add-invoice-container #mceu_61-body {
        display: none;
    }
.disabled_tinymce {
    position: relative;
    cursor: not-allowed;
}
.disabled_tinymce_bg {
    width: 100%;
    float: left;
    height: 102px;
    background-color: #efefef;
    z-index: 999999;
    position: absolute;
    opacity: 0.5;
}
    .disabled_tinymce body {
        background-color: gray !important;
    }

   
.PoContentScroll {
    overflow-y: scroll;
}
    #SaveBillFile {
        /*margin-left: 18px;*/
        margin-top: 12px;
        margin-bottom: 10px;
    }
    
    .add_vendor_bill_container {
        width:100%;
        float:left;
        overflow-y:auto;
    }
    .deleteDoc.cursor-pointer img {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
}
.txtProductQuantityReceived {
    background-color: #f0f0ef;
}
#Bill_file_description {
    width: 100%;
    height: 200px;
}
    .chooseFilebtn {
            margin-top: 0px;
    background-color: #58595B !important;
    width: 170px;
    border-radius: 0px;
    color: white;
    }
    .chooseFilebtn:hover {
        background-color: #58595B !important;
    }
    .apo_image_add {
        width:170px;
        height:auto;
        position:relative;
        margin-bottom: 10px;
    }
    .apo_image_add .fileborder {
        width:170px;
        height:170px;
        position:relative;
    }
    .apo_image_add .fileborder img {
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        max-width:100%;
        max-height:100%;
        margin:auto;
    }
    .apo_inventory .tt-suggestion {
        height:70px;
    }
    .apo_inventory .tt-sug-type {
    position: absolute;
    left: 15px;
    top: 50px;
    color: #999;
    font-style: italic;
}
.apo_inventory .tt-eq-price {
    position: absolute;
    right: 10px;
}
.apo_inventory .tt_sug_manufac {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

    
.pAmount {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.pAmount .input-group-prepend { 
    width:30%;
    float:left;
}
    
.pAmount .input-group-text { 
    padding-top:5px;
    height: 32px;
    color: #495057;
    text-align: center; 
    background-color: #e9ecef;
    border: 1px solid #ced4da; 
}
.pAmount > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pAmount input {
        position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 70%;
    float: left;
    margin-bottom: 0;
}
.CustomerInvoiceTab tbody tr input, .CustomerInvoiceTab tbody tr .pAmount {
    display: none;
}
.CustomerInvoiceTab tbody tr.focusedItem input{
    border: 1px solid #2ca01c;
}
.apo_table_style tbody tr.focusedItem input {
    border: 1px solid #dadada;
}
.CustomerInvoiceTab tbody tr.focusedItem .hover_green_style input {
    border: 1px solid #2ca01c !important;
}
.CustomerInvoiceTab tbody tr.focusedItem input, .CustomerInvoiceTab tbody tr.focusedItem .pAmount{
    display: block; 
}

.CustomerInvoiceTab tbody tr span {
    display: block;
}


.CustomerInvoiceTab tbody tr.focusedItem span {
    display: none;
}

.CustomerInvoiceTab tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}

.tableActions {
    text-align: center;
}

.CustomerInvoiceTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position:relative;
}

.CustomerInvoiceTab thead tr th {
    text-align: left;
    line-height: 36px;
    vertical-align: middle;
    /*background-color: #ddd;*/
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.CustomerInvoiceTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}
.CustomerInvoiceTab thead tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}

.CustomerInvoiceTab tbody tr td:hover {
    cursor: pointer;
}
.RequestOrderFilterBtn_container {
     width:100%;
    float:left;
}
.RequestOrderFilterBtn {
   float:right;
}
.request_order_inner {
    width:100%;
    float:left;
    overflow-x:hidden;
    overflow-y:auto;
}
.request_order_footer {
    width: 100%;
    float: left;
    text-align: right;
    padding: 8px 15px;
    border-top: 1px solid #ccc;
}
   .request_order_footer .req_order_vendor {
       width:200px;
       float:right;
       margin-right:-2px;
       text-align: left;
   }
    .request_order_footer .input-group {
       width:250px;
       float:right;
   }
   
    @media (max-width:414px) {
        .request_order_footer {
       display: flex;
        flex-direction: column-reverse;
        }
         .request_order_footer .req_order_vendor,
         .request_order_footer .input-group  {
       width:100%;
       margin-right:0px;
       float:left;
   }
        
    
    }

/*Merged AddVendorBill.css*/

.width-100p {
    width: 100%;
    float: left;
}

.margin-top-15 {
    margin-top: 15px;
}

.avp_header {
    padding-top: 10px;
}

.avb_div_header {
    /*position:fixed;
        width:100%;*/
}

.avb_invoice_allign {
    text-align: right;
    padding-right: 5px;
}

.avb_subt_text {
    text-align: right;
    padding-right: 69px;
    padding-top: 3px;
}

.avp_row {
    width: 100%;
    float: left;
}

.add_vendor_bill_row {
    width: 100%;
    float: left;
}

.add_invoice_container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 691px;
}

.avb_input_border {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.header_title_avb {
    font-size: 2.4rem !important;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}

.payment_info_field {
    border: 2px solid #ddd !important;
    box-shadow: 0px 0px 0px 0px #000;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
}

.avb_invoice_informations {
    width: 100%;
    padding: 10px 15px;
    background-color: #f4f5f8;
    display: table;
}

.avp_table_info_container {
    padding: 0px 15px;
    }

.avp_amount_subtotal {
    color: #333 !important;
}

.form-control {
    height: 34px !important;
}

.avp_invoice_padd_top {
    width: 70%;
    float: left;
    padding-top: 10px !important;
}

.PaymentMethodForms {
    display: none;
}

.balanceDueAmount {
    font-size: 18px;
}

.InvoiceMgmtDiv {
    margin-top: 0px;
}

.avp_amount_calc_pad {
    width: 30%;
    float: left;
    padding-right: 0px !important;
}

.avp_invoice_text_style {
    padding-right: 0px;
    padding-top: 5px;
}

.Edit_Payment_Method {
    margin-top: 10px;
    background-color: #2ca01c;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.payment-icon-image {
    width: 100px;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
}

    .payment-icon-image:hover {
        border: 1px solid #00c31f;
    }

.PaidDivClass {
    padding-top: 15px;
    font-size: 40px;
    color: #ada5a5;
    font-weight: bold;
}

.add_purchase_order_content {
    width: 33.333%;
    float: left;
    padding: 0px 15px 10px 0px;
    max-height: 64px;
}

.add_vendor_max_height {
    max-height: unset !important;
}

.po_cancelbtnDiv {
    width: 30%;
    float: left;
}

.po_InnerOptionsDiv {
    width: 35%;
    float: left;
    text-align: center;
    padding-top: 8px;
    color: white;
}

.po_SaveaButtonsDiv {
    width: 35%;
    float: left;
    text-align: right;
}

.po_InnerOptionsDiv a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.add_purchase_order_table {
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 50px;
}

.add_purchase_order_btn_desktop {
    display: unset;
}

.add_purchase_order_btn_mobile {
    display: none;
}

.po_SaveaButtonsDiv .btn-default {
    border: 0px !important;
    margin-top: -1px;
}

.PurchaseOrderDeleteButton,
.PurchaseOrderDeleteButton:hover,
.PurchaseOrderDeleteButton:focus {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
}

.InvoiceSaveButton,
.InvoiceSaveButton:hover,
#SaveBillFile,
#SaveBillFile:hover {
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: #fff;
}

.LoadBillFiles {
    width: 100%;
    float: left;
    padding: 0px 15px;
}

#SupplierAddress {
    height: 90px !important;
}

.avp_table_info_container {
    padding: 0px 15px;
    }

#SaveBillFile {
    margin-bottom: 30px;
}

.add_vendor_bill_container {
    width: 100%;
    float: left;
    overflow-y: auto;
}

.deleteDoc.cursor-pointer img {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
}

#Bill_file_description {
    width: 345px;
    float: left;
    resize: none;
}

.add_vendor_bill_image_add {
    width: 195px;
    height: auto;
    position: relative;
    margin-bottom: 10px;
}

    .add_vendor_bill_image_add .fileborder {
        width: 195px;
        height: 140px;
        position: relative;
    }

        .add_vendor_bill_image_add .fileborder img {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }

.chooseFilebtn {
    margin-top: 0px;
    background-color: #58595B !important;
    width: 195px;
    border-radius: 0px;
    color: white;
}

    .chooseFilebtn:hover {
        background-color: #58595B !important;
    }

.add_vendor_bill_container #FileUpload {
    width: 100%;
    float: left;
    padding: 30px 0px 0px 15px;
}

    .add_vendor_bill_container #FileUpload .FileUpload_left_info {
        width: 345px;
        float: left;
        height: 188px;
        position: relative;
    }

    .add_vendor_bill_container #FileUpload .FileUpload_right_info {
        width: 100%;
        float: left;
    }

.load_bill_files_table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.load_bill_files_table tbody tr:hover {
    background-color: #f4f5f8;
}

.load_bill_files_table .size-img {
    width: 30px;
}

.load_bill_files_table tbody tr td div:nth-child(1) {
    display: none;
}

@media (max-width:768px) {
    .add_vendor_bill_row .width-25p {
        width: 50%;
    }

    .avp_invoice_padd_top {
        width: 63%;
    }
}

@media (max-width:414px) {
    .po_cancelbtnDiv {
        width: 20%;
    }

    .po_InnerOptionsDiv {
        width: 20%;
    }

    .po_SaveaButtonsDiv {
        width: 60%;
    }

    .header_title_avb {
        font-size: 18px !important;
    }

    .po_amount_flex {
        display: flex;
        flex-direction: column-reverse;
    }

        .po_amount_flex .invoice-info-left-70p,
        .po_amount_flex .balance-info {
            width: 100%;
        }

        .po_amount_flex .balance-info {
            text-align: left;
        }

    .add_purchase_order_content {
        width: 100%;
        padding: 0px 0px 10px 0px;
    }

    .add_purchase_order_table {
        overflow-x: scroll;
    }

    .add_purchase_order_btn_mobile {
        display: unset;
    }

    .add_purchase_order_btn_desktop {
        display: none;
    }

    .InvoiceDeleteButton,
    .InvoiceSaveButton {
        padding: 6px !important;
    }

    .po_SaveaButtonsDiv .btn-default {
        padding: 6px !important;
    }

    .avb_invoice_informations .invoice-info-left-70p,
    .avb_invoice_informations .balance-info {
        width: 100%;
    }

    .add_vendor_bill_row .width-25p {
        width: 100%;
    }

    .OtherInfos .col-md-12 .invoive_calculation_div {
        width: 100%;
    }

    .avb_subt_text {
        padding-right: 0px;
    }

    .avp_amount_calc_pad {
        width: 100%;
    }

    .avp_invoice_padd_top {
        width: 100%;
    }

    #Bill_file_description {
        width: 95%;
    }

    .load_bill_files_table thead {
        display: none;
    }

    .load_bill_files_table tbody tr td {
        width: 100%;
        float: left;
        padding: 5px;
    }

        .load_bill_files_table tbody tr td div:nth-child(1) {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            .load_bill_files_table tbody tr td div:nth-child(1) span {
                float: right;
                margin-right: 5px;
            }

        .load_bill_files_table tbody tr td div:nth-child(2) {
            width: 55%;
            float: left;
            word-break: break-all;
        }
}


/*Merged AddVendorBill.css*/

/* Digiture Changes to CSS */
.qtyhandwarning {
    background-color: #d71920;
    color: white;
}
       