 .bad_inventory_partial_container {
       width:100%;
       float:left;
       padding: 10px 0px;
   }
   .bad_inventory_partial_search_div {
       width:100%;
       float:left;
       padding-bottom:10px;
   }
   .bad_inventory_partial_search_div_cont {
       width:100%;
       float:left;
       padding-bottom:10px;
   }
   .bad_inventory_partial_search_div .input-group {
       width:40% !important;
       float:left;
   }
   .bad_inventory_partial_search_div #AddNewBI,
   .bad_inventory_partial_search_div #TechAddNewBI {
      float:right;
   }
    .btnBI {
        background-color: #2ca01c;
        color: white;
    }

    .search_BI_btn {
        cursor: pointer;
        color: white;
    }
    .th_timeclock_pre {
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .th_timeclock {
        font-weight: bold !important;
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    #tblPO {
        border: 1px solid #ccc;
    }

    .delete-package-Service {
        color: #2ca01c;
        text-decoration: none;
    }

        .delete-package-Service:hover {
            color: #2ca01c !important;
            text-decoration: none;
            cursor: pointer !important;
        }
        #tblBI {
            width:100%;
            table-layout:fixed;
            border:1px solid #ccc;
        }
        .bad_inv_list_part_table .bilpdesc {
            width:120px;
        }
        .bad_inv_list_part_table .bilpactions {
            width:55px;
        }

        .bilistdescstyle {
                overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
        }
        #tblBI thead tr {
            border-bottom: 2px solid #ccc;
        }
        #tblBI thead tr th {
            padding:5px 10px;
        }
         #tblBI tbody tr {
            border-bottom: 1px solid #ccc;
        }
          #tblBI tbody tr:nth-child(odd) {
              background-color:#f8f8f8;
          }
          #tblBI tbody tr:hover {
              background-color:#f4f5f8;
          }
         #tblBI thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    #tblBI thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     #tblBI thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       

        #tblBI thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
         #tblBI tbody tr td div:nth-child(1) {
             display:none;
         }
         #tblBI tbody tr td .bi_customer_name {
             color:#2ca01c;
             float:left;
             cursor:pointer;
         }
          #tblBI tbody tr td {
              padding:10px;
          }
           .bi_single_filter_div_style {
            width:auto;
            float:left;
        }
        .bi_single_filter_div_style button {
  
    height: 35px;
    margin-left:10px;
}
        .bi_single_filter_div_style .btn-filter {
  
}
       .bi_single_filter_div_container {
           width:auto;
           float:left;
       }
       .bi_single_filter_div_container .input-group {
           width:300px !important;
           float:left;
       }
       .bi_single_filte_info_container {
               background: #fff;
    border: 2px solid #ddd;
    padding: 5px;
    width: 100%;
    float: left;
       }
       .bi_single_filter_info_inner {
               width: 100%;
    float: left;
       }
       .bi_single_filter_info_inner_content {
    width: 23%;
    float: left;
    margin: 5px 1%;
    height: 40px;
}
       .bi_single_filter_info_footer {
                 width: 100%;
    float: left;
    background-color: #fff;
    padding: 5px 10px;
    text-align: right;
       }
       .bi_single_filter_info_footer button,
       .bi_single_filter_info_footer button:hover,
       .bi_single_filter_info_footer button:focus {
    background-color: #2ca01c;
    color: #fff;
}
              @media (max-width:1150px) {
            .bi_single_filter_info_inner_content {
    width: 48%;
    margin: 5px 1%;
}
       }
@media (max-width:1024px) {
    #tblBI thead {
        display:none;
    }
     #tblBI tbody tr td {
         width:100%;
         float:left;
         padding: 5px 10px;
         box-sizing: border-box;
         line-height:normal;
     }
      #tblBI tbody tr td div:nth-child(1) {
          display:block;
          width:45%;
          float:left;
          text-align:left;
          font-weight:bold;
      }
      #tblBI tbody tr td div:nth-child(1) span {
          float:right;
          margin-right:10px;
      }
       #tblBI tbody tr td div:nth-child(2) {
           width:55%;
          float:left;
          text-align:left;
          word-break:break-all;
      }
}
 @media (max-width:414px) {
     .bad_inventory_partial_search_div .input-group {
         width:100% !important;
         margin-bottom:10px;
     }
      .bi_single_filter_div_container .input-group {
    width: 185px !important;
    float: left;
}
      .bi_single_filter_info_inner_content {
    width: 98%;
    margin: 5px 1%;
}
    
}
 @media (max-width:375px) {
    #tblBI tbody tr td div:nth-child(1) {
        width:55%;
    }
     #tblBI tbody tr td div:nth-child(2) {
         width:45%;
     }
 }