.branch_demand_order_list_partial_container {
    width:100%;
    float:left;
    padding-top:10px;
}    
.tech-search-add {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    .th_timeclock_pre {
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .th_timeclock {
        font-weight: bold !important;
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    #tblPO_techDemand {
        width:100%;
        float:left;
        border: 1px solid #ccc;
        table-layout:fixed;
    }
   
    #tblPO_techDemand thead tr th:nth-child(1) {
        width:90px !important;
    }
     #tblPO_techDemand thead tr th:nth-child(2) {
        width:30% !important;
    }
     #tblPO_techDemand thead tr th:nth-child(3) {
        width:60px !important;
    }
     #tblPO_techDemand thead tr th:nth-child(4) {
        width:145px !important;
    }
      #tblPO_techDemand thead tr th:nth-child(5) {
        width:80px !important;
    }
    #tblPO_techDemand tbody tr {
        border-bottom:1px solid #ddd;
    }
     #tblPO_techDemand tbody tr:nth-child(odd) {
         background-color:#f8f8f8;
     }
      #tblPO_techDemand tbody tr:hover {
          background-color:#f4f5f8;
      }
      #tblPO_techDemand tr td div:nth-child(1) {
          display:none;
      }
       #tblPO_techDemand thead tr th {
        padding-right:10px;
    }
       #tblPO_techDemand thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    #tblPO_techDemand thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     #tblPO_techDemand thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        #tblPO_techDemand thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
      @media (max-width:768px) {
          #tblPO_techDemand thead {
              display:none;
          }
          #tblPO_techDemand tbody tr td {
            width:100%;
            float:left;
            padding: 3px 5px;
            box-sizing: border-box;
            line-height:normal;
        }
        #tblPO_techDemand tr td div:nth-child(1) {
            display:block;
            width:45%;
            float:left;
            text-align:left;
            font-weight:bold;
        }
        #tblPO_techDemand tr td div:nth-child(1) span {
            float:right;
            margin-right:10px;
        }
        #tblPO_techDemand tr td div:nth-child(2) {
             width:55%;
            float:left;
            text-align:left;
            word-break:break-all;
        }
      }
