.equipment_detail_page_outer {
    width:100%;
    float:left;
    padding:0px 10px;
}    
.EquipmentDetailDiv {
           width: 100%;
    float: left;
    border: 1px solid #ccc;
    margin: 10px 0px;
    border-radius: 4px;
    padding: 10px;
    }

    .EquipmentDetailDiv table tr {
        border-bottom: 1px solid #e3e3e3;
    }

    .EquipmentDetailDiv table tr td {
        padding: 5px;
    }

    #myEquipmentTab > li > a {
        background-color: transparent !important;
    }

    #myEquipmentTab > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    #myEquipmentTab > li {
        border: 1px solid #ccc !important;
    }

    #myEquipmentTab > li.active {
        background-color: #2ca01c !important;
    }

    #myEquipmentTab > li {
        border: 1px solid #ccc !important;
    }

    #myEquipmentTab > li.active > a {
        color: white !important;
    }

    .all_invoices_partial_container {
        margin-top: 10px;
    }

    .equipment_detail_page_top_header {
        width: 100%;
        float: left;
    }

    .equipment_detail_page_top_header a {
        float: left;
    }

    .equipment_detail_page_top_header div {
        float: left;
        font-size: 24px;
    }

    .equipment_detail_page_back_btn {
        font-size: 20px;
        font-weight: 600;
        color: #777;
        float: left;
        padding-top: 4px;
        margin-right: 5px;
        cursor:pointer;
    }
    .equipment_detail_page_back_btn:hover {
        color:#2ca01c;
    }
    .DetailDiv {
        width: 49.5%;
        float: left;
    }

    .HistoryDiv {
        width: 49.5%;
        float: left;
        margin-left: 1%;
    }

    .DetailDiv_heading,
    .HistoryDiv_heading {
        /*width: 100%;
        float: left;
        background-color: #2ca01c;
        color:#fff;
        font-size: 20px;
        padding: 5px 10px;*/
            width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
    border: 1px solid #ccc;
    }
    .VendorPrice_heading {
        /*width: 100%;
        float: left;
       background-color: #2ca01c;
        color:#fff;
        font-size: 20px;
        padding: 5px 10px;*/
        margin-top:30px;
            width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
    border: 1px solid #ccc;
    }
    .add_product_history {
         border: 1px solid #8d9096;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #393a3d;
    font-weight: 600;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 23px;
    border: 0;
    margin: 0px;
    padding: 0px 10px !important;
    float: right;
    }
       
    .DetailDiv table,
    .HistoryDiv table {
        width: 100%;
        border: 1px solid #ccc;
    }

    .equipment_profile_pic {
        padding-bottom: 15px !important;
    }

    .equipment_profile_pic img {
        max-width: 200px;
        max-height: 200px;
        cursor: pointer;
    }

    .DetailDiv table tr td:nth-child(1) {
        width: 30%;
        font-weight: 600;
    }
    .DetailDiv table tr td:nth-child(1) span {
        float:right;
        margin-right:10px;
    }
    .VendorPriceTable tr td:nth-child(1) {
        font-weight:normal !important;
    }
    .VendorPriceTable thead tr th {
        font-weight: 600;
        padding:5px;
    }
    .DetailDiv table tr:nth-child(even) {
        background-color: #f8f8f8;
    }

    .DetailDiv table tr:hover {
        background-color: #f4f5f8;
    }

    .equipment_profile_pic_container:hover {
        background-color: #fff !important;
    }

    .HistoryDiv table {
        width: 100%;
    }

    .HistoryDiv table thead tr td {
        font-weight: bold;
    }
     .HistoryDiv table tr td {
        padding: 5px !important;
    }
     .HistoryDiv table tbody tr td:nth-child(2),
      .HistoryDiv table thead tr td:nth-child(2),
     .HistoryDiv table tbody tr td:nth-child(3),
      .HistoryDiv table thead tr td:nth-child(3) {
         text-align:center;
    }
    .HistoryDiv table tbody tr:nth-child(even) {
         background-color: #f8f8f8;
    }
    .HistoryDiv table tbody tr:hover {
        background-color: #f4f5f8;
    }
    .HistoryDiv_device_header {
        display:none;
    }
    .VendorPriceTable tbody tr td div:nth-child(1),
     .HistoryDiv table tbody tr td div:nth-child(1) {
        display:none;
    }
   .techEquipmentDetaiPartial_container {
       width:100%;
       float:left;
   }
   .tedp_heading {
        width: 100%;
    float: left;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 5px 15px;
    background-color: #2ca01c;
   }
   .tedp_inner {
    width: 100%;
    float: left;
    padding: 5px 15px 15px 15px;
    overflow-x:hidden;
    overflow-y:auto;
}
          .tedp_table {
        width:100%;
        float:left;
    }
    .tedp_table thead tr {
        border-bottom: 2px solid #d4d7dc;
    }
    
   .tedp_table thead tr th,
    .tedp_table tbody tr td {
        padding:10px 5px;
    }
     .tedp_table tbody tr {
        border-bottom: 1px solid #ddd;
    } 
     .tedp_table tbody tr:nth-child(odd) {
         background-color:#f8f8f8;
     }
      .tedp_table tbody tr:hover {
         background-color:#f4f5f8;
     }
@media (max-width:1024px) {
   .DetailDiv,
   .HistoryDiv {
       width:100%;
   }
   .HistoryDiv {
       width:100%;
       margin-left:0px;
       margin-top:30px;
   }
}
@media (max-width:700px) {
    .DetailDiv {
        width:100%;
    }
   
    .HistoryDiv {
        width:100%;
        margin-top:30px;
        margin-left:0px;
    }

}
@media (max-width:414px) {
    .DetailDiv table tr td:nth-child(1) {
        width:51%;
    }
    .VendorPriceTable thead,
    .HistoryDiv table thead {
        display:none;
    }
    .VendorPriceTable tbody tr td,
    .HistoryDiv table tbody tr td {
        width:100% !important;
        float:left;
        box-sizing:border-box;
        padding:5px 3px;
    }
     .VendorPriceTable tbody tr td div:nth-child(1),
     .HistoryDiv table tbody tr td div:nth-child(1) {
        display:block;
        width:45%;
        float:left;
        text-align:left;
        font-weight:bold;
    }
      .VendorPriceTable tbody tr td div:nth-child(1) span,
     .HistoryDiv table tbody tr td div:nth-child(1) span {
          float:right;
          margin-right:10px;
      }
     .VendorPriceTable tbody tr td div:nth-child(2),
     .HistoryDiv table tbody tr td div:nth-child(2) {
        width:55%;
        float:left;
        text-align:left;
    }
}