   .th_timeclock_pre {
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .th_timeclock {
        font-weight: bold !important;
        padding: 5px;
        border-right: 1px solid #ccc;
    }
    #tblserviceeq_filter thead tr th,
    #tblserviceeq_filter tbody tr td {
        padding:10px;
    }
    #tblserviceeq_filter thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    #tblserviceeq_filter thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     #tblserviceeq_filter thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        #tblserviceeq_filter thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
    #tbleq_filter {
        border: 1px solid #ccc;
    }

        #tbleq_filter th:nth-child(6) {
            width: 95px !important;
        }

        #tbleq_filter th:nth-child(8), #tbleq_filter th:nth-child(7) {
            width: 40px !important;
        }

        #tbleq_filter th:nth-child(9) {
            width: 80px !important;
        }

        #tbleq_filter th:nth-child(3) {
            width: 70px !important;
        }

        #tbleq_filter th:nth-child(5) {
            width: 60px !important;
        }

        #tbleq_filter th:nth-child(2) {
            width: 110px !important;
        }

        #tbleq_filter th:nth-child(1) {
            width: 90px !important;
        }

        #tbleq_filter th:nth-child(4) {
            width: 20px !important;
        }
        .filtered_service_list_desc span:nth-child(1) {
            float:left;
        }
         .filtered_service_list_desc span:nth-child(2),
         .filtered_service_list_desc span:nth-child(3) {
             color:#2ca01c;
             cursor:pointer;
             float:right;
        }
          .filtered_service_list_desc span:nth-child(3) {
              margin-right:5px;
          }
.service_list_table tbody tr td .fsl_header {
    display: none;
}
@media (max-width:768px) {
    .service_list_table thead {
        display:none;
    }
    .service_list_table tbody tr td {
        width: 100%;
        float: left;
        padding: 5px 0px !important;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
    }
        .service_list_table tbody tr td .fsl_header {
            display: block;
            width: 45%;
            float: left;
            font-weight: bold;
            text-align: left;
        }
            .service_list_table tbody tr td .fsl_header span {
                float:right;
                margin-right:5px;
            }
            .service_list_table tbody tr td .fsl_info {
                width: 55%;
                float: left;
                text-align: left;
            }
}
