
.dataTables_scrollHeadInner {
    width: 100%;
}

.inventory-list {
    padding-top: 20px;
    border-bottom: 2px inset #ccc;
}

.list-inline {
    font-size: 20px;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.category-header {
    /*font-family: 'Play', sans-serif;*/
    color: #393a3d;
    font-size: 24px;
}

.menu-drop {
    float: right;
    padding-left: 380px;
}

.product-action {
    margin-top: 20px;
    margin-bottom: 25px;
}

.list-inline {
    color: #000;
}



.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #2ca01c !important;
    border-color: #2ca01c !important;
}

.flicker-control {
    background-color: azure;
}

.custom-col {
    border-right: 1px inset #ccc;
    height: 20%;
}

.entry-control {
    background-color: azure;
    margin-top: 15px;
}

.AddNewBtnDiv {
    float: right;
    color: white;
    padding-left: 10px;
}

.equipment-new {
    background-color: #2ca01c;
    color: #ffffff;
     /*-webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;*/
    box-shadow: none;
    border-right: none;
    border: 1px solid #8d9096;
    outline: none;
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.4rem;
    height: 33px;
    line-height: 34px;
    overflow: visible;
    text-align: center;
}

.eqipment-btn-dropdown {
    background-color: #2ca01c;
    color: #ffffff;
    box-shadow: none;
    border-bottom: none;
    border-left: 1px solid #108000;
}

.equipment-dropdown-ul-style {
    border: 1px solid #666 !important;
    font-size: 13px;
     -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
}

.fixed_header {
    position: absolute;
    width: 88%;
    background-color: #fff;
    z-index: 3;
    margin: -35px auto 0px auto;
}

.custom_top {
    margin-top: 15px;
}

#tblVideo_paginate {
    margin-bottom: 5px;
}

.custom_left {
    margin-left: 8px !important;
}

.inventory_left_container {
    float: left;
    width: 50%;
}

.inventory_right_container {
    float: right;
    width: 65%;
}
.equipment_list_search_filter {
    width:35%;
}
 .inventory_right_container .mass-stockbutton,
 .inventory_right_container .inventory_dropdown,
 .inventory_right_container .inventory_dropdown_more {
        float:right;
        margin-left:10px;
        margin-top:10px;
    }
 .inventory_right_container .inventory_dropdown_more button {
     background-color:#2ca01c;
     color:#fff;
 }
 @media (max-width:1185px) {
     .inventory_right_container {
    width: 100%;
    float:left;
    padding-bottom:10px;
}
     .equipment_list_search_filter {
    width: 50%;
}
     .equipment_list_container .custom-icon {
         width:50%;
     }
 }
@media (max-width: 1024px) {
    .fixed_header {
        position: fixed;
        width: 82%;
    }
}

@media (max-width: 768px) {
    .inventory_right_container {
        width:100%;
    }
    
     /*.Inventory-Page-wrap .nav-tabs > li {
        width:25%;
        text-align:center;
    }*/
     .Inventory-Page-wrap .nav > li > a {
        padding:10px 5px;
    }
    .fixed_header {
        width: 79%;
    }

    .filter-text {
        font-size: 17px !important;
    }

    .equipment-search {
        width: 75% !important;
        margin-left: -27px !important;
        padding-right: 0px;
    }

    .custom-icon {
        padding-top: 0px !important;
    }
    .inventory_right_container .equipment-new {
        padding:0px 7px;
    }
   
}

@media (max-width: 414px) {
    .Inventory-Page-wrap .nav-tabs > li {
        width:50%;
        text-align:center;
    }
    .Inventory-Page-wrap .nav > li > a {
        padding:10px 5px;
    }
    .equipment-new {
        padding:0px 13px;
    }
    .fixed_header {
        width: 93%;
    }

    .inventory_tab_content .container-fluid {
        margin-top:0px;
    }
    .inventory_right_container {
        width:100%;
    }
    
    .filter-text {
        width: 132% !important;
        margin-left: -16px;
    }
    .inventory_right_container .mass-stockbutton:nth-child(3) {
                 width: 42%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    }
    .inventory_right_container .mass-stockbutton:nth-child(2) {
            width: 54%;
    float: left;
    margin-left: 0px;
    padding: 0px;
    margin-top: 5px;
    }
    
    .inventory_right_container .inventory_dropdown {
            width: 55%;
    margin-left: 0px;
    }
    .inventory_right_container .inventory_dropdown #AddNewEquipment, .inventory_right_container .inventory_dropdown .AddNewEquipment {
        width:84%;
    }
    .inventory_right_container .inventory_dropdown_more {
               float: left;
    margin-left: 0px;
    margin-top: -73px;
    width: 45%;
    padding-right:10px;
    }
    .inventory_right_container .inventory_dropdown_more .dropdown-toggle{
        width:100%;
    }
     .inventory_right_container .mass-stockbutton {
        margin-top:5px;
    }
}

@media (max-width: 360px) {
    .inventory_left_container {
        float: left;
        width: 100%;
        text-align: center;
    }

    .inventory_right_container {
        float: left;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 10px;
    }

   
    .AddNewBtnDiv {
        float: right;
        padding-left: 0px;
    }
}
