.route_container {
    width: 100%;
    float: left;
    padding: 15px;
}
.route_header {
    width:auto;
    float:left;
    font-size:30px;
    margin-bottom:10px;
}
#AddRoute {
    float:right;
}

.route_customer_list_header {
    width: 100%;
    float: left;
    padding: 5px 15px;
    background-color:#f8f8f8;
    font-size:24px;
    text-align:left;
    border-bottom:2px solid #ccc;
}
.route_customer_list_height {
    width: 100%;
    float: left;
    overflow-y:auto;
}
.route_customer_list_container {
    width: 100%;
    float: left;
    padding: 15px;
}
#AllRouteTable tr th,
#AllRouteTable tr td {
    border: 1px solid #ccc;
}
#AllRouteTable tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}
#AllRouteTable tbody tr:hover {
    background-color: #f4f5f8;
}
#AllRouteTable .red_button i {
    color:#fff !important;
}
.single_filter_div_style button {
    height: 35px;
    margin-left: 10px;
}
    .purchase_order_partial_container {
        width:100%;
        float:left;
        padding:10px 0px;
    }
.urrbm_container {
    padding-left:10px;
    padding-right:10px;
    border:1px solid #ccc;
    border-top:0px;
}
    .urrbm_container .purchase_order_partial_search_add {
        padding-bottom:10px;
    }
        .urrbm_container .purchase_order_partial_search_add .lrp_float_right {
            float: right;
        }
.purchase_order_partial_search_add {
    width: 100%;
    float: left;
}
.job_costing_top_bar .JobCostingText,
.job_costing_top_bar .StartDate,
.job_costing_top_bar .EndDate,
.job_costing_top_bar .TicketType,
.job_costing_top_bar .input-group {
    width: 175px;
    float: left;
    margin-right: -3px;
}
#tblPRReport {
    table-layout: fixed;
}
    #tblPRReport .eqp_name {
        width:38%;
    }
    .purchase_order_partial_search_add .input-group {
        width: 250px !important;
        float: left;
    }
        .purchase_order_partial_search_add #AddNewPO,
        .purchase_order_partial_search_add #RequestOrderPopUp {
            float: right;
            margin-left:10px;
        }
    .purchase_order_partial_container .PurchaseOrderTable {
        width:100%;
        float:left;
        padding-top:10px;
    }
    .btnPO {
        background-color: #2ca01c;
        color: white;
    }

    .search_PO_btn {
        cursor: pointer;
        background-color: #2ca01c;
        border-color: #2ca01c;
        color: white;
    }
    .purchase_order_list_partial_table {
        width:100%;
        float:left;
    }
    .purchase_order_list_partial_table tbody tr {
        border-bottom:1px solid #ddd;
    }
    .purchase_order_list_partial_table tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
    .purchase_order_list_partial_table tbody tr:hover {
        background-color:#f4f5f8;
    }
     .purchase_order_list_partial_table tbody tr td div:nth-child(1) {
         display:none;
     }



#tblPaidCommissionReport tbody tr {
    border-bottom: 1px solid #ddd;
}

    #tblPaidCommissionReport tbody tr:nth-child(odd) {
        background-color: #f8f8f8;
    }

    #tblPaidCommissionReport tbody tr:hover {
        background-color: #f4f5f8;
    }
    #tblPaidCommissionReport tbody tr td {
        padding: 10px;
        vertical-align: top;
        border: 1px solid #ccc;
    }
    #tblPaidCommissionReport tbody tr td .tpcr_mb_head {
        display: none;
    }
.commission_style {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.itrp_sp_header {
    font-weight:bold;
}
    .itrp_sp_header span {
        margin-right: 5px;
        margin-left: -2px;
    }
#tblInstalledTicketReport,
#tblPRReport {
    width: 100%;
    float: left;
    table-layout: fixed;
}
    #tblPRReport .ticket_list_partial_device_info {
        overflow: unset;
        white-space: unset;
    }
    #tblInstalledTicketReport tbody tr,
    #tblPRReport tbody tr {
        border-bottom: 1px solid #ddd;
    }
        #tblInstalledTicketReport tbody tr td,
        #tblPRReport tbody tr td {
            padding: 5px;
            vertical-align: top;
            border: 1px solid #ccc;
        }
        #tblInstalledTicketReport tbody tr:nth-child(odd),
        #tblPRReport tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }

        #tblInstalledTicketReport tbody tr:hover,
        #tblPRReport tbody tr:hover {
            background-color: #f4f5f8;
        }



#tblInstalledTicketReport tbody tr td .itrp_header {
    display: none;
}
      .th_timeclock_pre {
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .th_timeclock {
        font-weight: bold !important;
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .purchase_order_list_partial_table {
        border: 1px solid #ccc;
    }
        .purchase_order_list_partial_table thead tr {
            border-bottom:2px solid #ccc;
        }
        .purchase_order_list_partial_table thead tr th {
            padding-right: 10px;
        }
    .purchase_order_list_partial_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .purchase_order_list_partial_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .purchase_order_list_partial_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .purchase_order_list_partial_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }



#tblPaidCommissionReport {
    border: 1px solid #ccc;
}

#tblPaidCommissionReport thead tr {
    border-bottom: 2px solid #ccc;
}

    #tblPaidCommissionReport thead tr th {
        padding-right: 10px;
    }

        #tblPaidCommissionReport thead tr th div:nth-child(1) {
            width: 94%;
            float: left;
            padding-top: 2px;
        }

        #tblPaidCommissionReport thead tr th div:nth-child(2) {
            width: 6%;
            float: left;
        }

            #tblPaidCommissionReport thead tr th div:nth-child(2) i {
                float: right;
                cursor: pointer;
                width: 100%;
                text-align: right;
                color: #bdbdbd;
            }

                #tblPaidCommissionReport thead tr th div:nth-child(2) i:nth-child(2) {
                    margin-top: -5px;
                }







#tblInstalledTicketReport,
#tblPRReport {
    border: 1px solid #ccc;
}

    #tblInstalledTicketReport thead tr,
    #tblPRReport thead tr {
        border-bottom: 2px solid #ccc;
    }

        #tblInstalledTicketReport thead tr th,
        #tblPRReport thead tr th {
            padding-right: 10px;
        }

            #tblInstalledTicketReport thead tr th div:nth-child(1),
            #tblPRReport thead tr th div:nth-child(1),
            #RBSTable thead tr th div:nth-child(1),
            #AllRecordTable thead tr th div:nth-child(1) {
                width: 94%;
                float: left;
                padding-top: 2px;
            }

            #tblInstalledTicketReport thead tr th div:nth-child(2),
            #tblPRReport thead tr th div:nth-child(2),
            #RBSTable thead tr th div:nth-child(2),
            #AllRecordTable thead tr th div:nth-child(2) {
                width: 6%;
                float: left;
            }

                #tblInstalledTicketReport thead tr th div:nth-child(2) i,
                #tblPRReport thead tr th div:nth-child(2) i,
                #RBSTable thead tr th div:nth-child(2) i,
                #AllRecordTable thead tr th div:nth-child(2) i {
                    float: right;
                    cursor: pointer;
                    width: 100%;
                    text-align: right;
                    color: #bdbdbd;
                }

                    #tblInstalledTicketReport thead tr th div:nth-child(2) i:nth-child(2),
                    #tblPRReport thead tr th div:nth-child(2) i:nth-child(2),
                    #RBSTable thead tr th div:nth-child(2) i:nth-child(2),
                    #AllRecordTable thead tr th div:nth-child(2) i:nth-child(2) {
                        margin-top: -5px;
                    }


.itrp_row {
    width: 100%;
    float: left;
}

.itrp_big {
    width: 200px;
}
.itrp_small {
    width:60px;
}
.itrp_biginfo {
    width:11%;
}
.paid_commission_top_bar #btnPaidCommissionReportImport,
.paid_commission_top_bar #btnPaidCommissionReportDownload {
    margin-left: 10px;
}
.PaidCommissionReportTable {
    width: 100%;
    float: left;
    margin-top:10px;
    overflow: hidden;
}
#tblPaidCommissionReport {
        width: 100%;
        float: left;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        table-layout:fixed;
    }
.report_btn {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2ca01c !important;
    border: none;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lrp_float_right {
    float: right;
}
#tblPaidCommissionReport .rma_no {
    width:140px;
}
#tblPaidCommissionReport .action {
    width: 70px;
}
.pcrt_row {
    width: 100%;
    float: left;
}
.pcrt_sp_header {
    font-weight: bold;
}

    .pcrt_sp_header span {
        margin-right: 5px;
        margin-left: -2px;
    }
#tblInstalledTicketReport tbody tr td .itrp_over_flow {
    word-break:break-all;
}
.itrp_info a {
    color:#2ca01c;
    font-weight:bold;
    text-decoration:none;
}
#btnCancelQueueReportDownload,
#btnCustomerListDownload,
#btnFundingVerificationDownload {
    margin-left: 10px;
}
.report_upload_table {
    width:100%;
    float:left;
}
    .report_upload_table thead tr th,
    .report_upload_table tbody tr td {
        padding:10px;
        border:1px solid #ccc;
    }
        .report_upload_table tbody tr td div:nth-child(1) {
            display:none;
        }
    .report_upload_table tbody tr:nth-child(odd) {
        background-color: #f8f8f8;
    }
    .report_upload_table tbody tr:hover {
        background-color: #f4f5f8;
    }
.recurring_billing_search_bar,
.All_Records_search_bar {
    width: 100%;
    float: left;
}
.recurring_billing_search_bar_inner,
.All_Records_search_bar_inner {
    width: auto;
}
    .recurring_billing_search_bar_inner .BillingText,
    .recurring_billing_search_bar_inner #Cycle,
    .recurring_billing_search_bar_inner .input-group {
        width: 250px;
        float: left;
        margin-right: -3px;
        display:flex;
    }
    .recurring_billing_search_bar_inner .input-group {
        display: flex;
    }
    .All_Records_search_bar_inner .AllRecordText {
        width: 16%;
        float: left;
        border-radius:4px 0px 0px 4px;
        margin-bottom:10px;
    }
    .All_Records_search_bar_inner .LeadSource,
    .All_Records_search_bar_inner .LeadStatus,
    .All_Records_search_bar_inner .SalesPerson,
    .All_Records_search_bar_inner .CustomerStatus,
    .All_Records_search_bar_inner .SalesLocation,
    .All_Records_search_bar_inner .input-group {
        width: 14%;
        float: left;
        max-width: 200px;
        margin-bottom: 10px;
    }
        .All_Records_search_bar_inner .LeadSource .dropdown-toggle,
        .All_Records_search_bar_inner .LeadStatus .dropdown-toggle,
        .All_Records_search_bar_inner .SalesPerson .dropdown-toggle,
        .All_Records_search_bar_inner .CustomerStatus .dropdown-toggle,
        .All_Records_search_bar_inner .SalesLocation .dropdown-toggle {
            border-radius: 0px;
        }

        .All_Records_search_bar_inner .input-group .form-control {
            border-radius: 0px 4px 4px 0px !important;
        }
#AllRecordTable {
    table-layout:fixed;
}
#RBSTable thead tr th,
#RBSTable tbody tr td,
#AllRecordTable thead tr th,
#AllRecordTable tbody tr td {
    border: 1px solid #ccc;
}
    #AllRecordTable .cat_1_header {
        width:12%;
    }
    #AllRecordTable .cat_2_header {
        width: 14%;
    }

#AllRecordTable > thead > tr > th {
    vertical-align: middle;
}
#RBSTable tbody tr td .rbrl_header {
    display: none;
}

@media (max-width:1080px) {

    .recurring_billing_search_bar_inner .BillingText,
    .recurring_billing_search_bar_inner #Cycle,
    .recurring_billing_search_bar_inner .input-group {
        width: 30%;
        float: left;
    }
        #RBSTable thead {
        display:none;
    }
    #RBSTable tbody tr td {
        width: 100%;
        float: left;
    }
    #RBSTable tbody tr td .rbrl_header {
        display: block;
        width: 40%;
        float: left;
        font-weight: bold;
    }
    #RBSTable tbody tr td .rbrl_info {
        width: 60%;
        float: left;
        text-align:left;
    }
    #RBSTable tbody tr td .rbrl_header span {
        float: right;
        margin-right: 5px;
    }
    #RBSTable .table_total_bg .none {
        display:none;
    }
}
@media (max-width:1024px) {
    .All_Records_search_bar_inner .AllRecordText,
    .All_Records_search_bar_inner .LeadSource,
    .All_Records_search_bar_inner .LeadStatus {
        width: 33.333%;
        border-radius: 4px !important;
        margin-bottom: 0px;
        max-width:unset;
    }


    .All_Records_search_bar_inner .SalesPerson,
    .All_Records_search_bar_inner .CustomerStatus,
    .All_Records_search_bar_inner .SalesLocation,
    .All_Records_search_bar_inner .input-group {
        width: 25%;
        border-radius: 4px !important;
        margin-bottom: 10px;
        max-width: unset;
    }
        .All_Records_search_bar_inner .LeadSource .dropdown-toggle,
        .All_Records_search_bar_inner .LeadStatus .dropdown-toggle,
        .All_Records_search_bar_inner .SalesPerson .dropdown-toggle,
        .All_Records_search_bar_inner .CustomerStatus .dropdown-toggle,
        .All_Records_search_bar_inner .SalesLocation .dropdown-toggle {
            border-radius: 4px;
        }

        .All_Records_search_bar_inner .input-group .form-control {
            border-radius: 4px !important;
        }
}
@media (max-width:768px) {
    .recurring_billing_search_bar_inner .BillingText,
    .recurring_billing_search_bar_inner #Cycle,
    .recurring_billing_search_bar_inner .input-group {
       
        margin-right: 0px;
        margin-bottom:10px;
    }
    .itrp_sp_header, .pcrt_sp_header {
        display: none;
    }

    .tpcr_mb_info .lrp_float_right {
        float: left;
    }

    .purchase_order_list_partial_table thead {
        display: none;
    }

    .purchase_order_list_partial_table tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        .purchase_order_list_partial_table tbody tr td div:nth-child(1) {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            .purchase_order_list_partial_table tbody tr td div:nth-child(1) span {
                float: right;
                margin-right: 10px;
            }

        .purchase_order_list_partial_table tbody tr td div:nth-child(2) {
            width: 55%;
            float: left;
            text-align: left;
        }




    #tblPaidCommissionReport thead {
        display: none;
    }

    #tblPaidCommissionReport tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        #tblPaidCommissionReport tbody tr td .tpcr_mb_head {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #tblPaidCommissionReport tbody tr td .tpcr_mb_head span {
                float: right;
                margin-right: 5px;
            }

        #tblPaidCommissionReport tbody tr td .tpcr_mb_info {
            width: 55%;
            float: left;
            text-align: left;
        }




    #tblInstalledTicketReport thead {
        display: none;
    }

    #tblInstalledTicketReport tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        #tblInstalledTicketReport tbody tr td .itrp_header {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #tblInstalledTicketReport tbody tr td .itrp_header span {
                float: right;
                margin-right: 10px;
            }

        #tblInstalledTicketReport tbody tr td .itrp_info {
            width: 55%;
            float: left;
            text-align: left;
        }






    #tblPRReport thead {
        display: none;
    }

    #tblPRReport tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        #tblPRReport tbody tr td .itrp_header {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #tblPRReport tbody tr td .itrp_header span {
                float: right;
                margin-right: 10px;
            }

        #tblPRReport tbody tr td .itrp_info {
            width: 55%;
            float: left;
            text-align: left;
        }
}
@media (max-width:414px) {
    .All_Records_search_bar_inner .AllRecordText,
    .All_Records_search_bar_inner .LeadSource,
    .All_Records_search_bar_inner .LeadStatus,
    .All_Records_search_bar_inner .SalesPerson,
    .All_Records_search_bar_inner .CustomerStatus,
    .All_Records_search_bar_inner .SalesLocation,
    .All_Records_search_bar_inner .input-group {
        width: 100%;
        margin-bottom:0px;
    }
    .All_Records_search_bar_inner {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    .report_upload_table thead {
        display: none;
    }
    .report_upload_table tbody tr td {
        width:100%;
        float:left;
    }
    .report_upload_table tbody tr td div:nth-child(1) {
        display: block;
        width: 45%;
        float: left;
        text-align: left;
        font-weight: bold;
    }

        .report_upload_table tbody tr td div:nth-child(1) span {
            float: right;
            margin-right: 5px;
        }

    .report_upload_table tbody tr td div:nth-child(2) {
        width: 55%;
        float: left;
        text-align: left;
    }


    .purchase_order_partial_search_add .input-group {
width: 100% !important;
padding-bottom: 10px;
}
    #tblPaidCommissionReport tbody tr td .tpcr_mb_head {
        width:60%;
    }
    #tblPaidCommissionReport tbody tr td .tpcr_mb_info {
        width: 40%;
    }
        
}

/*Added by Digiture*/

@media (max-width:1024px) {
    .purchase_order_list_partial_table thead {
        display: none;
    }

    .purchase_order_list_partial_table tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        .purchase_order_list_partial_table tbody tr td div:nth-child(1) {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            .purchase_order_list_partial_table tbody tr td div:nth-child(1) span {
                float: right;
                margin-right: 10px;
            }

        .purchase_order_list_partial_table tbody tr td div:nth-child(2) {
            width: 55%;
            float: left;
            text-align: left;
        }

    #tblPaidCommissionReport thead {
        display: none;
    }

    #tblPaidCommissionReport tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        #tblPaidCommissionReport tbody tr td .tpcr_mb_head {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #tblPaidCommissionReport tbody tr td .tpcr_mb_head span {
                float: right;
                margin-right: 5px;
            }

        #tblPaidCommissionReport tbody tr td .tpcr_mb_info {
            width: 55%;
            float: left;
            text-align: left;
        }

    #tblInstalledTicketReport thead {
        display: none;
    }

    #tblInstalledTicketReport tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        #tblInstalledTicketReport tbody tr td .itrp_header {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #tblInstalledTicketReport tbody tr td .itrp_header span {
                float: right;
                margin-right: 10px;
            }

        #tblInstalledTicketReport tbody tr td .itrp_info {
            width: 55%;
            float: left;
            text-align: left;
        }

    #tblPRReport thead {
        display: none;
    }

    #tblPRReport tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        #tblPRReport tbody tr td .itrp_header {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #tblPRReport tbody tr td .itrp_header span {
                float: right;
                margin-right: 10px;
            }

        #tblPRReport tbody tr td .itrp_info {
            width: 55%;
            float: left;
            text-align: left;
        }
}

/*Ended by Digiture*/