.SendEmailPurchaseOrder_container {
    width:100%;
    float:left;
    padding: 20px 30px;
    overflow-x: hidden;
    height: 100%;
}
.SendEmailPurchaseOrder_header {
    width: 100%;
    float: left;
    font-size: 18px;
    position: relative;
}
.SendEmailPurchaseOrder_container .width_50p_firstdiv {
    width: 50%;
    float: left;
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.SendEmailPurchaseOrder_container .width_50p_firstdiv textarea {
    width:100%;
}
.SendEmailPurchaseOrder_container > .width_50p_firstdiv > div {
    width: 100%;
    float: left;
    margin-bottom:10px;
   
}
.SendEmailPurchaseOrder_container > .width_50p_firstdiv > div > label:nth-child(1) {
    margin-bottom:0px;
}
 .SendEmailPurchaseOrder_container .width_50p_pdf {
    width: 50%;
    float: left;
    height: 480px;
}
 .SendEmailPurchaseOrder_container .width_50p_pdf .pdf-styles {
    width:100%;
    height:100%;
 }
.SendEmailPurchaseOrder_header .CloseButtonDiv {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
 .AddInvoiceLoader{
    width: 100%;
    background: white;
    opacity: 0.8;
}
 .required{
    border:1px solid red!important;
}
/*.invoice-loader{
    margin-top:160px;
}*/
.SaveaButtonsDiv ul.dropdown-menu li {
    cursor: pointer;
}
.txtEmailbody {
    outline: none;
    height: 123px;
    border: 1px solid rgb(186, 190, 197);
    padding: 8px 8px;
        -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition-property: border;
    transition-duration: 0.35s;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 404px;
    vertical-align: middle;
    margin-top: 5px;
}

.EmailSubject,.ContactNumber {
    outline: none;
    height: 32px;
    border: 1px solid #babec5;
    padding: 0 8px;
        -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition-property: border;
    transition-duration: 0.35s;
    font-size: 13px;
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    vertical-align: middle;
}

.btnSaveAndClose {
    float: right;
}
.btnSaveAndNew {
    float: right;
    margin-right: 15px;
}

.btnSendEmailAndClose {
    float: right;
    margin-right: 15px;
}
.btnSendToBoth {
    float: right;
    margin-right: 15px;
}
.SendEmailPurchaseOrder_footerContents {
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 0px;
    padding: 0px 30px;
}
@media (max-width:414px) {
.SendEmailPurchaseOrder_container {
padding: 30px 10px 100px;
}
.SendEmailPurchaseOrder_container .width_50p_firstdiv,
.SendEmailPurchaseOrder_container .width_50p_pdf {
    width:100%;
    height:auto;
    overflow:unset;
}
.SendEmailPurchaseOrder_footerContents {
    bottom:0px;
    background-color: #fff;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    left: 0px;
}
.SendEmailPurchaseOrder_footerContents .btnCancel {
    width:48%;
    margin-bottom:10px;
}
.SendEmailPurchaseOrder_footerContents .btnSaveAndClose {
    width:48%;
    margin-bottom:10px;
}
.SendEmailPurchaseOrder_footerContents .btnSendEmailAndClose {
    width:55%;
    margin-right:0px;
}
.SendEmailPurchaseOrder_footerContents .btnSendToBoth {
    width:42%;
    float:left;
    margin-right:0px;
}
}
@media (max-width:320px) {
.SendEmailPurchaseOrder_container {
padding: 30px 10px 115px;
}
.SendEmailPurchaseOrder_footerContents {
    height:100px;
}
           
    .SendEmailPurchaseOrder_footerContents button {
        font-size:11px;
    }
}