    .show_combination_list_container {
        width:100%;
        float:left;
    }
    .show_combination_list_header {
        width: 100%;
        float: left;
        background-color: #f4f5f8;
        padding: 5px 50px 8px 15px;
        text-align:left;
        font-size: 2.4rem;
}
    .show_combination_list_header button {
        float: right;
        background-color: #2ca01c;
        color: #fff;
    }
    .show_combination_list_table {
        width:100%;
        float:left;
        padding:15px;
        overflow-y:scroll;
    }
    .show_combination_list_table table {
        width:100%;
        float:left;
        table-layout:fixed;
    }
    .show_combination_list_table table thead tr {
        border-bottom:2px solid #ccc;
    }
     .show_combination_list_table table tbody tr {
        border-bottom:1px solid #ccc;
    }
    .show_combination_list_table table thead tr th,
    .show_combination_list_table table tbody tr td,
    .show_combination_list_table table tbody tr th {
        padding:10px;
    }
    .show_combination_list_table table tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
    .show_combination_list_table table tbody tr:hover {
        background-color:#f4f5f8;
    }

