.TechPurchaseOrderListPartial_container {
    width:100%;
    float:left;
}
 .TechPurchaseOrderList_searchbar {
        width: 100%;
        float: left;
        padding: 5px 0px;
    }
 .TechPurchaseOrderList_searchbar .input-group {
     width:40%;
     float:left;
 }
    .th_timeclock_pre {
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    .th_timeclock {
        font-weight: bold !important;
        padding: 5px;
        border-right: 1px solid #ccc;
    }

    #tblPO_tech {
        width:100%;
        float:left;
        border: 1px solid #ccc;
    }

  
    #TechAddNewPOInner {
        float:right;
    }
    #tblPO_tech thead tr th {
        padding:5px 10px;
    }
            #tblPO_tech thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    #tblPO_tech thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     #tblPO_tech thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
    #tblPO_tech tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
    #tblPO_tech tbody tr {
        border-bottom:1px solid #ccc;
    }
    #tblPO_tech tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
     #tblPO_tech tbody tr:hover {
        background-color:#f4f5f8;
    }
    #tblPO_tech > tbody > tr > td > div:nth-child(1) {
        display:none;
    }
     @media (max-width:768px) {
        #tblPO_tech thead {
            display:none;
        }
         #tblPO_tech tbody tr td {
             width:100%;
             float:left;
             padding:3px 5px !important;
             box-sizing:border-box;
             line-height:normal;
         }
         #tblPO_tech > tbody > tr > td > div:nth-child(1) {
             display:block;
             width:45%;
             float:left;
             text-align:left;
             font-weight:bold;
         }
          #tblPO_tech > tbody > tr > td > div:nth-child(1) > span {
              float:right;
              margin-right:10px;
          }
          #tblPO_tech > tbody > tr > td > div:nth-child(2) {
             width:55%;
             float:left;
             text-align:left;
         }
     }
     @media (max-width:414px) {
         .TechPurchaseOrderList_searchbar .input-group {
             width:100%;
             margin-bottom:10px;
         }
     }