.tech_equipment_search {
    float: left;
    padding-right: 10px;
    width: 80%;
}
.float-right{
    float:right;
}
.tech_equipment_search_bar {
    width: 100%;
    float: left;
}

    .tech_equipment_search_bar .input-group {
        width: 300px;
        float: left;
    }

    .tech_equipment_search_bar #TransferFromTechnician {
        float: left;
        margin-left: 5px;
    }

    .tech_equipment_search_bar .te_filter_div {
        width: auto;
        float: left;
        margin-left: 5px;
        position: relative;
    }

    .tech_equipment_search_bar .cus-setting {
        font-size: unset !important;
    }

    .tech_equipment_search_bar .te_settings_div,
    .tech_equipment_search_bar .print_button,
    .tech_equipment_search_bar #EquipmentReport {
        float: right;
        position: relative;
        margin-left: 5px;
    }

        .tech_equipment_search_bar .te_settings_div .custom_column_dropdown {
            left: unset;
            right: 0px;
        }

.equipment-list-filter {
    float: left;
}

.fliter-list {
    display: none;
    position: absolute;
    background: #fff;
    border: 2px solid #ddd;
    z-index: 999;
    padding: 5px;
    width: 290px;
}

.left-items {
    left: 0;
}

.right-items {
    right: 0;
}

.equipment-list-filter button {
    border: none;
    background: transparent;
    height: 35px;
    font-size: 24px;
}

.sub-list {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

    .sub-list span {
        font-weight: 600;
        display: block;
        padding-bottom: 2px;
    }

.sub-list-btn {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.btn-reset-filter {
    border: none;
    background: #ddd !important;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    font-size: 14px !important;
    font-weight: 600 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-apply-filter {
    border: none;
    background: #2ca01c !important;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    font-size: 14px !important;
    font-weight: 600 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#tech_fil_eq_list_table thead tr th div:nth-child(1) {
    width: 94%;
    float: left;
    padding-top: 2px;
}

#tech_fil_eq_list_table thead tr th div:nth-child(2) {
    width: 6%;
    float: left;
}

    #tech_fil_eq_list_table thead tr th div:nth-child(2) i {
        float: right;
        cursor: pointer;
        width: 100%;
        text-align: right;
        color: #bdbdbd;
    }

        #tech_fil_eq_list_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }

#tech_fil_eq_list_table thead tr th {
    padding: 5px 10px 5px 10px;
    font-weight: bold !important;
}

#tech_fil_eq_list_table thead tr th,
#tech_fil_eq_list_table tbody tr td {
    border: 1px solid #ccc;
}

    #tech_fil_eq_list_table tbody tr td div:nth-child(1) {
        display: none;
    }


@media (max-width:1024px) {
    #tech_fil_eq_list_table thead {
        display: none;
    }

    #tech_fil_eq_list_table tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
        box-sizing: border-box;
        line-height: normal;
    }

        #tech_fil_eq_list_table tbody tr td div:nth-child(1) {
            display: block;
            width: 45%;
            float: left;
            text-align: left;
            font-weight: bold;
        }

            #tech_fil_eq_list_table tbody tr td div:nth-child(1) span {
                float: right;
                margin-right: 10px;
            }

        #tech_fil_eq_list_table tbody tr td div:nth-child(2) {
            width: 55%;
            float: left;
            text-align: left;
        }

        #tech_fil_eq_list_table tbody tr td .equip-delete {
            float: left;
        }
}
