 .pAmount {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.pAmount .input-group-prepend { 
    width:30%;
    float:left;
}
    
.pAmount .input-group-text { 
    padding-top:5px;
    height: 32px;
    color: #495057;
    text-align: center; 
    background-color: #e9ecef;
    border: 1px solid #ced4da; 
}
.pAmount > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pAmount input {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 70%;
    float: left;
    margin-bottom: 0;
}
.ServiceEqTab tbody tr input, .ServiceEqTab tbody tr .pAmount {
    display: none;
}
.ServiceEqTab tbody tr.focusedItem input{
    border: 1px solid #2ca01c;
}
.ServiceEqTab tbody tr.focusedItem input, .ServiceEqTab tbody tr.focusedItem .pAmount{
    display: block; 
}

.ServiceEqTab tbody tr span {
    display: block;
}


.ServiceEqTab tbody tr.focusedItem span {
    display: none;
}

.ServiceEqTab tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}

.tableActions {
    text-align: center;
}

.ServiceEqTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position:relative;
}

.ServiceEqTab thead tr th {
    text-align: left;
    line-height: 36px;
    vertical-align: middle;
    /*background-color: #ddd;*/
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.ServiceEqTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}
.ServiceEqTab thead tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}

.ServiceEqTab tbody tr td:hover {
    cursor: pointer;
}