@media (max-width: 768px) {
  
}

@media (max-width: 414px) {
       
    #packageListTable_length {
       display:none;
    }

    #packageListTable_filter {
           position: absolute;
            top: -48px;
    }
   
    .custom-padding-20px {
    padding-top: 8px;
}
    .cplp_info_allign {
        text-align:left;
    }
}
@media (max-width: 320px) {
   
     #packageListTable_info {
        float:none;
    }
    .pagination {
        float:none;
    }
}