.packageIncludeListTableContainer {
    padding-top: 50px;
}

#packageIncludeListTable {
    width: 100%;
}

    #packageIncludeListTable th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageIncludeListTable thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageIncludeListTable tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageIncludeListTable tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageIncludeListTable tbody tr td {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }



        .packageInstallTypeListTableContainer {
    padding-top: 50px;
}

#packageInstallTypeListTable {
    width: 100%;
}

    #packageInstallTypeListTable th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageInstallTypeListTable thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageInstallTypeListTable tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageInstallTypeListTable tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageInstallTypeListTable tbody tr td {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }

.edit-package-include {
    color: #2ca01c;
    font-weight: 600;
}

    .edit-package-include:hover {
        color: #2ca01c !important;
        cursor: pointer !important;
    }

.delete-package-include {
    color: #2ca01c;
    text-decoration: none;
}

    .delete-package-include:hover {
        color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }
    .edit-smart-package-include {
    color: #2ca01c;
    font-weight: 600;
}

    .edit-smart-package-include:hover {
        color: #2ca01c !important;
        cursor: pointer !important;
    }

.delete-smart-package-include {
    color: #2ca01c;
    text-decoration: none;
}

    .delete-smart-package-include:hover {
        color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }
 
@media (max-width: 768px) {
    #packageIncludeListTable {
        width: 94%;
        margin-left: 18px;
    }
}

@media (max-width: 414px) {
    .cpilp_info_style {
        text-align: left;
    }

    #packageIncludeListTable_length {
        display: none;
    }

    #packageIncludeListTable_filter {
        position: absolute;
        top: -48px;
    }

    .add-package-include-products {
        padding: 0px 10px;
        height: 31px;
        margin-top: 2px;
        font-weight: normal;
    }
}

@media (max-width: 375px) {
    .add-package-include-products {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .add-package-include-products {
        padding: 0px 5px;
    }

    .cpilp_header_style {
        padding-left: 10px;
    }
}
