
.packageListTableContainer {
    padding-top: 50px;
}

#packageListTable {
    width: 100%;
    table-layout:fixed;
}

    #packageListTable th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageListTable thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageListTable tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageListTable tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageListTable tbody tr td {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }

.edit-package {
    color: #2ca01c;
    font-weight: 600;
}

    .edit-package:hover {
        color: #2ca01c !important;
        cursor: pointer !important;
    }

.delete-package {
    color: #2ca01c;
    text-decoration: none;
}

    .delete-package:hover {
        color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }

    .delete-package-include,
    .delete-package-Optional {
         color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }
#packageListTable_filter{
    /*display:none;*/
}
.company_smp_container .packageListTableContainer {
    padding-top:20px;
}
.company_pkg_list_table {
    table-layout:fixed;
    margin-bottom:20px;
}
.company_pkg_list_table thead tr .ac {
    width:70px;
}


.company_pkg_list_table thead tr .ld {
    width:140px;
}
.company_pkg_list_table thead tr .ad {
    width:170px;
}
    .company_pkg_list_table thead tr th:nth-child(2),
    .company_pkg_list_table thead tr th:nth-child(3),
    .company_pkg_list_table thead tr th:nth-child(4) {
        width: 130px;
    }
.company_pkg_list_table thead tr th {
    padding:10px;
    border-right:1px solid #ccc;
}
.company_pkg_list_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .company_pkg_list_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .company_pkg_list_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .company_pkg_list_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
        .company_smp_container .Activity_pagination_container {
       width:100%;
       float:left;
       text-align:right;
       margin-bottom:20px;
   }
   .Activity_pagination_inner {
       float:right;
   }
   .paginationtextdv {
       width:100%;
       float:left;
   }
   .company_pkg_list_table tbody tr td .cplp_device {
       display:none;
   }
   @media (max-width:768px) {
       .company_pkg_list_table thead {
           display:none;
       }
       .company_pkg_list_table tbody tr td {
           width:100%;
           float:left;
           padding:0px !important;
       }
        .company_pkg_list_table tbody tr td .cplp_device {
            display:block;
            width:40%;
            float:left;
            text-align:left;
            font-weight:bold;
            }
      .company_pkg_list_table tbody tr td .cplp_device span {
          float:right;
          margin-right:5px;
      }
       .company_pkg_list_table tbody tr td .cplp_information {
        width:60%;
        float:left;
        text-align:left;
        word-break:break-all;
    }
   }
   @media (max-width:414px) {
        .company_pkg_list_table tbody tr td .cplp_device,
        .company_pkg_list_table tbody tr td .cplp_information {
            width:50%;
            }
     
   }