.packageOptionalListTableContainer {
    padding-top: 50px;
}

#packageOptionalListTable {
    width: 100%;
}

    #packageOptionalListTable th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageOptionalListTable thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageOptionalListTable tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageOptionalListTable tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageOptionalListTable tbody tr td {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }

.edit-package-Optional {
    color: #2ca01c;
    font-weight: 600;
}

    .edit-package-Optional:hover {
        color: #2ca01c !important;
        cursor: pointer !important;
    }

.delete-package-Optional {
    color: #2ca01c;
    text-decoration: none;
}

    .delete-package-Optional:hover {
        color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }


 @media (max-width: 768px) {
     #packageOptionalListTable {
    width: 95%;
        margin-left: 18px;
}
     .packageOptionalListTableContainer {
         width:100%;
     }

}
@media (max-width: 414px) {
     #packageOptionalListTable {
    width: 90%;
       
}
        .add-package-device {
           font-size:11px;
           padding:0px 10px;
        }

    .polp_info_style {
        text-align:left;
        font-size:13px !important;
    }
    #packageOptionalListTable_length {
        display: none;
    }
       #packageOptionalListTable_filter {
           position: absolute;
            top: -48px;
    }
       .add-package-optional {
           padding:0px 10px;
               height: 31px;
    margin-top: 2px;
    font-weight:normal;
       }
      
}
@media (max-width: 320px) {
    #packageOptionalListTable {
    width: 96%;
    margin-left: 7px;
}


}

