.nav-tabs > li > a {
    background-color: transparent !important;
}

.nav-tabs > li > a {
    background-color: transparent !important;
    color: #454545;
    border: none !important;
}

.nav-tabs > li {
    border: 1px solid #ccc !important;
}

    .nav-tabs > li.active {
        background-color: #2ca01c !important;
        cursor:pointer;
    }

.nav-tabs > li {
    border: 1px solid #ccc !important;
}

    .nav-tabs > li.active > a {
        color: white !important;
    }

    .psp_container {
        margin-top:-20px;
    }
    .psp_menu_tab:hover {
        cursor:pointer;
        text-decoration:none;
    }

@media (max-width: 768px) {
    .psp_menu_tab {
        padding: 7px !important;
    }
}

@media (max-width: 414px) {
   
    .psp_device_pad {
    width: 143px;
    text-align: left;
    }
    .psp_menu_tab {
        padding: 7px 21px !important;
    }
}
@media (max-width: 412px) {
    .psp_device_pad {
        width: 142px;
        text-align: left;
    }
}




@media (max-width: 375px) {
    .psp_device_pad {
        width: 123px;
        text-align: left;
    }
    .psp_menu_tab {
        padding: 7px 11px !important;
    }
}
@media (max-width: 360px) {
    .psp_device_pad {
        width: 116.5px;
        text-align: left;
    }

    .psp_menu_tab {
        padding: 7px 8px !important;
    }
}

@media (max-width: 320px) {
    .psp_device_pad {
    width: 104px;
    text-align: left;
}
    .psp_menu_tab {
    padding: 7px 13px !important;
    font-size: 11px;
}
   
}
