.packageDeviceListTableContainer {
    padding-top: 50px;
}

#packageDeviceListTable,
#packageSystemInstallListTableService {
    width: 100%;
}

    #packageDeviceListTable th,
    #packageSystemInstallListTableService th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageDeviceListTable thead tr,
    #packageSystemInstallListTableService thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageDeviceListTable tbody tr,
    #packageSystemInstallListTableService tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageDeviceListTable tbody tr:hover,
         #packageSystemInstallListTableService tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageDeviceListTable tbody tr td,
        #packageSystemInstallListTableService tbody tr td  {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }

.packageDeviceListTableContainer {
    padding-top: 50px;
}

#packageSystemInstallListTable {
    width: 100%;
}

    #packageSystemInstallListTable th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageSystemInstallListTable thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageSystemInstallListTable tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageSystemInstallListTable tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageSystemInstallListTable tbody tr td {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }
#packageSystemInstallListTableManu {
    width: 100%;
}

    #packageSystemInstallListTableManu th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageSystemInstallListTableManu thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageSystemInstallListTableManu tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageSystemInstallListTableManu tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageSystemInstallListTableManu tbody tr td {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }

.packageSystemInstallListTableContainer {
    padding-top: 50px;
}

#packageServicesListTable {
    width: 100%;
}

    #packageServicesListTable th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageServicesListTable thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageServicesListTable tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageServicesListTable tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageServicesListTable tbody tr td {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }

.packageServicesListTableContainer {
    padding-top: 50px;
}

.packageSystemTypeListTableContainer {
    padding-top: 50px;
}

#packageSystemTypeListTable {
    width: 100%;
}

    #packageSystemTypeListTable th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #packageSystemTypeListTable thead tr {
        border-bottom: 2px solid #d4d7dc;
    }

    #packageSystemTypeListTable tbody tr {
        border-bottom: 1px solid #ddd;
    }

        #packageSystemTypeListTable tbody tr:hover {
            background-color: #f4f5f8;
        }

        #packageSystemTypeListTable tbody tr td {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            padding: 10px;
        }

.edit-package-Device {
    color: #2ca01c;
    font-weight: 600;
}

    .edit-package-Device:hover {
        color: #2ca01c !important;
        cursor: pointer !important;
    }

.delete-package-Device {
    color: #2ca01c;
    text-decoration: none;
}

    .delete-package-Device:hover {
        color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }

.edit-smart-package-Device {
    color: #2ca01c;
    font-weight: 600;
}

    .edit-smart-package-Device:hover {
        color: #2ca01c !important;
        cursor: pointer !important;
    }

.delete-smart-package-Device {
    color: #2ca01c;
    text-decoration: none;
}

    .delete-smart-package-Device:hover {
        color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }

    .edit-package-Service {
    color: #2ca01c;
    font-weight: 600;
}

    .edit-package-Service:hover {
        color: #2ca01c !important;
        cursor: pointer !important;
    }

.delete-package-Service {
    color: #2ca01c;
    text-decoration: none;
}

    .delete-package-Service:hover {
        color: #2ca01c !important;
        text-decoration: none;
        cursor: pointer !important;
    }
    .service_status_div {
      width:auto;
      float:left;
      margin-top: -50px;
  }
  .service_status_div div {
      width:auto;
      float:left;
      font-weight:bold;
      padding:5px 0px;
  }
  .service_status_div #serviceStatus {
      width:100px;
      float:left;
      margin-left:10px;
  }
@media (max-width: 768px) {
    #packageDeviceListTable {
        width: 95%;
        margin-left: 18px;
    }

    .packageDeviceListTableContainer {
        width: 100%;
    }
}

@media (max-width: 414px) {
    #packageDeviceListTable {
        width: 90%;
    }

    .add-package-device {
        font-size: 11px;
        padding: 0px 10px;
    }

    .pdlp_info_style {
        text-align: left;
        font-size: 13px !important;
    }

    #packageDeviceListTable_length {
        display: none;
    }

    #packageDeviceListTable_filter {
        position: absolute;
        top: -48px;
    }

    .add-package-include-products {
        padding: 0px 10px;
        height: 31px;
        margin-top: 2px;
        font-weight: normal;
    }
}

@media (max-width: 320px) {
    #packageDeviceListTable {
        width: 96%;
        margin-left: 7px;
    }
}
