
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 350px;
    height: 100%;
}

.modal.right .modal-content {
    height: 100%;
}

.modal.right .modal-body {
    padding: 0px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal-content {
     -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.modal-header {
    border-bottom: none;
    position: absolute;
    right: 0px;
    z-index: 999;
}

    .modal-header h3 {
        padding-top: 6px;
        padding-left: 12px;
        font-family: 'Open Sans', sans-serif;
    }

.btn_sale_service_order {
    float: right;
    margin-top: 5px;
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
}

    .btn_sale_service_order:hover {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
    }

#tblService {
    width: 100%;
}

.cus-anchor {
    color: #2ca01c !important;
}
#tblService > tbody > tr:hover, #tblService > tbody > tr > td:hover {
    background-color:#f4f5f8;
}
#tblService > thead > tr > th {
    padding-left:15px;
}
.service_order_green {
    color:#2ca01c;
    font-weight:600;
}
.service_order_red {
     color: red;
    font-weight:600;
}
 .service_order_device_header {
        display:none;
    }
   #tblService > tbody > tr:nth-child(even) {background-color:#ededed;}
  
@media(width:1024px) {
    
     #tblService > thead > tr > th {
        text-align:center;
    }
}
 @media(max-width:768px) {
      #tblService {
         margin-left:15px;
     }
    .service_order_hide_for_device {
        display:none;
    }
    .service_order_device_header {
        display:block;
        width:40%;
        float:left;
        font-weight:600;
    }
    .service_order_device_info {
        width:60%;
        float:left;
    }

    .service_order_device_row {
         width:100%;
        float:left;
    }
}
