    .CloseButtonDiv {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

        .CloseButtonDiv img {
            width: 25px;
        }

    .width-100p {
        width: 100%;
    }

    .span-style {
        font-weight: 600;
    }

    .cus-data-box {
        float: left;
        width: 260px;
    }

    .input-container {
        padding-top: 40px;
        padding-left: 20px;
    }
   
    .btn-genrate-number,
.btn-genrate-number:hover,
.btn-genrate-number:focus {
        float:right;
    background-color:#2ca01c !important;
    color:#fff !important;
    border-color:#2ca01c !important;
}
.btn-cancel-genarare,
.btn-cancel-genarare:hover,
.btn-cancel-genarare:focus {
    float:left;
    background-color:#d71920 !important;
    color:#fff !important;
    border-color:#d71920 !important;
}
    .btn-container{
        border-top:1px solid #ddd;
        padding-top: 10px;
    }

   
    .error{
        color:red;
    }
    .generate_system_no_container {
        width:100%;
        float:left;
    }
    .generate_system_no_header {
         width:100%;
        float:left;
        padding:10px 15px;
        background-color:#f4f5f8;
        font-size: 22px;
        border-bottom: 1px solid #ccc;
    }
    
     .generate_system_no_footer {
          width:100%;
        float:left;
        padding:10px 15px;
        background-color:#f4f5f8;
        border-top: 1px solid #ccc;
     }
     .generate_system_no_inner {
          width:100%;
        float:left;
     }
     .generate_system_no_inner_content {
          width:100%;
        float:left;
            padding: 10px;
     }
     .generate_system_no_inner_block {
         width:33.33%;
         float:left;
         padding:0px 10px;
     }
     .generate_system_no_inner_height {
          width:100%;
        float:left;
        overflow-x:hidden;
        overflow-y:auto;
     }
     .resultDiv {
           width:100%;
        float:left;
        padding: 10px 20px;
     }
     @media (max-width:414px) {
         .generate_system_no_inner_block {
    width: 100%;
    margin-bottom: 10px;
}
     }
