.csnlp_container {
   padding-top:10px;
}

.custom-padding {
    padding-top: 20px;
}

.customer_no_searchbar_div {
    margin-top: -5px !important;
    width: 200px !important;
    float: left;
    padding: 0px !important;
}

.table-head-border {
    border-bottom: 2px solid #d4d7dc;
}

.thead-th-style {
    /*border-right: 1px solid #ddd;*/
    padding: 10px;
}

/*.thead-th-style:hover {
        background-color: #ddd !important;
    }*/

.tr-style {
    border-bottom: 1px solid #ddd;
}

    .tr-style:hover {
        background-color: #f4f5f8;
    }
    .show_header_for_mobile {
        display:none;
    }
    @media(max-width:1150px) {
        .header_hide_for_mobile {
            display:none;
        }
        .show_header_for_mobile {
               display: block;
                width: 40%;
                float: left;
                font-weight: bold;
                text-align: left;
}
        .width_for_mobile {
            width:100%;
            float:left;
        }
        .info_style_mobile {
            float:left;
        }
    }
     @media (max-width:768px) {
    .customer_no_searchbar_div {
        margin-top:3px !important;
    }
   
    }
    @media (max-width:414px) {
        .customer_no_searchbar_div {
    margin-top: 0px !important;
    width: 58% !important;
}
       
    }
   
    @media (max-width: 320px){
.customer_no_searchbar_div {
    width: 58% !important;
}


}

   