.customer_system_no_partial_container {
    width:100%;
    float:left;
    padding:0px 15px;
}
.displayNone {
    display: none;
}
.left_custom {
    float:right;
}
.top_manual {
    width: auto;
    float: right;
}
.customer_system_no_partial_container .button_container {
     width: auto;
    float: right;
}
.customer_system_no_partial_container .button_container button {
     margin-top: 5px;
     margin-left:10px;
}
.customer_sys_no_searchbar_div {
     width: auto;
    float: left;
     padding:5px 0px;
}
.customer_sys_no_searchbar_div .input-group,
.customer_sys_no_searchbar_div select {
    width:260px;
    float:left;
    margin-right:-3px;
}
.dataTables_filter {
    display:none;
}
.header_container {
    width: auto;
    float: left;
        margin-top: 5px;
}
.top_manual_for_header {
    width:100%;
    margin:auto;
    padding: 10px 15px;
}
.header_custom {
    font-size:24px;
}
@media (max-width: 768px) {
.top_manual_for_header {
    margin-top:-16px;
}
    .customer_sys_no_searchbar_div .input-group,
    .customer_sys_no_searchbar_div select {
        width: 33.33%;
    }
}
@media (max-width: 414px) {
   .customer_sys_no_searchbar_div .input-group,
   .customer_sys_no_searchbar_div select {
    width: 100%;
}
  .customer_system_no_partial_container .button_container button {
     padding:6px;
}
   .customer_sys_no_searchbar_div {
    padding: 10px 0px;
}
}
@media (max-width: 375px) {
    .header_custom {
    font-size: 20px;
}

}

