.custom-padding {
    padding-top: 20px;
}

.searchbardiv {
    margin-top: 9px;
    width: 200px !important;
    float: left;
    padding: 0px 05px 0px 15px;
}

.table-head-border {
    border-bottom: 2px solid #d4d7dc;
}

.thead-th-style {
    /*border-right: 1px solid #ddd;*/
    padding: 10px;
}

/*.thead-th-style:hover {
        background-color: #ddd !important;
    }*/

.tr-style {
    border-bottom: 1px solid #ddd;
}

    .tr-style:hover {
        background-color: #f4f5f8;
    }
