 .adjustment-nav-tab > li.active {
        background-color: #2ca01c !important;
    }

        .adjustment-nav-tab > li.active > a {
            color: white !important;
        }

    .adjustment-nav-tab > li {
        border: 1px solid #ccc !important;
    }

        .adjustment-nav-tab > li > a {
            background-color: transparent !important;
            border: none !important;
        }
        .adjustment_partial_header {
            width:100%;
            float:left;
                font-size: 2.4rem;
    font-weight: 500;
        }
         .adjustment_scheme_partial_container {
        width:100%;
        float:left;
        margin-top: 5px;
    }
         .adjustment_scheme_partial_top_bar {
               width:100%;
        float:left;
            padding: 5px 0px;
         }
         .adjustment_scheme_partial_top_bar .input-group {
             width:300px;
             float:left;
         }
          .adjustment_scheme_partial_top_bar #AddAdjustmentScheme {
             float:right;
         }
           .Adjustment_rule_partial_container {
        width:100%;
        float:left;
        padding-top: 5px;
    }
           .Adjustment_rule_partial_top_bar {
               width:100%;
        float:left;
            padding: 5px 0px;
         }
  .Adjustment_rule_partial_top_bar .Search_div {
      width:220px;
      float:left;
  }
   .Adjustment_rule_partial_top_bar .AdjustmentRulePartial_filter {
      width:390px;
      float:left;
      margin-left:10px;
  }
    .Adjustment_rule_partial_top_bar .AdjustmentRulePartial_filter .form-control {
      width:50%;
      float:left;
  }
    .Adjustment_rule_partial_top_bar .btn .glyphicon-filter {
    color: #fff !important;
}
   .Adjustment_rule_partial_top_bar #AddAdjustmentRule {
       float:right;
   }

    #tblArule {
        width: 100%;
    }

    #tblArule_length {
        display: none;
    }

    #tblArule_filter {
        display: none;
    }

    #tblArule_info {
        display: none;
    }
     .Adjustment_partial_container {
        width:100%;
        float:left;
        padding-top: 5px;
    }

                .Adjustment_partial_container_top_bar {
               width:100%;
        float:left;
            padding: 5px 0px;
         }
  .Adjustment_partial_container_top_bar .Search_div {
      width:220px;
      float:left;
  }
   .Adjustment_partial_container_top_bar .filter_season_adjustment {
      width:390px;
      float:left;
      margin-left:10px;
  }
    .Adjustment_partial_container_top_bar .filter_season_adjustment .form-control {
      width:50%;
      float:left;
  }
    .Adjustment_partial_container_top_bar .btn .glyphicon-filter {
    color: #fff !important;
}
     #tblA {
        width: 100%;
    }

    #tblA_length {
        display: none;
    }

    #tblA_filter {
        display: none;
    }

    #tblA_info {
        display: none;
    }
     .override_range_partial_container {
        width:100%;
        float:left;
        margin-top: 5px;
    }
         .override_range_partial_top_bar {
               width:100%;
        float:left;
            padding: 5px 0px;
         }
         .override_range_partial_top_bar .input-group {
             width:300px;
             float:left;
         }
          .override_range_partial_top_bar #AddOverrideRange {
             float:right;
         }
           #tblOrange {
        width: 100%;
    }

    #tblOrange_length {
        display: none;
    }

    #tblOrange_filter {
        display: none;
    }

    #tblOrange_info {
        display: none;
    }

         .override_partial_container {
        width:100%;
        float:left;
        margin-top: 5px;
    }
         .override_partial_top_bar {
               width:100%;
        float:left;
            padding: 5px 0px;
         }
         .override_partial_top_bar .input-group {
             width:300px;
             float:left;
         }
          .override_partial_top_bar #AddOverrideRange {
             float:right;
         }
              #tblO {
        width: 100%;
    }

    #tblO_length {
        display: none;
    }

    #tblO_filter {
        display: none;
    }

    #tblO_info {
        display: none;
    }
#tblAScheme {
    width: 100%;
}

#tblAScheme_length {
    display: none;
}

#tblAScheme_filter {
    display: none;
}

#tblAScheme_info {
    display: none;
}

.btn {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}
#tblAScheme_length {
    display:none;
}
#tblAScheme tbody tr td div:nth-child(1) {
    display:none;
}

@media (max-width:768px) {
    #tblAScheme thead {
        display: none;
    }
    #tblAScheme tbody tr td {
        width:100%;
        float:left;
        box-sizing:border-box;
    }
        #tblAScheme tbody tr td div:nth-child(1) {
            display: block;
            width: 45%;
            float: left;
            font-weight: bold;
            text-align: left;
        }
            #tblAScheme tbody tr td div:nth-child(1) span {
                float: right;
                margin-right: 5px;
            }
        #tblAScheme tbody tr td div:nth-child(2) {
            width: 55%;
            float: left;
            text-align: left;
        }
    .Adjustment_rule_partial_top_bar .Search_div, .Adjustment_partial_container_top_bar .Search_div {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
        .Adjustment_rule_partial_top_bar .AdjustmentRulePartial_filter,
        .Adjustment_partial_container_top_bar .filter_season_adjustment {
            margin-left:0px;
        }
    }
    @media (max-width:414px) {
        .adjustment_scheme_partial_top_bar .input-group,
        .override_partial_top_bar .input-group,
        .override_range_partial_top_bar .input-group {
            width:100%;
            float:left;
            margin-bottom:10px;
        }
        .Adjustment_rule_partial_top_bar .AdjustmentRulePartial_filter,
        .Adjustment_partial_container_top_bar .filter_season_adjustment {
             width: 100%;
    float: left;
    margin-bottom: 10px;
        }
    }
