body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.home_page_container {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    background: #f2f2f2;
    overflow-x: hidden;
    min-height: 700px;
}

.home_page_header {
    width: 100%;
    float: left;
    padding-top: 25px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #003468 0%, #003468 50%, #75b2ef 100%);
}

    .home_page_header::after {
        position: absolute;
        content: '';
        pointer-events: none;
        bottom: -50%;
        left: -25%;
        width: 150%;
        height: 50%;
        background: #f2f2f2;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
        -webkit-transform-origin: 2% 0;
        transform-origin: 2% 0;
    }

.home_page_inner_container {
    width: 80%;
    margin: auto;
    display: table;
    position: relative;
}

.home_page_logo_div {
    float: left;
}

    .home_page_logo_div img {
        max-height: 50px;
        width: auto;
    }

.home_page_top_menu_div {
    float: right;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding: 15px 0px;
}

    .home_page_top_menu_div a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

    .home_page_top_menu_div .site_link {
        margin-right: 30px;
        text-transform: uppercase;
    }

.home_page_100p {
    width: 100%;
    float: left;
}

.home_page_header_content_left {
    width: 55%;
    float: left;
    line-height: 40px;
    font-size: 34px;
    text-align: left;
    color: #fff;
    position: relative;
    padding-top: 100px;
}

.home_page_header_content_right {
    width: 45%;
    float: left;
    text-align: right;
}

    .home_page_header_content_right img {
        width: 100%;
    }

.home_page_padding_top {
    padding-top: 30px;
}

.home_page_main_info {
    width: 100%;
    float: left;
    margin: auto;
    background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 100%);
    padding-bottom: 50px;
}

.home_page_main_info_container_header {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 34px;
    padding-top: 70px;
    padding-bottom: 20px;
    color: #003468;
}

.home_page_main_info i {
    font-size: 45px;
    color: #003468;
}

i.fa.fa-gift {
}

.home_page_main_info_container_subheader {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #808080;
}

.home_page_feature_div {
    width: 33.33%;
    float: left;
    text-align: center;
    padding-bottom: 40px;
    cursor: pointer
}

.home_page_feature_text {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: #808080;
}

.demo_contact_form_container {
    width: 100%;
    float: left;
    margin: auto;
    background-color: #f2f2f2;
    padding-top: 75px;
    padding-bottom: 30px;
}

.demo_contact_form_left {
    width: 50%;
    float: left;
    text-align: center;
}

    .demo_contact_form_left img {
        width: 350px;
    }

.demo_contact_form_right {
    width: 50%;
    float: left;
}

    .demo_contact_form_right .home_page_main_info_container_subheader {
        text-align: left;
        padding-bottom: 20px;
    }

    .demo_contact_form_right .home_page_main_info_container_header {
        padding-top: 0px;
    }

    .demo_contact_form_right input {
        height: 45px;
        border-radius: 0px;
        margin-bottom: 20px;
    }

.home_page_submit_btn {
    width: 170px;
    float: right;
    background-color: #3870a8;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

    .home_page_submit_btn:hover {
        background-color: #3870a8;
    }

.home_page_footer {
    width: 100%;
    float: left;
    padding: 25px;
    position: relative;
    background: linear-gradient(to right, #003468 0%, #0564c3 50%, #454545 100%);
}

.footer_content {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.required {
    border: 1px solid red;
}

@media (max-width: 1024px) {

    .home_page_main_info_container_header {
        font-size: 28px;
    }

    .home_page_header_content_left {
        font-size: 27px;
        padding-top: 50px;
    }
}

@media (max-width: 768px) {
    .home_page_header_content_left {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
        text-align: center;
    }

    .home_page_header_content_right {
        width: 100%;
        text-align: center;
    }

    .demo_contact_form_left {
        width: 100%;
        padding-bottom: 20px;
    }

    .demo_contact_form_right {
        width: 100%;
    }

        .demo_contact_form_right .home_page_main_info_container_header {
            padding-bottom: 0px;
        }

        .demo_contact_form_right .home_page_main_info_container_subheader {
            text-align: center;
        }
}

@media (max-width: 414px) {
    .home_page_logo_div {
        float: none;
        width: 172px;
        margin: auto;
    }

    .home_page_top_menu_div {
        float: none;
        width: 320px;
        margin: auto;
        text-align: center;
    }

    .home_page_inner_container {
        width: 90%;
    }

    .home_page_header_content_left {
        font-size: 22px;
        line-height: 30px;
    }

    .home_page_main_info_container_header {
        padding-top: 20px;
    }

    .home_page_main_info_container_subheader {
        font-size: 15px;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .home_page_main_info {
        padding-bottom: 0px;
    }

    .home_page_feature_div {
        width: 50%;
        height: 120px;
    }
}

@media (max-width: 375px) {
    .home_page_header_content_left {
        font-size: 18px;
    }

    .demo_contact_form_left img {
        width: 100%;
    }
}
