   #tblEstimate > thead > tr > th:nth-child(3) {
    width:30% !important;
}
    #tblEstimate > thead > tr > th:nth-child(2) {
    width:20% !important;
}
    .row-custom{
        margin-right:0;
        margin-left:0;
    }
    .col-custom-12{
        padding-left:0;
        padding-right:0;
    }
    .green-tooltip + .tooltip > .tooltip-inner {background-color: #2ca01c;}
    .estimatestatus{
        cursor:pointer;
    }