.row {
    display: block;
    width: auto;
    table-layout: fixed;
}
.header-title {
    width: 100%;
    float: left;
    text-align:left;
    background-color:#f4f5f8;
}
.estimator_contents_scroll {
    width: 100%;
    float: left;
    overflow-y:auto;
}
.estimator_container .header-title {
    border-bottom: 1px solid #ccc;
}
.custom-title-span {
    line-height: 50px;
    font-size: 2rem;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}
.arb_chhk .form-group {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.arb_chhk .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.bottom_row_kk {
    display:flex;
}
.bottom_row_kk .first_block:nth-child(1) {
    width: 50%;
}
.bottom_row_kk .first_block {
    height:unset !important;
}

#CustomerEstimateTab tbody tr td, #CustomerEstimateServiceTab tbody tr td {
    position: relative;
}
.div-body-contents {
    width: 100%;
    padding: 10px 15px;
    background-color: #f4f5f8;
}
.add_estimate_table_info {
    width:100%;
    float:left;
    padding:10px 15px;
}

.balance-info {
    width: 30%;
    float: right;
    text-align: right;
    padding-right: 15px;
}

.invoice-info-left-70p {
    float: left;
    width: 70%;
}
    .invoice-info-left-70p .mce-tinymce {
        box-shadow: none !important;
        border-left-width: 1px !important;
        border-right-width: 1px !important;
        border-top-width: 0px !important;
        border-bottom-width: 0px !important;
    }
    .add-invoice-container .width-30p {
        float: left;
        width: 30%;
        padding-right: 30px;
    }

.add-invoice-container .width-25p {
    float: left;
    width: 25%;
    padding-right: 10px;
}
.add_estimate_height {
    height:60px;
}
.span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.amount-span-style {
   font-size: 3.8rem;
    height: 3.8rem;
    color:#000 !important;
}

.table-info {
    padding-left: 50px;
    padding-right: 50px;
}

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 15px;
}

    .table-body-td-style:hover {
        background-color: #ddd;
        cursor: pointer;
    }

.border-right-2pxddd {
    border-right: 2px solid #ddd;
}

.tr-style:hover {
    background-color: #ffffff;
}

.display-none {
    display: none;
}

.CustomerEstimateTab {
    width: 100%;
}
.CustomerEstimateServiceTab {
    width: 100%;
}

.CustomerEstimateTab tbody tr input, .CustomerEstimateTab tbody tr .C_S, .CustomerBookingTab tbody tr .C_S{
    display: none;
}
.CustomerEstimateServiceTab tbody tr input, .CustomerEstimateServiceTab tbody tr .C_S, .CustomerBookingTab tbody tr .C_S {
    display: none;
}

.CustomerEstimateTab tbody tr span {
    display: block;
}
.CustomerEstimateServiceTab tbody tr span {
    display: block;
}


.CustomerEstimateTab tbody tr.focusedItem span {
    display: none;
}
.CustomerEstimateServiceTab tbody tr.focusedItem span {
    display: none;
}

.CustomerEstimateTab tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}
.CustomerEstimateServiceTab tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}

.tableActions {
    text-align: center;
}

.CustomerEstimateTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.CustomerEstimateServiceTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.CustomerEstimateTab thead tr th {
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.CustomerEstimateServiceTab thead tr th {
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.CustomerEstimateTab tbody tr.focusedItem input{
    border: 1px solid #2ca01c;
}
.CustomerEstimateServiceTab tbody tr.focusedItem input {
    border: 1px solid #2ca01c;
}
.CustomerEstimateTab tbody tr.focusedItem input, .CustomerEstimateTab tbody tr.focusedItem .C_S, .CustomerBookingTab tbody tr.focusedItem .C_S {
    display: block;
}
.CustomerEstimateServiceTab tbody tr.focusedItem input, .CustomerEstimateServiceTab tbody tr.focusedItem .C_S, .CustomerBookingTab tbody tr.focusedItem .C_S {
    display: block;
}

.CustomerEstimateTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ccc;
}

.CustomerEstimateServiceTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ccc;
}

.CustomerEstimateTab tbody tr td:hover {
    cursor: pointer;
}
.CustomerEstimateServiceTab tbody tr td:hover {
    cursor: pointer;
}
.CustomerEstimateTab tbody tr td:nth-child(2) {
    position:relative;
}
.CustomerEstimateServiceTab tbody tr td:nth-child(2) {
    position: relative;
}
.CustomerEstimateTab tbody tr td:nth-child(4)
,.CustomerEstimateTab tbody tr td:nth-child(5)
,.CustomerEstimateTab tbody tr td:nth-child(6) {
    text-align:right;
}
.CustomerEstimateServiceTab tbody tr td:nth-child(4), .CustomerEstimateServiceTab tbody tr td:nth-child(5), .CustomerEstimateServiceTab tbody tr td:nth-child(6) {
    text-align: right;
}

 
.add-invoice-container .tt-menu {
    background: white;
    min-width: 320px;
    font-size: 12px;
    max-height: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    /*overflow: hidden;*/
    position: absolute;
    left: 5px;
    z-index: 100;
    display: none;
    width: 450px;
}

.add-invoice-container .tt-dataset-autocomplete {
    margin-top: -5px;
}

.add-invoice-container .tt-suggestion {
    min-height: 36px;
    display: block;
    padding: 10px 10px 9px 15px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.add-invoice-container .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

.add-invoice-container .tt-sug-text {
    width: 80%;
    font-size: 13px;
}
#ShippingField{
    height:40px;
}
.add-invoice-container .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

.add-invoice-container .tt-suggestion.active {
    background-color: #f2f2f2;
}

.add-invoice-container .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-invoice-container .tt-sug-type {
    position: absolute;
    right: 17px;
    top: 11px;
    color: #999;
    font-style: italic;
}

.add-invoice-container .tt-eq-price {
    float: right;
    position: absolute;
    right: 17px;
    bottom: 11px;
}

.select2-container.select2-container--default.select2-container--open {
    z-index: 9999 !important;
}

.invoice-footer {
    background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
    z-index: 10;
}

.InvoiceCancelButton, .InvoiceSaveButton, .btnCloneEstimate,.btnResend,.btnDecline {
    background-color: transparent;
}
 
.btnInv {
    color: white;
    border: 1px solid #6b6c72;
    border-radius: 3px;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.btnResend,.btnApprove{
    border: 1px solid #2ca01c;
    color: white;
    background-color: #2ca01c;
}
.btnResend, .btnSendContract {
    border: 1px solid #2ca01c;
    color: white;
    background-color: #2ca01c;
}
.btnInv:hover,.InvoiceDeleteButton:hover {
    background-color: #545558;
}
.btnResend:hover,.btnApprove:hover{
    border: 1px solid #ddd;
    color: white;
    background-color: #2ca01c;
}
.btnResend:hover, .btnSendContract:hover {
    border: 1px solid #ddd;
    color: white;
    background-color: #2ca01c;
}
.InvoiceDeleteButton{
    background-color:transparent;
}

.SaveAndSendBtn, .SaveOptionsBtn {
    background-color: #2ca01c;
    color: white !important;
    border: 1px solid #6b6c72 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

    .SaveAndSendBtn:hover, .SaveOptionsBtn:hover {
        background-color: #108000 !important;
        color: white !important;
    }

.cancelbtnDiv {
    width: 27%;
    float: left;
}

.SaveaButtonsDiv {
    width: 63%;
    float: left;
    text-align: right;
}

.InnerOptionsDiv {
    width: 10%;
    float: left;
    text-align: center;
    padding-top: 8px;
    color: white;
}

    .InnerOptionsDiv a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

.btnAddLines, .btnAddSubtotal, .btnClearLines {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    min-width: initial;
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0 !important;
    border-radius: 3px;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    border: 1px solid #8d9096;
    background: 0 0;
    color: #393a3d;
    font-weight: 200;
}

.btnAddLines:hover, .btnAddSubtotal:hover, .btnClearLines:hover {
    background: #fff;
    color: #393a3d;
    box-shadow: 0 0 0 1px #8d9096;
}

.InvoiceMessage {
    resize: none;
    width: 345px;
}

.txtProductQuantity {
    height: 32px;
}

.InvoiceCalculationsDiv {
}

.CustomerEstimateTab tbody td input {
    width: 100%;
}
.CustomerEstimateServiceTab tbody td input {
    width: 100%;
}

.CustomerEstimateTab .tab-index {
   width: 2%;
}
.CustomerEstimateServiceTab .tab-index {
    width: 2%;
}
.CustomerEstimateTab .tab-Action {
    width: 2%;
}
.CustomerEstimateServiceTab .tab-Action {
    width: 2%;
}
.estimate_action_div {
    width:35px;
    float:left;
}
    .estimate_action_div input {
        width: auto !important;
        float: left !important;
        margin-right: 3px !important;
    }
    .estimate_action_div i.fa {
        padding-top: 0px !important;
    }
    .CustomerEstimateTab .tab-Product {
        width: 18%;
    }
.CustomerEstimateServiceTab .tab-Product {
    width: 18%;
} 

.CustomerEstimateTab .tab-Desc {
    width: 25%;
}
.CustomerEstimateServiceTab .tab-Desc {
    width: 25%;
}

.CustomerEstimateTab .tab-Quantity {
    width: 3%;
}
.CustomerEstimateServiceTab .tab-Quantity {
    width: 3%;
}
.CustomerEstimateTab .tab-Rate {
      width: 8%;
}
.CustomerEstimateServiceTab .tab-Rate {
    width: 8%;
}
.CustomerEstimateTab .tab-Amount {
     width: 4%;
}
.CustomerEstimateServiceTab .tab-Amount {
    width: 4%;
}

.SaveaButtonsDiv ul.dropdown-menu li {
    cursor: pointer;
}

.invoice-make-payment-div {
    float: left;
    width: 30%;
    text-align: center;
    padding-top: 19px;
    cursor: pointer;
}

.settings-invoice {
    background: none;
    border: none;
    font-size: 27px;
    position: absolute;
    right: 40px;
    color: #6b6c72;
}

.shippingAddress {
    height: 80px !important;
}

.BillingAddress {
    height: 80px !important;
}

.shipping-amount-div {
    display: none;
}

.width-70p {
    width: 70%;
    float: left;
}

.float-right {
    float: right;
}

#shippingCost {
    width: 80px !important;
}

#discountType {
    float: right;
    width: 160px !important;
}

#discountAmount {
}

.deposit-amount-div {
    display: none;
}

.discount-amount-div {
    display: none;
}

.invoice-informations {
    overflow-x: hidden;
}

.margin-TB-5p {
    margin-top: 5px;
    margin-bottom: 5px;
}



#Invoice_Deposit {
    float: right !important;
    text-align: right !important;
    width: 50px !important;
    z-index:0;
}

#taxType {
    float: right;
    width: 160px !important;
}
#ServicetaxType {
    float: right;
    width: 160px !important;
}
#OneTimeServicetaxType {
    float: right;
    width: 160px !important;
}
.InvoiceToEstimate-btn-container {
    position: absolute;
    right: 80px;
    top: 5px;
}

.Settingin {
    background: none;
    border: none;
    font-size: 27px;
    position: absolute;
    right: 40px;
    color: #a5a1a1;
}

.width-70p {
    width: 70%;
    float: left;
}

/*new added css*/
/*new added css*/

.EstPreview {
    display: none;
}

    .EstimatePrintAndSend {
        border: 1px solid #2ca01c;
        color: white;
        background-color: #2ca01c;
        margin-top: -3px;
    }

    #Invoice_ShippingCost {
        float: right !important;
        text-align: right !important;
        width: 50px !important;
        z-index:0;
    }

   .width-70p {
        width: 70%;
        float: left;
    }

    .invoice-informations {
        overflow-x: hidden;
    }

    .add_estimate_margin_top {
        margin-top:7px;
    }
     .subtotal_text {
        font-size:17px;
        font-weight:600;
        padding-right:0px !important;
    }
    .tax_amount {
    font-size: 17px;
    border: 1px solid #ddd;
    border-radius: 4px;
     -webkit-border-radius: 4px;
-moz-border-radius: 4px;
    padding: 4px 5px;
    width:80px;
    text-align:right;
    }
.margin_left_5{
    margin-left:5px;
}
.tax_amount_custom {
    font-size: 17px;
    width: 80px !important;
    text-align: right;
    float: right;
}
   .custom_pad_add_estimate {
       padding-right:0px;
   }
    .invoie_contents_scroll{
        overflow-y:scroll; 
        overflow-x:hidden;
    }
    .customer_name_insert_div{
        position:relative;
    }
    .Memo {
        resize: none;
        width: 345px;
    }
    .invoice_memo_counter{
        width: 345px;
        font-size: 11px;
        text-align: right;
        font-style: italic;
    }
    .invoice_message_div{
        width: 345px;
        font-size: 11px;
        text-align: right;
        font-style: italic;
    }
    .InvoiceNotTxt{
    width:100%;
    resize:none;
}
    .AddNewInvNotBtn{
   
    float:right;
}
.AddNewInvNotBtn img{
    max-width:20px;
    max-height:20px;
}
.InvNotesContainer{
    width:345px;
    float:left;
    margin-bottom: 30px;
}
.estimate_message_div {
    width: 345px;
    float: left;
    margin-bottom: 30px;
}
.billing_text_align {
        margin-top:7px;
    }
.InvoiceNote{
    padding-top: 10px;
    width: 100%;
    border: 1px solid #ccc; 
    white-space: pre-wrap;
    margin-top: 20px; 
    padding:10px;
}
.InvoiceNoteOptions clearfix{
    padding-top:10px;
}
.NoteAddedByDiv{
    width: 70%;
    float: right;
    text-align: right;
    font-size: 11px;
    font-style: italic;
}
.reason_div{
    width: 345px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid rgb(169, 169, 169);
}
.add_estimate_dropdown_style {
    padding: 6px;
}
.estimate_btn_style {
    display:inline-block;
}
.estimate_invoice_balance_info,
.estimate_billing_info_div,
.estimate_shipping_info_div {
    width:100%;
    float:left;
}
.OtherInfos .col-md-12 .estimate_description_container {
    width:60%;
    float:left;
}
.OtherInfos .col-md-12 .estimate_calculation_div {
    width:40%;
    float:left;
    padding-right:0px;
}
.subtotal-amount-div .col-xs-8,
.Discount-total .col-xs-8,
.tax-amount-div .col-xs-8,
.total-amount-div .col-xs-8,
#ShippingField .col-xs-8,
.deposit-amount-div .col-xs-8,
.balance-due-amount-div .col-xs-8 {
    width:67%;
    padding:0px;
}
#ShippingField .currency_style,
.deposit-amount-div .currency_style {
    padding-left:25px;
}
.discount-amount-div .col-xs-6 {
     width: 50%;
    text-align: right;
    padding: 0px;
}
  .discount-amount-div .col-xs-6 select {
    width: 50px;
    float: right;
    padding: 0px;
    margin-right: 4px;
    margin-left: 4px;
    }
  .discount-amount-div .col-xs-2 {
      padding:0px;
  }
  .discount-amount-div .col-xs-6 .discount_text {
    padding-top: 7px;
    float: left;
    font-weight: bold;
    width: 50%;
    padding-right: 5px;
}
.subtotal-amount-div .col-xs-4,
.discount-amount-div .col-xs-4,
.Discount-total .col-xs-4,
.tax-amount-div .col-xs-4,
.tax-amount-div .col-xs-4,
.total-amount-div .col-xs-4,
#ShippingField .col-xs-4,
.deposit-amount-div .col-xs-4,
.balance-due-amount-div .col-xs-4 {
    width:105px;
    padding:0px;
}
#taxType {
    float: right;
    width: 100px !important;
}
#ServicetaxType {
    float: right;
    width: 100px !important;
}
#OneTimeServicetaxType {
    float: right;
    width: 100px !important;
}
.OtherInfos {
    width:100%;
    float:left;
    padding-bottom: 20px;
}
.EstimatorServiceInfo {
    width: 100%;
    float: left;
    padding: 0px 15px;
}
.EstimatorOneTimeServiceInfo {
    width: 100%;
    float: left;
    padding: 0px 15px;
}
.OtherInfos .col-md-12 {
    width: 100%;
    float: left;
}
.balance_info_for_mobile {
    display:none;
}
.balance_info_for_desktop {
    display:block;
}
.CustomerTaxPercentageDiv {
    font-size: 17px;
    width: 80px !important;
    text-align: right;
    float: right;
    margin-left: 5px;
}
.discount_text_custom {
    font-weight: 600;
    color: #615b5b;
    font-size: 14px;
    display: block;
    width: 70px;
    float: right;
    padding-top: 5px;
}
#ConvertEstimatetoWorkOrService {
    position:absolute;
    right:0px;
}
.mobile_estimate_cancel,
.mobile_estimate_delete,
.mobile_estimate_save {
    display:none;
}
.InvoiceSaveButton,
.InvoiceSaveButton:hover,
.InvoiceSaveButton:focus {
    background-color:#2ca01c;
}
.recurring_bill_header {
    border-bottom:2px solid #ccc;
}
.recurring_bill_container {
    width:100%;
    float:left;
}
.rb_top_row {
    width: 100%;
    float: left;
}
    .rb_top_row .form-group:first-child {
        width: 250px;
        float: left;
    }
    .rb_top_row .form-group:nth-child(2) {
      
        float: left;
        display: inline-flex;
        padding-top: 20px;
        padding-left: 10px;
       
    }
        .rb_top_row .form-group:nth-child(2) span {
            font-weight: bold;
            color: #615b5b;
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;
            height: 25px;
        }
        .rb_top_row .form-group:nth-child(2) input {
            width:80px;
        }
        .rb_middle_row {
            width: 100%;
            float: left;
        }
            .rb_middle_row .first_block,
            .rb_middle_row .second_block,
            .rb_middle_row .third_block,
            .rb_middle_row .fourth_block {
                width: 25%;
                float: left;
                border: 1px solid #ccc;
                padding: 25px 15px;
                height: 130px;
                position:relative;
            }
                .rb_middle_row .first_block {
                    border-left:0px;
                }
            .rb_middle_row .fourth_block,
            .rb_middle_row .third_block {
                border-right: 0px;
            }
                .rb_middle_row .second_block  {
                    border-left: 0px;
                    border-right: 0px;
                }
            .rb_middle_row .third_block .form-group {
                margin-bottom:0px;
            }
            .rb_middle_row .third_block .checkbox,
            .rb_middle_row .fourth_block .checkbox {
                margin-top:0px;
                margin-bottom:-1px;
                margin-right:5px;
            }
            .rb_bottom_row {
                width: 100%;
                float: left;
                margin-bottom:25px;
            }
                .rb_bottom_row .bottom_first {
                    width: 40%;
                    float: left;
                    border:1px solid #ccc;
                    border-right:0px;
                    border-left:0px;
                    border-top:0px;
                    padding:25px 15px;
                }
                    .rb_bottom_row .bottom_first .form-group {
                       
                        width:100%;
                        float:left;
                    }
                    .rb_bottom_row .bottom_first span {
                        float: left;
                        font-weight: bold;
                        margin-top: 5px;
                        margin-left: 5px;
                        margin-right: 5px;
                        color: #615b5b;
                    }
                        .rb_bottom_row .bottom_first select {
                            width: 100px;
                            float: left;
                        }

                    .rb_bottom_row .bottom_first input {
                        width: 60px;
                        float: left;
                    }
                .rb_bottom_row .bottom_second {
                    width: 60%;
                    float: left;
                    border: 1px solid #ccc;
                    border-right: 0px;
                    border-top: 0px;
                    padding: 25px 15px;
                }
.rb_bottom_row .bottom_second .form-group {
    width:250px;
    float:left;
    margin-right:10px;
}
.recurring_bill_container .popup {
    position: absolute;
    background-color: #fff;
    top: 100px;
    right: 0px;
    width: 278px;
    z-index: 99;
    padding: 10px;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}
    .fourth_block .PaymentSection {
       
    }
        .fourth_block .PaymentSection .form-group:nth-child(1) {
            margin-bottom: 0px;
            margin-top: 10px;
            width: 43%;
            float: left;
            min-width: 90px;
        }
        .fourth_block .PaymentSection .form-group:nth-child(2) {
            margin-bottom: 0px;
            margin-top: 30px;
            width: 57%;
            float: left;
        }
            .fourth_block .PaymentSection .form-group:nth-child(2) button {
                padding:6px;
                float:right;
                margin-left:5px;
            }
            .BillingAddress_rb {
                width:auto;
                float:left;
                margin-right:10px;
            }
            .recurring_bill_container .popup div {
                margin-bottom: 10px;
            }
    .recurring_bill_container .popup div:nth-child(3) {
        margin-bottom: 0px;
    }
    .recurring_bill_container .popup .green_button {
        float: right;
    }
    .recurring_bill_container .BillingAddress {
        width: 300px;
        height: 200px;
    }
.recurring_bill_container .div-body-contents {
    float:left;
}
#CCEmailPopup {
    float: right;
    cursor: pointer;
    color: #2ca01c;
}
.Recurring_BillingTab {
    width:100%;
    float:left;
}

    .Recurring_BillingTab thead tr th,
    .Recurring_BillingTab tbody tr td {
        border:1px solid #ccc !important;
    }
.Recurring_BillingTab tbody tr td:nth-child(2) {
    position:relative;
}
.Recurring_BillingTab .tt-menu {
    position: absolute !important;
    width: 40% !important;
    left:8px;
}
.Recurring_BillingTab tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}
    .Recurring_BillingTab tbody tr:hover {
        background-color: #f4f5f8;
    }
.recurring_bill_container .OtherInfos .col-md-12 .estimate_description_container,
.recurring_bill_container .OtherInfos .col-md-12 .estimate_calculation_div {
    width: 50%;
    float: left;
}
/*.recurring_bill_container .AddCCPayment {
    float:right;
}*/
.estimate_info_top_left .width-25p {
    width: 50%;
}
@media (max-width:1024px) {
    .OtherInfos .col-md-12 .estimate_description_container {
    width:55%;
    float:left;
}

.OtherInfos .col-md-12 .estimate_calculation_div {
    width:40%;
    float:left;
    padding-right:0px;
}
}
@media (max-width:768px) {
    .OtherInfos .col-md-12 .estimate_description_container {
        width: 50%;
        float: left;
    }
    .invoice-info-left-70p {
        width:75%;
    }
    .balance-info {
        width:25%;
    }
    .add_estimate_info_div_device {
        width:50%;
    }
    .cancelbtnDiv {
        width: 23%;
    }
.InnerOptionsDiv {
    width:42%;
}
.SaveaButtonsDiv {
    width:35%;
}
.balance-due-amount-div .col-xs-8 {
    padding-left:0px;
    padding-right:0px;
}
.OtherInfos .col-md-12 .estimate_calculation_div {
    width: 50%;
    float: left;
    padding-right: 0px;
}
.subtotal-amount-div .col-xs-8,
.Discount-total .col-xs-8,
.tax-amount-div .col-xs-8,
.total-amount-div .col-xs-8,
#ShippingField .col-xs-8, 
.deposit-amount-div .col-xs-8,
.balance-due-amount-div .col-xs-8 {
    width: 64%;
    padding: 0px;
}

.discount-amount-div .col-xs-6 {
    width: 47%;
}
.discount-amount-div .col-xs-6 .discount_text {
    display:none;
}
.discount-amount-div .col-xs-6 select {
    float:right;
    margin-right:5px;
}


}

@media (max-width:414px) {
    .estimate_info_top_left .width-25p {
        width: 100% !important;
        padding-right: 0px;
    }
    .invoie_contents_scroll {
        padding-bottom:20px;
    }
    .header-title {
    border-bottom: 1px solid #ccc;
}
    .InvoiceToEstimate-btn-container {
          float: right;
    position: unset;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 40px;
}
    .desktop_estimate_cancel,
    .desktop_estimate_delete,
    .desktop_estimate_save {
        display:none;
    }
  .mobile_estimate_cancel{
      display:block;
      float:left;
  }
  .mobile_estimate_save {
      display:block;
      float:left;
  }
  .mobile_estimate_delete {
      display:block;
      padding:6px;
      float: left;
      margin-left: 5px;
  }
    .add-invoice-container .custom-title-span {
        font-size:18px;
    }
    .balance_info_for_mobile {
    display:block;
}
.balance_info_for_desktop {
    display:none;
}
.estimate_invoice_balance_info .balance-info {
    width:100%;
    float:left;
    text-align:left;
}
.estimate_invoice_balance_info .invoice-info-left-70p,
.estimate_billing_info_div .invoice-info-left-70p,
.estimate_shipping_info_div .invoice-info-left-70p {
    width:100%;
    float:left;
}
 .estimate_invoice_balance_info .width-25p,
 .estimate_billing_info_div .width-25p,
 .estimate_shipping_info_div .width-25p {
     width:50%;
 }
 .estimate_invoice_balance_info .width-25p:nth-child(even),
  .estimate_billing_info_div .width-25p:nth-child(odd),
   .estimate_shipping_info_div .width-25p:nth-child(odd) {
     padding-right:0px;
 }
 .estimate_billing_info_div .width-25p:nth-child(1),
 .estimate_billing_info_div .width-25p:nth-child(4),
 .estimate_shipping_info_div .width-25p:nth-child(1),
 .estimate_shipping_info_div .width-25p:nth-child(4) {
     width:100%;
     float:left;
     padding-right:0px;

 }

 .OtherInfos .col-md-12:nth-child(1) {
     display:flex;
   flex-direction:column-reverse;
}
 .OtherInfos .custom_padding_null {
     padding:0px;
 }
 .OtherInfos .col-md-12 .estimate_calculation_div {
     width:100%;
 }
 .subtotal-amount-div .col-xs-8,
 .Discount-total .col-xs-8,
 .tax-amount-div .col-xs-8,
 .total-amount-div .col-xs-8,
 #ShippingField .col-xs-8,
 .deposit-amount-div .col-xs-8,
 .balance-due-amount-div .col-xs-8 {
    width: 63%;
}
 .OtherInfos .col-md-12 .estimate_description_container {
    width: 100%;
    padding-bottom:100px;
}
 .InvoiceMessage,
 .invoice_message_div,
 .invoice_memo_counter,
 .Memo,
 .InvNotesContainer {
     width:100%;
 }
 .InvNotesContainer {
     margin-bottom:20px;
 }

 .add_estimate_table_info {
     overflow-x:scroll !important;
 }
 .InnerOptionsDiv {
    width: 10%;
    text-align: center;
}
 .SaveaButtonsDiv {
    width: 67%;
}
 .SaveaButtonsDiv button {
     padding:6px 4px;
     float:right;
 }
 .SaveaButtonsDiv .estimate_btn_style {
    padding-left: 5px;
    float: right;
}
  .SaveaButtonsDiv .estimate_btn_style a,
  .InvoiceCancelButton {
      padding:6px;
  }
  .EstimatePrintAndSend {
      margin-top:0px;
  }
}
@media (max-width:375px) {
    .InvoiceToEstimate-btn-container {
    margin-top: 0px;
}
}