
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<style>
    .navbar{
        position:relative;
    }
    .dark_shade{
        width: 100%;
        height: 400px;
        position: absolute;
        background: gray;
        z-index: -1;
        margin-top: -22px;
    }
    .body_id{
        margin-top:50px;
        background-color:white;
        width: 800px;
        margin: auto;
        text-align: center;
        height: 500px;
        font-size:16px;
        padding:30px 20px;
    }
    .the_message{
       padding:30px;
    }
    .link_expired_header {
        width:100%;
        float:left;
        text-align:center;
        font-weight:bold;
    }
</style>
<script>
    $(document).ready(function () {
        $(".dark_shade").height(window.innerHeight);
    });
</script>
<div class="dark_shade">

</div>
<div class="body_id">
    <div class="link_expired_header"><i class="fa fa-exclamation-circle"></i> @Localize.T("Notifications")</div>
    @if (ViewBag.IsEstimate != null && !ViewBag.IsEstimate)
    {
        <div class="the_message">@Localize.T(string.Format("Estimate {0} already approved and converted to invoice. If you have any query please contact our sales person. Thank you.", ViewBag.EstimateId))</div>
    }
    else if (ViewBag.IsDecline == "true")
    {
        <div class="the_message">@Localize.T(string.Format("Estimate {0} successfully declined. Thank you.", ViewBag.EstimateId))</div>
    }
    else
    {
        <div class="the_message">@Localize.T("The Link Has Been Expired.")</div>
    }
</div>

