@{
    Layout = null;
}
<link href="~/Content/Css/Home/ERRORPage.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $(".error_page_container").height(window.innerHeight - 57);
    });
    $(window).resize(function () {
        $(".error_page_container").height(window.innerHeight - 57);
    })
</script>
<link href="~/Content/Css/Home/ERRORPage.css" rel="stylesheet" />

<div class="error_page_container">
    <div class="error_page_inner">
        <div class="error_page_icon">
            <i class="fa fa-frown-o"></i>
        </div>

        <div class="error_page_number">
            404
        </div>
        <div class="error_page_text_middle">
            Page not found
        </div>
        @*<div class="error_page_text_bottom">
            The page you are looking for doesn't exist or an other error occured, <br />
            <a href="@ViewBag.CompanyUrl" class="error_green_text">Go back</a>, or head over to <a href="@ViewBag.CompanyUrl" class="error_green_text">@ViewBag.CompanyUrl</a> to choose a new direction.
        </div>*@
    </div>
</div>

@*<h1>404!</h1>
<h3>Page not found.uuuu</h3>*@

