
#tblVideo {
    min-width: 99%;
}

.customer-table {
    background-color: ivory;
    width: 100%;
    font-size: 17px;
}

.head1 {
    border: 1px solid #dddddd;
    text-align: center;
    width: 40px;
    border-top: hidden;
    padding-top: 6px;
}

    .head1:hover {
    }

.head2 {
    border: 1px solid #dddddd;
    text-align: left;
    text-transform: uppercase;
    width: 300px;
    border-top: hidden;
    padding-top: 6px;
    background-color: lightgrey;
    word-spacing: 15px;
}

.head3 {
    border: 1px solid #dddddd;
    text-align: left;
    text-transform: uppercase;
    width: 320px;
    border-top: hidden;
    padding-top: 6px;
}

.head4 {
    border: 1px solid #dddddd;
    text-align: right;
    text-transform: uppercase;
    width: 80px;
    border-top: hidden;
    padding-top: 6px;
}

.head5 {
    border: 1px solid #dddddd;
    text-align: right;
    text-transform: uppercase;
    border-top: hidden;
    padding-top: 6px;
}

.custom-icon {
    float: right;
    padding-top: 13px;
    text-align: right;
}

.search-btn {
    padding-left: 80px;
    width: 400px;
}

.custom-btn {
    height: 34px;
}

.drop-col {
    margin-top: 9px;
    height: 34px;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding: 0px 5px 0px 5px;
}

.header-content {
    background-color: ghostwhite;
    padding-left: 15px;
    margin-top: 8px;
}

.batchActions {
    padding-left: 10px;
}

.custom-row {
    border-bottom: 1px solid #dddddd;
}

    .custom-row:hover {
        background-color: lightgray;
    }

.custom-pager {
    float: right;
}

.cus-print {
    font-size: 22px;
    color: #babec5;
}

    .cus-print:hover {
        color: #3b3c40;
    }

.cus-cecel {
    font-size: 22px;
    color: #babec5;
}

    .cus-cecel:hover {
        color: #3b3c40;
    }

.cus-setting {
    font-size: 22px;
    color: #babec5;
}

    .cus-setting:hover {
        color: #3b3c40;
    }

.menu-opt {
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    text-transform: uppercase;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    display: none;
}

.table-head-border {
    border-bottom: 2px solid #d4d7dc;
}

table.dataTable thead > tr > th {
    /*padding: 10px 22px 10px 0px !important;*/
    background-color: #f1f1f2;
}

    table.dataTable thead > tr > th:first-child {
        width: 30px !important;
    }

.dataTables_info {
    display: none;
}

.padding-0 {
    padding: 0px;
}

.ActionsDiv {
    width: 150px;
    float: left;
    margin-left: 20px;
}

.supplierlist_searchbardiv {
    float: left;
    padding: 0px 05px 0px 0px;
    width:100% !important;
    height:40px;
}

.custom-icon a {
    padding-right: 10px;
}

.custom-hr {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-right: 15px;
}

table tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkbox-custom {
    width: 20px;
    font-weight: 400;
    height: 20px;
    background-color: transparent;
    border: 1px solid #8d9096;
     -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.width-5p {
    float: left;
    width: 5%;
    padding-right: 5px;
}

.width-15p {
    float: left;
    width: 15%;
    padding-right: 5px;
}

.width-20p {
    float: left;
    width: 20%;
    padding-right: 5px;
}

.width-30p {
    float: left;
    width: 30%;
    padding-right: 5px;
}

.thead-th-style {
    border-right: 1px solid #ddd;
}

    .thead-th-style:hover {
        background-color: #ddd !important;
    }

.focus:focus {
    background-color: #ddd;
}

.custom-top-padding {
    padding-top: 10px;
}

.header-content {
    background-color: #ffffff;
}

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 15px;
}

.tr-style {
    border-bottom: 1px solid #ddd;
}

    .tr-style:hover {
        background-color: #f4f5f8;
    }

.width-33p {
    float: left;
    width: 33%;
    padding-right: 5px;
}

.status {
    padding-bottom: 2px;
    color: #68779b;
    outline: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 1.2rem;
}

.money-bar-contents {
    width: 100%;
    height: 120px;
    text-transform: uppercase;
    display: table;
    box-sizing: border-box;
    padding-top: 8px;
}

.money-bar-left-content {
    width: 50%;
    float: left;
}




.money-bar-paid-content {
    width: 100%;
    float: left;
}

.money-bar-right-content {
    width: 50%;
    float: left;
}

.estimate {
    background-color: #21abf6;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .estimate:hover {
        height: 67px;
        border-top: 6px solid #337192;
    }

.amount {
    margin-bottom: 1px;
    text-transform: none;
    font-weight: 500;
    line-height: 1.21;
    font-size: 2.2rem;
    outline: 0 none;
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    width: 100%;
}


.sub-content {
    outline: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    font-size: 1.2rem;
}

.activity {
    background-color: #0077c5;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .activity:hover {
        height: 67px;
        border-top: 6px solid #2b4e61;
    }


.overdue {
    background-color: #ff8000;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .overdue:hover {
        height: 67px;
        border-top: 6px solid #b97835;
    }


.invoice {
    background-color: #b1b4bb;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .invoice:hover {
        height: 67px;
        border-top: 6px solid #76777b;
    }

.paid {
    background-color: #7fd000;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}

    .paid:hover {
        height: 67px;
        border-top: 6px solid #6d962d;
    }

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.display {
    width: 100% !important;
}

.dataTable {
    width: 100% !important;
}

.no-footer {
    width: 100% !important;
}

.dataTables_scrollHeadInner {
    width: 100%;
}

.input-group {
    width: 100% !important;
}

.name-anchor-style {
    color: #2ca01c !important;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

    .name-anchor-style:hover {
        color: #2ca01c !important;
        cursor: pointer;
        text-decoration: none;
    }

#srch-term {
    margin-top: 0px;
}

}

.invoice-button {
    border: none !important;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

    .invoice-button:hover {
        background-color: transparent !important;
    }

    .invoice-button:active {
        background-color: #b1b4bb !important;
    }

.invoice-item {
    color: black !important;
    background: none !important;
}

.height34 {
    height: 34px !important;
}
.vendor_edit {
    float: right;
    left: auto;
    margin-right: 10px;
    padding-top: 10px;
}
.sl_arrow {
     width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}
.create_bill {
    font-size:14px;
    font-weight:600;
    color:#2ca01c;
    float:right;
}
.create_bill:hover {
    cursor:pointer;
    color:#2ca01c;
}


