 /*new added css start*/

 .vendor_info_container {
        width:100%;
        min-height:93px;
        float:left;
    }
 .supl_top_create_div {
     width: 97px;
     float:right;
     margin-left:10px;
     position:relative;
 }
 .supl_top_create_div .dropdown-menu {
       min-width: inherit;
    margin-top: 0px !important;
    border-radius: 4px !important;
    border-color: #b1b4bb !important;
    left: unset;
    right: 2px;
 }
 .supl_top_create_div .dropdown-toggle {
    margin-left: 0px !important;
    border-left: 1px solid #fff !important;
}
 .supl_act_div {
     width: 130px;
     float:right;
 }
 .supl_act_div .dropdown-menu {
     min-width:inherit;
     width:100px; 
     margin-top:0px !important; 
     border-radius:4px !important; 
     border-color: #b1b4bb !important; 
     left:unset;
 }
 .supl_act_div .dropdown-toggle {
    margin-left: 0px !important;
    border-left: 1px solid #fff !important;
}
 .VendorInfoTopBar {
     width:100%;
     float:left;
     height:72px;
 }
    .per_vendor_info {
        width: 66%;
        float: left;
    }
     .per_vendor_info_right {
        width: 34%;
        float: left;
    }

    .vendor_overdue {
        width: 50%;
        float: left;
        background-color: #f87d00;
    }
    .vendor_overdue:hover {
       border-top:6px solid #ab5804;
    }

    .vendor_openbill {
        width: 50%;
        float: left;
        background-color: #babec5;
    }
    .vendor_openbill:hover {
       border-top:6px solid #737373;
    }

    .vendor_paidlast {
        width: 100%;
        float: left;
        background-color: #7dcc00;
    }
     .vendor_paidlast:hover {
        border-top:6px solid #2ca01c;
    }

    .vendor_info_amount {
        width: 100%;
        float: left;
        padding: 5px 0px 0px 15px;
        text-align: left;
        font-weight: bold;
        font-size: 2.4rem;
        color: #fff;
    }

    .vendor_info_text {
        width: 100%;
        float: left;
        padding: 0px 0px 5px 15px;
        text-align: left;
        color: #fff;
    }

    .vi_left_zero {
        margin-left: 0px;
    }

    .vi_right_zero {
        margin-right: 0px;
    }

    .vendor_info_heading {
        width:100%;
        float:left;
        padding-left:15px;
        color: #000;
        font-family:sans-serif;
    }
     /*new added css end*/
     .vendor_top_info {
          float:left;
        padding-left:15px;
        color: #000;
        font-family:sans-serif;
     }


.icon_container {
    float: left;
    padding-top: 10px;
}
.custom_btn_exp {
    height:34px;
}
.action_header {
    text-align:right !important;
    padding: 10px 30px 10px 0px !important;
}
.src_custom {
    height:34px !important;
}
.custom_cexcel {
    font-size: 25px;
    color: #babec5;
    margin-top: 10px;
    margin-right: -50px;
}
.sup_btn_custom {
    position:absolute;
    z-index:10;
    right:15px;
}
.supplier_list_container {
    width:100%;
    padding:0px;
   margin-top:5px;
}
.slabp_custom_pad {
    padding:0px;
}

.custom_icon_supp {
       float: left;
    text-align: right;
}
.new_btn_top {
    margin-top:0px !important;
}
 .sup_list_device_header {
        display:none;  
    }
 .Supplier_container_style {
     overflow-x:hidden;
 }
.vendor_delete_button {
    float:right;
}
    .vendor_delete_button .fa-trash-o, .fa-trash-o:hover {
        color: #fff !important;
        cursor: pointer;
    }
    @media (max-width:1024px) {
        .expense_billing_searchdiv {
            width: 100%;
            margin-bottom: 10px;
        }
        .sup_list_header_hide {
            display: none;
        }
        .sup_list_device_row {
            width: 100%;
            float: left;
            padding: 0px !important;
        }

        .sup_list_device_header {
            display: block;
            width: 50%;
            float: left;
            text-align: left;
        }

            .sup_list_device_header span {
                float: right;
                margin-right: 10px;
            }

        .sup_list_device_info {
            width: 50%;
            float: left !important;
            text-align: left;
        }

    }
@media (max-width: 768px) {
    .VendorInfoTopBar {
        height:190px;
    }
    .per_vendor_info,
    .per_vendor_info_right {
    width: 100%;
    margin-bottom:10px;
}
    .expense_billing_searchdiv {
        width:100%;
        margin-bottom:10px;
    }
     .create_bill {
         float:left;
     }
     .tblsupplier_row_style {
         border-bottom:1px solid #ccc;
         margin-top:10px;
         display:table;
     }
    .sup_list_header_hide {
        display:none;
    }
    .sup_list_device_row {
        width:100%;
        float:left;
        padding:0px !important;
    }
    .sup_list_device_header {
        display:block;
        width:50%;
        float:left;
        text-align:left;
    }
    .sup_list_device_header span {
        float:right;
        margin-right:10px;
    }
    .sup_list_device_info {
        width:50%;
        float:left !important;
        text-align:left;
    }
    .info_mergin_top {
        margin-top:-30px;
    }
    .custom-icon {
        margin-top:-40px;
    }
    .custom_icon_supp {
        float:none;
    }
}
@media (max-width:414px) {
     .VendorInfoTopBar {
     width:100%;
     float:left;
     height:255px;
 }
    .vendor_info_heading,
    .vendor_top_info {
        padding-left:0px !important;
    }
    .vendor_overdue,
    .vendor_openbill {
        width:100%;
    }
}


