    .section-tab {
        margin-top: 10px;
    }
    .vendor_list_bottom_container {
        width:100%;
        float:left;
        padding:0px 15px;
    }

    .de-text {
    font-weight: 600;
    font-size: 14px;
    width: 25%;
    letter-spacing: 0.5px;
    }

    .des-text {
        width:75%;
        font-size: 14px;
        word-break:break-all;
    }

    .d-pane {
        margin-top: 10px;
    }
    .suppl_det_menu {
        cursor:pointer;
        color:#000;
    }
     
    .back_to_vendor_list {
    font-size: 20px;
    font-weight: 600;
    color: #777;
    float: left;
    padding-top: 8px;
    margin-right: 5px;
}
    .supd_left {
    width: 40%;
    float: left;
    padding-left: 15px;
    /*border-right: 1px solid #ccc;*/
    }
     .supd_right {
     width: 60%;
    float: left;
   padding:10px 30px;
    }
     .supl_details_container {
         width:100%;
         float:left;
         margin-top:-20px;
     }
    
        .supd_container {
    width: 100%;
    margin-top: -10px;
    /*border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
    display: table;
     }
     .supd_custom_top {
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
     }
     .supd_no_border {
         border:none !important;
     }
  .vendor_list_top_container {
      width:100%;
      float:left;
      background-color:#f4f5f8;
      padding:0px 15px 0px 15px;
  }
     .supd_custom_note {
          /*border: 1px solid #ccc;*/
     -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    /*background-color: #f8f8f8;*/
    /*padding: 10px;*/
    width: 100%;
    margin-top:10px;
     text-align: justify;
     }

     .supd_table_container {
            width: 100%;
    float: left;
    overflow-x: scroll;
     }
     
     .supd_table_container table thead tr th,
     .supd_table_container table tbody tr td {
         padding:10px;
     }
      .supd_table_container table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .supd_table_container table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .supd_table_container table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .supd_table_container table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
.bill_Payment_partial_container table {
    margin-top:5px;
    margin-bottom:5px;
}
.bill_Payment_partial_container table thead tr th,
.bill_Payment_partial_container table tbody tr td {
    padding: 10px;
    border: 1px solid #ccc;
}
      .bill_Payment_partial_container table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .bill_Payment_partial_container table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .bill_Payment_partial_container table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .bill_Payment_partial_container table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }


     .supd_header_position {
         margin-top:25px;
     }
     .supd_header_size {
         font-size:30px;
         font-weight:500;
     }
     .supd_device_header {
         display:none;
     }
     .vendor_open_container {
         width:100%;
         float:left;
         border-left:6px solid #f2b835;
     }
     .vendor_overdue_container {
         width:100%;
         float:left;
         margin-top:10px;
         border-left:6px solid #ce5133;
     }
     .per_vendor_amount {
         width:100%;
         font-size:24px;
         padding-left:10px;
         color:#000;
         float:left;
     }
     .per_vendor_text {
          width:100%;
          padding-left:10px;
         font-size:14px;
         color:#a0a0a0;
         float:left;
         text-transform:uppercase;
     }
     .vendor_nav {
         padding-left:15px;
         border-bottom:none;
     }
     
     .vendor_nav > li > a {
         font-size:14px;
         font-weight:600;
         padding: 10px 20px;
         letter-spacing:1px;
     }
.vendor_nav > li > a:hover {
    background-color: #f4f5f8;
   border-bottom:1px solid #2ca01c;
     border-top:1px solid #f4f5f8;
         border-left:1px solid #f4f5f8;
         border-right:1px solid #f4f5f8;
         
}
    .vendor_nav>li.active>a, .vendor_nav>li.active>a:focus, .vendor_nav>li.active>a:hover {
         background-color:#f4f5f8;
         border-bottom:5px solid #2ca01c;
         border-top:none;
         border-left:none;
         border-right:none;
     }
    .ven_top_btn {
    float: right;
    text-align: right;
    margin-top: 30px;
    }

    .attachment_text {
    padding-top: 10px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    }
    .attachment_text > span > i {
        font-size:23px;
        -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);  
    }
    .attachment_info {
        padding-left:40px;
        color:#ccc;
         font-style:italic;
         font-size:12px;
    }
    .attachment_block {
    height: 80px;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 26px;
    color: #ccc;
    width: 400px;
    font-size: 15px;
    font-style:italic;
    }
    .existing_text {
        font-size:17px;
        color: #2ca01c;
    }
.bill_Payment_partial_container table tbody tr td div:nth-child(1) {
    display: none;
}

@media (max-width: 1024px) {
    .de-text {
    width: 37%;
}
    .des-text {
    width: 63%;
}

}
@media (max-width: 768px) {
    .bill_Payment_partial_container table tbody tr td {
        border: 1px solid #ccc;
    }
    .supd_table_container table {
        width:300% !important;
     }
    .vendor_nav {
        padding-left:0px;
    }
    .vendor_nav > li > a {
        padding:10px 12px;
    }
    .vendor_list_top_container .col-xs-6 {
        width:100%;
        margin-top:0px;
    }
    .vendor_list_top_container .supd_top_right .col-xs-10,
    .vendor_list_top_container .supd_top_right .col-xs-2 {
         width:100%;
    }
    .bill_Payment_partial_container table thead {
        display:none;
    }
    .bill_Payment_partial_container table thead {
        display:none;
    }
    .bill_Payment_partial_container table .table_total_bg .total_bg_none_device {
        display: none;
    }
    .bill_Payment_partial_container table tbody tr td {
        width:100%;
        float:left;
        padding: 0px;
    }
    .bill_Payment_partial_container table tbody tr td div:nth-child(1) {
            display: block;
    width: 50%;
    float: left;
    text-align: left;
    font-weight:bold;
    }
     .bill_Payment_partial_container table tbody tr td div:nth-child(1) span {
           float:right;
           margin-right:10px;
    }
     .bill_Payment_partial_container table tbody tr td div:nth-child(2) {
              width: 50%;
    float: left;
    text-align: left;
    word-break: break-all;
    }
    .supd_custom_note {
    width:100%;
    padding: 10px;
    max-height: 251px;
    overflow-y: scroll;
    margin-bottom: 8px;
}
  .de-text, .des-text {
    width: 50%;
}
  .supd_custom_top {
      width:105.4%;
  }

}
@media (max-width: 414px) {
    .supd_header_hide {
        display:none;
    }
    .supd_device_row {
        width:100%;
        float:left;
        padding:0px !important;
    }
    .supd_device_header {
        display:block;
        width:40%;
        float:left;
        text-align:left;
    }
    .supd_device_info {
        width:50%;
        float:left;
        text-align:left;
    }
    .supd_header_size {
         font-size:25px;
         font-weight:500;
     }
    
     .supd_left {
    width: 100%;
    border-right:none;
    }
     .supd_right {
     width: 100%;
    }
     .de-text {
    width: 40%;
    float:left;
}
    .des-text {
    width: 60%;
      float:left;
}
    .supd_no_border {
         border-bottom:1px solid #ccc !important;
     }
    .supd_custom_top {
    width: 104.4%;
}
    .supd_top_right  {
        padding-left:0px;
    }
}
@media (max-width: 375px) {
     .de-text, .des-text {
    width: 50%;
    float:left;
}

}
@media (max-width: 375px) {
     .de-text{
    width: 40%;
    float:left;
}
     .des-text {
    width: 60%;
    float:left;
}

}