@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/Supplier/SupplierListAndBillPartial.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $(".ListViewLoader").hide();
        $(".ListContents").show();
        $(".open-supplier-list").html(TabsLoaderText);

        $(".open-supplier-list").load(domainurl + "/Supplier/SupplierListPartial");
        //$(".open-supplier-Bill").load("/Supplier/SupperBillListPartial");
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 slabp_custom_pad">
            @*<ul class="nav nav-tabs">
                <li class="active"><a  data-target="#supplierList" data-toggle="tab">@Localize.T("Supplier List")</a></li>
                <li><a data-target="#supplierBill" data-toggle="tab">@Localize.T("Supplier Bill")</a></li>
            </ul>*@
            @*<div class="tab-content">
                <div class="tab-pane active" id="supplierList">
                    
                </div>
                <div class="tab-pane" id="supplierBill">
                    <div class="open-supplier-Bill">

                    </div>
                </div>
            </div>*@
            <div class="open-supplier-list">

            </div>
        </div>
    </div>
</div>

