@{
    ViewBag.Title = "Supplier";
    Layout = null;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper
@Styles.Render("~/styles/Supplier")
@Scripts.Render("~/scripts/Supplier")

<div class="content-wrap Supplier_container_style">
    <div>
        <div class="row">
            <div class="col-xs-12">
                
            </div>
        </div>
        <div class="ListContents suppl_disp_none">

        </div>
    </div>
</div>

@*<div class="ListViewLoader">
    <div class="uil-squares-css" style='transform:scale(1); margin:auto;'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
</div>*@
@*<div class="displayNone">
    <a href="/Supplier/AddSupplier" class="addManufacturerMagnific">@Localize.T("Add New Supplier")</a>
</div>*@
