@{
    Layout = null;
}
@using PermissionHelper = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/VehicleManagement/ShowVehicleList.css" rel="stylesheet" />
<script src="~/Content/Js/VehicleManagement/ShowVehicleList.js"></script>

<div class="show_vehicle_list_container">
    <div class="show_vehicle_list_header">
        <div class="col-md-6">
            <span class="vehicleListHeader">@Localize.T("Vehicles Management")</span>
        </div>
        <div class="col-md-6">
            <button class="add_customer_file" onclick="OpenRightToLeftModal(domainurl + '/VehicleManagement/AddNewVehicle')" @*id="AddNewProduct"*@ type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("New")
            </button>
            <button class="add_customer_file" style="margin:5px" onclick="AddMilageLog()" type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Add Mileage")
            </button>
            <button class="add_customer_file" style="margin:5px" onclick="AddVehicleRepairLog()" type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Add Repair Log")
            </button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div id="vehicle_List">
        
    </div>

</div>
