 .AddAccHolder {
        float: right;
        background-color: #2ca01c;
        border: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        /*height: 32px;*/
        color: white;
        padding: 7px 10px;
    }

    .txt-style {
        padding-top: 20px;
    }

    .panel-table {
        padding-top: 20px;
    }

    .AccHPsearchbardiv {
        margin-top: 3px;
        width:40%;
        float:left;
    }
    .dataTables_filter {
        display:none;
    }
    .ahp_container {
        margin-top:-16px;
        overflow-x:hidden;
    }
    .ahp_header {
        font-size:2.4rem;
        font-weight:500;
    }
    .ahp_left {
           width: 70%;
    float: left;
    line-height: 0.9em;
    }
    .ahp_right {
        width:30%;
        float:left;
    }
     .ahp_device_header {
         display:none;
     }
@media (max-width: 768px) {
     .ahp_container {
        margin-top:-16px;
    }
     .table-body-td-style {
         width:auto;
         float:none;
     }

}

@media (max-width: 414px) {
    .ahp_header_row {
        width:100%;
        float:left;
        margin-top:5px;
    }
    .ahp_device_header {
        display:block;
        width:40%;
        float:left;
        padding-left:15px;
         text-align:left;
    }
    .ahp_device_info {
        display:block;
        width:50%;
        float:left;
        text-align:left;
    }
    .ahp_header_hide {
        display:none;
    }
     .ahp_container {
        margin-top:40px;
    }
     .ahp_header {
          width: 58%;
    float: left;
    line-height: 0.9em;
     }
     .AddAccHolder {
          width:42%;
        float:left;
     }
    .AccHPsearchbardiv {
    width:100%;
     margin-top:8px;
    }
}
@media (max-width: 375px) {
     
     .ahp_header {
          width: 54%;
   
     }
     .AddAccHolder {
          width:46%;
       
     }
   
}
@media (max-width: 320px) {
    .manual_pad {
        padding:11px !important;
    }
   .ahp_header {
          font-size:20px;
     }
     .AddAccHolder {
         padding:5px 4px;
     }
      .AccHPsearchbardiv {
   margin-top:8px;
    }
}