 .form-group {
        margin: 0;
        padding: 0;
    }

        .form-group h3 {
            /*margin-left: 30px;*/
            font-size: 2rem;
            font-weight: 400;
            color: #393a3d;
        }

    .content-type {
        /*margin-left: 30px;*/
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
        margin-bottom: 4px;
    }

    .content-text {
        height: 32px;
        width: 80%;
        font-size: 13px;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .custom-col {
        width: 18%;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    /*.txt-form {
            margin-left: 30px;
        }*/

    .item-check {
        height: 40px;
        width: 20px;
    }

    .txt-check {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 14px;
        padding-left: 4px;
    }

    #SaveAccHolder {
        background-color: #2ca01c;
        color: white;
        float: right;
    }

        #SaveAccHolder :hover {
        }

            /*style start for checkbox*/
/*style start for checkbox*/
.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: #00c31f;
 
}
.label-cbx input:checked + .checkbox svg path {
  fill: none;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
  stroke-width: 1;
  

}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
  margin-left:0px !important;
}
.label-cbx .checkbox svg {
    position: absolute;
    top: -3px;
    left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none ;
  stroke: #00c31f;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #00c31f;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}
.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

/*style end for checkbox*/
/*style end for checkbox*/
 .add_account_holder_header {
            width:100%;
            font-size:2rem;
            background-color:#f4f5f8;
            padding:10px 15px;
        }