    .zip_code_list_container {
        width:100%;
        float:left;
        padding:15px;
    }
    .zip_code_list_header {
        width:100%;
        float:left;
        font-size:24px;
        text-align:left;
    }
    .zip_code_list_search_container {
        width:100%;
        float:left;
        padding:5px 0px 10px;
    }
    .zip_code_list_search_container .searchbardiv {
        float:left;
    }
   .area_zip_code_container {
       width:100%;
       float:left;
   }
   .area_zip_code_container .paginationtextdv {
       font-weight:bold;
       padding: 5px 10px;
   }
   .area_zip_code_table {
       width:100%;
       float:left;
       margin-bottom: 10px;
   }
    .area_zip_code_table thead tr {
       border-bottom: 2px solid #d4d7dc;
    }
     .area_zip_code_table tbody tr td {
      border-bottom:1px solid #ddd;
   }
   .area_zip_code_table thead tr th,
   .area_zip_code_table tbody tr td {
       padding:10px;
   }
   .area_zip_code_table tbody tr td a {
     cursor:pointer;
   }
  
   .area_zip_code_table tbody tr:nth-child(odd) {
     background-color:#f8f8f8;
   }
    .area_zip_code_table tbody tr:hover {
     background-color:#f4f5f8;
   }
   .area_zip_code_pagination_container {
       width:100%;
       float:left;
       text-align:right;
   }
   .area_zip_code_pagination_inner {
       float:right;
   }
   .paginationtextdv {
       width:100%;
       float:left;
   }
    .add_ZipCode_btn_div {
        float: right;
        text-align: right;
    }

    #srch-term {
        width: 232px;
    }

    #pagination {
        display: inline-block;
    }
    .paginationMiddleButtondv {
    width: 38px;
    float: left;
    margin-right:2px;
}
    .PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}
    .NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
}
    .activeBtn {
    background-color: #ddd !important;
    color: black;
    border: none;
    height: 26px;
    width: 35px;
}
    .paginationRightButtondv {
    width: 38px;
    float: left;
    margin-left:2px;
}
    .btn {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
