
.displayNone {
    display: none;
}
.test_acc_style {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 6px 8px 6px;
    box-sizing: border-box;
    display: unset;
    cursor: pointer;
    font-weight: normal;
}

.supplier-list-style {
    margin-top: 10px !important;
    /*width: 30% !important;*/
}

.margin-top-15p {
    margin-top: 15px;
}

.txtAreaMailBody {
    margin-top: 10px;
    height: 200px !important;
    padding-right:50px;
}

/*.coming-soon {
    height: 34px;
    font-size: -webkit-xxx-large;
    width: 100%;
}*/

.nav-tabs > li > a {
    background-color: transparent !important;
}

.nav-tabs > li > a {
    background-color: transparent !important;
    color: #454545;
    border: none !important;
}

    .nav-tabs > li.active {
        background-color: #2ca01c !important;
    }

.nav-tabs > li {
    border-right: 1px solid #ccc !important;
}
.ld_nav > ul {
    border-top:1px solid #ccc;
     background-color:#f4f5f8;
}

    .nav-tabs > li.active > a {
        color: white !important;
    }

.tr-title-custom {
    width: 120px !important;
    font-weight: 600;
    font-size: 13px;
    border-right: 1px solid #CCCCCC;
}

.convertToCustomerTable {
    border-top: 1px solid #CCCCCC;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

#leadToCustomer {
    float: left;
}

/*.tr-data {
    padding-left: 10px !important;
    margin-top: 7px;
}*/
.tr-data {
    /*margin-top: 5px;*/
    margin-top:0px;
    font-size: 1.3rem;
    width: 100% !important;
    float: left !important;
    padding-left : 5px;
}

/*.tr-title-cs-custom {
    width: 120px !important;
    font-weight: 600;
    font-size: 13px;
}*/

/*.info-table-tr-custom {
    height: 38px;
    width: 90%;
}*/
.leadfinance_status_button {
    background-color: #2ca01c;
    color: white;
    float: right;
    border-color: #2ca01c;
    font-weight: 600;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 23px;
    border: 0;
    margin: 0px;
    padding: 0px 10px !important;
}
.sync-credit-report-table {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

#sendEmail {
    max-width: 564px;
}

#creditReport {
    /*max-width: 424px;*/
    width: 100%;
}

#convertToCustomer {
    /*max-width: 424px;*/
    width: 100%;
}

.custom-envelope {
    margin-right: 5px;
    padding: 9px 12px;
    margin-top: 5px;
}
.custom_phone_icon_style {
    margin-right: 5px;
    padding: 3px 5px;
    margin-top: 5px;
    height:35px;
}
   

/*.table-left-details {
    margin-bottom: 40px;
}*/

/*#CustomerNoteReminderDate {
    margin-top: 6px;
}*/

/*#CustomerNoteNewNote {
    margin-top: 6px;
}*/

.back-to-leadList {
    float: right;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color:#333;
}
.back-to-leadList:hover {
    color:#2ca01c;
    text-decoration:none;
}

.tr-data-custom {
    font-size: 1.4rem;
    float: left;
}
    .tr-data-custom.address{
        text-transform:capitalize;
    }.txtsubject {
        margin-bottom: 10px !important;
    }

#SubjectList {
     -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    border: 1px solid rgba(170, 170, 170, 0.68);
}

.cus-checkBox {
    transform: scale(1.4);
}

.lbl-CheckBoxText {
    /*padding-left: 10px;*/
    font-weight: 500 !important;
    margin-top:12px;
    position:absolute;
}

.table-sub-header {
    padding: 10px;
    background: #ddd;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.LoadCreditReport {
    font-weight: 600;
}

fieldset.custom-fieldset {
    border: 2px solid #ddd !important;
    /*margin: 0 0 1.5em 0 !important;*/
    box-shadow: 0px 0px 0px 0px #000;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

legend.custom-legend-border {

    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.lead_subTab_left_content {
    width: 100%;
    padding-right: 10px;
    float: left;
}
.lead_details_inner_right
{
    width:100%;
    float:right;
}
.lead_subTab_rightInner_content
{
    width:35%;
}
.lead_subTab_right_content {
    width: 60%;
    padding-right: 0px;
    float: right;
}
.lead_package_info_right {
    float: left;
    width: 48%;
}
.lead_details_info_right {
    float: right;
    width: 50%;
}

.lead_details_info_left {
    float: left;
    width: 40%;
    padding-right: 0px;
}

.emailTextTemplate {
    position: absolute;
    left: 86%;
    top: 35px;
    /*z-index:999999;*/
}

.emailTextTemplateList {
    position: absolute;
    left: 1%;
    top: 31px;
    width: 269px;
}

.positionRel {
    position: relative;
}

.lead_details_container{
    padding-left : 10px;
    padding-right : 10px;
    overflow-x: hidden;
}
.QA1Call{
    color:black;
}
.QA2Call{
    color:black;
}
.Techcall{
    color:black;
}

/* new for Credit Report And Convert to customer */

.wrapper {
  /*width: 98%;*/
  /*margin: 10px auto;*/
}


.cell {
  display: table-cell;
  padding:.5em;
}

.cell:nth-child(odd) {
  /*background: lightgrey;*/
}
.margin-0{
    margin:0;
    background-color: #f4f5f8;
}
@media (max-width:786px) {
    .lead_package_info_right {
    width:100%;
}
}
@media (max-width: 600px) {
  .row,
  .cell
  {
    display: block;
  }
}

#title_width{
    width: 125px;
}

.lead_details_info_container_Credit_report {
    background-color: #f4f5f8;
    width: 100%;
    display: table;
    margin-bottom: 10px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 5px;
}
@media (max-width:414px) {
    .lead_package_info_right {
    width: 100%;
}
.lead_details_container {
    padding-left: 5px;
    padding-right: 5px;
 }
.lead_details_tabs .nav-tabs > li {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

}