.lead_details_title_div {
    width: 100%;
    float:left;
    padding-bottom:10px;
}
.lead_detail_name_title {
    font-size: 2.4rem;
    font-weight: 500;
    font-style: normal;
    color: #393a3d;
    margin: 0px;
    border: 1px solid #ccc;
    padding: 0px 5px;
    margin-right: 5px;
    border-radius: 4px;
    margin-top: 5px;
    height:35px;
}
    .lead_detail_name_title .cus_name_style {
        float: left;
        padding-top: 7px;
    }
    .lead_detail_name_title #getDirection {
        float: left;
        width: auto;
        margin-right: 0px;
        margin-top: 0px;
        margin-left: 5px;
    }
    .lead_detail_title_address {
        font-size: 15px;
        font-style: italic;
    }
.lead_details_info_container {
    width:100%;
    float:left;
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    border:1px solid #ccc;
    padding: 10px 10px 0px 10px;
    margin-top:20px;
    margin-bottom:10px;
}
.ld_text_style_custom {
    text-transform:capitalize;
    word-break: normal !important;
}
.li_info_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom:10px;
}
.li_info_details_block {
    width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 0px 0px 10px 10px;
}
.li_info_details_block_for_payment {
    width: 100%;
    font-size: 13px !important;
    float: left;
    padding:10px;
}
.li_info_details_row {
    width:100%;
    float:left;
}
.li_info_details_left {
    width:50%;
    float:left;
    position:relative;
}
.li_info_details_left span {
       float: right;
    margin-right: 5px;
    font-weight: bold;
}
.li_info_details_left label {

}
.li_info_details_right {
    width:50%;
    float:left;
    word-break:break-all;
}
.li_info_details_right span {
      float: left;
    margin-right: 5px;
    font-weight: bold;
}
.li_info_details_right.citystate {
    text-transform:capitalize;
    word-break:break-all;
}
.li_info_details_right.li_info_note {
      text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform:lowercase;
}

.li_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
     -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
.li_header > a > i {
    font-size:15px;
}
.ClickVerify, .QA1Call, .ClickSetup, .Techcall, .QA2Call, .Personaledit {
    color: #000;
    float: right;
    height: 25px;
    padding: 3px 10px;
    /*background-color: #ccc;*/
    margin-top: -2px;
    margin-right: -7px;
    margin-left:10px;
}
#btnPackage {
    background-color: #ddd;
    color:#000;
}
#btnPackage:hover {
    background-color: #2ca01c;
    color:#fff;
}
.SetupClick {
    color: #000;
    float: right;
    height: 25px;
    padding: 3px 10px;
    margin-top: -2px;
    margin-right: -7px;
}

.li_right_pad_zero {
    padding-right:0px;
}
.li_block_top_margin {

}
.custom_row_style {
        margin-top: 5px;
    }

    #AddSchedule {
        background-color: #2ca01c;
        color: white;
        height: 34px;
        border: none;
        margin-top: 10px;
        float: right;
        padding:0px 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .style-schedule {
        padding-bottom: 50px;
    }
    .bak_lead_list {
    font-size: 20px;
    font-weight: 600;
    color: #777;
    float: left;
    padding-top: 5px;
    margin-right: 5px;
        margin-top: 5px;
    }
    .ld_nav > ul > li > a:hover {
        cursor:pointer;
    }
    .text_allign_center {
        text-align:center;
    }
    .lead_details_tabs{
        width:100%;
        float:left;
    }
    .no_item_div {
        padding:5px 10px;
        font-style:italic;
        color:#ccc;
    }
    .ld_addi_contact {
         float: right;
    border: 1px solid #8d9096;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #393a3d;
    font-weight: 600;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 23px;
    border: 0;
    margin: 0px;
    padding: 0px 10px !important;
    }
    .lead_add_note_btn {
          background-color:#2ca01c;
        color:#fff;
        margin-top:5px;
    }
    #btnSmartLeadSetup {
        float:right;
        margin-top: 5px;
    }

    #leadToCustomerConvert {
        margin-left:10px;
        margin-top:5px;
    }
@media (max-width: 1024px) {
      .lead_detail_title_left {
        width:100%;
    }
    .lead_detail_title_right {
        width:100%;
        margin-top:10px;
        margin-bottom:10px;
        padding-right:10px;
    }
    .lead_details_info_left,
    .lead_subTab_right_content {
        width:100%;
    }
     .lead_details_info_right {
        width:100%;
        padding-top:10px;
        padding-right:5px;
    }
     .lead_subTab_right_content {
          padding-right:0px;
     }
}

@media (max-width: 768px) {
    
    .lead_subTab_left_content {
        width:100%;
        padding-right:0px;
    }
    .lead_subTab_right_content {
         width:100%;
        padding-top:10px;
    }
    .ld_nav > #myTab > li > a {
        padding: 10px 13px;
    }
   
  
  .leads_padd_right {
      padding-right:unset;
  }
}
@media (max-width: 414px) {
    #btnSmartLeadSetup {
        float:none;
    }
    .lead_details_title_div {
        padding-bottom:0px;
    }
    .lead_detail_name_title {
        width: 92%;
        margin-right: 0px;
        height:unset;
    }
    

    .lead_detail_title_right {
        padding-right:0px;
        margin: 0px;
    }

    .lead_detail_title_right button {
        float:left;
        padding: 6px 3px;
    }
    .lead_detail_title_right .lead_details_btn {
        margin-right:0px;
    }
    .lead_details_info_container {
        padding:5px;
        margin-top: 5px;
}
    .lead_details_info_left{
       padding-right:0px;
    }
}
