
body {
    overflow: hidden;
    margin: 0px;
}
.add_user_content_scroll {
    width:100%;
    float:left;
    padding:0px 20px;
    overflow-y:auto;
}
.Navigation {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
}

.CandelBtnDiv {
    float: left;
}

.BackBtnDiv {
    float: right;
}

.NextBtnDiv {
    float: right;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.NameDiv {
    padding-left: 5px;
}

.dataTables_length {
    display: none;
}

.pagination {
    float: right;
}

.dataTables_paginate {
    width: 50%;
    float: right;
}

.dataTables_info {
    width: 50%;
    float: left;
    text-align: left;
}

#tblVideo {
    width: 100%;
}

.usertypeTbl tr td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.PermissionGroupRadio {
    cursor: pointer;
}

.thead-style {
    border-left: 1px solid #ddd;
}

.dataTables_filter {
    float: right;
}

.tr-style {
    border-bottom: 1px solid #ddd;
}

    .tr-style:hover {
        background-color: #ddd;
    }

.thead-th-style {
    border-right: 1px solid #ddd;
}

    .thead-th-style:hover {
        background-color: #ddd !important;
    }

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 5px;
}

.checkbox-custom {
    width: 15px;
    font-weight: 400;
    height: 15px;
    background-color: transparent;
    border: 1px solid #8d9096;
    border-radius: 2px;
    -webkit-border-radius: 2px;
-moz-border-radius: 2px;
}

table.dataTable thead > tr > th {
    padding: 8px;
    background-color: #f1f1f2;
}

.CancelBtn {
    float: left;
    margin-left: 27px;
    margin-top: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(134, 126, 126);
    border-color: rgb(134, 126, 126);
}

.NextBtnDiv {
    margin-right: 70px;
    margin-top: 13px;
}

.BackBtnDiv {
    margin-top: 13px;
    margin-right: 10px;
}

.MainContainerDiv {
    padding: 0px 0px;
}

.usertypeTbl {
    width: 100%;
    /*margin-left: 10px;*/
}
    .usertypeTbl tr {
        border-bottom: 1px solid #ccc;
    }
    .add_user_branch_header {
        padding-top:5px;
    }

.ChooseUserTypeHeader {
    text-align: center;
    background-color:#e4e4e4;
}

    .ChooseUserTypeHeader div {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size:2rem;
    }

.FinishMessage {
    padding-top: 20px;
}

.PermissionGroupDiv {
    padding-bottom: 10px;
}

    .PermissionGroupDiv span {
        font-size: 12px;
    }

.PermissionRadioDiv {
    position: relative;
    top: 8px;
}

.th-select-style {
    width: 75px !important;
}

.tooltipw {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltipw .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        -webkit-border-radius: 6px;
-moz-border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -100px;
        opacity: 0;
        transition: opacity 1s;
    }

        .tooltipw .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltipw:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.tr-branchList {
    border-bottom: none !important;
}

#branchId {
    font-size: 13px;
}

.permisson-content {
    float: left;
    width: 50%;
}

.left-allign {
    float: left;
    margin-right: 10px;
}

.custom_height {
    height: 50px;
}

.PermissionListTreeView {
    height: 435px;
    overflow-y: auto;
}

input[type=checkbox] {
    vertical-align: middle !important;
}

/*.tree {
  margin: 2% auto;
  width: 80%;
}*/

.tree ul {
    display: none;
    margin: 4px auto;
    margin-left: 6px;
    border-left: 1px dashed #dfdfdf;
}


.tree li {
    /*padding: 12px 18px;*/
    cursor: pointer;
    /*vertical-align: middle;*/
    background: #fff;
    list-style: none;
}

    .tree li:first-child {
        border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
    }

    .tree li:last-child {
        border-radius: 0 0 3px 3px;
         -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
    }

.tree .active,
.active li {
    background: #efefef;
}

.tree label {
    cursor: pointer;
}

.tree input[type=checkbox] {
    margin: -2px 6px 0 0px;
}

.has > label {
    color: #000;
}

.tree .total {
    color: #e13300;
}
