.txt-design {
        /*margin-left: 20px;*/
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        margin-bottom:30px;
    }

    
    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    .btn-income {
        background-color: rgba(0, 128, 0, 0.85);
        color: white;
        float: right;
    }

        .btn-income:hover {
            color: white;
            background-color: rgba(0, 128, 0, 0.85);
        }

    

    .txt-border {
        margin-top: 5px;
    }

    /*input[type=text] {
        width: 132%;
        padding: 5px;
        margin: 2px 0;
        box-sizing: border-box;
    }*/
    .txt-format{
        margin-top:10px;
    }
    input[type=text] { 
    padding: 5px;
    margin: 2px 0;
    box-sizing: border-box;
    }
    
    .txt-format-time{
        margin-left:30px;
        width:40%;
    }
    span{
        color:#404040;
        font-weight:600;
        display:block;
    }
    .custom-row{
        margin-left:0;
        margin-right:0;
    }