.AddHrOccurance_container {
    width:100%;
    float:left;
}
.AddHrOccurance_header {
    width:100%;
    float:left;
    background-color: #f4f5f8;
    padding: 10px 15px;
    font-size:20px;
    text-align:left;
}
.AddHrOccurance_inner {
     width:100%;
    float:left;
    padding: 10px 15px;
}
.AddHrOccurance_inner_info {
    width:100%;
    float:left;
    margin-bottom:10px;
}
.AddHrOccurance_inner_info label {
    margin-bottom:0px;
}
 .AddHrOccurance_footer {
        background: #eceef1;
        padding:15px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
 .AddHrOccurance_footer button {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
 }