.hr_emergency_contact_container {
    width:100%;
    float:left;
     padding-top: 10px;
}
.hr_emergency_contact_container .customer-emergency-list-container {
    min-height:unset;
}

.hr_emergency_contact_container #AddNewEmgContactPartial input,
.hr_emergency_contact_container #AddNewEmgContactPartial select {
    box-shadow:none;
}
.hr_emergency_contact_container .col-md-12:nth-child(1) {
    padding-right:0px;
}
.hr_emergency_contact_info {
      width:100%;
        float:left;
        padding:10px 0px;
}
#EmergencyContactList .container-fluid {
    padding-left:0px;
    padding-right:0px;
}
#EmergencyContactList #TblEmergencyContactList thead tr th {
    font-size:13px;
    font-weight:bold;
}
#AddNewEmgContactPartial,
#EmergencyContactList {
    width:100%;
    float:left;
}