.insurance_categories_checkbox {
    width:100%;
    float:left;
    padding: 0px;
  
}
.insurance_categories_checkbox input {
    /*margin-left:15px;*/
}
.insurance_categories_checkbox input:nth-child(1) {
    margin-left:0px;
}
@media (max-width:768px) {
    .insurance_categories_checkbox .col-md-6 {
        width:50%;
        float:left;
    }
}
@media (max-width:414px) {
    .insurance_categories_checkbox .col-md-6 {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
}
.weekly_holyday {
    background-color: #ffb6b6;
}

.normal_holyday {
    background-color: #ffe282;
}