.employee-occurance-container {
    width: 100%;
    float: left;
    padding-top: 10px;
}

    .employee-occurance-container .col-md-12 {
        padding-right: 0px;
    }

.hr_occurance_info {
    width: 100%;
    float: left;
    padding: 10px 0px;
}

    .hr_occurance_info table {
        width: 100%;
        float: left;
    }

        .hr_occurance_info table thead tr {
            border-bottom: 2px solid #d4d7dc;
        }

            .hr_occurance_info table thead tr th {
                padding: 10px 0px;
            }

                .hr_occurance_info table thead tr th:nth-child(1),
                .hr_occurance_info table thead tr th:nth-child(2) {
                    width: 25%;
                }

            .hr_occurance_info table thead tr td {
                padding: 10px;
                border-right: 1px solid #ddd;
                font-weight: bold;
                cursor: pointer;
            }

                .hr_occurance_info table thead tr td:hover {
                    background-color: #f4f5f8;
                }

        .hr_occurance_info table tbody tr td {
            padding: 10px;
            cursor: pointer;
        }

        .hr_occurance_info table tbody tr {
            border-bottom: 1px solid #d4d7dc;
        }

            .hr_occurance_info table tbody tr td div:nth-child(1) {
                display: none;
            }
            /*.hr_occurance_info table tbody tr:nth-child(even) {
        background-color:#f8f8f8;
    }*/
            .hr_occurance_info table tbody tr:hover {
                background-color: #f4f5f8 !important;
            }
/*.pto_partial_device_header {
          display:none;
      }*/
@media (max-width:919px) {
    /*.hr_occurance_info table thead {
            display:none;
        }*/
    /*.hr_occurance_info table tbody tr td {
              width:100%;
              float:left;
              padding: 2px 10px;
          }
        .pto_partial_device_header {
             display:block;
          width:35%;
          float:left;
          font-weight:bold;
        }*/
}

@media (max-width:768px) {
    .Management_Home_inner_2 .hr_occurance_info table thead {
        display: none;
    }

    .Management_Home_inner_2 .hr_occurance_info table tbody tr td {
        width: 100%;
        float: left;
        padding: 3px 5px;
    }

    .Management_Home_inner_2 .hr_occurance_info table tbody tr td div:nth-child(1) {
        display: block;
        width: 45%;
        float: left;
        text-align: left;
        font-weight:bold;
    }
    .Management_Home_inner_2 .hr_occurance_info table tbody tr td div:nth-child(1) span {
      float:right;
      margin-right:10px;
    }
    .Management_Home_inner_2 .hr_occurance_info table tbody tr td div:nth-child(2) {
        width: 55%;
        float: left;
        text-align: left;
        word-break: break-all;
    }
}
