.CustomSurveyMainDiv {
    width:100%;
    float:left;
}
.run_survey_container {
    padding-top: 50px;
    width: 50%;
    float:left;
    margin-left: 25%;
    border: 1px solid #ccc;
}
    .run_survey_container .CustomSurveyMainDiv {
        overflow-x:hidden;
        overflow-y:auto;
    }
    .CustomSurveyMainDiv_header {
        width: 100%;
        float: left;
        font-size: 2.4rem !important;
        padding: 5px 15px;
        background-color: #f4f5f8;
        border-bottom: 1px solid #ccc;
    }
.run_survey_container .CustomSurveyMainDiv_header {
    font-size:22px !important;
}
.Question_div {
    width: 100%;
    float: left;
    padding: 0px 15px;
}
.Question_div_separate {
    width:100%;
    float:left;
    padding:10px 0px;
}
.Question_div_separate label {
    margin-bottom:0px;
}
.Question_div_separate > label:first-child {
    width:100%;
    float:left;
}
    .Question_div_separate > div {
        padding-left: 15px;
        padding-top: 5px;
        font-weight: normal;
    }
.Question_div_separate div label {
    width: 50%;
    float: left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.Question_div_separate div label span {
    display: contents;
    float: left;
    font-weight: normal;
}
.run_survey_container .Question_div_separate div label span {
   
    font-weight: bold;
    cursor:pointer;
}
    .run_survey_container .Question_div_separate div label:nth-child(1) span {
        color:#2ca01c;
    }
.run_survey_container .Question_div_separate div label:nth-child(2) span {
    color: #d71920;
}
    .Question_div_separate div label input {
        float: left;
        margin-right: 5px;
    }
.CustomSurveyMainDiv .Save_div {
    width:100%;
    float:left;
    padding: 0px 15px;
    margin-bottom:15px;
}
.CustomSurveyMainDiv .Save_div button {
    background-color:#2ca01c;
    color:#fff;
}
.Question_div_separate input[type=text],
.Question_div_separate textarea {
    width:50%;
    resize:none;
}
.Question_div_separate > div div {
    width: 50%;
    float: left;
     overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.run_survey_container .Save_div {
    width:100%;
    float:left;
    padding:10px;
    text-align:right;
}
    .run_survey_container .Save_div button,
    .run_survey_container .Save_div button:hover,
    .run_survey_container .Save_div button:focus {
        background-color: #2ca01c;
        color: #fff;
    }
.normal_text {
    margin-left: 5px;
    font-weight: normal;
}
.eg_sample_text {
    width: 100% !important;
    float: left;
    font-size: 10px;
    padding-left:0px !important;
}
.survey_signature_container {
    width: 100%;
    float: left;
}
.survey_signature {
    width: 170px;
    float: left;
}
.survey_signature_text {
    width:100%;
    float:left;
}
.srvey_sign .sign-document {
    width:300px;
    float:left;
    position:relative;
}
    .srvey_sign .sign-document .wrapper {
        width: 300px;
    }
    .srvey_sign .sign-document button {
        top: 6px;
        right: -15px;
        position:absolute;
    }
        .srvey_sign .sign-document button,
        .srvey_sign .sign-document button:hover,
        .srvey_sign .sign-document button:focus {
            background-color: #d71920 !important;
            color: #fff !important;
            border-color: #d71920 !important;
        }
.sign_table tr td:nth-child(1) {
    vertical-align: bottom;
    padding-right: 5px;
}
.sign_table tr:nth-child(1) td:nth-child(2) {
    border-bottom:1px solid #000;
}
.sign_table tr:nth-child(2) td:nth-child(2) {
    text-align:center;
}
@media (max-width:768px) {
    .run_survey_container {
        padding-top: 50px;
        width: 100%;
    }
        .run_survey_container {
            margin-left:0px;
        }
}
@media (max-width:414px) {
    .CustomSurveyMainDiv {
  overflow-y:scroll;
}
    .Question_div_separate > div {
        width:100%;
    }
.Question_div_separate input[type=text],
.Question_div_separate textarea {
    width:100%;
}
}

