    .QuesEditContainer {
        width: 100%;
        float: left;
        position:relative;
    }
    .QuesEdit_header {
        width: 100%;
        float: left;
        background-color: #2ca01c;
        padding: 5px 15px;
        font-size: 22px;
        color: #fff;
    }
    .QuesEditContainer_inner {
        width:100%;
        float:left;
        padding:15px 15px 0px;
    }
    #AddNewQues {
        width:100%;
        float:left;
        padding:0px 5px;
    }
    #QuestionList {
        width:100%;
        float:left;
        overflow-x:hidden;
        overflow-y:scroll;
        margin-top:10px;
        padding: 0px 5px;
    }
    #QuestionList table tbody tr th:nth-child(2) {
        width: 150px;
    }
     #QuestionList table tbody tr th:nth-child(3) {
        width: 100px;
        text-align:center;
    }
     #QuestionList table tbody .ques_row:nth-child(odd) {
        background-color:#f8f8f8;
    }
      #QuestionList table tbody .ques_row:hover {
        background-color:#f4f5f8;
    }
     
    .width-30p {
        width: 40%;
        float: left;
    }

    .width-70p {
        width: 60%;
        float: left;
    }

    .AnsItem {
        cursor: pointer;
        padding: 5px;
    }

        .AnsItem:hover,
        .QuesList .AnsItem:nth-child(odd):hover {
            background-color: #eaeaea;
        }

    .QuesList {
        border: 1px solid #ccc;
        padding: 10px;
        position: relative;
    }

    .active_data, .active_data:hover {
       font-weight:bold;
    }
    .FilterFunding {
        width:100%;
        float:left;
        padding: 10px 5px 0px 5px;
    }
        .btn-IsComplete {
        margin-left: 15px;
        color: white;
        font-weight: 600;
        background-color: #2ca01c;
    }

    .add_followup_reminder_body {
    }

    .label {
        color: red;
    }

    #btn-SaveQuestions,#btn-SetQuestions,#btn-EditQuestions {
        float: right;
        background-color: #2ca01c;
        color: white;
        margin-left: 10px;
    }

    .Survey_SaveCancelDiv {
        width: 100%;
        float:left;
        padding-top: 8px;
    }
    .Ques_panel_left {
        width:50%;
        float:left;
        padding-right:5px;
    }
   .Ques_panel_left textarea {
       resize:none;
   }
    .Ques_panel_right {
         width:50%;
        float:left;
        padding-left:5px;
    }
    .Ques_panel_left label:nth-child(1),
    .Ques_panel_right label:nth-child(1) {
        margin-bottom:0px;
    }


     .answer_item_container {
        border: 1px solid #ccc;
        max-height: 100%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
    }
     .answer_item_container_header {
        width: 100%;
        float: left;
        padding: 5px;
        text-align: center;
        font-weight: bold;
        background-color: #f4f5f8;
     }
     .answer_item_inner {
         width:100%;
         float:left;
         padding:10px;
     }
    .AnswerItemsTable {
        width: 100%;
        table-layout:fixed;
    }

    .AnswerItemsTable thead {
        border-bottom: 2px solid #ccc;
    }

    .AnswerItemsTable tbody tr {
        height: 55px;
        border-bottom: 1px solid #ccc;
    }
    .AnswerItemsTable tbody tr td:nth-child(1) {
        text-align:left;
    }
    .LookupItemsTable tbody tr td {
        text-align: center;
    }

    .LookupItemsTable tbody tr td:nth-child(1) {
        text-align: left;
        padding-left: 10px;
    }

    .AnswerItemsTable thead th {
        padding: 10px 0px;
        text-align: center;
    }

    .AnswerItemsTable tbody tr:nth-child(odd) {
        background-color: #f4f5f8;
    }

    .NewAnswerDiv {
        margin-top: 10px;
    }
    .AnswerItemsTable tbody tr td:nth-child(1) div {
        width:100%;
        float:left;
        padding-left:10px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;

    }
    .AnswerItemsTable tbody tr td:nth-child(3) {
        text-align:center;
    }
    .AnswerItemsTable thead tr th:nth-child(2) {
        width:170px;
    }
    .AnswerItemsTable thead tr th:nth-child(3) {
        width:100px;
    }
    .AnsEditModule {
        text-align:center;
    }
    .AnsEditModule > div:first-child {
        width:100%;
        float:left;
        padding:10px;
    }
    .Questiontable {
        width:100%;
        float:left;
    }
     .Questiontable thead tr th {
         border-bottom:2px solid #ccc;
     }
      .Questiontable tbody tr td {
       border-bottom:1px solid #ccc;
    }
    .Questiontable thead tr th,
    .Questiontable tbody tr td {
        padding:5px;
    }
    .Questiontable thead tr th:nth-child(2),
    .Questiontable thead tr th:nth-child(3) {
        width:150px;
    } 
    
    .Questiontable thead tr th:nth-child(3),
    .Questiontable tbody tr td:nth-child(3) {
        text-align:center;
    }
    @media (max-width:414px) {
        .QuesEdit_header {
            font-size:17px;
        }
        .QuesEditContainer_inner .width-60p,
        .QuesEditContainer_inner .width-40p {
            width:100%;
        }
         .QuesEditContainer_inner .width-40p {
           margin-top:10px;
        }
        .QuesEditContainer_inner {
            overflow-x:hidden;
            overflow-y:scroll;
        }
        #AddNewAnswer {
            margin-top:10px;
        }
        #AddNewQues .Ques_panel_left,
        #AddNewQues .Ques_panel_right {
            width:100%;
            float:left;
            padding-left:0px;
        }
         #AddNewQues .Ques_panel_right label:nth-child(1) {
             margin-top:5px;
         }
    }