.AllAssignSurveyUser_container {
    width:100%;
    float:left;
}

.AllAssignSurveyUser_header {
    width: 100%;
    float: left;
    text-align: left;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}
.AllAssignSurveyUser_searchbar {
    width:100%;
    float:left;
    padding:10px 15px 0px;
}
.AllAssignSurveyUser_searchbar input {
    width:320px;
}
.AllAssignSurveyUser_inner {
    width:100%;
    float:left;
    overflow-x:hidden;
    overflow-y:scroll;
}
.AllAssignSurveyUser_table {
    width:100%;
    float:left;
   
}
.AllAssignSurveyUser_table table thead tr th {
    border:none;
}
.AllAssignSurveyUser_table table thead tr th:nth-child(4),
.AllAssignSurveyUser_table table thead tr th:nth-child(6) {
    width:180px;
}
.AllAssignSurveyUser_table table thead tr th:nth-child(5) {
    width:110px;
}
.AllAssignSurveyUser_table table tbody tr:nth-child(odd) {
   background-color:#f8f8f8;
}
.AllAssignSurveyUser_table table tbody tr:hover {
   background-color:#f4f5f8;
}
 .AllAssignSurveyUser_pagination_container {
       width:100%;
       float:left;
       text-align:right;
   }
   .AllAssignSurveyUser_pagination_inner {
       float:right;
   }
   .AllAssignSurveyUser_table table tbody tr td div:nth-child(1) {
           display:none;
       }
   .red{
       color:red;
   }
   .green{
       color:green;
   }
   @media (max-width:768px) {
       /*.AllAssignSurveyUser_table table thead {
           display:none;
       }
       .AllAssignSurveyUser_table table tbody tr td {
           width:100%;
           float:left;
           padding:2px 5px;
           box-sizing:border-box;
       }
       .AllAssignSurveyUser_table table tbody tr td div:nth-child(1) {
           display:block;
           width:45%;
           float:left;
           text-align:left;
           font-weight:bold;
       }
        .AllAssignSurveyUser_table table tbody tr td div:nth-child(2) {
           width:45%;
           float:left;
           text-align:left;
       }
*/
   }

   @media (max-width:414px) {
       .AllAssignSurveyUser_searchbar input {
        width:100%;
        }
   }