.survey_settings_partial_container {
    width:100%;
    float:left;
    padding:10px 15px 0px;
    margin: auto;
}
.survey_settings_header_container {
    width:100%;
    float:left;
    padding-bottom:10px;
}
.survey_settings_partial_header {
    width:50%;
    float:left;
    text-align:left;
    font-size: 24px;
    font-family: 'Play', sans-serif;
    color: #000000;
}
.survey_settings_partial_btn {
    width:50%;
    float:left;
    text-align:right;
}
.survey_settings_partial_btn button {
    background-color:#2ca01c;
    color:#fff;
}
#ShowSurveyList {
    width:100%;
    float:left;
}
#ShowSurveyList table {
     width:100%;
    float:left;
    table-layout:fixed;
}
#ShowSurveyList table tbody tr:nth-child(odd) {
    background-color:#f8f8f8;
}
#ShowSurveyList table tbody tr:hover {
    background-color:#f4f5f8;
}
 #ShowSurveyList table tbody tr td div:nth-child(1) {
         display:none;
    }
@media (max-width:414px) {
    #ShowSurveyList table thead {
        display:none;
    }
    #ShowSurveyList table tbody tr td {
        width:100%;
        float:left;
        padding:3px 5px;
        box-sizing:border-box;
    }
     #ShowSurveyList table tbody tr td div:nth-child(1) {
         display:block;
        width:45%;
        float:left;
        text-align:left;
        font-weight:bold;
    }
     #ShowSurveyList table tbody tr td div:nth-child(2) {
        width:55%;
        float:left;
        text-align:left;
    }
     #add-Package {
         margin-top:5px;
     }
    
}