@model List<HS.Entities.Invoice>
@{
    Layout = null;
}

@using Localize = HS.Web.UI.Helper.LanguageHelper

<div class="">
    @foreach(var item in Model)
    {
        <span>@item.InvoiceId</span>
    }
</div>