#Note{
    height:60px !important;
}
select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 19px) calc(1em + 2px), calc(100% - 14px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}
.custom_margin_top {
    margin-top:-27px;
}

.contents {
    max-width: 1024px;
    margin: auto;
}
.add_customer_wrapper {
    width:100%;
    margin-top:0px;
    height:740px;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch; /* Stops scrolling immediately */
    margin-top:50px;
}

.add_customer_wrapper .contents {
    max-width:unset;
    width:100%;
    padding-left:0px;
    padding-right:0px;
}
.home_owner_req_his {
    font-size: 17px;
    color: #2ca01c;
    margin-left: 3px;
    cursor: pointer;
}
.add_customer_wrapper .navbar-fixed-top {
    position: absolute;
}
.add_customer_wrapper_custom {
    width:100%;
    margin-top:0px;
    height:740px;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch; /* Stops scrolling immediately */
    margin-top:50px;
}

.add_customer_wrapper_custom .contents {
    max-width:unset;
    width:100%;
    padding-left:0px;
    padding-right:0px;
}
.add_customer_wrapper_custom .navbar-fixed-top {
    position:absolute;
}
.width-10p{
    width:10% !important;
}
.width-23p{
    width:23% !important;
}
.custom_width_33p{
    width:33% !important;
}
hr.style1 {
    border-top: 1px solid #c7c1c1;
    width: 94%;
    margin: auto;
}

.span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    position:relative;
}

.form-control {
    outline: none;
    height: 34px;
    border: 1px solid #babec5;
    padding: 0 8px;
     -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
    transition-property: border;
    transition-duration: 0.35s;
    font-size: 13px;
    background-color: #ffffff;
    box-sizing: border-box;
    /*-webkit-appearance: none;*/
    width: 100%;
    vertical-align: middle;
}
/*#BillNotes {
    resize:none;
}*/
.customer-information-left-div {
    float: left;
    width: 49%;
}
.customer-information-left-div-activity{
    float: left;
    width: 62%;
}
.customer-information-right-div {
    float: right;
    width: 49%;
}
.customer-information-right-div-activity{
    float: right;
    width: 38%;
}
.add-customer-title {
     font-size: 2rem;
    font-weight: 600;
    color: #000000;
    padding: 0px 0px 25px 0px;
    display: table;
}

.CloseButtonDiv {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

    .CloseButtonDiv img {
        width: 25px;
    }

#SaveCustomer {
    float: right;
    /*margin-right: 27px;*/
    margin-top: 8px;
    background-color:#2ca01c;
}
#menu_SaveCustomer {
    float: right;
    /*margin-right: 27px;*/
    margin-top: 8px;
    background-color: #2ca01c;
}
#SaveCustomerDraft {
    float: right;
    margin-right: 27px;
    margin-top: 8px;
    background-color:#2ca01c;
}
#SaveCustomerFunding{
    float: right;
    margin-right: 27px;
    margin-top: 13px;
}

#Cancel {
    float: left;
    margin-left: 27px;
    margin-top: 8px;
    color: #fff;
    background-color: #867e7e;
    border-color: #867e7e;
}

.text-area-height-adjust {
    height: 180px !important;
    margin-top: 6px;
    font-size: 13px;
    /* text-align: center; */
    padding-top: 10px;
}

.width-33p {
    width: 33%;
    float: left;
    padding-right: 5px;
}

.width-67p {
    width: 67%;
    float: left;
    padding-right: 5px;
}

.width-100p {
    width: 100%;
    display: inline-block;
}

.width-50p {
    width: 50%;
    float: left;
    padding-right: 5px;
}
.width-49p{
    width: 49%;
    float: left;
    padding-right: 5px;
}

.width-40p {
    width: 40%;
    float: left;
    padding-right: 5px;
}

.width-40p-right {
    width: 40%;
    float: right;
    padding-right: 5px;
}

.width-20p {
    width: 20%;
    float: left;
    padding-right: 5px;
}
.width-24p {
    width: 24%;
    float: left;
    padding-right: 5px;
}

.width-28p {
    width: 28%;
    float: left;
    padding-right: 5px;
}

.width-30p {
    width: 30%;
    float: left;
    padding-right: 5px;
}

.width-30p-right {
    width: 30%;
    float: right;
    padding-right: 5px;
}

.width-70p {
    width: 70%;
    float: left;
    padding-right: 5px;
}

.width-20p-right {
    width: 20%;
    float: right;
    padding-right: 5px;
}

.width-15p {
    width: 15%;
    float: left;
    padding-right: 5px;
}

.width-15p-right {
    width: 15%;
    float: right;
    padding-right: 5px;
}

.width-10p {
    width: 10%;
    float: left;
    padding-right: 5px;
}

.width-25p {
    width: 25%;
    float: left;
    padding-right: 5px;
}

.width-35p {
    width: 35%;
    float: left;
    padding-right: 5px;
}

.width-25p-right {
    width: 25%;
    float: right;
    padding-right: 5px;
}

.width-13p {
    width: 13%;
    float: left;
    padding-right: 5px;
}

.width-29p {
    width: 29%;
    float: left;
    padding-right: 5px;
}

.nav-tabs {
    margin-bottom: 10px;
}

    .nav-tabs > li > a {
        background-color: transparent !important;
    }

    .nav-tabs > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    .nav-tabs > li {
        border: 1px solid #ccc !important;
    }

        .nav-tabs > li.active {
            background-color: #2ca01c !important;
        }

    .nav-tabs > li {
        border: 1px solid #ccc !important;
    }


.class-error {
    border: 1px solid red !important;
}

.class-valid {
    border: 1px solid #babec5 !important;
}

.nav-tabs > li > a {
    background-color: transparent !important;
}

.nav-tabs > li > a {
    background-color: transparent !important;
    color: #454545;
    border: none !important;
}

.nav-tabs > li {
    border: 1px solid #ccc !important;
}

    .nav-tabs > li.active {
        background-color: #2ca01c !important;
    }

.nav-tabs > li {
    border: 1px solid #ccc !important;
}

    /*.nav-tabs > li.active > a {
        color: white !important;
    }*/

.sync-credit-score-btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.sync-credit-score-div {
    width: 20%;
    padding-right: 5px;
}

#syncSSN{
    padding-bottom : 87px;
}
.custom-hr-style2 {
            border-top: 1px solid #c7c1c1;
            padding-top:10px;
            width: 100%;
            margin: auto;
        }

        .sub-header {
            font-size: 15px;
            font-weight: 600;
            background: #cfcfcf;
            padding: 5px;
            text-align: center;
            text-transform: uppercase;
            word-spacing: 5px;
            margin-top:25px;
        }
        .sub_header_inner {
            font-size: 15px;
            font-weight: 600;
            background: #e8e6e6;
            padding: 5px;
            text-align: center;
        }
        .cus-section{
            background-color:#fff;
            z-index:999999;
            height: 55px;
            position: sticky;
            width: 100%;
            bottom: 0%;
            border: 1px solid #fff;
        }
        .SaveCancelDiv{
            width: 100%;
        }
        .popup_custom_width_submenu {
            width:25%;
            text-align:center;
        }
        .site_address_add_div .form-group:nth-child(3) {
            padding-right:0px;
            width:33.33%;
        }
        .add_customer_email_btn,
        .add_customer_schedule_div {
            display:flex !important;
        }
        .add_customer_email_btn #checkEmail,
        .add_customer_schedule_div #btnSchedule {
            padding: 5px 12px;
        }
       #CreditScore table {
           width:100%;
           float:left;
           table-layout:fixed;
       } 
       #CreditScore table thead tr {
           border-bottom: 2px solid #d4d7dc;
       }
        #CreditScore table tbody tr {
           border-bottom: 1px solid #d4d7dc;
       }
       
       #CreditScore table thead tr th,
       #CreditScore table tbody tr td {
           padding:10px;
       }
       .add_site_config_container,
       .add_site_location_container,
        .add_seo_content_container {
            width:100%;
           float:left;
       }
        .add_site_config_header,
        .add_site_location_header,
        .add_seo_content_header {
            width:100%;
           float:left;
                  font-size: 2.4rem !important;
    padding: 5px 20px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
       }
.add_site_config_inner_height,
.add_site_location_inner_height,
.add_seo_content_inner_height,
.add_system_setting_inner_height {
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:#fff;
}
         .add_site_config_inner,
         .add_site_location_inner,
         .add_seo_content_inner {
           width:100%;
           float:left;
           padding:0px 10px;
       }
        .add_site_config_inner .form-group,
        .add_site_location_inner .form-group,
        .add_seo_content_inner .form-group {
            width:33.333%;
            float:left;
            padding:0px 15px;
            margin-top:10px;
        }
        .add_site_config_footer,
        .add_site_location_footer,
        .add_seo_content_footer {
                background-color: #393a3d;
    padding: 8px 15px;
    bottom: 0px;
    width: 100%;
    float:left;
        }
.add_site_config_footer .btn-danger,
.add_site_location_footer .btn-danger,
.add_seo_content_footer .btn-danger {
    float:left;
}
            .add_site_config_footer #SaveWebConfiguration,
            .add_site_location_footer #SaveWebLocation,
            .add_seo_content_footer #SaveWebContent,
            .add_site_location_footer #SaveSystemSetting {
                float: right;
            }

            .add_site_config_footer #SaveWebConfiguration,
            .add_site_location_footer #SaveWebLocationAndClose, .add_site_location_footer #SaveSiteContactAndClose,
            .add_seo_content_footer #SaveWebContent, .add_seo_content_footer #SaveWebContentAndClose,
            .add_site_location_footer #SaveSystemSettingAndClose {
                float: right;
                margin-right: 10px;
            }

                .add_site_config_footer #SaveWebConfiguration,
                .add_site_config_footer #SaveWebConfiguration:hover,
                .add_site_config_footer #SaveWebConfiguration:focus,
                .add_site_location_footer #SaveWebLocation,
                .add_site_location_footer #SaveWebLocation:hover,
                .add_site_location_footer #SaveWebLocation:focus,
                .add_seo_content_footer #SaveWebContent, .add_seo_content_footer #SaveWebContentAndClose,
                .add_seo_content_footer #SaveWebContent:hover, .add_seo_content_footer #SaveWebContentAndClose:hover,
                .add_seo_content_footer #SaveWebContent:focus .add_seo_content_footer #SaveWebContentAndClose:focus,
                .add_site_location_footer #SaveSystemSetting,
                .add_site_location_footer #SaveSystemSetting:hover,
                .add_site_location_footer #SaveSystemSetting:focus {
                    background-color: #2ca01c;
                    color: #fff;
                    border-color: #2ca01c;
                }
                    .add_site_config_footer #SaveWebConfiguration,
                    .add_site_config_footer #SaveWebConfiguration:hover,
                    .add_site_config_footer #SaveWebConfiguration:focus,
                    .add_site_location_footer #SaveWebLocationAndClose, .add_site_location_footer #SaveSiteContactAndClose,
                    .add_site_location_footer #SaveWebLocationAndClose:hover, .add_site_location_footer #SaveSiteContactAndClose:hover,
                    .add_site_location_footer #SaveWebLocationAndClose:focus, .add_site_location_footer #SaveSiteContactAndClose:focus,
                    .add_seo_content_footer #SaveWebContent,
                    .add_seo_content_footer #SaveWebContent:hover,
                    .add_seo_content_footer #SaveWebContent:focus,
                    .add_site_location_footer #SaveSystemSettingAndClose,
                    .add_site_location_footer #SaveSystemSettingAndClose:hover,
                    .add_site_location_footer #SaveSystemSettingAndClose:focus {
                        background-color: #2ca01c;
                        color: #fff;
                        border-color: #2ca01c;
                    }
.add_site_config_footer .btn-danger,
.add_site_config_footer .btn-danger:hover,
.add_site_config_footer .btn-danger:focus,
.add_site_location_footer .btn-danger,
.add_site_location_footer .btn-danger:hover,
.add_site_location_footer .btn-danger:focus,
.add_seo_content_footer .btn-danger,
.add_seo_content_footer .btn-danger:hover,
.add_seo_content_footer .btn-danger:focus {
    background-color:#d9534f;
    color:#fff;
    border-color:#d9534f;
}
#EFXCheckCreditSoft,
#EFXCheckCreditHard,
#TUCheckCreditSoft,
#TUCheckCreditHard {
     background-color:#2ca01c;
    color:#fff;
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
}
@media (max-width:768px) {
    .add_customer_wrapper {
        margin-top:0px;
    }
    .span-style {
        font-size:12px;
    }
    .contents {
        width: 100%;
        overflow-y:scroll;
    }
    .add_customer_pop_up_hide_device .navbar-nav>li {
        width:auto !important;
    }
    .popup_custom_width {
        width:33.3%;
        float:left;
        text-align:center;
    }
    .sub-header {
        font-size:14px;
        margin-top: 5px;
    }
     .custom_margin_top {
        margin-top:-27px;
    }
}
@media (max-width:414px) {
    .add_site_config_inner .form-group,
    .add_site_location_inner .form-group,
    .add_seo_content_inner .form-group {
        width:100%;
    }
    .custom_margin_top {
    margin-top: -18px;
}
     .site_address_add_div .form-group:nth-child(3) {
            width:100%;
        } 
    #Cancel {
        margin-left:10px;
    }
    #SaveCustomer {
        margin-right:10px;
    }
    .add-customer-title {
        padding:0px 0px 9px 0px;
    }
    .mobile_fitting_custom {
    margin-left: 1px;
    margin-right: 1px;
    }
    .mobile_fitting {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 80px;
    }
    .manual_margin {
        margin-bottom:3px !important;
    }
   
     .contents {
        width: 100%;
    }
    
    .popup_custom_width {
        width:50%;
    }
    .popup_custom_width_submenu {
        height:60px;
    }
    .width-100p {
        padding-right: 0px;
    }
   
    .customer-information-left-div {
    width: 102%;
    float:left !important;
}
    .customer-information-right-div {
        width:102%;
        float:left !important;
    }
    .width-67p {
        width:66%;
    }
    .nav > li > a {
    padding:10px 0px;
}
    .addCustomerPopupFooter button {
        font-size:11px;
        padding:6px;
    }

}
@media (max-width:320px) {
    .popup_custom_width_submenu {
        height: 60px;
        font-size: 13px;
    } 
}


