.contents {
    width: 100%;
    margin: auto;
}

hr.style1 {
    border-top: 1px solid #c7c1c1;
    width: 96%;
    margin: auto;
}
.aspopup_margin {
    margin-top:-10px !important;
}
.span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.customer-information-left-div {
    float: left;
    width: 49%;
}

.customer-information-right-div {
    float: right;
    width: 49%;
}

.add-customer-title {
    font-weight: 600;
    color: #000000;
    font-size: 2.2rem;
    line-height: 70px;
}

.CloseButtonDiv {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display:none;
}

    .CloseButtonDiv img {
        width: 25px;
    }

#SaveCustomer {
    float: right;
    margin-right: 27px;
    margin-top: 13px;
}

#Cancel {
    float: left;
    margin-left: 15px;
    margin-top: 13px;
    color: #fff;
    background-color: #867e7e;
    border-color: #867e7e;
}

.text-area-height-adjust {
    height: 180px !important;
    margin-top: 6px;
    font-size: 13px;
    /* text-align: center; */
    padding-top: 10px;
}

.width-33p {
    width: 33%;
    float: left;
}

.width-67p {
    width: 67%;
    float: left;
    padding-right: 5px;
}

.width-100p {
    width: 100%;
    display: inline-block;
    margin-top:7px;
}

.width-100p1 {
    width: 100%;
    display: inline-block;
    margin-top:-7px;
}

.width-50p {
    width: 50%;
    float: left;
  
}

.width-40p {
    width: 40%;
    float: left;
    padding-right: 5px;
}

.width-40p-right {
    width: 40%;
    float: right;
    padding-right: 5px;
}

.width-20p {
    width: 20%;
    float: left;
    padding-right: 5px;
}

.width-30p {
    width: 30%;
    float: left;
    padding-right: 5px;
}

.width-30p-right {
    width: 30%;
    float: right;
    padding-right: 5px;
}

.width-70p {
    width: 70%;
    float: left;
    padding-right: 5px;
}

.width-20p-right {
    width: 20%;
    float: right;
    padding-right: 5px;
}

.width-15p {
    width: 15%;
    float: left;
    padding-right: 5px;
}

.width-15p-right {
    width: 15%;
    float: right;
    padding-right: 5px;
}

.width-10p {
    width: 10%;
    float: left;
    padding-right: 5px;
}

.width-25p {
    width: 25%;
    float: left;
    padding-right: 5px;
}

.width-35p {
    width: 35%;
    float: left;
    padding-right: 5px;
}

.width-25p-right {
    width: 25%;
    float: right;
    padding-right: 5px;
}

.width-13p {
    width: 13%;
    float: left;
    padding-right: 5px;
}

.width-29 {
    width: 100%;
    float: left;
    padding-right: 5px;
}

.stylised {
    margin-top:-14px;
}

.martop15 {
    margin-top:15px;
}

.martop10 {
    margin-top:8px;
}

.martop3 {
    margin-top:3px;
}

.martop-7 {
    margin-top:-7px;
}
.martop-71 {
    margin-top:7px;
}
.martopforbox {
    margin-top:10px;
}

.margto {
       margin-top: 13px !important;
        margin-left: 5px;
         -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
        margin-right: 12px;
}
.stylised1{ margin-top:-35px !important;
}
.boxheights { height:140px !important;
              vertical-align:top;
            /*padding:0px 0px 200px 10px;*/
            max-width:222ch;
}
.pad-control{
    padding-left:5px;
}
#tblSupplier{
    width:100% !important;
}
    #tblSupplier thead tr th {
        padding: 10px 30px 10px 10px;
        border: 1px solid #ccc;
    }
    #tblSupplier tbody tr td {
        border: 1px solid #ccc;
    }
.aspopup_margin_note {
    margin-top:-50px !important;
}
.aspopup_info_container {
    width:100%;
    float:left;
    margin-bottom: 12px;
}
.aspopup_left {
    width:48%;
    float:left;
}
.aspopup_right {
    width:48%;
    float:right;
}
.aspopup_header {
      width: 100%;
    background-color: #f4f5f8;
    padding: 10px 15px;
    font-size: 2rem;
}
.aspopup_header_title {
    line-height:15px !important;
}


.companyname_full, .fullname_full {
    width:100% !important;
   margin-top:12px;
}
.mail_full {
    width:100% !important;
}
.person_full {
    width:100% !important;
   margin-top:12px;
}


@media (max-width: 414px) {
   .city_full, .country_full, .zipcode_full {
       width:48% !important;
   }
   .state_full, .street_full, .phone_full {
     width:48% !important;
    margin-top:0px !important;
}


}




