.float-left{
    float:left;
}
.width-100p{
    width:100%;
    float:left;
}
.width-33p {
    width: 33.333333%;
    float: left;
} 
.width-40p {
    width: 40%;
    float: left;
}
.width-60p {
    width: 60%;
    float:left;
}  
.width-67p {
    width: 66.666666%;
    float:left;
} 
.contents{
    padding-left:30px;
    padding-right:30px;
}
.SaveCancelDiv {
    float: right;
}
.custom-hr{
    margin-top:10px;
    border-top:1px solid #ccc;
    margin-bottom:10px;
}
.red{
    color:red;
}
.required{
    border:1px solid red;
}
.position-absolute{
    position:absolute;
}
.CloseButtonDiv{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor:pointer;
}
    .CloseButtonDiv img {
        width: 25px;
    }
button{
    min-width:100px;
}
.font-11{
    font-size:11px;
}
.font-12{
    font-size:12px;
}
.padding-bottom-10{
    padding-bottom:10px;
}
.UserDetailContents .width-67p .position-absolute{
    bottom: -20px;
    left: 0px;
}
.UserDetailContents .width-67p{
    position:relative;
}