.branch_header_for_mobile {
    display:none;
}
.manual_break {
    display:inherit;
}
 #tblInvoice thead tr th:nth-child(1){
      width:1px;
  }

table.dataTable thead > tr > th:first-child {
    width: 100px !important;
}

@media (max-width: 768px) {
   .img-style, .logo-style {
        margin:0px !important;
    }
    .sub_padding {
        /*padding:25px 0px;*/
    }
    .manual_break {
    display:none;
}
    
.branch_header_hide {
    display:none;
}

.branch_info_row {
     width: 45%;
    float: left;
    /*height: 70px;*/
    margin-left: 15px;
    text-align: left;
}
.branch_header_for_mobile {
    display:block;
    width:46%;
    float:left;
    /*padding:25px 0px;*/
}
.branch_info_for_mobile {
     width:45%;
    float:left;
    text-align:left;
    padding-left:15px;
}
}

@media (max-width: 414px) {
    
    .branch_info_row {
        width: 100%;
    }
    .branch_header_for_mobile {
        width: 38%;
    }
    .branch_info_for_mobile {
        padding-left:0px;
    }
}
