
.form-group {
    margin: 0;
    padding: 0;
}

    .form-group h3 {
        margin-left: 30px;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
    }

.content-type {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}

.content-text {
    /*height: 32px;
            width: 80%!important;
            font-size: 13px;*/
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.custom-col {
    width: 18%;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

.txt-form {
    margin-left: 30px;
}

.item-check {
    height: 40px;
    width: 20px;
}

.txt-check {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 14px;
    padding-left: 4px;
}

.col-cus {
    margin-left: 30px;
}

#ParentId {
    height: 32px;
    width: 90%;
    margin-left: 30px;
}

.add_sales_matrix_header {
    width: 100%;
    background-color: #f4f5f8;
    padding: 10px 15px;
}

    .add_sales_matrix_header div {
        font-size: 2rem;
    }

.add_sales_matrix_container {
    padding: 10px 15px;
}

.add_sales_matrix_row {
    width: 100%;
    margin-top: 10px;
}

.add_sales_matrix_margin {
    margin-top: -3px;
}
