
.order_detail_header {
    font-size: 2.4rem !important;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}

.order_detail_height {
    width: 100%;
    float: left;
    overflow-y: auto;
}

.order_detail_container {
    width: 100%;
    float: left;
    padding: 15px;
}

.order_detail_footer {
    background-color: #393a3d;
    padding: 8px 15px;
    bottom: 0px;
    width: 100%;
    float: left;
}

.receive_order_btn {
    float: right;
    margin: 2px;
}

.close_order_btn, .close_order_btn:hover {
    float: left;
    background-color: red !important;
    border-color: red !important;
}

.map_order_detail_customer_block {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.left_order_detail_customer_block {
    float: left;
    width: 49%;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.right_order_detail_customer_block {
    float: right;
    width: 49%;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.order_detail_customer_header {
    width: 100%;
    float: left;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}

.order_detail_customer_content {
    width: 100%;
    float: left;
    padding: 10px;
}

    .order_detail_customer_content table {
        width: 100%;
        float: left;
    }

        .order_detail_customer_content table tr td:nth-child(1) {
            width: 180px;
            font-weight: bold;
        }

            .order_detail_customer_content table tr td:nth-child(1) span {
                float: right;
                margin-right: 10px;
            }

        .order_detail_customer_content table tr td {
            vertical-align: top;
            line-height: 15px;
            padding: 5px 0px;
        }

.order_summary_footer {
    float: right;
    width: 33%;
}

    .order_summary_footer span {
        font-weight: 600;
        font-size: 15px;
    }

    .order_summary_footer .subtotal_footer, .order_summary_footer .tax_amount_footer, .order_summary_footer .total_footer {
        width: 100%;
        float: left;
        padding: 5px;
    }

.order_status_div {
    float: left;
    width: 50%;
}

    .order_status_div .form-group {
        width: 50%;
        float: left;
        padding: 0px 15px;
    }

    .order_status_div span {
        font-weight: 600;
        font-size: 15px;
    }

.order_details_table {
    width: 100%;
    float: left;
}

.order_details_table_thead {
    border: 1px solid #ccc !important;
}

.order_details_table thead tr th,
.order_details_table tbody tr td {
    border: 1px solid #ccc;
}

.order_details_table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.order_details_table tbody tr:hover {
    background-color: #f4f5f8;
}

.order_details_table_bottom,
.order_details_table_bottom:hover {
    background-color: #fff !important;
}

    .order_details_table_bottom td {
        border: 0px !important;
        font-weight: bold;
    }

        .order_details_table_bottom td:nth-child(2) {
            text-align: right;
        }

        .order_details_table_bottom td:nth-child(3) {
            text-align: left;
        }


