#tblFollowUpNotes {
    width: 100%;
    float:left;
    table-layout:fixed;
}
#tblFollowUpNotes > thead > tr > th:nth-child(1) {
    width:215px !important;
}
#tblFollowUpNotes > thead > tr > th:nth-child(2) {
    width:15% !important;
}
#tblFollowUpNotes > thead > tr > th:nth-child(3) {
    width:15% !important;
}
#tblFollowUpNotes > thead > tr > th:nth-child(4) {
    width:15% !important;
}
#tblFollowUpNotes > thead > tr > th:nth-child(5) {
    width:15% !important;
}
#tblFollowUpNotes > tbody > tr:hover {
   background-color:#f4f5f8;
}
#AddReminder,.AddReminder {
    float: right;
    background-color: rgb(44, 160, 28);
    border-color: rgb(44, 160, 28);
    color: #ffffff;
    font-weight: 500;
}

.follow-up-edit{
    color: #2ca01c !important;
}

.follow-up-delete{
    color: #2ca01c !important;
}

#tblFollowUpNotes > tbody > tr:nth-child(even) {background-color:#ededed;}
.FollowUpNotes_device_header {
    display: none;
}

.lead_note_reminder_table {
     width: 100%;
    float:left;
}
    .lead_note_reminder_table .toggle-on {
        position:unset !important;
    }
    .lead_note_reminder_table tbody tr td .lfut_head {
        display: none;
    }
.lead_note_reminder_table tbody tr td div:nth-child(2) {
   text-align:justify;
   word-break:break-all;
}
    .lead_note_reminder_table tbody tr td:nth-child(1) div:nth-child(2) {
        text-align: justify;
        word-break: unset !important;
    }
.lead_note_reminder_table tbody tr td div:nth-child(2) a {
    color:#2ca01c;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
   .nt_text_st {
     width: 100%;
    float: left;
    overflow: hidden;
    /*display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;*/
    }
    .nt_text_btn {
    float: left;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    }
    .lessContent {
        color:#d71920;
    }
    .lead_note_reminder_table thead tr th,
    .lead_note_reminder_table tbody tr td {
        padding:10px;
    }
    .lead_note_reminder_table thead tr th:nth-child(1) {
        width:45%;
    }
    .lfut_head_custom {
          float: left;
    margin-right: 5px;
    }
.custom-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.custom-col-followup {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .custom-col-followup #AddNotes,
    .custom-col-followup #AddMessage {
        margin-right: 10px;
        float:right;
    }

#AddNotes, .AddNotes {
    float: right;
    background-color: rgb(44, 160, 28);
    border-color: rgb(44, 160, 28);
    color: #ffffff;
    font-weight: 500;
}

.PinnedNote {
    background-color: #86dc7a !important;
}

.note_top_search_bar {
    width: 100%;
    float: left;
}

.note_top_search_bar_inner {
    width: auto;
    float: left;
    padding: 10px 0px;
}

    .note_top_search_bar_inner #Searchtxt {
        width: 200px;
        float: left;
    }

    .note_top_search_bar_inner #StartDate {
        width: 130px;
        float: left;
    }

    .note_top_search_bar_inner .input-group {
        width: 160px;
        float: left;
    }
@media(width:1024px) {
     #tblFollowUpNotes > thead > tr > th {
        text-align:center;
    }
}
 @media(max-width:768px) {
     .lfut_head_custom {
         display:none;
    }
   .lead_note_reminder_table thead {
       display:none;
   }

   .lead_note_reminder_table tbody tr td {
       width:100%;
       float:left;
       box-sizing:border-box;
       padding:5px 15px;
   }

        .lead_note_reminder_table tbody tr td .lfut_head {
        display:block;
        width:40%;
        float:left;
        text-align:left;
        font-weight:bold;
    }
    .lead_note_reminder_table tbody tr td .lfut_head span {
        float:right;
        margin-right:10px;
    }
      .lead_note_reminder_table tbody tr td .lfut_info {
        width:60%;
        float:left;
        text-align:left;
        word-break:break-all;
    }

    .FollowUpNotes_header_hide_for_device {
        display:none;
    }
    .FollowUpNotes_device_header {
        display:block;
        width:40%;
        float:left;
        font-weight:600;
         padding-left:10px;
    }
    .FollowUpNotes_device_info {
        width:60%;
        float:left;
    }

    .FollowUpNotes_device_row {
         width:95.5%;
        float:left;
    }
}


 @media (max-width:414px) {
    .note_top_search_bar {
        margin-bottom:10px;
    }
    .note_top_search_bar_inner #Searchtxt {
        width: 100%;
    }
    .note_top_search_bar_inner #StartDate,
    .note_top_search_bar_inner .input-group {
        width: 50%;
    }
 }