
    /*.modal-backdrop.in{filter:alpha(opacity=0);opacity:0}*/
    .container-fluid{
        padding-left:0;
        padding-right:0;
    }
    #tblSchedule{
        width:100%;
    }
    .btn_custom_schedule{
           margin-top: 15px;
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    float:right;
    }
     .btn_custom_schedule:hover {
      background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;}

    #tblSchedule > tbody > tr:nth-child(even) {background-color:#ededed;}
.tblSchedule_device_header {
    display: none;
}

@media(width:1024px) {
     #tblSchedule > thead > tr > th {
        text-align:center;
    }
}
 @media(max-width:768px) {
      #tblSchedule {
          margin-left:15px;
      }

    .tblSchedule_header_hide_for_device {
        display:none;
    }
    .tblSchedule_device_header {
        display:block;
        width:40%;
        float:left;
        font-weight:600;
        padding-left:10px;
    }
    .tblSchedule_device_info {
        width:60%;
        float:left;
    }

    .tblSchedule_device_row {
         width:100%;
        float:left;
    }
}