    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 350px;
        height: 100%;
    }

    .modal.right .modal-content {
        height: 100%;
    }

    .modal.right .modal-body {
        padding: 0px;
    }

    .modal.right.fade .modal-dialog {
        right: -320px;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    .modal-content {
         -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
    }
    .container-fluid{
        padding-top:5px;
    }
    .modal-header {
        border-bottom: none;
        position: absolute;
        right: 0px;
        z-index:999;
    }

    .modal-header h3 {
        padding-top: 6px;
        padding-left: 12px;
        font-family: 'Open Sans', sans-serif;
    }
    #tblinfo {
    min-width: 100%;
    }
    .dataTables_length {
    display: none;
    }

    .dataTables_filter {
    display: none;
    }

    .table-head-border {
    border-bottom: 2px solid #d4d7dc;
    }

    table.dataTable thead > tr > th {
    padding: 10px;
    background-color: #f1f1f2;
    width: 120px;
    }

   /* table.dataTable thead > tr > th:first-child {
        width: 30px;
    }*/

    .dataTables_info {
    display: none;
    }
table tbody tr td {
    padding: 10px;
}
.ld_act_customer_file_table tbody tr td {
   border:1px solid #ccc;
}
.thead-th-style {
    border: 1px solid #ccc;
    padding: 10px;
}

    .thead-th-style:hover {
        background-color: #f4f5f8 !important;
        cursor:pointer;
    }
    .table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 10px;
    border:1px solid #ccc;
    }

    .tr-style {
    border-bottom: 1px solid #ddd;
    }

    .tr-style:hover {
        background-color: #f8f8f8;
    }
    .schedule-table{
        margin-top:10px;
    }
    #tblinfo_paginate{
        float:right;
    }