@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Hr/HrEmergencyContact.css" rel="stylesheet" />
<script>
    var LoadEmergencyContactList = function () {
        $("#EmergencyContactList").load(domainurl + "/Customer/CustomerEmergencyContactListPartial?Id=" + userId);
    }
    var LoadAddNewEmergencyContactDiv = function () {
        $("#AddNewEmgContactPartial").show();
        $("#AddNewEmgContactPartial").load(domainurl + "/Customer/AddCustomerEmergencyContact?EmgConId=" + userId + "&EmgId=0");
    }
    var EditEmergencyContactDiv = function (emgId) {
        $("#AddNewEmgContactPartial").show();
        $("#AddNewEmgContactPartial").load(domainurl + "/Customer/AddCustomerEmergencyContact?EmgConId=" + userId + "&EmgId=" + emgId);
    }
    $(document).ready(function () {
        LoadEmergencyContactList();
        $("#btnCustomerAddNewEmgContact").click(function () {
            LoadAddNewEmergencyContactDiv();
        });
    });
</script>

   

    <div class="hr_emergency_contact_container">
      
            <div class="col-md-12 clearfix right_side_pad">
                <button type="button" class="btn" id="btnCustomerAddNewEmgContact">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                </button>
            </div>

            <div class="col-lg-12" id="AddNewEmgContactPartial">

            </div>
            <div class="col-md-12 clearfix" id="EmergencyContactList">

            </div>

       
    </div>
