.style-p {
    margin: 0;
    font-size: 13px;
}

legend.cbh_legend {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px !important;
    letter-spacing: 1px;
}

.BillSetting {
    padding-top: 5px;
    font-size: 13px;
    /*padding-left: 30px;*/
}

.customer_billing_histories_header {
    width: 36%;
    float: left;
    font-weight: 600;
    padding-top: 5px;
    font-size: 13px;
}

.customer_billing_histories_info {
    width: 64%;
    float: left;
    padding-top: 5px;
    font-size: 13px;
}

.customer_billing_histories_row {
    width: 100%;
    float: left;
   
}
