fieldset.custom-fieldset {
    border: 2px solid #ddd !important;
    /*margin: 0 0 1.5em 0 !important;*/
    box-shadow: 0px 0px 0px 0px #000;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

legend.caad_legend {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px !important;
    letter-spacing: 1px;
}

.caad_text_bold {
    font-weight: bold;
    font-size: 13px;
    width: 45%;
    float: left;
    padding: 5px 0px 0px 0px;
}

    .caad_text_bold span {
        float: right;
        margin-right: 10px;
    }

.text_normal_caad {
    float: left;
    width: 55%;
    padding: 5px 0px 0px 0px;
    font-size: 13px;
}

.add_container {
    padding: 5px 0px 0px 0px;
}

.add_notes_reminder {
    border: 1px solid #8d9096;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #393a3d;
    font-weight: 600;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 23px;
    border: 0;
    margin: 0px;
    padding: 0px 10px !important;
    float: right;
}

.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #2ca01c;
}

.red-tooltip + .tooltip > .tooltip-inner {
    background-color: #af0404;
}


.lead_note_box_container {
    max-height: 245px;
    overflow-y: auto;
    padding: 10px 10px;
}
.lead_payment_box_container {
    margin-top:40px;
}
.lead_payment_box_container_cc {
    margin-top:40px;
}
.lead_note_box_details {
       width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    background-color: white;
    margin-bottom: 10px;
}

.lead_note_box_row {
    width:100%;
    float:left;
    padding-bottom: 5px;
    padding-top: 5px;
}
.lead_note_box_title {
    width:50%;
    float:left;
    font-weight:600;
    font-size: 13px !important;
}
.lead_note_box_title span {
    float:right;
    margin-right:10px;
}
.lead_note_box_data {
     width:50%;
    float:left;
    text-align:right;
}
.lead_note_box_data .ld_note_profile {
    width:auto;
    float:right;
    margin-left:10px;
}
.lead_note_box_data .ld_note_profile .user_profile_pic_div {
    margin-right:5px;
}
.note_text_color {
    background-color:#f8f8f8;
    padding:10px;
    text-align:justify;
    word-break:break-all;
}
.notes_padd {
    padding:0px 10px;
}
.lead_note_box_table {
    width: 100%;
    float: left;
    table-layout: fixed;
}

    .lead_note_box_table thead tr {
        border-bottom: 2px solid #ccc;
    }

    .lead_note_box_table tbody tr {
        border-bottom: 1px solid #ccc;
    }

        .lead_note_box_table thead tr th,
        .lead_note_box_table tbody tr td {
            padding: 10px;
        }

        .lead_note_box_table tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }

        .lead_note_box_table tbody tr:hover {
            background-color: #f4f5f8;
        }

    .lead_note_box_table thead tr th:nth-child(2) {
        width: 180px;
    }

    .lead_note_box_table thead tr th:nth-child(3) {
        width: 150px;
        text-align: center;
    }



.lead_note_box_table tbody tr td div:nth-child(1) {
    display: none;
}
.lead_note_box_table tbody tr td div:nth-child(2) {
    word-break:break-all;
}
.lead_note_box_table tbody tr .ld_note_profile {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/*Overview payment info css start*/

 .payment_info_overview_container {
             width: 100%;
    float: left;
    padding: 10px;
    margin-right: 0px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 4px;
    position:relative;
    }
 .payment_info_overview_container .p_info_delete_btn,
  .payment_info_overview_container .p_info_delete_btn_CC {
     background-color:#d71920;
     color:#fff;
     position:absolute;
     right:10px;
     top:10px;
 }
  .payment_info_overview_container .p_info_delete_btn:hover,
  .payment_info_overview_container .p_info_delete_btn:focus,
  .payment_info_overview_container .p_info_delete_btn_CC:hover,
  .payment_info_overview_container .p_info_delete_btn_CC:focus {
     background-color:#d71920;
     color:#fff;
 }
    .payment_info_overview_header {
        width:175px;
        float:left;
        font-weight:bold;
        text-align:left;
    }
    
    .payment_info_overview_info {
         width:auto;
        float:left;
         text-align:left;
         word-break:break-all;
    }
    .successmessaegeforcopy_cont {
        width:auto;
        float:none;
        position:relative;
    }
    .successmessaegeforcopy_cont .alert-success {
                position: absolute;
    top: -6px;
    padding: 5px;
    width: 62px;
    right: -70px;
    border: 1px solid #2ca01c;
    }
    .payment_info_overview_header,
    .payment_info_overview_info {
        padding:3px 0px;
    }
    .payment_info_overview_header span {
        float:right;
        margin-right:5px;
    }
    .left_narginstyle {
        margin-left:1%;
        margin-right:0px !important;
    }
#btn_addachpaymentcustomer {
    background-color: #2ca01c;
    color: white;
    float: right;
    border-color: #2ca01c;
    font-weight: 600;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 23px;
    border: 0;
    margin: 0px;
    padding: 0px 10px !important;
}
#btn_addccpaymentcustomer {
    background-color: #2ca01c;
    color: white;
    float: right;
    font-weight: 600;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 23px;
    border: 0;
    margin: 0px;
    padding: 0px 10px !important;
}
    .payment_container {
        overflow-y: auto;
        max-height: 245px;
    }

    #del_ach_payment {
        float: right;
        color: #2ca01c;
        cursor: pointer;
    }

    .hover_details_icon {
        cursor: pointer;
    }
  /*Overview payment info css end*/

@media(max-width:414px) {
    .payment_info_overview_container {
        width:100%;
        margin-left:0px !important;
        margin-right:0px !important;
    }
    .lead_note_box_table thead {
        display:none;
    }
    .lead_note_box_table tbody tr td {
        width:100%;
        float:left;
    }
    .lead_note_box_table tbody tr td div:nth-child(1) {
        display: block;
        width:35%;
        float:left;
        font-weight:bold;
    }
    .lead_note_box_table tbody tr td div:nth-child(1) span {
        float:right;
        margin-right:10px;
    }
     .lead_note_box_table tbody tr td div:nth-child(2) {
        width:65%;
        float:left;
    }
}
