 .history-details-subDiv {
        border: 2px solid #ddd;
        padding: 5px;
    }

    .cus-margin-top5p {
        margin-top: 5px;
    }
    legend.cwohp_legend {
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0px !important;
        letter-spacing:1px;
    }
    .history-details-subDiv-components p {
        line-height: 17px;
        margin: 0;
        font-size: 13px;
    }
    .goToWorkOrderTabAnchor{
        cursor : pointer;
    }
    .goToWorkOrderP {
        padding-top: 10px;
        font-size: 13px;
    }
    .cwohp_header {
        width:24%;
        float:left;
        font-weight: 600;
    }
     .cwohp_info {
        width:34%;
        float:left;
    }
     .cwohp_row {
         width:100%;
         float:left;
         padding: 5px 0px 0px 0px;
     }
     .cwohp_header_font {
         font-size:13px;
         font-weight:bold;
        
     }
