
fieldset.custom-fieldset {
    border: 2px solid #ddd !important;
    /*margin: 0 0 1.5em 0 !important;*/
    box-shadow: 0px 0px 0px 0px #000;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}


legend.crpd_legend {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px !important;
    letter-spacing: 1px;
}

.responsible-person-sub-div {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
}

.responsible_person_header {
    width: 50%;
    float: left;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.responsible_person_info {
    width: 30%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:12px;
}

.data_row {
    width: 100%;
}

@media (max-width: 768px) {
    .responsible_person_header {
        padding-left: 30px;
    }
}
