.history-p-style {
        line-height: 17px;
        margin: 0;
        font-size: 13px;
    }

    .goto-file-mng {
        padding-top: 5px;
        font-size: 13px;
        color: #2ca01c !important;
    }
   
     .cfd_row {
         width:100%;
         float:left;
         padding:0px 10px;
         margin-bottom:5px;
     }
    .cfd_link {
        color: #2ca01c;
    }
    .customer_uploaded_history {
        margin-bottom:10px;
        max-height:260px;
        overflow-x:hidden;
        overflow-y:auto;
    }
    .customer_uploaded_history .cfd_row a {
        color: #2ca01c !important
    }
    .customer_uploaded_history .ci_info {
        padding: 5px 0px 0px;
    }
    .customer_uploaded_history .file_management_div {
        width: 100%;
        float: left;
        text-align: right;
        padding: 5px 10px;
        background-color: #f8f8fb;
        border-radius: 0px 0px 4px 4px;
    }