.displayNone {
    display: none;
}

.txt-header {
    font-family: 'Play', sans-serif;
    font-size: 24px;
    color: #000000;
}

.col-custom {
    padding-left: 375px;
}

.btn-custom {
    margin-top: 15px;
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    font-weight: 600;
}

    .btn-custom:hover {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
    }

.tabClose {
    position: relative;
    top: -10px;
    right: -13px;
    cursor: pointer;
}

/*form table close style*/
/*form table close style*/
 .tab_close_style {
    display: block;
    position: absolute;
    background: #e3e3e3;
    border-radius: 15px;
    -webkit-border-radius: 15px;
-moz-border-radius: 15px;
    right: 2px;
    top: 2px;
    width: 15px;
    height: 15px;
    transition: transform .25s ease-in-out;
}
.tab_close_style:hover {
    transform: rotate(180deg);
    cursor:pointer;
    border-color:#2ca01c !important;
}
.tab_close_style:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(45deg);
    transform-origin: center;
}
.tab_close_style:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(-45deg);
    transform-origin: center;
}
/*form table close style*/
/*form table close style*/

.nav-tabs > li > a:hover {
    cursor:pointer;
}

.nav-tabs > li > a {
    background-color: transparent !important;
    color: #454545;
    border: none !important;
}

/*.nav-tabs > li {
    border: 1px solid #ccc !important;
}*/

.customer_detail_tab_style > li.active {
    background-color: #2ca01c !important;
    border-color: #2ca01c !important;
}

.customer_detail_tab_style > li {
    border: 1px solid #ccc !important;
}


.nav-tabs > li.active > a {
    color: white !important;
}

.detail-contents .TableHeader {
    width: 100%;
    height: 50px;
    margin: auto;
    padding-top: 6px;
    font-size: 18px;
    background: #ccc;
    text-align: center;
    margin-top: 5px;
}
@media (max-width: 414px) {
    .customer_detail_tab_style > li {
        width: 50%;
        float: left;
        text-align: center;
    }
    .customer_detail_tab_style > li a {
        padding:10px 5px;
    }
}
