 .history-details-subDiv {
        border: 2px solid #ddd;
        padding: 5px;
    }
  legend.csohp_legend {
        width: inherit;
        padding: 0 10px;
        border-bottom: none;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0px !important;
        letter-spacing:1px;
    }
    .cus-margin-top5p {
        margin-top: 5px;
    }

    .history-details-subDiv-components p {
        line-height: 17px;
        margin: 0;
        font-size: 13px;
    }

    .goToServiceOrderTabAnchor {
        cursor: pointer;
    }

    .goToServiceOrderP {
        padding-top: 5px;
        font-size: 13px;
    }

     .customer_ServiceOrder_histories_header {
        width:24%;
        float:left;
        font-weight: 600;
         padding-left:10px;
    }
     .customer_ServiceOrder_histories_info {
        width:34%;
        float:left;
    }
     .customer_ServiceOrder_histories_row {
         width:100%;
         float:left;
     }
     .Customer_serv_order_header_font {
         font-weight:bold;
         padding-left:0px;
         padding-top:5px;
     }