.add_finance_container {
    width:100%;
    float:left;
}
.add_finance_header {
    width: 100%;
    float: left;
    font-size: 24px;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
.add_finance_inner_height {
    width: 100%;
    float: left;
    overflow-x:hidden;
    overflow-y:auto;
}

.add_finance_inner {
    width: 100%;
    float: left;
    padding:15px;
}
    .add_finance_inner .form-group {
        width: 20%;
        float: left;
        padding: 0px 5px;
        height: 50px;
        position:relative;
    }
        .add_finance_inner .form-group .af_info_header {
            font-weight:bold;
        }
        .af_info_block {
            width: 100%;
            float: left;
            border: 1px solid #ccc;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            margin-bottom: 15px;
        }
.af_header {
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: 600;
    background: #cfcfcf;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 6px;
    letter-spacing: 1px;
}
.af_info_details_block {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    padding: 10px 5px;
    font-size: 13px;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
}
.requiredfield{
    color:red;
}
.add_finance_footer {
    width: 100%;
    float: left;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    text-align:right;
}
.af_cancel_btn {
    background-color: #393a3d;
    border: 1px solid #6b6c72;
    color:#fff;
    float:left;
}
.af_cancel_btn:hover {
    background-color: #606063;
    border: 1px solid #6b6c72;
    color: #fff;
}
.af_check_style {
    padding-top:25px !important;
}
.af_check_style label {
    cursor:pointer;
}
@media (max-width:1425px) {
    .add_finance_inner .form-group {
        width: 25%;
    }
}
@media (max-width:1225px) {
    .add_finance_inner .form-group {
        width: 33.333%;
    }
}
@media (max-width:1225px) {
    .add_finance_inner .form-group {
        width: 33.333%;
    }
}
@media (max-width:414px) {
    .add_finance_inner .form-group {
        width: 100%;
    }
    .af_check_style {
        padding-top: 0px !important;
        height: unset !important;
    }
}