 .alarm_head_text {
        font-size: 2rem;
        font-family: 'Play', sans-serif;
    }

    .alarm_head_container {
        width: 100%;
        background-color: #eceef1;
        padding: 10px 0px 10px 15px;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    #btnsaveCC, #btnsaveCC:hover {
        margin-right: 10px;
        float: right;
        margin-top: 3px !important;
        color: white;
        background-color: #2ca01c;
        border-color: #867e7e;
    }
    .ShowBINBtnDiv{
        text-align:right;
    }
    .tblBINDetails {
        width:100%;
        float:left;
        table-layout:fixed;
        font-size:13px;
        margin-top:10px;
    }
    .tblBINDetails tr {
        border:1px solid #ccc;
    }
    .tblBINDetails tr td {
        padding:5px;
    }
    .tblBINDetails tr td:nth-child(1) {
        font-weight:bold;
        width:25%;
    }
    .tblBINDetails tr td:nth-child(1) span {
        float:right;
    }
    .tblBINDetails .WebsiteTR td:nth-child(2) {
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
    }