 .width-33p{
        width:33.33%;
        float:left;
        padding:20px;
    }
    .Custom-footer {
        /*float: right;
        margin-top: 30px;*/
    }
.sms_send_div {
    width: 313px !important;
    float: left !important;
}
.smart_agree_checkbox {
    width: 30px;
    float: left;
    text-align: center;
    padding-top: 5px;
}
#btnSendMailAndSMS,
#btnSendMailAndSMS:hover,
#btnSendMailAndSMS:active,
#btnSendMailAndSMS:focus {
    background-color: #2ca01c;
    color: #fff;
    outline:none !important;
    float:right;
}
.sign-document {
    margin-top: 55px;
    margin-left: 30px;
}

    .btnSign {
        background-color: #2ca01c;
        border-style: none;
        height: 35px;
        color: white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    button[disabled], html input[disabled] {
        background-color: #ccc;
    }

        button[disabled]:hover, html input[disabled]:hover {
            background-color: #ccc;
        }

    .warning-error {
        /*position:relative;*/
        color: red;
        font-style: italic;
        font-size: 12px;
        font-weight: 600;
        display: none;
    }

    .LoadImg {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .LoadImgDiv {
        width: 100%;
        height: 100%;
        position: absolute;
        background: white;
        z-index: 8888;
    }

    .wrapper {
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 9px 9px 9px 0px;
        position: relative;
        width: 855px;
        height: 350px;
        margin-right: 35px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        height: 100px;
        background-color: #ccc;
    }

    .cus-pdf-style {
        height: 435px;
    }
    .file_template_iframe_cont {
        width:100%;
        float:left;
        padding:0px 30px;
    }
    /*style start for checkbox*/
    /*style start for checkbox*/


    .label-cbx {
        user-select: none;
        cursor: pointer;
        margin-bottom: 0;
    }

    .label-cbx input:checked + .checkbox {
        border-color: #00c31f;
    }

    .label-cbx input:checked + .checkbox svg path {
        fill: none;
    }

    .label-cbx input:checked + .checkbox svg polyline {
        stroke-dashoffset: 0;
    }

    .label-cbx:hover .checkbox svg path {
        stroke-dashoffset: 0;
        stroke-width: 1;
    }

    .label-cbx .checkbox {
        position: relative;
        top: 13px;
        float: left;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border: 2px solid #C8CCD4;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .label-cbx .checkbox svg {
        position: absolute;
        top: -3px;
        left: -2px;
    }

    .label-cbx .checkbox svg path {
        fill: none;
        stroke: #00c31f;
        stroke-width: 2;
        /*stroke-linecap: round;*/
        stroke-linejoin: round;
        stroke-dasharray: 71px;
        stroke-dashoffset: 71px;
        transition: all 0.6s ease;
    }

    .label-cbx .checkbox svg polyline {
        fill: none;
        stroke: #00c31f;
        stroke-width: 2;
        /*stroke-linecap: round;*/
        stroke-linejoin: round;
        stroke-dasharray: 18px;
        stroke-dashoffset: 18px;
        transition: all 0.3s ease;
    }

    .label-cbx > span {
        pointer-events: none;
        vertical-align: middle;
    }

    .invisible {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }

    /*style end for checkbox*/
    /*style end for checkbox*/
    .all_button {
        width: 106px;
        padding-left: 10px;
        padding-right: 10px;
        height: 35px;
    }
    .width-50p{
        width:50%;
        float:left;
        padding-left:20px;
        padding-right:20px;
        padding-top:20px;
        text-align:right;
    }
    .bodyConentsDiv{
        height:unset;
    }
    .gslfp_footer {
        width:100%;
        float:left;
        padding: 20px 30px;
    }
    .gslfp_footer_inner {
          width:100%;
        float:left;
    }
     .gslfp_footer_inner .input-group {
         width:40%;
        float:left;
    }
     .gslfp_footer_inner .input-group:nth-child(2) {
        padding-left:50px;
    }
      .gslfp_footer_inner .input-group:nth-child(3) {
         width:20%;
        float:left;
    }
    .gslfp_footer_inner .input-group #btnSendMailAndSMS {
         
        float:right;
    }
     .gslfp_footer_inner .input-group button,
     .gslfp_footer_inner .input-group button:hover,
     .gslfp_footer_inner .input-group button:focus {
         background-color:#2ca01c;
         border-color:#2ca01c;
         color:#fff;
     }
    
     .ticket_survey_container {
         width:100%;
         float:left;
     }
     .ticket_survey_container .HeadContents {
    padding-top: 5px;
    padding-left: 5px;
}
      .ticket_survey_container .gslfp_footer {
    padding: 15px 10px;
    margin-bottom: 0px;
}
.mobile_document_btn {
    width:100%;
    float:left;
    padding:5px 30px;
}
   
    .mobile_document_btn a,
    .mobile_document_btn a:hover,
    .mobile_document_btn a:focus {
        background-color: #2ca01c;
        border-color: #2ca01c;
        color: #fff;
    }

    @media (max-width:414px) {
        .pba_container {
        position:relative;
        margin-top:40px;
    }
        .gslfp_footer {
    padding: 20px 30px;
    margin-bottom:25px;
}
        .gslfp_footer_inner .input-group,
        .gslfp_footer_inner .input-group:nth-child(2),
        .gslfp_footer_inner .input-group:nth-child(3) {
            width:100%;
            float:left;
            padding:0px;
            margin-bottom:10px;
        }

        .ticket_survey_container .gslfp_footer {
    padding: 15px 10px;
    margin-bottom: 0px;
}
    }
    