    #tbl_paymentprofilecustomer_length, #tbl_paymentprofilecustomer_filter, #tbl_paymentprofilecustomer_info, #tbl_paymentprofilecustomer_paginate{
        display:none;
    }
    .list_view_payment_method_container {
        width:100%;
        float:left;
    }
    .list_view_payment_method_header {
           font-size: 24px !important;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
    }
    .list_view_payment_method_inner {
        width:100%;
        float:left;
        padding:10px;
        overflow-x:hidden;
        overflow-y:scroll;
    }
    #tbl_paymentprofilecustomer {
        width:100%;
        float:left;
    }
    #tbl_paymentprofilecustomer thead tr {
        border-bottom:2px solid #ccc;
    }
    #tbl_paymentprofilecustomer tbody tr {
        border-bottom:1px solid #ccc;
    }
    #tbl_paymentprofilecustomer thead tr th,
    #tbl_paymentprofilecustomer tbody tr td {
        padding:10px;
    }
    #tbl_paymentprofilecustomer tbody tr:nth-child(even) {
        background-color:#f8f8f8;
    }
     #tbl_paymentprofilecustomer tbody tr:hover {
        background-color:#f4f5f8;
    }
