.load_smart_lead_pack_equip_container {
     padding: 5px 0px 0px;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.load_smart_lead_pack_equip_header {
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.load_smart_lead_pack_equip_info {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    margin-top: -1px;
}
.load_smart_lead_pack_equip_info .left_info_for {
    width: 25%;
    float: left;
    padding: 5px 15px;
}
.load_smart_lead_pack_equip_info .right_info_for {
     width:75%;
    float:left;
    padding: 5px 15px;
    border-left:1px solid #ccc;
    min-height: 30px;
}
.load_smart_lead_pack_equip_info div:nth-child(2) .pack_service_list {
    width:100%;
    float:left;
    font-weight:normal;
}
.pack_service_list .div-product-limit {
    margin-top:0px;
}
.pack_service_list .na_div {
    margin-top:5px;
}
.right_info_for .label-cbx .checkbox {
    top:-1px;
    margin-right:0px;
}

.exit-activation-fee{
    background: firebrick;
    border: 1px solid;
    padding: 5px;
    color: white;
}
.change-activation-fee{
    background: #2ca01c;
    border: 1px solid;
    padding: 5px;
    color: white;
}
.ServiceEquipmentQuantity{
    width:60px!important;
    display: inline-block;
    padding-top: 5px!important; 
    padding-left:3px!important;
    padding-right: 3px;
    height:30px;
}
.line-through{
    text-decoration:line-through;
}
@media (max-width:414px) {
    .load_smart_lead_pack_equip_header {
        font-size:13px;
    }
    .load_smart_lead_pack_equip_info .left_info_for {
    width: 100%;
    padding: 3px 15px 0px 15px;
    font-weight: bold;
}
    .load_smart_lead_pack_equip_info .right_info_for {
    width: 100%;
     padding: 3px 15px 0px 15px;
    border-left: 1px solid #ccc;
    min-height: 30px;
}
}
