 .width-75p{
        width:75%;
        float:left;
    }
    .SaveBtnDiv{
        padding-top:17px;
        text-align:right;
    }
    .SaveBtnDiv .dropdown-menu {
        padding: 0px 0px 5px 0px;
        border: 1px solid #ccc !important;
        width: 248px;
    }
    .SaveBtnDiv .dropdown-menu li {
        float:left;
    }
    .SaveBtnDiv .dropdown-menu li:nth-child(2),.SaveBtnDiv .dropdown-menu li:nth-child(3) {
        padding-left:5px;
    }
    .SaveBtnDiv .list_payment_method{
        display: inline;
        float: left;
        padding-left: 7px;
    }
        .SaveBtnDiv .dropdown {
            display: inline;
            float: left;
        }
    .smart_agreement_summery_container {
        width:100%;
        float:left;
        padding-top: 10px;
    }
    .smart_agreement_summery_container .smart_lead_summery_payment {
        width:100%;
        float:left;
    }
    .smart_agreement_summery_container .smart_lead_summery_payment .ci_info {
        padding:10px;
    }
    .smart_agree_package_info {
          width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color:#f9f9f9;
    }
    .smart_agree_package_info > div:nth-child(1) {
        width:100%;
        float:left;
        color:#2ca01c;
        font-weight:bold;
    }
    .smart_agree_package_info label {
        margin-bottom:0px;
    }
     .smart_agree_package_info > div:nth-child(2) {
        width:50%;
        float:left;
        text-align:right;
    }
    .Setup-Equipments-Table {
        width:100%;
        float:left;
        table-layout:fixed;
        border-collapse:collapse;
    }
    .Setup-Equipments-Table thead tr {
        background-color:#fbfbfb;
        border-bottom:2px solid #ccc;
    }
    /*.Setup-Equipments-Table tbody tr {
        border-bottom:1px solid #ccc;
    }*/
    
    .Setup-Equipments-Table thead tr th,
     .Setup-Equipments-Table tbody tr td {
        padding:10px;
        border:1px solid #ccc;
    }
     /*.Setup-Equipments-Table tbody tr:nth-child(odd) {
         background-color:#f8f8f8;
     }*/
     .Setup-Equipments-Table tbody tr:hover {
         background-color:#f4f5f8;
     }
     .Setup-Equipments-Table thead tr th,
     .Setup-Equipments-Table tbody tr td {
         text-align:center;
     }
     .Setup-Equipments-Table thead tr th {
         width:145px;
     }
     .Setup-Equipments-Table thead tr th:nth-child(1) {
         width:auto;
     }
     .Setup-Equipments-Table tbody tr td:nth-child(1) {
         text-align:left;
     }
     .Setup-Equipments-Table tbody tr:last-child {
         font-weight:bold;
     }
     .Setup-Equipments-Table tbody tr:nth-last-child(-n+3):hover {
         background-color:unset;
     }
     .Setup-Equipments-Table tbody tr:last-child td {
         border:none;
     }
     .Setup-Equipments-Table tbody tr:last-child td:nth-last-child(-n+3) {
         border:1px solid #ccc;
         background-color:#fbfbfb;
     }
    .smart_agree_additional_info {
          width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color:#f9f9f9;
    }
    .smart_agree_additional_info > div:nth-child(1) {
        width:50%;
        float:left;
    }
    .smart_agree_additional_info label {
        margin-bottom:0px;
    }
     .smart_agree_additional_info > div:nth-child(2) {
        width:50%;
        float:left;
        text-align:right;
    }
.existing-equipments {
    width: 100%;
    float: left;
    overflow-x: auto;
}
.BottomTotalTr td {
    border: none !important;
}
    .BottomTotalTr td:nth-last-child(-n+4){
        border :1px solid #ccc!important;
    }
     .BottomTotalTr_style td {
        border:none!important;
    }
    .BottomTotalTr_style td:nth-last-child(-n+3){
        border :1px solid #ccc!important;
    }
    .BottomTotalTr_style:hover {
        background-color:unset !important;
    }
    .ServiceMonthCount{
        width:100%;
        border: none;
        text-align:center;
    }
    /*.ServiceDiscount{
        width:50%;
        border: none;
        text-align:center;
    }*/
    .ActivationfeePaymentsDiv {
        width:100%;
        float:left;
    }
    .ActivationfeePaymentsDiv .form-group {
        margin-bottom:0px;
    }
    .package_table {
        width:500px;
        float:right;
    }
    .smart_add_payment .dropdown-menu li {
        margin-left:5px;
        margin-top:5px;
    }
         .AgreementSummaryLoader {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        margin-top: -43px;
        padding-top: 107px;
    }

        .AgreementSummaryLoader .loader-background {
            width: 100%;
            height: 100%;
            background: white;
            opacity: 0.5;
            position: absolute;
            top: 0;
        }

    .ServicePayments {
        width: 100%;
        float: left;
    }
    .sas_comment {
        width:100%;
        float:left;
        margin-bottom:10px;
    }
    .sas_comment .decline {
        color:#d71920;
        font-weight:bold;
        font-size: 11px;
    }
     .sas_comment .received {
        color:#2ca01c;
        font-weight:bold;
        font-size: 11px;
    }
     .sas_comment .inv_created {
        color:#000;
        margin-right:10px;
    }
     .smart_add_payment {
         width:100%;
         float:left;
         padding-bottom:10px;
     }
        .smart_add_payment button {
            float:left;
            margin-left:10px;
        }
        .smart_add_payment .addView_button,
        .smart_add_payment .addView_button:hover,
        .smart_add_payment .addView_button:focus {
            background-color: #2ca01c;
            color: #fff;
        }
     .sas_paument_method {
         width:100%;
         float:left;
         padding-right: 10px;
     }

    #tbl_paymentprofilecustomer {
           width: 100%;
    float: left;
    table-layout: fixed;
    border-collapse: collapse;
    }
    #tbl_paymentprofilecustomer thead tr {
    background-color: #fbfbfb;
    border-bottom: 2px solid #ccc;
}
     #tbl_paymentprofilecustomer thead tr th,
     #tbl_paymentprofilecustomer tbody tr td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align:center;
}
     @media (max-width:768px) {
        .existing-equipments,
        .smart_agree_summery_table_container {
            width: 100%;
            float: left;
            overflow-x: scroll;
        }

            .existing-equipments table {
                width: 1200px;
            }

            .smart_agree_summery_table_container table {
                width: 768px;
            }
        .package_table {
            width: 100%;
            float: right;
        }
        .ServicePayments .width-25p, .ServicePayments .width-75p, .EquipmentPricePayment .width-25p {
            width: 50%;
        }
     }
    @media (max-width:414px) {
        .ServicePayments .width-25p,
        .ServicePayments .width-75p,
        .EquipmentPricePayment .width-25p {
            width:100%;
        }
        #btnSavandClose {
    float: right;
}
        .SaveBtnDiv {
    padding-bottom: 15px;
}
         .package_table {
        width:100%;
        float:right;
    }
          .smart_agree_additional_info > div:nth-child(1) {
        width:100%;
    }
  
     .smart_agree_additional_info > div:nth-child(2) {
        width:100%;
        text-align:left;
        padding-top:5px;
    }
     .existing-equipments,
     .smart_agree_summery_table_container {
         width:100%;
         float:left;
         overflow-x:scroll;
     }
     .existing-equipments table {
         width:1200px;
     }
     .smart_agree_summery_table_container table {
         width:768px;
     }
     .ActivationfeePaymentsDiv .width-25p {
            width: 100% !important;
    padding-top: 10px;
        margin-bottom: 15px !important;
     }
      /* width */
.existing-equipments::-webkit-scrollbar,
.smart_agree_summery_table_container::-webkit-scrollbar  {
  width: 10px;
  height:5px;
}

/* Track */
.existing-equipments::-webkit-scrollbar-track,
.smart_agree_summery_table_container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.existing-equipments::-webkit-scrollbar-thumb,
.smart_agree_summery_table_container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.existing-equipments::-webkit-scrollbar-thumb:hover,
.smart_agree_summery_table_container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.ServicePayments {
    margin-top:10px;
}
    }