.cus-padding-top10p {
    padding-top: 10px;
}

.black-border {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.background-color-ffffff {
    background-color: white;
}

    .background-color-ffffff:focus {
        background-color: #ffffff !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

.customer-dropdown-ul-style {
    border: 1px solid #666 !important;
    font-size: 13px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
}

.dropallign {
    padding: 7px 13px;
}

.btn-recive-payment {
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    font-weight: 600;
    margin-left: 27px;
    float: right;
}

#tblTransactions {
    width: 100%;
}

#tblTransactions_paginate {
    float: right;
}

.cus-anchor {
    color: #2ca01c !important;
}

.SearchByList {
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    width: 100px;
    height: 36px !important;
    float: left;
    padding: 5px;
    margin-right:-3px;
}

    .SearchByList::after {
        content: "\2193";
        color: rgba(85, 85, 85, 0);
        background: url(http://media.lib.byu.edu/assets/images/searchbar/1.0/down-arrow.svg) no-repeat top left;
        height: 8px;
        width: 10px;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -6px;
    }

.all_sales_search_text {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 36px !important;
}


/*Pagination design start*/
.AgencyListPagination {
    position: relative;
    right: 10px;
    padding-top: 10px;
}

.paginationContainer {
    height: 50px;
    float: right;
    position: relative;
    min-width: 250px;
    padding-top: 10px;
}

.paginationtextdv {
    width: 30%;
    float: left;
    text-align: center;
}

.paginationMiddleButtondv {
    width: 40px;
    float: left;
}

.PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}

.NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
    margin-right: 2px;
}

.activeBtn {
    background-color: #ddd !important;
    color: black;
    border: none;
    height: 26px;
    width: 35px;
}

.paginationRightButtondv {
    width: 40px;
    float: left;
}
/*Pagination design end*/



/*new added style*/
/*new added style*/
.header-section-new {
    margin-bottom: 20px;
}
.excel-download{
        margin-top: 5px;
    float: right;
}
.excel-download-arb{
        margin-left: 10px;
    float: right;
}
.afd_amount_info {
    width: 100%;
    float: left;
    height: 60px;
    color: #fff;
}

.afd_estimate {
    width: 36%;
    float: left;
    background-color: #21abf6;
    text-align:center;
}

.afd_reveneu {
    width: 32%;
    float: left;
    background-color: #0077c5;
    text-align:center;
}

.afd_receivable {
    width: 32%;
    float: left;
    background-color: #21abf6;
    text-align:center;
}

.afd_estimate:hover {
    border-top: 6px solid #337192;
}

.afd_reveneu:hover {
    border-top: 6px solid #2b4e61;
}

.afd_receivable:hover {
    border-top: 6px solid #337192;
}

.ta_div {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 15px;
}

.ta_amount {
    float: left;
    font-size: 2.5rem;
    padding-left: 15px;
    width:100%;
}

.middle_search {
    width: initial !important;
    position: relative;
    display: table;
    border-collapse: separate;
}

#tblTransactions > thead > tr > th {
    text-align: left;
    padding:10px;
}
#tblTransactions thead tr th,
#tblTransactions tbody tr td {
    border: 1px solid #ccc;
}

#tblTransactions > tbody > tr:hover {
    background-color: #f4f5f8;
}

.search_afd_btn_style {
    padding-left: 0px;
    width: 50px;
    float: left;
}

.afd_search_btn_custom {
    height: 36px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
}

.drop_search_afd {
    padding-right: 0px;
}

.sales_search_filter {
    width: 25%;
    float: left;
    padding-left: 15px;
}

    .sales_search_filter .row {
        margin: 0px;
    }

        .sales_search_filter .row .col-sm-5:nth-child(1) {
            padding-left: 5px;
            padding-right: 0px;
        }

            .sales_search_filter .row .col-sm-5:nth-child(1) input {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

        .sales_search_filter .row .col-sm-5:nth-child(2) {
            padding-left: 0px;
            padding-right: 0px;
            margin-left: -1px;
        }

        .sales_search_filter .row .col-sm-5 input {
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            height: 36px;
        }

        .sales_search_filter .row .col-sm-2 {
            padding-left: 0px;
            padding-right: 10px;
        }

            .sales_search_filter .row .col-sm-2 button {
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                height: 34px;
                box-shadow: none;
                border: none;
                padding: 0px 12px;
                height: 36px;
                cursor: pointer;
            }

                .sales_search_filter .row .col-sm-2 button:hover {
                    background-color: #2ca01c;
                    color: #fff;
                }

                .sales_search_filter .row .col-sm-2 button:focus {
                    outline: none;
                }

.sales_search_by {
    width: 25%;
    float: left;
}

.sales_invoice_table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

.sales_invoice_table tbody tr td div:nth-child(1) {
    display: none;
}
 .sales_invoice_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .sales_invoice_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .sales_invoice_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .sales_invoice_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
.all_invoice_info_bar .afd_amount_info {
    height: 80px;
}

.all_invoice_info_bar .ta_div {
    width: 100%;
}



.all_invoice_info_bar .all_invoice_right_btn {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.width-100p {
    width: 100%;
    float: left;
}


   

    #AllFundings .afd_balance_preview {
        width: 100%;
    }

    .sales_search_filter {
        width: 50%;
        float: left;
        padding-left: 0px;
    }

    .sales_search_by {
        width: 50%;
        float: left;
    }

    .afd_balance_preview .afd_amount_info {
        height: 80px;
    }

    .afd_container_custom .header-section {
        padding-bottom: 10px;
    }
    .sales_report_down {
        float:right;
            background-color: #2ca01c;
    border-color: #2ca01c;
    color: #fff;
    }
.smcl_header {
    width: 100%;
    float: left;
    font-size: 24px;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 2px solid #ccc;
}
.smcl_container {
    width: 100%;
    float: left;
    overflow-x:hidden;
    overflow-y:auto;
}
    .smcl_container .CustomerList {
        width: 100%;
        float: left;
        padding: 5px 15px;
    }
    .smcl_container table tbody tr:hover {
        background-color:#f4f5f8;
    }
    .smcl_container table thead tr th,
    .smcl_container table tbody tr td {
        border: 1px solid #ccc !important;
    }



    @media (max-width: 768px) {
        .smcl_container .sales_invoice_table tbody tr td {
            padding: 8px !important;
        }
        .sales_search_filter .row .col-sm-5:nth-child(1) {
            padding-left: 0px;
        }

    .sales_invoice_table thead {
        display: none;
    }

    .sales_invoice_table tbody tr td {
        width: 100%;
        float: left;
        padding: 0px;
    }

        .sales_invoice_table tbody tr td div:nth-child(1) {
            display: block;
            width: 45%;
            float: left;
            font-weight: bold;
            text-align: left;
        }
        .sales_invoice_table tbody tr td div:nth-child(1) span {
            float:right;
            margin-right:10px;
        }
        .sales_invoice_table tbody tr td div:nth-child(2) {
            width: 55%;
            float: left;
            text-align: left;
        }

    .all_invoice_info_bar .width-80p {
        width: 100%;
    }

    .all_invoice_info_bar .afd_amount_info .width-50p {
        width: 100%;
    }

    .all_invoice_info_bar .afd_amount_info .afd_total_amount {
        border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        -moz-border-radius: 4px 4px 0px 0px;
    }

    .all_invoice_info_bar .afd_amount_info .afd_balance_due {
        border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        -moz-border-radius: 0px 0px 4px 4px;
    }

    /*.all_invoice_info_bar .ta_div,
    .all_invoice_info_bar .ta_amount {
        width: 25%;
    }*/

    .all_invoice_info_bar .afd_amount_info {
        height: 80px;
    }

    .all_invoice_info_bar .afd_total_amount:hover {
        border: none;
    }

   

    .all_invoice_info_bar .all_invoices_search_text {
        border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        -moz-border-radius: 4px 4px 0px 0px;
    }
    .afd_estimate,
    .afd_reveneu,
    .afd_receivable {
        width:100%;
        }
    .afd_estimate:hover,
    .afd_reveneu:hover,
    .afd_receivable:hover {
        border-top: none;
        }
  
   

    .afd_balance_preview .afd_amount_info {
        height: auto;
        margin-bottom: 5px;
    }
  
}

@media (max-width: 414px) {
    .all_invoices_partial_container .afd_amount_info {
    height: auto;
}
     .sales_search_filter .row .col-sm-2 {
            padding-right: 0px;
        }
      .sales_search_filter .row .col-sm-2 button {
          width:100%;
      }
      .afd_container_custom .header-section {
          padding-bottom:0px;
          margin-bottom:0px;
      }
       .cus-padding-top10p {
        padding-top: 5px;
    }
    

    .sales_search_by {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    

    .all_invoice_search_drop_list .all_invoices_search_button {
        float: right;
        border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        -moz-border-radius: 0px 0px 4px 4px;
    }

    .all_invoice_search_drop_list #BillingCycle {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
    }

    .all_invoice_search_drop_list #TaxApplied {
        border-radius: 0px 0px 0px 4px;
        -webkit-border-radius: 0px 0px 0px 4px;
        -moz-border-radius: 0px 0px 0px 4px;
    }

   
}
