    .acc_receivable_container .afd_amount_info {
        width: 100%;
        float: left;
        height: 75px;
        color: #fff;
    }
     .acc_receivable_container .afd_estimate {
        width: 36%;
        float: left;
        background-color: #21abf6;
        text-align:center;
    }
     .acc_receivable_container .afd_estimate:hover {
        border-top: 6px solid #337192;
    }
     .acc_receivable_container .afd_reveneu {
        width: 32%;
        float: left;
        background-color: #0077c5;
        text-align:center;
    }
     .acc_receivable_container .afd_reveneu:hover {
        border-top: 6px solid #2b4e61;
    }
    .acc_receivable_container .afd_receivable {
        width: 32%;
        float: left;
        background-color: #21abf6;
        text-align:center;
    }
    .acc_receivable_container .afd_receivable:hover {
        border-top: 6px solid #337192;
    }
    .acc_receivable_container .ta_div {
        font-size: 14px;
        padding-top: 10px;
        padding-left: 0px;
    }
    .acc_receivable_container .ta_amount {
        font-size: 2.5rem;
        padding-left: 15px;
        width:100%;
            overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    } 
.cus-padding-top10p {
        padding-top: 10px;
    }
 .all_recv_payment_container {
     width:100%;
     padding: 10px;
     overflow-x:hidden;
 }
 #rcv_all_payments_btn {
      -webkit-border-radius: 0px 4px 4px 0px;
-moz-border-radius: 0px 4px 4px 0px;
border-radius:0px 4px 4px 0px;
 }
 .rcv_all_payments_text {
      -webkit-border-radius: 4px 0px 0px 4px;
-moz-border-radius: 4px 0px 0px 4px;
border-radius:4px 0px 0px 4px;
     height:34px;
 }
    .black-border {
        border: 1px solid #ccc;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .background-color-ffffff {
        background-color: white;
    }

    .background-color-ffffff:focus {
        background-color: #ffffff !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .customer-dropdown-ul-style {
        border: 1px solid #666 !important;
        font-size: 13px;
         -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
        margin-top: 4px !important;
        width: inherit;
        padding: 4px 0px 4px 0px !important;
    }

    .dropallign {
        padding: 7px 13px;
    }

    .btn-recive-payment {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
        font-weight: 600;
        margin-left: 27px;
    }

    #tblTransactions {
        width: 100%;
    }

    #tblTransactions_paginate {
        float: right;
    }

    .cus-anchor {
        color: #2ca01c !important;
    }
    #tblAllRcvPayments > thead > tr > th {
    padding: 10px;
}
     #tblAllRcvPayments {
    margin-top: 10px;
}
        #tblAllRcvPayments thead tr th,
        #tblAllRcvPayments tbody tr td {
            border: 1px solid #ccc;
        }
     #tblAllRcvPayments > thead > tr > th:hover {
   background-color:#f4f5f8;
}
      #tblAllRcvPayments > tbody > tr:nth-child(odd) {
   background-color:#f8f8f8 !important;
}
      #tblAllRcvPayments > tbody > tr:hover {
   background-color:#f4f5f8 !important;
}
.acc_receivable_container .header-section {
    width:100%;
    float:left;
    margin-bottom:10px;
}
    .acc_receivable_container .header-section .mailandprint {
        float: right;
    }
.acc_receivable_container .label-cbx .checkbox {
    margin-top:0px;
    margin-bottom:-2px;
}
.acc_receivable_container .header-section .input-group {
    width: 40% !important;
    float: left;
}
      #tblAllRcvPayments thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

    #tblAllRcvPayments thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     #tblAllRcvPayments thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        #tblAllRcvPayments thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
      #tblAllRcvPayments tbody tr td div:nth-child(1) {
          display:none;
      }
     
      @media (max-width:1000px) {
          .acc_receivable_container .header-section .input-group {
          width:100% !important;
      }
          #tblAllRcvPayments thead {
              display:none;
          }
          #tblAllRcvPayments tbody tr td {
              width:100%;
              float:left;
              box-sizing:border-box;
              padding:3px 5px;
          }
          #tblAllRcvPayments tbody tr td div:nth-child(1) {
              display:block;
              width:45%;
              float:left;
              text-align:left;
              font-weight:bold;
          }
          #tblAllRcvPayments tbody tr td div:nth-child(1) span {
              float:right;
              margin-right:10px;
          }
          #tblAllRcvPayments tbody tr td div:nth-child(2) {
              width:55%;
              float:left;
              text-align:left;
          }
      }
       @media (max-width:768px) {
           .acc_receivable_container .afd_amount_info {
               height:auto;
               margin-bottom:10px;
           }
          .acc_receivable_container .afd_estimate,
          .acc_receivable_container .afd_reveneu, 
          .acc_receivable_container .afd_receivable {
              width:100%;
          }
      }
       @media (max-width:414px) {
            #tblAllRcvPayments tbody tr td div:nth-child(1),
             #tblAllRcvPayments tbody tr td div:nth-child(2) {
                width:50%;
            }
       }