

.sales_top_nav > li > a {
         -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius:0px;
         color:#000;
    }

    .sales_top_nav > li > a:hover {
        background-color:#fff;
        border-color:#fff;
        border-bottom:none;
    }
.recur_billing_mismatch_container {
    width:100%;
    float:left;
    padding:10px 0px;
}
.sales_top_nav > li {
    /*color:#000;*/
}

        .sales_top_nav > li.active {
            /*background-color: #2ca01c !important;*/
        }

    .sales_top_nav > li {
        /*border: 1px solid #ccc !important;*/
    }

        .sales_top_nav > li.active > a {
          
            /*color: white !important;*/
        }    



#myInvoicesTab > li > a {
        background-color: transparent !important;
    }

    #myInvoicesTab > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    #myInvoicesTab > li {
        border: 1px solid #ccc !important;
    }

        #myInvoicesTab > li.active {
            background-color: #2ca01c !important;
        }

    #myInvoicesTab > li {
        border: 1px solid #ccc !important;
    }

        #myInvoicesTab > li.active > a {
            color: white !important;
        }

    .ReportsTitle {
        font-weight: 500;
        font-size: 30px;
       }

    .Report-Tabs {
        width: 100%;
        float:left;
    }
    .sales_tab_style {   
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    }

    .ReportTableDiv {
        margin-top: 10px;
    }

    .report-bottom-border {
        padding-top: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .report-top-border {
        padding-top: 10px;
        border-top: 1px solid #ccc;
        margin-top: 10px;
    }

    .report_btn {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #2ca01c !important;
        border: none;
        color: white;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
       
    }


    /*new added style*/
     /*new added style*/


    .all_sales_partial_container {
        width:100%;
        float:left;
        padding: 5px 10px;
    }
    .reports-tabs li > a:hover {
        cursor:pointer;
    }
      .all_invoices_partial_container{
        margin-top:10px;
    }
    .all_invoices_partial_container .afd_amount_info {
        width: 100%;
        float: left;
        height: 75px;
        color: #fff;
    }

    .all_invoices_partial_container .afd_estimate {
        width: 36%;
        float: left;
        background-color: #21abf6;
        text-align:center;
    }

    .all_invoices_partial_container .afd_reveneu {
        width: 32%;
        float: left;
        background-color: #0077c5;
        text-align:center;
    }

    .all_invoices_partial_container .afd_receivable {
        width: 32%;
        float: left;
        background-color: #21abf6;
        text-align:center;
    }

    .all_invoices_partial_container .afd_estimate:hover {
        border-top: 6px solid #337192;
    }

    .all_invoices_partial_container .afd_reveneu:hover {
        border-top: 6px solid #2b4e61;
    }

    .all_invoices_partial_container .afd_receivable:hover {
        border-top: 6px solid #337192;
    }

    .all_invoices_partial_container .ta_div {
        font-size: 14px;
        padding-top: 10px;
        padding-left: 0px;
    }

    .all_invoices_partial_container .ta_amount {
        font-size: 2.5rem;
        padding-left: 15px;
        width:100%;
    }
.all_invoice_search_drop_list #BillingCycle,
.all_invoice_search_drop_list #BillingDayDrp,
.all_invoice_search_drop_list #TaxApplied,
.all_invoice_search_drop_list .input-group {
    width: 25% !important;
}

.all_invoice_info_bar .all_invoice_right_btn {
    width: 100%;
    float: left;
    padding-top: 10px;
    padding: 3px 5px;
}
.all_returns_by_filter_table table {
    width:100%;
}
    .all_returns_by_filter_table table thead tr th,
    .all_returns_by_filter_table table tbody tr td {
        border: 1px solid #ccc;
    }
.all_returns_by_filter_table table thead tr th {
    padding:10px;
}
 .all_returns_by_filter_table table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .all_returns_by_filter_table table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .all_returns_by_filter_table table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .all_returns_by_filter_table table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
.all_returns_by_filter_table table tbody tr:nth-child(odd) {
    background-color:#f8f8f8;
}
.all_returns_by_filter_table table tbody tr:hover {
    background-color:#f4f5f8;
}
.all_returns_by_filter_table table tbody tr td div:nth-child(1) {
         display:none;
     }
.excel-download-arb {
    float:right;
    width:auto;
    position:relative;
}
.excel-download-arb .ImportPanel {
    padding: 5px;
    border: 1px solid #ccc !important;
    width: 150px;
    position: absolute;
    right: 0px;
    left: unset;
    top: 40px;
}
.excel-download-arb button {
    background-color:#2ca01c;
    border-color:#2ca01c;
    color:#fff;
}
.excel-download-arb .ImportPanel::before {
    content: '';
    position: absolute;
    top: -14px;
    right: 12px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #CBCBCB;
}
    .width-35p {
        width: 35%;
        float: left;
    }

    .all_invoices_Table thead .thead-th-style {
        cursor: pointer;
    }
    .arb_ach_search,
    .arb_invoice_srch {
        width:100%;
        float:left;
    }
    .arb_ach_search .all_invoices_search_text {
        width:260px;
        float:left;
        border-radius:4px !important;
        margin-right:-3px;
    }
        .arb_ach_search .billingCycle_div {
            width: 260px;
            float: left;
            margin-right: -3px;
        }
    .arb_ach_search .input-group {
        width:180px;
        float:left;
        margin-left:-2px;
    }
        .arb_ach_search .InvSendMail,
        .arb_ach_search .InvPrint,
        .arb_ach_search .arb_ach_dwn {
            float: right;
            margin-left:10px;
        }
        .arb_ach_search .arb_ach_dwn,
        .arb_ach_search #PrintInvoiceList,
        .arb_invoice_srch .arb_invoice_dwn {
            float: right;
            color: #fff;
            background-color: #2ca01c;
        }
    .arb_invoice_srch .all_invoices_search_text {
         width:300px;
        float:left;
        margin-right:-3px;
    }
        .arb_invoice_srch .select_search {
            width: 145px;
            float: left;
            margin-right: -3px;
        }
     .arb_invoice_srch .input-group {
         width:200px;
        float:left;
    }
@media (max-width: 768px) {
     .arb_ach_search .all_invoices_search_text,
      .arb_ach_search .input-group,
      .arb_invoice_srch .all_invoices_search_text
       {
        width:100%;
    }
     .arb_ach_search #BillingCycle {
           width:50%;
     }
     .arb_ach_search .input-group {
         width:50%;
     }
     .arb_ach_search .arb_ach_dwn {
         margin-top:10px;
     }
    #myInvoicesTab > li {
        width:33.33%;
        text-align:center;
    }
        #myInvoicesTab > li > a {
            padding:10px 8px;
        }
    .sales_top_nav > li > a {
        padding:5px 10px;
        border-right: 0px !important;
    }
    .all_invoice_search_drop_list .all_invoices_search_button {
    padding:5px;
}
    .all_invoices_partial_container .ta_amount {
        font-size:20px;
    }
     .all_invoices_partial_container .all_invoices_search_text_div,
     .all_invoices_partial_container .all_invoice_search_drop_list {
         width:35%;
         float:left;
     }
     #UnsettledCustomers .all_invoices_search_text_div,
     #UnsettledCustomers .all_invoice_search_drop_list,
      #OthersInvoice .all_invoices_search_text_div,
     #OthersInvoice .all_invoice_search_drop_list {
         width:100%;
         margin-top:10px;
     } 
     #UnsettledCustomers .all_invoice_search_drop_list #BillingCycle,
     #UnsettledCustomers .all_invoice_search_drop_list #BillingDayDrp,
     #UnsettledCustomers .all_invoice_search_drop_list #TaxApplied,
      #OthersInvoice .all_invoice_search_drop_list #BillingCycle,
     #OthersInvoice .all_invoice_search_drop_list #BillingDayDrp,
     #OthersInvoice .all_invoice_search_drop_list #TaxApplied {
    width: 25% !important;
}
     .all_invoices_search_text {
         border-radius:4px 4px 0px 0px !important;
         -webkit-border-radius:4px 4px 0px 0px !important;
         -moz-border-radius:4px 4px 0px 0px !important;
     }
     .all_returns_by_filter_table table thead {
        display:none;
}
     .all_returns_by_filter_table table tbody tr td {
         width:100%;
         float:left;
         box-sizing:border-box;
         padding:0px;
     }
     .all_returns_by_filter_table table tbody tr td div:nth-child(1) {
         display:block;
         width:45%;
         float:left;
         text-align:left;
         font-weight:bold;

     }
     .all_returns_by_filter_table table tbody tr td div:nth-child(2) {
         width:55%;
         float:left;
         text-align:left;
     }
      .sales_top_nav > li {
     width: 25%;
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    height: 50px;
    }
     .all_invoices_partial_container .afd_amount_info {
        height:auto !important;
    }
    .all_invoices_partial_container .afd_estimate,
    .all_invoices_partial_container .afd_reveneu,
    .all_invoices_partial_container .afd_receivable {
        width:100%;
    }
    .all_invoice_search_drop_list #BillingCycle,
.all_invoice_search_drop_list #BillingDayDrp,
.all_invoice_search_drop_list #TaxApplied {
    width: 86% !important;
}
    .all_invoice_search_drop_list .input-group {
    width: auto !important;
}
    .arb_ach_search,
    .arb_invoice_srch {
         padding-top:10px;
     }
    .arb_invoice_srch .all_invoices_search_text {
        width:100%;
    }
    .arb_invoice_srch .excel-download-arb {
        padding-top:10px;
    }
    .arb_invoice_srch .select_search {
        width:50%;
    }
    .arb_invoice_srch .input-group {
        width:50%;
    }
}
@media (max-width: 414px) {
    .arb_ach_search .all_invoices_search_text,
      .arb_ach_search .input-group,
      .arb_invoice_srch .all_invoices_search_text,
      .arb_ach_search #BillingCycle {
        width:100%;
    }
    #myInvoicesTab > li > a {
    padding: 10px 5px;
}
     .all_invoices_partial_container .ta_amount {
        text-align:center;
    }
    .all_sales_partial_container {
        padding-bottom:50px;
    }
    
    .sales_top_nav > li {
     width: 50%;
    float: left;
    text-align: center;
    border: 1px solid #ccc;
    height: 60px;
    }
    .sales_top_nav > li.active {
       background-color:#2ca01c;
    }
    .sales_top_nav > li.active a {
       border:none !important;
       background-color:#2ca01c !important;
       color:#fff !important;
    }
    .sales_top_nav > li > a {
        padding:5px 0px;
    }
    .sales_top_nav > li.AllFundings,
    .sales_top_nav > li.AccountReceivable,
    .sales_top_nav > li.InvoicesList,
    .sales_top_nav > li.ProductsandServices {
        padding-top:9px;
    }
    .sales_search_filter {
        width: 100% !important;
    }
    .sales_search_filter .col-sm-5 {
        width: 43%;
        float:left;
    }
     .sales_search_filter .col-sm-2 {
        width: 14%;
        float:left;
    }
     #myInvoicesTab > li {
         text-align:center;
     }
     #myInvoicesTab .AllACHInvoice {
         width:50%;
         float:left;
     }
     #myInvoicesTab .AllCreditCardInvoice {
         width:50%;
         float:left;
     }
     #myInvoicesTab .OthersInvoice {
         width:30%;
         float:left;
     }
     #myInvoicesTab .UnsettledCustomers {
         width:70%;
         float:left;
     }
     #myInvoicesTab .ReturnsCustomers {
          width:45%;
     }
     #myInvoicesTab .SubscribedCustomers {
         width:55%;
     }
     #AllACHInvoice .all_invoices_search_text_div {
         margin-top:10px;
         width:100%;
     }
    
     #AllACHInvoice .all_invoices_search_text {
         border-radius:4px 4px 0px 0px;
     }
     .all_invoice_search_drop_list #BillingCycle,
    .all_invoice_search_drop_list #BillingDayDrp,
    .all_invoice_search_drop_list #TaxApplied,
    .all_invoice_search_drop_list .input-group {
        width: 50% !important;
    }
     .all_invoices_partial_container .all_invoices_search_text_div, .all_invoices_partial_container .all_invoice_search_drop_list {
    width: 100%;
    float: left;
}
    
     
    
    .arb_ach_search .arb_ach_dwn,
    .arb_ach_search #PrintInvoiceList {
       margin-top:10px;
    }
    .arb_invoice_srch .select_search,
    .arb_invoice_srch .input-group {
        width:100%;
    }
}