
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 350px;
        height: 100%;
    }

    .modal.right .modal-content {
        height: 100%;
    }

    .modal.right .modal-body {
        padding: 0px;
    }

    .modal.right.fade .modal-dialog {
        right: -320px;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    .modal-content {
         -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
    }
    
    .modal-header {
        border-bottom: none;
        position: absolute;
        right: 0px;
        z-index:999;
    }

    .modal-header h3 {
        padding-top: 6px;
        padding-left: 12px;
        font-family: 'Open Sans', sans-serif;
    }
    .btn-sale {
        float: right;
        margin-top: 15px;
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
        font-weight: 600;
    }

        .btn-sale:hover {
            background-color: #2ca01c;
            color: #ffffff;
            border: 1px solid #2ca01c;
        }

    .SalesAppoinmentCalender table tr td span {
        cursor: pointer;
    }

    .SalesAppoinmentCalender {
        padding-top: 10px;
    }
    #tblSales{
        width:100%;
    }
