 .all_customer_container {
        width: 100%;
        float: left;
    }

    .all_customer_search_div {
        width: 100%;
        float: left;
        padding: 10px 0px;
    }

        .sales_arb_sub_cus .input-group {
            width: 160px;
            float: left;
            margin-left: -3px;
        }

        .all_customer_search_div .all_returns_upload {
            float: right;
        }
       
    .all_customer_container .AllReturnsLoadDiv {
        width: 100%;
        float: left;
    }
  
    .sales_arb_sub_cus .AllReturnsSearchTxt {
        width:300px;
        float:left;
        margin-right:-3px;
    }
    @media (max-width:768px) {
        .sales_arb_sub_cus .AllReturnsSearchTxt {
            width:65%;
        }
        .sales_arb_sub_cus .input-group {
            width:35%;
        }
    }

    @media(max-width:414px) {
        .sales_arb_sub_cus .AllReturnsSearchTxt {
            width:100%;
        }
        .sales_arb_sub_cus .input-group {
            width: 100%;
            margin-left:0px;
        }
    }
