#CustomerMassRestockTab thead tr th {
            padding: 5px 10px 5px 10px;
            box-sizing: content-box;
            line-height: unset;
    }
     #CustomerMassRestockTab thead tr:hover {
         background-color:unset;
         border:unset;
     }
        #CustomerMassRestockTab thead tr th div:nth-child(1) {
            width: 94%;
            float: left;
            padding-top: 2px;
        }

        #CustomerMassRestockTab thead tr th div:nth-child(2) {
            width: 6%;
            float: left;
        }

            #CustomerMassRestockTab thead tr th div:nth-child(2) i {
                float: right;
                cursor: pointer;
                width: 100%;
                text-align: right;
                color: #bdbdbd;
            }


                #CustomerMassRestockTab thead tr th div:nth-child(2) i:nth-child(2) {
                    margin-top: -5px;
                }
                .clone-user {
                    width:100%;
                    float:left;
                    padding-top:10px;
                    padding-bottom:10px;
                }
                
                .clone-user .add_mass_multi_sel {
                    width:250px;
                    display:inline-block;
                }
                .clone-user .SaveaButtonsDivMass {
                 width: auto;
                float: right;
                text-align: unset;
                margin-top: unset;
                margin-bottom: unset;
                }
                 #CustomerMassRestockTab tbody tr td div:nth-child(1) {
         display:none;
     }
@media (max-width:768px) {
    #CustomerMassRestockTab thead {
        display:none;
    }
    #CustomerMassRestockTab tbody tr td {
        width:100%;
        float:left;
        box-sizing:border-box;
        padding:3px 5px !important;
    }
     #CustomerMassRestockTab tbody tr td div:nth-child(1) {
         display:block;
         width:45%;
         float:left;
         text-align:left;
         font-weight:bold;
     }
     #CustomerMassRestockTab tbody tr td div:nth-child(1) div {
         width:auto;
         float:right;
         margin-right:10px;
     }
      #CustomerMassRestockTab tbody tr td div:nth-child(2) {
          width:55%;
         float:left;
         text-align:left;
     }
}