    .green-tooltip1 + .tooltip > .tooltip-inner {background-color: #2ca01c;}
    .estimatestatus{
        cursor:pointer;
    }
    .invoice_list_partial_table .checkbox {
        top:0px;
        margin-top:0px;
        margin-bottom:0px;
    } 