.send_mail_invoice_container {
    width: 100%;
    float: left;
    padding: 20px 30px;
    overflow-x: hidden;
    height: 100%;
}
.send_mail_invoice_container .CloseButtonDiv {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.send_mail_invoice_header {
    width: 100%;
    float: left;
    font-size: 18px;
    position:relative;
}

.send_mail_invoice_container .row {
    padding-bottom: 15px;
}

    .send_mail_invoice_container .row .col-md-6:nth-child(1) {
        font-weight: bold;
    }

.SaveaButtonsDiv ul.dropdown-menu li {
    cursor: pointer;
}

.txtEmailbody {
    outline: none;
    height: 123px;
    border: 1px solid rgb(186, 190, 197);
    padding: 8px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition-property: border;
    transition-duration: 0.35s;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    vertical-align: middle;
    margin-top: 5px;
}

.EmailSubject, .ContactNumber {
    outline: none;
    height: 32px;
    border: 1px solid #babec5;
    padding: 0 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition-property: border;
    transition-duration: 0.35s;
    font-size: 13px;
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    vertical-align: middle;
    margin-top: 5px;
}

.btnSaveAndClose {
    float: right;
    margin-left: 10px;
}

.btnSaveAndNew {
    float: right;
    margin-right: 15px;
}

.btnSendEmailAndClose {
    float: right;
    margin-right: 15px;
}

.btnSendToBoth {
    float: right;
    margin-right: 15px;
}

.emailbody {
    font-weight: bold;
}

.width_50p_firstdiv {
    width: 50%;
    float: left;
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.width_50p_pdf {
    width: 50%;
    float: left;
}

.pdf_styles_send_mail_invoice {
    width: 100%;
    height: 480px;
}

.send_email_invoice_footerContents {
     width: 100%;
    position: fixed;
    bottom: 20px;
    left: 0px;
    padding: 0px 30px;
}
.send_email_invoice_footerContents .btnCancel {

}
.send_email_invoice_footerContents .btnSendMailAndClose, 
.send_email_invoice_footerContents .btnSendTextAndClose,
.send_email_invoice_footerContents .btnSendBoth {
    float:right;
    margin-left:10px;
}
#SMSDescription {
    width: 100%;
}
.share_customer_container {
    width:100%;
    float:left;
}
.share_customer_header {
    width: 100%;
    float: left;
    padding:5px 15px;
    font-size:24px;
    border-bottom:2px solid #ccc;
    background-color:#f8f8f8;
}
    .share_customer_header img {
        width:20px !important;
    }
    .share_customer_height {
        width: 100%;
        float: left;
        overflow-x: hidden;
        overflow-y: auto;
    }
.share_customer_inner {
    width: 100%;
    float: left;
    padding: 10px 15px;
}
.share_customer_footer {
    width: 100%;
    float: left;
    padding: 10px 15px;
    border-top:2px solid #ccc;
}
.shci_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.shci_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f8f8f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
.shci_info {
    width: 100%;
    float: left;
    padding:10px;
}
.shci_info_half {
    width: 50%;
    float: left;
}
.shci_info .shci_info_half:nth-child(1) {
    padding-right:10px;
}
.shci_info label {
    margin-bottom: 0px;
}
.green_button,
.green_button:hover,
.green_button:focus {
    background-color: #2ca01c !important;
    color: #fff !important;
    border-color: #2ca01c !important;
}

.red_button,
.red_button:hover,
.red_button:focus {
    background-color: #d71920 !important;
    color: #fff !important;
    border-color: #d71920 !important;
}
.share_customer_footer button {
    float: right;
    margin-left: 5px;
}
.share_customer_footer .red_button {
    float: left !important;
    margin-left: 0px !important;
}
@media (max-width:414px) {
    .shci_info_half {
        width: 100%;
    }
    .shci_info .shci_info_half:nth-child(1) {
        padding-right: 0px;
    }
    .share_customer_footer {
        padding: 10px 5px;
    }
        .share_customer_footer .red_button {
            display:none;
        }
        .send_mail_invoice_container {
            padding: 30px 10px 100px;
        }

        .send_mail_invoice_container .width_50p_firstdiv,
        .send_mail_invoice_container .width_50p_pdf {
            width: 100%;
        }

    .send_email_invoice_footerContents {
        bottom: 0px;
        background-color: #fff;
        padding: 5px 10px;
        border-top: 1px solid #ccc;
        left: 0px;
    }

        .send_email_invoice_footerContents button {
            width: 48%;
            float: left;
            padding: 6px;
            margin-top: 5px;
            font-size: 12px;
            margin-right: 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .send_email_invoice_footerContents .btnSaveAndClose {
            float: right;
            margin-right: 0px;
        }

    .btnSendToBoth {
        float: right !important;
    }
}

@media (max-width:320px) {
    .send_email_invoice_footerContents {
        bottom: 15px;
    }
}
/* Darker background on mouse-over */
.btnPdfDownLoadForMo,
.btnPdfDownLoadForMo:hover,
.btnPdfDownLoadForMo:focus  {
  background-color: #2ca01c;
  color:#fff;
  cursor:pointer;
}
.btnPdfDownLoadForMo a,
.btnPdfDownLoadForMo a:hover {
    color:#fff;
}
