    .row-custom{
        margin-right:0;
        margin-left:0;
    }
    .col-custom-12{
        padding-left:0;
        padding-right:0;
    }




    #loadTrackingList {
    overflow: auto;
    width:100%;
    float:left;
}

.TrackingSer{
    width:500px !important;
    float:left;
}





.LeadTracking_partial_middle_content {
    width:100%;
    float:left;
    padding:10px 0px 20px;
}
.LeadTracking_partial_middle_content .search_Teacher_btn {
    margin-top:20px;
}
.LeadTracking_partial_middle_content label {
    margin-bottom:0px;
}