 .CompanyInfoDiv {
        margin-bottom:10px;
    }
    .AddCompany {
        float: right;
        background-color: #2ca01c;
        border: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
-moz-border-radius: 3px;
        height: 32px;
        color: white;
    }

    .txt-style {
        padding-top: 20px;
    }

    .panel-table {
        padding-top: 20px;
    }

    .searchbardiv {
        margin-top: 20px;
    }
    .width-100p{
        margin-bottom:15px;
        width:100%;
        float:left;
    }
    .width-70p{
        width:70%;
        float:left;
    }
    .width-30p{
        width:30%;
        float:left;
    }
    .padding-left-10{
        padding-left:10px;
    }
    .CompanySaveButton{
        float:right;
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
        font-weight: 600; 
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-border-radius: 4px;
-moz-border-radius: 4px;
    }
   .company_partial_header {
       font-size:30px;
       font-weight:500;
   }
   .company_partial_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   }
   .CompanyInfoDiv > .row > .col-md-3 > label {
       margin-bottom:0px;
   }
  .cp_margin_top {
      margin-top:12px;
  }
  .cp_margin_top_first {
      margin-top:5px;
  }
  .cp_note {
      resize:none;
  }
.cp_email {
    resize: none;
}
  @media(max-width:768px) {
      .company_partial_container {
          margin-top:50px;
      }
  }