.txt-header-style{
    font-size:20px;
    font-weight:500;
    margin-bottom: 20px;
}
.SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }
.footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
#SaveSettings {
        background-color: #2ca01c;
        color: white;
        float: right;
    }
.context-txt{
    
    font-weight:600;
}