.acm_field {
    width: 360px;
    margin: auto;
    padding-bottom: 10px;
}
    .acm_field .label_full {
        width: 100%;
        float: left;
    }
    .acm_field label {
        width: 35%;
        float: left;
        min-width: 95px;
        text-align: right;
        padding-right: 5px;
    }
    .acm_field .label_full {
        width: 100% !important;
        float: left;
        text-align: center;
    }
    .acm_field input, .acm_field select,
    .acm_field textarea {
        width: 65%;
        float: left;
        resize: none;
    }

    .acm_field textarea {
        height: 120px;
    }
.TopToBottomModal {
    display: none;
}

.TopToBottomModal {
    position: fixed;
    width: 80%;
    margin-left: 10%;
    left: 0;
    top: 0;
    z-index: 9996;
    background-color: #ffffff;
}

.modal_transparent_bg {
    float: left;
    height: 100%;
    background-color: #565555;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.top_to_bottom_modal_container {
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #ffffff;
}

.TopToBottomModal .invoice-loader {
    padding-top: 50px;
}

.close-div {
    position: absolute;
    right: 0;
    padding: 8px;
    cursor: pointer;
    margin-right: 5px;
    z-index: 12;
}

.close_btn_size {
    width: 25px;
}

/*//New*/
.closenew {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

    .closenew:focus, .closenew:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }

button.closenew {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.success-body {
    padding-left: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.others-body {
    padding-left: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.CustomerCancel {
    height: 110px !important;
    width: 95% !important;
}

.message_header_container {
    width: 100%;
    float: left;
    text-align:center;
    margin-bottom: 10px;
    position: relative !important;
    border-bottom: 0px !important;
}

.message_header_border {
    width: 100%;
    float: left;
    margin-top: 27px;
}

.message_header_title {
    position: absolute;
    top: 41px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto !important;
    background-color: #fff;
    font-size: 24px;
    width: 300px;
    text-align:center;
}
.message_header_title_credit {
    position: absolute;
    top: 41px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto !important;
    background-color: #fff;
    font-size: 24px;
    padding: 0px 15px;
}
.InvTitle{
    text-align:left;
    float:left;
    font-weight:bold;

}
.message_middle_icon_div {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.message_middle_icon {
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 26px;
}

.message_content_div {
    width: 100%;
    float: left;
    text-align: center;
    padding-right: 15px;
    margin-top: 0px !important;
}

    .message_content_div .cus-body p {
        font-size: 14px;
    }

#ModalSuccessMessage .message_header_border {
    border-bottom: 1px solid #5cb85c;
}

#ModalSuccessMessage .message_middle_icon {
    background-color: #5cb85c;
}

#ModalSuccessMessage .message_header_title {
    color: #5cb85c;
}

#ModalSuccessIeateryPopup .message_header_border {
    border-bottom: 1px solid #5cb85c;
}

#ModalSuccessIeateryPopup .message_middle_icon {
    background-color: #5cb85c;
}

#ModalSuccessIeateryPopup .message_header_title {
    color: #5cb85c;
}
#ModalSuccessIeateryPopup .message_header_title {
    top:15px;
}
#ModalSuccessIeateryPopup .message_middle_icon_div {
    margin-top: 10px;
}

#ModalConfirmationMessage .message_header_border {
    border-bottom: 1px solid #f0ad4e;
}

#ModalConfirmationMessage .message_middle_icon {
    background-color: #f0ad4e;
}

#ModalConfirmationMessage .message_header_title {
    color: #f0ad4e;
}

#CustomerToLeadModalConfirmationMessage .message_header_border {
    border-bottom: 1px solid #f0ad4e;
}

#CustomerToLeadModalConfirmationMessage .message_middle_icon {
    background-color: #f0ad4e;
}

#CustomerToLeadModalConfirmationMessage .message_header_title {
    color: #f0ad4e;
}

#ModalErrorMessage .message_header_border {
    border-bottom: 1px solid #d9534f;
}

#ModalErrorMessage .message_middle_icon {
    background-color: #d9534f;
}

#ModalErrorMessage .message_header_title {
    color: #d9534f;
}


#ModalCautionMessage .message_header_border {
    border-bottom: 1px solid #d9534f
}

#ModalCautionMessage .message_middle_icon {
    background-color: #d9534f;
}

#ModalCautionMessage .message_header_title {
    color: #d9534f;
}


.modal-header .modalCloseBtn {
    margin-top: -2px;
}

button.modalCloseBtn {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.modalCloseBtn {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.FullScreenLoginModal{
    display:none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    top: 0px;
    background-color: white;
    left: 0;
    top: 0;
}

.successIcon{
    background: #2ca01c;
    border-radius: 16px;
    color: white;
    padding: 4px;
    font-size: 10px;
}
.errorIcon{
    background: #d9534f;
    border-radius: 16px;
    color: white;
    padding: 4px;
    font-size: 10px;
}

@media (max-width:768px) {
    .TopToBottomModal {
        width: 100%;
        margin-left: 0px;
    }
     .top_to_bottom_modal_container {
        position:relative;
    } 
}
@media (max-width:414px) {
   /*.top_to_bottom_modal_container {
        margin-top:50px;
   }*/
    /*.TopToBottomModal {
        margin-top:50px;
    }*/
   
}

.rmrRow {
    margin: 10px !important;
    width: 100% !important;
}
.rmrdiv {
    margin: 0px 10px !important;
    width: 45% !important;
    float: left;
}
.rmrdivsingle {
    margin-left: 25% !important;
    margin-right: 25% !important;
    width: 45% !important;
    float: left;
}
.rmrTextdiv {
    font-weight: 700 !important;
    text-align: left !important;
    padding-left: 10px !important;
    padding-bottom: 5px !important;
}