@{
    Layout = null;
    string Currency = HS.Web.UI.Helper.LabelHelper.CurrentTransMakeCurrency.MakeCurrency(null);
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using LabelHelper = HS.Web.UI.Helper.LabelHelper
<link href="~/Content/Css/Ticket/TicketListPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/RecurringBillingReportPartial.css" rel="stylesheet" />

<style>
    @Styles.Render("~/styles/_LoadCollectionReportPartialCS")
</style>
<script>
    var OpenTicketById = function(ticketId){
        OpenTopToBottomModal(domainurl + "/Ticket/AddTicket/?Id=" + ticketId);
    }
    var LoadRmrMarginList = function (pageno, order) {
        if (pageno == undefined || pageno == null) {
            pageno = 1;
        }
        var StartDate = $(".min-date").val();
        var EndDate = $(".max-date").val();
        var searchtext = $("#MarginListSearchText").val();
        $(".MarginListLoad").html(TabsLoaderText);
        $(".MarginListLoad").load(domainurl + "/RecurringBilling/LoadRmrMarginList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&searchtext=" + encodeURI(searchtext) + "&pageno=" + pageno + "&order=" + order);
    }
    $(document).ready(function () {
        LoadRmrMarginList(1, null);
        $(".DateFilterContents .btn-apply-Datefilter").unbind().click(function () {
            var DateFrom = $(".min-date").val();
            var DateTo = $(".max-date").val();
            UpdatePtoCookie();
            LoadRmrMarginList(1, null);
            var StartDate = my_date_format($(".DateFilterContents .min-date").val());
            var EndDate = my_date_format($(".DateFilterContents .max-date").val())
            if (StartDate == "NaN undefined, NaN") {
                StartDate = "All Time";
                EndDate = "";
            }

            $(".DateFilterContents .date-start").html("");
            $(".DateFilterContents .date-end").html("");
            $(".DateFilterContents .date-start").html(StartDate);
            $(".DateFilterContents .date-end").html(EndDate);
            $(".DateFilterContents .dropdown-filter").hide();
        });
        $("#MarginReportListDownload").click(function () {
            var StartDate = $(".min-date").val();
            var EndDate = $(".max-date").val();
            var searchtext = $("#MarginListSearchText").val();
            var order = $("#order").val();
            window.location.href = domainurl + "/RecurringBilling/LoadRmrMarginList?Start=" + encodeURI(StartDate) + "&End=" + encodeURI(EndDate) + "&searchtext=" + encodeURI(searchtext) + "&pageno=1&order=" + order + "&GetReport=true";
        });
        $("#MarginListSearchText").keydown(function (e) {
            if (e.which == 13) {
                LoadRmrMarginList(1, null);
                }
            });
    });
</script>

<div class="estimator_summary"></div>

<div class="sales_summery_report_top_bar">
    <div class="input-group add-on">
        <input class="form-control" placeholder="Search By Customer" value="" id="MarginListSearchText" />
        <div class="input-group-btn"> <button class="btn green_button" onclick="LoadRmrMarginList(1)" id="btn_new_sales" title="@Localize.T("Search By Customer")"><i class="fa fa-search"></i></button></div>
    </div>
    @*<button title="@Localize.T(" Download")" class="btn btn-primary float_right" id="MarginReportListDownload"><i class="fa fa-download"></i></button>*@
</div>
<div class="col-md-12">
    &nbsp;
</div>

<div class="MarginListLoad">


</div>
