@{
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        $(".SystemSettingTab").click(function () {
            $(".Load_Settings_Screen").html("");
            $(".Load_Settings_Screen").load("/Setup/IndividualSettingsPartial?For=RecurringBillingSetting");
        });

        $(".Load_Settings_Screen").load("/Setup/IndividualSettingsPartial?For=RecurringBillingSetting");
    });
</script>

<link href="~/Content/Css/Report/LeadsReportPartial.css" rel="stylesheet" />
<link href="~/Content/Css/Report/ReportsPartial.css" rel="stylesheet" />

<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">

        <ul class="nav nav-tabs payroll_report_top_nav" id="myTab">
            <li class="SystemSettingTab active">
                <a idval="" data-target="#SystemSettingTab" data-toggle="tab">@Localize.T("System Settings")</a>
            </li>
        </ul>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="UpsellsReport">
                <div class="row leads_report_top_bar">
                    <div class="Load_Settings_Screen">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


