    .SaveCancelDiv{
        width: 100% !important;
        position: fixed;
        bottom: 0px;
        right:0px;
        height: 50px;
        background: #eceef1;
    }
    .SaveManufacturer{
        float: right;
        margin-top: 8px;
        margin-right: 10px;
    }
    .addmanufacturercontents{
        padding-left:15px;
        padding-right:15px;
        padding-top:15px;
    }
     .add_manufacturer_header {
            width:100%;
            background-color:#f4f5f8;
            padding:10px 15px;
        }
        .add_manufacturer_header div {
            font-size:2rem;
        }