.loadmytickets_header {
    width:100%;
    float:left;
    font-size:30px;
}
.dashboard_assign_ticket_container {
    width:100%;
    float:left;
    padding-bottom:5px;
}
.dashboard_assign_ticket_table {
    width:100%;
    float:left;
    table-layout:fixed;
}
.reminder-important {
        text-align: justify;
    }

    .reminder-contents {
        background-color: #e6e3e3;
        padding: 5px;
    }

    .customertab_click {
        font-weight: 600;
        text-decoration: none !important;
    }

    .leadtab_click {
        font-weight: 600;
        text-decoration: none !important;
    }

    .reminder-contents-even {
        padding: 5px;
        background-color: #f9f8f8;
    }

    .note-style {
        color: red;
    }
    /*.dashboard_assign_ticket_table thead tr th:nth-child(1) {
        width:230px;
    }*/
      .dashboard_assign_ticket_table thead tr th:nth-child(2) {
        width:95px;
    }
    .dashboard_assign_ticket_table tbody tr:nth-child(odd) {
        background-color:#f8f8f8;
    }
     .dashboard_assign_ticket_table tbody tr:hover {
        background-color:#f4f5f8;
    }
    .dashboard_assign_ticket_table tbody tr td .dbat_device_header {
        display:none;
    }
    .dashboard_assign_ticket_table tbody tr td .dbat_device_info {
        text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }
    .dbat_device_info_head {
          float: left;
    font-weight: bold;
    text-align: left;
    }
     .dbat_device_info_head span {
          float: right;
    margin-right: 10px;
    }
    @media (max-width:768px) {
        .dashboard_assign_ticket_table thead {
            display:none;
        }
        .dashboard_assign_ticket_table tbody tr td {
        width: 100%;
        float: left;
        box-sizing: border-box;
        padding: 5px 8px;
        border: none;
        }
       .dashboard_assign_ticket_table tbody tr td .dbat_device_header {
        display:block;
        width:45%;
        float:left;
        text-align:left;
        font-weight:bold;
         }
       .dashboard_assign_ticket_table tbody tr td .dbat_device_header span {
           float:right;
           margin-right:5px;
       }
          .dashboard_assign_ticket_table tbody tr td .dbat_device_info {
         width:55%;
        float:left;
        padding-left:5px;
       
    }
    }