.gsr_header {
     width: 100%;
    float: left;
    padding-left: 8px;
    font-size: 2.4rem;
    background-color: #fff;
    margin-top:40px;
}
.GlobalSearchResults .gsr_header:nth-child(1) {
    margin-top:0px;
}
.invoice_result > thead > tr > th:nth-child(1) {
    width:15% !important;
}
.invoice_result > thead > tr > th {
   padding:0px !important;
}
.lead_result > thead > tr > th:nth-child(1) {
    width:15% !important;
}
.lead_result > thead > tr > th {
   padding:0px !important;
}

.customer_result > thead > tr > th:nth-child(1) {
    width:15% !important;
}
.customer_result > thead > tr > th {
   padding:0px !important;
}
.estimate_result > thead > tr > th:nth-child(1) {
    width:15% !important;
    padding:10px !important;
}
.estimate_result > thead > tr > th {
    padding: 10px 0px 9px 10px !important;
}
#tblEstimate_filter {
    display:none;
}
.GlobalSearchResults {
    margin:0px 15px;
}
.global_search_row {
    width:100%;
    float:left;
    border-bottom: 1px solid #ddd;
}
.global_search_row:hover, .global_search_row:nth-child(even):hover {
    background-color:#f4f5f8;
}
 .dataTables_filter{
        display:none !important;
    }
    table.dataTable thead .sorting:after{
        display:none;
    }
    table.dataTable thead .sorting_asc:after{
        display:none;
    }
    /*div.dataTables_scrollHead table thead tr:last-child th:first-child, div.dataTables_scrollHead table thead tr:last-child td:first-child{
        width:100px !important;
    }
    div.dataTables_scrollBody tbody tr:first-child th, div.dataTables_scrollBody tbody tr:first-child td{
        width:200px !important;
    }*/
    div.dataTables_paginate{
        display:none;
    }
.global_search_row:nth-child(even) {background: #f8f8f8;}
.global_search_row p {
    margin: -5px 0px 0px 0px;
}
.gsr_heading_for_mobile {
    display:none;
}
.global_lead_result_table tbody tr:nth-child(even) {background: #f8f8f8;}
.global_lead_result_table tbody tr:hover, .global_lead_result_table tbody tr:nth-child(even):hover {
      background-color:#f4f5f8;
}
 
.GlobalSearchLeadList .dataTables_scrollBody{
    height:unset!important;
}
   .Contacts_table {
       width:100%;
       float:left;
       table-layout:fixed;
   }
   .Contacts_table thead {
       border-bottom: 4px solid #d4d7dc;
   }
   .Contacts_table tbody tr {
       border-bottom: 1px solid #ddd;
   }
   .Contacts_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .Contacts_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .Contacts_table thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .Contacts_table thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }

    .Contacts_table thead tr th,
   .Contacts_table tbody tr td {
       padding:10px;
   }
   .Contacts_table tbody tr td div:nth-child(1) {
       display:none;
   }
   .Contacts_table tbody tr:nth-child(even) {background: #f8f8f8;}
.Contacts_table tbody tr:hover, .global_lead_result_table tbody tr:nth-child(even):hover {
      background-color:#f4f5f8;
}
.opportunities_table {
       width:100%;
       float:left;
       table-layout:fixed;
   }
   .opportunities_table thead {
       border-bottom: 4px solid #d4d7dc;
   }
   .opportunities_table tbody tr {
       border-bottom: 1px solid #ddd;
   }
   .opportunities_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .opportunities_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }

        .opportunities_table thead tr th div:nth-child(2) i {
            float: right;
            cursor: pointer;
            width: 100%;
            text-align: right;
            color: #bdbdbd;
        }

            .opportunities_table thead tr th div:nth-child(2) i:nth-child(2) {
                margin-top: -5px;
            }

    .opportunities_table thead tr th,
   .opportunities_table tbody tr td {
       padding:10px;
   }
   .opportunities_table tbody tr td div:nth-child(1) {
       display:none;
   }
   .opportunities_table tbody tr:nth-child(even) {background: #f8f8f8;}
.opportunities_table tbody tr:hover, .global_lead_result_table tbody tr:nth-child(even):hover {
      background-color:#f4f5f8;
}
@media(width:768px) {
    .gsr_lead_device_top {
        margin-top:20px;
    }
    .global_lead_result_table {
      
      
    }
    .global_lead_result_header_hide {
        display: none;
    }
    .gsr_device_row {
        width:100% !important;
        float:left;
        display:table;
        border-bottom: 1px solid #ddd;
    }
    .gsr_heading_for_mobile {
        display:block;
        width:40%;
        float:left;
        font-weight:bold;
        padding: 10px 0px 10px 15px;
    }
    .gsr_content_for_mobile {
        width:60%;
        float:left;
        padding: 10px 0px;
    }

}