 .nametd{
        width:50%!important;
    }
     .manufacturersTable{
         width:100%;
         float:left;
     }
     .manufacturersTable thead tr {
         border-bottom:2px solid #ccc;
     }
     .manufacturersTable tbody tr {
         border-bottom:1px solid #ccc;
     }
     .manufacturersTable thead tr th,
     .manufacturersTable tbody tr td {
         padding:10px !important;
     }
     .manufacturersTable thead tr th {
         padding-right:35px !important;
     }
     .manufacturersTable tbody tr:nth-child(odd) {
         background-color:#f8f8f8;
     }
     .manufacturersTable tbody tr:hover{
         background-color:#f4f5f8;
     }
     .actionsTd{
         text-align:right;
         padding-right:30px!important;
     }
     .manufac_list_container {
         width:100% !important;
         margin-top:5px !important;
         padding-left:0px;
     }
     .manufac_list_searchbardiv {
         float:left;
         width:50%;
     }
     .manufac_custom_table {
         padding:0px;
     }
     .nametd {
         padding-left:0px !important;
         width:40% !important;
         text-align:left !important;
     }
     .manufacturerlist_right_icon {
         width:auto;
         float:right;
         padding-right:15px;
     }
     .manufacturerlist_right_icon .btn {
         background-color:#2ca01c;
         color:#fff;
             margin-left: 5px;
    margin-right: 5px;
     } 

     @media (max-width: 414px) {
    .manufac_list_searchbardiv {
         width:70%;
         margin-top: 5px;
     }
}
      @media (max-width: 375px) {
    .manufac_list_searchbardiv {
         width:65%;
         margin-top: 5px;
     }
}
@media (max-width: 320px) {
    .custom-icon a {
        padding-right: 6px;
    }
    .nametd {
        width: 50% !important;
    }
}
