.custom_padding_for_row {
    margin-left: 0px !important;
    margin-right: 0px !important;
} 
.technician_dboard {
    width:100%;
    float:left;
    margin:0px;
    padding: 0px 15px;
}
.btnTotalOpenTicketdaily, .btnTotalOpenTicketweekly, .btnTotalOpenTicketmonthly, .btnTotalOpenTicketyearly {
        color: #337ab7;
        cursor: pointer;
        font-weight: 600;
        text-decoration: none !important;
    }
    .btnTotalClosedTicketdaily, .btnTotalClosedTicketweekly, .btnTotalClosedTicketmonthly, .btnTotalClosedTicketyearly {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none !important;
    }
    .btnTotalUpsolddaily, .btnTotalUpsoldweekly, .btnTotalUpsoldmonthly, .btnTotalUpsoldyearly {
        cursor: pointer;
        font-weight: 600;
        text-decoration: none !important;
    }

 .TechTicket {
            width: 100%;
    float: left;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    }
    .TicketTitle {
        
        width: 37%;
        float: left;

    }
    .filterArea {
        
        width: 100%;
        float: left;
        margin-bottom: 10px;

    }
    .filterArea_dropdown {
        width:240px;
        float:left;
    }
    .filterArea_dropdown select:nth-child(1) {
       width: 50%;
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    }
    .filterArea_dropdown select:nth-child(2) {
         width: 50%;
    float: left;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    }
    .ttldateviewed {
        width:240px;
        float:right;
    }
    .ttldateviewed .TicketStartDate,
    .ttldateviewed .OtherTicketStartDate {
        width:40%;
        float:left;
    }
     .ttldateviewed .input-group {
        width:60%;
        float:left;
    }
    .money-bar-contents {
    width: 100%;
    text-transform: uppercase;
    display: table;
    box-sizing: border-box;
    padding-top: 8px;
}
    .money-bar-left-content {
    width: 25%;
    height:80px;
    float: left;
    cursor:pointer;
}
    .last_week_pay {
    background-color: #21abf6;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}
      .upsold_rmr {
    background-color: #0077c5;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}
       .upsold_pcs {
    background-color: #ff8000;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}
        .day_go_back {
    background-color: #b1b4bb;
    color: #ffffff;
    height: 60px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    width: 100%;
}
        .sub-content {
    outline: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    font-size: 15px;
    text-transform: none !important;
}
          .last_week_pay:hover {
        height: 67px;
        border-top: 6px solid #337192;
    }
              .upsold_rmr:hover {
        height: 67px;
        border-top: 6px solid #2b4e61;
    }
               .upsold_pcs:hover {
        height: 67px;
        border-top: 6px solid #b97835;
    }
     .day_go_back:hover {
        height: 67px;
        border-top: 6px solid #76777b;
    }
     .db_ticket_container {
         width:100%;
         float:left;
     }
      .db_ticket_inner {
         width:49%;
         float:left;
         margin-right:1%;
         margin-bottom:20px;
     }
      .db_ticket_container .db_ticket_inner:nth-child(2) {
           width:49%;
         float:left;
         margin-left:1%;
         margin-right:0px;
      }
      .db_ticket_inner .panel-default {
            width:100%;
         float:left;
         overflow: hidden auto;
    height: 48vh;
      }
      .db_ticket_inner .btn,
      .db_ticket_inner .btn:hover,
      .db_ticket_inner .btn:focus {
          background-color:#2ca01c;
          color:#fff;
      }
      .db_ticket_inner .panel-body {
            width:100%;
         float:left;
         border: 1px solid #ccc;
      }
      /*.db_ticket_container .db_ticket_inner:nth-child(2) {
          margin-right:0px;
          margin-left:1%;
      }*/
      
      .Other-Ticket-list-panel table thead tr th,
      .Install-Ticket-list-panel table thead tr th {
          width:25% !important;
      }
      .lead_list_colorfull_bar {
    width: 100%;
    float: left;
    padding: 0px 15px;
}
     @media (max-width:1370px) {
        .db_ticket_container .db_ticket_inner:nth-child(2),
        .db_ticket_inner {
            width: 100%;
            float: left;
            margin-right: 0px;
            margin-left:0px;
            margin-bottom: 20px;
        }
     }
      @media (max-width:1330px) {
           .filterArea_dropdown {
            width:50%;
        }
        .ttldateviewed {
    width: 50%;
}
      }
       @media (max-width:1024px) {
           .db_ticket_inner {
         width:100%;
         margin-right:0px;
         margin-bottom:20px;
     }
      .db_ticket_container .db_ticket_inner:nth-child(2) {
           width:100%;
         margin-left:0px;
         margin-right:0px;
      }
      .technician_dboard {
          padding-top:10px;
      }
      }
    @media (max-width:768px) {
        
        .money-bar-contents {
            height:auto;
        }
        .lead_list_colorfull_bar .width-50p {
    width: 100%;
}
    }
    @media (max-width:414px) {
        .TicketTitle {
    width: auto;
}
      .filterArea_dropdown {
    width: 100%;
}
      .ttldateviewed {
    width: 100%;
        margin-top: 10px;
}
    }


  