.custom_td {
    font-size: 14px;
    padding-top: 8px;
    width: 40%;
    padding-left: 18px;
}

.head_space {
    padding-top: 10px;
    padding-left: 0px !important;
}

.check_item {
    /*position: absolute;*/
    padding-top: 8px;
}

.checkboxheight {
    margin-bottom: -15px !important;
    margin-top: -5px;
}

/*.row_height {
        height: 50px;
    }*/
.device-equipment-price {
    font-weight: 600;
}

.div-product-limit {
    font-weight: 600;
    font-style: italic;
    margin-top: 12px;
    font-size: 13px;
    color: #2ca01c;
}
.product_limit_italic{
    color: #2ca01c;
    font-size: 11px;
    font-style: italic;
}
@media (max-width:414px) {
   
    .bottom_space {
        margin-right:32px;
    }
}

@media (max-width:320px) {
    .check_item {
        font-size:12px;
    }
    .device-equipment-price {
        font-size:12px;
    }
}
