<script type="text/javascript">

      var ReceivePayment = function () {
          console.log("fsdf");
          var recivePayment = {};
          recivePayment.api_login_id = '6Ut3LW6w4m';

          recivePayment.account_number = $('#accNo').val(),
          recivePayment.routing_number = $('#routerNo').val(),
          recivePayment.account_type =$('#type').val()
          $.ajax({

              type: "POST",
              url: domainurl + "/Transaction/ReceiveFortePayment",
              data: '{recivePayment: ' + JSON.stringify(recivePayment) + '}',
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (response) {
                  if (response.result) {

                      OpenConfirmationMessage("Success!", response.message, function () {
                          $(".close").click();
                      });


                  }
                  else {
                      OpenConfirmationMessage("Error!", response.message);
                  }
                  //window.location.reload();
              }
          });
      }

</script>
<!DOCTYPE html>
<html>
<body>

    <h2>HTML Forms</h2>

    <form action="#">
        Account No:<br>
        <input type="text" id="accNo" name="firstname" value="Mickey">
        <br>
        Router Number:<br>
        <input type="text" id="routerNo" name="lastname" value="Mouse">
        <br><br>
     
        Account Type:<br>
        <input type="text" id="type" name="lastname" value="Mouse">
        <br><br>
        <input type="button" id="savePayment" onclick="ReceivePayment()" value="Save">
    </form>

  

</body>
</html>

