.form-group {
    margin: 0;
    padding: 0;
}
    
.width-100p{
    width:100%;
    float:left;
}

.form-group h3 {
    /*margin-left: 30px;*/
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
}

.content-type {
    /*margin-left: 30px;*/
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}
.acb_container {
    margin-top:15px;
}
/*.content-text {
    height: 32px;
    width: 80%;
    font-size: 13px;
}*/

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.custom-col {
    width: 18%;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

/*.txt-form {
        margin-left: 30px;
    }*/

.item-check {
    height: 40px;
    width: 20px;
}

.txt-check {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 14px;
    padding-left: 4px;
}

.add_company_branch_header {
    width:100%;
    background-color:#f4f5f8;
    padding:10px 15px;
}
.add_company_branch_header div {
   font-size:2rem;
}

#ParentId {
    height: 32px;
    width: 80%;
    margin-left: 30px;
    width: 76%;
}
.acb_both_pad {
    padding-left:0px;
    padding-right:0px;
}
.acb_left_pad {
    padding-left:0px;
}
.acb_right_pad {
    padding-right:0px;
}
.acb_margin_top {
    margin-top:10px;
}
#SaveBranch {
    background-color: #2ca01c;
    color: white;
    float: right;
}
.select2-container{
    width:100% !important;
}
.content-style{
    /*padding-right:9px !important;*/
}
.btn-style{
    background-color:#2ca01c;
    color:white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
    height: 50px;
}

.SaveButtonDesign{
    float: left;
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    font-weight: 600;
    display: inline-block;
    padding: 6px 5px;
    margin-bottom: 5px;
    margin-right: 3px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
}
.add_company_branch_inner {
    width:100%;
    float:left;
    overflow-y:scroll;
    }
.modal.right .modal-content {
    overflow-y:unset !important;
}
