

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@model HS.Entities.Invoice
@using AppConfig = HS.Framework.Utils.AppConfig;
@*@using invstat = HS.Web.UI.Helper.LabelHelper.InvoiceStatus*@
@using Localize = HS.Web.UI.Helper.LanguageHelper
@section styles{
    <style>
        .navbar {
            position: relative;
        }

        .absolute {
            position: absolute;
        }

        #iframePdf {
            width: 100%;
            height: 100%;
        }

        .pdf-styles cus-pdf-style {
            width: 100% !important;
        }

        .invoice-title {
            font-size: 32px;
            font-family: "Geogrotesque-Md";
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.13;
            color: #393a3d;
            display: inline-block;
            padding-bottom: 20px;
        }

        .invoice_paid {
            color: #2ca01c;
            font-size: 17px;
        }

        .invoice_open {
            color: red;
            font-size: 17px;
        }

        .invoice_payment_status {
            padding-left: 15px;
            display: inline-block;
        }

        body {
            overflow-y: scroll;
        }

        .PaymentInfoTable {
            width: 100%;
        }

            .PaymentInfoTable tr td {
                padding-bottom: 15px;
            }

        .required {
            border: 1px solid #d71920;
        }

        .red {
            color: #d71920;
        }

        .do_payment {
            min-height: 200px;
        }

        .PdfContainer {
            height: 1130px;
        }

        .dark_shade {
            width: 100%;
            height: 400px;
            position: absolute;
            background: gray;
            z-index: -1;
            margin-top: -22px;
        }

        .white_Starts {
            background-color: white;
            padding: 20px;
        }

        .company-name-row {
            color: white;
            padding-top: 30px;
            margin: 0;
        }

        .cus_name_div {
            padding-left: 5px;
            font-size: 12px;
            display: inline;
        }

        .business_name_div {
            font-size: 30px;
            padding-bottom: 10px;
        }

        .invo_det_table tr td:first-child {
            color: #8d9096;
            width: 40%;
            padding-top: 8px;
        }

        .inv_det_table_div {
            padding-bottom: 20px;
        }

        .inv_calc_div {
            padding-right: 20px;
            text-align: right;
        }

        .balance_due_txt {
            font-family: "AvenirNextLTSubset-Medium";
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            text-align: right;
            color: #8d9096;
        }

        .balanc_due_amt {
            font-size: 44px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            text-align: right;
            color: #000000;
        }

        .payment_method_img {
            width: 30px;
            margin-left: 10px;
        }

        .payment_method_label {
            padding-left: 20px;
        }

        .LoadImgDiv {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            background: white;
            z-index: 9999;
        }

        @@media (min-width: 767px) {
            #body_id {
                width: 800px;
                margin: auto;
            }
        }

        @@media (max-width: 768px) {
            #body_id {
                width: 100%;
                margin: auto;
            }

            .invo_det_table {
                width: 100%;
            }

            .HtmlContainer {
                overflow-x: scroll;
            }

                .HtmlContainer .container {
                    width: 800px;
                }
        }
    </style>
}
@section scripts{
    <script>
        var clicked = false;
        var sigclicked = false;
        var Token = "@ViewBag.Token";
        var signaturePad;
        //var printFrame = function (id) {
        //    var frm = document.getElementById(id).contentWindow;
        //    frm.focus();// focus on contentWindow is needed on some ie versions
        //    frm.print();
        //    return false;
        //}
        var LoadHtmlForMobile = function () {
            var Url = domainurl + "/Public/CustomerInvoiceHtml/?Code=" + Token;
            $("#AggrementDivMobile").load(Url);
        }
        $(document).ready(function () {
            //var calcheight = window.innerHeight - $(".HeadContents").height() - $('.sign-div').height() - $('.footerContents-agreement').height() - $(".navbar").height() - 84;
            //$("#AggrementDiv").height(calcheight);
            LoadHtmlForMobile();
        });
    </script>
}

<div class="hidden LoadImgDiv">
    <div class="lds-css ng-scope">
        <div style="margin:auto; z-index:99;" class="lds-double-ring"><div></div><div></div></div>
    </div>
</div>
<div>
    <div class="dark_shade">

    </div>
</div>
<div id="body_id">
    
    <div class="white_Starts">
        
        @if (Request.Browser.IsMobileDevice)
        {
            <a href="@(AppConfig.DomainSitePath)/Public/CustomerInvoicePdf/?Code=@ViewBag.Token" target="_blank" download>Download Invoice</a>
            <div class="HtmlContainer" id="AggrementDivMobile">

            </div>
        }
        else
        {
            <div class="PdfContainer" id="AggrementDiv">
                <iframe name="iframe" class="pdf-styles cus-pdf-style" id="iframePdf" src="@(AppConfig.DomainSitePath)/Public/CustomerInvoicePdf/?Code=@ViewBag.Token"></iframe>
            </div>
        }
        <div class="footer">
            <div class="stick-right">
                <p>
                    <span>@Html.Raw(ViewBag.FooterCompanyInformation)</span>
                </p>
                <p>
                    @*<a id="privacy" target="_blank" href="javascript:void(0)">Privacy.</a>*@
                    @*<a id="termsOfService" target="_blank" href="javascript:void(0)">Terms of service.</a>*@
                </p>
            </div>
        </div>
    </div>
</div>
