<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aether" version="8.0.2" targetFramework="net461" />
  <package id="Chiron" version="6.2.1" targetFramework="net461" />
  <package id="FParsec" version="1.0.1" targetFramework="net461" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net461" />
  <package id="Hopac" version="0.3.21" targetFramework="net461" />
  <package id="Http.fs" version="4.1.0" targetFramework="net461" />
  <package id="Mailgun.Api" version="0.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net46" />
  <package id="NodaTime" version="1.3.2" targetFramework="net461" />
</packages>