@{
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
    ViewBag.Title = "Become an iEatery Restaurant Partner ";
}
<link href="~/Content/Css/Company/CompanyrPartial.css" rel="stylesheet" />
<link href="~/Content/Css/CityStateZipAutoFill.css" rel="stylesheet" />

<link href="~/Content/Css/CreateResturant/CreateResturant.css" rel="stylesheet" />
<link href="~/Content/Css/Layout/Loader.css" rel="stylesheet" />
<script src="~/Content/Js/CityStateZipAutoFill.js"></script>
<style>
    .modal-content .modal-header{
        display:block !important;
    }
</style>
<script>
    var weburl = "";
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var date = new Date();
    var Currentdate = date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear();
    var Currenttime = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
    var tt = "AM";
    var h = date.getHours();
    if (h >= 12) {
        h = h - 12;
        tt = "PM";
    }
    if (h == 0) {
        h = 12;
    }
    Currenttime = Currenttime + " " + tt;
    var ctz = date.getTimezoneOffset();;
    function getTimezoneName() {
        var timeZoneHiddenField;

        if (720 == ctz) { timeZoneHiddenField = 'Dateline Standard Time'; }
        else if (660 == ctz) { timeZoneHiddenField = 'Samoa Standard Time'; }
        else if (660 == ctz) { timeZoneHiddenField = 'Hawaiian Standard Time'; }
        else if (480 == ctz) { timeZoneHiddenField = 'Alaskan Standard Time'; }
        else if (420 == ctz) { timeZoneHiddenField = 'Pacific Standard Time'; }
        else if (420 == ctz) { timeZoneHiddenField = 'US Mountain Standard Time'; }
        else if (360 == ctz) { timeZoneHiddenField = 'Central America Standard Time'; }
        else if (300 == ctz) { timeZoneHiddenField = 'Central Standard Time'; }
        else if (300 == ctz) { timeZoneHiddenField = 'SA Pacific Standard Time'; }
        else if (240 == ctz) { timeZoneHiddenField = 'Eastern Standard Time'; }
        else if (270 == ctz) { timeZoneHiddenField = 'Venezuela Standard Time'; }
        else if (240 == ctz) { timeZoneHiddenField = 'SA Western Standard Time'; }
        else if (240 == ctz) { timeZoneHiddenField = 'Central Brazilian Standard Time'; }
        else if (180 == ctz) { timeZoneHiddenField = 'Atlantic Standard Time'; }
        else if (180 == ctz) { timeZoneHiddenField = 'Montevideo Standard Time'; }
        else if (180 == ctz) { timeZoneHiddenField = 'E. South America Standard Time'; }
        else if (150 == ctz) { timeZoneHiddenField = 'Mid-Atlantic Standard Time'; }
        else if (120 == ctz) { timeZoneHiddenField = 'SA Eastern Standard Time'; }
        else if (60 == ctz) { timeZoneHiddenField = 'Cape Verde Standard Time'; }
        else if (0 == ctz) { timeZoneHiddenField = 'Azores Daylight Time'; }
        else if (0 == ctz) { timeZoneHiddenField = 'Morocco Standard Time'; }
        else if (-60 == ctz) { timeZoneHiddenField = 'GMT Standard Time'; }
        else if (-60 == ctz) { timeZoneHiddenField = 'Namibia Standard Time'; }
        else if (-120 == ctz) { timeZoneHiddenField = 'Central European Standard Time'; }
        else if (-120 == ctz) { timeZoneHiddenField = 'South Africa Standard Time'; }
        else if (-180 == ctz) { timeZoneHiddenField = 'GTB Standard Time'; }
        else if (-180 == ctz) { timeZoneHiddenField = 'E. Africa Standard Time'; }
        else if (-240 == ctz) { timeZoneHiddenField = 'Russian Standard Time'; }
        else if (-270 == ctz) { timeZoneHiddenField = 'Afghanistan Standard Time'; }
        else if (-300 == ctz) { timeZoneHiddenField = 'Pakistan Standard Time'; }
        else if (-330 == ctz) { timeZoneHiddenField = 'India Standard Time'; }
        else if (-345 == ctz) { timeZoneHiddenField = 'Nepal Standard Time'; }
        else if (-360 == ctz) { timeZoneHiddenField = 'Central Asia Standard Time'; }
        else if (-390 == ctz) { timeZoneHiddenField = 'Myanmar Standard Time'; }
        else if (-420 == ctz) { timeZoneHiddenField = 'SE Asia Standard Time'; }
        else if (-480 == ctz) { timeZoneHiddenField = 'North Asia East Standard Time'; }
        else if (-540 == ctz) { timeZoneHiddenField = 'Tokyo Standard Time'; }
        else if (-570 == ctz) { timeZoneHiddenField = 'Cen. Australia Standard Time'; }
        else if (-600 == ctz) { timeZoneHiddenField = 'E. Australia Standard Time'; }
        else if (-630 == ctz) { timeZoneHiddenField = 'Tasmania Standard Time'; }
        else if (-660 == ctz) { timeZoneHiddenField = 'West Pacific Standard Time'; }
        else if (-690 == ctz) { timeZoneHiddenField = 'Central Pacific Standard Time'; }
        else if (-720 == ctz) { timeZoneHiddenField = 'New Zealand Standard Time'; }
        return timeZoneHiddenField;
    }
    var DoUserLogin = function (companyid, username, password) {
        console.log("doUserLogin");
        var url = domainurl + "/Login/LoginAjax/";
        var param = JSON.stringify({
            UserName: username,
            Password: password,
            Remember: true,
            Currentdate: Currentdate,
            Currenttime: Currenttime,
            Currentzone: ctz,
            currenttimezone: getTimezoneName(),
            companyid: companyid
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $(".loader-div").hide();
                if (data.data != "none") {
                    if (window.location.pathname == "/" || window.location.pathname.toLowerCase().indexOf("/login") > -1) {
                        OpenSuccessMessageNew("Success", "Restaurant profile created successfully.", function () {
                            window.location.href = domainurl + "/DashBoard";
                        })
                    }
                    else if (typeof (CloseFullScreenLoginModal) != "undefined" && typeof (SessionIsActive) != "undefined") {
                        if (CurrentUserUserId == data.UserId) {
                            SessionIsActive = true;
                            CloseFullScreenLoginModal();
                        } else {
                            OpenSuccessMessageNew("Success", "Restaurant profile created successfully.", function () {
                                window.location.href = domainurl + "/DashBoard";
                            })
                        }

                    } else {
                        OpenSuccessMessageNew("Success", "Restaurant profile created successfully.", function () {
                            window.location.href = domainurl + "/DashBoard";
                        })
                    }
                } else {
                    if (typeof (OpenErrorMessageNew) != "undefined") {
                        OpenErrorMessageNew("", "Login failed.");
                    } else {
                        $("#LoginFailed").click();
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
                if (typeof (OpenErrorMessageNew) != "undefined") {
                    OpenErrorMessageNew("", "Can't connect to the server. Please try again with an active internet connection.");
                }
            }
        });
    }
    var CreateResturantIeatery = function (weburl) {
        var url = "/CreateResturant/CreateResturantIeatery";
        var param = JSON.stringify({
            ResturantName: $("#ResturantName").val(),
            UrlSlug: $("#UrlSlug").val(),
            WebsiteUrl: weburl,
            Email: $("#Email").val(),
            Street: $("#Street").val(),
            ZipCode: $("#ZipCode").val(),
            City: $("#City").val(),
            State: $("#State").val(),
            Phone: $("#Phone").val(),
            FirstName: $("#FirstName").val(),
            LastName: $("#LastName").val(),
            Password: $("#Password_create").val(),
            SentMail: $("#chk_send_mail").prop("checked")
        });
        $.ajax({
            type: "POST",
            ajaxStart: $(".invoice-loader").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result) {
                    DoUserLogin(data.companyid, data.username, data.password);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    }
    function FormatPhoneNumber(cvalue) {
        var ValueCleanCell = "";
        if (cvalue != undefined && cvalue != "" && cvalue != null) {
            cvalue = cvalue.replace(/[-  ]/g, '');
            if (cvalue.length == 10) {
                ValueCleanCell = cvalue.replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, "$1-$2-$3");
                $("#Phone").css({ "border": "1px solid #ccc" });
            }
            else if (cvalue.length > 10) {
                ValueCleanCell = cvalue;
                $("#Phone").css({ "border": "1px solid red" });
            }
            else {
                $("#Phone").css({ "border": "1px solid red" });
                ValueCleanCell = cvalue;
            }
        }
        return ValueCleanCell;
    }
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
    var GetUrlSlug = function () {
            $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: "/MenuManagement/GetURLSlug",
            data: JSON.stringify({ key: $("#ResturantName").val() }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                 if (data.result) {
                       $("#UrlSlug").val(data.str);
                 }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $(".loader-div").hide();
                console.log(errorThrown);
            }
        });
    }
    $(document).ready(function () {
        $("#CreateResturantSaveBtn").click(function () {
            if ($("#FirstName").val() == "") {
                $("#FirstName").attr("style", "border-color:red;");
            }
            if ($("#LastName").val() == "") {
                $("#LastName").attr("style", "border-color:red;");
            }
            if ($("#Email").val() == "") {
                $("#Email").attr("style", "border-color:red;");
            }
            if ($("#Password_create").val() == "") {
                $("#Password_create").attr("style", "border-color:red;");
            }
            if ($("#Phone").val() == "") {
                $("#Phone").attr("style", "border-color:red;");
            }
            if ($("#ResturantName").val() == "") {
                $("#ResturantName").attr("style", "border-color:red;");
            }
            if ($("#Street").val() == "") {
                $("#Street").attr("style", "border-color:red;");
            }
            if ($("#ZipCode").val() == "") {
                $("#ZipCode").attr("style", "border-color:red;");
            }
            if ($("#City").val() == "") {
                $("#City").attr("style", "border-color:red;");
            }
            if ($("#State").val() == "") {
                $("#State").attr("style", "border-color:red;");
            }
            else {
                if ($("#FirstName").val() != "" &&
                    $("#LastName").val() != "" &&
                    $("#Email").val() != "" &&
                    $("#Password_create").val() != "" &&
                    $("#Phone").val() != "" &&
                    $("#ResturantName").val() != "" &&
                    $("#Street").val() != "" &&
                    $("#ZipCode").val() != "" &&
                    $("#City").val() != "" &&
                    $("#State").val() != "") {
                    weburl = "/" + $("#State").val().toLowerCase() + "/" + $("#City").val().replace(" ", "-").toLowerCase() + "/" + $("#UrlSlug").val().toLowerCase();
                    CreateResturantIeatery(weburl);
                    $(".page-wrap").html(TabsLoaderText);
                }
            }
        })
        $("#ResturantName").blur(function () {
            GetUrlSlug();
        })
        $("#Phone").keyup(function () {
            var cPhoneNumber = $(this).val();
            if (cPhoneNumber != undefined && cPhoneNumber != null && cPhoneNumber != "") {
                var ccleanPhoneNumber = FormatPhoneNumber(cPhoneNumber);
                $(this).val(ccleanPhoneNumber);
            }
        });
        $("#FirstName").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#LastName").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#Email").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#Email").blur(function () {
            if (validateEmail($(this).val())) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#Password_create").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#ResturantName").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#Street").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#ZipCode").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#City").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
        $("#State").keyup(function () {
            if ($(this).val().length > 0) {
                $(this).attr("style", "border-color:#ccc;");
            }
            else {
                $(this).attr("style", "border-color:red;");
            }
        })
    })
</script>

<div class="page-wrap create_res_div_container">
    <div class="create_resturant_partial_container">
        <div class="create_resturant_left_container">
            @*<div class="create_resturant_left_container_img">
                    <img src="~/Content/img/ieatery.png" />
                </div>*@
            <div class="create_resturant_left_container_content">
                <div class="create_resturant_text_header">
                    <span>You Make The Delicious Food For Your Guest, Let Us Help You Bring That Guest To Your Door.</span>
                    <br />
                    <br><b>Benefit Of Having iEatery Ordering System</b>
                </div>
                @*<div class="create_resturant_header_block">
                        <span>

                        </span>
                    </div>*@
                <br>
                <div class="create_resturant_header_content">
                    <ul>
                        <li>Increase your restaurant's revenue.</li>
                        <li>You retain your customer.</li>
                        <li>You can see your customer order history, unlike other ordering systems.</li>
                        <li>Reach new customers.</li>
                        <li>Increase your restaurant's name awareness.</li>
                        <li>No Commission Model.</li>
                        <li>Enjoy significant free advertising exposure.</li>
                        <li>Direct customer feedback.</li>
                        <li>Your restaurant will gain exposure to new  customers from the millions of online users and also through Google local search results, Our Twitter followers, Facebook friends and more social media exposure.</li>
                        <li>Update your menu from our easy-to-use restaurant account, customers will immediately see the changes.</li>
                        <li>Set the hours, location information, pictures and branding in minutes. Getting set up is very easy, and we'll guide you through the entire process.</li>
                        <li>Lunch specials, Dinner specials and more to be viewed by millions of online users.</li>
                        <li>Send your specials via text or email by using our platform.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="create_resturant_right_container">
            <div class="company_partial_header rest_header_radius">User Information</div>
            <div class="create_resturant_content">
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="FirstName" placeholder="First Name *" />
                    </div>
                </div>
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="LastName" placeholder="Last Name *" />
                    </div>
                </div>
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="Phone" placeholder="Store Phone *" />
                    </div>
                </div>
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="Email" placeholder="Email Address *" />
                    </div>
                </div>
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="Password_create" placeholder="Password *" type="password" />
                    </div>
                </div>

            </div>
            <div class="company_partial_header">Restaurant Information</div>
            <div class="create_resturant_content rest_content_radius">
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-cutlery"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="ResturantName" placeholder="Restaurant Name *" />
                    </div>
                </div>
                <div class="create_resturant_div" style="display:none;">
                    <span>URL Slug</span>
                    <input class="form-control" id="UrlSlug" />
                </div>
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-street-view"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="Street" placeholder="Street *" />
                    </div>
                </div>
                <div class="create_resturant_div form-group clearfix CityState_insert_div">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-file-zip-o"></i></span>
                        </div>
                        <input type="text" class="form-control res_border_red" onkeydown="CityStateSearchKeyDown(this,event)" onkeyup="CityStateSearchKeyUp(this,event)" id="ZipCode" placeholder="Zip Code *" />
                        <div class='tt-menu'>
                            <div class='tt-dataset tt-dataset-autocomplete'> </div>
                        </div>
                    </div>
                </div>
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="City" placeholder="City *" />
                    </div>
                </div>
                <div class="create_resturant_div form-group clearfix">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-flag"></i></span>
                        </div>
                        <input class="form-control res_border_red" id="State" placeholder="State *" />
                    </div>
                </div>
                <div class="chk_for_send_email">
                    <input type="checkbox" checked id="chk_send_mail" />
                    <span>Send email to Merchant</span>
                </div>
                <div class="by_clicking_text">
                    By clicking “Sign Up,” you agree to <a href="/about-us/terms-and-conditions" target="_blank">iEatery Merchant Agreement</a> and acknowledge you have read the <a href="/about-us/privacy" target="_blank">Privacy Policy</a>.
                </div>

                <div class="SaveButtonDiv width-100p">
                    <button class="CompanySaveButton" id="CreateResturantSaveBtn">Sign Up</button>
                </div>
            </div>
        </div>

    </div>
</div>

