@{
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
    ViewBag.Title = "iEatery | terms and conditions";
}
<html>
<head>
    <style>
        .terms_container_div {
            width: 100%;
            box-sizing: border-box;
            padding: 0px;
            font-size: 14px;
            font-family: Arial;
        }

        .terms_container_table {
            border-collapse: collapse;
            width: 100%;
            float: left;
            table-layout: fixed;
            font-size: 19px;
        }

        .terms_container_table_td {
            text-align: center;
            padding: 15px 0px;
            font-size: 35px;
            color: #a60000;
            font-weight: bold;
        }

        .terms_container_table_td_txt {
            text-align: left;
            padding: 15px 50px;
            line-height: 25px;
        }

        .terms_container_table_td_div {
            width: 100%;
            box-sizing: border-box;
            float: left;
            text-align: justify;
            padding: 15px 0px;
        }

        terms_container_table_td_div_txt {
            width: 100%;
            box-sizing: border-box;
            float: left;
            text-align: left;
            padding: 15px 0px;
        }
    </style>
</head>

<body style="">

    <div class="terms_container_div">

        <table class="terms_container_table">
            <tbody>
                <tr>
                    <td class="terms_container_table_td" valign="top">
                        Terms and Conditions Agreement
                    </td>
                </tr>
                <tr>
                    <td class="terms_container_table_td_txt" valign="top">
                        PLEASE READ THE TERMS AND CONDITIONS CAREFULLY. THE TERMS AND CONDITIONS (“<b>AGREEMENT</b>”) CONSTITUTE A LEGAL AGREEMENT BETWEEN YOU AND iEatery App LLC., A TEXAS CORPORATION (“<b>iEatery.com</b>,” “<b>WE</b>,” “<b>US</b>,” <b>OR</b> “<b>OUR</b>”).

                        <div class="terms_container_table_td_div"><b>ACCEPTANCE OF TERMS AND CONDITIONS</b></div>

                        <div class="terms_container_table_td_div">
                            iEatery.com provides an online marketplace connection, using web-based technology that connects You and other consumers, restaurants and/or other businesses and independent delivery contractors (“Merchant”).  iEatery.com’s software permits consumers to place orders for food and/or other goods from various restaurants and businesses. Once such orders are made, the Company’s software notifies Merchants that a delivery opportunity is available and the software facilitates completion of the delivery to the consumer. iEatery.com is not a restaurant, delivery service, or food preparation business.
                        </div>
                        <div class="terms_container_table_td_div">
                            By using this site (the "Site"), you ("you" or the "End User") agree to the terms and conditions that we ("iEatery.com") have provided. If you do not wish to agree to the outlined terms and conditions (the "Terms of Use" or "Agreement"), please refrain from using the Site. iEatery.com reserves the right to make any changes to our Terms of Use and/or our Privacy Policy (which is incorporated herein by reference) as we deem necessary or desirable without prior notification to you. We suggest to you, therefore, that you re-read this important notice containing our Terms of Use and Privacy Policy from time to time in order that you stay informed as to any such changes. If we make changes to our Terms of Use and/or Privacy Policy and you continue to use our Site, you are impliedly agreeing to the Terms of Use and Privacy Policy expressed herein.
                        </div>
                        <div class="terms_container_table_td_div"> <b>1. Definitions.</b></div>

                        <div class="terms_container_table_td_div">
                            "iEatery.com" provides an interactive online service operated by iEatery App, LLC on of the internet (the "Web"), consisting of information services, content and transaction capabilities provided by iEatery.com, affiliates of iEatery.com, franchisees of iEatery.com and other third parties.
                        </div>
                        <div class="terms_container_table_td_div"> <b>2. General.</b></div>

                        <div class="terms_container_table_td_div">
                            This agreement sets forth the terms and conditions that apply to the use of this Site by the End User. By using this Site (other than to read this Agreement for the first time), End User agrees to comply with all of the terms and conditions hereof. The right to use this Site is personal to the End User and is not transferable to any other person or entity, if any. End User acknowledges that although the Internet is often a secure environment, sometimes there are interruptions in service or events that are beyond the control of iEatery.com, and iEatery.com shall not be responsible for any data lost while transmitting information on the Internet. While iEatery.com's objective is to make the Site accessible 24 hours per day, 7 days per week, the Site may be unavailable from time to time for any reason including, without limitation, routine maintenance. You understand and acknowledge that due to circumstances both within and outside of the control of iEatery.com, access to the Site may be interrupted, suspended or terminated from time to time. iEatery.com shall have the right at any time to change or discontinue any aspect or feature of iEatery.com, including, but not limited to, content, hours of availability and equipment needed for access or use. Further, iEatery.com may discontinue disseminating any portion of information or category of information, may change or eliminate any transmission method and may change transmission speeds or other signal characteristics.
                        </div>
                        <div class="terms_container_table_td_div"> <b>3. Modified Terms.</b></div>

                        <div class="terms_container_table_td_div">
                            iEatery.com reserves the right at all times to discontinue or modify any of our Terms of Use and/or our Privacy Policy as we deem necessary or desirable without prior notification to you. Such changes may include, among other things, the adding of certain fees or charges. We suggest to you, therefore, that you re-read this important notice containing our Terms of Use and Privacy Policy from time to time in order that you stay informed as to any such changes. If we make changes to our Terms of Use and/or Privacy Policy and you continue to use our Site, you are impliedly agreeing to the Terms of Use and Privacy Policy expressed herein. Any such deletions or modifications shall be effective immediately upon iEatery.com's posting thereof. Any use of iEatery.com by End User after such notice shall be deemed to constitute acceptance by End User of such modifications.
                        </div>
                        <div class="terms_container_table_td_div"> <b>4. Equipment.</b></div>

                        <div class="terms_container_table_td_div">
                            End User shall be responsible for obtaining and maintaining all telephone, computer hardware and other equipment needed for access to and use of this Site and all charges related thereto. iEatery.com shall not be liable for any damages to End User's equipment resulting from use of this Site.
                        </div>
                        <div class="terms_container_table_td_div"><b>5. End User Conduct.</b></div>

                        <div class="terms_container_table_td_div">
                            This Site and any individual restaurant data pages now or hereinafter contained within or otherwise available through external hyperlinks with our Site are private property. All interactions on this Site must comply with these Terms of Use. Although we welcome and encourage user interaction on our Site, we do insist and require that all End Users restrict any and all activity in connection with the use of our Site to that which involves lawful purposes only. End User shall not post or transmit through this Site any material which violates or infringes in any way upon the rights of others, or any material which is unlawful, threatening, abusive, defamatory, invasive of privacy or publicity rights, vulgar or obscene, profane or otherwise objectionable, which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law, or which, without iEatery.com's express prior, written approval, contains advertising or any solicitation with respect to products or services. Any conduct by an End User that in iEatery.com's exclusive discretion restricts or inhibits any other End User from using or enjoying this Site is strictly prohibited. End User shall not use this Site to advertise or perform any commercial, religious, political or non-commercial solicitation, including, but not limited to, the solicitation of user of the Site to become users of other on or offline services directly or indirectly competitive or potentially competitive with iEatery.com The foregoing provisions of this Section 5 apply equally to and are for the benefit of iEatery.com, its subsidiaries, affiliates, franchisees and its third party content providers and licensors, and each shall have the right to assert and enforce such provisions directly or on its own behalf.
                        </div>
                        <div class="terms_container_table_td_div"><b>6. Copyright and Trademarks.</b></div>

                        <div class="terms_container_table_td_div_txt">
                            Everything located on or in this Site is the exclusive property of iEatery App, LLC or used with the express permission of the copyright and/or trademark owner. ANY COPYING, DISTRIBUTING, TRANSMITTING, POSTING, LINKING, DEEP LINKING, OR OTHERWISE MODIFYING OF THIS SITE WITHOUT THE EXPRESS WRITTEN PERMISSION OF iEatery App, LLC. IS STRICTLY PROHIBITED. Any violation of this policy may result in a copyright, trademark or other intellectual property right infringement that may subject the End User to civil and/or criminal penalties. This Site contains copyrighted material, trademarks and other proprietary information, including, but not limited to, text, software, photos, video, graphics, sound, and the entire contents of iEatery.com protected by copyright as a collective work under the United States copyright laws. iEatery.com owns a copyright in the selection, coordination, arrangement and enhancement of such content, as well as in the content original to it. End User may not modify, publish, transmit, participate in the transfer or sale, create derivative works, or in any way exploit, any of the content, in whole or in part. End User may download / print / save copyrighted material for End User's personal use only. Except as otherwise expressly stated under copyright law, no copying, redistribution, retransmission, publication or commercial exploitation of downloaded material without the express permission of iEatery.com and the copyright owner is permitted. If copying, redistribution or publication of copyrighted material is permitted, no changes in or deletion of author attribution, trademark legend or copyright notice shall be made. End User acknowledges that he/she/it does not acquire any ownership rights by downloading, copyrighted material. Trademarks that are located within or on the Site or a Web site otherwise owned or operated in conjunction with iEatery.com shall not be deemed to be in the public domain but rather the exclusive property of iEatery.com, unless such site is under license from the Trademark owner thereof in which case such license is for the exclusive benefit and use of iEatery.com, unless otherwise stated. End User shall not Upload, post or otherwise make available on this Site any material protected by copyright, trademark or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right. iEatery.com does not have any express burden or responsibility to provide the End User with indications, markings or anything else that may aid the End User in determining whether the material in question is copyrighted or trademarked. End User shall be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such a submission. By submitting material to any public area of this Site, End User warrants that the owner of such material has expressly granted iEatery.com the royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part) worldwide and/or to incorporate it in other works in any form, media or technology now known or hereafter developed for the full term of any copyright that may exist in such material. End User also permits any other end user to access, view, store or reproduce the material for that end user's personal use. End User hereby grants iEatery.comthe right to edit, copy, publish and distribute any material made available on this Site by End User. The foregoing provisions of Section 5 apply equally to and are for the benefit of iEatery.com its subsidiaries, affiliates, franchisees and its third party content providers and licensors each shall have the right to assert and enforce such provisions directly or on its own behalf.
                        </div>
                        <div class="terms_container_table_td_div"><b>7. Disclaimer of Warranty; Limitation of Liability.</b></div>

                        <div class="terms_container_table_td_div_txt">
                            END USER EXPRESSLY AGREES THAT USE OF THIS SITE IS AT END USER'S SOLE RISK. NEITHER iEatery.com, ITS AFFILIATES, FRANCHISEES NOR ANY OF THEIR RESPECTIVE EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS OR LICENSORS WARRANT THAT USE OF THE SITE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO (I) THE RESULTS THAT MAY BE OBTAINED FROM USE OF THIS SITE, OR (II) THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION, SERVICE OR MERCHANDISE PROVIDED THROUGH THIS SITE. THIS SITE IS MADE ACCESSIBLE ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THIS AGREEMENT. THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION. END USER SPECIFICALLY ACKNOWLEDGES THAT iEatery.com IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH END USER. IN NO EVENT SHALL iEatery.com OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PRODUCING OR DISTRIBUTING THIS SITE OR THE CONTENTS HEREOF, INCLUDING ANY SOFTWARE, BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF THE USE OF OR INABILITY TO USE THIS SITE. END USER HEREBY ACKNOWLEDGES THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL CONTENT ON THIS SITE. IN ADDITION TO THE TERMS SET FORTH ABOVE, NEITHER iEatery.com NOR ITS AFFILIATES, FRANCHISEES, INFORMATION PROVIDERS OR CONTENT PARTNERS SHALL BE LIABLE REGARDLESS OF THE CAUSE OR DURATION, FOR ANY ERRORS, INACCURACIES, OMISSIONS, OR OTHER DEFECTS IN, OR LACK OF TIMELINESS OR LACK OF AUTHENTICITY OF, THE INFORMATION CONTAINED WITHIN THIS SITE, OR FOR ANY DELAY OR INTERRUPTION IN THE TRANSMISSION THEREOF TO THE END USER, OR FOR ANY CLAIMS OR LOSSES ARISING THERE FROM OR OCCASIONED THEREBY. NONE OF THE FOREGOING PARTIES SHALL BE LIABLE FOR ANY THIRD PARTY CLAIMS OR LOSSES OF ANY NATURE, INCLUDING WITHOUT LIMITATION LOST PROFITS, PUNITIVE OR CONSEQUENTIAL DAMAGES. iEatery.com IS NOT RESPONSIBLE FOR ANY CONTENT THAT A USER, SUBSCRIBER, OR UNAUTHORIZED USER MAY POST ON THIS SITE, ANY CONTENT THAT IS POSTED OR UPLOADED THAT IS OR MAY BE DEEMED UNSUITABLE CAN AND MAY BE TAKEN DOWN BY iEatery.com. MOREOVER, iEatery.com RESERVES THE RIGHT TO EDIT, CHANGE, ALTER, DELETE AND PROHIBIT ANY AND ALL CONTENT THAT IT, iEatery.com DEEMS UNSUITABLE.
                        </div>
                        <div class="terms_container_table_td_div"><b>8. Monitoring.</b></div>

                        <div class="terms_container_table_td_div">
                            iEatery.com shall have the right, but not the obligation, to monitor the content of the Site at all times, including any chat rooms and forums that may hereinafter be included as part of the Site, to determine compliance with this Agreement and any operating rules established by iEatery.com, as well as to satisfy any applicable law, regulation or authorized government request. Without limiting the foregoing, iEatery.com shall have the right to remove any material that iEatery.com, in its sole discretion, finds to be in violation of the provisions hereof or otherwise objectionable.
                        </div>
                        <div class="terms_container_table_td_div"><b> 9. Privacy.</b></div>

                        <div class="terms_container_table_td_div">
                            End User acknowledges that all discussion for ratings, comments, bulletin board service, chat rooms and/or other message or communication facilities are public and not private communications, and that, therefore, others may read End User's communications without End User's knowledge. iEatery.com does not control or endorse the content, messages or information found in any Community, and, therefore, iEatery.com specifically disclaims any liability concerning the mentioned activities and any actions resulting from End Users participation in any Community, including any objectionable content. Generally, any communication which End User posts to iEatery.com (whether in discussion groups, message boards or otherwise) is considered to be non-confidential. If particular web pages permit the submission of communications that will be treated by iEatery.com as confidential, that fact will be stated on those pages. By posting comments, messages, or other information on the Site, End User grants iEatery.com the right to use such comments, messages or information for promotions, advertising, market research or any other lawful purpose. For more information see iEatery.com Privacy Policy.
                        </div>
                        <div class="terms_container_table_td_div"><b>10. License Grant.</b></div>

                        <div class="terms_container_table_td_div">
                            By posting communications on or through this Site, End User shall be deemed to have granted to iEatery.com a royalty-free, perpetual, irrevocable, non-exclusive license to use, reproduce, modify, publish, edit, translate, distribute, perform and display the communication alone or as part of other works in any form, media, or technology whether now known or hereafter developed, and to sublicense such rights through multiple tiers of sub-licensees.
                        </div>
                        <div class="terms_container_table_td_div"><b>11. Indemnification.</b></div>

                        <div class="terms_container_table_td_div">
                            End User agrees to defend, indemnify and hold harmless iEatery.com, its affiliates, franchisees and their respective directors, officers, employees and agents from and against all claims and expenses, including attorneys' fees, arising out of the use of this Site by End User.
                        </div>
                        <div class="terms_container_table_td_div"><b>12. Termination.</b></div>

                        <div class="terms_container_table_td_div">
                            iEatery.com may terminate this Agreement at any time. Without limiting the foregoing, iEatery.com shall have the right to immediately terminate any passwords or accounts of End User in the event of any conduct by End User which iEatery.com in its sole discretion, considers to be unacceptable, or in the event of any breach by End User of this Agreement. The provisions of Sections 3, 5, 6, 7, 10, 11, 12 will survive termination of this Agreement.
                        </div>
                        <div class="terms_container_table_td_div"><b>13. Trademarks.</b></div>

                        <div class="terms_container_table_td_div">
                            iEatery.com is a trademark of iEatery App LLC. All rights in respect of this trademark are hereby expressly reserved. Unless otherwise indicated, all other trademarks appearing on iEatery.com are the property of their respective owners.
                        </div>
                        <div class="terms_container_table_td_div"> <b> 14. No Obligation To Keep Information Current.</b></div>

                        <div class="terms_container_table_td_div">
                            We are not under any obligation to update the Content to reflect circumstances that may occur after its initial publication date. Due to legal restrictions or other reasons, we may not update any Content including to take into account material changes or new information.
                        </div>
                        <div class="terms_container_table_td_div"><b>15. Third Party Content.</b></div>

                        <div class="terms_container_table_td_div">
                            iEatery.com is a System provider (and not a publisher) of content supplied by third parties and End Users. Accordingly, iEatery.com has no control over such content. Any opinions, advice, statements, services, offers, or other information or content expressed or made available by third parties, including information providers, or any other end users are those of the respective author(s) or provider(s) and not of iEatery.com Neither iEatery.com nor any third-party provider of information guarantees the accuracy, completeness, or usefulness of any content, nor its merchantability or fitness for any particular purpose. (Refer to Section 6 above for the complete provisions governing limitation of liabilities and disclaimers of warranty). In many instances, the content available through this Site represents the opinions and judgments of the respective information provider, end user, or other user not under contract with iEatery.com. iEatery.com neither endorses or is responsible for the accuracy or reliability of any opinion, advice or statement made on iEatery.com by anyone other than authorized iEatery.com employee spokespersons while acting in official capacities. Under no circumstances will iEatery.com be liable for any loss or damage caused by an end user's reliance on information obtained through iEatery.com. It is the responsibility of End User to evaluate the accuracy, completeness, or usefulness of any information, opinion, advice, etc., or other content available through our services and site pages. iEatery.com contains links to third party Web sites maintained by other content providers. These links are provided solely as a convenience to you and not as an endorsement by iEatery.comof the contents on such third-party sites and iEatery.com hereby expressly disclaims any representations regarding the content or accuracy of materials on such third-party Web sites. If End User decides to access linked third-party Web sites, End User does so at its own risk. Unless you have executed a written agreement with iEatery.com expressly permitting you to do so, you may not provide a hyperlink to the Site from any other website. iEatery.com reserves the right to revoke its consent to any link at any time in its sole discretion.
                        </div>
                        <div class="terms_container_table_td_div"><b>16. Miscellaneous.</b></div>

                        <div class="terms_container_table_td_div_txt">
                            This Agreement and any operating rules for iEatery.com established by iEatery.com constitute the entire agreement of the parties with respect to the subject matter hereof. No waiver by either party of any breach or default hereunder is a waiver of any preceding or subsequent breach or default. The section headings used herein are for convenience only and shall be of no legal force of effect. If any provision of this Agreement is held invalid by a court competent jurisdiction, such invalidity shall not affect the enforceability of any other provisions contained in this Agreement and the remaining portions of this Agreement shall continue in full force and effect. The failure of either party to exercise any of its rights under this Agreement shall not be deemed a waiver or forfeiture of such rights or any other rights provided hereunder. iEatery.com and its owner iEatery App LLC are located in Texas state. Legal issues arising out of, but not exclusive to the use of, this Site (unless otherwise specifically stated) are governed by and in accordance with the laws of the State of Texas. By using this Site, End User agrees than any dispute or claim arising out of or in connection with this Agreement or the performance, breach or termination thereof, or the Site, shall be finally settled by arbitration in Texas under the rules of the American Arbitration Association. CONSENT TO RECORDING AND MONITORING You consent to our recording, retention and use of all information and data that you input or otherwise communicate during your access to and/or use of the Site or through any email to or from us and any other electronic communication means and the transmittal of the same to our affiliates, subsidiaries, branches and third parties for order and other processing, database maintenance, record keeping or any other use in accordance with customary practices, policies and procedures applicable in the United States and, of course, our privacy policies. In addition, we may disclose such information to the extent that we determine in good faith to be required by any applicable laws, rules or regulations or order or in enforcement of our rights or the defense of claims. We expressly reserve the right to monitor any and all use of the Site.
                        </div>
                        <div class="terms_container_table_td_div"><b>17. Electronic Documents.</b></div>

                        <div class="terms_container_table_td_div">
                            We may, in our sole discretion, seek your consent to the terms and conditions of these Terms of Use and certain other agreements on the Site by means of an electronic signature by requesting you to affirmatively check the box indicating your acceptance to these Terms of Use, affirmatively "click" on boxes containing the words "I Accept," "I Agree" or other similar phrases (collectively, "Acceptance Terms"). If you "click" on the Acceptance Terms, your "click" will be deemed a legally binding electronic signature. You acknowledge and agree that you will carefully review any document or web page before making such an electronic signature. By electronically indicating your agreement to these Terms of Use or accessing the Site or using any of the Content after you have had an opportunity to review these Terms of Use, you acknowledge and agree: (i) that you and, where applicable, the company or organization on whose behalf we grant you access to the Site intend to form a legally binding contract between you and iEatery.com; (ii) that you have read and agree to the terms and conditions of these Terms of Use; (iii) that you agree and intend that these Terms of Use to be the legal equivalent of signed, written contracts, and equally binding; (iv) that by electronically agreeing to these Terms of Use, you acknowledge that you have received a copy of these Terms of Use by your viewing a web page containing a hyperlink to the web page where these Terms of Use are displayed or otherwise; and (v) that if you are executing these Terms of Use on behalf of others, you hereby certify that you are an authorized representative, duly authorized, including where applicable, by all required corporate action to act on behalf of such others.
                        </div>
                        <div class="terms_container_table_td_div"><b>18. Force Failure.</b></div>

                        <div class="terms_container_table_td_div">
                            Neither we nor any of our affiliates are liable for losses caused directly or indirectly by any of our non-performance as a result of events beyond our control including natural disasters, acts of God, war, terrorism actions or decrees of governmental bodies, exchange or market rulings, failure of communication lines or utility systems, equipment and systems failures, unauthorized access, and theft (each, a "Force Majeure Event"). All of our obligations with respect to the affected elements under these Terms of Use will be suspended for the duration of such Force Majeure Event.
                        </div>
                        <div class="terms_container_table_td_div"><b>19. Use of Email and Other Electronic Messages.</b></div>

                        <div class="terms_container_table_td_div">
                            You acknowledge that any electronic mail, chat, information, submission or instant messenger communication, whether transmitted through the Internet, the Site, a proprietary network, a computer, a pager or other wireless device or otherwise (collectively, "Electronic Messages") may not be secure and communications using Electronic Messages may not be confidential.In addition, we assume no responsibility to update any information communicated to you using Electronic Messages. Furthermore, even if our representative has communicated with you using Electronic Messages, the representative may not (and we assume no obligation to) timely see, process, act on or respond to any message from you sent using Electronic Messages.
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>




    </div>

</body>
</html>

