@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
@Styles.Render("~/styles/CalendarSetupDetails")
@Scripts.Render("~/scripts/CalendarSetupDetails")
<div class="container-fluid fluid-style setup_details_container">
    <h3 class="top_settings">@Localize.T("Settings")</h3>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#CalendarSettingsTab" data-toggle="tab">@Localize.T("Calendar Settings")</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="CalendarSettingsTab">
                    <div class="CalendarSettings"></div>
                </div>
            </div>
        </div>
    </div>
</div>