    .add_customer_follow_up_header {
        width: 100%;
        background-color: #f4f5f8;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
        padding: 12px 10px;
    }

    .add_followup_reminder_container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        overflow-y:scroll;
    }

    #CustomerNoteNewNote {
        resize: none;
    }

    .item_margin {
        margin-top: 10px !important;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 99.5%;
        bottom: 0%;
    }

    #btn-AddFollowUpReminder {
        float: right;
        background-color: green;
        color: white;
    }

    .followUp_SaveCancelDiv {
        width: 100%;
        padding-top: 8px;
        padding-right: 15px;
    }

    #saveAdditionalContact {
        float: right;
        padding-top: 8px;
    }
    .btn {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}
