
.form-group {
    margin: 0;
    padding: 0;
}

    .form-group h3 {
        margin-left: 30px;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
    }

.content-type {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}

.content-text {
    /*height: 32px;
            width: 80%!important;
            font-size: 13px;*/
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.custom-col {
    width: 18%;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

.txt-form {
    margin-left: 30px;
}

.item-check {
    height: 40px;
    width: 20px;
}

.txt-check {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 14px;
    padding-left: 4px;
}

.col-cus {
    margin-left: 30px;
}

#ParentId {
    height: 32px;
    width: 90%;
    margin-left: 30px;
}

.add_sales_matrix_header {
    width: 100%;
    background-color: #f4f5f8;
    padding: 10px 15px;
}

    .add_sales_matrix_header div {
        font-size: 2rem;
    }

.add_sales_matrix_container {
    padding: 10px 15px;
}

.add_sales_matrix_row {
    width: 100%;
    margin-top: 10px;
}

.add_sales_matrix_margin {
    margin-top: -3px;
}

.payroll_settings_height {
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.term_sheet_container,
.single_settings_container,
.cust_bil_meth_container,
.MonthlyProductionBonus_container,
.CreditRating_container,
.CustomerType_container,
.AgreementLength_container,
.PassThrus_container,
.InstallationFee_container,
.HoldBack_container,
.AdminFee_container,
.TermSheetManager_container {
    width: 100%;
    float: left;
}

    .term_sheet_container button,
    .single_settings_container button,
    .cust_bil_meth_container button,
    .MonthlyProductionBonus_container button,
    .CreditRating_container button,
    .CustomerType_container button,
    .AgreementLength_container button,
    .PassThrus_container button,
    .InstallationFee_container button,
    .HoldBack_container button,
    .AdminFee_container button,
    .TermSheetManager_container button {
        float: right;
    }

#SaveTermSheet,
#SaveSingleItemSettings,
#SaveCustomerBillingMethod,
#SaveMonthlyProductionBonus,
#SaveCreditRating,
#SaveCustomerType,
#SaveAgreementLength,
#SavePassThrus,
#SaveInstallationFee,
#SaveHoldBack,
#SaveBaseMultiple,
#SaveAdminFee,
#SaveTermSheetManager {
    float: right;
}

.fa-cog {
    cursor: pointer;
    color: #2ca01c;
}

.term_sheet_container table tr:nth-child(even),
.single_settings_container table tr:nth-child(even),
.cust_bil_meth_container table tr:nth-child(even),
.MonthlyProductionBonus_container table tr:nth-child(even),
.CreditRating_container table tr:nth-child(even),
.CustomerType_container table tr:nth-child(even),
.AgreementLength_container table tr:nth-child(even),
.PassThrus_container table tr:nth-child(even),
.InstallationFee_container table tr:nth-child(even),
.HoldBack_container table tr:nth-child(even),
.TermSheetManager_container table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.term_sheet_container table {
    table-layout: fixed;
}

    .term_sheet_container table tr:hover,
    .single_settings_container table tr:hover,
    .cust_bil_meth_container table tr:hover,
    .MonthlyProductionBonus_container table tr:hover,
    .CreditRating_container table tr:hover,
    .CustomerType_container table tr:hover,
    .AgreementLength_container table tr:hover,
    .PassThrus_container table tr:hover,
    .InstallationFee_container table tr:hover,
    .HoldBack_container table tr:hover,
    .TermSheetManager_container table tr:hover {
        background-color: #f4f5f8;
    }

.termSheet_icon button {
    float: left;
    margin-right: 5px;
}

    .termSheet_icon button i {
        color: #fff !important;
    }

.term_sheet_container table tbody tr td div:nth-child(1),
.single_settings_container table tbody tr td div:nth-child(1),
.cust_bil_meth_container table tbody tr td div:nth-child(1),
.MonthlyProductionBonus_container table tbody tr td div:nth-child(1),
.CreditRating_container table tbody tr td div:nth-child(1),
.CustomerType_container table tbody tr td div:nth-child(1),
.AgreementLength_container table tbody tr td div:nth-child(1),
.PassThrus_container table tbody tr td div:nth-child(1),
.InstallationFee_container table tbody tr td div:nth-child(1),
.HoldBack_container table tbody tr td div:nth-child(1),
.TermSheetManager_container table tbody tr td div:nth-child(1) {
    display: none;
}

@media (max-width:414px) {
    .term_sheet_container table thead,
    .single_settings_container table thead,
    .cust_bil_meth_container table thead,
    .MonthlyProductionBonus_container table thead,
    .CreditRating_container table thead,
    .CustomerType_container table thead,
    .AgreementLength_container table thead,
    .PassThrus_container table thead,
    .InstallationFee_container table thead,
    .HoldBack_container table thead,
    .TermSheetManager_container table thead {
        display: none;
    }

    .term_sheet_container table tbody tr td,
    .single_settings_container table tbody tr td,
    .cust_bil_meth_container table tbody tr td,
    .MonthlyProductionBonus_container table tbody tr td,
    .CreditRating_container table tbody tr td,
    .CustomerType_container table tbody tr td,
    .AgreementLength_container table tbody tr td,
    .PassThrus_container table tbody tr td,
    .InstallationFee_container table tbody tr td,
    .HoldBack_container table tbody tr td,
    .TermSheetManager_container table tbody tr td {
        width: 100%;
        float: left;
    }

        .term_sheet_container table tbody tr td div:nth-child(1),
        .single_settings_container table tbody tr td div:nth-child(1),
        .cust_bil_meth_container table tbody tr td div:nth-child(1),
        .MonthlyProductionBonus_container table tbody tr td div:nth-child(1),
        .CreditRating_container table tbody tr td div:nth-child(1),
        .CustomerType_container table tbody tr td div:nth-child(1),
        .PassThrus_container table tbody tr td div:nth-child(1),
        .InstallationFee_container table tbody tr td div:nth-child(1),
        .HoldBack_container table tbody tr td div:nth-child(1),
        .TermSheetManager_container table tbody tr td div:nth-child(1) {
            display: block;
            width: 45%;
            float: left;
            font-weight: bold;
            text-align: left;
        }

        .AgreementLength_container table tbody tr td div:nth-child(1) {
            display: block;
            width: 53%;
            float: left;
            font-weight: bold;
            text-align: left;
        }

            .term_sheet_container table tbody tr td div:nth-child(1) span,
            .single_settings_container table tbody tr td div:nth-child(1) span,
            .cust_bil_meth_container table tbody tr td div:nth-child(1) span,
            .MonthlyProductionBonus_container table tbody tr td div:nth-child(1) span,
            .CreditRating_container table tbody tr td div:nth-child(1) span,
            .CustomerType_container table tbody tr td div:nth-child(1) span,
            .AgreementLength_container table tbody tr td div:nth-child(1) span,
            .PassThrus_container table tbody tr td div:nth-child(1) span,
            .InstallationFee_container table tbody tr td div:nth-child(1) span,
            .HoldBack_container table tbody tr td div:nth-child(1) span,
            .TermSheetManager_container table tbody tr td div:nth-child(1) span {
                float: right;
                margin-right: 10px;
            }

        .term_sheet_container table tbody tr td div:nth-child(2),
        .single_settings_container table tbody tr td div:nth-child(2),
        .cust_bil_meth_container table tbody tr td div:nth-child(2),
        .MonthlyProductionBonus_container table tbody tr td div:nth-child(2),
        .CreditRating_container table tbody tr td div:nth-child(2),
        .CustomerType_container table tbody tr td div:nth-child(2),
        .PassThrus_container table tbody tr td div:nth-child(2),
        .InstallationFee_container table tbody tr td div:nth-child(2),
        .HoldBack_container table tbody tr td div:nth-child(2),
        .TermSheetManager_container table tbody tr td div:nth-child(2) {
            width: 55%;
            float: left;
            text-align: left;
        }

        .AgreementLength_container table tbody tr td div:nth-child(2) {
            width: 47%;
            float: left;
            text-align: left;
        }
}
