
    .editSettings{
        height: 100%;
    width: 500px;
    background-color: #ffffff;
    position: absolute;
    z-index: 99999;
    float: right;
    top: 0;
    right: 0;
    display: none;
    }

    .background-hide-class{
            position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 9999;
    display: none;
    }
    .buttonstyle {
        width:70px;
        background-color:darkgreen;
        color:white;
    }
        .buttonstyle:hover { font-weight:bold;
        }

    .buttonstyle:active { font-weight:bold;
        }