.fee_partial_container {
    width:100%;
    padding:0px !important;
    overflow-x:hidden;
}

 .fluid-style{
       margin-top:-17px;
    }   
 .margin_top_set {
     margin-top:-19px;
 }

.nav-tabs > li > a {
        background-color: transparent !important;
    }

    .nav-tabs > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    .nav-tabs > li {
        border: 1px solid #ccc !important;
    }

        .nav-tabs > li.active {
            background-color: #2ca01c !important;
            border: 1px solid #2ca01c !important;
        }

    .nav-tabs > li {
        border: 1px solid #ccc !important;
    }
    .nav-tabs > li:hover {
        cursor:pointer;
    }

        .nav-tabs > li.active > a {
            color: white !important;
        }
    .set {width:98%;
          margin-left:15px;
    }
    .set2 {
        margin-left:15px;
    }
    .dataTables_filter {
        display:none;
    }

    @media (max-width: 768px) {
.nav-tabs > li {
    width: 33%;
    font-size: 14px;
    text-align:center;
}
.nav-tabs {
    border: none;
}
}
@media (max-width: 414px) {
    .set2 {
    margin-left: 6px;
}
     .set {
        width: 100%;
        margin-left: 0px;
        padding: 0px 6px;
    }

    .nav-tabs > li {
        height:60px;
        font-size:16px;
        }
}


