.service_fee_header {
       font-size: 2.2rem;
    font-weight: 500;
    width: 48%;
    float: left;
    margin-top: 8px;
}    
.sv_fee_pad {
    padding:0px 13px;
}
.AddService {
    float: right;
    background-color: #2ca01c;
    border: none;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    height: 32px;
    color: white;
    padding: 0px 15px;
    }

    .txt-style {
        padding-top: 20px;
    }

    .panel-table {
        padding-top: 20px;
    }

   .sv_fee_search_div_bar {
        width:30%;
        float:left;
    }
   .device_header {
       display:none;
   }
   #tblServiceFee {
       padding:0px 15px;
   }
   #tblServiceFee thead tr th:nth-child(3) {
       width:70px !important;
   }
    #tblServiceFee thead tr th:nth-child(2) {
       width:auto !important;
   }
     #tblServiceFee thead tr th:nth-child(1) {
       width:auto !important;
   }
     #tblServiceFee tbody tr td:nth-child(3) {
         padding-right: 30px;
        font-size: 15px;
        margin-top: 5px;
   }
   @media (max-width: 414px) {
      .sv_fee_search_div_bar {
    width: 103%;
    margin-left: -8px;
    margin-top: 7px;
}

    .custom_hide_header {
        display: none;
    }

    .device_style_info {
        width: 100% !important;
        float: left !important;
        margin-left: 7px;
    }

    .device_header {
        display: block;
        width: 40%;
        float: left;
        font-size: 1.4rem;
        font-weight: bold;
        text-align:left;
    }

    .info_style_device {
        width: 52%;
        word-wrap: break-word;
        float: left;
        text-align:left;
    }
    
}
