@{
    ViewBag.Title = "Branch Inventory";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    $(document).ready(function () {
        $(".branch-inventory-list").load(domainurl + "/Inventory/BranchListInventoryPartial");

    })
</script>

<div class="branch-inventory-list">

</div>

