@{
    Layout = null;
}
@model List<HS.Entities.CompanyBranch>
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions

<style>
    .ListContentsBranchOwn{
        float:left;
    }
    .BranchDetails {
        color: #2ca01c;
        font-weight: 600;
        cursor: pointer;
    }

    .BranchList {
        width: 317px;
        float: left;
    }

    .width-100per {
        width: 100%;
        padding-top: 5px;
    }

    .BranchListHeader {
        background-color: #ccc;
        padding: 11px 5px;
    }

    .BranchListTitle {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }

    .BranchListContent {
        border-bottom: 1px solid #aaa;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

        .BranchListContent:hover {
            cursor: pointer;
            background-color: #ccc;
            opacity: 0.9;
        }

    .individualBranchDetail {
        float: right;
    }

    .NoInventoryDiv {
        padding: 10px 10px;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<script>
    var LoaderAnimation = "<div class='ListViewLoader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var BranchId="";
    var LoadBranchInventoryDetailsAll = function () {
        $(".ListContentsBranchAll").html(LoaderAnimation);
        $(".ListContentsBranchAll").load(domainurl + "/Inventory/BranchEquipmentsListPartial");
    }
    var LoadBranchInventoryDetailsOwn = function () {
        $(".ListContentsBranchOwn").html(LoaderAnimation);
        $(".ListContentsBranchOwn").load(domainurl + "/Inventory/BranchEquipmentsListPartial");
    }
    var FixDetailDivWidth = function () {
        var width = $(".width-100per").width() - 317;
        $(".individualBranchDetail").width(width);
    }
    $(document).ready(function () {
        FixDetailDivWidth();
        $(".BranchListContent").click(function () {
            BranchId = $(this).attr('idval');
            FixDetailDivWidth();
            LoadBranchInventoryDetailsOwn();
        });
        LoadBranchInventoryDetailsAll();
        $(".AddBranch").click(function () {
            LoadUserMgmt();
        })
        $(window).resize(function () {
            FixDetailDivWidth();
        });
    });
</script>
@if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.BranchAllPurchaseOrder))
{
    <div class="width-100per">
        <div class="BranchList">
            <div class="BranchListHeader">
                <div class="BranchListTitle">@Localize.T("Branch List")</div>
            </div>

            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="BranchListContent" idval="@item.Id">
                        <div>@item.Name</div>
                    </div>
                }
            }

            else
            {
                <div class="NoInventoryDiv">
                    <a class="AddBranch">@Localize.T("No Branch found. Please add Branch")</a>
                </div>

            }
        </div>

        <div class="ListContentsBranchOwn">

        </div>
    </div>
}
@if (PermissionChekcer.IsPermitted(Permissions.InventoryPermissions.BranchOwnPurchaseOrder))
{
    <div class="ListContentsBranchAll">

    </div>
}