@{
    ViewBag.Title = "Technician Inventory";
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    $(document).ready(function () {
        $(".technician-inventory-list").load(domainurl + "/Inventory/TechnicianListInventoryPartial");

             $("#btnsearchtexttechnicianlist").click(function () {
  
                 console.log("search");
            var SearchText = $(".searchtexttechnicianlist_search_text").val();
       //     $(".technician-inventory-list").html(TabsLoaderText);
                 $(".technician-inventory-list").load(domainurl + "/Inventory/TechnicianListInventoryPartial?searchtext=" + encodeURI(SearchText));

             });
        $(".searchtexttechnicianlist_search_text").keydown(function (e) {
                          var SearchText = $(".searchtexttechnicianlist_search_text").val();

                if (e.which == 13) {
                 $(".technician-inventory-list").load(domainurl + "/Inventory/TechnicianListInventoryPartial?searchtext=" + encodeURI(SearchText));
                }
            });
    })
</script>
<div class="service_tracker_search_bar" style="margin-right:10px;margin-top:10px;width:300px;">
    <div class="input-group add-on convert_cus_div">
        <input value="" class="form-control filterinput border_radius_0 searchtexttechnicianlist_search_text" id="searchtext" placeholder="Search">
        <div class="input-group-btn"><button class="btn search_service_btn green_button" id="btnsearchtexttechnicianlist" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
    </div>

    @*<button class="btn convert_cus_div page_filter_btn" id="convert_cus_filterbtn"><span title="Filter" class="glyphicon glyphicon-filter"></span></button>*@
</div>
<div class="technician-inventory-list">

</div>
