@{
    var currentLoggedIn = ((HS.Web.UI.Helper.CustomPrincipal)(User));
}
<link href="~/Content/Css/Inventory/BadInventoryPartial.css" rel="stylesheet" />

<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var ProductHistoryLoad = function (pageNo, order) {
        var searchtext = $(".PHSearchText").val();
        if (typeof (pageNo) != "undefined") {
            var LoadUrl = domainurl + "/Inventory/ProductHistoryPartial/?PageNo=" + pageNo + "&SearchText=" + encodeURI(searchtext) + "&order=" + order + '&pagesize=20' + "&UserId=" + UserId; // + "&tab=" + '@ViewBag.tab';
            $(".ProductHistoryTable").html(TabsLoaderText);
            $(".ProductHistoryTable").load(LoadUrl);
        }
    }
    $(document).ready(function () {
        //$("#TechAddNewBI").click(function () {
        //    OpenRightToLeftLgModal(domainurl + "/Inventory/TechAddBadInventory?id=0");
        //});
        $("#TechPHbtnsearchtext").click(function () {
            ProductHistoryLoad(1, null);
        });
        $(".PHSearchText").keydown(function (e) {
            if (e.which == 13) {
                ProductHistoryLoad(1, null);
            }
        });
        ProductHistoryLoad(1, null);
    });
</script>

<div class="bad_inventory_partial_container">
    <div class="bad_inventory_partial_search_div">
        <div class="input-group add-on">
            <input class="form-control PHSearchText" type="text" placeholder="Search" />
            <div class="input-group-btn">
                <button class="btn search_BI_btn green_button" id="TechPHbtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        @*@if (currentLoggedIn.UserRole.ToLower().IndexOf("technician") != 0 && currentLoggedIn.UserRole.ToLower().IndexOf("installation") != 0)
            {*@
        @*<button class="btn btnBI" id="TechAddNewBI"><i class="fa fa-plus"></i> New</button>*@
        @*}*@

    </div>
    <div class="ProductHistoryTable">

    </div>
</div>



