<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HS.MACConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HS.MACConnect.Properties.Settings>
            <setting name="HS_MACConnect_com_alarmaccount_www_NMCLinkPortal" serializeAs="String">
                <value>https://www.alarmaccount.com/NMCTestPortal/NMCLinkPortal.asmx</value>
            </setting>
            <setting name="HS_MACConnect_com_alarmaccount_www_NMCLinkPortal_Production" serializeAs="String">
              <value>https://www.alarmaccount.com/NMCLinkPortal/NMCLinkPortal.asmx</value>
            </setting>
        </HS.MACConnect.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
