.add_lead_info_container {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
     -webkit-border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px;
}
.z_index_custom {
    z-index:0;
}
.add_lead_info_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
     -webkit-border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
  .customer_info_container {
        width: 100%;
        float:left;
    }
    .customer_info_content {
        width:100%;
        float:left;
    }
.lead_info_partial_new_header {
    width: 100%;
    float: left;
    font-size: 25px;
    padding-bottom: 5px;
}
.customer_info_content_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 15px;
}
.customer_info_content_block_header {
    width: 100%;
    float: left;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
.customer_info_content_block_inner {
    width: 100%;
    float: left;
    padding:10px;
}
    .customer_info_content_block_inner .form-group {
        width: 20%;
        float: left;
        padding-right: 5px;
        padding-left: 5px;
        position: relative;
        max-height: 50px;
    }
    .customer_info_content_block_inner .span-style {
        font-weight:bold;
    }
    .customer_info_content .form-group {
        width: 20%;
        float: left;
        padding-right: 5px;
        padding-left: 5px;
        position: relative;
        max-height: 50px;
    }
        .customer_info_content .form-group .select2-container {
            z-index: 9 !important;
        }
        .add_lead_info_details_block {
            width: 100%;
            font-size: 13px !important;
            float: left;
            padding: 10px 15px 15px 10px;
        }
.verify_lead_header {
    font-size:2.4rem;
    font-weight:500;
}
.add_verify_info_btn_container {
    float:right;
    margin-top:13px;
    padding-bottom:15px;
}
.dob_lead {
    height:31px;
    margin-top:-1px;
}
.massage-dob-lead{
        display: none;
        color:red;
        position : absolute;
        font-weight: 700;
        font-size: 75%;
    }
.style-1st-col {
    background-color: rgba(158, 158, 158, 0.63);
}

.style-2nd-col {
    padding-left: 0;
    padding-right: 0;
}

.style-textbox {
    height: 35px !important;
}

.style-row {
    margin-top: 5px;
}
.input-ssn-format {
    width:106% !important;
}
.style-h3 {
    margin-top: 12px;
}
.button_style {
    border: 1px solid #ddd;
    margin-left: -17px;
    height: 87px;
    text-align: center;
    padding-top: 20px;
}
.long_text_style {
      text-align: right;
    width: 32%;
    line-height: 1em;
    padding-right: 0px;
    padding-top: 7px;
}

.style-txt {
    font-size: 14px;
    font-weight: 600;
}

.field_header_text {
    font-weight: 600;
    color: rgb(97, 91, 91);
    display: block;
    font-size: 14px;
}

.custom_container {
    margin: 0px;
    /*width:100%;*/
}

.acc_info_field {
    border: 2px solid #ddd;
    box-shadow: 0px 0px 0px 0px #000;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    margin-bottom: 17px;
}

.acc_info_legend {
    width: inherit;
    padding: 3px 10px;
    border-bottom: none;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px !important;
}

.text_group {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}


.padd_left {
    padding-left: 2.7%;
}

.margin_top_row {
    margin-top: 15px;
}

.text-custom {
    font-size: 13px;
    font-weight: 600;
    color: #615b5b;
}

.absolute {
    position: absolute;
}
.right_allign {
    padding-top: 11px;
    width: 100px;
    padding-right: 0px;
    line-height: 1em;
}
.ssn_text {
    padding-top: 11px;
}
.birth_style {
    padding-left: 0px;
    width: 23%;
}
.add_lead_email_style {
    display:flex;
}
.add_lead_email_style input {
    border-radius:4px 0px 0px 4px;
}
.add_lead_email_style button {
    border-radius:0px 4px 4px 0px;
}
.verifiedEmailAddress,.verifiedSitePhoneNumber,.verifiedCellPhoneNumber,.verifiedSecondaryPhoneNumber{
    color: #2ca01c;
    font-size:20px;
    position:absolute; 
    top:-4px;
    margin-left:5px;
}
.notVerifiedEmailAddress,.notVerifiedSitePhoneNumber,.notVerifiedCellPhoneNumber,.notVerifiedSecondaryPhoneNumber,
.notVerifiedEmailAddress:hover,.notVerifiedSitePhoneNumber:hover,.notVerifiedCellPhoneNumber:hover,.notVerifiedSecondaryPhoneNumber:hover,
.notVerifiedEmailAddress:focus,.notVerifiedSitePhoneNumber:focus,.notVerifiedCellPhoneNumber:focus,.notVerifiedSecondaryPhoneNumber:focus {
    color: #d9534f !important; 
    font-size:20px; 
    position:absolute; 
    top:-4px; 
    margin-left:5px;
}

@media (max-width: 1024px) and (min-width: 991px) {
    .ssn_div {
        width:42% !important;
    }
    .add_ver_info_button {
        width:33% !important;
    }
    .add_verify_info_btn_container {
        margin-top:18px;
    }
    #btnVerify, #btnVerifyOnly {
        padding: 4px 12px;
    }
}
@media (max-width:1260px) {
    .customer_info_content .form-group {
        width:33.33%;
    }
}
@media(max-width:991px) {
    .bottom_pad_for_mobile {
        padding-bottom:15px;
    }
    .margin_top_row {
        margin-top:0px;
    }
    .right_allign {
    text-align: left;
    padding-top: 0px;
    width: auto;
}
    .birth_style {
    padding-left: 15px;
    width: 100%;
}
    .long_text_style {
    text-align: left;
    width: 100%;
    padding-top: 15px;
}
    .padd_left {
        padding-left:15px;
        padding-bottom: 10px;
    }
    .input-ssn-format {
        width:100% !important;
    }
    .button_style {
    border: none;
    margin-left: 0px;
    height: auto;
    text-align: center;
    padding-top: 0px;
}
}
@media(max-width:768px) {
    .customer_info_content .form-group {
        width: 50%;
        margin-bottom:10px;
    }
    .lead_device_custom {
        width:50%;
        float:left;
    }
     .lead_device_custom_dob {
        width:40%;
        float:left;
    }
     .lead_device_custom_ssn {
        width:60%;
        float:left;
    }
    .device_pad_bottom_lead {
        padding-bottom:15px;
    }
    .lead_custom_top_margin {
        margin-top:10px;
    }
    .add_verify_info_btn_container {
        margin-bottom:20px;
    }
}

@media(max-width:414px) {
     .customer_info_content .form-group {
        width: 100%;
        padding-left:0px;
        padding-right:0px;
    }
    .add_lead_info_container {
        margin-top: 60px;
    }
    .lead_device_custom {
        width:100%;
    }
    .add_lead_info_details_block .bottom_pad_for_mobile {
        padding-bottom:0px;
    }
    
}
