@{
    Layout = "Index.cshtml";
}
<script>
    var TicketId = @ViewBag.Id;
    $(document).ready(function () {
        OpenTicketById(TicketId);
        console.log(@ViewBag.Id);
        console.log(@ViewBag.TicketId);
        $(".LoaderWorkingDiv").hide();
    })
</script>
<h1>Logs</h1>




