
.ticket_preview_pop {
 width: 1024px;
            /*height:1600px;*/
            overflow-y:auto;
            overflow-x:auto;
}

.CloseButtonDiv {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

    .CloseButtonDiv img {
        width: 25px;
    }

.HeadContents {
    padding-top: 20px;
    padding-left: 30px;
}

.btnCancel {
    color: black;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

    .btnCancel:hover {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 19px;
        padding-right: 19px;
        border: 2px solid #6b6c72;
    }

.btnPrint {
    color: white;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2ca01c;
    float: right;
    margin-right: 30px;
}

    .btnPrint:hover {
        background-color: #108000 !important;
    }

.footerContents {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding-left: 30px;
}

.bodyConentsDiv {
    /*width: 100%;
    height: 800px;*/
    margin-top: 15px;
    margin-left: 30px;
}

.pdf-styles {
    width: 100%;
    height: 430px;
}

.width-50p {
    width: 50%;
    float: left;
}

.width-50p-firstdiv {
    width: 50%;
    float: left;
    height:72%;
    overflow-y:scroll;
    overflow-x:hidden;
}
@media (max-width:414px) {
    .ticket_preview_pop_container {
    max-width: 1024px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
}
}

