.cancellation_agreement_container {
    margin-top: 50px;
    max-width: 1024px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 51px;
    background-color: #f5f5f5;
    height: 100%;
    padding: 15px;
}
    .cancellation_agreement_container .bodyConentsDiv1 {
        width: 100%;
        height: 435px !important;
        margin-top: 15px;
        overflow: hidden;
        margin-left: 0px;
    }
.can_agree_btn {
    padding-left: 10px;
    padding-right: 20px;
    height: 35px;
    margin-right: 0px;
}
.bodyConentsDiv1_mobile {
    width: 1024px;
    height: 1600px;
    overflow-y: auto;
}

        .switch {
            position: relative;
            display: inline-block;
            width: 54px;
            height: 27px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2ca01c;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2ca01c;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            -webkit-border-radius: 34px;
            -moz-border-radius: 34px;
            border-radius: 34px;
        }

            .slider.round:before {
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

.footerContents-agreement {
    width: 100%;
    float: left;
}

        .footerContents-agreement1 {
            width: 100%;
            position: absolute;
            /*padding-top: 20px;*/
            padding-right: 10px;
        }

        .custom-body_id {
            margin-top: 50px;
            max-width: 1024px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 51px;
            background-color: #f5f5f5;
            height: 100%;
        }

        .custom-body_id_mobile {
            margin-top: 50px;
            max-width: 1024px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 51px;
            /*background-color: #f5f5f5;*/
            height: 100%;
        }

.sign-document {
    width: 100%;
    float: left;
}

        .btnSign {
            background-color: #2ca01c;
            border-style: none;
            height: 35px;
            color: white;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .LoadImg {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .Error-warning {
            /*position:relative;*/
            color: red;
            font-style: italic;
            font-size: 12px;
            font-weight: 600;
            display: none;
        }

        .LoadImgDiv_mobile {
            width: 1024px;
            height: 1850px;
            position: absolute;
            background: white;
            z-index: 8888;
        }

        .LoadImgDiv {
            width: 100%;
            height: 100%;
            position: absolute;
            background: white;
            z-index: 8888;
        }

        .wrapper {
            border: 1px solid #ccc;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            margin: 9px 9px 9px 0px;
            position: relative;
            width: 300px;
            height: 100px;
            margin-right: 35px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        button[disabled], html input[disabled] {
            background-color: #ccc;
        }

            button[disabled]:hover, html input[disabled]:hover {
                background-color: #ccc;
            }

        .signature-pad {
            position: absolute;
            left: 0;
            top: 0;
            width: 300px;
            height: 100px;
        }

        .cus-pdf-style {
            height: 390px;
        }
        /*style start for checkbox*/
        /*style start for checkbox*/


        .label-cbx {
            user-select: none;
            cursor: pointer;
            margin-bottom: 0;
        }

            .label-cbx input:checked + .checkbox {
                border-color: #00c31f;
            }

                .label-cbx input:checked + .checkbox svg path {
                    fill: none;
                }

                .label-cbx input:checked + .checkbox svg polyline {
                    stroke-dashoffset: 0;
                }

            .label-cbx:hover .checkbox svg path {
                stroke-dashoffset: 0;
                stroke-width: 1;
            }

            .label-cbx .checkbox {
                position: relative;
                top: 13px;
                float: left;
                margin-right: 8px;
                width: 20px;
                height: 20px;
                border: 2px solid #C8CCD4;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

                .label-cbx .checkbox svg {
                    position: absolute;
                    top: -3px;
                    left: -2px;
                }

                    .label-cbx .checkbox svg path {
                        fill: none;
                        stroke: #00c31f;
                        stroke-width: 2;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-dasharray: 71px;
                        stroke-dashoffset: 71px;
                        transition: all 0.6s ease;
                    }

                    .label-cbx .checkbox svg polyline {
                        fill: none;
                        stroke: #00c31f;
                        stroke-width: 2;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-dasharray: 18px;
                        stroke-dashoffset: 18px;
                        transition: all 0.3s ease;
                    }

            .label-cbx > span {
                pointer-events: none;
                vertical-align: middle;
            }

        .invisible {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            opacity: 0;
        }

        /*style end for checkbox*/
        /*style end for checkbox*/
        .all_button {
            /*width: 106px;*/
            padding-left: 10px;
            padding-right: 10px;
            height: 35px;
        }

        .btnQuesSave {
            color: white;
            border: 1px solid #6b6c72;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #2ca01c;
            float: right;
            margin-right: 30px;
        }
        .HeadExpiredContents
        {
           width:100%;
           float:left;
           color: #d71920;
        }
        .profile_message {
            padding-top: 20px;
            padding-left: 30px;
        }

            .profile_message span {
                font-weight: bold !important;
            }

            .profile_message i {
                cursor: pointer;
            }

        .SwitchACHPayment_style, .SwitchACHPayment_style:hover {
            color: red;
            text-decoration: none;
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 5px;
        }

        .mobile_width {
            background-color: #fff;
        }
.CancellationReasonArea,
#CancellationDiv {
    width: 100%;
    float: left;
    /*padding: 20px;
    padding-top: 60px;*/
}
        .CancellationReasonArea_inner {
            width:500px;
            float:left;
        }
        .CancellationReasonArea_inner .CancellationReasonArea_content {
            width:100%;
            float:left;
            padding-bottom:10px;
        }
        .CancellationReasonArea_inner .CancellationReasonArea_header {
            font-weight:bold;
            margin-bottom:10px;
        }
        .CancellationReasonArea_footer {
            width:100%;
            float:left;

        } 
        .CancellationReasonArea_inner textarea {
            resize:none;
        }
        .CancellationReasonArea_footer button,
        .CancellationReasonArea_footer button:hover,
        .CancellationReasonArea_footer button:focus {
            background-color:#2ca01c;
            border-color:#2ca01c;
            color:#fff;
        }
        .CancellationReasonArea_inner #CacellationReason {
            width:230px;
        }
        .CancellationReasonArea_header span {
            font-size:11px;
            font-weight:normal;
            font-style:italic;
            color:#d20000;
        }
        @media (max-width:414px) {
            .CancellationReasonArea_inner {
            width:100%;
        }
        }
