@{
    Layout = null;
} 
@model HS.Entities.Activity
<style>
  .CloseButtonDiv
  {
      float:right;
      cursor:pointer;
  }
</style>
<div class="CloseButtonDiv" onclick="parent.ClosePopup()">
    <img title="Close" src="/Content/Icons/cross_update.png">
</div>
<div class="EmailTemp">@Html.Raw(Model.Note)</div>


 
