    .dataTables_length{
        display:none;
    }
    .dataTables_filter{
        display:none;
    }
    .dataTables_info{
        display:none;
    }
    .page-title {
    font-size: 24px;
    font-family: 'Play', sans-serif;
    color: #000000;
}
    .hr_doc_partial_container {
        padding-left:0px;
        padding-right:0px;
    }
.btn {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}

    .btn:hover {
        background-color: #2ca01c;
        color: white;
    }


.header-category {
    font-family: "Avenir Next forINTUIT", "Arial", -apple-system, "Helvetica Neue", sans-serif;
    padding-left: 12px;
    font-weight: 400;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}

.checkbox {
    margin: 0;
    margin-left: -336px;
    padding-top: 5px;
}

.label-heading {
    padding-left: 50px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

.btn-drop {
    height: 32px;
    margin-right: 40px;
    width: 40px;
}

.page-header1 {
    border-bottom: none;
}

.page-content {
    background-color: azure;
    margin-left: 10px;
    margin-right: 10px;
}

.row-space {
    padding-left: 10px;
}

.thread1 {
    width: 900px;
}

.item-parent {
    margin-left: 10px;
}

.thead-th-style2 {
    float: right;
}

.table-body-td {
    float: right;
    margin-right: 2%;
    margin-top: 10px;
}

.txt-input {
    width: 180% !important;
    margin-bottom: 10px;
}

.hr_doc_partial_searchbardiv {
    margin-top: 10px;
    width: 80%;
    float: left;
    padding: 0;
}
.hr_doc_partial_searchbardiv #srch-doc-item {
       width: 40%;
    float: left;
    border-radius: 4px 0px 0px 4px;
}
.hr_doc_partial_searchbardiv .input-group {
    width:180px;
    float:left;
}
.hr_doc_partial_searchbardiv .input-group select {
     border-radius: 0px 4px 4px 0px;
     margin-left:-1px;
}
table.dataTable thead > tr > th:first-child {
    width: 100px !important;
}

.cus-anchor {
    color: #2ca01c !important;
}
.hr_doc_partial_row {
    width:100%;
    float:left;
}
    .hr_doc_partial_row #AddNewProduct {
        margin-top:10px;
    }
    .hr_doc_partial_left {
        width: 50%;
        float: left;
    }
.hr_doc_partial_right {
    width: 50%;
    float: left;
    padding-top: 9px;
}
.hrdp_device_header {
    display:none;
}
#tblinfo thead tr th:nth-child(1){
    width:400px !important;
}
#tblinfo thead tr th:nth-child(5){
    width:50px !important;
}
#tblinfo tbody tr td:nth-child(5) {
    text-align:center;
    float:none;
}
.uidt_table {
    width:100%;
    float:left;
}
.uidt_table tbody tr td:nth-child(5) {
    float:left !important;
}
@media (max-width: 768px) {
.table-body-td-style {
    width:auto;
    float:none;
}
    .hr_doc_partial_header_hide {
        display: none;
    }

    .hr_doc_partial_device_row {
        width: 100%;
        float: left;
        padding: 5px 0px;
    }

    .hrdp_device_header {
        display: block;
        width: 50%;
        float: left;
        text-align: left;
        font-weight: bold;
    }

        .hrdp_device_header span {
            float: right;
            margin-right: 5px;
        }

    .hrdp_device_info {
        width: 50%;
        float: left;
        text-align: left;
        word-break: break-all;
    }
}
@media (max-width: 414px) {
    .hr_doc_partial_searchbardiv .input-group,
    .hr_doc_partial_searchbardiv #srch-doc-item {
    width: 100%;
    float: left;
    }
.hr_doc_partial_searchbardiv {
    width:100%;
    margin-bottom: 10px;
}
.hr_doc_partial_header_hide {
    display:none;
}
.hr_doc_partial_device_row {
    width:100%;
    float:left;
    padding: 5px 0px;
}
.hrdp_device_header {
    display:block;
    width:50%;
    float:left;
    text-align:left;
    font-weight:bold;
}
.hrdp_device_header span {
    float:right;
    margin-right:5px;
}
.hrdp_device_info {
    width:50%;
    float:left;
    text-align:left;
    word-break:break-all;
}
.hrdp_top_pad {
    margin-top: -10px;
}
    .hr_doc_partial_row #AddNewProduct {
        margin-top: 0px;
    }
}
