@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/ServiceArea/ZipcodeList.css" rel="stylesheet" />
<script>
    var NavigatePageListing = function (pagenumber,order) {
        var searchText = $("#srch-term").val();
        $("#LoadAreaZipCode").load(domainurl + "/ServiceArea/AreaZipCode", { PageNumber: pagenumber, SearchText: searchText });
    }
    $(document).ready(function () {
        //$(".LoaderWorkingDiv").hide();
        var pagenumber = 1;
        $("#LoadAreaZipCode").load(domainurl + "/ServiceArea/AreaZipCode", { PageNumber: pagenumber });

        $('#srch-term').keyup(function () {

            NavigatePageListing(pagenumber);
        })
        $("#btnAddPto").click(function () {
            OpenRightToLeftModal(domainurl + "/ServiceArea/AddZipCode");
        });
    })
</script>
<div class="zip_code_list_container">
    <div class="zip_code_list_header">@Localize.T("Service Area Zip Code")</div>
    <div class="zip_code_list_search_container">
        <div class="searchbardiv">
            <input class="form-control Zipcode_search_text" placeholder="Find Zip Code" name="srch-term" id="srch-term" type="text">
        </div>
        <div class="add_ZipCode_btn_div">
            <button id="btnAddPto" class="btn btn_addPTO"><i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T("Add Zip Code")</button>
        </div>
    </div>
    <div id="LoadAreaZipCode">

    </div>
</div>
