.green-tooltip + .tooltip > .tooltip-inner {
    background-color: #2ca01c;
}

.estimatestatus {
    cursor: pointer;
}

.create_category_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
    float: right;
}

.search_category_btn {
    cursor: pointer;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}

.no-Padding {
    padding-left: 0px;
    padding-right: 0px;
}

.border_radius_0 {
    border-radius: 0px;
}
.go_back_filter_bar {
    width:70%;
    float:left;
}
.go_back_filter_bar .input-group input {
    width:200px;
    float:left;
}
.go_back_filter_bar .input-group bootstrap-select,
.go_back_filter_bar .input-group select {
    float:left;
}


.category_list_partial_device_header {
    display: none;
}

.category_list_partial_device_info {
        overflow: hidden;
    white-space: nowrap;
}
.tbl_topping_list_Item .category_list_partial_device_info {
    overflow: unset !important;
    white-space: unset !important;
}
.mn_list_partial_device_info {
    word-break: break-word;
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
}
.category_list_partial_device_info p {
    display:contents;
} 
.exceed-warning {
    color: red;
}
.category_list_partial_info thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.category_list_partial_info tbody {
    border:1px solid #ccc;
}
.category_list_partial_info {
    width:100%;
    float:left;
}
.category_list_partial_info thead tr th {
    border-right:1px solid #ccc;
}
.category_list_partial_info thead tr th,
.category_list_partial_info tbody tr td {
    padding: 5px 10px 5px 10px;
}
.category_list_partial_info tbody tr:nth-child(odd) {
    background-color:#f4f5f8;
}
.category_list_partial_info tbody tr:hover {
    background-color:#f8f8f8;
}
 .category_list_partial_info thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .category_list_partial_info thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .category_list_partial_info thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .category_list_partial_info thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }

       .lsrp_info_block {
           width:33.333%;
           float:left;
    border-left: 10px solid #0077c5;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    background-color: #035890;
    font-family: sans-serif;
}
    .category_list_container,
    .toppingpartial_container {
        width:100%;
        float:left;
    }  
    .category_search_filter,
    .topping_search_filter {
        width:100%;
        float:left;
    }
    .category_search_filter .input-group,
    .topping_search_filter .input-group {
        width:350px;
        float:left;
    }
     .category_search_filter .input-group .btn,
    .topping_search_filter .input-group .btn,
     .category_search_filter .input-group .btn:hover,
    .topping_search_filter .input-group .btn:hover,
     .category_search_filter .input-group .btn:focus,
    .topping_search_filter .input-group .btn:focus {
      background-color:#2ca01c;
      color:#fff;
    }
   
@media (max-width: 768px) {
     .lsrp_info_block {
           width:100%;
        
}
        .go_back_srch_filter,
        .app_date_search_filter,
        .date_ref_srch_filter,
        .ins_equip_srch_filter {
            width:100%;
            float:left;
            padding-bottom:10px;
        }
       .go_back_srch_filter  #searchtext_goback,
       .go_back_srch_filter .TicketType_Search,
       .go_back_srch_filter .Ticket_Status_Search,
       .go_back_srch_filter .input-group,
       .app_date_search_filter  #searchtext,
       .app_date_search_filter .TicketType_Search,
       .app_date_search_filter .Ticket_Status_Search,
       .app_date_search_filter .input-group,
        .date_ref_srch_filter .ticket_search_text,
       .date_ref_srch_filter .TicketType_Search,
       .date_ref_srch_filter .Ticket_Status_Search,
       .date_ref_srch_filter .input-group,
        .ins_equip_srch_filter .ticket_search_text,
       .ins_equip_srch_filter .TicketType_Search,
       .ins_equip_srch_filter .Ticket_Status_Search,
       .ins_equip_srch_filter .input-group {
           width:50% !important;
           float:left !important;
       }
   

    .category_list_partial_info thead {
        display: none;
    }

    .category_list_partial_info tbody tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

        .category_list_partial_info tbody tr:nth-child(even) {
            background-color: #f9f6f6;
        }

        .category_list_partial_info tbody tr td {
            width: 100%;
            float: left;
            padding: 3px 0px;
        }

    .category_list_partial_device_header {
        display: block;
        width: 40%;
        float: left;
        font-size: 13px;
        font-weight: bold;
        padding-left: 5px;
    }
    .category_list_partial_device_header span {
        float:right;
        margin-right:10px;
    }
    .category_list_partial_device_info {
        width: 60%;
        float: left;
    }
   
}

@media (max-width: 414px) {
     .category_search_filter .input-group,
    .topping_search_filter .input-group {
        width:100%;
        float:left;
        margin-bottom:10px;
    }
     .go_back_srch_filter  #searchtext_goback,
       .go_back_srch_filter .TicketType_Search,
       .go_back_srch_filter .Ticket_Status_Search,
       .go_back_srch_filter .input-group,
       .app_date_search_filter  #searchtext,
       .app_date_search_filter .TicketType_Search,
       .app_date_search_filter .Ticket_Status_Search,
       .app_date_search_filter .input-group,
        .date_ref_srch_filter .ticket_search_text,
       .date_ref_srch_filter .TicketType_Search,
       .date_ref_srch_filter .Ticket_Status_Search,
       .date_ref_srch_filter .input-group,
        .ins_equip_srch_filter .ticket_search_text,
       .ins_equip_srch_filter .TicketType_Search,
       .ins_equip_srch_filter .Ticket_Status_Search,
       .ins_equip_srch_filter .input-group {
           width:100% !important;
           float:left !important;
       }
     .category_list_partial_device_header {
        width: 55%;
    }
    
    .category_list_partial_device_info {
        width: 45%;
    }
   
    
}
