.AllNotificationsDiv{
        width:100%;
        float:left;
        padding:5px 20px 0px;
    }
   .AllNotificationsDiv .Notification_head{
       font-size:24px;
       border-bottom:1px solid #e3e3e3;
       padding: 0px 0px 4px 0px;
    }
    .AllNotificationsDiv .notification_item_full{
       width:100%;
       float:left;
        border-bottom:1px solid #e3e3e3;
        cursor:pointer;
        padding: 5px 20px;
    }
    .AllNotificationsDiv .notification_item_full:nth-child(odd){
       background-color:#f8f8f8;
    }
    .AllNotificationsDiv .notification_item_full:hover{
       background-color:#f4f5f8;
    }
    .AllNotificationsDiv .notification_item_full div {
        width:auto;
        float:left;
    }
    .AllNotificationsDiv .notification_item_full div:nth-child(1) {
       white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .AllNotificationsDiv .notification_item_full div:nth-child(2) {
     font-style: italic;
    color: #9a9a9a;
    font-size: 12px;
    padding: 3px 5px;
    }
    .AllNotificationsDiv .no_notification_div_container {
         width: 100%;
        float: left;
    }
    .AllNotificationsDiv .no_notification_div_all {
    width: 280px;
    float:none;
    margin:auto;
    text-align: center;
    padding: 18px;
    line-height: 14px;
    border: 3px dashed #ccc;
}
    .AllNotificationsDiv .no_notification_div_all i {
    font-size: 35px !important;
    color:#d71920;
}
    .AllNotificationsDiv .no_notification_div_all label {
    margin-bottom: 0px;
    font-size: 12px;
}
    @media (max-width:414px) {
        .AllNotificationsDiv {
            margin-top:50px;
            padding:5px 10px 0px;
        }
        .AllNotificationsDiv .notification_item_full div:nth-child(1) {
            width:100%;
            float:left;
        }
        .AllNotificationsDiv .notification_item_full {
            padding:5px 10px;
        }
    }