.add_localize_resource_container {
        width:100%;
        float:left;
    }
    .add_localize_resource_container .col-md-12 {
        padding-top:5px;
    }
    .add_localize_resource_container .col-md-12 div {
        margin-bottom:10px;
    }
    .add_localize_resource_container .col-md-12 div label:nth-child(1) {
        margin-bottom:0px;
    }
    .add_file_header {
        width: 100%;
        background-color: #f4f5f8;
        padding: 15px 15px 10px 15px;
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
    }
    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
    #SaveLocalizeResource {
        float: right;
        background: #2ca01c;
        color: #fff;
        margin-top:10px;
        margin-right:10px;
    }
