    .customerUiSettingPartial_container {
        width:100%;
        float:left;
        padding: 10px 0px;
    }
    .customerUiSettingPartial_container h4,
    .LoadTabUiSettings h4 {
          width:100%;
        float:left;
    }

    .customerGridSettings tr td,
    .customerTabSettings tr td {
        text-align: center;
    }

    .customerGridSettings th, .customerTabSettings th {
        background-color: #e4e4e4;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .customerGridSettings tr, .customerTabSettings tr {
        cursor: move;
    }

        .customerGridSettings tr:hover, .customerTabSettings tr:hover {
            background-color: #f4f5f8;
        }

    /*.customerGridSettings .CustKeyName {
        width: 35%;
    }
         .customerGridSettings .CustColumnGroup {
            width: 15%;
        }
    .customerGridSettings .orderby {
        width: 10%;
    }

    .customerGridSettings .IsView {
        width: 15%;
    }*/

    .instructions {
        color: #5f5b5b;
        font-size: 14px;
        font-style: italic;
    }
    .customerGridSettings {
    table-layout:fixed;
    }
    .customerGridSettings, .customerTabSettings {
        width: 100%;
    }
    .customerGroupGridSettings tr td {
        text-align: center;
    }

    .customerGroupGridSettings th {
        background-color: #e4e4e4;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .customerGroupGridSettings tr {
        cursor: move;
    }

        .customerGroupGridSettings tr:hover {
            background-color: #ccc;
        }

    .customerGroupGridSettings .CustGroupKeyName {
        width: 50%;
    }
   .customerGroupGridSettings .CustGroupColumnGroup {
            width: 15%;
        }
    .customerGroupGridSettings .orderby {
        width: 25%;
    }

    .customerGroupGridSettings .IsView {
        width: 25%;
    }
     .customerGroupGridSettings {
        width: 100%;
    }

    .instructions-container-div {
        padding-top: 30px;
    }
    .cust_ui_set_container {
        width:100%;
        float:left;
    }
#CustomerUiSettingsTab,
#UiSettingsTab,
#EquipmentUiSettingsTab,
#LeftMenuUiSettingsTab {
    width: 100%;
    float: left;
    overflow: auto;
}
        .cust_ui_set_container .customerGridSettings thead tr .c_head {
            width: 20px;
        }

        .cust_ui_set_container .customerGridSettings thead tr .c1 {
            width: 58px;
        }

        .cust_ui_set_container .customerGridSettings thead tr .c2 {
            width: 10%;
        }

.settings_border {
    border-left: 1px solid #ccc;
}

  



      .InventoryGridSettings tr td {
        text-align: center;
    }

    .InventoryGridSettings th {
        background-color: #e4e4e4;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .InventoryGridSettings tr {
        cursor: move;
    }

        .InventoryGridSettings tr:hover {
            background-color: #f4f5f8;
        }

    .InventoryGridSettings .KeyName {
        width: 35%;
    }

    .InventoryGridSettings .ColumnGroup {
        width: 15%;
    }

    .InventoryGridSettings .orderby {
        width: 10%;
    }

    .InventoryGridSettings .IsView {
        width: 15%;
    }

    .instructions {
        color: #5f5b5b;
        font-size: 14px;
        font-style: italic;
    }

    .InventoryGridSettings {
        width: 100%;
        float:left;
    }

    .instructions-container-div {
        padding-top: 30px;
        width:100%;
        float:left;
    }

    /*//group*/
    .InventoryGroupGridSettings{
        width:100%;
    }
    .InventoryGroupGridSettings tr td {
        text-align: center;
    }

    .InventoryGroupGridSettings th {
        background-color: #e4e4e4;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .InventoryGroupGridSettings tr {
        cursor: move;
    }

        .InventoryGroupGridSettings tr:hover {
            background-color: #ccc;
        }

    .InventoryGroupGridSettings .KeyName {
        width: 35%;
    }

    .InventoryGroupGridSettings .ColumnGroup {
        width: 15%;
    }

    .InventoryGroupGridSettings .orderby {
        width: 10%;
    }

    .InventoryGroupGridSettings .IsView {
        width: 15%;
    }

     @media (max-width:1250px) {
        .customerUiSettingPartial_container {
            overflow-x:scroll;
        }
    }
    


      @media (max-width:414px) {
        .customerUiSettingPartial_container {
            overflow-x:scroll;
        }
    }