 .customerGridSettings tr td{
        text-align:center;
    }
    .customerGridSettings th{
        background-color: #e4e4e4;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    .customerGridSettings tr{
        cursor:move;
    }
    .customerGridSettings tr:hover{
        background-color:#ccc;
    }
    .customerGridSettings .KeyName{
        width:120px;
    }
    .customerGridSettings .orderby{
        width:105px;
    }
    .customerGridSettings .IsView{
        width:70px;
    }
    .instructions{
        color:#5f5b5b;
        font-size:14px;
        font-style:italic;
    }
    .customerGridSettings{
        width:100%;
    }
     .instructions-container-div{
        padding-top : 30px;
    }