.localize_resource_container {
    width:100%;
    float:left;
    padding:5px 20px;
}
.localize_resource_container .detail-contents {
    width:100%;
    float:left;
}
.localize_resource_container .tab_Content_customer_items {
    width:100%;
    float:left;
    border:1px solid #ccc;
    border-top:0px;
}
.localize_resource_container .tab_Content_customer_items .SearchBarDiv {
     width: 100%;
    float: left;
    padding: 15px 0px 0px;
}
 .localize_resource_container .tab_Content_customer_items .SearchBarDiv .col-md-8 {
     text-align:right;
 }
 .localize_resource_container .tab_Content_customer_items .SearchBarDiv  button {
     background-color:#2ca01c;
     color:#fff;
     border:1px solid #2ca01c;
 }

  .localize_resource_container .tab_Content_customer_items .SearchBarDiv button:hover,
  .localize_resource_container .tab_Content_customer_items .SearchBarDiv button:focus {
    outline:none;
    border:1px solid #2ca01c;
 }
  .localize_resource_container .tab_Content_customer_items .SearchBarDiv .col-md-4 .input-group {
      width:350px;
  }
  .localize_resource_container .tab_Content_customer_items .SearchBarDiv .col-md-4 .input-group input {
      box-shadow:none;
  }
  .localize_resource_container .paginationContainer {
      margin-right:20px;
  }
.localize_resource_header {
    width:100%;
    float:left;
    text-align:left;
    font-size:30px;
    padding-bottom: 5px;
}
.show_resource_table_container {
    width:100%;
    float:left;
    padding:10px 20px;

}
.show_resource_table {
    width:100%;
    float:left;
}
.show_resource_table thead tr {
    border-bottom:2px solid #ddd;
}
.show_resource_table thead tr th {
    font-weight:bold;
}
.show_resource_table thead tr th:nth-child(1) {
    width:220px;
}
.show_resource_table thead tr th:nth-child(3) {
    width:100px;
}
.show_resource_table tbody tr {
    border-bottom:1px solid #ddd;
}
.show_resource_table tbody tr:nth-child(odd) {
    background-color:#f8f8f8;
}
/*.show_resource_table tbody tr:nth-child(odd) input {
    background-color: #f9f9f9;
    border: 1px solid darkgrey;
}*/
.show_resource_table tbody tr:hover {
    background-color:#f4f5f8;
}
.show_resource_table thead tr th,
 .show_resource_table tbody tr td {
    padding:5px 10px;
}
.show_resource_table tbody tr td:nth-child(3) button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 6px 12px;
    color:#000;
}
.show_resource_table tbody tr td:nth-child(3) button:focus {
    outline:none;
    border: 1px solid #ddd;
}
.show_resource_table tbody tr td:nth-child(3) button:hover {
    background-color: #2ca01c;
    border: 1px solid #2ca01c;
    color:#fff;
}
.show_resource_table tbody tr td div:nth-child(1) {
    display:none;
}
@media (max-width:414px) {
    .localize_resource_container {
        padding:5px;
    }
    .localize_resource_container .nav>li>a {
    padding: 5px 10px;
}
     .localize_resource_container .tab_Content_customer_items .SearchBarDiv .col-md-4 .input-group {
      width:100%;
  }
     .localize_resource_container .tab_Content_customer_items .SearchBarDiv {
         padding:5px 0px 0px;
     }
     .localize_resource_header {
         font-size:20px;
         padding-bottom:3px;
     }
     .tab_Content_customer_items .SearchBarDiv .col-md-4,
     .tab_Content_customer_items .SearchBarDiv .col-md-8 {
         padding:0px 5px;
     }
      .tab_Content_customer_items .SearchBarDiv .col-md-8 {
          margin-top:5px;
      }
      .show_resource_table_container {
          padding:5px;
      }
      .show_resource_table thead {
          display:none;
      }
      .show_resource_table tbody tr td {
          width:100%;
          float:left;
          padding:0px 5px;
      }
       .show_resource_table tbody tr td div:nth-child(1) {
           display:block;
          width:40%;
          float:left;
          padding: 5px 0px;
          font-weight:bold;
      }
       .show_resource_table tbody tr td div:nth-child(2) {
          width:60%;
          float:left;
          padding: 5px 0px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
}