.lookup_setup_container {
    width: 100%;
    float: left;
    padding: 5px 15px;
}

.lookup_setup_header {
    width: auto;
    float: left;
    font-size: 30px;
}

.LookupEditContainer {
    width: 100%;
    float: left;
    padding: 10px 0px;
}

.width-30p {
    width: 40%;
    float: left;
}

.width-70p {
    width: 60%;
    float: left;
}

.DataKeyItem {
    cursor: pointer;
    padding: 5px;
}

    .DataKeyItem:hover,
    .DataKeyList .DataKeyItem:nth-child(odd):hover {
        background-color: #eaeaea;
    }

.DataKeyList {
    border: 1px solid #ccc;
    padding: 10px;
    height: 550px;
    position: relative;
    overflow-y: scroll;
}

    .DataKeyList .DataKeyItem:nth-child(odd) {
        background-color: #f4f5f8;
    }

.active_data, .active_data:hover {
    background-color: #9E9E9E !important;
    color: white !important;
}
.margin-left-5 {
    margin-left: 5px;
}