    .nav-tabs {
        width:100%;
    }

    .nav-tabs > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }
    .nav-tabs > li {
        border: 1px solid #ccc !important;
        cursor:pointer;
        text-align:center;
    }
        .nav-tabs > li.active {
            background-color: #2ca01c !important;
        }

    .nav-tabs > li {
        border: 1px solid #ccc !important;
    }

    .nav-tabs > li.active > a {
         color: white !important;
            
    }
    .tab-content {
        width:100%;
    }
     .container-fluid {
         overflow-x:hidden;
     }
     .top_settings {
         margin-top:0px;
     }
     @media (max-width: 768px){
          .top_settings {
         margin-top:auto;
     }
 .setup_details_container .nav-tabs > li {
            width: auto;
            font-size:14px;
        }
        .nav-tabs > li {
            width: 33%;
            font-size:14px;
        }
        .top_settings {
            margin-top:6px;
        }

}
    @media (max-width: 414px){
        .setup_details_container .nav-tabs  li {
    width: 50%;
    font-size: 13px !important;
}
        .setup_details_container .nav-tabs  li a {
            padding:10px 0px;
        }
        .top_settings {
            margin-top:22px;
        }
        
        .nav-tabs > li {
            width: 33%;
            font-size:13px !important;
        }

}
@media (max-width: 375px) {
     .top_settings {
            font-size:20px;
        }
   
}

