
    .sub-header {
        font-size: 15px;
        font-weight: 600;
        background: #cfcfcf;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 5px;
        margin-bottom:5px;
    }
    .customer_alarm_tab {
        width:100%;
        float:left;
        overflow-y:scroll;
    }
    .setup_customer_alarm {
        width:100%;
        float:left;
        padding:15px;
        border-top:1px solid #ccc;
    }
    .login_name_div{
        padding-top:20px;
        padding-bottom:20px;
    }
    .login_info_container,.customer_info_container{
        padding-bottom:20px;
    }
    .CoverageSummary{
        padding-bottom:20px;
    }
    .Included_features_item {
        width: 33%;
        float: left;
        padding:5px 10px;
    }
    table.CoverageSummaryTable th {
        text-align: center;
    }
    table.CoverageSummaryTable{
        text-align:center;
        width:100%;
        margin-bottom:15px;
    }
    table.CoverageSummaryTable tr {
        border-bottom: 1px solid #ccc;
    }
    .italic_comment{
        font-size: 10px;
        display: inherit;
        font-style: italic;
        color: #908d8d;
    }
    .create_customer_header{
        text-align: left;
        padding-top: 10px;
        color: white;
        background: #2ca01c ;
        padding-bottom: 10px;
        font-size: 20px;
        position:relative;
        padding-left: 15px;
    }
     .create_customer_header_alarm{
        text-align: left;
        padding-top: 10px;
        padding-left:15px;
        color: white;
        background: #2ca01c ;
        padding-bottom: 10px;
        font-size: 20px;
        position:relative;
    }
    .add_to_alarm_btn_div{
        text-align:right;
    }
    .phone_line_present_div{
        padding-top:25px;
        padding-right:10px;
    }

    .add_alarm_customer_content_label {
        font-weight: 600;
        color: #615b5b;
        font-size: 14px;
        -webkit-tap-highlight-color: transparent;
    }
    .setup_customer_alarm select {
        border-radius:0px;
        box-shadow:none;
    }
    .setup_customer_alarm select:focus {
        outline:none;
        border:1px solid #ccc;
        box-shadow:none;
    }
    .close-div {
        display:none;
    }
    .add_alarm_customer_info .form-group {
        width:24%;
        float:left;
        margin-right:5px;
    }
    .aac_sys_info .form-group,
    .Monitoring_Station_Forwarding .form-group,
    .Receiver_Information .form-group,
    .System_info .form-group {
        width:33%;
        float:left;
        margin-right:5px;
    }
    
    .close_div_custom {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 8px;
    cursor: pointer;
    margin-right: 7px;
    }

     #Zode_Addition{
         margin-right:15px;
         float:right;
     }
    
    .add_ucc_cust_inner_info_top .form-group {
        width:50%;
        float:left;
        padding:0px 15px;
    }
    .add_ucc_cust_inner {
        width:100%;
        float:left;
            padding:15px;
            overflow-x: hidden;
    overflow-y: auto;
    }
   
    .add_ucc_cust_inner_info .form-group {
        width:33.333%;
        float:left;
        padding:0px 15px;
    }
    .setup_customer_alarm button {
        background-color:#2ca01c;
        color:#fff;
    }
    .add_ucc_check .label-cbx .checkbox {
    top: 14px;
    margin-right: 3px;
}
    .add_alarm_customer_footer {
        width:100%;
        float:left;
        border-top:2px solid #ccc;
        padding:10px 15px;
        text-align:right;
    }
    .add_alarm_customer_footer button,
    .add_alarm_customer_footer button:hover,
    .add_alarm_customer_footer button:focus {
        background-color:#2ca01c;
        color:#fff;
    }
    .add_ucc_sec_zone_table {
        width:100%;
        float:left;
        padding:0px 15px;
    }
   
    @media (max-width:414px) {
        .add_ucc_cust_inner_info_top .form-group,
         .add_ucc_cust_inner_info .form-group {
            width:100%;
            float:left;
        }
    }