.add_brinks_acc_container {
    width:100%;
    float:left;
}
.border_brinks {
    border:1px solid #cfcfcf;
}
#Contact_Addition
{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.brinks_agencies_btn_div {
    width:100%;
    float:left;
    padding: 10px 15px;
}
.brinks_agencies_btn_div button,
.brinks_agencies_btn_div button {
    float:right;
    margin-left:10px;
}

.add_brinks_acc_header {
    width: 100%;
    float: left;
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 5px 15px;
    background-color: #2ca01c;
}
 .add_brinks_info_container {
        width: 100%;
        float: left;
        padding: 0px 15px 15px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
  .add_brinks_info_block {
        width:100%;
        float:left;
        background-color: #f4f5f8;
        margin: 10px 0px;
    }
  #Contactlist {
      width:100%;
      float:left;
  }
   .add_brinks_info_block_header{
         font-size: 15px;
        font-weight: 600;
        background: #cfcfcf;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
        word-spacing: 5px;
        letter-spacing: 1px;
    }
    .add_brinks_info_block_information {
        width:100%;
        float:left;
        padding: 10px 15px;
    }
    .add_brinks_info_block_information .form-group {
        width: 33%;
        float: left;
        padding-right: 5px;
        height:55px;
    }
    .add_brinks_info_block_information .aba_ct_type {
          width: 100% !important;
    }
    .add_brinks_info_block_information .form-group .aba_header {
        font-size: 13px;
    font-weight: 600;
    color: #615b5b;
    }
    .add_brinks_info_block_information .form-group .aba_header span {
        color:#d71920;
        margin-left: 3px;
    }
    .add_brinks_info_block_information .form-group .checkbox {
        margin-top:0px;
        margin-bottom:0px;
    }
    .add_brinks_info_block_information .form-group .label-cbx {
        width:95px;
        margin-top: 5px;
    }
    .aba_single_line_check .label-cbx {
        width:unset !important;
            margin-right: 10px;
    }
    .add_brinks_info_block_information .form-group .aba_check_info {
        font-weight:normal;
        cursor:pointer;
    }
     .add_brinks_footer {
           width: 100%;
    float: left;
    background-color: #fff;
    border-top: 2px solid #ccc;
    padding: 10px 15px;
    text-align: right;
    }
     .add_brinks_footer button,
      .add_brinks_footer button:hover,
      .add_brinks_footer button:focus {
         background-color:#2ca01c;
         color:#fff;
     }
     .aba_zone_list_table {
         width:100%;
         float:left;
         table-layout:fixed;
     }
     .aba_zone_list_table thead tr th,
     .aba_zone_list_table tbody tr td {
         padding:10px;
         border:1px solid #ccc;
     }
     .aba_zone_list_table thead tr th:nth-child(1) {
         width:140px;
     }
     .aba_sys_info_btn {
         width:100%;
         float:left;
     }
     .aba_sys_info_btn {
          width:100%;
         float:left;
         text-align:right;
     }
     .aba_sys_info_btn button {
         margin-left:10px;
     }