.survey_settings_partial_container {
    width:100%;
    float:left;
    padding: 5px 10px;
}
.survey_settings_header_container {
    width:100%;
    float:left;
}
.survey_settings_partial_header {
    width:100%;
    float:left;
        font-weight: 500;
    font-size: 30px;
}
#ShowEquipmentList {
     width:100%;
    float:left;
    padding:10px 0px;
}