.cust_term_container {
    width:100%;
    float:left;
}
.cust_term_header {
    width:100%;
    float:left;
    background-color:#f0f0f0;
    text-align:left;
    font-size:2.4rem;
    padding: 5px 20px;
}
.cust_term_inner {
    width: 100%;
    float: left;
    padding: 20px 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.termination_info {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}

.termination_info_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
.termination_info_div {
     width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 20px 10px;
}
.termination_info_div .form-group {
    width: 50%;
    float: left;
    padding:0px 20px;
    max-height: 70px;
}
.termination_info_div .form-group label {
    margin-bottom:0px;
}

.termination_info_bottom {
    width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 20px 30px;
}
.termination_info_bottom label {
    width: 100%;
    float: left;
     font-weight:normal;
    margin-bottom: 10px;
}
.termination_info_bottom .form-group {
    width: 25%;
    float: left;
    max-height: 70px;
}
.termination_info_bottom .form-group label {
    margin-bottom:0px;
    font-weight:bold;
}

.cust_term_footer {
     width:100%;
    float:left;
    padding: 5px 20px;
    text-align:right;
    border-top: 2px solid #ccc;
}
.cust_term_footer .btn {
    background-color:#d71920;
    color:#fff;
    border-color:#d71920;
    text-transform:uppercase;
}
.cust_term_footer .btn:hover,
.cust_term_footer .btn:focus {
     background-color:#d71920;
    color:#fff;
    border-color:#d71920;
}
@media(max-width:786px) {
    .termination_info_bottom .form-group {
        width:47%;
    }
}
@media(max-width:414px) {
    .cust_term_inner {
        padding:15px;
    }
    .termination_info_div {
        padding:10px;
    }
    .termination_info_div .form-group,
    .termination_info_bottom .form-group {
        width:100%;
        padding: 0px;
    }
    .termination_info_bottom {
        padding:0px;
    }
    .termination_info_bottom label {
        text-align:justify;
    }
}