.sews_container {
    width:100%;
    float:left;
}
.sews_header {
     width:100%;
    float:left;
    font-size: 2.4rem !important;
    padding: 5px 15px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
.sews_inner_height {
      width:100%;
    float:left;
    overflow-x:hidden;
    overflow-y:auto;
}
.sews_inner {
      width:100%;
    float:left;
     padding: 10px 15px;
}
.sews_content {
    width:100%;
    float:left;
    margin-bottom:15px;
}
.PGDetails {
    width:100%;
    float:left;
    border:1px solid #ccc;
    border-radius:4px;
    margin-bottom:15px;
}
.PGDetails_header {
    width: 100%;
    float: left;
    background-color: #f4f5f8;
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.PGDetails .form-group {
    width: 33.33%;
    float: left;
    padding: 0px 10px;
    position: relative;
    height: 60px;
}
    .PGDetails .form-group .aba_header {
        font-weight:bold;
        font-size:12px;
    }
    .sews_content_block {
        width: 100%;
        float: left;
    }
.sews_yes {
   color:#2ca01c;
   cursor:pointer;
}
.sews_no {
    margin-left:10px;
    color:#d71920;
    cursor:pointer;
}
.sews_footer {
     width:100%;
    float:left;
     padding: 10px 15px;
        background-color: #393a3d;
        text-align:right;
}
@media (max-width:414px) {
    .PGDetails .form-group {
        width: 100%;
       
    }
}
