
.estimator_container .EstPreview {
    display: none;
}
.estimator_container .EstimatePrintAndSend {
    border: 1px solid #2ca01c;
    color: white;
    background-color: #2ca01c;
}

.estimator_container #mceu_15-body,
.estimator_container #mceu_22-body,
.estimator_container #mceu_29-body,
.estimator_container .mce-menubar,
.estimator_container #mceu_54-body,
.estimator_container #mceu_61-body {
    display: none;
}


.estimator_container .C_S .input-group-prepend {
    width: 30%;
    float: left;
}

.estimator_container .C_S .input-group-text {
    padding-top: 5px;
    height: 32px;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.estimator_container .C_S.I_G > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.estimator_container .C_S.I_G > .txtTotalCost,
.estimator_container .C_S.I_G > .txtUnitCost,
.estimator_container .C_S.I_G > .txtOverhead,
.estimator_container .C_S.I_G > .txtProfit,
.estimator_container .C_S.I_G > .txtProfitRate,
.estimator_container .C_S.I_G > .txtOverheadRate,
.estimator_container .C_S.I_G > .txtTotalPrice {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 70%;
    float: left;
    margin-bottom: 0;
    display: block;
}
.C_S input:disabled {
    cursor: not-allowed;
    border: 1px solid #ccc !important;
}
.C_S.I_G {
    min-width:70px;
}
.estimatortable input.category::-webkit-calendar-picker-indicator,
.estimatortable input.supplier::-webkit-calendar-picker-indicator {
    display: none;
}

.estimatortable input.category,
.estimatortable input.supplier {
    background: url('../../Content/img/br_down.png') white no-repeat calc(100% - 10px) !important;
    cursor: pointer;
}

.estimatortable .tab_cat_sup {
    width: 13%;
}

.estimatortable .txtPartNumber,
.estimatortable .supplier,
.estimatortable .txtProductqty {
    margin-top: 4px;
}

.estimatortable tbody tr td:nth-child(7) .C_S {
    width: 100%;
    float: left;
    margin-top: 4px;
}

.estimator_container .AddNewEqp {
    padding: 10px 15px 5px 15px;
    color: #2ca01c;
    border-bottom: 1px solid #ccc;
}

    .estimator_container  .AddNewEqp:hover {
        text-decoration: underline;
    }

.estimator_container .OtherInfos .col-md-12 .estimate_calculation_div {
    width: 35% !important;
}

.estimator_container .OtherInfos .col-md-12 .estimate_description_container {
    width: 40% !important;
}

.estimator_container .OtherInfos .col-md-12 .estimate_middle_container {
    width: 25%;
    float: left;
    min-height: 30px;
}
.estimate_middle_container .estimate_middle_block label {
    margin-bottom: 0px;
}
.estimate_middle_container .estimate_middle_block {
    margin-bottom: 10px;
}
/*.estimatortable select,
.estimatortable input {
    border-radius: 0px !important;
    border: 1px solid #ced4da;
    margin-top: -1px;
}
.estimatortable .C_S.I_G input {
    margin-top: 0px !important;
}*/
.estimatortable .selManufacturer,
.estimatortable .selSupplier,
.estimatortable .selUnit {
    margin: 5px 0px;
}
/*.estimatortable .C_S.I_G .input-group-prepend,
.estimatortable .C_S.I_G input {
    margin: 2px 0px;
}*/
.estimator_parent .span-style {
    position: relative;
}
.LoadParentAddress {
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: -9px;
}
.estimator_footer .SaveaButtonsDiv {
    width: 35%;
}
.estimator_footer .InnerOptionsDiv {
    width: 15%;
}
.estimator_footer .cancelbtnDiv {
    width: 50%;
    float: left;
}
    .estimator_footer .cancelbtnDiv .text-custom {
        margin-right: 5px;
        color: #fff !important;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    .estimator_footer .cancelbtnDiv .form-group {
        display:flex;
        margin-bottom:0px;
    }
    .estimator_footer .cancelbtnDiv button {
        float: left;
        margin-right: 10px;
    }
    .estimatortable_footer {
        width: 100%;
        float: left;
        table-layout: fixed;
    }
.estimatortable_footer tr td {
   padding:10px;
   border:1px solid #ccc;
   float:left;
}
.estimator_container .profit-amount-div .col-xs-8 {
    width: 67%;
    padding: 0px;
}
.estimator_container .profit-amount-div .col-xs-4 {
    width: 105px;
    padding: 0px;
}

.estimator_container .tax_amount {
    font-size: 17px;
    border: 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 0px;
    width: 80px;
    text-align: right;
    font-weight: bold;
}
.estimatortable tbody td:nth-child(1) {
    text-align:center;
}
.estimator_container #taxType, 
.estimator_container #Estimator_ServicePlanType,
.estimator_container #ServicetaxType {
    float: right;
    width: auto !important;
}
.estimator_container #OneTimeServicetaxType {
    float: right;
    width: auto !important;
}
.estimator_container .add_estimate_dropdown_style {
    padding: 6px 30px 6px 6px;
}
.estimator_container .estimate_billing_info_div {
    margin-top:-10px;
}





.CustomerInvoiceTab {
    width: 100%;
    margin: 10px auto;
    table-layout: fixed;
}
.CustomerOneTimeServiceInvoiceTab {
    width: 100%;
    margin: 10px auto;
    table-layout: fixed;
}
.CustomerInvoice { 
    margin: 10px auto;
    table-layout: fixed;
}
.CustomerInvoiceTab tbody tr input {
    display: none;
    width: 100%;
    padding: 5px;
}
.CustomerOneTimeServiceInvoiceTab tbody tr input {
    display: none;
    width: 100%;
    padding: 5px;
}

.CustomerInvoice tbody tr input {
    display: none;
}

.CustomerInvoiceTab tbody tr span {
    display: block;
}
.CustomerOneTimeServiceInvoiceTab tbody tr span {
    display: block;
}
.CustomerInvoice tbody tr span {
    display: block;
}

.CustomerInvoiceTab tbody tr.focusedItem span {
display: none;
}
.CustomerOneTimeServiceInvoiceTab tbody tr.focusedItem span {
    display: none;
}
.CustomerInvoice tbody tr.focusedItem span {
    display: none;
}
    .CustomerInvoiceTab tbody tr td i.fa {
        cursor: pointer;
        font-size: 18px;
    }
.CustomerOneTimeServiceInvoiceTab tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
}
.CustomerInvoice tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
}
.CustomerInvoiceTab tbody tr td {
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.CustomerOneTimeServiceInvoiceTab tbody tr td {
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.CustomerInvoice tbody tr td {
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.est_create_po  {
    position:relative;
}
.est_create_po .POCreated_Message {
    color: #2ca01c;
    position: absolute;
    left: 117px;
    top: 1px;
    font-size: 18px;
}
.CustomerInvoiceTab thead tr th {
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    /*background-color: #ddd;*/
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.CustomerOneTimeServiceInvoiceTab thead tr th {
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    /*background-color: #ddd;*/
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.CustomerInvoice thead tr th {
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    /*background-color: #ddd;*/
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.CustomerInvoiceTab tbody tr.focusedItem input {
    display: block;
    border: 1px solid #2ca01c;
}
.CustomerOneTimeServiceInvoiceTab tbody tr.focusedItem input {
    display: block;
    border: 1px solid #2ca01c;
}
.CustomerInvoice tbody tr.focusedItem input {
    display: block;
    border: 1px solid #2ca01c;
}

.CustomerInvoiceTab tbody tr:hover {
    background-color: #f4f5f8;
    /*border-right: 2px solid #ffffff;*/
}
.CustomerOneTimeServiceInvoiceTab tbody tr:hover {
    background-color: #f4f5f8;
    /*border-right: 2px solid #ffffff;*/
}
.CustomerInvoice tbody tr:hover {
    background-color: #f4f5f8;
    /*border-right: 2px solid #ffffff;*/
}
.CustomerInvoiceTab tbody tr td:hover {
    cursor: pointer;
}
.CustomerOneTimeServiceInvoiceTab tbody tr td:hover {
    cursor: pointer;
}
.CustomerInvoice tbody tr td:hover {
    cursor: pointer;
}
.CustomerInvoiceTab tbody tr td:nth-child(3), .CustomerInvoiceTab tbody tr td:nth-child(4), .CustomerInvoiceTab tbody tr td:nth-child(5) {
    text-align: right;
}
.CustomerOneTimeServiceInvoiceTab tbody tr td:nth-child(3), .CustomerOneTimeServiceInvoiceTab tbody tr td:nth-child(4), .CustomerOneTimeServiceInvoiceTab tbody tr td:nth-child(5) {
    text-align: right;
}
.CustomerInvoice tbody tr td:nth-child(3), .CustomerInvoice tbody tr td:nth-child(4), .CustomerInvoice tbody tr td:nth-child(5) {
    text-align: right;
}

/*.CustomerInvoiceTab tbody td input {
    width: 100%;
    height:32px;
}*/
/*.CustomerInvoice tbody td input {
    width: 100%;
    height: 32px;
}*/
.CustomerInvoiceTab .tab-index{
    width:5%;
}
.CustomerOneTimeServiceInvoiceTab .tab-index {
    width: 5%;
}
.CustomerInvoice .tab-index {
    width: 5%;
}
.CustomerInvoiceTab .tab-Action {
    width: 65px;
}
.CustomerOneTimeServiceInvoiceTab .tab-Action {
    width: 65px;
}
.CustomerInvoiceTab .tab-Product, .CustomerInvoiceTab .tab-Desc {
    width: 45% !important;
}
.CustomerOneTimeServiceInvoiceTab .tab-Product, .CustomerOneTimeServiceInvoiceTab .tab-Desc {
    width: 45% !important;
}
.CustomerInvoice .tab-Product, .CustomerInvoice .tab-Desc {
    width: 45% !important;
}

.CustomerInvoiceTab .prod_equip {
}
.CustomerInvoice .prod_equip {
}
.CustomerInvoiceTab .prod_desc {
}
.CustomerInvoice .prod_desc {
}
.CustomerInvoiceTab tr td.tick_product_name {
    position: relative;
}

.CustomerOneTimeServiceInvoiceTab .prod_equip {
}

.CustomerInvoice .prod_equip {
}

.CustomerOneTimeServiceInvoiceTab .prod_desc {
}

.CustomerInvoice .prod_desc {
}

.CustomerOneTimeServiceInvoiceTab tr td.tick_product_name {
    position: relative;
}

.CustomerInvoice tr td.tick_product_name {
    position: relative;
}
.tableActions input {
    width: auto !important;
    float: left;
}
.tableActions i {
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    padding-top: 0px !important;
}