body {
    display: block;
    margin: 0px;
}
.estimator_filter_container {
    width:100%;
    float:left;
}
    .estimator_filter_container div {
        box-sizing:border-box;
    }
.estimator_filter_header {
    width: 100%;
    float: left;
    padding: 5px 15px;
    font-size: 24px;
    background-color: #2ca01c;
    color:#fff;
    border-bottom: 2px solid #ccc;
}
        .estimator_filter_header .CloseButtonDiv {
            width: 25px;
            float: right;
            padding-top: 4px;
        }
            .estimator_filter_header .CloseButtonDiv img {
                width: 25px;
                float: right;
            }
.estimator_filter_height {
    width: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 150px;
}
.estimator_filter_inner {
    width: 100%;
    float: left;
    padding:15px;
}
.est_filt_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
}
.est_filt_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
.est_filt_info {
    width: 100%;
    float: left;
    padding: 10px;
}
    .est_filt_info div {
        width: 33.333%;
        float: left;
        height: 30px;
        font-size: 15px;
    }

.estimator_filter_footer {
    width: 100%;
    float: left;
    background-color:#393a3d;
    padding: 5px 15px;
    border-top: 1px solid #ccc;
    text-align: right;
}
.estimator_filter_footer button {
    background-color:#2ca01c;
    color:#ffff;
    border:0px;
    border-radius:4px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    outline:0px;
    cursor:pointer;
}