.header-title {
    width: 50%;
    float: left;
}

.custom-title-span {
    line-height: 50px;
    font-size: 2rem;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.div-body-contents {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.wopi_left_right_pad {
    padding-left:0px;
    padding-right:0px;
}
.balance-info {
    width: 30%;
    float: right;
    text-align: center;
}

.invoice-info-left-70p {
    float: left;
    width: 70%;
}

.width-30p {
    float: left;
    width: 30%;
   
}

.width-25p {
    float: left;
    width: 25%;
   
}

.span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.amount-span-style {
    font-size: 3.8rem;
    height: 3.8rem;
}

.table-info {
    padding-left: 50px;
    padding-right: 50px;
}

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 15px;
}

    .table-body-td-style:hover {
        background-color: #ddd;
        cursor: pointer;
    }

.border-right-2pxddd {
    border-right: 2px solid #ddd;
}

.tr-style:hover {
    background-color: #ffffff;
}

.display-none {
    display: none;
}

.CustomerInvoiceTab {
    width: 100%;
}

    .CustomerInvoiceTab tbody tr input {
        display: none;
    }

    .CustomerInvoiceTab tbody tr span {
        display: block;
    }


    .CustomerInvoiceTab tbody tr.focusedItem span {
        display: none;
    }

    .CustomerInvoiceTab tbody tr td i.fa {
        cursor: pointer;
        font-size: 18px;
        padding-top: 10px;
    }

.tableActions {
    text-align: center;
}

.CustomerInvoiceTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.CustomerInvoiceTab thead tr th {
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.CustomerInvoiceTab tbody tr td:nth-child(3), .CustomerInvoiceTab tbody tr td:nth-child(4),.CustomerInvoiceTab tbody tr td:nth-child(5) {
    text-align:right;
}

.CustomerInvoiceTab tbody tr.focusedItem input {
    display: block;
    border: 1px solid #2ca01c;
}

.CustomerInvoiceTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}

.CustomerInvoiceTab tbody tr td:hover {
    cursor: pointer;
}



tbody td .tt-menu {
    background: white;
    min-width: 320px;
    font-size: 12px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    /*left: 9.5%;*/
    z-index: 100;
    display: none;
    width: 40%;
}

tbody td .tt-dataset-autocomplete {
    margin-top: -5px;
}

tbody td .tt-suggestion {
    min-height: 36px;
    display: block;
    padding: 10px 10px 9px 15px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}

tbody td .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

tbody td .tt-sug-text {
    width: 90%;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

tbody td .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

tbody td .tt-suggestion.active {
    background-color: #f2f2f2;
}

tbody td .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

tbody td .tt-sug-type {
    position: absolute;
    right: 17px;
    top: 11px;
    color: #999;
    font-style: italic;
}

tbody td .tt-eq-price {
    float: right;
}

.select2-container.select2-container--default.select2-container--open {
    z-index: 9999 !important;
}

.invoice-footer {
    background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
}

.InvoiceCancelButton, .InvoiceSaveButton {
    background-color: transparent;
}

.btnInv {
    color: white;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

    .btnInv:hover {
        background-color: #545558;
    }


.SaveAndSendBtn, .SaveOptionsBtn {
    background-color: #2ca01c;
    color: white !important;
    border: 1px solid #6b6c72 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

    .SaveAndSendBtn:hover, .SaveOptionsBtn:hover {
        background-color: #108000 !important;
        color: white !important;
    }

.cancelbtnDiv {
    padding-top: 8px;
    float: left;
}

.SaveaButtonsDiv {
    padding-top: 8px;
    float: left;
    text-align: right;
}

.InnerOptionsDiv {
    float: left;
    text-align: center;
    padding-top: 8px;
    color: white;
}

.Savemailbutton {
    padding-right: 10px;
    float: left;
    text-align: center;
    padding-top: 8px;
    color: white;
}

.div-style {
    float: right;
}

.InnerOptionsDiv a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btnAddLines, .btnAddSubtotal, .btnClearLines {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    min-width: initial;
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0 !important;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    border: 1px solid #8d9096;
    background: 0 0;
    color: #393a3d;
    font-weight: 200;
}

    .btnAddLines:hover, .btnAddSubtotal:hover, .btnClearLines:hover {
        background: #fff;
        color: #393a3d;
        box-shadow: 0 0 0 1px #8d9096;
    }

.InvoiceMessage {
    resize: none;
    width: 345px;
}

.txtProductQuantity {
    height: 32px;
}

.InvoiceCalculationsDiv {
    margin: 20px;
    float: right;
    width: 20%;
}

.text_bold {
    font-weight: bold;
    font-size: 14px;
    width: 70%;
    float: left;
    padding: 5px 0px;
    text-align: right;
}

.text_normal {
      float: left;
    width: 27%;
    padding: 5px 25px 0px 0px;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
}

.total_text_norm {
    font-size: 20px;
}

.tax_dropdown {
    width:120px; 
    float:right;
}


.CustomerInvoiceTab tbody td input {
    width: 100%;
}

.CustomerInvoiceTab .tab-index, .CustomerInvoiceTab .tab-Action {
    width: 1%;
}

.CustomerInvoiceTab .tab-Product, .CustomerInvoiceTab .tab-Desc {
    width: 30%;
}

.CustomerInvoiceTab .tab-Quantity, .CustomerInvoiceTab .tab-Rate, .CustomerInvoiceTab .tab-Amount {
    width: 10%;
}

.SaveaButtonsDiv ul.dropdown-menu li {
    cursor: pointer;
}

.page-installation-title {
    padding-left: 15px;
    border-bottom: 2px solid #ddd;
}

.custom-h1 {
    font-size: 24px;
    font-weight: 600;
}

 .job-complete-title {
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }
    .InvoiceCalculationsDiv1{
        width:35% !important;
    }
    .amount{
        color:#333 !important;
    }
    .addPickdayForZone {
        width: 32% !important;
    }

    .custom-label-static {
     font-weight: 600 !important;
    color: #615b5b !important;
    font-size: 14px !important;
    padding-top:5px;
    }

.custom-label-data {
           /* width: 68%; */
    font-weight: 500;
    /* float: right; */
    padding-top: 5px;
    word-break: break-word;
    }

.label-container-div {
    padding-top: 5px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
    min-height:50px;
}

.custom-h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #dedede;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.custom-form-control-name {
    display: inline-block !important;
    /*width: 69% !important;
    float: right;*/
}


    .appointment-dat-style {
        display: inline-block !important;
        width: 20% !important;
    }


 .appointment-Time-style {
        display: inline-block !important;
        /*width: 22% !important;*/
    }

 .cus-note {
        float: right;
        margin-top: 5px;
        height: 90px !important;
        resize:none;
    }

.main-container {
        padding-right: 0;
        padding-left: 0;
        
    }

.service-not {
    height: 82px !important;
}

.select2-container {
    width: 100% !important;
}
   .scroll-body {
        overflow-y: auto;
        max-height: 92vh;
        overflow-x: hidden;
        margin: 0;
        /*overflow-x:hidden;*/
    }

    .h2-style {
        padding-left: 15px;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 2px solid #ddd;
    }

    

    .btnInstaller {
        color: white;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(107, 108, 114);
        background-color: rgba(51, 51, 51, 0.5);
        border-image: initial;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    }

    .btnEmail {
        color: white;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
        padding-right: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(107, 108, 114);
        background-color: rgba(51, 51, 51, 0.5);
        border-image: initial;
         -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    }

    .btnInstaller:hover {
        background-color: #545558;
    }

    .complete-task-btn-container {
        position: absolute;
        right: 50px;
        top: 3px;
        z-index:11;
    }



    .date_style {
        margin-right:0px !important;
    }
    
    .date_label {
       float:left;
    }
    .date_things_container {
float:right;
width:69%;
    }
    .date_things {
        width:32%;
        float:left;
        margin-right:2%;
    }
    .header_top {
        width:100%;
    }
    .job_complete_div {
    float: left;
    width: 40%;
    margin-left: 15px;
    }
    .installer_div {
        margin-left:10px;
        float:right;
        width:40%;
    }
   .new_pad {
       padding:60px !important;
   }
    /*css form me*/
    /*css form me*/

    .divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.manual_width {
    width:25%;
}
.installer_style {
    text-align:right;
}
.installer_size {
    width:25%;
}
.head_style {
    width: 107%;
    border-bottom: 2px solid #ddd;
    margin-bottom: 13px;
    background-color: #ddd;
    margin-left: -45px;
    padding-top: 8px;
    padding-bottom: -20px;
    height: 51px;
}
.custom_table_style {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.footer_style {
    margin-left:-60px;
}
 /*css form me*/
 /*css form me*/
 .btn_custom_style {
    color: white;
    border: 1px solid #6b6c72;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
 }
 .pi_work_order_div_header {
    border-bottom: 1px solid #ccc;
}

.pi_header_title {
       width: 100%;
    float: left;
    text-align: left;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
    position: absolute;
    z-index: 10;
}

.pi_custom_title_span {
    line-height: 50px;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}
.pi_info_container {
    padding-top: 40px;
    background-color: #f4f5f8;
    padding-bottom:15px;
}
 .type-style{
           color: #393a3d;
    display: table;
    width: 100%;
    background-color: #dedede;
    float: left;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0px;
    }
   .add-installtype{
  /*padding:0px 30px;*/
    }
    .text-span{
      font-weight: 600 !important;
    color: #615b5b !important;
    font-size: 14px !important;
    padding-top:5px;
    }
    .wo_left_pad {
        /*padding-left:0px;*/
        padding-top: 10px;
    }
     .wo_right_pad {
        /*padding-right:0px;*/
        padding-top: 10px;
    }
     .type_style_installed {
    color: #393a3d;
    display: table;
    width: 100%;
    float: left;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 5px 0px;
    margin: 0px 0px 0px 15px;
     }
