.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 350px;
    height: 100%;
}

.modal.right .modal-content {
    height: 100%;
}

.modal.right .modal-body {
    padding: 0px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal-content {
     -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.modal-header {
    border-bottom: none;
    position: absolute;
    right: 0px;
    z-index: 999;
}

    .modal-header h3 {
        padding-top: 6px;
        padding-left: 12px;
        font-family: 'Open Sans', sans-serif;
    }

.btn-sale {
    float: right;
    margin-top: 15px;
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    font-weight: 600;
}

    .btn-sale:hover {
        background-color: #2ca01c;
        color: #ffffff;
        border: 1px solid #2ca01c;
    }

.SalesAppoinmentCalender table tr td span {
    cursor: pointer;
}

.SalesAppoinmentCalender {
    padding-top: 10px;
}

#tblWorkorder {
    width: 100%;
}

.flase-status {
    color: red;
    font-weight: 600;
}

.true-status {
    color: green;
    font-weight: 600;
}

.cus-anchor {
    color: #2ca01c !important;
}
.table-head-border {
    border-bottom: 2px solid #d4d7dc;
}
.work_order_partial_table {
    /*margin:0px -13px;*/
}
.work_order_partial_table > tbody > tr:hover, .work_order_partial_table > tbody > tr > td:hover {
    background-color:#f4f5f8;
}
.work_order_partial_table > thead > tr > th {
   padding-left:15px !important;
}
 .Work_order_device_header {
        display:none;
    }
  #tblWorkorder > tbody > tr:nth-child(even) {background-color:#ededed;}

@media(width:1024px) {
     #tblWorkorder > thead > tr > th {
        text-align:center;
    }
      #tblWorkorder > thead > tr > th:nth-child(1) {
        width:20% !important;
    }
        #tblWorkorder > thead > tr > th:nth-child(2) {
        width:18% !important;
    }
       #tblWorkorder > thead > tr > th:nth-child(4) {
        width:10% !important;
    }
        #tblWorkorder > thead > tr > th:nth-child(3) {
        width:15% !important;
    }
         #tblWorkorder > tbody > tr > td:nth-child(2),
         #tblWorkorder > tbody > tr > td:nth-child(4) 
         {
       text-align:center;
    }
}
 @media(max-width:768px) {
      #tblWorkorder {
          margin-left:15px;
      }
    .Work_order_hide_for_device {
        display:none;
    }
    .Work_order_device_header {
        display:block;
        width:40%;
        float:left;
        font-weight:600;
         padding-left:10px;
    }
    .Work_order_device_info {
        width:60%;
        float:left;
    }

    .Work_order_device_row {
         width:100%;
        float:left;
    }
}