@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/PackageSettings/LoadPacakageOptionalSettingsPartial.css" rel="stylesheet" />
<script src="~/Content/Js/PackageSetup/LoadPackageComission.js"></script>
<style>

</style>
<div>

    <div class="custom-padding-20px">

    </div>

    <div>
        <button class="btn add-package-optional" id="add-package-comission" type="button">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
        </button>
    </div>

    <div class="company-package-comission-div">

    </div>


</div>






