@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script src="~/Content/Js/PackageSetup/LoadSmartPackageIncludeSettingsPartial.js"></script>
<link href="~/Content/Css/PackageSettings/LoadPackageIncludeSettingsPartial.css" rel="stylesheet" />

<div>

    <div class="custom-padding-20px">

    </div>

    <div>
        <button class="btn add-package-include-products" id="add-Package-include-products" type="button">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
        </button>
    </div>

    <div class="company-package-include-products-list-div">

    </div>

</div>


