
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
@using AppConfig = HS.Framework.Utils.AppConfig;
 
<link href="~/Content/Css/PackageSettings/LoadPackageIncludeSettingsPartial.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $(".LoaderWorkingDiv").hide();

        $("#add-Package-install-type").click(function () {
            OpenRightToLeftModal("@(AppConfig.DomainSitePath)/SmartPackageSetup/AddCompanyPackageSmartInstallTypePartial/?Id=0");
        });

        $(".company-package-install-type-list-div").load("@(AppConfig.DomainSitePath)/SmartPackageSetup/CompanyPackageInstallTypeListPartial");
    })
</script>
<div>

    <div class="custom-padding-20px">

    </div>

    <div>
        <button class="btn add-package-include-products" id="add-Package-install-type" type="button">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
        </button>
    </div>

    <div class="company-package-install-type-list-div">

    </div>

</div>


