@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<link href="~/Content/Css/PackageSettings/LoadPackageSettingsPartial.css" rel="stylesheet" />
<script src="~/Content/Js/PackageSetup/LoadSmartPackageSettingsPartial.js"></script>
<div class="company_smp_container">
    <div class="company_smp_top_bar">
        <div class="package_filter_div">
            <input class="form-control" type="text" id="PackageSearch" placeholder="Search By Name, System Type, Install Type, Activation Fee" />
            <div class="input-group add-on">
                <select class="form-control" id="packageStatus" name="packageStatus">
                    <option value="-1">All</option>
                    <option value="True">Active</option>
                    <option value="False">Inactive</option>
                </select>
                <div class="input-group-btn"><button class="btn search_package_btn green_button" id="btnsearchtext" onclick="NavigatePageListing();" title="@Localize.T("Search")"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
        </div>
        
       
            <button class="btn add-package" id="add-Package" type="button">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
            </button>
       
    </div>

    <div class="company-packagelist-div">

    </div>


</div>

