@using Localize = HS.Web.UI.Helper.LanguageHelper
@{
    Layout = null;
}
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
<script>
    //var NewWorkOrderLoad = function (date, month, year) {
    //    OpenRightToLeftModal("/WorkOrder/AddWorkOrder?id=0&customerid=" + customerId + "&Date=" + date + "&Month=" + month + "&Year=" + year)
        
    //}

    $(document).ready(function () {
        parent.$('.close').click(function () {
            parent.$(".modal-body").html('');
        })
        $(".AddWorkOrder_btn").click(function () {
            OpenRightToLeftModal(domainurl + "/WorkOrder/AddWorkOrder?id=0&customerid=" + CustomerLoadId);
        });
        //$(".WorkOrderAppoinmentCalender").load("/Customer/CustomerAppoinments/?Id=" + customerId + "&Parent=WorkOrderAppoinmentCalender");

    })
</script>
<style>
    .btn-work{
        background-color: #2ca01c;
        color: #ffffff !important;
        float:right;
    }
</style>
<div class="header-section-wrap">
    <div class="container-fluid">
        <div class="header-section">
            <div class="row">
                <div class="col-md-6">
                    @*<h3 class="txt-header">@Localize.T("Work Order Appoinment")</h3>*@
                </div>
                <div class="col-md-6 col-custom-sale">
                    @if (PermissionChekcer.IsPermitted(Permissions.CustomerPermissions.CustomerWorkOrderAdd))
                    {
                        <button class="btn btn-primary btn-work AddWorkOrder_btn" @*id="AddWorkOrder"*@ type="button">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> @Localize.T(" New")
                        </button>
                    } 
                </div>
            </div>
            <div class="Schedule-popup">
                <div class="modal right fade" id="workorder-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div id="NewWorkOrder">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="WorkOrderAppoinmentCalender">


        </div>*@
        @*<div id='WorkOrderAppoinmentCalender' class="WorkOrderAppoinmentCalender"></div>*@
    </div>
    @*<div class="hidden">
        <button class="Left-Modal-Open" data-toggle="modal" data-target="#workorder-modal"></button>
    </div>*@
</div>
