
.txt-design {
    width:100%;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
    background-color: #f4f5f8;
    padding: 10px 0px 10px 20px;
}
.add_service_order_container {
    width:100%;
    padding:0px 15px;
}
.txt-form {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    display: block;
}
.select_search {
    padding:6px 14px;
}
.aso_top_margin {
    margin-top:10px;
}
#Notes {
    resize:none;
}
.border1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

.btn-sales {
    background-color: rgba(0, 128, 0, 0.85);
    color: white;
    float: right;
}

    .btn-sales:hover {
        color: white;
        background-color: rgba(0, 128, 0, 0.85);
    }

.drop-control {
    padding-top: 30px;
}

.item-check {
    height: 40px;
    width: 20px;
}

.col-check {
    padding-top: 25px;
}

.date-control {
    padding-top: 25px;
    padding-right: 70px;
}

.txt-arrival {
    margin-top: 30px;
}

.txt-drop {
    margin-top: 16px;
}



.ftxt-drop {
    margin-top: 7px;
}

.txt-form-change {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    display: block;
    padding-top: 10px;
}

.form-group {
    padding: 0px 20px;
}

.txt-border {
    margin-bottom: 3px;
}

input[type=text] {
    width: 90%;
    padding: 5px;
    margin: 2px 0;
    box-sizing: border-box;
}

.txt-format {
    margin-left: 30px;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    box-sizing: border-box;
}

.txt-format-time {
    margin-left: 30px;
    width: 40%;
}

.aso_span {
    color: #404040;
    font-weight: 600;
    display: block;
}
