@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/Css/Inventory/PurchaseOrderPartial.css" rel="stylesheet" />
<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var OpenDOById = function (DOId) {
        OpenTopToBottomModal("/PurchaseOrder/AddDemandOrder/?Id=" + DOId + "&OpenTab=Ware");
    }
    var DOListLoad = function (pageNo, order) {
        if (typeof (pageNo) != "undefined") {
            var LoadUrl = "/PurchaseOrder/BranchDemandOrderList/?SearchText=" + encodeURI($(".DoSearchText").val())
                + "&PageNo=" + pageNo + "&order=" + order;
            $(".DemandOrderTable").html(TabsLoaderText);
            $(".DemandOrderTable").load(LoadUrl);
        }
    }
    var CompleteDoFunc = function (DOID) {
        OpenTopToBottomModal("/PurchaseOrder/OpenDemandOrderBranch/?DOId=" + DOID);
    }
    $(document).ready(function () {
        $("#btnsearchtextDO").click(function () {
            DOListLoad(1, null);
        });
        $(".DoSearchText").keydown(function (e) {
            if (e.which == 13) {
                DOListLoad(1, null);
            }
        });
        DOListLoad(1, null);
    });
</script>

<div class="purchase_order_partial_container">
    <div class="purchase_order_partial_search_add">

        <div class="input-group add-on">
            <input class="form-control DoSearchText" type="text" placeholder="Search" />

            <div class="input-group-btn"><button class="btn search_PO_btn" id="btnsearchtextDO"><i class="glyphicon glyphicon-search"></i></button></div>
        </div>
    </div>
    <div class="DemandOrderTable">

    </div>
</div>



