
<link href="~/Content/Css/Inventory/BadInventoryPartial.css" rel="stylesheet" />

<script>
    var TabsLoaderText = "<div class='invoice-loader'><div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div></div>";
    var BIListLoad = function (pageNo, order) {
        var searchtext = $(".BISearchText").val();
        if (typeof (pageNo) != "undefined") {
            var LoadUrl = domainurl + "/PurchaseOrder/BadInventoryListPartial/?PageNo=" + pageNo + "&SearchText=" + encodeURI(searchtext) + "&order=" + order;
            + "&PageNo=" + pageNo + "&order=" + order;
            $(".BadInventoryTable").html(TabsLoaderText);
            $(".BadInventoryTable").load(LoadUrl);
        }
    }
    $(document).ready(function () {
        $("#AddNewBI").click(function () {
            OpenRightToLeftLgModal(domainurl + "/PurchaseOrder/AddBadInventory?id=0");
        });
        $("#Techbtnsearchtext").click(function () {
            BIListLoad(1, null);
        });
        $(".BISearchText").keydown(function (e) {
            if (e.which == 13) {
                BIListLoad(1, null);
            }
        });
        BIListLoad(1, null);
    });
</script>

<div class="bad_inventory_partial_container">
    <div class="bad_inventory_partial_search_div">
        <div class="input-group add-on">
            <input class="form-control BISearchText" type="text" placeholder="Search" />
            <div class="input-group-btn">
                <button class="btn search_BI_btn green_button" id="Techbtnsearchtext" title="Search"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        <button class="btn btnBI" id="AddNewBI"><i class="fa fa-plus"></i> New</button>
    </div>
    <div class="BadInventoryTable">

    </div>
</div>
