
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<html>
<head>
    @Styles.Render("~/styles/GetInvoice")
    <script src="~/Content/Js/Login/domainurl.js"></script>
    <script src="~/Content/Jquery-ui/jquery.js"></script>
    <script>
        var purchaseid = '@ViewBag.purchaseid';
        String.prototype.replaceAll = function (search, replacement) {
            var target = this;
            return target.split(search).join(replacement);
        };
        var printFrame = function(id) {
            var frm = document.getElementById(id).contentWindow;
            frm.focus();// focus on contentWindow is needed on some ie versions
            frm.print();
            return false;
        }

        var GetPreview = function () {
            var url = domainurl + "/PurchaseOrder/GetPurchaseOrderPdf";
            var DetailList = [];
            parent.$(".HasItem").each(function (e, item) {
                DetailList.push({
                    PurchaseOrderId: parent.$("#PurchaseOrderWareHouse_PurchaseOrderId").val(),
                    EquipmentId: $(item).attr('data-id'),
                    EquipName: $(item).find('.ProductName').val(),
                    EquipDetail: $(item).find('.txtProductDesc').val(),
                    Quantity: $(item).find('.txtProductQuantity').val(),
                    UnitPrice: $(item).find('.txtProductRate').val().trim().replaceAll(',', ''),
                    TotalPrice: ($(item).find('.txtProductQuantity').val() * parseFloat($(this).find('.txtProductRate').val().trim().replaceAll(',', ''))).toString(),
                    CreatedDate: '1-1-2017',
                });
            });
            var param = {
                "PurchaseOrderWareHouse.Id": parent.$("#PurchaseOrderWareHouse_Id").val(),
                "PurchaseOrderWareHouse.PurchaseOrderId": parent.$("#PurchaseOrderWareHouse_PurchaseOrderId").val(),
                "PurchaseOrderWareHouse.SuplierId": parent.SupplierId,
                "PurchaseOrderWareHouse.SoldBy": parent.$("#PurchaseOrderWareHouse_SoldBy").val(),
                "PurchaseOrderWareHouse.Amount": parent.Amount,
                "PurchaseOrderWareHouse.Tax": parent.$("#PurchaseOrderWareHouse_Tax").val(),
                "PurchaseOrderWareHouse.TaxType": parent.$("#PurchaseOrderWareHouse_TaxType").val(),
                "PurchaseOrderWareHouse.Deposit": parent.$("#PurchaseOrderWareHouse_Deposit").val(),
                "PurchaseOrderWareHouse.TotalAmount": parent.TotalAmount,
                "PurchaseOrderWareHouse.Balance": parent.$("#PurchaseOrderWareHouse_Balance").val(),
                "PurchaseOrderWareHouse.BalanceDue": parent.$("#PurchaseOrderWareHouse_BalanceDue").val(),
                "PurchaseOrderWareHouse.Status": parent.POStatus,
                "PurchaseOrderWareHouse.StrOrderDate": parent.$("#PurchaseOrderWareHouse_OrderDate").val(),
                //"PurchaseOrderWareHouse.BillingAddress": parent.tinyMCE.get('PurchaseOrderWareHouse_BillingAddress').getContent(),
                //"PurchaseOrderWareHouse.ShippingAddress": parent.tinyMCE.get('PurchaseOrderWareHouse_ShippingAddress').getContent(),
                "PurchaseOrderWareHouse.ShippingVia": parent.$("#PurchaseOrderWareHouse_ShippingVia").val(),
                /*"PurchaseOrder.ShippingDate": "",*/
                "PurchaseOrderWareHouse.ShippingCost": parent.$("#PurchaseOrderWareHouse_ShippingCost").val(),
                "PurchaseOrderWareHouse.TrackingNo": parent.$("#PurchaseOrderWareHouse_TrackingNo").val(),
                "PurchaseOrderWareHouse.Message": parent.$("#PurchaseOrderWareHouse_Message").val(),
                "PurchaseOrderWareHouse.Description": parent.$("#PurchaseOrderWareHouse_Description").val(),
                PurchaseOrderDetail: DetailList
            };
            $.ajax({
                type: "POST",
                ajaxStart: $(".AddInvoiceLoader").removeClass('hidden'),
                url: url,
                data: JSON.stringify({ 'Model': param, 'purchaseid': parent.$("#PurchaseOrderWarehouse_Id").val() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    $(".AddInvoiceLoader").addClass('hidden');

                    $("#iframePdf_PO").attr('src', data.data);
                    $("#iframePdf_PO").removeClass('hidden');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    /*console.log(errorThrown);*/
                    $(".AddInvoiceLoader").addClass('hidden');
                    parent.OpenErrorMessageNew("Error!", "Internal error occured. Please try again later or contact system admin.");
                }
            });
        }
        $(document).ready(function () {
            GetPreview();
        });
    </script>
</head>
<body>
    <div class="CloseButtonDiv" onclick="parent.ClosePopup()">
        <img title="@Localize.T("Close")" src="~/Content/Icons/cross_update.png">
    </div>
    <div class="HeadContents">
        <h4>Print preview</h4>
        <span>To print, right-click the preview and select Print. Or, click the Print icon if you see one below.</span>

    </div>
    <div class="bodyConentsDiv">
        <iframe class="pdf-styles" id="iframePdf_PO" name="iframePdf_PO" src=""></iframe>
    </div>
    <div class="footerContents">
        <button onclick="parent.ClosePopup()" class="btnCancel">Cancel</button>
        <button onclick="printFrame('iframePdf_PO')" class="btnPrint">Print</button>
    </div>
</body>
</html>