 .form-group {
        margin: 0;
        padding: 0;
    }

    .content-type {
        /*margin-left: 30px;*/
        font-size: 14px;
        font-weight: 600;
        color: #404040;
        display: block;
        margin-top:10px;
    }

    .content-text {
        height: 32px;
        width: 80%;
        font-size: 13px;
    }

    .SaveCancelDiv {
        width: 95%;
        padding-top: 8px;
    }

    .custom-col {
        width: 18%;
    }

    .footer-section {
        background: #eceef1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0%;
    }

    /*.txt-form {
            margin-left: 30px;
        }*/

    .item-check {
        height: 40px;
        width: 20px;
    }

    .txt-check {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 14px;
        padding-left: 4px;
    }


    #ParentId {
        height: 32px;
        margin-left: 30px;
    }

   
    #SavePanel{
        background-color:#2ca01c;
        color:white;
        float:right;
    }
     .add_panel_type_header {
            width:100%;
            font-size:2rem;
            background-color:#f4f5f8;
            padding:10px 15px;
        }
       
           
  