
.page-title {
    font-size: 24px;
    font-family: 'Play', sans-serif;
    color: #000000;
}

.btn {
    float: right;
    background-color: #2ca01c;
    border-color: #2ca01c;
    color: white;
}

    .btn:hover {
        color: white;
    }

.slide .inventory-popup {
    position: absolute;
}

.slide {
    position: relative;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 350px;
    height: 100%;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 0px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal-content {
     -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.modal-header {
    border-bottom: none;
    position: absolute;
    right: 0px;
    z-index: 999;
}

    .modal-header h3 {
        padding-top: 6px;
        padding-left: 12px;
        font-family: 'Open Sans', sans-serif;
    }

.header-category {
    font-family: "Avenir Next forINTUIT", "Arial", -apple-system, "Helvetica Neue", sans-serif;
    padding-left: 12px;
    font-weight: 400;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}

/*.modal-body input {

        border: 1px solid #babec5;
        border-radius: 2px;
        background-color: #ffffff;
        font-size: 13px;
        width: 20%;
    }*/

.checkbox {
    margin: 0;
    margin-left: -336px;
    padding-top: 5px;
}

.label-heading {
    padding-left: 50px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

.btn-drop {
    height: 32px;
    margin-right: 40px;
    width: 40px;
}

.caret {
    margin-left: 9px;
}

.page-header {
    border-bottom: none;
}

.page-content {
    background-color: azure;
    margin-left: 10px;
    margin-right: 10px;
}

/*.btn-default {
        margin-top: 350px;
    }*/

.row-space {
    padding-left: 10px;
}

.thread1 {
    width: 900px;
}

.item-parent {
    margin-left: 10px;
}

.table-body-td {
    float: right;
    margin-right: 2%;
    margin-top: 10px;
}

.thead-th-style2 {
    float: right;
}

.searchbardiv {
    margin-top: 9px;
    width: 200px !important;
    float: left;
    padding: 0;
}

.txt-input {
    width: 180% !important;
}

.item-edit {
    color: #2ca01c !important;
}

.item-delete {
    color: #d71920 !important;
}

.text-right {
    padding-right: 50px !important;
}

table.dataTable thead > tr > th:first-child {
    width: 70% !important;
}
