
@{
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<script>
    var CustomerId = '@ViewBag.CustomerId';
   
</script>
@Scripts.Render("~/scripts/AlarmEquipment")
<link href="~/Content/Css/API/AlarmEquipmentPartial.css" rel="stylesheet" />

<div class="survey_settings_partial_container">
    <div class="survey_settings_header_container">
        <div class="survey_settings_partial_header">@Localize.T("Equipment List")</div>
  
    </div>


    <div id="ShowEquipmentList">


    </div>
</div>
