@model IEnumerable<HS.Alarm.AlarmCustomer.PanelDevice>
@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<span class="width-100p sub-header">
    @Localize.T("Alarm Zone Info")

</span>

<table class="table">
    <tr>
        <th>
            <span>Zone Number</span>
        </th>
        <th>
            <span>Event Code</span>
        </th>
        <th>
            <span>Device Name</span>
        </th>
    
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span>@item.DeviceId</span>
            </td>
            <td>
                
            </td>
            <td>
                <span>@item.WebSiteDeviceName</span>
            </td>
            
        </tr>
    }

</table>
