@{
    Layout = null;
}
<style>
    .AddonFeatures{
        width:33%;
        float:left;
        padding:0px 10px;
    }
    .addon_features_container
    {
        width:100%;
        float:left;
        padding:10px 0px;
    }
</style>
@model IEnumerable<HS.Entities.AlarmAddOnns>
<div class="addon_features_container">
    @foreach (var item in Model)
    {
        <div class="AddonFeatures">
            <input type="checkbox" class="addonitem" value="@item.Value" />
            <span>@item.Name</span>
        </div>

    }
</div>
