@{
    Layout = null;
}
<link href="~/Content/Css/API/UCCCustomerDetails.css" rel="stylesheet" />
<script>
    var AppId = '@ViewBag.AppId';
 
    $(document).ready(function () {
   
    })

</script>
<div class="nmc_cust_detail_container">
    <div class="ucc_info_holder">
        <div class="ucc_info_block">
            <div class="ucc_info_block_header">
                IsPc Information
            </div>

            <div class="ucc_info_block_info">
                <table class="table">
                    <tbody>

                        <tr>
                            <td>
                                <div><label>Application Id</label></div>
                            </td>
                            <td>
                                <div>@ViewBag.AppId</div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div><label>Application Status</label></div>
                            </td>
                            <td>
                                <div>@ViewBag.AppStatus</div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>


    </div>
</div>
