@model IEnumerable<HS.Entities.AlarmCustomerTermination>
@{
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>
<table class="table">
    <tr>

        <th>
            Customer Id
        </th>
        <th>
            Termination Reason
        </th>
        <th>
            Termination Date
        </th>
        <th>
            Terminated By
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlarmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminationReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminationBy)
            </td>

        </tr>
    }

</table>
