    .CreateCustomerDiv{
       width: auto;
    float: right;
    text-align: right;
    padding-right: 15px;
    padding-top: 30px;
    }
    .CreateCustomerDiv .btn {
        background-color:#2ca01c;
        color:#fff;
    }
    .TerminateCustomer{
        float: right;
        margin-right: 15px;
        margin-top: 10px;
    }
    .customersyncarea {
        width:300px;
        float:left;
        padding-top: 10px;
    }
    .customersyncarea label {
        margin-bottom:0px;
    }
    .customersyncarea .syncbtnUCC {
        background-color:#2ca01c;
        color:#fff;
    }
    .customersyncarea .syncbtn,
    .customersyncarea .syncbtn:hover,
    .customersyncarea .syncbtn:focus {
        background-color:#2ca01c;
        color:#fff;
    }
    .TerminateCustomerDiv {
        width:100%;
        float:left;
        padding: 10px 0px;
    }
    .TerminateCustomerDiv button {
       margin:0px !important;
       margin-right: 10px !important;
    }
    .TerminateCustomerDiv .btn,
    .TerminateCustomerDiv .btn:hover,
    .TerminateCustomerDiv .btn:focus{
        background-color:#2ca01c;
        color:#fff;
    }
    .TerminateCustomerDiv .Unassociate,
    .TerminateCustomerDiv .Unassociate:hover,
    .TerminateCustomerDiv .Unassociate:focus,
    .TerminateCustomerDiv .TerminateCustomer,
    .TerminateCustomerDiv .TerminateCustomer:hover,
    .TerminateCustomerDiv .TerminateCustomer:focus {
        float:right !important;
        background-color:#d71920;
        color:#fff;
        margin-right:0px !important;
        margin-left:10px !important;
        border-color:#d71920;
    }

.brinks_top_bar  {
    width: 100%;
    float: left;
    padding: 10px 0px;
}
.nmc_detail_top_bar {
    width:100%;
    float:left;
}
.nmc_detail_top_bar #testHours, .nmc_detail_top_bar #testMinute {
    width:150px;
    float:left;
}
.brinks_top_bar_inner {
    width: auto;
    float: left;
}
    .brinks_top_bar_inner #TestCategory,
    .brinks_top_bar_inner #testHours {
        width: 150px;
        float: left;
        margin-right:-3px;
    }
    .brinks_top_bar_inner .input-group  {
        width: 250px;
        float: left;
    }
    
    .brinks_top_bar_inner #HistoryStartDatepicker {
        width: 150px;
        float: left;
        margin-right: -3px;
        margin-left:15px;
    }
.nmc_detail_top_bar .Unassociate {
    float: right;
}
.brinks_top_bar #OutOfService {
    float: right;
} 
    @media (max-width:414px) {
        .customersyncarea {
        width:100%;
        margin-bottom:10px;
    }
        .CreateCustomerDiv {
            padding-right:0px;
            padding-top:0px;
        }
    }