    .acd_info_block_container {
        width:100%;
        float:left;
    }
     .acd_info_block {
          width:50%;
        float:left;
        border:1px solid #ccc;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    margin:10px 0px;
    }
      .acd_info_header {
              width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid #ccc;
    }
      .acd_info_block_container .acd_info_block:nth-child(2) {
         margin-left: 1%;
    width: 49%;
      }
      .acd_info_block table {
          width:100%;
          float:left;
      }
      .acd_info_block table tbody tr td {
    padding: 3px 10px;
}
       .acd_info_block table tbody tr td:nth-child(1) {
    font-size:13px;
    font-weight:bold;
    width:50%;
}
        .acd_info_block table tbody tr td:nth-child(1) span {
  float:right;
}
    .terminated{
        color:red;
    }
 .ShowEquipments{
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}
 .RunSystemCheck,.DoSystemCheck{
     margin-top:10px;
 }
 .termin_cust_info {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}
 .termin_cust_info_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}
 .termin_cust_info_div {
    width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 10px;
}
 .termin_cust_info_div_left {
     width:50%;
     float:left;
 }
 .termin_cust_info_div_right {
     width:50%;
     float:left;
 }
 .termin_cust_info_div table {
     width:100%;
     float:left;
     table-layout:fixed;
 }
 .termin_cust_info_div table tr td {
     width:50%;
     padding:5px;
 }
  .termin_cust_info_div table tr td:nth-child(1) {
      text-align:right;
      font-weight:bold;
  }
    .termin_cust_info_div table tr td:nth-child(2) {
      text-align:left;
  }
    .termin_cust_info_div table tr td:nth-child(1) .red_text {
        color:#d71920;
    }
    @media (max-width:768px) {
        .termin_cust_info_div_left,
        .termin_cust_info_div_right {
    width: 100%;
}
         .termin_cust_info_div {
            padding:0px;
        }
        .termin_cust_info_div table tr td {
            border:1px solid #ccc;
        }
    }
    @media (max-width:414px) {
       
    }