@model List<HS.Entities.EmailTextTemplate>
@using Localize = HS.Web.UI.Helper.LanguageHelper

<style>
    .each-item-text-suggestion {
        border: 1px solid #ddd;
        padding: 5px;
        margin: 3px;
    }

        .each-item-text-suggestion:hover {
            cursor: pointer;
            background: #ddd;
        }



    .template-header {
        background: #ddd;
        padding-top: 5px;
        text-align: center;
        padding-bottom: 5px;
    }

    .scrollable-list {
        overflow-y: auto;
        height: 160px;
        background: #ccc;
    }
</style>

<script>
    $(document).ready(function () {
        $(".each-item-text-suggestion").click(function () {
            var suggestionText = $(this).text();
            parent.$(".txtAreaMailBody").val(suggestionText);
            parent.$(".emailTextTemplateList").hide();
        });
    });
</script>

<div class="container-fluid custom-container">
    <div class="row" style="overflow: hidden;height: 200px;">
        <div class="col-md-12 template-header">
            @Localize.T("Email Templates")
        </div>
        <div class="col-md-12 scrollable-list">
            @{
                foreach (var item in Model)
                {
                    <div class="col-md-12 each-item-text-suggestion">@item.TextContent</div>
                }
            }
        </div>
    </div>
</div>