@{
    Layout = null;
}

@using Localize = HS.Web.UI.Helper.LanguageHelper
@using PermissionChekcer = HS.Web.UI.Helper.PermissionHelper
@using Permissions = HS.Framework.UserPermissions
@using AppConfig = HS.Framework.Utils.AppConfig;






@Styles.Render("~/styles/LeadTrackingPartialCss")
@Scripts.Render("~/scripts/LeadTrackingPartialJs")

<div class="container-fluid">
    <div class="input-group add-on TrackingSer">
        <div class="LeadTracking_partial_middle_content">
            <div class="col-md-5 padding-left-0 padding-right-0" id="StartDateDiv">
                <label>@Localize.T("Start Date") : </label>
                <input type="text" value="" placeholder="Start Date" class="StartDate form-control border-radius-0" />
            </div>
            <div class="col-md-5 padding-left-0 padding-right-0" id="EndDateDiv">
                <label>@Localize.T("End Date") : </label>
                <input type="text" value="" placeholder="End Date" class="EndDate form-control border-radius-0" />
            </div>
            <div class="input-group-btn">
                <button class="btn search_Teacher_btn" id="btnsearchtext"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>


        <div class="hidden" id="leadId" value=@ViewBag.leadId ></div>

    </div>

    <div id="loadTrackingList"></div>
</div>


