@model List<HS.Entities.CustomerContactTrack>

@{
    Layout = null;
}
@using HS.Framework
<link href="~/Content/Css/Lead/LeadCustomerContactTrackList.css" rel="stylesheet" />
<div class="lead_CustomerContactTrack_info_table">
    <table class="table contact_track_list">
        <thead>
            <tr>
                <th>
                    <label>Contact Through</label> 
                </th>
                <th>
                    <label>Time Stamp</label>
                </th>
                <th>
                    <label>Call Details</label> 
                </th>
                
            </tr>
        </thead>

        <tbody>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="padding-top: 26px;">
                            <div>Contact Through</div>
                            <div><a class="cus-anchor">@item.CustomerPlatform</a></div>
                        </td>
                        <td style="padding-top: 26px;">
                            <div>Time Stamp</div>
                            <div>@item.CreatedDate.Value.UTCToClientTime()</div>
                        </td> 
                        <td>
                           
                                @if (item.Note.ToLower().Contains("Https://Api.Twilio".ToLower()))
                                {
                                    <audio controls preload="auto" style="width:100%;">
                                        <source src=@item.Note type="audio/mpeg">
                                    </audio>
                                }
                                else
                                {
                                    <div>@item.Note</div>
                                }

                                @*<a class="cus-anchor" href="@item.Note">Details</a>*@
                            
                        </td>
                    </tr>
                }

            }

           
        </tbody>

    </table>
</div>
