@{
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>

<style>
    .top_mergin {
        margin-top: 17px !important;
    }
</style>

<div class="container-fluid">
    <h2 class="design-txt-style top_mergin">@Localize.T("Tech Call")</h2>
    <div class="TechCallCalendar">

    </div>
</div>

