@{ 
    Layout = null;
}
@model List<HS.Entities.GlobalSetting>
<script>
    var SyncLead = function () {
        var param = JSON.stringify({
            siteId: $("#siteId").val(),
            startDate: $("#startDate").val(),
            endDate: $("#endDate").val(),
            qty: $("#qty").val(),
            page: $("#page").val(),
            token: $("#token").val(),
        });
        var url = "/Leads/LeadImportFromCMS";
        $.ajax({
            type: "POST",
            ajaxStart: $(".loader-div").show(),
            url: url,
            data: param,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                if (data.result == true)
                {
                    OpenSuccessMessageNew("", data.message, function () {
                        location.href = "/LeadImportFromCMS";
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                
            }
        });
    }

    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
        var StartDatePicker = new Pikaday({
            field: $('#startDate')[0], 
            format: 'MM/DD/YYYY',
            firstDay: 1
        });
        var EndDatePicker = new Pikaday({
            field: $('#endDate')[0],
            format: 'MM/DD/YYYY',
            firstDay: 1
        });
    });
</script> 
<div>
    <h3>Leads Data Sync From CSM</h3>
    <div>
        <div class="col-md-4">
            <label>Site Id</label>
            @Html.TextBoxFor(x => x.Where(y => y.SearchKey == "SiteId").FirstOrDefault().Value, new { @id = "siteId", @class = "form-control"})
            @*<input type="text" class="form-control" id="siteId" />*@
        </div>
        <div class="col-md-4">
            <label>Start Date</label>
            <input type="text" class="form-control" id="startDate" placeholder="Start Date"/>
        </div>
        <div class="col-md-4">
            <label>End Date</label>
            <input type="text" class="form-control" id="endDate" placeholder="End Date"/>
        </div>
        @*<div class="col-md-4">
            <label>Quantity Per Page</label>
            <input type="text" class="form-control" id="qty" />
        </div>*@
        <div class="col-md-4">
            <label>Quantity Per Page</label>
            @Html.TextBoxFor(x => x.Where(y => y.SearchKey == "Quantity").FirstOrDefault().Value, new { @id = "qty", @class = "form-control" })           
        </div>
        @*<div class="col-md-4">
            <label>Page NO</label>
            <input type="text" class="form-control" id="page" />
        </div>*@
        <div class="col-md-4">
            <label>Page NO</label>
            @Html.TextBoxFor(x => x.Where(y => y.SearchKey == "PageNumber").FirstOrDefault().Value, new { @id = "page", @class = "form-control" })          
        </div>

        <div class="col-md-4">
            <label>Token</label>
            @Html.TextBoxFor(x => x.Where(y => y.SearchKey == "Token").FirstOrDefault().Value, new { @id = "token", @class = "form-control" })
            @*<input type="text" class="form-control" id="token" />*@
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <br />
        <button class="btn" onclick="SyncLead()">Import</button>
    </div>
</div>
