@{
    Layout = null;
}
@model List<HS.Entities.CustomerAppointment>
<link href="~/Content/FullCalendar/fullcalendar.css" rel="stylesheet" />
<script src="~/Content/FullCalendar/fullcalendar.js"></script>
<script src="~/Content/momentJs/moment.min.js"></script>
<style>
    .TechCallCalender table tr td span {
        cursor: pointer;
    }

    .TechCallCalender {
        padding-top: 10px;
    }
</style>
<script>
@*var ParentClassDom = '@ViewBag.Parent';*@
if (ParentClassDom != '') {
    ParentClassDom = ParentClassDom + " ";
}
$(document).ready(function () {
    (function () {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        $(ParentClassDom + '.TechCallCalender').fullCalendar({
        height: 540,
        dayClick: function (a) {
            var date = "date: " + a._d.getDate() + " Month: " + (a._d.getMonth()+1) + " Year: " + a._d.getFullYear();
            console.log(a);
            alert(date);
            GetDate(a._d.getDate(), (a._d.getMonth() + 1), a._d.getFullYear());
        }

        });
    }());
});
</script>

<div id='TechCallCalender' class="TechCallCalender">

</div>
