@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    })
</script>

<div class="container-fluid">
    <h2>@Localize.T("Lead Verification And Setup Detail")</h2>
</div>
