@using Localize = HS.Web.UI.Helper.LanguageHelper
@model HS.Entities.Customer

<style>
    .CloseButtonDiv {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

        .CloseButtonDiv img {
            width: 25px;
        }

    .map-lead {
        padding: 130px;
        width: 100%;
        height: 300%;
    }

    .mapping {
        padding: 0px;
    }
</style> 
 
<script>

    function initialize() {
        var geocoder;
        var map;
        var address = $(".lead_varify_address").text().replace('#','');
        geocoder = new google.maps.Geocoder();

       var latlng = new google.maps.LatLng(31.616285, -99.121231);
        var myOptions = {
            zoom: 14,
            center: latlng,
            mapTypeControl: true,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            navigationControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        if (geocoder) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                        map.setCenter(results[0].geometry.location);

                        var infowindow = new google.maps.InfoWindow(
                            {
                                content: '<b>' + address + '</b>',
                                size: new google.maps.Size(150, 50)
                            });

                        var marker = new google.maps.Marker({
                            position: results[0].geometry.location,
                            map: map,
                            title: address
                        });
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map, marker);
                        });

                    } else {
                        alert("No results found");
                    }
                } else {
                    alert("Geocode was not successful for the following reason: Address Not Found!");
                }
            });
        }



    }

    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapAPIKey' +
            '&signed_in=true&callback=initialize';
        document.body.appendChild(script);
    }

    function addGoogleMap() {
        if (typeof google == 'undefined') {
            loadScript();
        }
        else {
            initialize();
        }
    }
    addGoogleMap();
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mapping">
            <div id="map_canvas" class="map-lead"></div>
        </div>

    </div>
</div>

