@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper
<link href="~/Content/FullCalendar/fullcalendar.css" rel="stylesheet" />
<script src="~/Content/FullCalendar/fullcalendar.js"></script>
<script src="~/Content/momentJs/moment.min.js"></script>
<script src="~/Content/Js/TechSchedule/LeadSchedule.js"></script>
<style>
    .LeadTechScheduleCalender table tr td span {
        cursor: pointer;
    }

    .LeadTechScheduleCalender {
        padding-top: 10px;
    }
</style>

<div id='LeadTechScheduleCalender' class="LeadTechScheduleCalender"></div>