@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<div class="form-group clearfix">
    <span class="text-custom">@Localize.T("Payment Profile")</span>
    @Html.DropDownList("payment_profile", ViewBag.profile as List<SelectListItem>, new { @class = "form-control" })
</div>

<div class="form-group clearfix">
    <span class="text-custom">@Localize.T("Payment For")</span>
    @Html.DropDownList("payment_for", ViewBag.paymentfor as List<SelectListItem>, new { @class = "form-control" })
</div>