@{ 
    Layout = null;
}
@using Localize = HS.Web.UI.Helper.LanguageHelper

<script>
    var IDLead = '@ViewBag.LeadIdFromVerifyPartial';
    $(document).ready(function () {
        $(".LeadMoudle").load(domainurl + "/Leads/AddVerifyInfo?id=" + IDLead);
    })
</script>
<link href="~/Content/Select2/select2.css" rel="stylesheet" />
<script src="~/Content/Select2/Select2.min.js"></script>

<div class="container-fluid">
    <div class="verify_lead_header">@Localize.T("Create Lead")</div>
    <div class="LeadMoudle">

    </div>
</div>
